{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# Choose language #}
<div class="all-step">
  3. {{ ftl('firefox-all-language') }}
  {% if product and platform and locale %}
    {{ locale_name }}
    <a href="TKTK">X</a>
  {% endif %}
</div>

{% if product and platform and not locale %}
  <h2 class="mzp-c-sidemenu-title">{{ ftl('firefox-all-select-your-preferred-language') }}</h2>
  <ul>
    {% for locale, name in locales %}
      <li><a href="{{ url('firefox.drilldown_locale', product_slug=product.slug, platform=platform, locale=locale) }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
