{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import google_play_button, apple_app_store_button with context %}

{% extends "firefox/all/base.html" %}

{% set android_url = play_store_url('firefox', 'firefox-all') %}
{% set ios_url = app_store_url('firefox', 'firefox-all') %}

{% block info %}

<figure class="qr-code-wrapper mzp-c-emphasis-box">
  {{ qrcode("https://www.mozilla.org/firefox/browsers/mobile/app/?product=firefox&campaign=firefox-all", 12) }}
  <figcaption>Scan QR code to get Firefox on your phone ftl TKTK</figcaption>
</figure>

<ul class="c-store-badges">
  <li class="c-store-badge-google">
    {{ google_play_button(href=android_url, id='playStoreLink') }}
  </li>
  <li class="c-store-badge-apple">
    {{ apple_app_store_button(href=ios_url, id='appStoreLink') }}
  </li>
</ul>

<p><a href="{{ url('firefox.browsers.mobile.get-app') }}" class="c-get-app" data-cta-type="link" data-cta-text="Send a link" data-cta-position="primary">{{ ftl('firefox-all-product-send-link') }}</a></p>

{% endblock %}
