{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}


{# Choose platform #}

<h2 class="c-step-name">
  2. {{ ftl('firefox-all-platform') }}
  {% if product and platform %}
    <span class="c-step-choice">{{ platform_name }}</span> <a href="TKTK" class="c-step-icon"><img alt="TKTK" src="{{ static('protocol/img/icons/close.svg') }}" width="30" height="30"></a>
  {% elif product %}
    <img alt="TKTK" class="c-step-icon" src="{{ static('protocol/img/icons/arrow-down.svg') }}" width="30" height="30">
  {% else %}
    <img alt="TKTK" class="c-step-icon" src="{{ static('protocol/img/icons/arrow-left.svg') }}" width="30" height="30">
  {% endif %}
</h2>

{% if product and not platform %}
<div class="c-step-contents">
  <h3 class="c-step-prompt">{{ ftl('firefox-all-select-your-preferred-installer') }}
    <a href="#installer-help" class="c-button-help icon-installer-help" title="{{ ftl('firefox-all-learn-about-installers')}}">
      {{ ftl('firefox-all-get-help') }}
    </a>
  </h3>
  <ul class="c-platform-list">
    {% for platform, name in platforms %}
      <li><a href="{{ url('firefox.drilldown_platform', product_slug=product.slug, platform=platform) }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
