{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/channel/base.html" %}

{% block page_title_suffix %}{% endblock %}

{% block page_title %}
  {{ ftl('firefox-channel-try-new-features-in-a-pre', fallback='firefox-channel-download-and-test-future') }}
{% endblock %}

{% block page_desc %}
  {{ ftl('firefox-channel-experience-cutting-edge-android-updated', fallback='firefox-channel-experience-cutting-edge-android')}}
{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}{{ self.page_desc() }}{% endblock %}

{% block channels %}
<section id="beta" class="mzp-is-anchor-link">
  {% call call_out_compact(
    title=ftl('firefox-channel-beta'),
    desc=ftl('firefox-channel-try-the-latest-android-features'),
    class='mzp-t-product-beta mzp-t-firefox') %}

    {{ download_firefox('beta', platform='android', alt_copy=ftl('download-button-download'), dom_id="android-beta-download") }}
  {% endcall %}

  <div class="l-notes mzp-l-content">
    <ul>
      <li>
        <a href="{{ firefox_url('android', 'all', 'beta') }}">
          {{ ftl('firefox-channel-all-languages-and-platforms', fallback='firefox-channel-all-languages-and-builds') }}
        </a>
      </li>
    </ul>
    <p>
      {% if ftl_has_messages('firefox-channel-beta-is-an-unstable-testing') %}
        {{ ftl('firefox-channel-beta-is-an-unstable-testing', link=url('privacy.notices.firefox') + '#pre-release') }}
      {% else %}
        {{ ftl('firefox-channel-firefox-beta-automatically') }}
        <a href="{{ url('privacy.notices.firefox') + '#pre-release' }}">{{ ftl('ui-learn-more') }}</a>
      {% endif %}
    </p>
    <p>
      {{ ftl('firefox-channel-give-us-feedback-to-help', feedback='https://input.mozilla.com/feedback') }}
    </p>
  </div>
</section>

<section id="nightly" class="mzp-is-anchor-link">
  {% call call_out_compact(
    title=ftl('firefox-channel-nightly'),
    desc=ftl('firefox-channel-check-out-new-android-features'),
    class='mzp-t-product-nightly mzp-t-firefox') %}

    {{ download_firefox('nightly', platform='android', alt_copy=ftl('download-button-download'), dom_id="android-nightly-download") }}
  {% endcall %}

  <div class="l-notes mzp-l-content">
    <ul>
      <li><a rel="external" href="https://blog.nightly.mozilla.org/">{{ ftl('firefox-channel-nightly-blog') }}</a></li>
      <li><a href="{{ firefox_url('android', 'all', 'nightly') }}">{{ ftl('firefox-channel-all-languages-and-builds') }}</a></li>
    </ul>
    <p>
    {% if ftl_has_messages('firefox-channel-nightly-is-an-unstable-testing') %}
      {{ ftl('firefox-channel-nightly-is-an-unstable-testing', link=url('privacy.notices.firefox') + '#pre-release') }}
    {% else %}
      {{ ftl('firefox-channel-firefox-nightly-automatically') }}
      <a href="{{ url('privacy.notices.firefox') + '#pre-release' }}">{{ ftl('ui-learn-more') }}</a>
    {% endif %}
    </p>
    <p>{{ ftl('firefox-channel-nightly-update-one-or-more-times') }}</p>
  </div>
</section>
{% endblock %}
