// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

.mzan-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    vertical-align: middle;
    -webkit-mask: var(--icon-src) no-repeat center / 1em 1em;
    mask: var(--icon-src) no-repeat center / 1em 1em;
    mask-size: contain;
}

.icon-irl { --icon-src: url('/media/protocol/img/icons/IRL.svg'); }
.icon-accessibility { --icon-src: url('/media/protocol/img/icons/accessibility.svg'); }
.icon-accounts { --icon-src: url('/media/protocol/img/icons/accounts.svg'); }
.icon-add-search-engine { --icon-src: url('/media/protocol/img/icons/add-search-engine.svg'); }
.icon-ai { --icon-src: url('/media/protocol/img/icons/ai.svg'); }
.icon-alert { --icon-src: url('/media/protocol/img/icons/alert.svg'); }
.icon-arrow-down { --icon-src: url('/media/protocol/img/icons/arrow-down.svg'); }
.icon-arrow-left-white { --icon-src: url('/media/protocol/img/icons/arrow-left-white.svg'); }
.icon-arrow-left { --icon-src: url('/media/protocol/img/icons/arrow-left.svg'); }
.icon-arrow-right-white { --icon-src: url('/media/protocol/img/icons/arrow-right-white.svg'); }
.icon-arrow-right { --icon-src: url('/media/protocol/img/icons/arrow-right.svg'); }
.icon-arrow-up { --icon-src: url('/media/protocol/img/icons/arrow-up.svg'); }
.icon-audio-card { --icon-src: url('/media/protocol/img/icons/audio-card.svg'); }
.icon-audio-mute { --icon-src: url('/media/protocol/img/icons/audio-mute.svg'); }
.icon-audio { --icon-src: url('/media/protocol/img/icons/audio.svg'); }
.icon-auto-play-block { --icon-src: url('/media/protocol/img/icons/auto-play-block.svg'); }
.icon-back { --icon-src: url('/media/protocol/img/icons/back.svg'); }
.icon-bell { --icon-src: url('/media/protocol/img/icons/bell.svg'); }
.icon-beta { --icon-src: url('/media/protocol/img/icons/beta.svg'); }
.icon-blog { --icon-src: url('/media/protocol/img/icons/blog.svg'); }
.icon-bookmark-menu { --icon-src: url('/media/protocol/img/icons/bookmark-menu.svg'); }
.icon-bookmark-narrow { --icon-src: url('/media/protocol/img/icons/bookmark-narrow.svg'); }
.icon-bookmark-remove { --icon-src: url('/media/protocol/img/icons/bookmark-remove.svg'); }
.icon-bookmark { --icon-src: url('/media/protocol/img/icons/bookmark.svg'); }
.icon-brand-blue-alert { --icon-src: url('/media/protocol/img/icons/brand/blue/alert.svg'); }
.icon-brand-blue-audio { --icon-src: url('/media/protocol/img/icons/brand/blue/audio.svg'); }
.icon-brand-blue-cookie { --icon-src: url('/media/protocol/img/icons/brand/blue/cookie.svg'); }
.icon-brand-blue-devices { --icon-src: url('/media/protocol/img/icons/brand/blue/devices.svg'); }
.icon-brand-blue-feature-bookmarks-star { --icon-src: url('/media/protocol/img/icons/brand/blue/feature-bookmarks-star.svg'); }
.icon-brand-blue-feature-extensions-puzzle { --icon-src: url('/media/protocol/img/icons/brand/blue/feature-extensions-puzzle.svg'); }
.icon-brand-blue-feature-history-clock { --icon-src: url('/media/protocol/img/icons/brand/blue/feature-history-clock.svg'); }
.icon-brand-blue-feature-private-browsing-mask { --icon-src: url('/media/protocol/img/icons/brand/blue/feature-private-browsing-mask.svg'); }
.icon-brand-blue-feature-sync-arrows { --icon-src: url('/media/protocol/img/icons/brand/blue/feature-sync-arrows.svg'); }
.icon-brand-blue-feature-tracking-protection-shield { --icon-src: url('/media/protocol/img/icons/brand/blue/feature-tracking-protection-shield.svg'); }
.icon-brand-blue-key { --icon-src: url('/media/protocol/img/icons/brand/blue/key.svg'); }
.icon-brand-blue-mail { --icon-src: url('/media/protocol/img/icons/brand/blue/mail.svg'); }
.icon-brand-blue-microchip { --icon-src: url('/media/protocol/img/icons/brand/blue/microchip.svg'); }
.icon-brand-blue-mountain { --icon-src: url('/media/protocol/img/icons/brand/blue/mountain.svg'); }
.icon-brand-blue-no-eye { --icon-src: url('/media/protocol/img/icons/brand/blue/no-eye.svg'); }
.icon-brand-blue-paintbrush { --icon-src: url('/media/protocol/img/icons/brand/blue/paintbrush.svg'); }
.icon-brand-blue-password { --icon-src: url('/media/protocol/img/icons/brand/blue/password.svg'); }
.icon-brand-blue-picture { --icon-src: url('/media/protocol/img/icons/brand/blue/picture.svg'); }
.icon-brand-blue-speedometer { --icon-src: url('/media/protocol/img/icons/brand/blue/speedometer.svg'); }
.icon-brand-blue-website { --icon-src: url('/media/protocol/img/icons/brand/blue/website.svg'); }
.icon-brand-orange-alert { --icon-src: url('/media/protocol/img/icons/brand/orange/alert.svg'); }
.icon-brand-orange-audio { --icon-src: url('/media/protocol/img/icons/brand/orange/audio.svg'); }
.icon-brand-orange-cookie { --icon-src: url('/media/protocol/img/icons/brand/orange/cookie.svg'); }
.icon-brand-orange-devices { --icon-src: url('/media/protocol/img/icons/brand/orange/devices.svg'); }
.icon-brand-orange-feature-bookmarks-star { --icon-src: url('/media/protocol/img/icons/brand/orange/feature-bookmarks-star.svg'); }
.icon-brand-orange-feature-extensions-puzzle { --icon-src: url('/media/protocol/img/icons/brand/orange/feature-extensions-puzzle.svg'); }
.icon-brand-orange-feature-history-clock { --icon-src: url('/media/protocol/img/icons/brand/orange/feature-history-clock.svg'); }
.icon-brand-orange-feature-private-browsing-mask { --icon-src: url('/media/protocol/img/icons/brand/orange/feature-private-browsing-mask.svg'); }
.icon-brand-orange-feature-sync-arrows { --icon-src: url('/media/protocol/img/icons/brand/orange/feature-sync-arrows.svg'); }
.icon-brand-orange-feature-tracking-protection-shield { --icon-src: url('/media/protocol/img/icons/brand/orange/feature-tracking-protection-shield.svg'); }
.icon-brand-orange-key { --icon-src: url('/media/protocol/img/icons/brand/orange/key.svg'); }
.icon-brand-orange-mail { --icon-src: url('/media/protocol/img/icons/brand/orange/mail.svg'); }
.icon-brand-orange-microchip { --icon-src: url('/media/protocol/img/icons/brand/orange/microchip.svg'); }
.icon-brand-orange-mountain { --icon-src: url('/media/protocol/img/icons/brand/orange/mountain.svg'); }
.icon-brand-orange-no-eye { --icon-src: url('/media/protocol/img/icons/brand/orange/no-eye.svg'); }
.icon-brand-orange-paintbrush { --icon-src: url('/media/protocol/img/icons/brand/orange/paintbrush.svg'); }
.icon-brand-orange-password { --icon-src: url('/media/protocol/img/icons/brand/orange/password.svg'); }
.icon-brand-orange-picture { --icon-src: url('/media/protocol/img/icons/brand/orange/picture.svg'); }
.icon-brand-orange-speedometer { --icon-src: url('/media/protocol/img/icons/brand/orange/speedometer.svg'); }
.icon-brand-orange-website { --icon-src: url('/media/protocol/img/icons/brand/orange/website.svg'); }
.icon-brand-pink-alert { --icon-src: url('/media/protocol/img/icons/brand/pink/alert.svg'); }
.icon-brand-pink-audio { --icon-src: url('/media/protocol/img/icons/brand/pink/audio.svg'); }
.icon-brand-pink-cookie { --icon-src: url('/media/protocol/img/icons/brand/pink/cookie.svg'); }
.icon-brand-pink-devices { --icon-src: url('/media/protocol/img/icons/brand/pink/devices.svg'); }
.icon-brand-pink-feature-bookmarks-star { --icon-src: url('/media/protocol/img/icons/brand/pink/feature-bookmarks-star.svg'); }
.icon-brand-pink-feature-extensions-puzzle { --icon-src: url('/media/protocol/img/icons/brand/pink/feature-extensions-puzzle.svg'); }
.icon-brand-pink-feature-history-clock { --icon-src: url('/media/protocol/img/icons/brand/pink/feature-history-clock.svg'); }
.icon-brand-pink-feature-private-browsing-mask { --icon-src: url('/media/protocol/img/icons/brand/pink/feature-private-browsing-mask.svg'); }
.icon-brand-pink-feature-sync-arrows { --icon-src: url('/media/protocol/img/icons/brand/pink/feature-sync-arrows.svg'); }
.icon-brand-pink-feature-tracking-protection-shield { --icon-src: url('/media/protocol/img/icons/brand/pink/feature-tracking-protection-shield.svg'); }
.icon-brand-pink-key { --icon-src: url('/media/protocol/img/icons/brand/pink/key.svg'); }
.icon-brand-pink-mail { --icon-src: url('/media/protocol/img/icons/brand/pink/mail.svg'); }
.icon-brand-pink-microchip { --icon-src: url('/media/protocol/img/icons/brand/pink/microchip.svg'); }
.icon-brand-pink-mountain { --icon-src: url('/media/protocol/img/icons/brand/pink/mountain.svg'); }
.icon-brand-pink-no-eye { --icon-src: url('/media/protocol/img/icons/brand/pink/no-eye.svg'); }
.icon-brand-pink-paintbrush { --icon-src: url('/media/protocol/img/icons/brand/pink/paintbrush.svg'); }
.icon-brand-pink-password { --icon-src: url('/media/protocol/img/icons/brand/pink/password.svg'); }
.icon-brand-pink-picture { --icon-src: url('/media/protocol/img/icons/brand/pink/picture.svg'); }
.icon-brand-pink-speedometer { --icon-src: url('/media/protocol/img/icons/brand/pink/speedometer.svg'); }
.icon-brand-pink-website { --icon-src: url('/media/protocol/img/icons/brand/pink/website.svg'); }
.icon-brand-violet-alert { --icon-src: url('/media/protocol/img/icons/brand/violet/alert.svg'); }
.icon-brand-violet-audio { --icon-src: url('/media/protocol/img/icons/brand/violet/audio.svg'); }
.icon-brand-violet-cookie { --icon-src: url('/media/protocol/img/icons/brand/violet/cookie.svg'); }
.icon-brand-violet-devices { --icon-src: url('/media/protocol/img/icons/brand/violet/devices.svg'); }
.icon-brand-violet-feature-bookmarks-star { --icon-src: url('/media/protocol/img/icons/brand/violet/feature-bookmarks-star.svg'); }
.icon-brand-violet-feature-extensions-puzzle { --icon-src: url('/media/protocol/img/icons/brand/violet/feature-extensions-puzzle.svg'); }
.icon-brand-violet-feature-history-clock { --icon-src: url('/media/protocol/img/icons/brand/violet/feature-history-clock.svg'); }
.icon-brand-violet-feature-private-browsing-mask { --icon-src: url('/media/protocol/img/icons/brand/violet/feature-private-browsing-mask.svg'); }
.icon-brand-violet-feature-sync-arrows { --icon-src: url('/media/protocol/img/icons/brand/violet/feature-sync-arrows.svg'); }
.icon-brand-violet-feature-tracking-protection-shield { --icon-src: url('/media/protocol/img/icons/brand/violet/feature-tracking-protection-shield.svg'); }
.icon-brand-violet-key { --icon-src: url('/media/protocol/img/icons/brand/violet/key.svg'); }
.icon-brand-violet-mail { --icon-src: url('/media/protocol/img/icons/brand/violet/mail.svg'); }
.icon-brand-violet-microchip { --icon-src: url('/media/protocol/img/icons/brand/violet/microchip.svg'); }
.icon-brand-violet-mountain { --icon-src: url('/media/protocol/img/icons/brand/violet/mountain.svg'); }
.icon-brand-violet-no-eye { --icon-src: url('/media/protocol/img/icons/brand/violet/no-eye.svg'); }
.icon-brand-violet-paintbrush { --icon-src: url('/media/protocol/img/icons/brand/violet/paintbrush.svg'); }
.icon-brand-violet-password { --icon-src: url('/media/protocol/img/icons/brand/violet/password.svg'); }
.icon-brand-violet-picture { --icon-src: url('/media/protocol/img/icons/brand/violet/picture.svg'); }
.icon-brand-violet-speedometer { --icon-src: url('/media/protocol/img/icons/brand/violet/speedometer.svg'); }
.icon-brand-violet-website { --icon-src: url('/media/protocol/img/icons/brand/violet/website.svg'); }
.icon-brightness { --icon-src: url('/media/protocol/img/icons/brightness.svg'); }
.icon-browser { --icon-src: url('/media/protocol/img/icons/browser.svg'); }
.icon-calendar { --icon-src: url('/media/protocol/img/icons/calendar.svg'); }
.icon-careers { --icon-src: url('/media/protocol/img/icons/careers.svg'); }
.icon-caret-down-white { --icon-src: url('/media/protocol/img/icons/caret-down-white.svg'); }
.icon-caret-down { --icon-src: url('/media/protocol/img/icons/caret-down.svg'); }
.icon-caret-up { --icon-src: url('/media/protocol/img/icons/caret-up.svg'); }
.icon-chat { --icon-src: url('/media/protocol/img/icons/chat.svg'); }
.icon-check { --icon-src: url('/media/protocol/img/icons/check.svg'); }
.icon-close-white { --icon-src: url('/media/protocol/img/icons/close-white.svg'); }
.icon-close { --icon-src: url('/media/protocol/img/icons/close.svg'); }
.icon-cloud { --icon-src: url('/media/protocol/img/icons/cloud.svg'); }
.icon-command-console { --icon-src: url('/media/protocol/img/icons/command-console.svg'); }
.icon-command-noautohide { --icon-src: url('/media/protocol/img/icons/command-noautohide.svg'); }
.icon-common-voice { --icon-src: url('/media/protocol/img/icons/common-voice.svg'); }
.icon-copy { --icon-src: url('/media/protocol/img/icons/copy.svg'); }
.icon-customize { --icon-src: url('/media/protocol/img/icons/customize.svg'); }
.icon-cut { --icon-src: url('/media/protocol/img/icons/cut.svg'); }
.icon-data-collection { --icon-src: url('/media/protocol/img/icons/data-collection.svg'); }
.icon-data-insights { --icon-src: url('/media/protocol/img/icons/data-insights.svg'); }
.icon-data-pie { --icon-src: url('/media/protocol/img/icons/data-pie.svg'); }
.icon-default-browser { --icon-src: url('/media/protocol/img/icons/default-browser.svg'); }
.icon-delete { --icon-src: url('/media/protocol/img/icons/delete.svg'); }
.icon-desktop { --icon-src: url('/media/protocol/img/icons/desktop.svg'); }
.icon-dev-edition { --icon-src: url('/media/protocol/img/icons/dev-edition.svg'); }
.icon-developer-innovations { --icon-src: url('/media/protocol/img/icons/developer-innovations.svg'); }
.icon-developer { --icon-src: url('/media/protocol/img/icons/developer.svg'); }
.icon-dictionaries { --icon-src: url('/media/protocol/img/icons/dictionaries.svg'); }
.icon-dock-bottom { --icon-src: url('/media/protocol/img/icons/dock-bottom.svg'); }
.icon-dock-left { --icon-src: url('/media/protocol/img/icons/dock-left.svg'); }
.icon-dock-right { --icon-src: url('/media/protocol/img/icons/dock-right.svg'); }
.icon-dock-undock { --icon-src: url('/media/protocol/img/icons/dock-undock.svg'); }
.icon-download-white { --icon-src: url('/media/protocol/img/icons/download-white.svg'); }
.icon-download { --icon-src: url('/media/protocol/img/icons/download.svg'); }
.icon-earth { --icon-src: url('/media/protocol/img/icons/earth.svg'); }
.icon-edit-write { --icon-src: url('/media/protocol/img/icons/edit-write.svg'); }
.icon-email { --icon-src: url('/media/protocol/img/icons/email.svg'); }
.icon-enterprise { --icon-src: url('/media/protocol/img/icons/enterprise.svg'); }
.icon-event { --icon-src: url('/media/protocol/img/icons/event.svg'); }
.icon-expand-white { --icon-src: url('/media/protocol/img/icons/expand-white.svg'); }
.icon-expand { --icon-src: url('/media/protocol/img/icons/expand.svg'); }
.icon-experiments { --icon-src: url('/media/protocol/img/icons/experiments.svg'); }
.icon-extension-available-update { --icon-src: url('/media/protocol/img/icons/extension-available-update.svg'); }
.icon-extension-recent-updates { --icon-src: url('/media/protocol/img/icons/extension-recent-updates.svg'); }
.icon-extensions-legacy { --icon-src: url('/media/protocol/img/icons/extensions-legacy.svg'); }
.icon-extensions { --icon-src: url('/media/protocol/img/icons/extensions.svg'); }
.icon-external-link-white { --icon-src: url('/media/protocol/img/icons/external-link-white.svg'); }
.icon-external-link { --icon-src: url('/media/protocol/img/icons/external-link.svg'); }
.icon-eye-closed { --icon-src: url('/media/protocol/img/icons/eye-closed.svg'); }
.icon-eye-open { --icon-src: url('/media/protocol/img/icons/eye-open.svg'); }
.icon-facebook-container { --icon-src: url('/media/protocol/img/icons/facebook-container.svg'); }
.icon-features { --icon-src: url('/media/protocol/img/icons/features.svg'); }
.icon-feeback { --icon-src: url('/media/protocol/img/icons/feeback.svg'); }
.icon-file-code { --icon-src: url('/media/protocol/img/icons/file-code.svg'); }
.icon-file-image { --icon-src: url('/media/protocol/img/icons/file-image.svg'); }
.icon-file-lock { --icon-src: url('/media/protocol/img/icons/file-lock.svg'); }
.icon-file-music { --icon-src: url('/media/protocol/img/icons/file-music.svg'); }
.icon-file-text { --icon-src: url('/media/protocol/img/icons/file-text.svg'); }
.icon-file { --icon-src: url('/media/protocol/img/icons/file.svg'); }
.icon-fire-tv { --icon-src: url('/media/protocol/img/icons/fire-tv.svg'); }
.icon-firefox-reality { --icon-src: url('/media/protocol/img/icons/firefox-reality.svg'); }
.icon-folder-open { --icon-src: url('/media/protocol/img/icons/folder-open.svg'); }
.icon-folder-plus { --icon-src: url('/media/protocol/img/icons/folder-plus.svg'); }
.icon-folder-save { --icon-src: url('/media/protocol/img/icons/folder-save.svg'); }
.icon-folder { --icon-src: url('/media/protocol/img/icons/folder.svg'); }
.icon-font { --icon-src: url('/media/protocol/img/icons/font.svg'); }
.icon-forget { --icon-src: url('/media/protocol/img/icons/forget.svg'); }
.icon-forward { --icon-src: url('/media/protocol/img/icons/forward.svg'); }
.icon-full-screen-disabled { --icon-src: url('/media/protocol/img/icons/full-screen-disabled.svg'); }
.icon-full-screen-exit { --icon-src: url('/media/protocol/img/icons/full-screen-exit.svg'); }
.icon-full-screen { --icon-src: url('/media/protocol/img/icons/full-screen.svg'); }
.icon-gear { --icon-src: url('/media/protocol/img/icons/gear.svg'); }
.icon-get-involved { --icon-src: url('/media/protocol/img/icons/get-involved.svg'); }
.icon-globe-white { --icon-src: url('/media/protocol/img/icons/globe-white.svg'); }
.icon-hashtag-narrow { --icon-src: url('/media/protocol/img/icons/hashtag-narrow.svg'); }
.icon-hashtag { --icon-src: url('/media/protocol/img/icons/hashtag.svg'); }
.icon-headphone { --icon-src: url('/media/protocol/img/icons/headphone.svg'); }
.icon-heart-white { --icon-src: url('/media/protocol/img/icons/heart-white.svg'); }
.icon-heart { --icon-src: url('/media/protocol/img/icons/heart.svg'); }
.icon-help { --icon-src: url('/media/protocol/img/icons/help.svg'); }
.icon-highlight { --icon-src: url('/media/protocol/img/icons/highlight.svg'); }
.icon-history { --icon-src: url('/media/protocol/img/icons/history.svg'); }
.icon-home { --icon-src: url('/media/protocol/img/icons/home.svg'); }
.icon-hubs { --icon-src: url('/media/protocol/img/icons/hubs.svg'); }
.icon-identity-notification { --icon-src: url('/media/protocol/img/icons/identity-notification.svg'); }
.icon-identity { --icon-src: url('/media/protocol/img/icons/identity.svg'); }
.icon-image { --icon-src: url('/media/protocol/img/icons/image.svg'); }
.icon-import { --icon-src: url('/media/protocol/img/icons/import.svg'); }
.icon-inbox { --icon-src: url('/media/protocol/img/icons/inbox.svg'); }
.icon-info { --icon-src: url('/media/protocol/img/icons/info.svg'); }
.icon-labs { --icon-src: url('/media/protocol/img/icons/labs.svg'); }
.icon-language { --icon-src: url('/media/protocol/img/icons/language.svg'); }
.icon-library { --icon-src: url('/media/protocol/img/icons/library.svg'); }
.icon-link { --icon-src: url('/media/protocol/img/icons/link.svg'); }
.icon-listen { --icon-src: url('/media/protocol/img/icons/listen.svg'); }
.icon-lite { --icon-src: url('/media/protocol/img/icons/lite.svg'); }
.icon-location-disabled { --icon-src: url('/media/protocol/img/icons/location-disabled.svg'); }
.icon-location-macos-disabled { --icon-src: url('/media/protocol/img/icons/location-macos-disabled.svg'); }
.icon-location-macos { --icon-src: url('/media/protocol/img/icons/location-macos.svg'); }
.icon-location-pin { --icon-src: url('/media/protocol/img/icons/location-pin.svg'); }
.icon-location-windows-disabled { --icon-src: url('/media/protocol/img/icons/location-windows-disabled.svg'); }
.icon-location-windows { --icon-src: url('/media/protocol/img/icons/location-windows.svg'); }
.icon-location { --icon-src: url('/media/protocol/img/icons/location.svg'); }
.icon-lockbox { --icon-src: url('/media/protocol/img/icons/lockbox.svg'); }
.icon-login { --icon-src: url('/media/protocol/img/icons/login.svg'); }
.icon-mail { --icon-src: url('/media/protocol/img/icons/mail.svg'); }
.icon-maximize { --icon-src: url('/media/protocol/img/icons/maximize.svg'); }
.icon-megaphone { --icon-src: url('/media/protocol/img/icons/megaphone.svg'); }
.icon-menu-white { --icon-src: url('/media/protocol/img/icons/menu-white.svg'); }
.icon-menu { --icon-src: url('/media/protocol/img/icons/menu.svg'); }
.icon-microphone-disabled { --icon-src: url('/media/protocol/img/icons/microphone-disabled.svg'); }
.icon-microphone { --icon-src: url('/media/protocol/img/icons/microphone.svg'); }
.icon-midi { --icon-src: url('/media/protocol/img/icons/midi.svg'); }
.icon-minimize { --icon-src: url('/media/protocol/img/icons/minimize.svg'); }
.icon-minus { --icon-src: url('/media/protocol/img/icons/minus.svg'); }
.icon-mobile-narrow { --icon-src: url('/media/protocol/img/icons/mobile-narrow.svg'); }
.icon-mobile { --icon-src: url('/media/protocol/img/icons/mobile.svg'); }
.icon-monitor { --icon-src: url('/media/protocol/img/icons/monitor.svg'); }
.icon-more-horizontal { --icon-src: url('/media/protocol/img/icons/more-horizontal.svg'); }
.icon-more-vertical { --icon-src: url('/media/protocol/img/icons/more-vertical.svg'); }
.icon-mountain { --icon-src: url('/media/protocol/img/icons/mountain.svg'); }
.icon-mouse-pointer-disabled { --icon-src: url('/media/protocol/img/icons/mouse-pointer-disabled.svg'); }
.icon-mouse-pointer { --icon-src: url('/media/protocol/img/icons/mouse-pointer.svg'); }
.icon-mozilla { --icon-src: url('/media/protocol/img/icons/mozilla.svg'); }
.icon-new { --icon-src: url('/media/protocol/img/icons/new.svg'); }
.icon-nightly { --icon-src: url('/media/protocol/img/icons/nightly.svg'); }
.icon-notes { --icon-src: url('/media/protocol/img/icons/notes.svg'); }
.icon-notifications-disabled { --icon-src: url('/media/protocol/img/icons/notifications-disabled.svg'); }
.icon-notifications { --icon-src: url('/media/protocol/img/icons/notifications.svg'); }
.icon-open-in-new { --icon-src: url('/media/protocol/img/icons/open-in-new.svg'); }
.icon-open { --icon-src: url('/media/protocol/img/icons/open.svg'); }
.icon-opensource { --icon-src: url('/media/protocol/img/icons/opensource.svg'); }
.icon-overflow { --icon-src: url('/media/protocol/img/icons/overflow.svg'); }
.icon-paperclip-narrow { --icon-src: url('/media/protocol/img/icons/paperclip-narrow.svg'); }
.icon-paperclip { --icon-src: url('/media/protocol/img/icons/paperclip.svg'); }
.icon-paste { --icon-src: url('/media/protocol/img/icons/paste.svg'); }
.icon-pause-white { --icon-src: url('/media/protocol/img/icons/pause-white.svg'); }
.icon-pause { --icon-src: url('/media/protocol/img/icons/pause.svg'); }
.icon-performance { --icon-src: url('/media/protocol/img/icons/performance.svg'); }
.icon-photon { --icon-src: url('/media/protocol/img/icons/photon.svg'); }
.icon-pin-remove { --icon-src: url('/media/protocol/img/icons/pin-remove.svg'); }
.icon-pin { --icon-src: url('/media/protocol/img/icons/pin.svg'); }
.icon-play-white { --icon-src: url('/media/protocol/img/icons/play-white.svg'); }
.icon-play { --icon-src: url('/media/protocol/img/icons/play.svg'); }
.icon-plugin-disabled { --icon-src: url('/media/protocol/img/icons/plugin-disabled.svg'); }
.icon-plugin { --icon-src: url('/media/protocol/img/icons/plugin.svg'); }
.icon-plus { --icon-src: url('/media/protocol/img/icons/plus.svg'); }
.icon-pocket-list { --icon-src: url('/media/protocol/img/icons/pocket-list.svg'); }
.icon-pocket-remove { --icon-src: url('/media/protocol/img/icons/pocket-remove.svg'); }
.icon-pocket { --icon-src: url('/media/protocol/img/icons/pocket.svg'); }
.icon-popular { --icon-src: url('/media/protocol/img/icons/popular.svg'); }
.icon-popup-block { --icon-src: url('/media/protocol/img/icons/popup-block.svg'); }
.icon-preferences { --icon-src: url('/media/protocol/img/icons/preferences.svg'); }
.icon-pricetag { --icon-src: url('/media/img/icons/pricetag.svg'); }
.icon-pricetag-white { --icon-src: url('/media/img/icons/pricetag-white.svg'); }
.icon-printer { --icon-src: url('/media/protocol/img/icons/printer.svg'); }
.icon-privacy { --icon-src: url('/media/protocol/img/icons/privacy.svg'); }
.icon-private-browsing { --icon-src: url('/media/protocol/img/icons/private-browsing.svg'); }
.icon-protocol { --icon-src: url('/media/protocol/img/icons/protocol.svg'); }
.icon-proton { --icon-src: url('/media/protocol/img/icons/proton.svg'); }
.icon-query { --icon-src: url('/media/protocol/img/icons/query.svg'); }
.icon-quit { --icon-src: url('/media/protocol/img/icons/quit.svg'); }
.icon-quote { --icon-src: url('/media/protocol/img/icons/quote.svg'); }
.icon-read { --icon-src: url('/media/protocol/img/icons/read.svg'); }
.icon-reader-mode { --icon-src: url('/media/protocol/img/icons/reader-mode.svg'); }
.icon-redo { --icon-src: url('/media/protocol/img/icons/redo.svg'); }
.icon-refresh { --icon-src: url('/media/protocol/img/icons/refresh.svg'); }
.icon-release-notes { --icon-src: url('/media/protocol/img/icons/release-notes.svg'); }
.icon-reminders { --icon-src: url('/media/protocol/img/icons/reminders.svg'); }
.icon-report-narrow { --icon-src: url('/media/protocol/img/icons/report-narrow.svg'); }
.icon-report { --icon-src: url('/media/protocol/img/icons/report.svg'); }
.icon-resources { --icon-src: url('/media/protocol/img/icons/resources.svg'); }
.icon-restore-session { --icon-src: url('/media/protocol/img/icons/restore-session.svg'); }
.icon-rhombus-layers { --icon-src: url('/media/img/icons/rhombus-layers.svg'); }
.icon-rhombus-layers-white { --icon-src: url('/media/img/icons/rhombus-layers-white.svg'); }
.icon-screen-share-disabled { --icon-src: url('/media/protocol/img/icons/screen-share-disabled.svg'); }
.icon-screen-share { --icon-src: url('/media/protocol/img/icons/screen-share.svg'); }
.icon-screenshot { --icon-src: url('/media/protocol/img/icons/screenshot.svg'); }
.icon-search-white { --icon-src: url('/media/protocol/img/icons/search-white.svg'); }
.icon-search { --icon-src: url('/media/protocol/img/icons/search.svg'); }
.icon-secure-broken { --icon-src: url('/media/protocol/img/icons/secure-broken.svg'); }
.icon-secure-mixed { --icon-src: url('/media/protocol/img/icons/secure-mixed.svg'); }
.icon-secure { --icon-src: url('/media/protocol/img/icons/secure.svg'); }
.icon-security { --icon-src: url('/media/protocol/img/icons/security.svg'); }
.icon-send-to-device { --icon-src: url('/media/protocol/img/icons/send-to-device.svg'); }
.icon-send { --icon-src: url('/media/protocol/img/icons/send.svg'); }
.icon-settings { --icon-src: url('/media/protocol/img/icons/settings.svg'); }
.icon-share-windows { --icon-src: url('/media/protocol/img/icons/share-windows.svg'); }
.icon-share { --icon-src: url('/media/protocol/img/icons/share.svg'); }
.icon-shield { --icon-src: url('/media/protocol/img/icons/shield.svg'); }
.icon-sidebar { --icon-src: url('/media/protocol/img/icons/sidebar.svg'); }
.icon-sign-in { --icon-src: url('/media/protocol/img/icons/sign-in.svg'); }
.icon-sign-up { --icon-src: url('/media/protocol/img/icons/sign-up.svg'); }
.icon-social-bluesky-black { --icon-src: url('/media/protocol/img/icons/social/bluesky/black.svg'); }
.icon-social-bluesky-white { --icon-src: url('/media/protocol/img/icons/social/bluesky/white.svg'); }
.icon-social-facebook-black { --icon-src: url('/media/protocol/img/icons/social/facebook/black.svg'); }
.icon-social-facebook-brand { --icon-src: url('/media/protocol/img/icons/social/facebook/brand.svg'); }
.icon-social-facebook-white { --icon-src: url('/media/protocol/img/icons/social/facebook/white.svg'); }
.icon-social-firefox-black { --icon-src: url('/media/protocol/img/icons/social/firefox/black.svg'); }
.icon-social-firefox-brand { --icon-src: url('/media/protocol/img/icons/social/firefox/brand.svg'); }
.icon-social-firefox-white { --icon-src: url('/media/protocol/img/icons/social/firefox/white.svg'); }
.icon-social-github-black { --icon-src: url('/media/protocol/img/icons/social/github/black.svg'); }
.icon-social-github-white { --icon-src: url('/media/protocol/img/icons/social/github/white.svg'); }
.icon-social-instagram-black { --icon-src: url('/media/protocol/img/icons/social/instagram/black.svg'); }
.icon-social-instagram-brand { --icon-src: url('/media/protocol/img/icons/social/instagram/brand.svg'); }
.icon-social-instagram-white { --icon-src: url('/media/protocol/img/icons/social/instagram/white.svg'); }
.icon-social-linkedin-black { --icon-src: url('/media/protocol/img/icons/social/linkedin/black.svg'); }
.icon-social-linkedin-white { --icon-src: url('/media/protocol/img/icons/social/linkedin/white.svg'); }
.icon-social-mastodon-black { --icon-src: url('/media/protocol/img/icons/social/mastodon/black.svg'); }
.icon-social-mastodon-brand { --icon-src: url('/media/protocol/img/icons/social/mastodon/brand.svg'); }
.icon-social-mastodon-white { --icon-src: url('/media/protocol/img/icons/social/mastodon/white.svg'); }
.icon-social-mozilla-black { --icon-src: url('/media/protocol/img/icons/social/mozilla/black.svg'); }
.icon-social-mozilla-white { --icon-src: url('/media/protocol/img/icons/social/mozilla/white.svg'); }
.icon-social-pocket-black { --icon-src: url('/media/protocol/img/icons/social/pocket/black.svg'); }
.icon-social-pocket-brand { --icon-src: url('/media/protocol/img/icons/social/pocket/brand.svg'); }
.icon-social-pocket-white { --icon-src: url('/media/protocol/img/icons/social/pocket/white.svg'); }
.icon-social-protocol-black { --icon-src: url('/media/protocol/img/icons/social/protocol/black.svg'); }
.icon-social-protocol-white { --icon-src: url('/media/protocol/img/icons/social/protocol/white.svg'); }
.icon-social-spotify-black { --icon-src: url('/media/protocol/img/icons/social/spotify/black.svg'); }
.icon-social-spotify-white { --icon-src: url('/media/protocol/img/icons/social/spotify/white.svg'); }
.icon-social-tiktok-black { --icon-src: url('/media/protocol/img/icons/social/tiktok/black.svg'); }
.icon-social-tiktok-white { --icon-src: url('/media/protocol/img/icons/social/tiktok/white.svg'); }
.icon-social-twitter-black { --icon-src: url('/media/protocol/img/icons/social/twitter/black.svg'); }
.icon-social-twitter-brand { --icon-src: url('/media/protocol/img/icons/social/twitter/brand.svg'); }
.icon-social-twitter-white { --icon-src: url('/media/protocol/img/icons/social/twitter/white.svg'); }
.icon-social-x-black { --icon-src: url('/media/protocol/img/icons/social/x/black.svg'); }
.icon-social-x-white { --icon-src: url('/media/protocol/img/icons/social/x/white.svg'); }
.icon-social-youtube-black { --icon-src: url('/media/protocol/img/icons/social/youtube/black.svg'); }
.icon-social-youtube-brand { --icon-src: url('/media/protocol/img/icons/social/youtube/brand.svg'); }
.icon-social-youtube-white { --icon-src: url('/media/protocol/img/icons/social/youtube/white.svg'); }
.icon-sound-off { --icon-src: url('/media/protocol/img/icons/sound-off.svg'); }
.icon-sound-on { --icon-src: url('/media/protocol/img/icons/sound-on.svg'); }
.icon-star { --icon-src: url('/media/protocol/img/icons/star.svg'); }
.icon-stop { --icon-src: url('/media/protocol/img/icons/stop.svg'); }
.icon-store-data-disabled { --icon-src: url('/media/protocol/img/icons/store-data-disabled.svg'); }
.icon-store-data { --icon-src: url('/media/protocol/img/icons/store-data.svg'); }
.icon-sub-item { --icon-src: url('/media/protocol/img/icons/sub-item.svg'); }
.icon-subscribe { --icon-src: url('/media/protocol/img/icons/subscribe.svg'); }
.icon-sync { --icon-src: url('/media/protocol/img/icons/sync.svg'); }
.icon-tab-mobile { --icon-src: url('/media/protocol/img/icons/tab-mobile.svg'); }
.icon-tab-new { --icon-src: url('/media/protocol/img/icons/tab-new.svg'); }
.icon-tab { --icon-src: url('/media/protocol/img/icons/tab.svg'); }
.icon-tablet { --icon-src: url('/media/protocol/img/icons/tablet.svg'); }
.icon-thumbs-up-narrow { --icon-src: url('/media/protocol/img/icons/thumbs-up-narrow.svg'); }
.icon-thumbs-up { --icon-src: url('/media/protocol/img/icons/thumbs-up.svg'); }
.icon-toggle-off { --icon-src: url('/media/protocol/img/icons/toggle-off.svg'); }
.icon-toggle-on { --icon-src: url('/media/protocol/img/icons/toggle-on.svg'); }
.icon-toolbar { --icon-src: url('/media/protocol/img/icons/toolbar.svg'); }
.icon-top-sites { --icon-src: url('/media/protocol/img/icons/top-sites.svg'); }
.icon-tracing-protection-disabled { --icon-src: url('/media/protocol/img/icons/tracing-protection-disabled.svg'); }
.icon-tracking-protection { --icon-src: url('/media/protocol/img/icons/tracking-protection.svg'); }
.icon-trash-narrow { --icon-src: url('/media/protocol/img/icons/trash-narrow.svg'); }
.icon-trash { --icon-src: url('/media/protocol/img/icons/trash.svg'); }
.icon-turbo-mode { --icon-src: url('/media/protocol/img/icons/turbo-mode.svg'); }
.icon-undo { --icon-src: url('/media/protocol/img/icons/undo.svg'); }
.icon-update { --icon-src: url('/media/protocol/img/icons/update.svg'); }
.icon-user { --icon-src: url('/media/protocol/img/icons/user.svg'); }
.icon-video-card { --icon-src: url('/media/protocol/img/icons/video-card.svg'); }
.icon-video-recoder-disabled { --icon-src: url('/media/protocol/img/icons/video-recoder-disabled.svg'); }
.icon-video-recorder { --icon-src: url('/media/protocol/img/icons/video-recorder.svg'); }
.icon-warning { --icon-src: url('/media/protocol/img/icons/warning.svg'); }
.icon-watch { --icon-src: url('/media/protocol/img/icons/watch.svg'); }
.icon-web-of-things { --icon-src: url('/media/protocol/img/icons/web-of-things.svg'); }
.icon-web-vr { --icon-src: url('/media/protocol/img/icons/web-vr.svg'); }
.icon-window-new { --icon-src: url('/media/protocol/img/icons/window-new.svg'); }
.icon-window { --icon-src: url('/media/protocol/img/icons/window.svg'); }
.icon-zoom-in { --icon-src: url('/media/protocol/img/icons/zoom-in.svg'); }
.icon-zoom-out { --icon-src: url('/media/protocol/img/icons/zoom-out.svg'); }


/* Adding one-off icons for Anonym. These should be systemized at some point. */

.icon-lock { --icon-src: url('/media/img/mozorg/anonym/lock.svg'); }
.icon-sparkles { --icon-src: url('/media/img/mozorg/anonym/sparkles.svg'); }
.icon-globe { --icon-src: url('/media/img/mozorg/anonym/globe.svg'); }
.icon-dashboard { --icon-src: url('/media/img/mozorg/anonym/dashboard.svg'); }
.icon-users { --icon-src: url('/media/img/mozorg/anonym/users.svg'); }
.icon-current-view { --icon-src: url('/media/img/mozorg/anonym/current-view.svg'); }
.icon-layer { --icon-src: url('/media/img/mozorg/anonym/layer.svg'); }
.icon-heart-rate { --icon-src: url('/media/img/mozorg/anonym/heart-rate.svg'); }
