// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

.mzan-toggle {
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &.is-selected {
        background-color: black;
        color: white;
    }
}
