// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../m24/vars/lib' as *;
@use '../mozorg/ads/vars' as advars;

#mzan-main {
    counter-reset: mzan-section-index;

    > .mzan-section:first-of-type {
        .mzan-heading {
            font-size: var(--mzanon-section-heading-font-size);
        }
    }
}

.mzan-section {
    padding: 50px var(--mzanon-h-pad);
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media #{$mq-md} {
        padding: 75px var(--mzanon-h-pad);
        gap: 75px;
    }

    &.is-comparison-table-block .mzan-hgroup {
        text-align: left;
        align-items: start;
        gap: 32px;
    }

    .mzan-section-link {
        align-items: center;
        border-bottom: 1px solid #161616;
        color: #161616;
        display: inline-flex;
        gap: 4px;
        font-family: var(--moz-sans-headline);
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-top: 32px;
        padding-bottom: 2px;
        text-decoration: none;
        justify-content: center;

        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
            color: #161616;
            text-decoration: none;
        }

        &::after {
            content: '';
            width: 24px;
            height: 24px;
            background-color: currentColor;
            mask: url('/media/img/mozorg/anonym/anonym-arrow-right.svg') no-repeat center / 24px 24px;
        }

        @media #{$mq-md} {
            margin-top: 0;
        }
    }
}

.mzan-section-topglow-theme {
    position: relative;
    text-align: center;
    gap: 36px;

    &::before {
        background: url("/media/img/mozorg/anonym/top-glow.png") no-repeat center/contain;
        content: "";
        height: auto;
        width: 100%;
        aspect-ratio: 1311/218;
        pointer-events: none;
        max-width: 840px;
        margin: 0 auto;
        display: block;
    }

    .mzan-hgroup {
        margin: 0;
    }

    .mzan-subheading {
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        max-width: 472px;
    }
}

.mzan-hgroup {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 0 24px;
    text-align: center;

    .mzan-superheading,
    .mzan-heading,
    .mzan-subheading {
        margin: 0;
    }
}

// give more space to first section on home page
.anonym-home .mzan-section:first-of-type .mzan-hgroup {
    gap: 75px;

    .mzan-heading {
        margin-bottom: 0;
    }
}

// remove gap between sections on secondary sections on subpages
.anonym-subpage #mzan-main > .mzan-section:not(:first-of-type) {
    gap: 0;
}

.mzan-superheading {
    font-size: var(--mza-text-body-sm);
    line-height: var(--mza-text-body-sm-line-height);
    margin: 0 0 12px;
    font-weight: bold;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;
        font-weight: normal;
        text-transform: none;
    }

    a::after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: currentColor;
        vertical-align: middle;
        -webkit-mask: url('/media/protocol/img/icons/forward.svg') no-repeat center / 16px 16px;
        mask: url('/media/protocol/img/icons/forward.svg') no-repeat center / 16px 16px;
        margin: 0 0 0 0.5em;
        transition: transform 0.2s ease-in-out;
    }

    a:hover::after {
        transform: translateX(4px);
    }

    i,
    em {
        align-items: center;
        background: #161616;
        color: #fff;
        display: inline-flex;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        justify-content: center;
        letter-spacing: 0.24px;
        line-height: 1.2;
        padding: 6px;
        margin: 0 0.5em 0 0;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.mzan-section-index-theme {
    // exclude the first instance of the index theme for the line separators
    & ~ & {
        --gradient-line-height: 301px;
        --section-padding-top: 25px;
        position: relative;
        padding-top: calc(var(--gradient-line-height) + var(--section-padding-top));

        @media #{$mq-md} {
            --section-padding-top: 50px;
        }

        &::before {
            width: 6px;
            height: var(--gradient-line-height);
            position: absolute;
            left: 50%;
            top: calc(var(--section-padding-top) / 2);
            transform: translateX(-50%);
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 301"><defs><linearGradient id="a" x1="3" y1="-1038.289" x2="3" y2="-1338.289" gradientTransform="matrix(1 0 0 -1 0 -1038.29)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23d6ffcd" stop-opacity="0"/><stop offset=".27" stop-color="%2300d230"/></linearGradient></defs><path fill="none" stroke="url(%23a)" d="M3 0v300"/><circle cx="3" cy="298" r="3" fill="%2300d230"/></svg>');
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 6px var(--gradient-line-height);
        }

    }

    .mzan-superheading {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 12px;
        font-family: var(--moz-sans-headline);
        font-size: 14px;
        text-transform: uppercase;

        &::before {
            counter-increment: mzan-section-index;
            align-items: center;
            background: linear-gradient(90deg, #B8FFF5 0%, #63F4EE 42%, #49F3A5 100%);
            border-radius: 0;
            color: #161616;
            content: counter(mzan-section-index, decimal-leading-zero);
            display: inline-flex;
            font-size: 12px;
            font-weight: 700;
            justify-content: center;
            line-height: 1;
            height: 28px;
            width: 28px;
            padding: 0;
        }
    }
}

.mzan-heading {
    font-family: var(--moz-sans-headline);
    font-size: var(--mzanon-section-heading-font-size-sm);
    line-height: 1;
    font-weight: 300;
    letter-spacing: -1.92px;
    margin: 0 0 16px;
    color: #161616;
    text-align: center;

    &:has(b, strong) {
        color: rgba(22, 22, 22, 0.5);
    }

    b,
    strong {
        color: #161616;
        font-weight: inherit;
        padding: 0;
        margin: 0;
    }
}

.mzan-subheading {
    color: #6d6d6d;
    font-size: var(--mza-text-body-md);
    line-height: var(--mza-text-body-md-line-height);
    margin: 0;
    max-width: 640px;
}

.mzan-section-link {
    color: #161616;
    display: inline-flex;
    font-size: var(--mza-text-button-sm);
    font-weight: 600;
    line-height: var(--mza-text-button-sm-line-height);
    margin-top: 24px;
    text-decoration: underline;
    margin-inline: auto;
}


.add-full-width-borders.add-full-width-borders,
.anonym-article-page .mzan-call-to-action {
    position: relative;
    overflow: visible;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        background-color: advars.$color-ads-tertiary-gray;
    }

    &::after {
        bottom: 0;
        top: auto;
    }

    > .mzan-section {
        border: 1px solid advars.$color-ads-tertiary-gray;
        border-width: 0 1px;
        padding: 50px 20px;

        ~ .mzan-section {
            border-left: 0 none;
        }
    }

    &:not([hidden]):not(.mzan-half-grid) + &:not([hidden]):not(.mzan-half-grid) {
        &::before {
            content: none;
        }
    }
}

.anonym-article-page .mzan-call-to-action {
    margin-top: 0;
    padding-top: 50px;

    &::after {
        content: none;
    }

    @media #{$mq-md} {
        padding-top: 75px;
    }
}
