// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';
$brand-theme: 'mozilla';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/split';

@import '../patch';

// Temporary fix to center the wordmark and logo on mobile when the split component also has the class "mzp-l-split-center-on-sm-md"
.mzp-c-split.mzp-l-split-center-on-sm-md {
    .mzp-c-wordmark,
    .mzp-c-logo {
        background-position: center;
        margin-left: auto;
        margin-right: auto;

        @media #{$mq-md} {
            background-position: top left;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
