{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/organizations/organizations.html" %}

{% block page_title %}Firefox Extended Support Release FAQ{% endblock %}
{% block body_id %}organizations-faq{% endblock %}

{% block site_header_logo %}
<h1><a href="{{ url('firefox.organizations.organizations') }}"><img src="{{ media('img/firefox/organizations/title.png') }}" alt="Firefox ESR" height="68" width="299"></a></h1>
{% endblock %}

{% block main_feature %}
<div id="main-feature" class="stacked">
  <h1>Mozilla Firefox <span class="large">ESR Overview</span></h1>
</div>
{% endblock %}

{% block main_column %}
<h4>What is Mozilla?</h4>
<p>Mozilla is a global, non-profit organization dedicated to making the Web better. We emphasize principle over profit, and believe that the Web is a shared public resource to be cared for, not a commodity to be sold. We work with a worldwide community to create open source products like Mozilla Firefox, and to innovate for the benefit of the individual and the betterment of the Web. The result is great products built by passionate people and better Web choices for everyone. For more information, visit <a href="http://www.mozilla.org/firefox/">mozilla.org/firefox</a>.</p>

<h4>What is Mozilla Firefox ESR?</h4>
<p>Mozilla will offer an Extended Support Release (ESR) based on an official release of Firefox for desktop for use by organizations including schools, universities, businesses and others who need extended support for mass deployments. You can read more about the plan <a href="https://wiki.mozilla.org/Enterprise/Firefox/ExtendedSupport:Proposal">here</a>.</p>

<h4>What does the Mozilla Firefox ESR life cycle look like?</h4>
<p>Releases will be maintained for approximately one year, with point releases containing security updates coinciding with regular Firefox releases. The ESR will also have a two cycle (12 week) overlap between the time of a new release and the end-of-life of the previous release to permit testing and certification prior to deploying a new version.</p>

<p><img src="{{ media('/img/firefox/organizations/release-overview.png') }}" alt="Firefox ESR Release Overview" id="release-overview" /></p>

<p>Maintenance of each ESR, through point releases, is limited to high-risk/high-impact security vulnerabilities and in rare cases may also include off-schedule releases that address live security vulnerabilities. Backports of any functional enhancements and/or stability fixes are not in scope.</p>

<p>At the end of the support period for an ESR version:</p>

<ul>
    <li>the release will reach its end-of-life</li>
    <li>no further updates will be offered for that version</li>
    <li>an update to the next version will be offered through the application update service</li>
</ul>

<p>You can <a href="https://wiki.mozilla.org/Enterprise/Firefox/ExtendedSupport:Proposal#Proposal">read more about the plan here</a>.</p>

<h4>Who should use Mozilla Firefox ESR?</h4>
<p>Mozilla Firefox ESR is meant for organizations that manage their client desktops, including schools, businesses and other instituitions that want to offer Firefox. Users who want to get the latest features, performance enhancements and technologies in their browsing experience should download Firefox for <a href="/firefox/">personal use</a>, as these improvements will only be available to ESR users several development cycles after being made available in Firefox for desktop. If you’re using Firefox for personal use, you can <a href="/firefox/">download Firefox</a> from <a href="/firefox/">mozilla.org/firefox</a>.</p>

<h4>What does my organization need to do to use Mozilla Firefox ESR?</h4>
<p>Organizations that deploy Firefox ESR are requested to sign up for the Enterprise Working Group mailing list. They are also requested to test advance versions of Firefox and ESR Release Candidates. Users can file bugs for issues they may encounter <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox">here</a> or follow known bugs <a href="https://wiki.mozilla.org/Enterprise:Bugs">here</a>.</p>

<h4>How can I learn about the latest Mozilla Firefox ESR news?</h4>
<p>To learn about the latest Mozilla Firefox ESR news, you must be signed up for Mozilla’s Enterprise Working Group (EWG) <a href="{{ url('firefox.organizations.organizations') }}">mailing list</a>. This is where Mozilla communicates the latest information about EWG, Firefox ESR and product updates. You can read more about EWG <a href="https://wiki.mozilla.org/Enterprise">here</a>.</p>

<h4>What is the Enterprise Working Group?</h4>
<p>The Mozilla Enterprise User Working Group is where enterprise developers, IT staff, Firefox and Thunderbird developers discuss best practices for deploying Firefox and Thunderbird in the enterprise. You can <a href="https://wiki.mozilla.org/Enterprise">learn more about the EWG here</a>.</p>

<h4>Where can I get technical support for Mozilla Firefox ESR?</h4>
<p>Mozilla Firefox ESR support can be found through the EWG mailing list. As Firefox ESR is functionally identical to Firefox for desktop, users will be able to find relevant support articles <a href="http://support.mozilla.org/">here</a>.</p>

<h4>How do I customize Firefox to meet my organization’s IT policy/requirements?</h4>
<p>There are several methods that can be used to customize Firefox and the best place to start is the Enterprise Working Group or the Enterprise Wiki page. There are <a href="https://addons.mozilla.org/en-US/firefox/addon/cck/">add-ons available</a>, as well as third-party organizations who provide customizations services, and the EWG is a good place to discuss requirements if you’re just getting started.</p>

<h4>Is Mozilla Firefox ESR available in my language?</h4>
<p>Firefox ESR is available in every locale currently available for Firefox. Because of the precise needs of Firefox ESR, it’s important that anyone deploying the build be registered and participate in an EWG <a href="..">mailing list</a>. The mailing list is only available in <a href="https://mail.mozilla.org/listinfo/enterprise-de">German</a>, <a href="http://mozilla.jp/business/">Japanese</a> and English, but if you would like to volunteer to lead a Firefox ESR mailing list in your language, please get <a href="mailto:stormy@mozilla.com">in touch</a>.</p>

<h4>Is Mozilla Firefox ESR available for Android?</h4>
<p>No. Firefox ESR will only be offered for Windows, Mac and Linux for desktop computers.</p>

<h4>Where can I download Mozilla Firefox ESR?</h4>
<p>You can download Mozilla Firefox ESR <a href="/firefox/organizations/all.html">here</a>.</p>

{% endblock %}
