// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-developer';
@import 'includes/engage';
@import 'includes/features';
@import 'includes/gallery-grid';
@import 'includes/highlights';
@import 'includes/intro';
@import 'includes/newsletter';
@import 'includes/performance';

// *------------------------------------------------------------------*/
// Title and subtitles for entire page

.c-title {
    @include text-body-md;
}

.c-subtitle {
    @include text-title-sm;
    line-height: $text-title-line-height;
    font-weight: bold;
    margin-bottom: $spacing-md;

    .t-highlights & {
        @include text-title-xs;
    }

    .t-features & {
        margin: 0 auto $layout-md;
        max-width: $content-lg;

        br {
            display: none;
        }
    }
}

@media #{$mq-md} {
    .c-subtitle {
        .t-features & {
            margin-bottom: $layout-xl;

            br {
                display: block;
            }
        }
    }
}

// *------------------------------------------------------------------*/
// Padding for page content sections

.t-highlights,
.t-features {
    &.mzp-l-content {
        padding-top: $layout-md;
        padding-bottom: $layout-sm;

        @media #{$mq-lg} {
            padding-top: $layout-xl;
            padding-bottom: $layout-xl;
        }
    }
}

.show-linux {
    display: none;

     br {
        display: none;
     }

     @media #{$mq-md} {
        br {
            display: inline;
        }
     }
}

.linux .show-linux {
    display: block;
}
