hgroup {
    clear: both;
    float: left;
    width: 40%;
}

div.header {
    float: left;
    height: 220px;
    width: 60%;
}

section {
    float: left;
    margin-top: 10px;
    padding: 5px;
    position: relative;
}

section.text {
    width: 377px;
}

section.dynamic {
    width: 578px;
}

section.top {
    height: 300px;
}

section.bottom {
    height: 330px;
}

section.popin {
    background-color: #fff;
    color: #333;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
}

