#title {
    text-align: center;
    border-bottom: 2px solid #ccc;
}

#title h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
}

ul#categories {
    list-style-type: none;
}

ul#categories li {
    padding: 2px 0px;
}

ul#categories li.selected a {
    font-weight: bold;
    font-size: 120%;
    color: #000;
}

ul#categories a {
    color: #8b8878;
}

ul#positions {
    list-style-type: none;
}

ul#positions li {
    padding: 3px 0px;
}

div#position h1, h2, h3 {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.faded, .faded a {
    color: #ccc;
}

#column_1 {
    float: left; 
    width: 34%;
    margin-left: 33%;
}

#column_2 {
    float: left;
    width: 33%;
    margin-left: -67%;
}

#column_3 {
    float: left;
    width: 33%;
}
