@font-face {
	font-family: MetaBlack;
	font-weight: bold;
	src: url(https://www.mozilla.com/img/fonts/MetaWebPro-Black.woff) format('woff');
}

#jobs-header {
	margin: 75px 0 50px;
}
#jobs-header h1 {
    font-family: MetaBlack, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
#jobs-breadcrumbs {
    margin-bottom: .5em;
    font-size: 13px;
}
#jobs-breadcrumbs li {
    display: inline;
}
#jobs-breadcrumbs li:before {
    content: '\bb';
    margin: 0 .3em;
}
#jobs-breadcrumbs li:first-child:before {
    display: none;
}

.side-col {
    float: left;
    position: relative;
    width: 188px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.side-col .shadow {
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 20px;
    width: 5px;
    background: -moz-linear-gradient(right, rgba(16, 83, 130, .25), rgba(16, 83, 130, .0));
}
.side-col .shadow:before,
.side-col .shadow:after {
    content: '';
    position: absolute;
    right: 0;
    width: 5px;
    height: 40px;
    background: -moz-radial-gradient(ellipse contain, rgba(16, 83, 130, .25), rgba(16, 83, 130, .0));
    background-size: 200% 200%;
}
.side-col .shadow:before {
    top: -40px;
    background-position: left top;
}
.side-col .shadow:after {
    bottom: -40px;
    background-position: left bottom;
}
.main-col {
    display: block;
    margin-left: 218px;
}
.main-col heading.large {
}
.main-col heading.large h2,
.main-col heading.large h3 {
    margin-right: 32px;
    font-family: Helvetica, Arial, sans-serif;
}
.main-col heading.large h2 {
    font-size: 24px;
    color: #333;
}
.main-col heading.large h3 {
    margin-top: 9px;
    font-size: 18px;
    color: #999;
}
#job-meta {
    position: relative;
    width: 220px;
    margin: -20px auto 0;
    font-size: 13px;
}
#job-meta .float {
    width: 220px;
    padding-top: 20px;
}
#job-apply {
    position: relative;
    display: block;
    padding: 15px 20px 17px;
    border-radius: 5px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1),
      0 -3px rgba(0, 0, 0, 0.1) inset,
      0 -1000px rgba(255, 255, 255, 0) inset;
    background: -moz-linear-gradient(top, #447BC4, #305D99);
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
}
#job-apply:hover,
#job-apply:focus {
    box-shadow: 0 3px rgba(0, 0, 0, 0.1),
    0 -3px rgba(0, 0, 0, 0.1) inset,
    0 -1000px rgba(255, 255, 255, 0.1) inset;
}
#job-apply:active {
    top: 3px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset,
    0 -1000px rgba(255, 255, 255, 0.1) inset;
}
#job-share {
    margin-top: 10px;
    color: #666;
    font-size: 12px;
    line-height: 24px;
}
#job-share a {
    display: inline-block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    background: url(/media/img/share-sprite.png) no-repeat 0 0;
    text-indent: -1000em;
    vertical-align: -4px;
}
#job-share a:hover {
    box-shadow: 0 -1000px 0 rgba(255,255,255, .25) inset;
}
#job-share .share-facebook { background-position: 0px 0; }
#job-share .share-twitter { background-position: -16px 0; }
#job-share .share-linkedin { background-position: -32px 0; }
#job-share .share-email { background-position: -48px 0; }
#job-details {
    margin-top: 24px;
    margin-right: 20px;
    padding: 20px 20px 22px;
    border: 1px solid #D7D9E8;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 -2px rgba(0, 0, 0, 0.05) inset;
}
#job-details dt:first-child {
    margin-top: 0;
}
#job-details dt {
    margin-top: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
#job-details dd,
#job-details dd li {
    margin-top: .25em;
}
#job-details small {
    color: #666;
}

.jobs-main-col {
    width: 540px;
}
.jobs-side-col {
    width: 380px;
    float: right;
}
.jobs-main-col ul, .jobs-side-col ul {
    list-style-type: none;
}
.jobs-main-col ul li, .jobs-side-col ul li {
    line-height: 1;
}

#job-desc {
    position: relative;
}
#job-desc .desc {
    font-size: 14px;
    line-height: 18px;
}
#job-desc .desc p {
    margin: 18px 0;
}
#job-desc .desc ul {
    margin-left: 28px;
    margin-top: -9px;
}
#job-desc .desc li {
    display: list-item;
    list-style: outside disc;
    margin: 9px 0;
}

.jobs-photos {
    width: 260px;
    margin: -40px auto 0;
}
.jobs-photos a {
    display: block;
    position: relative;
    top: 0;
    margin-top: 30px;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-transition: border-color .3s;
    -moz-transition-property: top, border-color, box-shadow;
}
.jobs-photos a:hover {
    top: -4px;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 0 5px 6px rgba(0,0,0,.1);
}
.jobs-photos a img {
    display: block;
    width: 240px;
}
.jobs-photos li:nth-child(1) a {
    -moz-transform: rotate(2deg) translate(5px, 0);
}
.jobs-photos li:nth-child(2) a {
    -moz-transform: rotate(-1deg) translate(-10px, -5px);
}
.jobs-photos li:nth-child(3) a {
    -moz-transform: rotate(1deg) translate(15px, -10px);
}

.role-group {
    font-size: 16px;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dotted #87A9C0;
}
.role-group h3 {
    margin-top: -.75em;
    margin-bottom: 1.25em;
    font-size: 21px;
    font-style: italic;
}
.role-group h3 a {
    color: inherit;
}
.role-group ul {
    margin-top: 0;
}
.role-group li:first-child {
    margin-top: 0;
}
.role-group li {
    position: relative;
    margin-top: 1.25em;
}
.role-group li a {
}
.role-group li small {
    display: block;
    margin-top: .25em;
    font-size: 12px;
    color: #999;
}
.role-group ul.small {
    -moz-column-count: 1;
}
.role-group.large {
    font-size: 18px;
}
.role-group.large li small {
    font-size: 14px;
}
.roles-col footer {
    margin-top: 28px;
    padding-top: 1em;
    border-top: 1px dotted #87A9C0;
}

#role-jobs-col {
}
#role-jobs-col .group a {
    padding-top: 6px;
    padding-bottom: 6px;
}	

.jobs-offices {
    margin: 0 auto;
    width: 180px;
    padding: 20px 20px 22px;
    border: 1px solid #D7D9E8;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 -2px rgba(0, 0, 0, 0.05) inset;
    font-size: 12px;
}
.jobs-offices h3 {
    font-size: 18px;
    font-style: italic;
}
.jobs-offices p {
    margin-top: .5em;
    line-height: 1.1;
    color: #666;
}
.jobs-offices ul {
    font-size: 14px;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dotted #87A9C0;
}
.jobs-offices li:first-child {
    margin-top: 0;
}
.jobs-offices li {
    margin-top: .5em;
}


.office-map {
    width: 200px;
    margin: -20px auto 80px;
    padding: 20px 20px 20px;
    border: 1px solid #D7D9E8;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05),
    0 -2px rgba(0, 0, 0, 0.05) inset;
    font-size: 14px;
}
.office-map .map {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #D7D9E8;
}
.office-map .map .zoom0,
.office-map .map .zoom1,
.office-map .map .zoom2 {
    display: block;
    -moz-transform: scale(1);
    -moz-transition: opacity .5s;
    -moz-transition-property: opacity, -moz-transform;
}
.office-map .map .zoom1,
.office-map .map .zoom2 {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
}
.office-map .map .zoom2-hit {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 33%;
    height: 33%;
    margin: auto;
}
.office-map .map:hover .zoom0,
.office-map .map .zoom2-hit:hover ~ .zoom1 {
    -moz-transform: scale(2);
}
.office-map .map:hover .zoom1,
.office-map .map .zoom2-hit:hover ~ .zoom2 {
    opacity: 1;
}
.office-map .map .zoom2-hit:hover {
}
.office-map .address {
    margin-top: 1em;
    line-height: 1.2;
}

#job-apply-form {
    font-size: 16px;
}
#job-apply-form p:first-child {
    margin-top: 0;
}
#job-apply-form p {
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.2;
}
#job-apply-form p strong {
    background: #ff8;
}
#job-apply-form input,
#job-apply-form textarea,
#job-apply-form select {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
#job-apply-form input:-moz-placeholder,
#job-apply-form textarea:-moz-placeholder {
    color: #999;
}
#job-apply-form input[type=text],
#job-apply-form input[type=password],
#job-apply-form textarea,
#job-apply-form select {
    padding: .125em .25em;
}
#job-apply-form input[type=radio],
#job-apply-form input[type=checkbox] {
    margin: 0;
    padding: 0;
}
#job-apply-form textarea {
    resize: vertical;
}
#job-apply-form .section {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dotted #87A9C0;
}
#job-apply-form .section h3 {
    margin-top: -.5em;
    margin-bottom: 1em;
    font-size: 21px;
    font-style: italic;
}
#job-apply-form .field:first-child,
#job-apply-form .field.float:first-child + .field {
    margin-top: 0;
}
#job-apply-form .field {
    margin-top: 2em;
}
#job-apply-form .field > label {
    display: block;
    margin-bottom: .25em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
#job-apply-form .field > span {
    display: block;
}
#job-apply-form .field textarea {
    display: block;
}
#job-apply-form .field li {
    position: relative;
    margin-top: .25em;
    margin-left: 1.25em;
}
#job-apply-form .field li input {
    position: absolute;
    left: -1.25em;
    top: .125em;
}
#job-apply-form .field small {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #999;
}
#job-apply-form .field .extra {
    margin-top: .5em;
    font-size: 12px;
}
#job-apply-form .field.required {
}

#job-apply-form .field.required > label:after {
    content: ' *';
    color: #c00;
}
#job-apply-form .field.float {
    float: left;
    margin-right: 1em;
}


.moz-button {
    position: relative;
    display: block;
    padding: 7px 14px 9px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1),
    0 -3px rgba(0, 0, 0, 0.1) inset,
    0 -1000px rgba(255, 255, 255, 0) inset;
    background: -moz-linear-gradient(top, #447BC4, #305D99);
    color: #fff;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.moz-button:hover,
.moz-button:focus {
    box-shadow: 0 3px rgba(0, 0, 0, 0.1),
    0 -3px rgba(0, 0, 0, 0.1) inset,
    0 -1000px rgba(255, 255, 255, 0.1) inset;
}
.moz-button:active {
    top: 3px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset,
    0 -1000px rgba(255, 255, 255, 0.1) inset;
}
.moz-button.large {
    padding: 10px 20px 12px;
    border-radius: 5px;
    font-size: 20px;
}

