@import "sandstone/variables.less";
@import "sandstone/mixins.less";

.main-column {
    .span(7);
}

.sidebar {
    .offset(1);
}

#welcome-video {
    margin: @baseLine auto;
    width: 640px;
    video {
        width: 100%;
        height: auto;
        background: #fff;
    }
}

