@import "sandstone/variables-resp.less";
@import "sandstone/mixins-resp.less";

.main-column {
    .span(9);
}

.sidebar {
    .offset(1);
}

#welcome-video {
    margin: @baseLine auto;
    width: 640px;
    max-width: 100%;
    video {
        width: 100%;
        height: auto;
        background: #fff;
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    .main-column {
        .span_narrow(9);
    }
    
    .sidebar {
        .span_narrow(3);
        .offset(0);
        .offset_narrow(0);
    }

}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {

    .main-column,
    .sidebar {
        width: auto;
        .offset(0);
        .offset_narrow(0);
    }
    
    #welcome-video {
        width: 100%;
    }
    
}
