// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "sandstone/sandstone.less";

#main-feature {
    text-align: center;
    padding-bottom: @baseLine * 2;
}

#primary {
    #gradient > .radial(center, 45px, ellipse, farthest-corner, #f5f1e8 0%, #ffffff 100%);
}

#signin,
#text-column {
    .span(5);
}

#signin-example figcaption {
    text-align: center;
    font-style: italic;
    color: @textColorTertiary;
    margin: auto @gridGutterWidth  @baseLine * 2  @gridGutterWidth;
}

#openphoto {
    text-align: center;
    padding: @baseLine;
    margin: @baseLine * 2  @gridColumnWidth + @gridGutterWidth;
    border-top: 1px dotted @borderColor;
    border-bottom: 1px dotted @borderColor;

    p {
        margin: 0;
        .open-sans-light;
    }
}

#persona-themes {
    text-align: center;
    margin-top: @baseLine;
    margin-bottom: @baseLine;
    padding-top: @baseLine;
    padding-bottom: @baseLine;

    h3 {
        margin: 0;
    }
}

#small-print {
    text-align: center;
    padding-bottom: @baseLine * 2;
}

#references {
    margin: @baseLine * 2  auto;

    ul li {
        list-style-type: none;
        margin: 0;
        padding: @baseLine 0;
        border-bottom: 1px dotted @borderColor;
        font-size: @smallFontSize;
        line-height: @baseLine * .75;
    }

    p {
        margin: 0;
    }
}
