@import "sandstone/sandstone.less";

#contact_privacy {
  width: 635px;
}
#contact_privacy legend {
  margin-bottom: 8px;
  font-size: 28px;
}
#contact_privacy label {
   font-family: 'Open Sans Light', sans-serif;
}
#contact_privacy input {
  margin-top: 2px;
  width: 232px;
}
#contact_privacy .field {
  margin-top: 10px;
}
#contact_privacy_submit {
  float: right;
}
table.data-table {
  margin-bottom: 0.7em;
  border-collapse: collapse;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #ddd;
}
table.data-table tr:nth-child(even) {
  background-color: rgba(200,200,200,.1);
}
table.data-table th,
table.data-table td {
  border-bottom: 1px solid #ddd; 
  padding: 0 6px;
}
table.data-table thead th {
  font-size: .857em;
  text-align: left;
  font-weight: normal;
  background-color: rgba(200,200,200,.2);
}
table.data-table tbody th {
  text-align: left;
}