// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "sandstone/sandstone-resp.less";

#template-downloads li {
    list-style-type: none;
    margin: 0 0  @baseLine / 3  0;
}

#theme-switcher {
    margin: 0;
    li {
        margin: 0 0  @baseLine / 3  0;
        list-style-type: none;
        a {
            display: block;
            padding: 6px;
            .open-sans;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            height: auto;
            b {
                font-weight: normal;
                text-transform: none;
            }
            span {
                display: block;
                background: url(/media/img/sandstone/bg-stone.png);
                height: 48px;
                margin-bottom: 6px;
            }
        }
    }
    li#theme-sand a span {
        background: url(/media/img/sandstone/bg-sand.png);
    }
    li#theme-sky a span {
        background: url(/media/img/sandstone/bg-sky.png);
    }
    li#theme-space a span {
        background: url(/media/img/sandstone/bg-space.png);
    }
}

.stone #theme-switcher #theme-stone .button-white,
.sand  #theme-switcher #theme-sand  .button-white,
.sky   #theme-switcher #theme-sky   .button-white,
.space #theme-switcher #theme-space .button-white {
    background: #d7d5d5;
    border-color: #bcb9b9;
    text-shadow: 0 1px #fff;
    @shadow: 0 1px 1px rgba(255,255,255,0.75), 0 1px 3px rgba(0,0,0,0.1) inset;
    .box-shadow(@shadow);
}
