// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$m24-font-path: '/media/fonts/m24';

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: normal;
    font-weight: normal;
    src:
        url('#{$m24-font-path}/mozilla-text/MozillaText-Regular.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-text/MozillaText-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: normal;
    font-weight: 600;
    src:
        url('#{$m24-font-path}/mozilla-text/MozillaText-SemiBold.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-text/MozillaText-SemiBold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: italic;
    font-weight: 600;
    src:
        url('#{$m24-font-path}/mozilla-text/MozillaText-SemiBoldIt.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-text/MozillaText-SemiBoldIt.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: normal;
    font-weight: bold;
    src:
        url('#{$m24-font-path}/mozilla-text/MozillaText-Bold.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-text/MozillaText-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: italic;
    font-weight: normal;
    src:
        url('#{$m24-font-path}/mozilla-text/MozillaText-Italic.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-text/MozillaText-Italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Text';
    font-style: italic;
    font-weight: bold;
    src:
        url('#{$m24-font-path}/mozilla-text/MozillaText-BoldIt.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-text/MozillaText-BoldIt.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: normal;
    src:
        url('#{$m24-font-path}/mozilla-headline/MozillaHeadline-Regular.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-headline/MozillaHeadline-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: bold;
    src:
        url('#{$m24-font-path}/mozilla-headline/MozillaHeadline-Bold.woff2') format('woff2'),
        url('#{$m24-font-path}/mozilla-headline/MozillaHeadline-Bold.woff') format('woff');
}

/* stylelint-disable value-keyword-case  */
$primary-font: "Mozilla Text", Inter, Arial, "X-LocaleSpecific", sans-serif;
$secondary-font: "Mozilla Headline", Rockwell, "Roboto Slab", "X-LocaleSpecific", serif;
/* stylelint-enable */
