{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/contentservices/base.html" %}

{% block page_title %}{{ _('Frequently Asked Questions') }}{% endblock %}
{% block body_id %}contentservices-faq{% endblock %}

{% block page_css %}
  {% stylesheet 'contentservices' %}
{% endblock %}

{% block js %}
  {% javascript 'accordion' %}
{% endblock %}

{% block article %}
<h1 class="title-shadow-box">{{ self.page_title() }}</h1>

<ul class="toc">
  <li><a href="#top">{{ _('Top Questions') }}</a></li>
  <li><a href="#audience">{{ _('Audience and Coverage') }}</a></li>
  <li><a href="#requirements">{{ _('Requirements') }}</a></li>
  <li><a href="#reporting">{{ _('Reporting') }}</a></li>
  <li><a href="#pricing">{{ _('Pricing') }}</a></li>
</ul>

<section id="top" class="accordion accordion-auto-init zebra">
  <h2>{{ _('Top Questions') }}</h2>

  <section>
    <h3 data-accordion-role="tab">{{ _('What makes Tiles different from other advertising approaches?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('There are two key differences:') }}
      </p>
      <p>
        {{ _('Users see tiles early in their flow, before they become involved in a task, on a clean page where your brand can stand out from other content.') }}
        {{ _('Our products do not interrupt the browsing experience; they catch users when they are most receptive to seeing new information.') }}
      </p>
      <p>
        {{ _('Also, Mozilla’s Tiles products give users control over their data and respect their privacy.') }}
        {{ _('We believe that this creates a better experience for both the user and the advertiser.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('What’s the difference between Suggested Tiles and Directory Tiles?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('Suggested Tiles is the name of Mozilla’s new advertising product, which has the potential to reach almost the entire Firefox installed base.') }}
        {{ _('Suggested Tiles appear in interest categories based on each user’s history.') }}
      </p>
      <p>
        {{ _('Directory Tiles are the default tiles that appear in a new tab screen for a user with no browsing history.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('What do Tiles look like?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('A Tile is a visual bookmark that consists of one or two images: a required “static state” image and an optional (but recommended) “rollover state.”') }}
        {{ _('These are 580 x 360-pixel image files.') }}
        {% trans url='http://static.mozilla.com/moco/en-US/pdf/Partner_Specs_Directory_Tiles.pdf', url2='http://static.mozilla.com/moco/en-US/pdf/Partner_Specs_Suggested_Tiles.pdf' %}
          Download our creative guidelines for <a href="{{ url }}">Directory Tiles</a> or <a href="{{ url2 }}">Suggested Tiles</a> for more details.
        {% endtrans %}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('How can I get help during a campaign?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('Mozilla offers dedicated account support in all aspects of campaign design, execution and measurement, for all Tiles partners') }}
      </p>
    </div>
  </section>


  <section>
    <h3 data-accordion-role="tab">{{ _('Will you only work with brand owners or also sell to advertising agencies / publishers?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('No: we plan to work with brands, agencies, and advertising technology companies.') }}
        {{ _('We are talking to brands, agencies (creative, media, digital, social, content) and advertising technology companies.') }}
      </p>
    </div>
  </section>

</section>

<section id="audience" class="accordion accordion-auto-init zebra">
  <h2>{{ _('Audience and Coverage') }}</h2>

  <section>
    <h3 data-accordion-role="tab">{{ _('What’s the potential reach?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('Firefox reaches 100s of millions of people across 110 countries, including over 80 million in the US, and roughly a quarter of the world’s desktop Web users.') }}
        {% trans url=url('mozorg.contentservices.start') %}
          Please <a href="{{ url }}">contact us</a> for information about our reach in specific markets.
        {% endtrans %}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('How do you determine user interests?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('For Suggested Tiles, we know whether users are interested in your market category by matching a list of defined URLs (domains, or subdomains) with their most frequently and recently visited URLs in Firefox.') }}
        {{ _('In this way, we are able to preserve users’ anonymity while providing a high level of confidence about their interest in different site categories.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('How do Tiles respect the user?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('All Tiles products are controlled by the user in a meaningful way.') }}
        {{ _('This means that the controls offer useful choices and help users to understand their experience as well as how their data is being used.') }}
        <a href="{{ url('mozorg.contentservices.user-respect') }}">
          {{ _('Learn more about how Tiles respect the user.') }}
        </a>
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('What input do I have over the interest categories?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('We work with all our Suggested Tiles partners to define the most effective interest categories.') }}
        {{ _('Partners may provide suggestions for what URLs should be include.') }}
        {{ _('Mozilla’s Content Services Team will actually define those categories.') }}
      </p>
    </div>
  </section>

</section>

<section id="requirements" class="accordion accordion-auto-init zebra">
  <h2>{{ _('Requirements') }}</h2>

  <section>
    <h3 data-accordion-role="tab">{{ _('What are the technical requirements?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {% trans url='http://static.mozilla.com/moco/en-US/pdf/Partner_Specs_Directory_Tiles.pdf', url2='http://static.mozilla.com/moco/en-US/pdf/Partner_Specs_Suggested_Tiles.pdf' %}
          Please see our our creative guidelines for <a href="{{ url }}">Directory Tiles</a> or <a href="{{ url2 }}">Suggested Tiles</a> for guidance on how to create Tile assets.
        {% endtrans %}
        {{ _('We recommend a custom URL destination for Tile traffic, to more easily measure campaign performance.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('How can I be sure that my ad will be seen?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
      {{ _('For Directory Tiles, we have a fairly predictable yield of impressions.') }}
      {{ _('For Suggested Tiles, we can work with you on an interest category and forecast the volume of impressions.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('Do you have any content guidelines?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('We are interested in content that will enhance a user’s experience of Firefox and which will add value for both them and the advertiser.') }}
        {{ _('There are certain categories of promotional content which we will not work with.') }}
        {{ _('Those include adult content, drugs/alcohol/tobacco, illegal gambling, weapons.') }}
      </p>
    </div>
  </section>

</section>

<section id="reporting" class="accordion accordion-auto-init zebra">
  <h2>{{ _('Reporting') }}</h2>

  <section>
    <h3 data-accordion-role="tab">{{ _('How do I see results?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('We will work with you on your reporting requirements and provide what you need.') }}
        {{ _('For example, we can deliver aggregate impressions and click information.') }}
        {{ _('We recommend that you use a custom destination, to more easily reconcile our reports with your own.') }}
      </p>
    </div>
  </section>


  <section>
    <h3 data-accordion-role="tab">{{ _('How soon can I start seeing results?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('Once we have concluded terms and you have provided us with a creative asset for your Tile, we can go live immediately.') }}
      </p>
    </div>
  </section>

</section>

<section id="pricing" class="accordion accordion-auto-init zebra">
  <h2>{{ _('Pricing Models') }}</h2>

  <section>
    <h3 data-accordion-role="tab">{{ _('What are the options?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('We are open to structuring Tiles partnerships in a variety of ways.') }}
        {{ _('We recommend CPA-based (cost-per-acquisition) pricing for Directory Tiles and CPM or CPC (cost-per-impression or click) for Suggested Tiles campaigns.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('Have other companies had success with Suggested Tiles?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
        {{ _('Suggested Tiles is recently launched.') }}
        {{ _('We have had a number of successful partnerships with our Directory Tiles product, and we are happy to share with you the best practices we have learned as a result.') }}
      </p>
    </div>
  </section>

  <section>
    <h3 data-accordion-role="tab">{{ _('How much do Tiles cost?') }}</h3>
    <div data-accordion-role="tabpanel">
      <p>
      {% trans url=url('mozorg.contentservices.start') %}
        This depends on the scope of your campaign. Please <a href="{{ url }}">contact us</a> to discuss.
      {% endtrans %}
      </p>
    </div>
  </section>

</section>

{% endblock %}
