// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import 'header';
@import 'sign-off';
@import 'release-notes';

.content-wrapper {
    background: var(--wnp-color-background);
}

.wnp-content-main {
    color: var(--wnp-color-text);

    h1, h2, h3, h4 {
        color: var(--wnp-color-title);
    }
}
