// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@media (prefers-color-scheme: dark) {
    html,
    body,
    .content-wrapper {
        background: $color-dark-gray-60;
        color: $color-white;
    }

    .wnp-content-main {
        h1, h2, h3, h4 {
            color: $color-white;
        }
    }

    .c-page-header-logo-fx {
        background: url('/media/img/logos/firefox/logo-word-hor-white.svg') no-repeat;
        @include background-size(120px, 40px);
    }

    .c-loading-placeholder-element {
        background-image: linear-gradient(100deg, #545353 30%, #616161 50%, #545353 70%);
    }

    .c-utilities {
        @include white-links;
    }

    .wnp-sign-off,
    .wnp-sign-off-note {
        color: $color-white;
    }
}
