// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// * -------------------------------------------------------------------------- */
// Utilities (link to release notes)

.c-utilities {
    @include text-body-sm;
    max-width: $content-md;
    padding-bottom: $layout-xl;
    text-align: center;
}
