// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

$brand-theme: 'firefox';

// *------------------------------------------------------------------*/
// Engagement

.t-engage {
    background: #010817;
    background: linear-gradient(#09204d, #010817);
    color: #fff;
    padding-top: $layout-sm;
    padding-bottom: $layout-sm;

    .mzp-l-content,
    .mzp-c-split-container {
        max-width: $content-xl;
    }

    .mzp-c-split {
        padding-top: 0;
    }

    .mzp-l-columns {
        row-gap: 0; // uses margin bottom instead of row gap for spacing
        .mzp-c-picto {
            margin-bottom: $layout-md;
        }
    }

    .mzp-c-picto-heading {
        @include text-title-md;
    }

    @media #{$mq-md} {
        padding-top: $layout-lg;
        padding-bottom: $layout-lg;

        .mzp-l-columns .mzp-c-picto {
            margin-bottom: 0;
        }

        .mzp-c-split-container {
            box-sizing: content-box;
        }

        .mzp-l-split-reversed {
            .mzp-c-split-media {
                justify-self: start;
            }
        }
    }
}
