/* ==========================================================================
   Detail page, modules
   ========================================================================== */

.detail {
    padding-bottom: 134px;
    position: relative;

    .at-xlarge({
        //padding-bottom: 275px;
    });
}

.detail__header {
    margin: 0 0 30px;
    padding: 0 20px;

    .at-medium({
        margin: 0;
        padding: 0 70px;
    });

    .at-large({
        padding: 0 20px 0 70px;
        width: 50%;
    });

    .at-xlarge({
        padding: 0 30px 0 220px;
    });
}

.detail__main {
    margin: 0 0 30px;
    padding: 0 20px;

    .at-medium({
        margin: 0 0 48px;
        padding: 0 70px;
    });

    .at-large({
        margin: 0 0 16px;
        padding: 0 20px 0 70px;
        width: 50%;
    });

    .at-xlarge({
        margin: 0 0 40px;
        padding: 0 30px 0 220px;
    });
}

.detail__infographic {
    margin: 0 0 30px;
    //padding: 0 20px;

    .at-medium({
        //padding: 0 70px;
    });

    .at-large({
        //padding: 0 70px 0 20px;
        position: absolute;
        right: 0;
        top: 60px;
        width: 50%;
    });

    .at-xlarge({
        //padding: 0 100px 0 30px;
    });
}

.detail__more {
    padding: 0 20px;

    .at-medium({
        padding: 0 70px;
    });

    .at-large({
        padding: 0 20px 0 70px;
        width: 50%;
    });

    .at-xlarge({
        padding: 0 30px 0 220px;
    });
}


/* Detail Header
   ========================================================================== */
.detail-header-section {
    color: @white;
    .fira-sans-medium;
    .font-size(1);
    line-height: 12px;
    margin: 0 0 24px 16px;
    text-transform: uppercase;

    .at-medium({
        .font-size(1.4);
        line-height: 16px;
        margin: 0 0 40px 20px;
    });
}

.detail-header-title {
    color: @white;
    .fira-sans-xlight;
    .font-size(2.8);
    line-height: 32px;
    margin: 0;

    .at-medium({
        .font-size(4.2);
        line-height: 48px;
    });

    .at-large({
        .font-size(3.6);
        line-height: 40px;
    });

    .at-xlarge({
        .font-size(4.2);
        line-height: 48px;
    });
}


/* Detail Main
   ========================================================================== */
.detail-main {

}

.detail-main__copy {
    .font-size(1.4);
    line-height: 24px;
    margin: 0 0 32px;

    .at-medium({
        .font-size(1.8);
        line-height: 32px;
    });

    .at-large({
        .font-size(1.6);
        line-height: 30px;
        margin: 0 0 0;
    });

    > p {
        margin: 12px 0;

        .at-medium({
            margin: 16px 0;
        });
    }
}

.detail-main-read-more {
    color: @extra-dark-grey;
    .fira-sans-semibold;
    .font-size(1.1);
    text-transform: uppercase;
}


/* Detail Links
   ========================================================================== */
.detail-links {
    .reset-list;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 24px 0 0;

    .at-medium({
        padding: 48px 0 30px;
    });

    .at-xlarge({
        padding: 48px 0 36px;
    });

    > li {
        &:first-child {
            margin-bottom: 36px;
        }

        .at-medium({
            float: left;
            width: 50%;

            &:first-child {
                margin: 0;
            }
        });
    }
}

.detail-link {
    .at-medium({
        margin-right: 40px;
    });

    .at-large({
        max-width: 200px;
    });
}

.detail-link__header {
    > h1 {
        .fira-sans-medium;
        .font-size(1.2);
        letter-spacing: 1px;
        line-height: 20px;
        margin: 0 0 8px;
        text-transform: uppercase;

        .at-medium({
            margin: 0 0 16px;
        });

        .at-xlarge({
            .font-size(1.4);
        });
    }
}

.detail-link__copy {
    color: @extra-dark-grey;
    .font-size(1.2);
    line-height: 22px;
    margin: 0 0 22px;

    .at-medium({
        .font-size(1.4);
        line-height: 24px;
        margin: 0 0 24px;
    });
}


/* Detail Links
   ========================================================================== */
.detail-tags {
    color: @extra-dark-grey;
    .fira-sans-bold;
    .font-size(1);
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: uppercase;
}

.detail-tags--main {
    display: none;

    .at-medium({
        display: block;
    });

    .at-large({
        display: none;
    });
}

.detail-tags--more {
    display: none;

    .at-large({
        display: block;
    });
}

.detail-tags__title {
    color: @white;
}

    .detail-tags__tag {
    display: inline-block;
    margin-right: 3px;
    .transition(all 0.1s ease-in-out);

    &:first-child {
        margin-left: 3px;
    }

    .no-touch &:hover,
    &:focus {
        color: @white;
    }
}
