// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/newsletter';
@import '../../hubs/mixins';
@import '../../hubs/header';
@import '../../hubs/sections';
@import '../../hubs/sub-nav';
@import '../../hubs/buttons';
@import '../../hubs/cards-block';
@import '../../hubs/card-image-large';
@import '../../hubs/common';
@import '../../hubs/news-feed';
@import 'hub/newsletter';

main .content {
    @include horizontal-rule-before($start-color: #8edc34, $end-color: #82d1f5); // light green to light blue
}

// Hero promo doesn't get a gradient rule
.devtools .content:before {
    content: none;
}

//* -------------------------------------------------------------------------- */
// Cards

.card {
    padding: 20px 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    img {
        display: block;
        margin-bottom: 20px;
        opacity: 1;
        transition: opacity 0.3s;
        width: 100%;
    }

    img[data-src] {
        opacity: 0;
        display: none;
    }

    .lazy-image-container {
        background-color: #eee;
        display: block;
        margin-bottom: 20px;

        img {
            margin-bottom: 0;
        }
    }

    .card-title {
        @include font-size(28px);
        color: $color-text-primary;
        text-decoration: none;
    }

    a:link,
    a:visited {
        text-decoration: none;

        .card-title {
            color: $color-text-primary;
        }

        &:hover,
        &:focus,
        &:active {
            color: $color-link-blue-dark;

            .card-title {
                color: $color-link-blue-dark;
            }
        }
    }

    .card-cta {
        margin-top: 20px;
    }
}

.js .card img[data-src] {
    display: block;
}

@media #{$mq-tablet} {
    .card-group {
        @include clearfix;

        .card {
            @include span(4);
            padding-bottom: 0;
            padding-top: 0;
            margin-bottom: 20px;

            &.card-double {
                @include span(8);
            }

            &.card-image-large {
                @include span-all();
            }
        }
    }
}

@supports (display:grid) {
    @media #{$mq-tablet} {
        .card-group {
            display: grid;
            grid-auto-rows: repeat(auto-fit, minmax(min-content, max-content));
            grid-gap: 40px;
            grid-template-columns: repeat(2, 1fr);

            // Remove the clearfix pseudo-element so it won't be treated as a grid item.
            &:after {
                content: none;
            }

            .card {
                float: none;
                padding: 0;
                width: auto;

                &.card-double,
                &.card-image-large {
                    float: none;
                    grid-column: span 2;
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }

    @media #{$mq-desktop} {
        .card-group {
            grid-template-columns: repeat(3, 1fr);

            .card.card-image-large {
                grid-column: span 3;
                width: 100%;
            }
        }
    }
}


/* -------------------------------------------------------------------------- */
// Videos

.video-play {
    display: block;

    .video-thumbnail {
        position: relative;
    }

    .play-button {
        @include transition(background-color 200ms ease);
        height: 54px;
        left: 50%;
        margin-left: -40px;
        margin-top: -27px;
        position: absolute;
        top: 50%;
        width: 80px;
        z-index: 9;

        .background {
            transition: fill 200ms ease-in-out, opacity 200ms ease-in-out;
        }
    }

    &:hover .play-button {
        .background {
            fill: $color-link-blue-dark;
            opacity: .9;
        }
    }
}


#modal .window .inner {
    background: #000;
    padding: 20px;

    .responsive-video-container.overlay-contents {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;

        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    & > header {
        @include zilla-slab;
        @include font-size-level3;
        text-align: left;
        padding: 0 60px 0 0;
    }

    #modal-close {
        top: 10px;
        right: 10px;
    }
}




//* -------------------------------------------------------------------------- */
// Social

#icon-sprite {
    display: none;
}

.social-groups {
    @include font-size(16px);
    @include open-sans;
    max-width: $width-tablet;

    @media #{$mq-tablet} {
        li {
            display: inline-block;
            margin-right: 5%;
            width: 40%;
        }
    }

    h3 {
        @include font-size-level4;
    }
}

.social-group-links {
    li {
        display: inline-block;
        margin: 0 20px .25em 0;
        width: auto;
    }

    .icon {
        height: 18px;
        margin: 0 5px -2px 0;
        width: 16px;
    }

    a:link,
    a:visited {
        color: $color-link-blue;
        text-decoration: none;

        .icon use {
            fill: $color-link-blue;
        }

        &:focus,
        &:hover,
        &:active {
            color: $color-link-blue-dark;

            .icon use {
                fill: $color-link-blue-dark;
            }
        }
    }

    .icon svg path,
    .icon svg rect {
        fill: inherit;
    }
}

//* -------------------------------------------------------------------------- */
// Large image cards

.developer-tools {
    .card-content-wrapper {
        @include at2x('/media/img/mozorg/developer/hub/developer-tools-hero.png', 1250px, 365px);
    }
}

.resource-mdn {
    .card-content-wrapper {
        @include background-size(260px, 266px);
        background-image: url('/media/img/mozorg/developer/hub/resource-mdn-hero.png');
        background-repeat: repeat;
    }
}


