{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}{{ ftl('thank-you-thank-you') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}{{ ftl('thank-you-thank-you-page') }}{% endblock %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-newsletter') }}
  {{ css_bundle('firefox-retention-thank-you') }}
{% endblock %}

{% block body_id %}thank-you{% endblock %}
{% block site_header %}{% endblock %}

{% block content %}
<main role="main">
  <canvas id="confetti-canvas"></canvas>
  <div class="mzp-l-content">
    <header>
      <h1>
      {% if LANG.startswith('en') %}
        <span class="white">It’s all</span><br/>
        thanks to you
      {% else %}
        {{ ftl('thank-you-its-all-thanks-to-you') }}
      {% endif %}
      </h1>
      <p>
        {{ ftl('thank-you-choosing-firefox-helps') }}
      </p>
    </header>
    <section>
      <article>
        <h2>{{ ftl('thank-you-make-firefox-your-default') }}</h2>
        <div class="time">{{ ftl('thank-you-1-min-action') }}</div>
        <a data-link-type="link" data-link-name="Set as your default" href="{{ url('firefox.set-as-default.landing') }}">{{ ftl('thank-you-set-as-your-default') }}</a>
      </article>
      <article>
        <h2>{{ ftl('thank-you-get-firefox-on-your-phone') }}</h2>
        <div class="time">{{ ftl('thank-you-2-min-install') }}</div>
        <a data-link-type="link" data-link-name="Download Firefox" href="{{ url('firefox.browsers.mobile.index') }}">{{ ftl('thank-you-download-firefox') }}</a>
      </article>
      <article>
        <h2>{{ ftl('thank-you-tell-your-friends-about') }}</h2>
        <div class="time">{{ ftl('thank-you-1-min-share') }}</div>
        <a data-link-type="link" data-link-name="Send a tweet" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&text=%s%s'|format('https://mozilla.org/firefox/new'|urlencode, '%F0%9F%94%A5%2B%F0%9F%A6%8A=%F0%9F%99%8C%F0%9F%8F%BE%20', ftl('thank-you-join-me-in-the-fight-for')|urlencode)|e }}">{{ ftl('thank-you-send-a-tweet') }}</a>
      </article>
      <article>
        <h2>{{ ftl('thank-you-make-the-internet-a-safer') }}</h2>
        <div class="time">{{ ftl('thank-you-4-min-read') }}</div>
        <a data-link-type="link" data-link-name="Make the Internet as Safer Place" href="https://foundation.mozilla.org/internet-health/">{{ ftl('ui-learn-more') }}</a>
      </article>
    </section>
  </div>
</main>
<aside id="newsletter-subscribe">
  <div class="mzp-l-content mzp-t-content-md">
    {{ email_newsletter_form(
       newsletters='mozilla-foundation',
       title=ftl('thank-you-stay-in-touch-for-more'),
       desc=ftl('thank-you-get-the-latest-greatest'),
       spinner_color='#fff')
    }}
  </div>
</aside>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-retention-thank-you') }}
{% endblock %}
