{#
** OFFICIAL™ DOCS **

୧༼ಠ益ಠ༽୨

Preface:

Nav is basically beta right now. Changes will be a-comin' on 3/12. What
are those changes? We don't know yet! Stay on your toes!


1. Add to page:
  a. Remove old site_header:

    {% block site_header %}{% endblock %}

  b. Add new site_header_unwrapped, including this file:

    {% block site_header_unwrapped %}
      {% include 'firefox/includes/family-nav.html' %}
    {% endblock %}

    If you need the dark text version (like for /firefox/partners), set a
    variable prior to include:

    {% block site_header_unwrapped %}
      {% set fxfamilynav_class = 'dark' %}
      {% include 'firefox/includes/family-nav.html' %}
    {% endblock %}


2. Make sure necessary files are in your CSS/JS bundles:
  a. CSS
    'css/firefox/family-nav.less'

  b. JS
    'js/libs/jquery.waypoints.min.js',
    'js/libs/jquery.waypoints-sticky.min.js',
    'js/firefox/family-nav.js',

  c. IE 9
    IE 9 requires the matchMedia.addListener polyfill. If your page doesn't
    already have a specific IE 9 bundle, you can use the generic one:

    <!--[if IE 9]>
    {% javascript 'matchmedia_addlistener' %}
    <![endif]-->


3. Initialize menu in your page's JS:
  Quick example:

  var fxNavConfig = {
    primaryId: 'os', // id of primary nav item to highlight (REQUIRED)
    subId: 'devices', // id of sub nav item to highlight (OPTIONAL)
    ctaId: 'id-of-some-button' // id of the CTA to place in sticky nav (OPTIONAL)
  };

  Mozilla.FxFamilyNav.init(fxNavConfig);

  Available nav/sub nav ID values:

  desktop
    - index
    - trust
    - customize
    - fast
  android
    - index
  os
    - index
    - devices
    - partners
    - mwc

  Notes on CTA:

  CTA in sticky nav max dimensions are 160px w x 50px h. Anything over will be cut off.
  Conform or feel the wrath of chopped off edges.

  CTA is hidden in sticky nav at tablet (760px) breakpoint - just not enough
  room (this may change in the future).

  CTA is purposefully hidden for mobile.
#}

<header id="fxfamilynav-header"{% if (fxfamilynav_class) %} class="{{ fxfamilynav_class }}"{% endif %}>
  <div class="container">
    <i id="fxfamilynav-logo">{{ _('Firefox') }}</i>
    <nav id="fxfamilynav" role="navigation">
      <ul id="fxfamilynav-primary" class="primarynav">
        {# L10n: The <span> elements below are for visual formatting #}
        <li><a href="{{ url('firefox.desktop.index') }}" class="primary-link" data-id="desktop">{{ _('<span>for</span> Desktop') }}</a></li>
        <li><a href="{{ url('firefox.android.index') }}" class="primary-link" data-id="android">{{ _('<span>for</span> Android') }}</a></li>
        <li><a href="{{ url('firefox.os.index') }}" class="primary-link" data-id="os">{{ _('OS') }}</a></li>
      </ul>

      <div id="fxfamilynav-subnav">
        <ul class="subnav" data-parent="desktop">
          <li><a href="{{ url('firefox.desktop.index') }}" data-id="desktop-index">{{ _('Overview') }}</a></li>
          <li><a href="{{ url('firefox.desktop.trust') }}" data-id="desktop-trust">{{ _('Trusted') }}</a></li>
          <li><a href="{{ url('firefox.desktop.customize') }}" data-id="desktop-customize">{{ _('Flexible') }}</a></li>
          <li><a href="{{ url('firefox.desktop.fast') }}" data-id="desktop-fast">{{ _('Fast') }}</a></li>
        </ul>

        <ul class="subnav" data-parent="android">
          <li><a href="{{ url('firefox.android.index') }}" data-id="android-index">{{ _('Overview') }}</a></li>
        </ul>

        <ul class="subnav active" data-parent="os">
          <li><a href="{{ url('firefox.os.index') }}" data-id="os-index">{{ _('About') }}</a></li>
          <li><a href="{{ url('firefox.os.devices') }}" data-id="os-devices">{{ _('Devices') }}</a></li>
          <li><a href="{{ url('firefox.partners.index') }}" data-id="os-partners">{{ _('For partners') }}</a></li>
          <li><a href="{{ url('firefox.os.mwc-2015-preview') }}" data-id="os-mwc"><i class="icon-mwc"></i>{{ _('MWC 2015') }}</a></li>
        </ul>
      </div> {# --/#fxfamilynav-subnav --#}

      <div id="fxfamilynav-tertiarynav">
        {# the triangle needs a border, so :before content doesn't cut it #}
        <div class="triangle"></div>
        <div class="triangle-border"></div>

        <ul class="tertiarynav" data-parent="desktop">
          <li><a rel="external" href="https://support.mozilla.org/products/firefox">{{ _('Support') }}</a></li>
          <li><a href="{{ url('firefox.dnt') }}">{{ _('DNT') }}</a></li>
          <li><a rel="external" href="https://support.mozilla.org/kb/private-browsing-browse-web-without-saving-info">{{ _('Private Browsing') }}</a></li>
          <li><a rel="external" href="https://addons.mozilla.org">{{ _('Add-Ons') }}</a></li>
        </ul>

        <ul class="tertiarynav" data-parent="android">
          <li><a rel="external" href="https://support.mozilla.org/products/mobile">{{ _('Support') }}</a></li>
          <li><a href="{{ url('firefox.dnt') }}">{{ _('DNT') }}</a></li>
          <li><a rel="external" href="https://www.youtube.com/watch?v=Ewk0YtFTBec&amp;list=PLA8ABF6B7A66A0C5E&amp;index=15">{{ _('Private Browsing') }}</a></li>
          <li><a rel="external" href="https://addons.mozilla.org/android/">{{ _('Add-Ons') }}</a></li>
        </ul>

        <ul class="tertiarynav" data-parent="os">
          <li><a rel="external" href="https://support.mozilla.org/products/firefox-os">{{ _('Support') }}</a></li>
          <li><a rel="external" href="https://blog.mozilla.org/blog/category/firefox-os/">{{ _('News') }}</a></li>
          <li><a rel="external" href="https://marketplace.firefox.com/">{{ _('Marketplace') }}</a></li>
          <li><a rel="external" href="https://developer.mozilla.org/Firefox_OS">{{ _('Developers') }}</a></li>
        </ul>
      </div> {#-- /#fxfamilynav-tertiarynav --#}
    </nav> {#-- /#fxfamillynav --#}

    {# Page will dictate CTA (button, usually) to be placed in this wrapper #}
    <div id="fxfamilynav-cta-wrapper"></div>

    <button type="button" id="fxfamilynav-tertiarynav-trigger" aria-controls="fxfamilynav-tertiarynav">
      <span>{{ _('Menu') }}</span>
      <div id="trigger-dots">
        <div class="trigger-dot"></div>
        <div class="trigger-dot"></div>
        <div class="trigger-dot"></div>
      </div>
    </button>

    <a id="fxfamilynav-tabzilla" href="{{ url('mozorg.home') }}">{{ _('Mozilla') }}</a>
  </div>{#-- /.container --#}
</header>
