{% if show_android %}
<ul class="fx-footer-links os_android">
  {% if channel == 'alpha' %}
    {% for plat in builds -%}
      {% if plat.os == 'android' -%}
        <li class="arch {{ plat.arch }}">
          <a href="{{ plat.download_link }}">{{ plat.arch_pretty }}</a>
        </li>
      {% endif -%}
    {% endfor -%}
  {% endif %}

  <li>
    <a href="{{ firefox_url('android', 'sysreq') }}">{{ _('Supported Devices') }}</a>
  </li>
  {% if channel != 'alpha' %}
  <li>
    <a href="{{ firefox_url('android', 'all', channel) }}">{{ _('Firefox for Other Platforms & Languages') }}</a>
  </li>
  {% endif %}
  <li>
    <a href="{{ firefox_url('android', 'notes', channel) }}">{{ _('Release Notes') }}</a>
  </li>
</ul>
{% endif %}

{% if show_ios %}
<ul class="fx-footer-links os_ios">
  <li>
    <a href="{{ firefox_url('ios', 'sysreq') }}">{{ _('Supported Devices') }}</a>
  </li>
  <li>
    <a href="{{ firefox_url('ios', 'notes', channel) }}">{{ _('Release Notes') }}</a>
  </li>
</ul>
{% endif %}

{% if show_desktop %}
<ul class="fx-footer-links os_desktop os_other">
  <li>
    <a href="{{ firefox_url('desktop', 'all', channel) }}">{{ _('Firefox for Other Platforms & Languages') }}</a>
  </li>
  <li>
    <a href="{{ firefox_url('desktop', 'notes', channel) }}">{{ _('Release Notes') }}</a>
  </li>
</ul>
{% endif %}
