{% add_lang_files "firefox/includes/mwc_2014_schedule" %}

<div class="schedule-header">
  <small class="disclaimer">{{ _('Schedule is subject to change.') }}</small>
  <a href="http://www.cvent.com/d/54qpfq" rel="external" class="schedule-register-link">{{ _('Register for a session') }}</a>
</div>

<div class="schedule-days">
  <section class="schedule-day">
    <h1>
      <span>{{ _('Monday') }}</span>
      {{ _('February 24') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-24T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS for Any Screen Size') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T16:00" itemprop="startDate">16:00</time> &ndash; <time datetime="2014-02-24T16:25" itemprop="endDate">16:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T18:00" itemprop="startDate">18:00</time> &ndash; <time datetime="2014-02-24T18:35" itemprop="endDate">18:35</time>
        </div>
      </li>
    </ol>
  </section>

  <section class="schedule-day">
    <h1>
      <span>{{ _('Tuesday') }}</span>
      {{ _('February 25') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-24T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS for Any Screen Size') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T16:00" itemprop="startDate">16:00</time> &ndash; <time datetime="2014-02-24T16:25" itemprop="endDate">16:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T18:00" itemprop="startDate">18:00</time> &ndash; <time datetime="2014-02-24T18:35" itemprop="endDate">18:35</time>
        </div>
      </li>
    </ol>
  </section>

  <section class="schedule-day">
    <h1>
      <span>{{ _('Wednesday') }}</span>
      {{ _('February 26') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-24T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS for Any Screen Size') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T16:00" itemprop="startDate">16:00</time> &ndash; <time datetime="2014-02-24T16:25" itemprop="endDate">16:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('HTML5 App Acceleration') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T18:00" itemprop="startDate">18:00</time> &ndash; <time datetime="2014-02-24T18:45" itemprop="endDate">18:45</time>
        </div>
      </li>
    </ol>
  </section>

  <section class="schedule-day last">
    <h1>
      <span>{{ _('Thursday') }}</span>
      {{ _('February 27') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Privacy Seminar with Alex Fowler, Chief Privacy Officer, Mozilla') }}</span>
        <small>{{ _('GSMA Seminar Theatre 2 - CC1') }}</small>
        <div class="timeframe">
          <time datetime="2014-02-27T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-27T13:00" itemprop="endDate">13:00</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-27T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-27T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
    </ol>
  </section>
</div><!--/#schedule-days-->
