<div class="schedule-days">
  <section class="schedule-day">
    <h1>
      <span>{{ _('Monday') }}</span>
      {{ _('February 24') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Morning Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T09:00" itemprop="startDate">09:00</time> &ndash; <time datetime="2014-02-24T09:55" itemprop="endDate">09:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('“Delivering Positive Social and Economic Impact Through Open Technology” with Mitchell Baker, Executive Chair of Mozilla') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T14:00" itemprop="startDate">14:00</time> &ndash; <time datetime="2014-02-24T14:45" itemprop="endDate">14:45</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-24T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS for Any Screen Size') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T16:00" itemprop="startDate">16:00</time> &ndash; <time datetime="2014-02-24T16:25" itemprop="endDate">16:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Afternoon Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T17:00" itemprop="startDate">17:00</time> &ndash; <time datetime="2014-02-24T17:55" itemprop="endDate">17:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T18:00" itemprop="startDate">18:00</time> &ndash; <time datetime="2014-02-24T18:45" itemprop="endDate">18:45</time>
        </div>
      </li>
    </ol>
  </section>

  <section class="schedule-day">
    <h1>
      <span>{{ _('Tuesday') }}</span>
      {{ _('February 25') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Morning Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T09:00" itemprop="startDate">09:00</time> &ndash; <time datetime="2014-02-24T09:55" itemprop="endDate">09:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('“Advancing the Web” with Brendan Eich, CTO of Mozilla') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-25T14:00" itemprop="startDate">14:00</time> &ndash; <time datetime="2014-02-25T14:45" itemprop="endDate">14:45</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-24T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS for Any Screen Size') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T16:00" itemprop="startDate">16:00</time> &ndash; <time datetime="2014-02-24T16:25" itemprop="endDate">16:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Afternoon Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T17:00" itemprop="startDate">17:00</time> &ndash; <time datetime="2014-02-24T17:55" itemprop="endDate">17:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T18:00" itemprop="startDate">18:00</time> &ndash; <time datetime="2014-02-24T18:45" itemprop="endDate">18:45</time>
        </div>
      </li>
    </ol>
  </section>

  <section class="schedule-day">
    <h1>
      <span>{{ _('Wednesday') }}</span>
      {{ _('February 26') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Morning Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T09:00" itemprop="startDate">09:00</time> &ndash; <time datetime="2014-02-24T09:55" itemprop="endDate">09:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('“Delivering Positive Social and Economic Impact Through Open Technology” with Mitchell Baker, Executive Chair of Mozilla') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T14:00" itemprop="startDate">14:00</time> &ndash; <time datetime="2014-02-24T14:45" itemprop="endDate">14:45</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('The Future of Voice Panel Session with Brendan Eich, CTO & SVP Engineering, Mozilla') }}</span>
        <small>
          Conference Village, Hall 4<br>
          Auditorium 2<br>
          Conference Pass Required
        </small>
        <div class="timeframe">
          <time datetime="2014-02-26T14:00" itemprop="startDate">14:00</time> &ndash; <time datetime="2014-02-26T15:30" itemprop="endDate">15:30</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-24T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS for Any Screen Size') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T16:00" itemprop="startDate">16:00</time> &ndash; <time datetime="2014-02-24T16:25" itemprop="endDate">16:25</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Afternoon Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T17:00" itemprop="startDate">17:00</time> &ndash; <time datetime="2014-02-24T17:55" itemprop="endDate">17:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('HTML5 App Acceleration') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T18:00" itemprop="startDate">18:00</time> &ndash; <time datetime="2014-02-24T18:45" itemprop="endDate">18:45</time>
        </div>
      </li>
    </ol>
  </section>

  <section class="schedule-day last">
    <h1>
      <span>{{ _('Thursday') }}</span>
      {{ _('February 27') }}
    </h1>

    <ol>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Morning Media Briefings') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T09:00" itemprop="startDate">09:00</time> &ndash; <time datetime="2014-02-24T09:55" itemprop="endDate">09:55</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T10:00" itemprop="startDate">10:00</time> &ndash; <time datetime="2014-02-24T10:35" itemprop="endDate">10:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-24T11:35" itemprop="endDate">11:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Privacy Seminar with Alex Fowler, Chief Privacy Officer, Mozilla') }}</span>
        <small>GSMA Seminar Theatre 2 - CC1</small>
        <div class="timeframe">
          <time datetime="2014-02-27T11:00" itemprop="startDate">11:00</time> &ndash; <time datetime="2014-02-27T13:00" itemprop="endDate">13:00</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Sharing Insights: Marketplace Content Partners and Firefox for Android') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T12:00" itemprop="startDate">12:00</time> &ndash; <time datetime="2014-02-24T12:35" itemprop="endDate">12:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Firefox OS: Today, Tomorrow and the Next Generation Design Story') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-24T13:00" itemprop="startDate">13:00</time> &ndash; <time datetime="2014-02-24T13:35" itemprop="endDate">13:35</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('“Advancing the Web” with Brendan Eich, CTO of Mozilla') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-27T14:00" itemprop="startDate">14:00</time> &ndash; <time datetime="2014-02-27T14:45" itemprop="endDate">14:45</time>
        </div>
      </li>
      <li itemscope itemtype="http://schema.org/Event">
        <span itemprop="name">{{ _('Customizing for Market Needs') }}</span>
        <div class="timeframe">
          <time datetime="2014-02-27T15:00" itemprop="startDate">15:00</time> &ndash; <time datetime="2014-02-27T15:25" itemprop="endDate">15:25</time>
        </div>
      </li>
    </ol>
  </section>
</div><!--/#schedule-days-->
