<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Mozilla",
    "item": "https://www.mozilla.org"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "English",
    "item": "https://www.mozilla.org/en-US/"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "Firefox",
    "item": "https://www.mozilla.org/en-US/firefox/"
  },{
    "@type": "ListItem",
    "position": 4,
    "name": "Desktop Download",
    "item": "https://www.mozilla.org/en-US/firefox/new/"
  }]
}
</script>
