
{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}

{% from "macros.html" import sub_nav with context %}

{{ sub_nav(
  title={
    'text':  ftl('sub-navigation-firefox'),
    'href':  "https://www.firefox.com/?redirect_source=mozilla-org",
    'icon':  static('protocol/img/logos/firefox/browser/logo.svg')
  },
  links=[
    {
      'text':  ftl('sub-navigation-desktop'),
      'href':  "https://www.firefox.com/?redirect_source=mozilla-org",
      'cta_name': 'Desktop'
    },
    {
      'text': ftl('sub-navigation-mobile'),
      'href': url('firefox.browsers.mobile.index'),
      'cta_name': 'Mobile'
    },
    {
      'text': ftl('sub-navigation-features'),
      'href': url('firefox.features.index'),
      'cta_name': 'Features'
    },
    {
      'text': ftl('sub-navigation-compare-browsers'),
      'href': url('firefox.browsers.compare.index'),
      'cta_name': 'Compare Browsers'
    },
    {
      'text': ftl('sub-navigation-more'),
      'href': url('firefox.more'),
      'cta_name': 'More'
    }
  ]
) }}
