// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

// The basis for all buttons on mozilla.org
%base-button {
    @include open-sans;
    @include font-size(18px);
    @include transition(background-color 100ms ease-in-out);
    background: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    padding: .5em 36px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-decoration: none;

    @media #{$mq-tablet} {
        @include font-size(20px);
    }

    &:active {
        position: relative;
        top: 1px;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// Standard solid buttons, especially those not in a form context such as CTA and download buttons
.button,
button.button,
a.button:link,
a.button:visited {
    @extend %base-button;
    background-color: $color-mozblue;
    border-color: darken($color-mozblue, 3%);
    color: $color-button-light;

    &:hover,
    &:focus {
        background-color: saturate(lighten($color-mozblue, 5%), 10%);
    }

    &.button-dark {
        background-color: $color-button-dark;
        border-color: darken($color-button-dark, 3%);
        color: $color-button-light;

        &:hover,
        &:focus {
            background-color: saturate(lighten($color-button-dark, 5%), 10%);
        }
    }

    &.button-green {
        background-color: $color-button-green;
        border-color: darken($color-button-green, 3%);
        color: $color-button-light;

        &:hover,
        &:focus {
            background-color: saturate(lighten($color-button-green, 5%), 10%);
        }
    }

    &.button-red {
        background-color: $color-mozred;
        border-color: darken($color-mozred, 3%);
        color: $color-button-light;

        &:hover {
            background-color: saturate(lighten($color-mozred, 5%), 10%);
        }
    }

    &.button-orange {
        background-color: $color-button-orange;
        border-color: darken($color-button-orange, 3%);
        color: $color-button-light;

        &:hover,
        &:focus {
            background-color: saturate(lighten($color-button-orange, 5%), 10%);
        }
    }
}

// Hollow buttons, especially when used in forms
.button.button-hollow,
button.button.button-hollow,
a.button.button-hollow:link,
a.button.button-hollow:visited,
button.form-button,
input[type="submit"].form-button,
input[type='button'].form-button {
    @extend %base-button;
    background-color: transparent;
    border-color: $color-mozblue;
    color: $color-mozblue;

    &:hover,
    &:focus {
        background-color: transparentize($color-mozblue, .95);
        border-color: saturate(lighten($color-mozblue, 5%), 10%);
        color: saturate(lighten($color-mozblue, 5%), 10%);
    }

    &.button-light {
        color: $color-button-light;
        border-color: $color-button-light;

        &:hover,
        &:focus {
            background-color: transparentize($color-button-light, .95);
            border-color: darken($color-button-light, 5%);
            color: darken($color-button-light, 5%);
        }
    }

    &.button-dark {
        color: $color-button-dark;
        border-color: $color-button-dark;

        &:hover,
        &:focus {
            background-color: transparentize($color-button-dark, .95);
            border-color: saturate(lighten($color-button-dark, 5%), 10%);
            color: saturate(lighten($color-button-dark, 5%), 10%);
        }
    }

    &.button-red {
        color: $color-mozred;
        border-color: $color-mozred;

        &:hover,
        &:focus {
            background-color: transparentize($color-mozred, .95);
            border-color: saturate(lighten($color-mozred, 5%), 10%);
            color: saturate(lighten($color-mozred, 5%), 10%);
        }
    }
}

#newsletter-form .form-button {
    width: 100%;
}
