// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';


// privacy policy link that accompany most download buttons
.fx-privacy-link {
    @include font-size-extra-small;
    @include open-sans;
    display: block;
    text-align: center;

    a:link,
    a:visited {
        color: #fff;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        text-decoration: underline;
    }
}


// fxfamilynav overrides
.fxfamilynav-cta-wrapper {
    .button,
    a.button:link,
    a.button:visited {
        @include font-size(14px);
        padding: 10px 18px;
    }
}


// download button and related containers
ul.download-list {
    list-style-type: none;
    margin-bottom: 10px;

    li {
        margin-left: 0;
    }

    strong {
        font-weight: bold;
    }
}

.infobar {
    a.button {
        @include font-size(16px);
        margin-left: 20px;
        padding: 5px 18px;
    }
}

.download-dumb {
    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: 20px 0 0;

            .button {
                @include font-size(14px);
                margin-left: 3px;
                padding: 6px 10px;
            }
        }
    }
}

.download-button {
    display: inline-block;
    vertical-align: top;
}

.download-other {
    @include font-size(11px);
    @include open-sans;
    color: $color-text-tertiary;

    a:link,
    a:visited {
        color: #999;
    }

    a:hover,
    a:focus,
    a:active {
        color: #999;
        text-decoration: underline;
    }
}

/* !important used for strict download link enforcement */
/* stylelint-disable declaration-no-important  */

// Product download buttons
.download-button {
    .ios-download,
    .linux-arm-download,
    .unrecognized-download,
    .unsupported-download,
    .unsupported-download-osx,
    .nojs-download {
        display: none;
    }
}

// OS detection
.download-button .os_winsha1,
.download-button .os_win64,
.download-button .os_linux,
.download-button .os_linux64,
// Uncomment this to enable the win64 download buttons:
// .win7up.x86.x64 .download-button .os_win,
.android .download-button-desktop,
.windows.arm .download-button .os_win,
.linux.arm .download-button .os_linux,
.linux.x86.x64 .download-list .os_linux,
.download-button .os_win,
.download-button .os_osx,
.download-button .os_android,
.download-button .os_ios,
.no-js .download-list,
.other .download-list {
    display: none !important;
}

// Uncomment this to enable the win64 download buttons:
// .win7up.x86.x64 .download-button .os_win64,
.linux .download-button .os_linux,
.linux.x86.x64 .download-button .os_linux64,
.windows .download-button .os_win,
.osx .download-button .os_osx,
.android .download-button .os_android,
.download-button-android .os_android,
.android .download-button-desktop .download-list,
.android .download-button-desktop small.os_win,
.download-button-ios .os_ios,
.ios .download-button .os_ios,
.ios .download-button .ios-download,
.ios .download-button-desktop .download-list,
.other .download-button-android .download-list,
.other .download-button small.os_win {
    display: block !important;
}

.windows.arm .download-button .unsupported-download,
.linux.arm .download-button .linux-arm-download,
.oldwin .download-button .unsupported-download,
.oldmac .download-button .unsupported-download {
    display: block;
    max-width: 250px;
}

// Hide the privacy link if platform is unsupported.
.windows.arm .download-button .fx-privacy-link,
.linux.arm .download-button .fx-privacy-link,
.oldwin .download-button .fx-privacy-link,
.oldmac .download-button .fx-privacy-link {
    display: none;
}

.android .download-button-desktop,
.ios .download-button-desktop,
.no-js .download-button {
    .nojs-download {
        display: block;
    }
}

.other .download-button {
    .unrecognized-download {
        display: block;
    }
}

// Android architecture detection
.download-button .download-list .os_android.x86,
.download-button .download-other.os_android .arm,
.android.x86 .download-button .download-list .os_android.armv7up,
.android.x86 .download-button .download-other.os_android .x86 {
    display: none !important;
}

.android.x86 .download-button .download-list .os_android.x86 {
    display: block !important;
}

.android.x86 .download-button .download-other.os_android .armv7up {
    display: inline !important;
}

// IE on Windows XP, Server 2003, Vista need sha-1 button
.windows.sha-1 .download-button .os_win {
    display: none !important;
}

.windows.sha-1 .download-button .os_winsha1 {
    display: block !important;
}

/* stylelint-enable */
