// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';
@import '../includes/animations';


html.noscroll {
    overflow: hidden;
    height: 100%;

    body {
        height: 100%;
        overflow: hidden;
    }

    #modal {
        position: absolute;
    }

    @media #{$mq-tablet} {
        height: auto;

        body {
            height: auto;
        }

        #modal {
            position: fixed;
        }
    }
}


#modal {
    @include animation(pebbles-fade-in 300ms ease-in 0ms 1 normal both);
    background: #000;
    background: rgba(0, 0, 0, .85);
    bottom: 0;
    height: 101%;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;

    .window {
        color: #333;
        padding: 20px;

        .inner {
            position: relative;
            background: #fff;
            padding: 20px;
            @include clearfix;

            &> header {
                @include font-size(48px);
                color: #fff;
                display: block;
                height: auto;
                line-height: 1.3;
                padding: 0 60px 0 20px;
                background: $color-mozred;
                margin: -20px -20px 20px;
            }

            #modal-close {
                cursor: pointer;
                position: absolute;
                right: 9px;
                top: 9px;
                z-index: 99;

                a {
                    // TODO: remove <a> element from mozilla-modal.js with mozID rollout
                    display: none;
                }

                .button {
                    @include image-replaced;
                    background: transparent url('/media/img/mozid/modal-close.svg') center center no-repeat;
                    @include background-size(22px, 22px);
                    border-radius: 50%;
                    border: 2px solid #fff;
                    height: 42px;
                    min-width: 0;
                    padding: 0;
                    width: 42px;

                    &:hover,
                    &:focus {
                        @include transform(scale(1.1));
                        box-shadow: none;
                    }
                }
            }

            .overlay-contents {
                background: transparent;
                margin: 0 auto;
                padding-top: 20px;

                img, iframe {
                    max-width: 100%;
                }
            }
        }
    }
}

/* Tweaks for RTL locales */
html[dir="rtl"] {
    #modal .window .inner #modal-close {
        left: 9px;
        right: auto;
        text-align: left;
    }
}

@media #{$mq-desktop} {
    #modal .inner {
        margin: 20px auto 60px;

        .footer {
            @include clearfix;
            padding-left: 30px;
            padding-right: 30px;

            div {
                padding: 0;
                @include span(4);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
