// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/animations';
@import '../../pebbles/includes/lib';

#newsletter-subscribe {
    background: $color-mozred;
    color: #fff;
    padding-top: 20px;

    // contains all newsletter elements - errors, form, thank you
    .content {
        padding: 40px 0;
        width: $width-phone;
    }

    // container for <h3> and <h4>
    .form-title {
        background: url('/media/img/newsletter/mozorg-newsletter.svg') center top no-repeat;
        @include background-size(100px 100px);
        padding: 120px 0 20px 0;
        text-align: center;
    }

    // newsletter title and "Thanks!" after submission
    h3 {
        @include font-size(32px);
        margin: 0 0 0.2em;
        text-align: center;
    }

    // newsletter subtitle
    h4 {
        @include font-size(20px);
        font-weight: normal;

        @media #{$mq-desktop} {
            @include font-size(24px);
            line-height: 1.1;
        }
    }

    .field {
        margin-bottom: 10px;

        label {
            display: block;
            margin-bottom: 0.1em;
        }
    }

    // html/text radio buttons
    .field-format label {
        @include open-sans;
        display: inline;
        margin-right: 20px;
    }

    // privacy checkbox
    .field-privacy {
        @include font-size(12px);
        @include open-sans;

        input {
            float: left;
        }

        .title {
            display: block;
            padding-left: 25px;
        }
    }

    a {
        color: #fff;
    }

    input[type='email'] {
        @include border-box;
        @include font-size(16px);
        @include transition(all 0.1s linear);
        border: 0;
        border-radius: 4px;
        line-height: 1.1;
        padding: 0.75em 20px;
        width: 100%;
    }

    select {
        @include font-size(14px);
        @include open-sans;
        line-height: 1.5;
        max-width: 80%;
    }

    // copy underneath "Sign Up Now" button
    p.form-details {
        @include open-sans;
        line-height: 1;
        margin-top: 8px;
    }

    // wrapper for thank you elements
    .thank {
        padding-top: 20px;

        p {
            @include animation(pebbles-fade-in 0.5s ease-in 0.8s 1 normal both);
            margin-top: 20px;
        }
    }

    .errorlist {
        background: #fff;
        color: $color-mozred;
        padding: 10px 20px;
    }

    @media #{$mq-phone-wide} {
        .content {
            width: $width-phone-wide;
        }
    }

    @media #{$mq-tablet} {
        .content {
            width: $width-tablet;
        }

        #newsletter-form {
            @include clearfix;
            float: left;
            margin-left: 430px;
            width: 280px;
        }

        .form-title {
            @include background-size(120px 120px);
            background-position: left 10px;
            float: left;
            margin: -10px 10px 0 -400px;
            padding: 10px 0 20px 140px;
            text-align: left;
            width: 220px;
        }

        h3 {
            text-align: left;
        }
    }

    @media #{$mq-desktop} {
        .content {
            width: $width-desktop;
        }

        #newsletter-form {
            margin-left: 570px;
            padding-top: 20px;
            width: 380px;
        }

        .form-title {
            @include background-size(150px 150px);
            background-position: left top;
            margin: -20px 10px 0 -540px;
            min-height: 120px;
            padding-left: 180px;
            width: 300px;
        }

        h3 {
            @include font-size(40px);
        }

        h4 {
            @include font-size(24px);
        }
    }
}

.js {
    // hide details for JS users
    // (displayed when email field is focused)
    #form-details,
    .form-details {
        display: none;
    }

    // spinner circa the web 2 point oh
    #newsletter-spinner {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

html[dir="rtl"] #newsletter-subscribe {
    h3,
    h4 {
        text-align: right;
    }
}
