// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

.moz-video-button {
    display: none;
}

.moz-video-container {
    position: relative;
}

.js {
    .moz-video-container video {
        z-index: 0;
    }

    .moz-video-button {
        @include background-size(cover);
        background-color: transparent;
        background-position: top left;
        background-repeat: no-repeat;
        border: none;
        bottom: 0;
        color: #fff;
        cursor: pointer;
        font-size: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;

        &:after {
            @include transition(opacity .3s);
            background: url('/media/img/icons/video-play.svg') top left no-repeat;
            content: '';
            height: 100px;
            left: 50%;
            margin: -50px 0 0 -50px;
            opacity: 0.7;
            position: absolute;
            top: 50%;
            width: 100px;
            z-index: 2;
        }

        &:hover:after,
        &:focus:after {
            opacity: 1;
        }
    }

    .supports-video {
        .moz-video-button {
            display: block;
        }
        .moz-video-container video {
            visibility: hidden;
        }
    }
}
