{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol-mozilla.html" %}

{% block page_title_suffix %} — {{ ftl('vpn-shared-product-name') }}{% endblock %}

{% block page_image %}{{ static('img/products/vpn/common/social-share.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/favicons/vpn/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/favicons/vpn/favicon.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/favicons/vpn/favicon.png') }}{% endblock %}

{% set show_events_banner = vpn_available_in_country(country_code) and
                                    ftl_has_messages('banner-vpn-holidays-take-20-percent-off', 'banner-vpn-holidays-use-coupon-code', 'banner-vpn-holidays-get-annual-sub', 'banner-vpn-holidays-offer-ends') and
                                    switch('vpn-events-banner') %}

{% set show_holidays_na_banner = switch('vpn-holidays-na-test') and country_code in ['US', 'CA'] and entrypoint_variation == '1'%}

{% block sub_navigation %}
  {% include 'products/vpn/includes/subnav.html' %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% if show_events_banner %}
    {{ css_bundle('mozilla-vpn-events-banner') }}
  {% endif %}

  {% if show_holidays_na_banner %}
    {{ css_bundle('mozilla-vpn-events-banner') }}
  {% endif %}

{% endblock %}

{% block page_banner %}
{% if show_events_banner and show_holidays_na_banner %}
  {% include 'includes/banners/vpn-events-banner.html' %}
{% endif %}

{% if not show_holidays_na_banner %}

{% endif %}

{% if show_events_banner%}
  {% include 'includes/banners/vpn-events-banner.html' %}
{% endif %}

{% endblock %}

{% block js %}
  {% if show_events_banner %}
    {{ js_bundle('mozilla-vpn-events-banner') }}
    {{ js_bundle('fxa_product_button') }}
    {{ js_bundle('data_begincheckout') }}
  {% endif %}

  {% if show_holidays_na_banner %}
    {{ js_bundle('mozilla-vpn-holidays-na-experiment-banner') }}
    {{ js_bundle('fxa_product_button') }}
    {{ js_bundle('data_begincheckout') }}
  {% endif %}

{% endblock %}

{% block third_party_js %}
  <script async src="https://js.stripe.com/v3/"></script>
{% endblock %}
