{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "privacy/index" %}
{% from "macros-protocol.html" import sidemenu_lists with context %}
{% extends "base-protocol-mozilla.html" %}

{% block page_css %}
  {{ css_bundle('privacy_protocol') }}
{% endblock %}

{% block page_title %}
  {{ doc.h1.string|join|safe }}
{% endblock %}

{% block page_desc %}
  {{ _('Our Privacy Notices describe the data our products and services receive, share, and use, as well as choices available to you.') }}
{% endblock %}

{% if LANG == 'de' %}
  {# bug 1319207 - As product names are not exposed to L10n, best to specify unique name for de #}
  {% set focus_url = url('privacy.notices.firefox-klar') %}
  {% set focus_name = 'Firefox Klar' %}
{% else %}
  {% set focus_url = url('privacy.notices.firefox-focus') %}
  {% set focus_name =  ftl('privacy-index-firefox-focus') %}
{% endif %}

{% set navigation_bar = [
  (url('privacy'), 'privacy-home', ftl('privacy-index-mozilla-privacy')),
  (url('privacy.notices.websites'), 'privacy-websites', ftl('privacy-index-mozilla-websites-communications')),
  (url('privacy.notices.firefox'), 'privacy-quantum', ftl('privacy-index-firefox-browser')),
  (url('privacy.notices.firefox-betterweb'), 'privacy-betterweb', ftl('privacy-index-firefox-better-web')),
  (url('privacy.notices.firefox-fire-tv'), 'privacy-fire-tv', ftl('privacy-index-firefox-fire-tv')),
  (url('privacy.notices.firefox-reality'), 'privacy-reality', ftl('privacy-index-firefox-reality')),
  (url('privacy.notices.firefox-os'), 'privacy-os', ftl('privacy-index-firefox-os')),
  (focus_url, 'privacy-focus', focus_name),
  (url('privacy.notices.firefox-private-network'), 'privacy-private-network', ftl('privacy-index-firefox-private-network')),
  (url('privacy.notices.firefox-relay'), 'privacy-relay', ftl('privacy-index-firefox-relay')),
  (url('privacy.notices.mozilla-vpn'), 'mozilla-vpn', ftl('privacy-index-mozilla-vpn')),
  (url('privacy.notices.thunderbird'), 'privacy-thunderbird', ftl('privacy-index-thunderbird')),
] -%}

{% block content %}
<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-left">
  <aside class="mzp-l-sidebar">
    {{ sidemenu_lists([navigation_bar], body_id) }}
    {% block side_extra %}{% endblock %}
  </aside>
  <article class="mzp-l-main" itemtype="http://schema.org/Article">
    {% block article %}
    <header>
      {% if self.article_header_logo()|trim|length %}
      <img class="privacy-logo" src="{% block article_header_logo %}{% endblock %}" alt="">
      {% endif %}
      <div class="privacy-title">
        <h1 itemprop="name">{% block title %}{% endblock %}</h1>
        {% block time %}{% endblock %}
      </div>

      {% if self.lead_in()|trim|length %}
      <div class="privacy-lead-in">
        {% block lead_in %}{% endblock %}
      </div>
      {% endif %}
    </header>
    <main class="privacy-body" itemprop="articleBody">
      {% block sections %}
      {% endblock %}
    </main>
    <footer class="privacy-footnote">
      <div>
        {% if self.footnote()|trim|length %}
          {% block footnote%}{% endblock %}
        {% endif %}
      </div>
    </footer>
    {% endblock %}
  </article>
</div>
{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {{ js_bundle('privacy_protocol') }}
{% endblock %}
