{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "privacy/base-protocol.html" %}

{% block page_title %}{{ ftl('privacy-faq-mozillas-data-privacy-faq') }}{% endblock %}
{% block page_desc %}{{ ftl('privacy-faq-at-mozilla-we-respect-and-protect-desc') }}{% endblock %}

{% block body_id %}privacy-faq{% endblock %}
{% block body_class %}mzp-t-mozilla{% endblock %}

{% block article %}
  <header>
    <h1 class="mzp-c-article-title" itemprop="name">{{ self.page_title() }}</h1>
  </header>
  <div itemprop="articleBody" class="mzp-c-article">
    <h2>
      {{ ftl('privacy-faq-we-stand-for-people-over-profit') }}
    </h2>
    <p>
      {{ ftl('privacy-faq-it-can-be-tricky-for-people') }}
    </p>
    <p>
      {{ ftl('privacy-faq-at-mozilla-we-respect-and-protect') }}
    </p>

    <ul class="mzp-u-list-styled">
      <li>
        {{ ftl('privacy-faq-we-follow-a-set-of-data-privacy', link=url('privacy.principles')) }}
      </li>
      <li>
        {{ ftl('privacy-faq-we-only-collect-the-data-we') }}
      </li>
      <li>
        {{ ftl('privacy-faq-we-put-people-in-control-of') }}
      </li>
      <li>
        {{ ftl('privacy-faq-we-adhere-to-no-surprises-principle') }}
      </li>
    </ul>

    <p>
      {{ ftl('privacy-faq-the-following-questions-and') }}
    </p>

    <dl class="mzp-u-list-styled">
      <dt>
        {{ ftl('privacy-faq-i-use-firefox-for-almost-everything') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-firefox-the-web-browser-that') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-really-you-dont-collect-my-browsing') }}
      </dt>
      <dd>
        <p>
            {{ ftl('privacy-faq-mozilla-doesnt-know-as-much-v2') }}
        </p>
      <dt>
          {{ ftl('privacy-faq-it-seems-like-every-company') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-mozilla-doesnt-sell-data-about') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-wait-so-how-do-you-make-money') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-mozilla-is-not-your-average', link=url('foundation.annualreport')) }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-okay-those-first-few-were-softballs') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-mozilla-does-collect-a-limited', privacy=url('privacy.notices.firefox'), data='https://firefox-source-docs.mozilla.org/toolkit/components/telemetry/telemetry/') }}
        </p>
        <p>
          {{ ftl('privacy-faq-we-make-our-documentation-public') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-that-documentation-is-gobbledygook') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-there-are-two-categories-of') }}
        </p>
        <p>
          {{ ftl('privacy-faq-the-first-is-what-we-call-technical') }}
        </p>
        <p>
          {{ ftl('privacy-faq-the-second-is-what-we-call-interaction') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-do-you-collect-more-data-in') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-sort-of-in-addition-to-the-data') }}
        </p>
        <p>
          {{ ftl('privacy-faq-we-may-also-collect-additional', link='https://support.mozilla.org/kb/shield') }}
        </p>
        <p>
          {{ ftl('privacy-faq-mozillas-pre-release-versions') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-but-why-do-you-collect-any-data') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-if-we-dont-know-how-the-browser') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-data-collection-still-bugs-me') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-yes-user-control-is-one-of-our', settings='https://support.mozilla.org/kb/firefox-options-preferences-and-settings', data='https://support.mozilla.org/kb/share-telemetry-data-mozilla-help-improve-firefox#w_how-do-i-opt-in-or-opt-out-of-sending-performance-data') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-what-about-my-account-data') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-we-are-big-believers-of-data') }}
        </p>
        <p>
          {{ ftl('privacy-faq-you-dont-need-an-account-to', accounts=url('firefox.accounts')) }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-you-use-digital-advertising') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-no-we-do-not-buy-peoples-data') }}
        </p>
        <p>
          {{ ftl('privacy-faq-we-do-ask-our-advertising-partners') }}
        </p>
      </dd>
      <dt>
        {{ ftl('privacy-faq-well-it-seems-like-you-really') }}
      </dt>
      <dd>
        <p>
          {{ ftl('privacy-faq-yes-we-do') }}
        </p>
      </dd>
    </dl>

    <p>
      <a href="https://internethealthreport.org/">{{ ftl('privacy-faq-find-out-more-about-how-mozilla') }}</a>
    </p>

  </div>
{% endblock %}
