{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "sand.html" %}

{% block body_id %}privacy{% endblock %}

{% block page_title %}Firefox Privacy Policy{% endblock %}

{% block extrahead %}
  {{ css('privacy') }}
{% endblock %}

{% block content %}

<div id="main-content">
  <div class="row">
    <article id="top" class="span7" role="main">
    
      <hgroup>
        <h1>Firefox Privacy Policy</h1>
        <h2>$FIXME:[publication date]</h2>
      </hgroup>
    
      <p>This policy describes what the latest stable desktop version of Firefox does with information about you, and how Mozilla (we make 
        Firefox) deals with any info we get. The top part of this policy explains Firefox's general operation, and lower down you can read 
        about some of our specific features.</p>
      <p>Except for the specific section below regarding [experimental versions](#experimental) of Firefox, this policy does not apply to 
        experimental versions of Firefox, such as Beta, Aurora or Nightly (which may work in unexpected ways and have new, untested features).
         This policy applies to mobile versions of Firefox, except that mobile versions do not have the [Safe Browsing and Web Forgeries](#safebrowsing) features.</p>
      <p>This policy also does not apply to previous versions of Firefox. Learn more about previous versions of Firefox [here]($FIXME:[link to privacy policies history page]).</p>
      <h3>Experimental and Testing Versions</h3>
      <p>Nightly and Aurora are the highly experimental versions of Firefox where we build, test, and try out new things. Every day, features
         get added, changed, or removed and not all of them work. Some of them will break in new and exciting ways, causing things to go
         horribly wrong, and some will do things that nobody expected. Beta is a more polished experimental version which tests out the next
         version of Firefox for a few weeks before we officially release it. Although it's more refined than Nightly and Aurora, things are
         still experimental and can break.</p>
      <p>We release these early, experimental versions so that people can see what we're working on, try things out, and give us feedback. 
        To make this easier, Aurora and Nightly have [Telemetry](#Telemetry) turned on by default.</p>
      <p>Only this section of this privacy policy applies to experimental (including Beta, Nightly or Aurora) builds of Firefox. Because 
        features change so frequently in our testing editions, we don't add new features to this privacy policy until they make it into the 
        finished version of Firefox. If you don't want to use unpredictable, experimental builds and (sometimes automatically) give us 
        feedback, you should stick to regular Firefox.</p>
      <p>If you're using [Beta](https://mozilla.org/beta), [Aurora](https://mozilla.org/firefox/aurora/) or [Nightly](https://nightly.mozilla.org/) 
        versions of Firefox, An add-on called [Test Pilot](https://testpilot.mozillalabs.com/) comes pre-installed. Test Pilot has its own 
        [privacy policy](https://testpilot.mozillalabs.com/privacy.php).</p>
      <h3>Personal Information</h3>
      <p>For us, "personal information" is either:</p>
      <ol>
        <li>information which identifies you, like your name or email address; or </li>
        <li>a combination of several pieces of information which couldn't identify you on their own, but which could become identifiable to 
          you when connected together.</li>
      </ol>
      <p>If we store personal information with other information that is not personal, we treat the combination like personal information.</p>
      <p>Firefox isn't designed to collect personal information about you and send it back to Mozilla without your consent. There are some 
        features (like [crash reporting](#crash-reporting)) where we give you notice and you have the option to send us some personal 
        information.</p>
      <h3>How we learn info about you</h3>
      <p>There are four general ways we get information about you:</p>
      <ol>
        <li>You give it to us directly (like when you choose to send us crash reports).</li>
        <li>We collect it automatically (like when we check whether or not your version of Firefox is up to date).</li>
        <li>Someone else tells us something about you.</li>
        <li>We try and understand more about you based on information you've already given us (like guessing that you're in the US because 
          you have a US IP address).</li>
      </ol>
      <p>By default, Firefox automatically sends the following information to Mozilla from time to time:</p>
      <ul>
        <li>Your list of [add-ons](#addons), and some version info needed keep them up-to-date, and disable them if they're broken. 
          [Read more](#addons) and learn how to disable these features.</li>
        <li>Version and related info needed to do [automatic updates](#updates). [Read more](#updates) and learn how to disable this feature.</li>
        <li>Our [Safe Browsing](#safebrowsing) feature sends some technical information to Google so that Firefox can try to protect you from
           malicious sites. [Read more](#safe-browsing) and learn how to disable this feature.</li>
        <li>The [Metrics system](#metrics) sends a small amount of usage information, like what version of Firefox you are using and how long
           it took for Firefox to start up, among others, back to Mozilla so that we can make Firefox better. [Read more](#metrics) and learn
            how to disable this feature.</li>
        <li>Firefox and our and Beta builds allow you to opt-in to a feature called [Telemetry](#telemetry) that gives more granular 
          information about how you use Firefox. Aurora and Nightly (our unstable or alpha builds) enable Telemetry by default. 
          [Read more](#telemetry) and learn how to disable this feature.</li>
      </ul>
      <p>We've created these features to help you have a safe browsing experience and to make Firefox better. You can turn off these 
        features, but we don't recommend it. Turning off Safe Browsing, automatic updates or add-on updates could cause Firefox to work 
        improperly, or expose you to security vulnerabilities. Turning off the Metrics system will keep us from collecting information that 
        we need to improve Firefox and find &amp; remove bugs.</p>
      <h3>What we do with your info</h3>
      <p>We use your information to help us provide better products and services to you. When you give us personal information, we will only 
        use it for the reasons we told you about when you gave it to us, including as described in this policy.</p>
      <h3>When we share things</h3>
      <p>Mozilla is an open organization, and we publish anonymized information that we think will make our products better or help foster 
        an open web, but only in a way that we think respects the privacy of our users. Whenever we publish information about our users in 
        this way, we'll remove any info that we believe can identify you and try to make sure that you can't be re-identified from any data 
        we publish in this way.</p>
      <p>If we share your personal information, we only share it with employees, contractors and service providers who have contractually 
        promised to handle the data in ways that are approved by Mozilla. If our corporate structure or status changes (like if we 
        restructure, are acquired, or go bankrupt) we'll pass on your information to a successor or affiliate.</p>
      <h3>Legal Process</h3>
      <p>When a government agency or someone involved in a lawsuit asks for your personal info, we'll only give it to them if we have a good 
        faith belief that:</p>
      <ul>
        <li>the law requires us to or,</li>
        <li>it is reasonably necessary to do so to prevent harm to someone.</li>
      </ul>
      <p>We follow the law whenever we receive requests about you like this and we'll notify you any time we are asked to hand over your 
        personal info like this unless we're legally prohibited from doing so, or circumstances require otherwise.</p>
      <h3>How we store and protect your info</h3>
      <p>We work hard to protect your information. We take steps to make sure that anyone (like an employee or contractor) we show your 
        personal information has a good reason to see it and is only allowed to do Mozilla-approved things with it.</p>
      <p>Despite our efforts, we can't guarantee that hackers can't break in and access your data. If we find out about a security breach, 
        we'll try hard to let you know so that you can take appropriate protective steps. We only keep information as long as we need to do 
        the thing we collected it for. Once we don't need it any more, we'll destroy it unless we are forced by law to keep it longer.</p>
      <h3>International Privacy</h3>
      <p>Privacy laws and expectations vary from country to country. We're a global company and our computers are in several different 
        places around the world. We also use service providers whose computers may also be in various countries. This means that any 
        information we have about you might end up on one of those computers in another country, and that country may have a different level 
        of data protection regulation than yours.</p>
      <h3>Children</h3>
      <p>If you are under 13, you must not provide us with your personally identifiable information. If you are a parent and believe that 
        your child who is under 13 has provided us with personally identifiable information, please [contact us](#contact) to have your 
        child’s information removed.</p>
      <h3>Changes to this policy</h3>
      <p>Sometimes, we change our privacy policies. When we do, we'll post a notice about the change at <$FIXME:[link to main privacy page]>. 
        You should come back to check for changes. You could also subscribe to this [RSS feed]($FIXME:[privacy-policy-changes-rss-feed]) instead.</p>
      <h3>Contact us</h3>
      <p>If you want to make a correction to your information, or you have any  questions about our privacy policies, please get in touch with:</p>
      <p>Mozilla Corporation<br />Attn: Legal Notices -- Privacy<br />650 Castro Street, Suite 300<br />Mountain View, CA 94041-2072</p>
      <p>Phone: +1-650-903-0800</p>
      <p>E-mail: privacy@mozilla.com</p>
      <h3>Specific Features</h3>
      <h4>Add-ons, Plugins, and Themes</h4>
      <p>Add-ons allow you to extend Firefox by installing new features. Themes are add-ons that let you personalize the look of your browser. While 
        Mozilla makes some add-ons,most are made by other people. Add-ons are available from <https://addons.mozilla.org>, and some of the 
        add-ons-related features send and receive info from here. </p>
      <h4>Get Add-ons Page</h4>
      <p>The Get Add-ons pane of the Add-ons Manager (&lt;about:addons>) displays recommendations based  on the add-ons you already have installed. 
        To get these recommendations, Firefox Mozilla information about the add-ons you have installed, and Firefox's version. This communication 
        only happens when the Get Add-ons area is opened. [These instructions](http://blog.mozilla.com/addons/how-to-opt-out-of-add-on-metadata-updates/) 
        tell you how to turn this feature off.</p>
      <h4>Add-on Information and Finding New Add-ons</h4>
      <p>Once per day, Firefox communicates with Mozilla to update our information about addons. This communication includes the list of 
        add-ons you have installed, Firefox version information, and how long it took Firefox to start up. 
        [These instructions](http://blog.mozilla.com/addons/how-to-opt-out-of-add-on-metadata-updates/) tell you how to turn this feature off. 
        When you look for add-ons through about:addons, that request is set to Mozilla so that we can give you the results.</p>
      <h4>Blocklist</h4>
      <p>Once per day Firefox checks to see if you have any harmful add-ons or plug-ins installed and disables add-ons or plug-ins that we 
        think contain known vulnerabilities or major user-facing issues or fatal bugs (e.g., Firefox  crashes on startup or something causes 
        an endless loop). This check sends Mozilla, Firefox's version information, your operating system, your language preference, and a 
        cookie. Although we think it's a really bad idea, [these instructions](http://support.mozilla.com/en-US/kb/Firefox+makes+unrequested+connections#Extension_blocklist_updating/) 
        tell you how to turn this feature off.</p>
      <h4>Automatic Updates</h4>
      <p>Firefox periodically check for updates to itself and it's add-ons. This feature sends Firefox's version information, your language 
        preference, your operating system, and an unique cookie to Mozilla. You can turn this feature off in Firefox’s preferences by following 
        [these instructions](https://support.mozilla.com/en-US/kb/Firefox%20makes%20unrequested%20connections#Auto_update_checking).</p>
      <h4>Crash-Reporting</h4>
      <p>Whenever Firefox crashes, you have the option to send Mozilla a crash report right after Firefox crashes. These reports contain all kinds of 
        technical info that we hope our engineers can use to work out why Firefox crashed, and make sure that doesn't happen in future versions. 
        Crash reports are available online at <http://crash-stats.mozilla.com/>. If you include your email address in the email box, it doesn't get 
        published, but anything you put in the comments box is publically visible.</p>
      <h4>Location-aware features</h4>
      <p>Firefox has a feature which allows sites to request your location. If a site requests your location, Firefox asks whether you want to share 
        your location with that site. If you tell Firefox to let a site know where you are, Firefox may use any of the following:</p>
      <ul>
        <li>your operating system's geolocation feature,</li>
        <li>which wifi networks are nearby (and how strong their signals are),</li>
        <li>which cell phone towers are nearby (and how strong their signals are), and</li>
        <li>your IP address,</li>
      </ul>
      <p>if available, to try and estimate your location. Estimating your location involves sending some of this info to Google's geolocation 
        service, which has it's own [privacy policy](http://www.google.com/privacy-lsf.html).</p>
      <h4>Private Browsing</h4>
      <p>If you use Firefox's private browsing mode, Firefox won't keep any browser history, search history, download history, web form history, 
        cookies, or temporary internet files. However, files you download and bookmarks you make will be kept. Please read [this article](https://support.mozilla.com/kb/Private%20Browsing) for more info about how it works, and what it does and doesn't do.</p>
      <h4>Safe Browsing and Web Forgeries</h4>
      <p><em>Not applicable to mobile versions of Firefox</em></p>
      <p>Firefox tries to show a warning if the website you are visiting is suspected of impersonating a legitimate website, or trying to infiltrate 
        or damage your computer. Firefox checks the blacklist of suspected malicious sites about twice per hour. Using a clever scheme of hashing 
        URLs, sending dummy URLs, and only downloading pieces of the blacklist at a time, we try to make sure that the safe browsing service doesn't 
        know which sites you've visited, and that Firefox doesn't have to store the whole blacklist. If you still want to turn off this feature, 
        [these instructions](http://support.mozilla.com/en-US/kb/Options%20window%20-%20Security%20panel?bl=n&s=suspected%20web%20forgery) tells you 
        how.</p>
      <p>You can also report suspected web forgeries whenever you encounter a suspected malicious "phishing" or fraudulent website that is 
        impersonating a legitimate website. This feature sends your comments about the suspected fraudulent  website Google, the blacklist provider. 
        Google has a [privacy policy](https://code.google.com/apis/safebrowsing/firefox3_privacy.html) specifically for the blacklist.</p>
      <p><em>Although we and our partners try to use a good list of suspicious sites, we can't know every malicious site. Please don't rely on this 
        feature to protect you all the time.</em></p>
      <h4>Search Bar</h4>
      <p>When you use the search bar, your search gets sent to your chosen search provider, much like if you'd typed it in on their webpage. 
        The search query does not get sent to Mozilla without your consent.</p>
      <h4>Sync</h4>
      <p>Firefox Sync is a service that allows you to keep you bookmarks, browsing history, passwords, settings and so on up to date on all your 
        versions of Firefox. When you use Sync, all the information you synchronize is completely encrypted from Mozilla. Firefox Sync has a privacy 
        policy(https://services.mozilla.com/privacy-policy/) of its own that will only apply to you if you use the Sync service. 
        Learn More(https://www.mozilla.org/en-US/mobile/sync/) about Sync. </p>
      <h4>Usage Statistics (Metrics)</h4>
      <p>The Metrics system in Firefox automatically sends a small amount of non-personally-identifiable usage information back to Mozilla. This 
        data is designed to help us get a feel for how Firefox is used in the real world so that we can make it better to you. Metrics collects the 
        following pieces of information:</p>
      <ul>
        <li>The version of Firefox being used, including the distributor and and release channel (Stable, Beta, Aurora, or Nightly);</li>
        <li>The operating system platform Firefox is running on;</li>
        <li>Firefox's uptime, startup time, and the current Firefox profile's age;</li>
        <li>How many addons, bookmarks, and history items Firefox has;</li>
        <li>How many times Firefox has crashed recently;</li>
        <li>How often you have done web searches in different ways recently (but not the content of those searches); and</li>
        <li>How long Firefox has been running and in use recently.</li>
      </ul>
      <p>Individual data points from Metrics are only kept for six months, after which they are irreversibly aggregated. You can see your 
        Metrics information at &lt;about:metrics>. You can disable Metrics by following [these instructions]($FIXME:[link disabling metrics]), 
        and delete all Mozilla's Metrics data about your copy of Firefox [here]($FIXME:[link metrics killswitch]).</p>
      <h4>Telemetry</h4>
      <p>Telemetry is an opt-in system to allow you to send Mozilla information about performance, hardware, usage and customizations in your 
        copy of Firefox. Telemetry is designed to allow Mozilla engineers to test and learn about really deep technical nitty-gritty in Firefox out 
        in the real world, rather than in our much more controlled lab environment. This helps us fine-tune Firefox’s performance to make it better, 
        faster and more responsive.</p>
      <p>Because the specific questions that our engineers are interested change depending which pieces of Firefox they're trying to test or improve, 
        the exact information that Telemetry sends Mozilla may change regularly. Telemetry is disabled by default in Firefox and Beta, but enabled by 
        default in Aurora and Nightly. You can follow [these instructions]($FIXME:[link to turning off Telemetry]) to turn Telemetry off.</p>
      <form name="contact_privacy" id="contact_privacy" action="/" method="post">
        <fieldset>
          <legend>Requests or other questions</legend>
          <div class="field">
            <label for="name" class="open-sans-light">Your name:</label>
            <input type="text" id="name" name="name" required="true" />
          </div>
          <div class="field">
            <label for="email">Your email:</label>
            <input type="email" id="email" name="email" required="true" placeholder="you@yourdomain.com" />
          </div>
          <div class="field">
            <label for="comments">Your comments:</label><br />
            <textarea id="comments" cols="77" rows="10"></textarea>
          </div>
          <input type="submit" class="button" value="Send comments&nbsp;»" id="contact_privacy_submit">
        </fieldset>
      </form>
      <section class="policy-archive">
        <h3>Prior Policies</h3>
        <ul>
          <li><a href="{{ url('privacy.archive.firefox-october-2006') }}">October 2006</a></li>
          <li><a href="{{ url('privacy.archive.firefox-june-2008') }}">June 2008</a></li>
          <li><a href="{{ url('privacy.archive.firefox-january-2009') }}">January 2009</a></li>
          <li><a href="{{ url('privacy.archive.firefox-mobile-september-2009') }}">Firefox Mobile - September 2009</a></li>
          <li><a href="{{ url('privacy.archive.firefox-january-2010') }}">January 2010</a></li>
          <li><a href="{{ url('privacy.archive.firefox-december-2010') }}">December 2010</a></li>
        </ul>
      </section>
    </article>

    <div id="sidebar" class="span3">
      <h3>In the news</h3>
      <ul>
        <li><h4><a href="http://blog.mozilla.com/blog/2012/03/22/new-adventures-for-dolly-bernadette-and-winston/">New Adventures for Dolly, Bernadette, and Winston</a></h4></li>
        <li><h4><a href="http://blog.mozilla.com/blog/2012/03/19/video-user-experience-and-our-mission/">Video, user experience and our mission</a></h4></li>
        <li><h4><a href="http://blog.mozilla.com/blog/2012/03/13/firefox-adds-new-developer-tools-and-add-on-sync/">Firefox Adds New Developer Tools and Add-on Sync</a></h4></li>
      </ul>
      <a href="http://blog.mozilla.com/" id="all-news">See all news »</a>
    </div>
  </div>
</div>

{% endblock %}
