// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

@import '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@import '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-firefox';

.seo-hero {
    background: $color-purple-90 url('/media/img/firefox/browsers/best-browser/hero-pattern.png') 55% 60% no-repeat;
    @include background-size(2500px);
    color: get-theme('body-text-color-inverse');
    text-align: center;
    min-height: 520px;
    margin-bottom: $spacing-xl;

    .hero-content {
        padding-top: $layout-xl;
        padding-bottom: $layout-xl;

        .mzp-c-logo {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            @include font-base;
            @include text-title-lg;
            color: get-theme('title-text-color-inverse');
            margin: 0 auto $spacing-2xl;
            max-width: 580px;
        }

        p {
            color: $color-orange-50;
            font-weight: bold;
        }

        img {
            margin-bottom: $spacing-md;
        }
    }
}

.mzp-c-article {
    margin: 0 auto $layout-lg;

    hr {
        border: 0 solid $color-purple-90;
        border-top-width: 4px;
        margin: $layout-lg auto $layout-lg;
        width: 100px;
    }

    .article-section {
        margin-bottom: $layout-lg;

        h2 {
            @include font-base;
            @include text-title-md;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Call out

.mzp-c-call-out-compact.mzp-t-dark {
    background: $color-purple-90;

    .mzp-c-call-out-title {
        color: $color-orange-50;
    }
}
