// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import "../../../protocol/css/includes/lib";
@import "../../../protocol/css/components/split";
@import '../../../protocol/css/components/emphasis-box';
@import '../../../protocol/css/components/logos/logo-product-firefox';
@import '../../../protocol/css/components/picto';
@import '../../../protocol/css/templates/multi-column';


.mzp-c-split .mzp-c-logo {
    margin: -$spacing-lg 0 $spacing-xl;
}

.mzp-c-emphasis-box {
    margin-bottom: $layout-xl;
}

.quantum-highlights {
    margin-bottom: $layout-xl;

    @media #{$mq-lg} {
        padding-left: $layout-xl;
        padding-right: $layout-xl;
    }
}
