[run]
source = bedrock,lib,bin
omit =
    .circleci/*
    .github/*
    .venv/*
    **/migrations/*
    **/tests/*
    config/*
    conftest.py
    docs/*
    manage.py
    node_modules/*
    python_coverage/*
    setup.py
    static/*
    test_infra/*
    tests/*
    venv/*
    wsgi/*
    # There are no unit tests for this dir, and it is slated for removal anyway:
    lib/fluent_migrations*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

ignore_errors = True


[html]
directory=python_coverage/
