# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{py,js,cjs,css,scss,sh,groovy}]
indent_size = 4

[*.{json,html,svg,yml}]
indent_size = 2

[Jenkinsfile]
indent_size = 4

[package.json]
indent_size = 2

[Makefile]
indent_style = tab
