settings_local.py
settings/local.py
*/settings/local.py
*.py[co]
*.sw[po]
.coverage
.jshintrc
pip-log.txt
docs/_gh-pages
docs/_build
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
.#*
*.less.css
db.sql
/locale
/results
Thumbs.db
Desktop.ini
venv
*.db
*.mmdb
bedrock_db_info.json
!root_files/bedrock_db_info.json
james.ini
test-results.xml
tests/unit/coverage
bedrock/externalfiles/files_cache
mofo_security_advisories
release_notes
product_details_json
community_data
supervisord.log
.idea
.env
.cache
tests/functional/results.html
tests/functional/driver.log
tests/functional/assets
.eslintcache
.docker-build*
Dockerfile-*
root_files/sitemap.xml
root_files/default-urls.json
node_modules
package-lock.json
.vscode/
