[submodule "vendor"]
    path = vendor
    url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/tower"]
	path = vendor-local/src/tower
	url = https://github.com/clouserw/tower.git
[submodule "vendor-local/src/jingo-minify"]
	path = vendor-local/src/jingo-minify
	url = https://github.com/jsocol/jingo-minify.git
[submodule "vendor-local/src/basket-client"]
	path = vendor-local/src/basket-client
	url = https://github.com/mozilla/basket-client.git
[submodule "vendor-local/src/feedparser"]
	path = vendor-local/src/feedparser
	url = https://github.com/kurtmckee/feedparser.git
[submodule "vendor-local/src/django-dnt"]
	path = vendor-local/src/django-dnt
	url = https://github.com/mozilla/django-dnt.git
[submodule "vendor-local/src/django-statsd"]
	path = vendor-local/src/django-statsd
	url = git://github.com/andymckay/django-statsd.git
[submodule "vendor-local/src/pystatsd"]
	path = vendor-local/src/pystatsd
	url = git://github.com/jsocol/pystatsd.git
