__pycache__/
!.vscode/extensions.json
!root_files/bedrock_db_info.json
.#*
.cache
.coverage
.docker-build*
.DS_Store
.env
.eslintcache
.idea
.jshintrc
.noseids
.python-version
.vscode/*
*-all.css
*-all.js
*-min.css
*-min.js
*.db
*.mmdb
*.py[cod]
*.sw[po]
*/settings/local.py
*~
*$py.class
/bedrock/externalfiles/files_cache
/git-repos
/locale
/results
assets
bedrock_db_info.json
build
build.py
db.sql
Desktop.ini
docs/_build
docs/_gh-pages
james.ini
media/js/libs/glean
node_modules
npm-debug.log
pip-log.txt
python_coverage/
root_files/*/sitemap.xml
root_files/etags.json
root_files/sitemap.json
root_files/sitemap*.xml
settings_local.py
settings/local.py
static
static_build
static_final
supervisord.log
test-results.xml
tests/functional/assets
tests/functional/driver.log
tests/functional/results.html
tests/unit/coverage
Thumbs.db
tmp/*
venv
dist/
