# Ignore artifacts:
.vscode/
assets
data
docs
git-repos
node_modules
static
static_build
static_final
venv

# Ignore external JS libraries
media/js/libs/**/
media/js/ie/libs/**/

# Ignore file types:
# https://github.com/prettier/prettier/issues/6356 blocks formating scss/css.
*.html
*.md
*.scss
*.css
*.yml
*.yaml
*.json
