// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '../utils/variables';
@import './platform-nav';
@import './platform-footer';

$image-path: '/media/img/externalpages/pocket';

@import "~@mozilla-protocol/core/protocol/css/includes/lib";
@import "~@mozilla-protocol/core/protocol/css/components/split";
@import "~@mozilla-protocol/core/protocol/css/components/button";

.add-page {
    .add-header {
        background-color: $color-background-grey;
        padding: 5px;
    }

    h2 {
        color: $color-text-dark-grey;
        margin-bottom: $spacing100;
        font-size: $size150;
        text-align: center;

        @media #{$mq-md}{
            font-size: $size200;
            text-align: left;
        }
    }

    h3,
    p {
        color: $color-text-grey;
    }
}

.rarrow::after {
    content: ' ›';
}

.add-header {
    .mzp-c-button {
        background-color: $color-button-red;
        border: 2px solid $color-button-red;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline!important;
            background-color: $color-button-red;
            border: 2px solid $color-button-red;
            color: $color-white;
        }
    }
}

.add-device {
    margin: 0 auto;
    max-width: 62.5em;
    padding: $spacing100;
    width: 100%;

    &__context {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        &-image {
            width: 100%;

            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        &-stores {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            .apps-list,
            .device-list {
                margin-bottom: $spacing050;
                padding: 0;

                li {
                    margin: $spacing050 0;
                }
            }

            .app-store-badge {
                border: 2px solid $color-action-primary;
                color: $color-white;
                height: 65px;
                text-align: center;
                width: 190px;
            }

            .device-list {
                margin-top: 0;
            }
        }
    }

    @media #{$mq-md} {
        width: 70%;

        &__context {
            flex-direction: row;

            &-image {
                width: 70%;
            }

            &-stores {
                width:25%;
            }
        }
    }
}

.add-save {
    background-color: $color-background-grey;

    &__wrapper {
        margin: 0 auto;
        max-width: 62.5em;
        padding: $spacing100;
        width: 100%;
    }

    &__context {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        &-email {
            width: 100%;
        }

        &-image {
            margin-bottom: $spacing100;
            width: 100%;

            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        @media #{$mq-md} {
            flex-direction: row;
            align-items: center;

            &-email {
                width: 45%;
            }

            &-image {
                width: 400px;
            }
        }
    }
}

        .add-save__context-apps {
            width: 100%;
            margin-top: $spacing-md;

            .app-types {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;


                .app-board {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    width: 60%;

                    &__icon {
                        height: $layout-lg;
                        margin: $spacing-sm;
                        width: $layout-lg;

                            img {
                            height: 100%;
                            width: 100%;
                            display: block;
                        }
                    }
                }

                .social-apps {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    padding: 0;
                    margin-left: $spacing-lg;

                    li {
                        margin: $spacing-sm;
                        width: 100%;
                    }
                }
            }

            @media #{$mq-md} {
                width: 45%
            }
        }

        .social-apps {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0;
            margin-left: $spacing-lg;

            li {
                margin: $spacing-sm;
            }
        }
