// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../utils' as f3;
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-agreement {
    background-color: $color-violet-60; /* darker bg needed for accessible color contrast */
    color: f3.$white;

    .l-grid,
    .c-content {
        margin-top: $layout-xs;
    }

    h2,
    h3 {
        color: f3.$white;
    }

    img {
        display: block;
    }

    &-anchor {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;

        h2 {
            display: inline-block;
            margin-bottom: 0;
        }

        // copy/paste from module tag styles
        &::after {
            $width: 25px;

            @include f3.border(transparent);
            background-color: transparent;
            border-radius: 50%;
            box-sizing: content-box;
            content: url('/media/img/firefox/family/icon-link.svg');
            display: inline-block;
            height: $width;
            padding: $spacing-xs;
            position: absolute;
            right: calc((#{$width} + #{$spacing-lg}) * -1);
            top: 50%;
            transform: translateY(-50%);
            width: $width;
        }

        &:hover,
        &:focus,
        &:active {
            &::after {
                border-color: f3.$black;
                border-style: dotted;
            }
        }
    }
}

.c-download {
    @include f3.border(transparent);
    border-radius: $border-radius-sm;
    background-color: f3.$white;
    color: f3.$black;
    display: inline-block;
    font-weight: bold;
    padding: $spacing-sm $spacing-2xl;
    text-decoration: none;
    transition: background-color 100ms, color 100ms;

    &:hover,
    &:focus,
    &:active {
        background-color: f3.$black;
        color: f3.$white;
    }
}

@media #{$mq-sm} {
    .c-agreement {
        .mzp-l-content {
            text-align: center;
        }

        .c-subtitle,
        p {
            text-align: left;
        }

        .l-grid {
            > * {
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@supports (display: grid) {
    @media #{$mq-lg} {
        .c-agreement {
            .mzp-l-content {
                text-align: initial;
            }

            .l-grid {
                align-items: center;
                column-gap: $layout-md;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .c-content {
                grid-column-start: 1;
                grid-row-start: 1;
                max-width: 40ch;
            }

            img {
                grid-column-start: 2;
                grid-row-start: 1;
                justify-self: center;
            }
        }
    }
}
