// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../utils' as f3;
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-agreement {
    background-color: $color-violet-60; /* darker bg needed for accessible color contrast */
    color: f3.$white;

    h3 {
        color: f3.$white;
    }

    svg {
        display: block;
    }

    .c-module-tag {
        margin-bottom: $spacing-md;
    }

    // override usual layout
    .c-module-tag-title {
        background-color: f3.$white;
        padding: $spacing-sm $spacing-md;
        margin-bottom: $layout-2xs;

        &::before {
            display: none;
        }
    }

    .c-content p,
    svg {
        margin-bottom: $layout-sm;
    }

    .c-subtitle {
        margin-bottom: $layout-xs;
    }

    .mzp-l-content {
        text-align: center;
    }

    .c-subtitle,
    p {
        text-align: left;
    }
}

.c-download {
    @include f3.button;
    @include text-body-md; // match Download Fx CTA font size
}

@media #{$mq-sm} {
    .c-agreement {
        .l-grid {
            > * {
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@supports (display: grid) {
    @media #{$mq-lg} {
        .c-agreement {
            .mzp-l-content {
                text-align: unset;
            }

            .l-grid {
                align-content: center;
                column-gap: $layout-md;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                > * {
                    margin-right: unset;
                    margin-left: unset;
                }
            }

            .c-module-tag {
                grid-column-start: 1;
                grid-row-start: 1;
                justify-self: start;
                align-self: start;
            }

            .c-content {
                grid-column-start: 1;
                grid-row-start: 2;
                max-width: 40ch;
            }

            svg {
                grid-column-start: 2;
                grid-row: 1 / span 2;
                justify-self: center;
                align-self: center;
                margin-bottom: 0;
            }
        }
    }
}

.js {
    $duration: 0.5s;

    [class^='checkmark'] {
        stroke-dasharray: 30;
        stroke-dashoffset: 30;
    }

    .animate-checkmark [class^='checkmark'] {
        animation: $duration ease-in 0s 1 forwards normal running draw-checkmark;

        &.checkmark-lock {
            animation-delay: $duration;
        }

        &.checkmark-shield {
            animation-delay: calc(#{$duration} * 2);
        }

        &.checkmark-gear {
            animation-delay: calc(#{$duration} * 3);
        }

        @keyframes draw-checkmark {
            from {
                stroke-dashoffset: 30;
            }

            to {
                stroke-dashoffset: 0;
            }
        }
    }
}
