// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../utils' as f3;
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-browser {
    $border-radius: 10px;
    $size: 15px;
    border-radius: $border-radius; /* this allows box shadow to have rounded corners */

    &-bar {
        background-color: f3.$pink-dark;
        border-top: f3.$border-width solid f3.$black;
        border-right: f3.$border-width solid f3.$black;
        border-left: f3.$border-width solid f3.$black;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        display: flex;
        align-items: center;
        height: 50px;
        padding-right: $spacing-md;
        padding-left: $spacing-md;

        &-dot {
            @include f3.border;
            border-radius: 50%;
            height: $size;
            width: $size;
        }

        &-dot + &-dot {
            margin-left: $spacing-md;
        }

        &-close {
            position: relative;
            height: calc($size * 1.5);
            width: $size;
            margin-left: auto;

            &::before,
            &::after {
                background-color: f3.$black;
                content: '';
                display: block;
                height: calc($size * 1.5);
                width: f3.$border-width;
                position: absolute;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    &-content {
        @include f3.border;
        padding: $layout-sm;
        background-color: f3.$white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        &.mzp-t-dark {
            background-color: f3.$violet-extra-dark;
        }

        *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

// if js available and no pref on motion, show pop-in animation
@media (prefers-reduced-motion: no-preference) {

    @keyframes pop-in {
        0% {
            transform: scale(0.3);
        }

        35% {
            opacity: 1;
            transform: scale(0.3);
        }

        50% {
            transform: scale(0.7);
        }

        65% {
            transform: scale(0.7);
        }

        80% {
            transform: scale(1.1);
        }

        85% {
            transform: scale(1.1);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .c-browser {
        opacity: 0;
    }

    $duration: 0.5s;

    .animate-pop-in.c-browser {
        animation: $duration ease-out 0s 1 normal forwards running pop-in;
    }

    // stagger multiple pop-ins on mental health section
    .animate-pop-in.t-content-container {
        animation-delay: $duration;
    }

    .animate-pop-in.t-stop-button-container {
        animation-delay: calc(#{$duration} * 2);
    }
}
