{% extends 'newsletter/one_newsletter_signup.html' %}
{% from "macros.html" import email_newsletter_form with context %}

{% block page_title %}Firefox and You{% endblock %}

{% block newsletter_content %}
  <div id="main-feature">
  <h2>Read all about it in our <span>newsletter</span></h2>
  <p>Subscribe to monthly updates and keep current with Mozilla news,
     including the latest tips and tricks for getting the most out of
     your Firefox browser. It’s the perfect way for us to keep in touch!
  </p>
  </div>
{% endblock %}
