// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../../protocol/css/includes/lib';

// Product colors
$color-firefox-light-orange: #ff9500;
$color-pocket-red: #ef4056;

// Brand colors
$color-brand-cyan:      #4eb5e6;
$color-brand-coral:     #ff8385;
$color-brand-lilac:     #b0b2e9;
$color-brand-lime:      #b6d806;

// Download button color
$color-button-green: #16da00;

/* -------------------------------------------------------------------------- */
// Horizontal top navigation

.moz-global-nav {
    @include open-sans;
    background: #fff;
    overflow: hidden;
    position: relative;

    a:link,
    a:visited {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        color: #000;
        text-decoration: underline;
        transition: color 0.1s ease-in-out;
    }

    // Three-dotted nenu button
    .nav-button-menu {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        cursor: pointer;
        float: left;
        font-size: 0;
        height: 25px;
        margin: 13px 0;
        padding: 0;
        width: 50px;

        .p1,
        .p2,
        .p3 {
            transition: transform .2s ease-in-out;
        }

        &:hover,
        &:active {
            .p1 {
                transform: translateX(4px);
            }

            .p2 {
                transform: translateX(-3px);
            }

            .p3 {
                transform: translateX(4px);
            }
        }

        &:focus {
            outline: none;

            .p1,
            .p2,
            .p3 {
                fill: #646464;
            }
        }

        &::-moz-focus-inner {
            border: none;
        }

        &.nav-hidden {
            display: none;
        }
    }

    // Mozilla wordmark logo
    .nav-logo {
        @include font-size(15px);
        float: left;
        height: 25px;
        margin: 0 0 0 5px;
        padding: 13px 0;

        a {
            @include image-replaced;
            background: url('/media/img/favicon/favicon-196x196.png') top left no-repeat;
            @include background-size(25px 25px);
            display: block;
            width: 25px;
            height: 25px;
        }

        @media #{$mq-lg} {
            margin-left: 17px;

            a {
                @include background-size(auto, auto);
                background-image: url('/media/img/pebbles/moz-wordmark-dark-reverse.svg');
                width: 78px;
            }
        }
    }

    // Horizontal link menu container
    .nav-horizontal-menu {
        @include clearfix;
        margin-left: 10px;
        overflow: hidden;
        padding: 10px 0;
        position: relative;

        @media #{$mq-md} {
            padding-top: 25px;
        }

        @media #{$mq-lg} {
            margin-left: 28px;
        }
    }

    // Primary horizontal links
    .nav-primary-links {
        @include font-size(16px);
        display: none;
        float: left;
        list-style-type: none;
        margin: 0 0 0 10px;
        padding: 13px 0 0;

        &> li {
            display: inline-block;
            line-height: 1.2;
            padding: 0 20px 10px 0;

            &:last-child {
                padding-right: 0;
            }

            a:hover,
            a:active,
            a:focus {
                text-decoration: none;
            }

            a:focus {
                outline: none;
            }
        }

        @media #{$mq-md} {
            @include border-box;
            display: block;
            margin-left: 20px;
            width: calc(100% - 370px);
        }

        @media #{$mq-lg} {
            width: calc(100% - 480px);
        }

        @media #{$mq-xl} {
            margin-left: 40px;

            &> li {
                padding-right: 40px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    // Class for legacy browser support
    &.simple {
        .nav-primary-links {
            display: block;
        }
    }

    @media #{$mq-lg} {
        max-width: $content-max;
        margin: 0 auto;
    }
}

// Menu button animation open state
.moz-nav-open .moz-global-nav .nav-button-menu {
    .p1 {
        transform: translateX(4px);
    }

    .p2 {
        transform: translateX(-3px);
    }

    .p3 {
        transform: translateX(4px);
    }
}

/* -------------------------------------------------------------------------- */
// Vertical side navigation drawer

.moz-global-nav-drawer {
    @include open-sans;
    background: #000;
    bottom: 0;
    color: #fff;
    left: -320px;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 280px;
    z-index: 1000;

    a:link,
    a:visited {
        transition: color 0.1s ease-in-out;
        color: #fff;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        transition: color 0.1s ease-in-out;
    }

    a:focus {
        outline: none;
    }

    abbr[title] {
        border-bottom: none;
        cursor: inherit;
        text-decoration: none;
    }

    .nav-drawer-close-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        @include font-size(13px);
        background-color: #000;
        border: none;
        cursor: pointer;
        height: 22px;
        margin: 30px 0 0 22px;
        padding: 0;
        text-transform: uppercase;

        .rect {
            transform-origin: center center;
        }

        .center {
            transform: rotate(45deg);
        }

        .top-left {
            transform: translate(-7px, -7px) rotate(45deg);
        }

        .top-right {
            transform: translate(7px, -7px) rotate(45deg);
        }

        .bottom-left {
            transform: translate(-7px, 7px) rotate(45deg);
        }

        .bottom-right {
            transform: translate(7px, 7px) rotate(45deg);
        }

        @media #{$mq-lg} {

            .rect {
                transition: transform .12s ease-in-out;
                transform: translate(0, 0) rotate(45deg);
            }

            &:hover,
            &:active,
            &:focus {
                .top-left {
                    transform: translate(-7px, -7px) rotate(45deg);
                }

                .top-right {
                    transform: translate(7px, -7px) rotate(45deg);
                }

                .bottom-left {
                    transform: translate(-7px, 7px) rotate(45deg);
                }

                .bottom-right {
                    transform: translate(7px, 7px) rotate(45deg);
                }
            }
        }

        &:focus {
            outline: none;
        }

        &::-moz-focus-inner {
            border: none;
        }
    }

    .nav-menu-inner-container {
        margin-top: 42px;
        position: relative;
    }

    .nav-menu-scroll-pane {
        padding: 0 22px;
        width: 234px;
    }

    .nav-menu-primary-links {
        padding-bottom: 40px;

        h3 {
            @include open-sans;
        }

        &> li {
            margin: 20px 0;
        }
    }

    .intro {
        @include font-size(13px);
        margin: 0 0 20px;
    }

    .summary {
        @include font-size(16px);
        padding-bottom: 20px;

        a:link,
        a:visited {
            position: relative;
            display: block;

            &:after {
                background-image: url('/media/img/nav/subnav-expand.svg');
                content: '';
                height: 12px;
                position: absolute;
                right: 0;
                top: 0;
                transition: transform .2s ease-in-out;
                width: 12px;
            }
        }

        &.selected {
            a:link:after,
            a:visited:after {
                transform: rotate(45deg);
            }
        }
    }

    .detail-container {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 20px;
    }

    .nav-menu-secondary-links > li {
        @include font-size(16px);
        margin: 20px 0;

        a:link,
        a:visited {
            display: block;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Common color styles for both primary and side navigation links & headings

.moz-global-nav,
.moz-global-nav-drawer {

    .item-firefox {
        a:hover,
        a:active,
        a:focus,
        a.selected,
        a.currrent {
            color: $color-firefox-light-orange;
        }
    }

    .item-pocket {
        a:hover,
        a:active,
        a:focus,
        a.selected,
        a.currrent {
            color: $color-pocket-red;
        }
    }

    .item-internet-health {
        a:hover,
        a:active,
        a:focus,
        a.selected,
        a.currrent {
            color: $color-brand-cyan;
        }
    }

    .item-technology {
        a:hover,
        a:active,
        a:focus,
        a.selected,
        a.currrent {
            color: $color-brand-lilac;
        }
    }

    .item-about-us {
        a:hover,
        a:active,
        a:focus,
        a.selected,
        a.currrent {
            color: $color-brand-lime;
        }
    }

    .item-get-involved {
        a:hover,
        a:active,
        a:focus,
        a.selected,
        a.currrent {
            color: $color-brand-coral;
        }
    }
}

body[data-global-nav-current-link="firefox"] .nav-primary-links .item-firefox {
    &> a:link,
    &> a:visited {
        color: $color-firefox-light-orange;
    }
}

body[data-global-nav-current-link="internet-health"] .item-internet-health {
    &> a:link,
    &> a:visited {
        color: $color-brand-cyan;
    }
}

body[data-global-nav-current-link="technology"] .item-technology {
    &> a:link,
    &> a:visited {
        color: $color-brand-lilac;
    }
}

body[data-global-nav-current-link="about-us"] .item-about-us {
    &> a:link,
    &> a:visited {
        color: $color-brand-lime;
    }
}

body[data-global-nav-current-link="get-involved"] .item-get-involved {
    &> a:link,
    &> a:visited {
        color: $color-brand-coral;
    }
}

/* -------------------------------------------------------------------------- */
// Semi-opaque mask shown when side drawer is open.

.moz-global-nav-page-mask {
    background: #000;
    bottom: auto;
    left: 0;
    opacity: 0;
    position: absolute;
    right: auto;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 10000;
}

html.moz-nav-open .moz-global-nav-page-mask {
    bottom: 0;
    opacity: 0.3;
    right: 0;
    transition: opacity 0.2s ease-in-out;
}

/* -------------------------------------------------------------------------- */
// Customized Firefox download button for primary navigation.

#global-nav-download-firefox {
    float: right;
    margin: 11px 20px 0 0;

    .download-list {
        margin: 0;

        &> li {
            margin: 0;
        }
    }

    .download-link:link,
    .download-link:visited {
        @include text-display-xxs;
        background-color: #fff;
        border-radius: 100px;
        border: 2px solid $color-button-green;
        color: $color-button-green;
        display: inline-block;
        font-weight: bold;
        padding: .5em 20px;
        text-decoration: none;
        transition: color .1s ease-in-out, background-color .1s ease-in-out;

        .download-title {
            font-weight: bold;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $color-button-green;
            color: #fff;
            transition: color .1s ease-in-out, background-color .1s ease-in-out;
        }
    }

    @media #{$mq-md} {
        margin-top: 5px;
        margin-right: 64px;
        width: 200px;

        .download-link {
            float: right;
        }
    }

    @media #{$mq-lg} {
        margin-right: 95px;
    }

    .fx-privacy-link {
        display: none;
    }
}

.other #global-nav-download-firefox,
.oldwin #global-nav-download-firefox,
.oldmac #global-nav-download-firefox {
    display: none;
}

/* -------------------------------------------------------------------------- */
// Side drawer state rules.

// Default (non-animated) accordion for old browsers.
.moz-global-nav-drawer {

    .detail {
        display: none;
    }

    .summary.selected + .detail {
        display: block;
    }
}

// Animated accordion for newer browsers.
@supports (transition: max-height .6s ease-in-out, visibility 0s 0s) {

    .moz-global-nav-drawer {

        .detail {
            display: block;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: max-height .3s ease-in-out, visibility 0s .8s;
        }

        .summary.selected + .detail {
            max-height: 1000px;
            visibility: visible;
            transition: max-height .6s ease-in-out, visibility 0s 0s;
        }
    }
}

// Default (non-animated) drawer for old browsers.
body {
    overflow-x: hidden;
}

html.moz-nav-open {
    body {
        left: 320px;
        position: relative;
    }
}

// Animated drawer for newer browsers.
@supports (transform: translateX(320px)) {
    body {
        position: static;
        transition: transform .25s ease-in-out;
    }

    html.moz-nav-open {

        body {
            left: 0;
            transition: transform .25s ease-in-out;
            transform: translateX(320px);
        }

        .moz-global-nav-drawer {
            transition: visibility 0s 0s;
            visibility: visible;
        }
    }

    .moz-global-nav-drawer {
        left: 0;
        transform: translateX(-320px);
        transition: visibility 0s .4s;
        visibility: hidden;
    }

    @media #{$mq-lg} {
        html.moz-nav-open {
            height: 100%;

            body {
                height: 100%;
                overflow: hidden;
            }
        }

        .moz-global-nav-drawer {
            bottom: auto;
            height: 100%;

            .nav-menu-inner-container {
                height: 100%;
                margin-top: 22px;
            }

            .nav-menu-scroll-pane {
                bottom: 100px;
                overflow-y: scroll;
                position: absolute;
                top: 0;
                width: 254px;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 100%;
                }

                &::-webkit-scrollbar-track {
                    background: #000;
                }

                &::-webkit-scrollbar-thumb {
                    width: 8px;
                    height: 8px;
                    background: #999;
                    border-radius: 8px;
                }
            }

            .nav-menu-primary-links {
                padding-right: 20px;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Styles for JavaScript disabled.

.no-js {
    #global-nav-download-firefox {
        display: none;
    }

    .nav-primary-links {
        display: block;
    }

    .moz-global-nav-drawer {
        display: none;
    }
}
