// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../../protocol/css/includes/lib';

// Download button color
$color-button-green: #16da00;


#masthead {
    color: #000;
    min-height: 50px;
    padding: 0;
    width: 100%;

    .content {
        @include border-box;
        @include clearfix;
        margin: 0 auto;
        max-width: $content-max;
        min-width: $content-xs;
        padding: $layout-xs;
        position: relative;

        @media #{$mq-md} {
            padding: $layout-xs $layout-lg;
        }

        @media #{$mq-lg} {
            padding: $layout-xs $layout-xl;
        }
    }

    .masthead-logo {
        @include font-size(16px);
        height: 30px;
        left: 0;
        margin: 0;
        padding: 10px 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        img {
            height: 30px;
        }

        @media #{$mq-md} {
            float: left;
            position: relative;
            width: 94px;
        }
    }

    .fx-privacy-link {
        display: none;
    }
}

.masthead-nav-main {
    @include font-size(16px);
    @include open-sans;
    font-weight: bold;
    left: 0;
    margin: 0 0 0 20px;
    position: absolute;
    top: 0;
    z-index: 99;

    a {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    .toggle {
        @include image-replaced;
        background: transparent url('/media/img/pebbles/icon-menu-dark.svg') center center no-repeat;
        @include background-size(22px auto);
        cursor: pointer;
        display: block;
        height: 50px;
        overflow: hidden;
        position: relative;
        width: 50px;
    }

    .nav-main-menu {
        background: #fff;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
        left: -300px;
        margin: 0;
        overflow: visible;
        position: absolute;
        top: 50px;
        width: 200px;
        z-index: 99;

        li {
            border-bottom: 1px solid #ccc;

            &:last-child {
                border: 0;
            }
        }

        a {
            background: #fff;
            color: $color-black;
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            @include transition(background-color 150ms ease, border-width 150ms ease, color 150ms ease, padding 150ms ease);

            &:hover,
            &:focus {
                background-color: #f5f5f5;
                border-right: 6px solid #000;
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

.masthead-nav-main:hover .nav-main-menu,
.nav-main-menu:target {
    left: auto;
}

.js .masthead-nav-main .nav-main-menu {
    left: auto;
    display: none;
}

@media #{$mq-md} {

    .masthead-nav-main {
        float: left;
        margin: 0 0 0 20px;
        position: relative;
        width: 80%;

        .nav-main-menu {
            width: auto;
            position: static;
            background: transparent;
            box-shadow: none;
            padding: 15px 0;

            li {
                display: inline-block;
                border: 0;
                padding: 0 20px 10px 0;

                &:first-child {
                    border-left: none;
                }
            }

            a {
                background: transparent;
                display: inline-block;
                padding: 0;

                &:link,
                &:visited {
                    color: #000;
                }


                &:hover,
                &:focus {
                    background: transparent;
                    border: 0;
                }
            }
        }

        .toggle {
            @include hidden;
        }

    }

    .js .masthead-nav-main .nav-main-menu {
        display: block;
    }
}

@media #{$mq-lg} {
    .masthead-nav-main {
        width: 60%;

        .nav-main-menu li {
            padding: 0 10px;
        }
    }
}

@media #{$mq-xl} {
    .masthead-nav-main {
        margin: 0 0 0 40px;
        width: 70%;

        .nav-main-menu li {
            padding: 0 40px 10px 0;
        }
    }
}

// flexbox layout for savvy browsers to push nav items to the right
@supports (display: flex) {
    @media #{$mq-md} {
        .nav-main-menu,
        .js .nav-main-menu {
            @include flexbox;
            @include justify-content(flex-end);
        }
    }
}

[dir="rtl"] #masthead {

    .masthead-nav-main {
        left: auto;
        right: 0;
        margin: 0 20px 0 0;

        .nav-main-menu {
            a:active,
            a:focus,
            a:hover {
                border-right: none;
                border-left: 6px solid #000;

                @media #{$mq-md} {
                    border: 0;
                }
            }
        }

        #nav-main-menu li:last-child {
            border-left: 0;
            padding-left: 0;
            padding-right: 5px;

            @media #{$mq-md} {
                padding-right: 10px;
            }

            @media #{$mq-xl} {
                padding-right: 20px;
            }
        }
    }

    @media #{$mq-md} {
        .masthead-logo,
        .masthead-nav-main {
            float: right;
        }
    }

    @media #{$mq-xl} {
        .masthead-nav-main {
            margin: 0 40px 0 0;

            .nav-main-menu li {
                padding: 0 0 0 40px;
            }
        }
    }
}

/*--------------------------------------------------------------------------*/
// Custom Firefox download button for main navigation.

#nav-download-firefox {
    display: none;
    float: right;
    margin: 11px 0 0;

    .download-list {
        margin: 0;

        &> li {
            margin: 0;
        }
    }

    .download-link:link,
    .download-link:visited {
        @include text-body-sm;
        background-color: #fff;
        border-radius: 2px;
        border: 2px solid $color-button-green;
        color: $color-button-green;
        display: inline-block;
        font-weight: bold;
        padding: .5em 20px;
        text-decoration: none;
        transition: color .1s ease-in-out, background-color .1s ease-in-out;

        .download-title {
            font-weight: bold;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $color-button-green;
            color: #fff;
            transition: color .1s ease-in-out, background-color .1s ease-in-out;
        }
    }

    @media #{$mq-lg} {
        display: block;
        width: 200px;

        .download-link {
            float: right;
        }
    }
}

.other #nav-download-firefox,
.oldwin #nav-download-firefox,
.oldmac #nav-download-firefox {
    display: none;
}

html[dir="rtl"] {
    #nav-download-firefox {
        float: left;

        @media #{$mq-md} {

            .download-link {
                float: left;
            }
        }
    }
}


