// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

// * -------------------------------------------------------------------------- */
// Navigation styles

.c-navigation {
    background: $color-white;
    box-shadow: none;
    color: $color-black;
    margin-bottom: $layout-sm;

    .c-navigation-container {
        @include clearfix;
        margin: 0 auto;
        max-width: $content-max;
        position: relative;
    }

    .c-navigation-logo a {
        @include image-replaced;
        background: transparent url('/media/img/logos/m24/lockup-black-on-white.png') center center no-repeat;
        display: block;
        height: 48px;
        width: 160px;

        .c-navigation-logo-image {
            display: none;
        }
    }

    // Shoulder button
    .c-navigation-shoulder {
        display: inline-block;
        *display: inline;
        margin: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: $spacing-md;
        top: 0\0;

        .mzp-c-button-download-container {
            display: inline-block;
            *display: inline;
            margin-bottom: 0;

            // hide privacy link
            .mzp-c-button-download-privacy-link {
                display: none;
            }
        }

        // hide FxA button
        .c-navigation-vpn-cta-container {
            display: none;
        }
    }

    // Nav button
    .c-navigation-menu-button {
        display: none;
    }

    .c-navigation-items {
        @include clearfix;
        clear: both;
        margin-top: $layout-xs;
    }

    .c-menu-category {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    // only display primary navigation links to IE visitors
    .c-menu-panel {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }

    .c-menu-title {
        @include bidi(((margin-right, $spacing-md, margin-left, 0),));
        display: inline-block;
        *display: inline;
        font-weight: bold;
        zoom: 1;
    }

    .c-navigation-menu {
        ul {
            list-style-type: none;
            margin: 0 0 $spacing-lg;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
            }
        }
    }
}

// * -------------------------------------------------------------------------- */
// Redesigned header

.m24-c-navigation-logo-link {
    @include image-replaced;
    background: transparent url('/media/img/logos/m24/lockup-black-on-white.png') center center no-repeat;
    display: block;
    height: 48px;
    width: 160px;

    .m24-c-navigation-logo-image {
        display: none;
    }
}

// only show top-level menu items
.m24-c-menu {
    .m24-c-menu-panel,
    .m24-c-menu-title-icon {
        display: none;
    }

    .m24-c-menu-title,
    ul,
    li {
        @include bidi(((margin-right, $spacing-md, margin-left, 0),));
        display: inline-block;
        *display: inline;
        font-weight: bold;
        margin-top: $spacing-sm;
        zoom: 1;
    }
}

// hide JS-dependent interaction from IE visitors
.m24-c-navigation-menu-button,
.m24-c-flag {
    display: none;
}

.m24-pencil-banner {
    @include bidi(((float, right, left),));
    
    button {
        display: none;
    }
}
