// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


//* -------------------------------------------------------------------------- */
// Should be replaced by https://github.com/mozilla/protocol/issues/471

.c-sub-navigation {
    background: $color-marketing-gray-10;
    box-shadow:
        inset 0 10px 2px -10px rgba(29, 17, 51, .04),
        inset 0 10px 4px -10px rgba(9, 32, 77, .12),
        inset 0 10px 3px -10px rgba(29, 17, 51, .12);

    .mzp-l-content {
        padding-top: 0;
        padding-bottom: $spacing-md;
    }

    .c-sub-navigation-content {
        padding-top: $spacing-md;
    }

    .c-sub-navigation-icon {
        @include bidi((
            (float, left, right),
            (margin-right, $spacing-sm, margin-left, $spacing-sm),
        ));
        height: 24px;
        vertical-align: middle;
        width: 24px;
    }

    .c-sub-navigation-title {
        @include font-base;
        @include text-body-md;
        font-weight: bold;

        a:link,
        a:visited {
            color: $color-black;
            text-decoration: none;
        }

        a:hover,
        a:focus,
        a:active {
            text-decoration: underline;
        }

        & button {
            @include text-body-md;
            @include bidi(((text-align, left, right),));
            background-color: transparent;
            border: 0;
            color: inherit;
            font-weight: bold;
            margin-bottom: 0;
            padding: 0;
            position: relative;
            width: 100%;
        }

        &.is-summary {
            padding: 0;
            margin: 0;

            button:focus {
                outline: 1px dotted $color-black;
            }

            button:before {
                background: $url-image-arrow-down-form top left no-repeat;
                @include background-size(24px, 24px);
                @include bidi(((right, $spacing-xs, left, auto),));
                @include transition(transform 100ms ease-in-out);
                content: '';
                height: 24px;
                margin-top: -12px;
                position: absolute;
                top: 50%;
                width: 24px;
            }

            button[aria-expanded=true]:before {
                @include transform(rotate(180deg));
            }
        }
    }

    .c-sub-navigation-list {
        margin: 0;

        &.is-closed[aria-hidden="true"] {
            display: none;
        }

        &.mzp-js-details-wrapper {
            margin-top: $spacing-sm;
        }
    }

    .c-sub-navigation-item {
        padding: $spacing-xs 0;

        a:link,
        a:visited {
            @include font-base;
            @include text-body-sm;
            color: $color-black;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }

    @media #{$mq-md} {
        @include clearfix;

        .c-sub-navigation-title {
            @include bidi((
                (float, left, right),
                (margin-right, $spacing-sm * 2, margin-left, 0),
            ));
            margin-bottom: 0;
        }

        .c-sub-navigation-list {
            @include bidi((
                (float, right, left),
                (margin-right, -$spacing-sm, margin-left, 0),
            ));

            &.mzp-js-details-wrapper {
                margin-top: 0;
            }
        }

        .c-sub-navigation-item {
            display: inline-block;
            padding: 0 $spacing-sm;
        }
    }
}
