// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/call-out';

// Temporary styles for call-out while the hero component has been depreciated. Will be updated with a new component
.mzp-c-call-out.mzp-t-hero {
    .mzp-l-content {
        box-sizing: border-box;
        max-width: $content-sm;
        padding: $layout-md $layout-xs;
    }

    .mzp-c-call-out-title {
        @include text-title-lg;
    }

    @media #{$mq-md} {
        .mzp-l-content {
            max-width: $content-md;
            padding: $layout-md $layout-xl;
        }
    }

    @media #{$mq-lg} {
        .mzp-l-content {
            padding: $layout-xl 80px;
        }
    }
}

.mzp-c-call-out[class*='mzp-t-product-'].mzp-t-hero .mzp-c-call-out-title {
    background-size: 80px 80px;
    padding: 104px 0 0;
}
