// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/newsletter-form';

/* stylelint-disable declaration-no-important */

// Protocol doesn't include any conditional classes for displaying / hiding
// newsletter messaging so bedrock defines some here.
.mzp-c-newsletter-form {
    &.hidden {
        display: none !important;
    }

    .mzp-c-form-errors {
        display: block; // override protocol defaulting to "display: none;"

        &.hidden {
            display: none !important;
        }

        li {
            display: list-item;

            &.hidden {
                display: none !important;
            }
        }
    }
}

.mzp-c-newsletter-thanks {
    display: block; // override protocol defaulting to "display: none;"

    &.hidden {
        display: none !important;
    }
}

/* stylelint-enable declaration-no-important */
