// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';

// These could eventually be the global colors for links in pebbles.
$color-link-blue: #0e9ad8;
$color-link-blue-dark: #175a77;

.button,
button.button,
button.form-button,
a.button:link,
a.button:visited {
    strong {
        font-weight: bold;
    }

    &.button-hollow {
        @include open-sans();
        background: transparent;
        border-radius: 0;

        &.dark {
            border-color: $color-link-blue;
            color: $color-link-blue-dark;

            &:hover,
            &:focus {
                background: $color-link-blue-dark;
                color: #fff;
            }
        }

        &.light {
            border-color: #fff;
            color: #fff;

            &:hover,
            &:focus {
                background: #fff;
                color: #000;
            }
        }
    }

    &.button-arrow {
        @include font-size(18px);
        @include open-sans();
        background-color: #11bb69;
        border-radius: 0;
        border: 0;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #039c6d;
        }

        strong:before {
            @include background-size(12px 28px);
            background-image: url('/media/img/hubs/down-arrow-light-sprite.png');
            background-position: left top;
            content: '';
            display: block;
            float: left;
            height: 14px;
            margin: 8px 10px 0 0;
            width: 12px;
        }
    }
}
