// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';

/*--------------------------------------------------------------------------*/
// Old style masthead for locales that don't yet have the global nav

#masthead {
    color: #000;
    padding: 0;
    width: 100%;

    .content {
        position: relative;
    }

    .masthead-nav-main {
        float: left;
    }

    .fx-privacy-link {
        display: none;
    }

    .masthead-nav-main {
        @include font-size(16px);
        @include open-sans;
        font-weight: bold;
        margin: 0 0 0 20px;
        text-transform: none;

        .nav-main-menu {
            a:hover {
                border-color: #000;
                color: #000;
            }
        }
    }

    @media #{$mq-tablet} {
        .masthead-nav-main {
            margin-right: 0;
            width: 80%;

            .nav-main-menu {
                padding: 15px 0;

                a:link,
                a:visited {
                    color: #000;
                }

                li {
                    display: inline-block;
                    padding: 0 20px 10px 0;

                    &:first-child {
                        border-left: none;
                    }
                }

            }
        }
    }

    @media #{$mq-desktop} {
        .masthead-nav-main {
            width: 60%;
        }
    }

    @media #{$mq-desktop-wide} {
        .masthead-nav-main {
            margin: 0 0 0 40px;
            width: 70%;

            .nav-main-menu li {
                padding: 0 40px 10px 0;
            }
        }
    }
}

#nav-download-firefox {
    display: none;
    float: right;
    margin: 11px 0 0;

    .download-list {
        margin: 0;

        &> li {
            margin: 0;
        }
    }

    .download-link:link,
    .download-link:visited {
        @include font-size-small;
        background-color: #fff;
        border-radius: 2px;
        border: 2px solid $color-button-green;
        color: $color-button-green;
        display: inline-block;
        font-weight: bold;
        padding: .5em 20px;
        text-decoration: none;
        transition: color .1s ease-in-out, background-color .1s ease-in-out;

        .download-title {
            font-weight: bold;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $color-button-green;
            color: #fff;
            transition: color .1s ease-in-out, background-color .1s ease-in-out;
        }
    }

    @media #{$mq-desktop} {
        display: block;
        width: 200px;

        .download-link {
            float: right;
        }
    }
}

.other #nav-download-firefox,
.oldwin #nav-download-firefox,
.oldmac #nav-download-firefox {
    display: none;
}

html[dir="rtl"] {
    #masthead {

        .masthead-nav-main {
            float: right;
            margin: 0 20px 0 0;

            .nav-main-menu li {
                border: 0;
            }
        }

        @media #{$mq-tablet} {
            .masthead-logo {
                float: right;
            }
        }

        @media #{$mq-desktop-wide} {
            .masthead-nav-main {
                margin: 0 40px 0 0;

                .nav-main-menu li {
                    padding: 0 0 0 40px;
                }
            }
        }
    }

    #nav-download-firefox {
        float: left;

        @media #{$mq-tablet} {

            .download-link {
                float: left;
            }
        }
    }
}
