// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';

@mixin horizontal-rule-before($start-color, $end-color) {
    &:before {
        @include gradient-horizontal($start-color: $start-color, $end-color: $end-color);
        content: '';
        display: block;
        height: 6px;
        margin: 0 0 25px;
    }
}
