// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';

//* -------------------------------------------------------------------------- */
// Firefox Hub: News Feed Component

$color-link-blue-dark: #175a77;

// hide full-width title by default (shown for fx pages, but not IH pages)
.news .section-title-full-width {
    display: none;
}

.news-feed {
    margin: 0;

    &> li {
        @include clearfix;
    }

    .entry {
        img {
            display: block;
            margin-bottom: 20px;
        }

        @media #{$mq-tablet} {
            padding: 20px 0 20px 300px;

            img {
                float: left;
                margin: 0 0 40px -300px;
                width: 260px;
            }

            .cta-link {
                max-width: 300px;
                width: 60%;
            }
        }

        @media #{$mq-desktop} {
            padding: 20px 0 20px 460px;

            img {
                margin-left: -460px;
                max-width: none;
                width: 420px;
            }
        }

        @media #{$mq-desktop-wide} {
            a.entry-block,
            .entry-summary {
                max-width: 34em;
            }
        }

        a.entry-block {
            display: block;
            text-decoration: none;

            &:link,
            &:visited {
                h2,
                h3 {
                    @include transition(color .1s ease-in-out);
                    color: $color-text-primary;
                }
            }

            &:hover,
            &:active,
            &:focus {
                h2,
                h3 {
                    @include transition(color .1s ease-in-out);
                    color: $color-link-blue-dark;
                }
            }
        }
    }

    .entry-title {
        @include font-size-level3;
    }
}
