{% extends "security/base.html" %}

{% block page_title %}Mozilla Web Application Security Bug Bounty FAQ{% endblock %}
{% set body_id = "faq-webapp" %}


{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a href="{{ url('mozorg.home') }}">{{ _('Home') }}</a> &gt;
    <a href="{{ url('security.index') }}">{{ _('Mozilla Security') }}</a> &gt;
    <a href="{{ url('security.bug-bounty') }}">{{ _(' Bug Bounty ') }}</a> &gt;
  </nav>
{% endblock %}

{% block article %}
  <article class="section-content" itemscope itemtype="http://schema.org/Article">
    <header>
      <h1 itemprop="name" class="title-shadow-box">Web Bug Bounty FAQ</h1>
    </header>

    <div itemprop="articleBody">
      <h3>General questions</h3>

      <ul>
        <li><a href="#why">Why do we include web applications as part
          of our bug bounty program?</a></li>
        <li><a href="#howto">How can I find potential vulnerabilities
          and are there things I shouldn't do in trying to discover them?</a></li>
        <li><a href="{{ url('security.web-bug-bounty') }}#payouts-section">What are the bounty payouts?</a></li>
      </ul>

      <h3>Eligible bugs</h3>

      <ul>
        <li><a href="#eligible-bugs">Which domains and web applications will be
          considered to be part of the bug bounty?</a></li>
        <li><a href="{{ url('security.web-bug-bounty') }}#payouts-section">
          What types of issues will be considered as part of the bounty program?</a></li>
        <li><a href="#dos-bugs">Why don't you provide a reward for denial of service
          bugs?</a></li>
      </ul>

      <h3>Bug reporting</h3>

      <ul>
        <li><a href="#what-next">Once I have found a vulnerability,
          what next?</a></li>
        <li><a href="#nondisclosure">If I report the bug directly to you,
          do I have to keep the bug confidential in order to receive a bouncy?</a></li>
        <li><a href="#cooperation">If I don’t have the time to assist you further, can I still receive a
          bug bounty?</a></li>
        <li><a href="#attack-scenario">What does a valid attack scenario look like?</a></li>
        <li><a href="#step-by-step-exploit">What does a valid step-by-step exploit process look like?</a></li>
        <li><a href="#xss-reporting">How should I report an XSS vulnerability?</a></li>
      </ul>

      <h2>General questions</h2>

      <h4 id="why">Why do we include web applications
          as part of our bug bounty program?</h4>
          <p>Mozilla client software relies heavily on web services, and Mozilla’s
          community uses our websites and services to communicate and coordinate activity.
          Our goal is to make these products and services as safe and secure as possible.
          </p>

      <h4 id="howto">How can I find potential vulnerabilities
        and are there things I shouldn’t do in trying to discover them?</h4>
        <p>We have received many questions around how to discover web application
          security issues, largely revolving around use of automated attack tools
          such as ZAP and Burp.</p>
        <p>
          We request that people refrain from using automated tools against our production web
          services, as it is important to maintain our services' availability and minimize
          unintentional vandalism. Since our code is open source, you are encouraged to run
          it on your own server instance or examine the it directly for potential issues.
        </p>

      <h2>Eligible bugs</h2>

      <h4 id="eligible-bugs">Which domains and web applications will be considered to be part of the bug bounty?</h4>
      <p>Although all of our non-community websites are considered in scope for acknowledgment on our
      <a href="{{ url('security.bug-bounty.web-hall-of-fame') }}">hall of fame</a>, only
      a limited subset are eligible for monetary payouts. Please see our
      <a href="{{ url('security.bug-bounty.web-eligible-sites') }}">list of eligible sites</a>
      for additional information.</p>

      <h4 id="dos-bugs">Why don’t you provide a reward for denial-of-service bugs?</h4>
      <p>Denial-of-services bugs are generally less serious than other web application
        security bugs and in many cases don't require a technical vulnerability
        within the web application.</p>

      <h2>Bug reporting</h2>

      <h4 id="nondisclosure">If I report the bug
        directly to you, do I have to keep the bug confidential to receive a bounty?</h4>
      <p>
        We’re rewarding you for finding a bug, not trying to buy
        your silence. However, if you report the bug through the standard
        Mozilla process and haven’t already published information about it then
        we do ask that you keep the bug private for a limited period of time to
        give us a chance to fix the bug before the bug is made public.
      </p>

      <p>
        Bug reporters may open the bug to public view earlier whenever circumstances
        warrant it (e.g., if you feel your bug report is being completely ignored).
        However, in the interests of protecting our users, we would appreciate a
        reasonable amount of time to address the issue before the information is
        publicly disclosed.
      </p>

      <h4 id="cooperation">If I don’t have the time to assist you further, can I still receive a
          bug bounty?</h4>
      <p>We’re rewarding you for finding a bug, not trying to buy your cooperation.</p>
      <p>
        However, we do invite you to work together with
        us, and we hope that you’ll accept that offer in the spirit in which it
        was intended. In return, you’ll get the opportunity to work as a full
        member of the team and see exactly how Mozilla security
        bugs are resolved.
      </p>

      <h4 id="attack-scenario">What does a valid attack scenario look like?</h4>
      <p>
        Please describe how an attacker would use the bug you
        are submitting, any necessary conditions for it to work, and what the attacker
        would gain through a successful attack.
      </p>

      <p>Please answer the following questions to the best of your ability:</p>

      <ol>
        <li>What is the necessary position of the attacker?
          <ul>
            <li>Do you need to be logged in or unauthenticated?</li>
            <li>Do certain cookies need to be set?</li>
            <li>Do you need to connect from a specific system?</li>
          </ul>
        </li>

        <li>Are there any other assumptions that must be made about the victim?
          <ul>
            <li>Do they need to be running a specific web browser?</li>
            <li>Does the victim need to be tricked into clicking on a specific link?</li>
            <li>Does the user need to be a member of a specific group?</li>
          </ul>
        </li>

        <li>How might a malicious actor use this attack?
          <ul>
            <li>Stealing a victim's session information</li>
            <li>Redirect users to malicious websites</li>
            <li>Read files on server outside the web root</li>
            <li>Executing remote OS commands</li>
            <li>XSSing users</li>
          </ul>
        </li>
      </ol>

      <h4 id="step-by-step-exploit">What does a valid step-by-step exploit process look like?</h4>
      <p>Please describe the process required, step-by-step, in the proper order.
         If there are multiple parties involved, please describe them all clearly. For example:</p>

      <ol>
        <li>Visit <code>https://shop.firefox.com/order?name=value&amp;name2=value2</code></li>
        <li>Click the "Log in" link and login</li>
        <li>Click the "Order" button</li>
        <li>Place order for "Firefox Plush"
        <li>Continue navigation to the Shipping Address page</li>
        <li>Add the following payload <code>"&gt;&lt;img src=x onerror=alert(document.domain);// &gt;</code> into the "City" field, then click Submit</li>
        <li>The XSS payload ends up in the <code>POST</code> parameter named <code>city_order</code></li>
        <li>Visitors to the page <code>/past_orders_by_city</code> are affected by stored XSS</li>
      </ol>

      <p>Include the HTTP request(s), any necessary header values and/or <code>POST</code> parameters along with your bug submission.</p>
      <p>Once you have <em>written</em> your step-by-step instructions, repeat the attack by following
        them exactly. This helps prevent errors and omissions in your submission.</p>

      <h4 id="xss-reporting">How should I report an XSS vulnerability?</h4>
      <p>For a reflected XSS vulnerabilities, the affected URL along with a working payload is usually sufficient.
      For stored XSS attacks, please describe the step-by-step exploit process, as above.</p>
      <p>Please use <code>alert(document.domain)</code> and not <code>alert(1)</code> in your proof-of-concept.</p>
      <p>Self-XSSes &mdash; where the attacker tricks users into copying and pasting malicious script content &mdash; are not eligible for bounties.</p>

    </div>
  </article>
{% endblock %}
