{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "security/base.html" %}

{% block page_title %}Mozilla Web Application Security Bug Bounty FAQ{% endblock %}
{% set body_id = "web-eligible-sites" %}

{% block article %}
  <header>
    <h1 class="mzp-c-article-title">Eligible Websites &amp; Services</h1>
  </header>

  <h2 id="critical-sites"><strong>Critical</strong></h2>

  <p>These websites and services are considered critical to Mozilla operations and pay out at the highest bounty rate.</p>

  <h3>Add-ons</h3>
  <ul class="mzp-u-list-styled">
    <li>addons.mozilla.org</li>
    <li>services.addons.mozilla.org</li>
    <li>versioncheck-bg.addons.mozilla.org</li>
    <li>versioncheck.addons.mozilla.org</li>
  </ul>

  <h3>Bugzilla</h3>
  <ul class="mzp-u-list-styled">
    <li>bugzilla.mozilla.org</li>
  </ul>
  <p>
    <strong>Please do not use automated scanners, create, or modify bugs when testing Bugzilla.</strong>
    <br>Instead, install your own local copy for testing from <a href="https://github.com/mozilla/webtools-bmo-bugzilla">webtools-bmo-bugzilla</a>
    or use our <a href="https://bugzilla-dev.allizom.org/">development instance</a>.
  </p>

  <h3>Crash Reports</h3>
  <ul class="mzp-u-list-styled">
    <li>crash-reports.mozilla.com</li>
    <li>crash-stats.mozilla.org</li>
  </ul>
  <p>
    If you are planning to experiment with crash report payloads, please use our <a href="https://crash-stats.allizom.org/">crash-stats staging instance</a> and <a href="https://crash-reports.allizom.org/">crash-reports staging instance</a> for testing.
  </p>

  <h3>Downloads (Product Delivery)</h3>
  <ul class="mzp-u-list-styled">
    <li>archive.mozilla.org</li>
    <li>download.mozilla.org</li>
    <li>download-installer.cdn.mozilla.net</li>
  </ul>

  <h3>Firefox Accounts</h3>
  <ul class="mzp-u-list-styled">
    <li>accounts.firefox.com</li>
    <li>api.accounts.firefox.com</li>
    <li>oauth.accounts.firefox.com</li>
    <li>profile.accounts.firefox.com</li>
    <li>verifier.accounts.firefox.com</li>
  </ul>

  <h4>Firefox Settings (Kinto)</h4>
  <ul class="mzp-u-list-styled">
    <li>firefox.settings.services.mozilla.com</li>
    <li>webextensions.settings.services.mozilla.com</li>
  </ul>

  <h3>Firefox Suggest</h3>
  <ul class="mzp-u-list-styled">
    <li>merino.services.mozilla.com</li>
  </ul>

  <h3>Firefox Sync</h3>
  <ul class="mzp-u-list-styled">
    <li>*.sync.services.mozilla.com</li>
    <li>token.services.mozilla.com</li>
  </ul>

  <h3>Firefox Updates (AUS/Balrog)</h3>
  <ul class="mzp-u-list-styled">
    <li>aus5.mozilla.org</li>
  </ul>

  <h3>Lando</h3>
  <ul class="mzp-u-list-styled">
    <li>api.lando.services.mozilla.com</li>
    <li>api-private.lando.services.mozilla.com</li>
    <li>lando.services.mozilla.com</li>
  </ul>

  <h3>Localization</h3>
  <ul class="mzp-u-list-styled">
    <li>pontoon.mozilla.org</li>
  </ul>

  <h3>Location Services</h3>
  <ul class="mzp-u-list-styled">
    <li>location.services.mozilla.com</li>
  </ul>

  <h3>Mozilla Tile Service</h3>
  <ul class="mzp-u-list-styled">
    <li>contile.services.mozilla.com</li>
  </ul>

  <h3>Normandy</h3>
  <ul class="mzp-u-list-styled">
    <li>self-repair.mozilla.org</li>
  </ul>

  <h3>Phabricator</h3>
  <ul class="mzp-u-list-styled">
    <li>phabricator.services.mozilla.com</li>
  </ul>

  <h3>Push</h3>
  <ul class="mzp-u-list-styled">
    <li>push.services.mozilla.com</li>
    <li>updates.push.services.mozilla.com</li>
  </ul>

  <h3>Source Control</h3>
  <ul class="mzp-u-list-styled">
    <li>hg.mozilla.org (except website, see below)</li>
  </ul>

  <h3>Taskcluster - Firefox CI </h3>
  <ul class="mzp-u-list-styled">
    <li>firefox-ci-tc.services.mozilla.com</li>
  </ul>

  <h3>Tracking Protection</h3>
  <ul class="mzp-u-list-styled">
    <li>shavar.services.mozilla.com</li>
  </ul>

  <h2 id="core-sites"><b>Core</b></h2>

  <p>Core websites pay out bounties, but at a reduced rate.</p>

  <h3>Bedrock (www)</h3>
  <ul class="mzp-u-list-styled">
    <li>www.mozilla.org</li>
  </ul>
  <p>
    Please use our <a href="https://www.allizom.org">staging instance</a> for testing to avoid site disruption.
  </p>

  <h3>Firefox Monitor</h3>
  <ul class="mzp-u-list-styled">
    <li>monitor.firefox.com</li>
  </ul>

  <h3>Hubs</h3>
  <ul class="mzp-u-list-styled">
    <li>hubs.mozilla.com</li>
    <li>reticulum.io</li>
    <li>*.reticulum.io</li>
  </ul>

  <h3>Payment Subscription</h3>
  <ul class="mzp-u-list-styled">
    <li>subscriptions.firefox.com</li>
  </ul>

  <h3 id="pocket">Pocket</h3>

  <p>The scope for Pocket in this program is limited to the targets below. Any API endpoint or path not explicitly mentioned is considered out of scope.</p>
  <p><strong>Also note that the Pocket iOS and MacOS applications are currently out of scope.</strong></p>

  <ul class="mzp-u-list-styled">
    <li>Pocket Web application under the following paths:
      <ul>
        <li>getpocket.com/home</li>
        <li>getpocket.com/account</li>
        <li>getpocket.com/discover</li>
        <li>getpocket.com/collections</li>
        <li>getpocket.com/saves/*</li>
        <li>getpocket.com/read/*</li>
        <li>getpocket.com/premium/*</li>
      </ul>
    </li>
    <li>The following API endpoints:
      <ul>
        <li>getpocket.com/v3/add</li>
        <li>getpocket.com/v3/send</li>
        <li>getpocket.com/v3/get</li>
      </ul>
    </li>
    <li>Pocket Android Application</li>
    <li>Pocket Web Extension</li>
  </ul>

  <h3>Private Relay</h3>
  <ul class="mzp-u-list-styled">
    <li>relay.firefox.com</li>
  </ul>

  <h3>Source Control</h3>
  <ul class="mzp-u-list-styled">
    <li>hg.mozilla.org (website only)</li>
  </ul>

  <h3>Support</h3>
  <ul class="mzp-u-list-styled">
    <li>support.mozilla.org</li>
  </ul>
  <p>
    Please use our <a href="https://support.allizom.org">staging instance</a> for testing to avoid disrupting users.
  </p>

  <h3>Taskcluster - Community and Staging Instances</h3>
  <ul class="mzp-u-list-styled">
    <li>stage.taskcluster.nonprod.cloudops.mozgcp.net</li>
    <li>community-tc.services.mozilla.com</li>
  </ul>

  <h3>VPN</h3>
  <ul class="mzp-u-list-styled">
    <li>vpn.mozilla.org</li>
  </ul>

{% endblock %}
