{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "mozorg/sustainability/index.html" %}

{% block page_title %}Mozilla Emissions Data{% endblock %}

{% block content %}
  <main>
  <section class="mzp-l-content">
    <div class="c-section-wrapper">
      <h2><span class="highlight green">2020, 2021, and 2022 greenhouse gas inventory data</span></h2>
    </div>
    <div class="c-section-wrapper">
      <h3><span class="highlight black">Operational data summary</span></h3>
      <p><a href="https://blog.mozilla.org/en/mozilla/release-mozillas-greenhouse-gas-emissions-baseline/">Mozilla first calculated and reported our greenhouse gas (GHG) inventory in 2020</a>, reflecting our 2019 data. Today we continue this approach of accountability and transparency regarding our environmental impact by reporting our latest inventory data, reflecting 2020, 2021, and 2022, which closes the gap since our last report and bridges our reporting activities to the present day.</p>

      <p>For calendar years 2020, 2021 and 2022 (i.e. January 2020 - December 2022), Mozilla's total operational emissions (including scope 1, 2, and 3) were 36,235 metric tons of carbon dioxide equivalent (tCO₂e), before carbon offsets or removals. Mozilla’s total GHG emissions for 2022 were 15,281 tCO2e.</p>

      <div class="c-graph-wrapper">
        <figure>
          <figcaption>Mozilla’s total GHG emissions from 2020 to 2022</figcaption>
          <img src="{{ static('img/mozorg/sustainability/ghg-figure.png') }}" alt="Stacked bar chart graph showing Mozilla's total greenhouse gas emissions from 2020 to 2022. In 2020, there was a total of 13,604 tCO2e emissions comprising of 36% purchased goods and services, 26% travel, 7% marketing (purchased goods and service), 13% cloud (purchased goods and service), 10% offices, 9% other. In 2021, there was a total of 7,350 tCO2e emissions comprising of 55% purchased goods and services, 0% travel, 10% marketing (purchased goods and service), 11% cloud (purchased goods and service), 13% offices, 11% other. In 2022, there was a total of 15,281 tCO2e emissions comprising of 36% purchased goods and services, 30% travel, 16% marketing (purchased goods and service), 9% cloud (purchased goods and service), 3% offices, 6% other."></figure>
      </div>

      <div class="emphasis">
        <blockquote >
          <p>Mozilla’s total GHG emissions for 2022 were 15,281 tCO2e</p>
        </blockquote>
      </div>

      <p>In accordance with The <a href="https://ghgprotocol.org/" target="_blank" rel="noopener noreferrer">Greenhouse Gas Protocol</a>, scope 1 emissions are direct emissions from company-owned or controlled sources, such as natural gas used to heat offices. Scope 2 emissions are indirect emissions associated with the electricity a company uses to power its operations, such as electricity used in offices. Finally, scope 3 accounts for other indirect emissions both upstream and downstream that are not directly owned or controlled by the company, but occur as a result of business operations. Examples include emissions from business travel, employee commuting, and purchased goods and services.</p>

      <p>This latest greenhouse gas inventory data provides critical insights for Mozilla, serving as a key input into the foundations of our Sustainability Program strategy. These results help us understand the sources of our emissions, start to identify possible ways to reduce them, and monitor our progress year over year. Mozilla plans to measure and report our greenhouse gas inventory on an annual basis going forward, along with the progress towards reducing our emissions.</p>
    </div>
    <div class="c-section-wrapper">
      <h3><span class="highlight black">Three key findings from our latest <abbr title="Greenhouse gas">GHG</abbr> data</span></h3>

      <div class="c-section-wrapper">

        <h4>Key finding 1: The majority of Mozilla’s emissions are in scope 3</h4>
        <div class="c-graph-wrapper">
          <figure><figcaption>Summary of Mozilla’s relative scope 1, 2, and 3 emissions for 2022</figcaption><img src="{{ static('img/mozorg/sustainability/ghg-scope.png') }}" alt="Single horizontal stacked bar chart depicting the breakdown of Mozilla's 2022 operational emissions across scope 1, 2, and 3 (as defined by The Greenhouse Gas Protocol), of which 98.6% are in scope 3."></figure>
        </div>

        <p>Across the years 2020-2022, >90% of Mozilla’s emissions came from scope 3 categories and for 2022 specifically, this figure was >98%. This is not unusual for an organization in our industry and tells us that Mozilla is facing many of the same challenges as our peers. In the coming years, in addition to mitigating our scope 1 and 2 emissions, we look forward to piloting solutions that address our scope 3 emissions, sharing what we learn and learning from others.</p>
      </div>

      <div class="c-section-wrapper">

        <h4>Key finding 2: Our top three emissions categories were purchased goods and services, travel and offices</h4>

        <ul class="c-emissions">
          <li>
            <img src="{{ static('img/mozorg/sustainability/money.png') }}" alt="">
            <h5>Purchased goods <br> and services</h5>
            <p>62%</p>
          </li>
          <li>
            <img src="{{ static('img/mozorg/sustainability/plane.png') }}" alt="">
            <h5>Travel</h5>
            <p>22%</p>
          </li>
          <li><img src="{{ static('img/mozorg/sustainability/office.png') }}" alt="">
            <h5>Offices</h5>
            <p>7%</p></li>
          </ul>

          <p>We also learned that our top emissions categories consisted of purchased goods and services, travel and offices. Collectively, these three categories represented more than 90% of Mozilla’s emissions during the period of 2020-2022. Understanding our emission hotspots provides direction on where we at Mozilla can focus our efforts in order to have the most impact.</p>

      </div>

      <div class="c-section-wrapper">
        <h4>Key finding 3: Emissions were impacted by COVID-19</h4>
        <p>Like many other organizations, the COVID-19 global pandemic impacted Mozilla’s operations, which was reflected in our greenhouse gas emissions, especially between 2020 and mid-2022.</p>
        <p>During the past three years, our lowest annual emissions occurred in 2021, at a total of 7,350 tCO2e, in part due to a significant reduction in business travel, employee commutes to the office and Mozilla-hosted in-person events. Additionally, some changes will have a longer-lasting impact. For example, Mozilla has closed or downsized a number of our leased office spaces over the past few years, reducing our real estate portfolio from ten leased offices in 2020 to five leased offices in 2022. With an increased percentage of Mozillians now working fully remotely, we will need to consider how to embed sustainability into the way we work as a globally distributed, remote workforce.</p>
      </div>
    </div>
    <div class="c-section-wrapper">
      <h3><span class="highlight black">2022 optional product use data summary</span></h3>
      <p>Per the <a href="https://ghgprotocol.org/" target="_blank" rel="noopener noreferrer">Greenhouse Gas Protocol</a>, Mozilla is not required to calculate or report the product use emissions (scope 3, category 11) associated with using our products such as Firefox, Hubs and Pocket. However, Mozilla aims to lead by example and support transparency by reporting this optional data, and we began doing so in 2019. By taking this step, we hope to encourage our peers in the technology industry to do the same.</p>
      <p>We first reported this optional product use data in 2019, in partnership with POINT380 and continue this trend for our 2022 data based on a new methodology developed for Mozilla by Watershed. This new methodology more accurately accounts for device emissions that can be reasonably attributed to Mozilla when our products are used, as opposed to over-attributing 100% of device emissions to Mozilla whenever a product is used. Additional details on the methodology can be found in the “Scope and methodology” section of this report.</p>
      <p>In 2022, the total emissions from using Mozilla’s products was 533,463 tons of carbon dioxide equivalent (tCO2e).</p>

      <div class="emphasis">
        <blockquote >
          <p>In 2022, the total emissions from using Mozilla’s products was 533,463 tons of carbon dioxide equivalent (tCO2e)</p>
        </blockquote>
      </div>
    </div>




    <div class="c-section-wrapper">
      <h3><span class="highlight black">2019-2022 Greenhouse Gas Inventory Data By the Numbers</span></h3>

      <!-- Table 1 -->
      <div class="c-table-wrapper">
      <h4>Table 1: Total annual emissions by scope</h4>
        <p>Market-based (in metric tons CO2e)</p>

      <div class="c-table">
        <table class="mzp-u-data-table">
            <thead>
                <tr>
                    <td></td>

                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                    <th scope="col">2021</th>
                    <th scope="col">2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Scope 1</th>
                    <td>736</td>
                    <td>582</td>
                    <td>53</td>
                    <td>39</td>
                </tr>
                <tr class="ghg-percentage">
                    <th scope="row">Percent of Total GHG Emissions (Scopes 1-3)</th>
                    <td>5.2%</td>
                    <td>4.3%</td>
                    <td>0.7%</td>
                    <td>0.3%</td>
                </tr>
                <tr>
                    <th scope="row">Scope 2</th>
                    <td>460</td>
                    <td>120</td>
                    <td>382</td>
                    <td>178</td>
                </tr>
                <tr class="ghg-percentage">
                    <th scope="row">Percent of Total GHG Emissions (Scopes 1-3)</th>
                    <td>3.2%</td>
                    <td>0.9%</td>
                    <td>5.2%</td>
                    <td>1.2%</td>
                </tr>
                <tr>
                    <th scope="row">Scope 3</th>
                    <td>13,026</td>
                    <td>12,903</td>
                    <td>6,914</td>
                    <td>15,064</td>
                </tr>
                <tr class="ghg-percentage">
                    <th scope="row">Percent of Total GHG Emissions (Scopes 1-3)</th>
                    <td>91.6%</td>
                    <td>94.8%</td>
                    <td>94.1%</td>
                    <td>98.6%</td>
                </tr>
                <tr class="c-total">
                    <th scope="row">Total</th>
                    <td>12,222</td>
                    <td>13,604</td>
                    <td>7,350</td>
                    <td>15,281</td>
                </tr>
            </tbody>
        </table>
      </div>
      <h5>Notes:</h5>
      <ul class="mzp-u-list-styled">
        <li>Totals may not add to 100% due to rounding to one decimal place. Values are rounded and totals are calculated before rounding.</li>
        <li>Scope 1, 2, and 3 emissions are calculated using the Greenhouse Gas Protocol. Mozilla partnered with POINT380 to conduct our 2019 GHG inventory and with Watershed to conduct our 2020-2022 GHG inventories.  2019 figures reported in this table align with data reported in Table 2 of Mozilla's <a href="https://blog.mozilla.org/wp-content/blogs.dir/278/files/2021/02/Mozillas-2019-Greenhouse-Gas-emissions-baseline_2020-11-18.pdf">2019 Greenhouse Gas Inventory Report</a>.</li>
        <li>See the section titled "Scope and methodology" for additional information on methodology.</li>
      </ul>
      </div>


      <!-- Table 2 -->

    <div class="c-table-wrapper">


      <h4>Table 2: Emissions breakdown by scope</h4>
      <p>Market-based (in metric tons CO2e)</p>

      <div class="c-table table-2">
        <table class="mzp-u-data-table">
            <thead>
                <tr>
                    <td></td>
                    <th></th>
                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                    <th scope="col">2021</th>
                    <th scope="col">2022</th>
                </tr>
            </thead>
            <tbody>
              <!-- Scope 1 -->
                <tr>
                    <th scope="row" rowspan="3" class="scope">Scope 1</th>
                    <th scope="row" class="subrow">Stationary Fuel/Heating</th>
                    <td>604</td>
                    <td>558</td>
                    <td>31</td>
                    <td>29</td>

                  </tr>

                <tr>
                   <th scope="row" class="subrow">Refrigerants</th>
                    <td>132</td>
                    <td>23</td>
                    <td>22</td>
                    <td>10</td>
                </tr>
                <tr class="scope-total">
                   <th scope="row">Scope 1 total</th>
                    <td>736</td>
                    <td>581</td>
                    <td>53</td>
                    <td>39</td>
                </tr>

                <!-- Scope 2 -->
                <tr>
                  <th scope="row" rowspan="3" class="scope">Scope 2</th>
                  <th scope="row" class="subrow">Purchased Electricity: Location-Based (grid average)</th>
                  <td>699</td>
                  <td>648</td>
                  <td>448</td>
                  <td>193</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Purchased Electricity: Market-Based (incl. renewables)</th>
                    <td>460</td>
                    <td>120</td>
                    <td>382</td>
                    <td>178</td>
                </tr>
                <tr class="scope-total">
                    <th scope="row" >Scope 2 total</th>
                    <td>1,159</td>
                    <td>768</td>
                    <td>830</td>
                    <td>371</td>
                </tr>

                <!-- Scope 3 -->
                <tr>
                  <th scope="row" rowspan="9" class="scope">Scope 3</th>
                  <th scope="row" class="subrow">Category 1: Purchased Goods and Services</th>
                  <td>9,921</td>
                  <td>7,666</td>
                  <td>5,896</td>
                  <td>8,908</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 2: Capital Goods</th>
                    <td><em>de minimis</em></td>
                    <td>61</td>
                    <td>99</td>
                    <td>126</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 3: Fuel and Energy-Related Activities</th>
                    <td><em>de minimis</em></td>
                    <td>381</td>
                    <td>177</td>
                    <td>98</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 5: Waste Generated in Operations</th>
                    <td>109</td>
                    <td>20</td>
                    <td>0</td>
                    <td>5</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 6: Business Travel</th>
                    <td>2,657</td>
                    <td>3,857</td>
                    <td>44</td>
                    <td>5,099</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 7: Employee Commuting</th>
                    <td>341</td>
                    <td>862</td>
                    <td>649</td>
                    <td>781</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 8: Upstream Leased Assets</th>
                    <td><em>not included</em></td>
                    <td>10</td>
                    <td>3</td>
                    <td>6</td>
                </tr>

                <tr>
                   <th scope="row" class="subrow">Category 11: Product Use</th>
                    <td><em>not included</em></td>
                    <td>47</td>
                    <td>45</td>
                    <td>40</td>
                </tr>

                <tr class="scope-total">
                    <th scope="row" >Scope 3 total</th>
                    <td>13,028</td>
                    <td>12,904</td>
                    <td>6,913</td>
                    <td>15,063</td>
                </tr>

                <tr class="c-total">
                    <th scope="row" rowspan="1">Total</th>
                    <td></td>
                    <td>14,923</td>
                    <td>14,253</td>
                    <td>7,796</td>
                    <td>15,473</td>
                </tr>
            </tbody>
        </table>
        </div>
        <h5>Notes:</h5>
        <ul class="mzp-u-list-styled">
          <li>Values are rounded and totals are calculated before rounding.</li>
          <li>Scope 1, 2, and 3 emissions are calculated using the Greenhouse Gas Protocol. Mozilla partnered with POINT380 to conduct our 2019 GHG inventory and with Watershed to conduct our 2020-2022 GHG inventories.  2019 figures reported in this table align with data reported in Table 2 of <a href="https://blog.mozilla.org/wp-content/blogs.dir/278/files/2021/02/Mozillas-2019-Greenhouse-Gas-emissions-baseline_2020-11-18.pdf">Mozilla's 2019 Greenhouse Gas Inventory Report</a>.  See the section titled "Scope and methodology" for additional information on methodology.</li>
          <li>Scope 3 Category 11 (Use of Products) includes emissions from data transfer. We report additional optional emissions from product use in Table 3.</li>
          <li>See the section titled "Scope and methodology" for additional information on methodology.</li>
        </ul>
      </div>

      <!-- Table 3 -->
      <div class="c-table-wrapper">
      <h4>Table 3: Optional reporting on Scope 3 Category 11: Product Use emissions</h4>
      <p>Market-based (in metric tons CO2e)</p>

      <div class="c-table table-2">
        <table class="mzp-u-data-table">
            <thead>
                <tr>
                    <td></td>
                    <th></th>
                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                    <th scope="col">2021</th>
                    <th scope="col">2022</th>
                </tr>
            </thead>
            <tbody>
              <!-- Scope 1 -->
                <tr class="c-total">
                    <th scope="row" rowspan="1" class="scope">Total</th>
                    <td></td>
                    <td>785,474</td>
                    <td><em>data not reported</em></td>
                    <td><em>data not reported</em></td>
                    <td>533,463</td>
                  </tr>
            </tbody>
        </table>
        </div>
        <h5>Notes:</h5>
        <ul class="mzp-u-list-styled">
          <li>Values are rounded and totals are calculated before rounding.</li>
          <li>Per the Greenhouse Gas Protocol, it is optional to calculate and report indirect use-phase emissions.</li>
          <li>Mozilla worked with different external partners and therefore used different methodologies for our 2019 vs 2022 GHG inventories.  Additional information on the approach used by POINT380 in Mozilla's 2019 inventory <a href="https://blog.mozilla.org/wp-content/blogs.dir/278/files/2021/02/Mozillas-2019-Greenhouse-Gas-emissions-baseline_2020-11-18.pdf">can be found here</a>.  Mozilla worked with Watershed to develop a new methodology for our 2022 inventory. See the section titled "Scope and methodology" for additional information on methodology.</li>
        </ul>
      </div>

      <h4>Scope and methodology</h4>
      <p>For our 2020, 2021 and 2022 greenhouse gas inventories, Mozilla partnered with Watershed to conduct the analysis in accordance with the applicable standards from the Greenhouse Gas Protocol. Watershed offers a third-party software platform that allows us to measure, analyze, and share the results of our greenhouse gas emissions. As a result, our greenhouse gas inventory is comprehensive, including scope 1, scope 2, and relevant scope 3 emissions for Mozilla Foundation, Mozilla Corporation, and subsidiaries such as MZLA.</p>
      <p>Watershed periodically updates their greenhouse gas emissions accounting methodology to account for the latest climate science and accounting best practices, which is a continuously evolving space. These updates keep measurements as accurate as possible and in line with the relevancy, completeness, and accuracy principles of the Greenhouse Gas Protocol. Watershed typically applies three different types of methodology updates, in order to 1) incorporate the latest climate science, 2) include all relevant emissions that were previously not considered material, not reported by peers, and/or not quantifiable, and 3) improve granularity and specificity to enable action.</p>
      <p>For the optional 2022 product use emissions (scope 3, category 11), Watershed developed a new methodology in partnership with Mozilla to calculate these emissions since a standardized methodology does not yet exist. We used a bottoms-up approach to evaluate the impact of Firefox, Hubs, and Pocket upon electricity consumption. For Firefox mobile, Hubs, and Pocket, input data included total time of active use by device type and country location. For Firefox desktop, input data also included CPU hours by device type and country location and Average Thermal Design Power (TDP) by country location.</p>
      <p>This new methodology more accurately accounts for device emissions that can be reasonably attributed to Mozilla when our products are used, as opposed to over-attributing 100% of device emissions to Mozilla whenever a product is used. Since calculating digital and software product emissions is both optional and a newer space with no standard methodology, we aim to continuously improve our approach where possible and will continue to explore opportunities for improvement going forward.</p>
      For our 2019 greenhouse gas inventory, Mozilla partnered with POINT380 to conduct the analysis, which was also developed in accordance with the applicable standards from the Greenhouse Gas Protocol. Additional information on the methodology can be found in <a href="https://blog.mozilla.org/wp-content/blogs.dir/278/files/2021/02/Mozillas-2019-Greenhouse-Gas-emissions-baseline_2020-11-18.pdf">Mozilla’s report on our 2019 GHG inventory results</a>.
    </div>
  </section>
  </main>
{% endblock %}
