@import "lib.less";
@import "reset.less";
@import "fonts.less";
@import "buttons.less";
@import "animations.less";

/* {{{ Basic Colors, Text, Links */

html { background: #fff; }

body {
    font-size: @baseFontSize;
    line-height: 1.5;
    font-family: @baseFontFamily;
    color: @textColorPrimary;
    background: #fff;
}

#outer-wrapper {
    position: relative;
    border-top: 2px solid #fff;
    background: #f9f9f9 url(/media/img/sandstone/bg-stone.png) 0 0 repeat-x;
}

#wrapper {
    padding-bottom: @baseLine * 2;
    width: @widthDesktop;
    margin: 0 auto;
    position: relative;
}

#strings { /* An arbitrary container for translatable strings to use in scripts */
    display: none;
}

a {
    color: @linkBlue;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: darken(@linkBlue, 10%);
        text-decoration: underline;
    }
}

// Add a double-arrow after links
a.more {
    .trailing-arrow();
}

// Make a button look like an anchor
.link-button {
    border: none;
    background: transparent;
    color: @linkBlue;
    font-size: @baseFontSize;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    .open-sans();
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: darken(@linkBlue, 10%);
    }

    &:focus {
        outline: 0;
    }
}

.sand #outer-wrapper {
    background: #f5f1e8 url(/media/img/sandstone/bg-gradient-sand.png) repeat-x;
    background: url(/media/img/sandstone/bg-gradient-sand.png) repeat-x,
                url(/media/img/sandstone/bg-sand.png) repeat,
                #f5f1e8;
}

.sky {
    #outer-wrapper {
        background: #eee url(/media/img/sandstone/bg-gradient-sky.png) repeat-x;
        background: url(/media/img/sandstone/bg-gradient-sky.png) repeat-x,
                    url(/media/img/sandstone/grain.png) repeat,
                    #eee;
    }

    a {
        color: @linkSkyBlue;
        &:hover,
        &:focus,
        &:active {
            color: darken(@linkSkyBlue, 10%);
        }
    }
}

.space {
    color: #fff;

    #outer-wrapper {
        background: #04020b url(/media/img/sandstone/bg-space.png) repeat-x;
    }

    a {
        color: @linkSpaceBlue;
        &:hover,
        &:focus,
        &:active {
            color: lighten(@linkSpaceBlue, 10%);
        }
    }

    h1, h2, h3, h4, h5, h6, .huge, .large {
        color: #fff;
        text-shadow: none;
    }

    #masthead nav li {
        a,
        a:link,
        a:visited {
            color: @linkSpacePurple;
        }
        li {
            a,
            a:link,
            a:visited {
                color: @textColorSecondary;
            }
        }
    }

}

h1, h2, h3, h4, h5, h6, legend, .huge, .large, legend {
    .open-sans-light;
    display: block;
    margin: 0 0 12px 0;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
    color: @textColorSecondary;
}

.huge,
.huge h1 {
    font-size: 108px;
    letter-spacing: -4px;
    line-height: 100%;
}

.large,
.large h1 {
    font-size: 72px;
    letter-spacing: -3px;
    line-height: 100%;
}

h1,
.huge h2,
.large h2,
.billboard h2 {
    font-size: 48px;
    letter-spacing: -2px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}

h4, legend {
    font-size: 24px;
    letter-spacing: -0.25px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.small,
small {
    font-size: 12px;
    line-height: 16px;
}

hgroup {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

p,
ul,
ol,
dl,
hgroup {
    margin: 0 0 @baseLine 0;
}

ul.unstyled,
ol.unstyled {
    li {
        list-style-type: none;
        margin-left: 0;
    }
    li li {
        list-style-type: disc;
        margin-left: 20px;
    }
}

li > ul {
    margin-bottom: 0;
}

li {
    margin-left: 20px;
}

dl dt {
    .open-sans-light;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: @baseLine / 2;
}

dl dd {
    margin-bottom: @baseLine * 2;
}

dl.faq dt {
    font-size: 18px;
    letter-spacing: normal;
}

dl.faq dd {
    margin-bottom: 1.5em;
}

pre,
code {
    color: @textColorTertiary;
    font-size: 14px;
}

.center {
    text-align: center;
}

hr {
    margin: @baseLine 0;
    border-bottom: 1px dotted @borderColor;
}

img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

img[data-high-res] {
    display: none;
}

.js img[data-high-res] {
    display: inline;
}

/* }}} */
/* {{{ Forms */

textarea,
input[type=email],
input[type=url],
input[type=tel],
input[type=password],
input[type=search],
input[type=text],
input[type=number],
input[type=date],
input[type=time] {
    background: #fff;
    border-color: #b2b2b2;
    border-style: solid;
    border-width: 1px;
    @shadow: 0 1px rgba(255,255,255,0.5);
    font-size: @smallFontSize;
    font-family: inherit;
    padding: (@baseLine / 5)  (@baseLine / 2);
    .border-radius(3px);
    .box-shadow(@shadow);
    .transition(all linear .1s);
    line-height: 1.1;
}

textarea { height: auto; }

textarea:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input.focus {
    border-color: #42a4e0;
    @shadow: 0 0 0 2px rgba(73,173,227,0.4);
    .box-shadow(@shadow);
    .transition(all linear .1s);
}

select:focus {
    @shadow: 0 0 0 2px rgba(73,173,227,0.4);
    .box-shadow(@shadow);
}

textarea:-moz-ui-invalid:not(output),
input[type=email]:-moz-ui-invalid:not(output),
input[type=password]:-moz-ui-invalid:not(output),
input[type=search]:-moz-ui-invalid:not(output),
input[type=text]:-moz-ui-invalid:not(output),
input.invalid {
    border-color: #a91300;
    @shadow: 0 0 0 2px rgba(255,80,80,0.4);
    .box-shadow(@shadow);
    .transition(all linear .1s);
}

.fill-width {
    display: block;
    width: 100%;
    .border-box();
}

.field {
    margin-bottom: @baseLine / 2;
    label {
        display: block;
        margin-bottom: 0.1em;
        .required {
            font-size: @smallFontSize;
            color: @linkRed;
            text-transform: uppercase;
        }
        &.checkbox,
        &.radio {
            display: block;
            padding-left: 1.5em;
        }
        &.checkbox input[type="checkbox"],
        &.radio input[type="radio"] {
            float: left;
            margin-left: -1.5em;
        }
    }
    &.required label:after {
        .required-star();
    }
    .field-note {
        font-size: @smallFontSize;
        color: @textColorTertiary;
        margin-top: 0.1em;
    }
}

.form-minimal-label {
    label {
        font-size: @smallFontSize;
        color: #999;
    }
}

.in-form-fieldset {
    margin-top: @baseLine / 2;
    margin-bottom: @baseLine / 2;
    legend {
        margin-bottom: @baseLine / 2;
        font-size: 18px;
        letter-spacing: normal;
        &.required:after {
            .required-star();
        }
    }
}

.messagelist {
    margin: 0 0 24px 0;
    .open-sans;
    li {
        list-style-type: none;
    }
    .error { color: #c00; }
    .warning { color: #0c0; }
    .info { color: #000; }
}

.errorlist {
    margin: 0;
    .open-sans;
    color: #c00;

    li {
        list-style-type: none;
        margin: 0;
    }
}

.field-error {
    input[type=email],
    input[type=password],
    input[type=text] {
        .form-field-error;
    }
    select {
        .box-shadow(@formFieldSelectErrorShadow);
    }
    label {
        color: @linkRed;
    }
}

input[type=email], input[type=password], input[type=text] {
    &.error {
        .form-field-error;
    }
}

select.error {
    .box-shadow(@formFieldSelectErrorShadow);
}

.tooltip {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px #333;
    text-align: center;
    line-height: 16px;
    background-color: #aa1401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 81, 50, 0.9)), to(rgba(169, 19, 0, 1)));
    background-image: -webkit-linear-gradient(top, rgba(218, 81, 50, 0.9), rgba(169, 19, 0, 1));
    background-image:    -moz-linear-gradient(top, rgba(218, 81, 50, 0.9), rgba(169, 19, 0, 1));
    background-image:     -ms-linear-gradient(top, rgba(218, 81, 50, 0.9), rgba(169, 19, 0, 1));
    background-image:      -o-linear-gradient(top, rgba(218, 81, 50, 0.9), rgba(169, 19, 0, 1));
    background-image:         linear-gradient(top, rgba(218, 81, 50, 0.9), rgba(169, 19, 0, 1));
    border-radius: 4px;
    padding: 10px 15px;
    box-shadow: 0 1px #666;
    max-width: 275px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 15px;
        border-style: solid;
        border-width: 10px 10px 0;
        border-color: #a91300 transparent;
    }
    &.arrow-top:after {
        top: -10px;
        border-width: 0 10px 10px;
        border-color: #d54a2c transparent;
    }
    &.arrow-left:after {
        top: 50%;
        margin-top: -10px;
        left: -10px;
        border-width: 10px 10px 10px 0;
        border-color: transparent #c13018;
    }
}

label.error {
    .open-sans;
    color: rgb(175,50,50);
}

.super-priority-field {
    display: none;
    visibility: hidden;
}

/* }}} */
/* {{{ Layout */

#main-content,
#main-feature {
    padding-bottom: 48px;
}

.main-column {
    .span(7);

    .title-shadow-box {
        margin-left: 0;
    }
}

.sidebar {
    .span(3);
    .offset(2);
}

.divider.container,
.divider {
    border-bottom: 1px dotted @borderColor;
    padding-bottom: @baseLine * 2;
    margin-bottom: @baseLine *2;
}

.divider-last.container,
.divider-last {
    border-bottom: 0;
    padding-bottom: @baseLine * 2;
}

/* }}} */
/* {{{ Grid containers */
#masthead,
#main-feature,
#main-content,
#colophon,
.billboard,
.container {
    display: block;
    margin: 0 auto;
    padding-left: @gridGutterWidth;
    padding-right: @gridGutterWidth;
    position: relative;
    .clearfix;
}

// White content box, often used with .title-shadow-box
// See /about/powered-by for example.
.callout-content {
    .clearfix;
    display: block;
    @shadow: 0 0 0 1px #fff inset;
    .box-shadow(@shadow);
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin: 0 auto @baseLine;
    padding-left: @gridGutterWidth;
    padding-right: @gridGutterWidth;
}

/* }}} */
/* {{{ Header Nav */
#masthead {

    h2 {
        padding: (@baseLine * 1.5) 0 @baseLine;
        margin: 0 (@gridGutterWidth / 2);
    }

    nav {
        float: right;
        margin: 0 16px;
        text-transform: uppercase;
        font-size: 13px;
        .open-sans;

        ul {
            margin-bottom: 0;
        }

        li {
            .inline-block;
            list-style-type: none;
            margin: 0;

            a,
            b {
                display: inline-block;
                padding: 12px;
                font-weight: normal;
            }

            b,
            .current {
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-image: url(/media/img/sandstone/menu-current.png);
            }


            a,
            a:link,
            a:visited {
                color: @textColorSecondary;
            }

        }

    }

}

.html-rtl #tabzilla,
.html-rtl #masthead nav {
    float: left;
}


#masthead .toggle {
    display: none; /* Hidden in non-mobile views */
}


/* }}} */
/* {{{ Header Breadcrumbs */

#masthead {

    nav.breadcrumbs {
        padding: 0 10px (@baseLine / 2) 10px;
        float: none;

        a,
        span {
            margin-right: .5em;
            margin-left: .5em;
        }

        a:first-child,
        span:first-child {
            margin-left: 0;
        }

    }

}

/* }}} */
/* {{{ Headers/Titles */

.title-shadow-box {
    .open-sans-light;
    width: 420px;
    padding: 20px;
    font-size: 48px;
    letter-spacing: -2px;
    color: #fff;
    text-shadow: none;
    background: #b30406;
    background: rgba(179,4,6,.95);
    margin: -60px 10px 40px;
    position: relative;
    float: left;
}

.title-shadow-box:after {
    content: "";
    display: block;
    width: 100%;
    padding: 0;
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 0;
    background: url(/media/img/mission/title-banner-shadow.png) no-repeat;
}

/* }}} */
/* {{{ Menu Bars */

.billboard {
    padding-top: @baseLine * 2;
    padding-bottom: @baseLine * 2;
    margin-bottom: @baseLine * 2;
    @shadow: 0 0 0 1px #fff inset;
    .box-shadow(@shadow);
    background: #fff;
    border-bottom: 1px solid #ddd;
    .clearfix;
    h1, h2, h3, h4, h5, h6, .huge, .large {
        color: @textColorSecondary;
    }
}

nav.menu-bar {
    text-align: center;
    .open-sans-light;
    margin-bottom: @baseLine * 2;
    padding-top: 0;
    padding-bottom: 0;

    ol,
    ul {
        margin: 0;
        li {
            .inline-block;
            margin: 0;
        padding-top: (@baseLine / 2);
        padding-bottom: (@baseLine / 2);
            a {
                .inline-block;
                border-left: 1px dotted @borderColor;
                padding: @baseLine / 3 @baseLine;
                span {
                    display: block;
                }
            }
            &:first-child a {
                border-left: 0;
            }
        }
    }
}

/* }}} */
/* {{{ Tables */

.table {
    border-collapse: collapse;
    border-spacing: 0;
    caption {
        text-align:left;
        padding-bottom:1px; /* fix to get it to look nice in many browsers */
        margin-bottom:-1px;
        width:100%;
    }
    th,
    td {
        border-top: 1px solid rgba(0,0,0,0.2);
        padding: 10px @gridGutterWidth 10px 0;
        text-align: left;
    }
    thead {
        th,
        td {
            border-top: 0;
            padding-top: 0;
            font-size: 16px;
            .open-sans-light;
        }
    }
}

.html-rtl .table caption,
.html-rtl .table th,
.html-rtl .table td {
    text-align: right;
}

/* }}} */
/* {{{ Sidebar */

.sidebar {

    nav,
    .nav {
        .open-sans-light;
        font-size: 16px;
        color: @textColorSecondary;

        li {
            list-style-type: none;
            border-bottom: 1px dotted #ccc;
            margin: 0;
            line-height: 1.1;

            a,
            b {
                display: block;
                padding: 8px 0;
            }

            li b {
                font-weight: bold;
            }

        }

        li:first-child {
            font-size: 24px;
        }

    }

    .reference {
        margin: @baseLine * 2  auto;

        .more {
            display: block;
            padding: (@baseLine / 2) 0;
            border-bottom: 1px dotted @borderColor;
            .open-sans-light;
        }

        p {
            margin: 0;
        }
    }
}

/* }}} */
/* {{{ Footer Email Form */

.newsletter-form {
    margin-bottom: 0;

    h3 {
        .span(4);
    }

    .form-contents {
        .span(4);
    }

    .form-submit {
        .span(3);
        input {
            // fix for IE 6/7 treating min-width as width
            // for submit input
            overflow: visible;
        }
    }

    select {
        max-width: 80%;
    }

    input[type=email] {
        width: 80%;
    }

    .field-privacy {
        font-size: @smallFontSize;
        input {
            float: left;
        }
        .title {
            display: block;
            padding: 0 0 0 25px;
        }
    }

    &.loading {
        h3,
        .form-contents,
        .form-submit {
            .transition(opacity .2s ease-in-out);
            opacity: 0.2;
        }
    }
}

.html-rtl {
    .newsletter-form {
        h3,
        .form-contents,
        .form-submit,
        .field-privacy input {
            float: right;
        }
        .field-privacy .title {
            padding: 0 25px 0 0;
        }
    }
}

.newsletter-form.thank {
    display: none;
    overflow: hidden;
    h3 {
        width: auto;
        margin: auto;
        padding: 0;
        float: none;
        .animation(sand-bounce-down 0.7s ease-in 0.2s 1 normal both);
    }
    p {
        margin-top: @baseLine;
        .animation(sand-fade-in 0.5s ease-in 0.8s 1 normal both);
    }
}
.js {
    #form-details,
    .form-details { display: none; }
    .has-errors #form-details,
    .has-errors .form-details { display: block; }
    p.form-details {
        margin-top: 8px;
        line-height: 1;
        color: @textColorSecondary;
    }
}

#footer-email-errors .errorlist,
#newsletter-errors .errorlist {
    .container;
    background: #AF3232;
    color: #fff;
    padding-top: @baseLine / 2;
    padding-bottom: @baseLine / 2;
}

#newsletter-spinner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* }}} */
/* {{{ Footer */

#colophon {
    color: @textColorTertiary;
    padding: (@baseLine * 2) 0;
    font-size: .875em;
    line-height: 1.285;
    background: #fff;
    width: 100%;
    margin: 1em 0 0;

    a,
    a:link,
    a:visited {
        color: @linkBlue;
    }

    a:hover,
    a:focus,
    a:active {
        color: darken(@linkBlue, 10%);
    }

    h1 {
        margin-bottom: @baseLine / 2;
        font-size: @baseFontSize;
    }

    p, ul {
        margin-bottom: @baseLine / 2;
        line-height: 1.5;
    }

    li {
        margin: 0;
        list-style-type: none;
    }

    .logo a {
        .image-replaced();
        display: inline-block;
        background: url(/media/img/sandstone/footer-mozilla.png) left top no-repeat;
        width: 93px;
        height: 24px;
    }

    .row {
        width: @widthDesktop - (@gridGutterWidth * 2);
        margin: 0 auto;
        .clearfix;
    }

    .col {
        .span(4);

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .col-2 ul {
        overflow: hidden;

        li {
            float: left;

            &.wrap:before {
                content: "\00A0\00B7\00A0"; /* &nbsp;&middot;&nbsp; */
            }

            &.clear {
                clear: both;
            }
        }
    }

    .links-social li {
        ul {
            display: inline;
            margin: 0;
        }

        li {
            display: inline;

            &:before {
                content: "\00B7\00A0"; /* &middot;&nbsp; */
            }

            &:first-child:before {
                content: "";
            }

            span {
                .visually-hidden; /* for a11y */
            }
        }
    }
}

.html-rtl #colophon {
    .col, .col-2 ul li {
        float: right;
    }
}

/* }}} */
/* {{{ Responsive Grid */

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #wrapper {
      width: @widthTablet;
    }

    #masthead,
    #main-feature,
    #main-content,
    .billboard,
    .container {
        width: @widthTablet - (@gridGutterWidth * 2);
    }

    .main-column {
        .span_narrow(8);
    }

    nav.menu-bar {
        font-size: .9375em;
    }

    .sidebar {
        .span_narrow(3);
        .offset_narrow(1);
    }

    .footer-newsletter-form, #newsletter-form {
        h3 {
            .span_narrow(4);
            padding-top: 4px;
        }

        .form-contents {
            .span_narrow(5);
        }

        .form-submit {
            .span_narrow(3);
        }
    }

    #colophon {
        .row {
            width: @widthTablet - (@gridGutterWidth * 2);
        }

        .col-1 {
            .span-all();
            overflow: hidden;
            margin-bottom: @baseLine;
        }

        .col-2,
        .col-3 {
            .span_narrow(6);
        }

        .logo {
            float: left;
            margin-bottom: 0;
            width: 120px;
        }

        .license {
            margin: 0 0 0 120px;
        }
    }

    .html-rtl #colophon {
        .col-2,
        .col-3,
        .logo {
            float: right;
        }

        .license {
            margin: 0 120px 0 0;
        }
    }
}


/* Mobile Layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #wrapper {
      width: @widthMobile;
    }

    #masthead,
    #main-feature,
    #main-content,
    #colophon,
    .billboard,
    .container,
    .main-column,
    .sidebar {
        width: auto;
        padding-left: @gridGutterWidth / 2;
        padding-right: @gridGutterWidth / 2;
        padding-bottom: @gridGutterWidth;
    }

    .main-column,
    .sidebar {
        padding-left: 0;
        padding-right: 0;
        .span-all();
    }

    .row {
        margin-left: auto;
    }


    #masthead {

        .toggle {
            display: block;
            width: 32px;
            height: 32px;
            /*margin: -3px 0 0 -3px;*/
            background: no-repeat center top url(/media/img/sandstone/icn-menu.png);
            text-indent: -999em;
            overflow: hidden;
            cursor: pointer;
            position:relative;
            top:-3px;
        }
        .toggle.open {
            background-position: center -100px;
        }

        h2 {
            padding-top: @baseLine / 2;
            padding-bottom: @baseLine / 2;
        }

        nav {
            float: none;
            padding-top: 10px;
            margin-left: 10px;

            ul li {
                display: block;
                a,
                b {
                    display: block;
                    padding: 0;
                }

                b,
                .current {
                    background-image: none;
                }
            }
        }

        nav.breadcrumbs {
            margin-left: 0;
            a,
            span {
                margin-right: .3em;
                margin-left: .3em;
            }
        }

    }

    .huge,
    .huge h1,
    .large,
    .large h1 {
        font-size: 48px;
        letter-spacing: -2px;
    }

    h1,
    .large h2 {
        font-size: 32px;
        letter-spacing: -1px;
    }

    h2,
    .billboard h2 {
        font-size: 28px;
        letter-spacing: -0.5px;
    }

    h3 {
        font-size: 24px;
        letter-spacing: -0.25px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    dl dt {
        font-size: 24px;
    }

    nav.menu-bar {
        text-align: inherit;
        line-height: 100%;

        ul {
            padding-top: @baseLine / 2;
            padding-bottom: @baseLine / 2;
            li {
                display: block;
                padding: 0;
                a {
                    padding: @baseLine / 2;
                    border: 0;
                    display: block;
                    border-top: 1px dotted @borderColor;
                    border-left: 0;
                }
                &:first-child a {
                    border-top: 0;
                }
            }
        }
    }

    .title-shadow-box {
        width: 340px;
        font-size: 28px;
        letter-spacing: -.5px;
        margin: -25px 0 @baseLine;
    }

    .footer-newsletter-form, #newsletter-form {
        h3,
        .form-contents,
        .form-submit {
            width: auto;
            float: none;
            margin-bottom: 10px;
        }

        .form-submit {
            margin-top: @baseLine / 2;
        }
    }

    .html-rtl {
        .footer-newsletter-form,
        #newsletter-form {
            h3,
            .form-contents,
            .form-submit {
                float: none;
            }
        }
    }

    #colophon {
        .row {
            width: @widthMobile - @gridGutterWidth;
        }

        .col {
            width: auto;
            float: none;
            margin-bottom: @baseLine / 2;
        }
    }

    .html-rtl #colophon .col {
        float: none;
    }

    #nav-main {

        #nav-main-menu li {
            display: block;
            float: none;
            margin: 0 10px;
            border-bottom: 1px solid #f2f2f2;
        }

        #nav-main-menu li:last-child {
            border: 0;
        }

        #nav-main-menu a,
        #nav-main-menu b {
            cursor: pointer;
            display: block;
            text-transform: none;
            padding: 12px 35px 12px 10px;
            margin: 0 -10px;
        }

        #nav-main-menu a.submenu-item {
            background: 94% 50% no-repeat url(/media/img/sandstone/arrow-go.png);
        }

        #nav-main-menu a:hover,
        #nav-main-menu a:focus,
        #nav-main-menu a:active {
            color: #fff;
            text-decoration: none;
            text-shadow: 1px 1px 0 rgba(0,0,0,.25);
            background-color: #247ac1;
            background-position: 94% 50%;
            background-repeat: no-repeat;
            background-image: -webkit-linear-gradient(top, #43a6e2, #247ac1);
            background-image: linear-gradient(to bottom, #43a6e2, #247ac1);
        }

        #nav-main-menu a.submenu-item:hover,
        #nav-main-menu a.submenu-item:focus,
        #nav-main-menu a.submenu-item:active {
            background-image: url(/media/img/sandstone/arrow-go.png), -webkit-linear-gradient(top, #43a6e2, #247ac1);
            background-image: url(/media/img/sandstone/arrow-go.png), linear-gradient(to bottom, #43a6e2, #247ac1);
        }

        #nav-main-menu li.first > a {
            border-radius: 10px 10px 0 0;
        }

        #nav-main-menu li.last > a {
            border-radius: 0 0 10px 10px;
        }
    }

    #nav-main-menu {
        background: #fff;
        position: absolute;
        z-index: 99;
        width: 200px;
        margin: 20px 0 0 -20px;
        left: -999em;
        top: 30px;
        overflow: visible;
        .border-radius(10px);
        .box-shadow(0 1px 3px 0 rgba(0,0,0,.5));
    }

    #nav-main:hover #nav-main-menu,
    #nav-main-menu:target {
        left: auto;
    }

    .js #nav-main-menu {
        left: auto;
        display: none;
    }

    #nav-main-menu:before {
        content: "";
        display: block;
        width: 28px;
        height: 10px;
        background: no-repeat url(/media/img/sandstone/menu-point.png);
        position: absolute;
        left: 22px;
        top: -10px;
    }

    .html-rtl #masthead nav {
        float: right;
    }

    .html-rtl #masthead .toggle {
        left: auto;
        right: 10px;
    }

    .html-rtl #nav-main-menu {
        margin-left: 0;
        margin-right: -20px;
    }

    .html-rtl #nav-main-menu:before {
        left: auto;
        right: 12px;
    }
}


/* Wide Mobile Layout: 480px */
@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

    #wrapper {
        width: @widthMobileLandscape;
    }

    #masthead,
    #main-feature,
    #main-content,
    .billboard,
    .container,
    .main-column,
    .sidebar {
        width: auto;
    }

    .main-column,
    .sidebar {
        padding-left: 0;
        padding-right: 0;
    }

    #colophon {
        .row {
            width: @widthMobileLandscape - @gridGutterWidth;
        }
    }

}
/* }}} */

@media only screen and (max-width: @breakMobileLandscape) {
    .title-shadow-box {
        width: 240px;
    }

    .title-shadow-box:after {
        display: none;
    }
}

// Don't display the dynamic platform images when js is disabled
// because the ones in the noscript tag will be shown
.no-js .platform-img.js {
    display: none;
}

/* }}} */
