// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/templates/main-with-sidebar';
@import '../../../protocol/css/components/modal';
@import '../../../protocol/css/components/sidebar-menu';

.c-product-select-form {
    @include clearfix;
    position: relative;

    &[data-current="desktop_release"] {
        .c-selection-options[data-product="desktop_release"] {
            display: block;
        }

        .c-product-links[data-product="desktop_release"] {
            display: block;
        }
    }

    &[data-current="desktop_beta"] {
        .c-selection-options[data-product="desktop_beta"] {
            display: block;
        }

        .c-product-links[data-product="desktop_beta"] {
            display: block;
        }
    }

    &[data-current="desktop_developer"] {
        .c-selection-options[data-product="desktop_developer"] {
            display: block;
        }

        .c-product-links[data-product="desktop_developer"] {
            display: block;
        }
    }

    &[data-current="desktop_nightly"] {
        .c-selection-options[data-product="desktop_nightly"] {
            display: block;
        }

        .c-product-links[data-product="desktop_nightly"] {
            display: block;
        }
    }

    &[data-current="desktop_esr"] {
        .c-selection-options[data-product="desktop_esr"] {
            display: block;
        }

        .c-product-links[data-product="desktop_esr"] {
            display: block;
        }
    }

    &[data-current="desktop_esr_next"] {
        .c-selection-options[data-product="desktop_esr_next"] {
            display: block;
        }

        // ESR Next has the same product links as regular ESR
        .c-product-links[data-product="desktop_esr"] {
            display: block;
        }
    }

    &[data-current="android_release"] {
        .c-selection-options[data-product="android_release"] {
            display: block;
        }

        .c-product-links[data-product="android_release"] {
            display: block;
        }
    }

    &[data-current="android_beta"] {
        .c-selection-options[data-product="android_beta"] {
            display: block;
        }

        .c-product-links[data-product="android_beta"] {
            display: block;
        }
    }

    &[data-current="android_nightly"] {
        .c-selection-options[data-product="android_nightly"] {
            display: block;
        }

        .c-product-links[data-product="android_nightly"] {
            display: block;
        }
    }

    @media #{$mq-lg} {
        .is-supported & {
            min-height: 700px;
        }
    }
}

.c-intro {
    margin-bottom: $layout-md;

    .c-intro-heading {
        @include at2x('/media/protocol/img/logos/firefox/browser/logo-sm.png', 64px, 64px);
        @include bidi(((background-position, top left, top right),));
        @include text-display-lg;
        background-repeat: no-repeat;
        margin-bottom: $spacing-xl;
        padding-top: 64px + $spacing-lg;
    }

    .c-product-links {
        display: none;
    }

    @media #{$mq-md} {
        @include bidi(((float, left, right),));
        margin-bottom: $layout-xl;
        width: calc(50% - #{$spacing-lg});
    }

    @media #{$mq-lg} {
        width: calc(50% - #{$spacing-2xl});
    }
}

.c-button-help {
    @include at2x('/media/img/firefox/all/icon-question.png', 21px, 21px);
    @include image-replaced;
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    width: 21px;
}

.c-selection-form {
    display: none;

    @media #{$mq-md} {
        @include bidi(((float, right, left),));
        margin-bottom: $layout-xl;
        padding-top: 64px + $spacing-lg;
        width: calc(50% - #{$spacing-lg});
    }

    @media #{$mq-lg} {
        width: calc(50% - #{$spacing-2xl});
    }

    .c-selection {
        margin-bottom: $spacing-xl;
    }

    .c-selection-label {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .c-selection-input {
        margin-top: $spacing-sm;
        width: 100%;
    }

    .c-selection-options {
        display: none;
    }

    // only show the form if JS is supported.
    .is-supported & {
        display: block;
    }
}

.c-download {
    .c-download-error {
        color: $color-red-60;
        display: none;
    }

    &.has-error {
        .c-download-error {
            display: block;
        }

        .c-download-info {
            display: none;
        }

        #download-button-primary {
            display: none;
        }
    }
}

.c-all-downloads {
    @include clearfix;

    .c-all-downloads-build {
        position: relative;
    }

    .mzp-l-sidebar {
        margin-top: $spacing-lg;

        @media #{$mq-md} {
            margin-top: $spacing-md;
            position: -webkit-sticky;
            position: sticky;
            top: $spacing-lg;
        }
    }

    .mzp-c-sidemenu {
        background: $color-white;
    }
}

.js .c-all-downloads {
    display: none;

    // still allow the list to be shown as a fallback.
    &.is-fallback {
        display: block;
    }
}

.c-product-heading {
    @include text-display-md;
    background: $color-white;
    padding: $spacing-md 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    span {
        font-weight: normal;
    }
}

.c-product-subheading {
    @include text-display-sm;
}

.c-locale-list {
    margin-bottom: $layout-lg;

    .c-locale-list-item {
        border-top: 2px solid $color-gray-20;
        padding-top: $spacing-md;
    }

    .c-locale-label {
        @include text-display-sm;

        span {
            @include text-display-xs;
            display: block;
            font-weight: normal;
        }
    }

    .c-download-list li {
        @include bidi(((margin-right, $spacing-sm, margin-left, 0),));
        display: inline-block;

        &:last-child {
            @include bidi(((margin-right, 0, margin-left, 0),));
        }
    }

    @media #{$mq-md} {
        margin-bottom: $layout-xl;
    }
}

/**
 * Custom narrow modal style.
 * These should be standardized into a narrow theme.
 * https://github.com/mozilla/protocol/issues/358
 */
 .mzp-c-modal.help-modal {

    .mzp-c-modal-window > .mzp-c-modal-inner {
        background: transparent;
        max-width: 600px;
        padding: $spacing-xl 0 0;

        header {
            // Hide header visually and add top padding to compensate
            @include visually-hidden;
        }
    }

    .mzp-c-modal-close {
        @include bidi(((right, 0, left, auto),));
    }
}

.c-help {
    ul {
        background: $color-white;
        color: $color-black;
        padding: $spacing-lg;
    }

    a:link,
    a:visited {
        color: $color-black;
    }

    a:hover,
    a:active,
    a:focus {
        color: $color-black;
    }

    .c-help-title {
        @include text-display-xs;

        span {
            font-weight: normal;
        }
    }

    .c-help-desc {
        @include text-body-sm;
    }
}
