{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-protocol.html" %}

{% block page_title %}{% if switch('firefox-election-build') %}Firefox U.S. Election Bundle{% else %}Firefox U.S. Election Collection{% endif %}{% endblock %}
{% block page_desc %}Decode political ad targeting and keep Facebook off your trail with these extensions.{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_election') }}
{% endblock %}

{% block body_id %}election{% endblock %}

{% block body_class %}election{% endblock %}

{% block content %}
<main class="mzp-t-firefox">
  {% if switch('firefox-election-build') %}
    <div id="case-not-firefox-desktop" class="hidden">
      <div class="t-paper">
        <section class="mzp-c-hero">
          <div class="mzp-l-content">
            <div class="mzp-c-hero-body">
              <h1 class="mzp-c-hero-title">Get Smart Before You Vote.</h1>
              <div class="mzp-c-hero-desc">
                <p>Download the Firefox U.S. Election Bundle to get the already powerful Firefox browser supercharged with extensions that help you decode political ad targeting and keep Facebook off your trail.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
          <div class="mzp-l-content">
            <h2 class="mzp-c-call-out-title">The Firefox Facebook Container</h2>
            <div class="mzp-c-call-out-desc">
              <p>Facebook lets political advertisers target you by tracking your activity on and off their platform.</p>
              <p>With this extension, Firefox makes it easier to explore the web without Facebook watching, so you can keep your political opinions to yourself and your dinner companions.</p>
              <p class="c-button-download">
                <small class="mzp-c-button-download-privacy-link">
                  <a href="{{ url('privacy.notices.firefox') }}">Firefox Privacy Notice</a>
                </small>
              </p>
            </div>
          </div>
        </section>
      </div>
      <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
        <div class="mzp-l-content">
          <h2 class="mzp-c-call-out-title">The ProPublica Facebook Political Ad Collector</h2>
          <div class="mzp-c-call-out-desc">
            <p>Participate in ProPublica’s crowdsourcing extension that automatically gathers ads from Facebook, the biggest online platform for political discourse. Your contribution feeds a public database that lets you see what others are seeing and helps journalists flag misinformation. It’s a win-win for you and the web.</p>
            <p>Since the Political Ad Collector was developed by ProPublica, not Firefox, the <a rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/privacy/">ProPublica privacy policy</a> applies to this extension.</p>
          </div>
        </div>
      </section>
      <section class="mzp-c-call-out mzp-t-firefox">
        <div class="mzp-l-content">
          <div class="mzp-c-call-out-content">
            <div class="mzp-c-call-out-container">
              <h2 class="mzp-c-call-out-title">Download Firefox U.S. Election Bundle</h2>
            </div>
          </div>
          <div class="mzp-c-call-out-cta">
            <div class="mzp-c-call-out-cta-container">
              <div class="c-button-download">
                <div id="case-unsupported" class="hidden">
                  <p>Sad to say, your computer doesn’t support Firefox.  Even so, Digital citizens need good info. Mozilla Corporation and Firefox can help you check your registration status, read political news curated by Pocket and get other helpful resources.</p>
                  <!-- hard code en-US because election content will not be localized -->
                  <p><a class="mzp-c-button" href="/en-US/" data-link-type="button" data-link-name="Unsupported Browser Election Content">Other special election content</a></p>
                </div>
                <div id="case-outofdate" class="hidden">
                  <p>Your version of Firefox isn’t compatible with the U.S. Election Bundle. Once you’ve updated, please return to this page for the extensions.</p>
                  {{ download_firefox(alt_copy='Update Firefox', dom_id='btn-download-oldfx') }}
                </div>
                <div id="case-mobile" class="hidden">
                  <p>The U.S. Election Bundle is made just for Firefox on desktop. Visit this page on your computer to download it or add the extensions.</p>
                  <p>Digital citizens need good info. Mozilla Corporation and Firefox can help you check your registration status, read political news curated by Pocket and get other helpful resources.</p>
                  <!-- hard code en-US because election content will not be localized -->
                  <p><a class="mzp-c-button" href="/en-US/">Other special election content</a></p>
                </div>
                <div id="case-manual" class="hidden">
                  <p><a href="{{ url('firefox.new') }}" data-button-name="Manual installation Download Firefox">Install Firefox</a> and return to this page to install the extentions.</p>
                </div>
                <div id="case-funnel" class="hidden">
                  <p id="case-funnel-windows" class="hidden">
                    <a
                      class="download-link button mzp-c-button mzp-t-download"
                      href="https://download.mozilla.org/?product=firefox-election-edition&os=win&lang=en-US"
                      data-link-type="download"
                      data-download-os="Desktop"
                      data-download-version="firefox election bundle win"
                      data-download-location="election page">
                      Download Firefox U.S. Election Bundle
                    </a>
                  </p>
                  <p id="case-funnel-mac" class="hidden">
                    <a
                      class="download-link button mzp-c-button mzp-t-download"
                      href="https://download.mozilla.org/?product=firefox-election-edition&os=osx&lang=en-US"
                      data-link-type="download"
                      data-download-os="Desktop"
                      data-download-version="firefox election bundle mac"
                      data-download-location="election page">
                      Download Firefox U.S. Election Bundle
                    </a>
                  </p>
                  <p><a href="{{ url('firefox.new') }}" data-button-name="just firefox">Nah, just give me Firefox</a></p>
                  <small class="mzp-c-button-download-privacy-link">
                    <a href="{{ url('privacy.notices.firefox') }}" >Firefox Privacy Notice</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="case-firefox-desktop-current">
      <div class="t-paper">
        <section class="mzp-c-hero">
          <div class="mzp-l-content">
            <div class="mzp-c-hero-body">
              <h1 class="mzp-c-hero-title">Get Smart Before You Vote.</h1>
              <div class="mzp-c-hero-desc">
                  <p>Decode political ad targeting and keep Facebook off your trail with these extensions.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
          <div class="mzp-l-content">
            <h2 class="mzp-c-call-out-title">The Firefox Facebook Container</h2>
            <div class="mzp-c-call-out-desc">
              <p>Facebook helps political advertisers target you by tracking your activity on and off their platform.</p>
              <p>This extension makes it easier to explore the web without Facebook watching, so you can keep your political opinions to yourself and your dinner companions. </p>
              <p class="c-button-download">
                <a id="facebook-container-button" class="mzp-c-button" rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-container/" data-button-name="Facebook Container Get It">Get It</a><br>
                <small class="mzp-c-button-download-privacy-link">
                  <a href="{{ url('privacy.notices.firefox') }}">Firefox Privacy Notice</a>
                </small>
              </p>
            </div>
          </div>
        </section>
      </div>
      <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
        <div class="mzp-l-content">
          <h2 class="mzp-c-call-out-title">The ProPublica Facebook Political Ad Collector</h2>
          <div class="mzp-c-call-out-desc">
            <p>Participate in ProPublica’s crowdsourcing extension that automatically gathers ads from Facebook, the biggest online platform for political discourse. Your contribution feeds a public database that lets you see what others are seeing and helps journalists flag misinformation. It’s a win-win for you and the web.</p>
            <p>Since the Political Ad Collector was developed by ProPublica, not Firefox, the <a rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/privacy/">ProPublica privacy policy</a> applies to this extension.</p>
            <p class="c-button-download">
              <a id="pro-republica-button" class="mzp-c-button" rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/" data-button-name="ProPublica Collector Get It">Get It</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <p class="c-pro-disclaimer">The Firefox U.S. Election Bundle is a project between ProPublica and the Mozilla Corporation.</p>
  {% else %}
    <div id="case-not-firefox-desktop" class="hidden">
      <div class="t-paper">
        <section class="mzp-c-hero">
          <div class="mzp-l-content">
            <div class="mzp-c-hero-body">
              <h1 class="mzp-c-hero-title">Get Smart Before You Vote.</h1>
              <div class="mzp-c-hero-desc">
                <p>Decode political ad targeting and keep Facebook off your trail with these extensions.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
          <div class="mzp-l-content">
            <h2 class="mzp-c-call-out-title">The Firefox Facebook Container</h2>
            <div class="mzp-c-call-out-desc">
              <p>Facebook lets political advertisers target you by tracking your activity on and off their platform.</p>
              <p>With this extension, Firefox makes it easier to explore the web without Facebook watching, so you can keep your political opinions to yourself and your dinner companions.</p>
              <p class="c-button-download">
                <small class="mzp-c-button-download-privacy-link">
                  <a href="{{ url('privacy.notices.firefox') }}">Firefox Privacy Notice</a>
                </small>
              </p>
            </div>
          </div>
        </section>
      </div>
      <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
        <div class="mzp-l-content">
          <h2 class="mzp-c-call-out-title">The ProPublica Facebook Political Ad Collector</h2>
          <div class="mzp-c-call-out-desc">
            <p>Participate in ProPublica’s crowdsourcing extension that automatically gathers ads from Facebook, the biggest online platform for political discourse. Your contribution feeds a public database that lets you see what others are seeing and helps journalists flag misinformation. It’s a win-win for you and the web.</p>
            <p>Since the Political Ad Collector was developed by ProPublica, not Firefox, the <a rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/privacy/">ProPublica privacy policy</a> applies to this extension.</p>
          </div>
        </div>
      </section>
      <section id="case-unsupported" class="mzp-c-call-out mzp-t-firefox hidden">
        <div class="mzp-l-content">
          <div class="mzp-c-call-out-cta">
            <div class="mzp-c-call-out-cta-container">
              <div class="c-button-download">
                <div>
                  <p>Sad to say, your computer doesn’t support Firefox.  Even so, Digital citizens need good info. Mozilla Corporation and Firefox can help you check your registration status, read political news curated by Pocket and get other helpful resources.</p>
                  <!-- hard code en-US because election content will not be localized -->
                  <p><a class="mzp-c-button" href="/en-US/" data-button-name="Unsupported Browser Election Content">Other election content</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="case-manual" class="mzp-c-call-out mzp-t-firefox hidden">
        <div class="mzp-l-content">
          <div class="mzp-c-call-out-content">
            <div class="mzp-c-call-out-container">
              <h2 class="mzp-c-call-out-title">Get Firefox</h2>
            </div>
          </div>
          <div id="case-outofdate" class="hidden mzp-c-call-out-cta">
            <div class="mzp-c-call-out-cta-container">
              <div class="c-button-download">
                <p>Your version of Firefox isn’t compatible with these extensions. Once you’ve updated, please return to this page for the extensions.</p>
                {{ download_firefox(alt_copy='Update Firefox', dom_id='btn-download-oldfx') }}
              </div>
            </div>
          </div>
          <div id="case-mobile" class="hidden mzp-c-call-out-cta">
            <div class="mzp-c-call-out-cta-container">
              <div class="c-button-download">
                <p>These extensions are made for Firefox on desktop. Visit this page on your computer to download Firefox or add the extensions.</p>
                <p>Digital citizens need good info. Mozilla Corporation and Firefox can help you check your registration status, read political news curated by Pocket and get other helpful resources.</p>
                <!-- hard code en-US because election content will not be localized -->
                <p><a class="mzp-c-button" href="/en-US/">Other election content</a></p>
              </div>
            </div>
          </div>
          <div id="case-download" class="mzp-c-call-out-cta">
            <div class="mzp-c-call-out-cta-container">
              <div class="c-button-download">
                <p>Get Firefox and return to this page to add the extensions.</p>
                <p>{{ download_firefox(alt_copy='Get Firefox', dom_id='btn-download-primary') }}</p>
              </div>
            </div>
          </div>
          <div class="mzp-c-call-out-content">
            <div class="mzp-c-call-out-container">
              <h2 class="mzp-c-call-out-title">Get The Extensions</h2>
            </div>
          </div>
          <div class="mzp-c-call-out-cta">
            <div class="mzp-c-call-out-cta-container">
              <p>Once you have Firefox return to this page to install the extensions.</p>
              <p><a class="mzp-c-button mzp-t-secondary" rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-container/" data-button-name="Facebook Container Get It">Firefox Facebook Container Extension</a></p>
              <p><a class="mzp-c-button mzp-t-secondary" rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/" data-button-name="ProPublica Collector Get It">ProPublica Facebook Political Ad Collector Extension</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="case-firefox-desktop-current">
      <div class="t-paper">
        <section class="mzp-c-hero">
          <div class="mzp-l-content">
            <div class="mzp-c-hero-body">
              <h1 class="mzp-c-hero-title">Get Smart Before You Vote.</h1>
              <div class="mzp-c-hero-desc">
                  <p>Decode political ad targeting and keep Facebook off your trail with these extensions.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
          <div class="mzp-l-content">
            <h2 class="mzp-c-call-out-title">The Firefox Facebook Container</h2>
            <div class="mzp-c-call-out-desc">
              <p>Facebook helps political advertisers target you by tracking your activity on and off their platform.</p>
              <p>This extension makes it easier to explore the web without Facebook watching, so you can keep your political opinions to yourself and your dinner companions. </p>
              <p class="c-button-download">
                <a class="mzp-c-button" rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-container/" data-button-name="Facebook Container Get It">Get It</a><br>
                <small class="mzp-c-button-download-privacy-link">
                  <a href="{{ url('privacy.notices.firefox') }}">Firefox Privacy Notice</a>
                </small>
              </p>
            </div>
          </div>
        </section>
      </div>
      <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
        <div class="mzp-l-content">
          <h2 class="mzp-c-call-out-title">The ProPublica Facebook Political Ad Collector</h2>
          <div class="mzp-c-call-out-desc">
            <p>Participate in ProPublica’s crowdsourcing extension that automatically gathers ads from Facebook, the biggest online platform for political discourse. Your contribution feeds a public database that lets you see what others are seeing and helps journalists flag misinformation. It’s a win-win for you and the web.</p>
            <p>Since the Political Ad Collector was developed by ProPublica, not Firefox, the <a rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/privacy/">ProPublica privacy policy</a> applies to this extension.</p>
            <p class="c-button-download">
              <a class="mzp-c-button" rel="external" href="https://addons.mozilla.org/en-US/firefox/addon/facebook-ad-collector/" data-button-name="ProPublica Collector Get It">Get It</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <p class="c-pro-disclaimer">The Firefox U.S. Election Collection is a project between ProPublica and the Mozilla Corporation.</p>
  {% endif %}
</main>
{% endblock %}

{% block js %}
{% if switch('firefox-election-build') %}
  {{ js_bundle('firefox_election_build') }}
{% else %}
  {{ js_bundle('firefox_election') }}
{% endif %}
{% endblock %}
