{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros-protocol.html" import hero, content_card with context %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}EU Election{% endblock %}
{% block page_desc %}Decode political ad targeting and keep trackers off your trail with these resources and tools.{% endblock %}
{% block page_image %}{{ static('img/firefox/election/share.png') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_election') }}
{% endblock %}

{% block body_id %}election{% endblock %}

{% block body_class %}election{% endblock %}

{% block site_header %}
  {% include 'includes/protocol/navigation/menu-firefox/nav-switch.html' %}
{% endblock %}

{% block content %}
<main class="mzp-t-firefox">

  {% call hero(
    title=_('Your Europe.<br> Your vote.<br> Your tools.')|safe,
    class='mzp-has-image mzp-u-no-shape mzp-t-firefox',
    heading_level=1,
    desc="Online news, social media, ads...The internet has changed elections. Prepare to vote in the EU Parliament elections with tools that help you make the most of it."
  ) %}
  {% endcall %}

  <div class="mzp-l-content">
    <div class="mzp-l-card-hero">
      {{ content_card('card_1') }}
      {{ content_card('card_2') }}
      {{ content_card('card_3') }}
      {{ content_card('card_4') }}
      {{ content_card('card_5') }}
    </div>

    <div class="mzp-l-card-half">
      {{ content_card('card_6') }}
      {{ content_card('card_7') }}
    </div>
    <div class="mzp-l-card-half">
      {{ content_card('card_8') }}
      {{ content_card('card_9') }}
    </div>
  </div>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_election') }}
{% endblock %}
