{% extends "security/base.html" %}

{% block page_title %}Mozilla Foundation Secuirty Advisories{% endblock %}

{% block article %}
  <article class="section-content" itemscope itemtype="http://schema.org/Article">
    <header>
      <h1 itemprop="name">Mozilla Foundation Security Advisories</h1>
    </header>
    <div itemprop="articleBody">

      {% include "security/partials/impact_key.html" %}

      <ul>
        {% for group in advisories|groupby('announced')|reverse %}
          <li>{{ group.grouper|datetime }}<ul>
            {% for advisory in group.list %}
              <li><a class="{{ advisory.impact_class }}" href="{{ advisory.get_absolute_url() }}">{{ advisory.id }}</a>: {{ advisory.title|safe }}</li>
            {% endfor %}
          </ul></li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}
