{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "security/base.html" %}

{% block page_title %}Web and Services Bug Bounty Program{% endblock %}
{% set body_id = "web-bug-bounty" %}

{% block article %}
  <header>
    <h1 class="mzp-c-article-title">Web and Services Bug Bounty Program</h1>
  </header>

  <h2>Introduction</h2>

  <p>The Mozilla Bug Bounty Program is designed to encourage security research into Mozilla's websites and services and to reward those who find unique and original bugs in our web infrastructure.</p>

  <p><strong>We have migrated our web bug bounty program to HackerOne.</strong> Please visit our policy pages to learn more and to submit reports. <a href="https://hackerone.com/mozilla_critical_services">Mozilla Critical Services</a> and <a href="https://hackerone.com/mozilla_core_services">Mozilla Core Services</a></p>

{% endblock %}
