{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "mozorg/contact/includes/macros.html" import map_image with context %}

{% extends "base-protocol-mozilla.html" %}

{% block page_title %}Contacts, Spaces and Communities{% endblock %}
{% block body_id %}contact-spaces{% endblock %}

{% block page_css %}
  {{ css_bundle('contact-spaces') }}
{% endblock %}

{% block content %}

<main id="main-content">
  <div class="mzp-l-content mzp-t-content-xl">
    <header class="page-head">
      <h1 class="page-title"><span>Where is Mozilla?</span></h1>
      <p class="help">
      {% with link_sumo='https://support.mozilla.org/' %}
        Need help with Firefox? <a href="{{ link_sumo }}">Get it on our support site</a>
      {% endwith %}
      </p>
    </header>

    <div class="map">
      {% block map %}{% endblock %}
      <small>
        {% with link_openstreetmap='http://openstreetmap.org/copyright' %}
          © <a href="{{ link_openstreetmap }}">OpenStreetMap</a> contributors.
        {% endwith %}
      </small>
    </div>

    <div class="page-content">
      {% block tab_navigation %}
        {% include 'mozorg/contact/includes/tab-nav.html' %}
      {% endblock %}

      {% block contact_main %}
        <div class="mzp-has-sidebar mzp-l-sidebar-left">
          <div class="mzp-l-main">
            {% block contact_entry %}{% endblock %}
          </div>

          <div class="mzp-l-sidebar">
            {% block contact_nav %}{% endblock %}
          </div>
        </div>
      {% endblock %}

      {% block meta_category %}{% endblock %}

    </div>{# end page-content #}

    <p class="attribution">
    {% with link_openstreetmap='http://openstreetmap.org/copyright' %}
      Maps © <a href="{{ link_openstreetmap }}">OpenStreetMap</a> contributors.
    {% endwith %}
      Community photos courtesy of Mozilla contributors, used with permission.
    </p>
  </div>
</main>

{% endblock %}

{% block js %}
  {# Issue 9322 #}
  {% if self.body_id() != 'contact-landing' %}
    {{ js_bundle('protocol-sidemenu') }}
  {% endif %}
{% endblock %}
