{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% add_lang_files "mozorg/home" "mwc2014_promos" %}

{% from 'macros.html' import facebook_share_url, twitter_share_url %}

{% block page_title %}{{_('Home of the Mozilla Project')}}{% endblock %}
{% block body_id %}home{% endblock %}
{% block body_class %}sand lang-{{ LANG }}{% endblock %}

{% block extra_meta %}
<!-- validates bing webmaster tools -->
<meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574" />
<!-- YouTube Verification -->
<meta name="google-site-verification" content="Mef8xJZ1-faaN2AdGdCfRFo5VeoXOSxjXNIzMsxcx94" />
{% endblock %}

{% block extrahead %}
  {{ css('home') }}
<!--[if IE 9]>
  {{ css('home-ie9') }}
<![endif]-->
<!--[if IE 8]>
  {{ css('home-ie8') }}
<![endif]-->
<!--[if lt IE 8]>
  {{ css('home-ie') }}
<![endif]-->
{% endblock %}

{% block string_data %}
  {# L10n: Used as a label for a button that scrolls through latest news. #}
  data-news-next='{{_('Next article')}}'
  {# L10n: Used as a label for a button that scrolls through latest news. #}
  data-news-prev='{{_('Previous article')}}'
{% endblock %}

{% block js %}
{# This hides the script from IE 7 and lower #}
<!--[if gt IE 7]> <!-- -->
  {{ js('home') }}
<!-- <![endif]-->
{% endblock %}

{% block site_header_logo %}{% endblock %}

{% block content %}
<main id="main-content" role="main">
  <header class="mission">
    {# L10n: The Mozilla wordmark appears inline as part of this headline, so it reads as "We are Mozilla." #}
    <h1>{{ _('We are %(mozilla_wordmark)s') | format(mozilla_wordmark=high_res_img('img/home/mozilla-wordmark-red.png', {'alt': 'Mozilla', 'width': '258', 'height': '70'})|safe) }}</h1>
    <p class="tagline">{{ _('Doing good is part of our code') }}</p>
  </header>

  <section class="pillars">
    <ul class="accordion">

{# Position 1: "Shape Environments" #}
    {% if l10n_has_tag('promo_webwewant') or settings.DEV %}
      <li id="panel-webwewant" class="panel" tabindex="0">
        <h2 class="panel-title">{{ _('The Web needs you') }}</h2>
        <div class="aurora"></div>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="https://webwewant.mozilla.org/#video" rel="external">
              <h3>{{ _('What kind of Web do you want?') }}</h3>
              <p>{{ _('Tell us what matters most to you and help shape the future of the Web.') }}</p>
              <p class="go">{{ _('Share your vision') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% elif l10n_has_tag('promo_lightbeam') %}
      <li id="panel-lightbeam" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>Watch</i> the watchers') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="{{ url('lightbeam.lightbeam')  }}">
              <h3>{{ _('See who’s watching you online') }}</h3>
              <p>{{ _('Shine a light on the third parties that are collecting data about your online activity.') }}</p>
              <p class="go">{{ _('Install the Lightbeam add-on') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% else %}
      <li id="panel-mission" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>Explore</i> our mission') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="{{ url('mozorg.mission') }}">
              <h3>{{ _('Our principles guide us') }}</h3>
              <p>{{ _('We’re a global community of technologists, thinkers and builders working to keep the Internet alive and accessible.') }}</p>
              <p class="go">{{ _('Read more about our mission') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% endif %}

{# Position 2: "Build Products" #}
    {% if l10n_has_tag('promo_worldcup2014') or settings.DEV %}
      <li id="panel-worldcup2014" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('Football <i>fanatic?</i>') }}</h2>
        <div class="ball"></div>
        <div class="panel-inner">
          <div class="panel-content">
          {% if request.locale in ['pt-BR','es-ES','es-CL','es-AR','es-MX','id','de','fr','it'] %}
            <a href="https://activations.cdn.mozilla.net/{{ LANG }}/goal.html?utm_source=mozcarousel&amp;utm_medium=banner&amp;utm_content=goalcom{{ LANG }}&amp;utm_campaign=WC2014">
          {% else %}
            <a href="https://activations.cdn.mozilla.net/en-US/goal.html?utm_source=mozcarousel&amp;utm_medium=banner&amp;utm_content=goalcomen-US&amp;utm_campaign=WC2014" hreflang="en-US">
          {% endif %}
              <h3>{{ _('Football fanatic?') }}</h3>
              <p>{{ _('Firefox lets you keep up with all the action in Brazil.') }}</p>
              <p class="go">{{ _('Activate the Goal.com sidebar') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% elif l10n_has_tag('promo_fxdesktop') %}
      <li id="panel-fxdesktop" class="panel" tabindex="0">
        {# L10n: This is the label seen when the panel is collapsed so it may need to be altered to fit a limited space. The active phrase should be wrapped in <i></i> tags. #}
        <h2 class="panel-title">{{ _('<i>Try the best</i> Firefox yet') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="{{ url('firefox.desktop.index') }}">
              {# L10n: This is the headline seen when the panel is open so it can be longer than the panel label. #}
              <h3>{{ _('Try the best Firefox yet') }}</h3>
              <p>{{ _('Learn more about the free desktop browser that’s committed to you, your privacy and an open Web.') }}</p>
              <p class="go">{{ _('See what’s new') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% else %}
      <li id="panel-fxos" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>Look</i> ahead') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="{{ url('firefox.os.index') }}">
              <h3>{{ _('Look ahead') }}</h3>
              <p>{{ _('We‘re bringing more people to the Web in more ways and from more places than ever before.') }}</p>
              <p class="go">{{ _('Learn more about Firefox OS') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% endif %}

{# Position 3: "Enable Community" #}
    {% if l10n_has_tag('promo_new_mdn') or settings.DEV %}
      <li id="panel-mdn" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>See</i> the new MDN') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="https://developer.mozilla.org/">
              {# L10n: This <br> is strictly for visual formatting; translations can omit or reposition as needed. #}
              <h3>{{ _('See what’s new <br>for developers') }}</h3>
              <p>{{ _('Our community hub for docs, demos and other resources just got a brand new look.') }}</p>
              <p class="go">{{ _('Visit the Mozilla Developer Network') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% else %}
      <li id="panel-mdn" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>Join</i> our community') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="https://developer.mozilla.org/">
              {# L10n: This <br> is strictly for visual formatting; translations can omit or reposition as needed. #}
              <h3>{{ _('Join our<br> developer community') }}</h3>
              <p>{{ _('Get docs and demos, tools and tutorials and everything related to the Open Web.') }}</p>
              <p class="go">{{ _('Visit the Mozilla Developer Network') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% endif %}

{# Position 4: "Teach the Web" #}
    {% if l10n_has_tag('promo_webmaker') or settings.DEV %}
      <li id="panel-webmaker" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>Learn</i> the Web') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="https://webmaker.org" rel="external">
              <h3>{{ _('We teach the Web') }}</h3>
              <p>{{ _('Let‘s explore, tinker and create together to build a Web that‘s open and made by everyone.') }}</p>
              <p class="go">{{ _('Become a Webmaker') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% else %}
      <li id="panel-mozfest" class="panel" tabindex="0">
        {# L10n: The active word should be wrapped in <i></i> tags, though it may appear at a different position in the translated title. #}
        <h2 class="panel-title">{{ _('<i>Forge</i> the future') }}</h2>
        <div class="panel-inner">
          <div class="panel-content">
            <a href="https://mozillafestival.org">
              {# L10n: This <br> is strictly for visual formatting; translations can omit or reposition as needed. #}
              <h3>{{ _('Forge the future<br> of the Web') }}</h3>
              <p>{{ _('Learn from some of the most passionate thinkers and inventors from around the world.') }}</p>
              <p class="go">{{ _('Come to the Mozilla Festival') }}</p>
            </a>
          </div>
        </div>
      </li>
    {% endif %}

    </ul>
  </section>

  <section id="firefox-promo" class="billboard">
    <div class="container">
      <header>
        <a href="{{ url('firefox') }}" id="firefox-promo-link">
          <h3>{{ high_res_img('img/home/firefox-logo-wordmark.png', {'alt': 'Firefox', 'width': '250', 'height': '100'}) }}</h3>
          <h4><strong>{{_('Different by&nbsp;design')}}</strong></h4>
        </a>
      </header>
      {{ download_firefox(small=True, icon=False) }}
    </div>
  </section>

  <section class="extra">
    <div class="container">

      {% if request.locale != 'en-US' %}
        {{ email_newsletter_form() }}
      {% else %}
        {{ mozorg_newsletter_form() }}
      {% endif %}

    {% if request.locale in settings.PRESS_BLOGS %}

      <section class="extra-news">
        <h2>{{ _('In the news') }}</h2>
        <ul class="hfeed cycle-slideshow" data-cycle-timeout="6000" data-cycle-slides="> .hentry" data-cycle-fx="carousel" data-cycle-carousel-fluid="true" data-cycle-carousel-vertical="true" data-cycle-next=".news-buttons .btn-next" data-cycle-prev=".news-buttons .btn-prev" data-cycle-carousel-visible="1" data-cycle-pause-on-hover="true" data-cycle-log="false">

        {% l10n home_news, 20140429 %}
          <li class="hentry">
            <h3 class="entry-title">
              <a class="url go" rel="bookmark external" hreflang="en-US" href="http://blog.mozilla.org/press/2014/04/mozilla-introduces-the-most-customizable-firefox-ever-with-an-elegant-new-design">
                Mozilla Introduces the Most Customizable Firefox Ever with an Elegant New Design
              </a>
            </h3>
          </li>
          <li class="hentry">
            <h3 class="entry-title">
              <a class="url go" rel="bookmark external" hreflang="en-US" href="http://blog.mozilla.org/press/2014/04/firefox-for-android-is-more-customizable-than-ever">
                Firefox for Android is More Customizable Than Ever
              </a>
            </h3>
          </li>
          <li class="hentry">
            <h3 class="entry-title">
              <a class="url go" rel="bookmark external" hreflang="en-US" href="https://blog.mozilla.org/press/2014/02/firefox-os-future-2/">
                Firefox OS Unleashes the Future of Mobile
              </a>
            </h3>
          </li>
        {% endl10n %}

        </ul>
        <p class="control"><a rel="external" href="{{ press_blog_url() }}" class="go">{{ _('See all news') }}</a></p>
      </section>

    {% elif request.locale in ['hu','pt-BR'] %}

      <section class="extra-contribute fxos">
        <h2>{{ _('Get involved') }}</h2>
        <p>
          {{_('Help launch Firefox OS in your country.')}}
          {# Assuming all mobilizer_link's are external. #}
          <a rel="external" href="{{ mobilizer_link }}">{{_('Become a Mobilizer today.')}}</a>
        </p>
      </section>

    {% elif has_contribute %}

      <section class="extra-contribute volunteer">
        <h2>{{ _('Get involved') }}</h2>
        <p>
        {{ _('You don’t have to know how to code to get involved with Mozilla. <a href="%s">Learn more about our volunteer opportunities</a>.') | format(url('mozorg.contribute')) }}
        </p>
      </section>

    {% else %}

      <section class="extra-contribute locale">
        <h2>{{ _('Get involved') }}</h2>
        <p>
        {% trans link_l10n='https://l10n.mozilla.org' %}
          Thanks to our global community, Mozilla products and websites are available in over 70 languages.
          <a rel="external" href="{{ link_l10n }}">Help translate them into yours</a>.
        {% endtrans %}
        </p>
      </section>

    {% endif %}

    </div>
  </section>

</main>

{% endblock %}

{% block email_form %}{% endblock %}
