{% extends "base-resp.html" %}

{% block page_title %}ITU{% endblock %}

{% block body_id %}itu{% endblock %}
{% block body_class %}sand{% endblock %}

{% block page_css %}
  {{ css_bundle('itu') }}
{% endblock %}

{% block content %}
<hgroup class="container">
  <h1 class="large"><abbr title="{{ _('International Telecommunication Union') }}">{{ _("ITU") }}</abbr></h1>
  <h2>{{ _("Make your voice heard on the <abbr title='International Telecommunication Union'>ITU</abbr>") }}</h2>
</hgroup>
<div id="main-content">
  <article class="row">
    <div class="main-column">
      <p>{{ _("The Web lets us speak out, share, and connect around the things that matter. It creates new opportunities, holds governments to account, breaks through barriers, and makes cats famous. This isn't a coincidence. It's because the Web belongs to all of us: We all get a say in how it's built.") }}</p>
      <p>{{ _("Mozilla has made it <a href='%s'>our mission</a> to keep the power of the web in people's hands. But all this could change on December 3")|format(url('mozorg.mission')) }}.</p>
      <p>{{ _("Our governments are going to meet in Dubai to decide whether an old treaty, the International Telecommunication Union, can be expanded to regulate - to control - the Internet.") }}</p>
      <p>{{ _("The issue isn't whether our governments, the UN, or even the <abbr title='International Telecommunication Union'>ITU</abbr> should play a role in shaping the Web. The problem is that they are trying to do it behind closed doors, in secret, without us.") }}</p>
      <p>{{ _("We believe everyone should have a voice. And this site is to help you be heard in Dubai.") }}</p>
    </div>
    <aside class="sidebar">
      {% block sidebar %}
        <section class="your-say">
          <h2>{{ _("Have Your Say") }}</h2>
          <p>{{ _("Our <a href='%s'><abbr title='International Telecommunication Union'>ITU</abbr> Engagement Kit</a> provides resources for understanding what’s at stake and the tools to make a difference.")|format('https://webmaker.org/ITU/kit/') }}</p>
          <ol>
            <li>
              <h3>{{ _("Learn Why This Matters") }}</h3>
              <p>{{ _("Read <a href='%(blog)s'>Mozilla's position on the <abbr title='International Telecommunication Union'>ITU</abbr></a> and explore other <a href='%(kit)s'>resources from across the Web</a>.")|format(blog='https://blog.mozilla.org/blog/2012/11/29/the-itu-and-you/', kit='https://webmaker.org/ITU/kit/#the-issues') }}</p>
            </li>
            <li>
              <h3>{{ _("Create Your Message") }}</h3>
              <p>{{ _("<a href='%(videos)s'>See what other people are saying</a> and <a href='%(popcorn)s'>make your own interactive video</a> to <a href='%(activate)s'>share your own <abbr title='International Telecommunication Union'>ITU</abbr> message</a>.")|format(videos="https://webmaker.org/ITU/videos/", popcorn="https://www.webmaker.org/projects/roll-your-own-itu-activism-video/", activate="https://webmaker.org/ITU/kit/#activate" ) }}</p>
            </li>
            <li>
              <h3>{{ _("Engage in the Conversation") }}</h3>
              <p>{{ _("Get the word out! We've collected some channels and allies you can work with to <a href='%s'>get people engaged</a> on- and offline.")|format("https://webmaker.org/ITU/kit/#custom-message") }}</p>
            </li>
          </ol>
        </section>
        <section class="micro-grants">
          <h2>{{ _("Micro-grants for Civil Society") }}</h2>
          <p>{{ _("We've provided support to 10 amazing open web advocates from around the world. <a href='%s'>Check out their projects and get involved!</a>")|format("https://webmaker.org/ITU/advocates/") }}</p>
        </section>
      {% endblock %}
    </aside>
  </article>
</div>
{% endblock %}

{% block email_form %}{% endblock %}
