{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}Mozilla Partnerships{% endblock %}
{% block body_id %}partnerships{% endblock %}

{% block page_css %}
  {% stylesheet 'partnerships' %}
{% endblock %}

{% block js %}
  {% javascript 'partnerships' %}
{% endblock %}

{% block content %}

<div id="main-feature">
  <hgroup>
    <h1 class="large">{{ _('Partner with Mozilla') }}</h1>
    <h2>{{ _('Help us shape the future of the Web for the public good') }}</h2>
  </hgroup>
  <p>
    {% trans %}
    Mozilla promotes openness, innovation and opportunity on the Internet by engaging in unique partnerships with
    some of the world’s leading brands and non-profits, as well as with technology, content and service providers.
    Find out how you and your company can get involved.
    {% endtrans %}
  </p>
</div>

<article id="main-content" class="billboard">

<div id="sections">

<section id="firefox">
  <img src="{{ static('img/mozorg/partnerships/banner-firefox.jpg') }}" alt="{{ _('Firefox screenshot') }}" />
  <img src="{{ static('img/mozorg/partnerships/icon-firefox.png') }}" alt="{{ _('Firefox icon') }}" class="icon" />
  <h3>{{ _('Firefox for Desktop') }}</h3>
  <p>
    {{ _('Opportunities include distribution, customized versions and more of our PC, Mac &amp; Linux browser.') }}
  </p>

  <ul>
    <li>
      <a href="{{ url('mozorg.partnerships-distribution') }}">{{ _('Learn more about Mozilla Firefox distribution policies') }}</a>
    </li>
  </ul>
</section>

<section id="android">
  <img src="{{ static('img/mozorg/partnerships/banner-android.jpg') }}" alt="{{ _('Firefox for Android screenshot') }}" />
  <img src="{{ static('img/mozorg/partnerships/icon-android.png') }}" alt="{{ _('Firefox for Android icon') }}" class="icon" />
  <h3>{{ _('Firefox for Android') }}</h3>
  <p>{{ _('Opportunities include distribution, customized versions and more of our mobile browser.') }}</p>
</section>

<section id="marketplace">
  <img src="{{ static('img/mozorg/partnerships/banner-marketplace.jpg') }}" alt="{{ _('Firefox Marketplace screenshot') }}" />
  <img src="{{ static('img/mozorg/partnerships/icon-marketplace.png') }}" alt="{{ _('Firefox Marketplace icon') }}" class="icon" />
  <h3>{{ _('Firefox Marketplace') }}</h3>
  <p>
    {% trans url1='https://marketplace.firefox.com/developers/' %}
    Content providers and developers can reach Web users on desktop and mobile and have their apps promoted to
    hundreds of millions of users. <a href="{{ url1 }}">Learn more about apps and
    Firefox Marketplace »</a>
    {% endtrans %}
  </p>
</section>

<section id="cobrand">
  <img src="{{ static('img/mozorg/partnerships/banner-cobrand.jpg') }}" alt="{{ _('co-branding screenshot') }}" />
  <img src="{{ static('img/mozorg/partnerships/icon-cobrand.png') }}" alt="{{ _('co-branding icon') }}" class="icon" />
  <h3>{{ _('Tell your brand story') }}</h3>
  <p>
    {% trans %}
    Co-branding, editorial partnerships, content creation, rewards, events and more —  Mozilla is always looking
    for innovative marketing collaborations with like-minded brands.
    {% endtrans %}
  </p>
</section>

</div>

<section id="partner">
  <div id="partner-form-success" class="{% if not form_success %}cloaked{% endif %}">
    <h3>{{ _('Thank you') }}</h3>
    <p>{{ _('We will review your request and get back to you as soon as possible.') }}</p>
  </div>

  <div id="partner-form" class="{% if form_success %}cloaked{% endif %}">
    <div id="partner-form-error" class="tooltip{% if not form.errors %} cloaked{% endif %}">
      {{ _('An error has occurred with your submission. Please review your information and try again.') }}
    </div>

    <h3>{{ _('Get started') }}</h3>
    <p>{{ _('Please complete the form below. Our partnership team will review your request and get back to you as soon as possible.') }}</p>

    <form action="{{ url('mozorg.partnerships') }}" method="POST" id="sf-form">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements.  Please uncomment   -->
    <!--  these lines if you wish to test in debug mode.                          -->

     <!--input type="hidden" name="debug" value=1-->
     <!--input type="hidden" name="debugEmail" value=""-->

    <!--  ----------------------------------------------------------------------  -->

    <div class="field">
      {{ form.first_name.errors }}
      <label for="first_name">{{ _('First Name') }}</label>
      {{ form.first_name }}
    </div>

    <div class="field">
      {{ form.last_name.errors }}
      <label for="last_name">{{ _('Last Name') }}</label>
      {{ form.last_name }}
    </div>

    <div class="field">
      <label for="title">{{ _('Title') }}</label>
      {{ form.title }}
    </div>

    <div class="field">
      {{ form.company.errors }}
      <label for="company">{{ _('Company') }}</label>
      {{ form.company }}
    </div>

    <div class="field">
      {{ form.URL.errors }}
      <label for="URL">{{ _('Website') }}</label>
      {{ form.URL }}
    </div>

    <div class="field">
      {{ form.email.errors }}
      <label for="email">{{ _('Email') }}</label>
      {{ form.email }}
    </div>

    <div class="field">
      <label for="phone">{{ _('Phone') }}</label>
      {{ form.phone }}
    </div>

    {{ form.office_fax }}

    <div class="field">
      <label for="mobile">{{ _('Mobile') }}</label>
      {{ form.mobile }}
    </div>

    <div class="field">
      <label for="street">{{ _('Address') }}</label>
      {{ form.street }}
    </div>

    <div class="field">
      <label for="city">{{ _('City') }}</label>
      {{ form.city }}
    </div>

    <div class="field">
      <label for="state">{{ _('State/Province') }}</label>
      {{ form.state }}
    </div>

    <div class="field">
      <label for="country">{{ _('Country') }}</label>
      {{ form.country }}
    </div>

    <div class="field">
      <label for="zip">{{ _('Zip') }}</label>
      {{ form.zip }}
    </div>

    <div class="field">
      <label for="interest" class="shown">{{ _('Interest') }}:</label>
      {{ form.interest }}
    </div>

    <div class="field">
      <label for="description">{{ _('Description') }}</label>
      {{ form.description }}
    </div>

    <div class="field footer-field">
      <input type="submit" id="sf-form-submit" name="submit" value="{{ _('Submit my request') }}" class="form-button general" />
    </div>

    </form>
  </div>
</section>
</article>

{% endblock %}

{% block email_form %}{% endblock %}
