{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-pebbles.html" %}

{% add_lang_files "mozorg/plugincheck-update" %}

{% block page_image %}{{ static('img/plugincheck/page-image.png') }}{% endblock %}

{% block page_title %}
  {{ _('More browser features, fewer plugin updates | Firefox') }}
{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}
  {{ _('Browse with fewer interruptions. Features from NPAPI plugins are now automatically supported in Firefox. Download the latest Firefox now!') }}
{% endblock %}

{% block body_class %}{% endblock %}
{% block body_id %}plugincheck{% endblock %}

{% block page_css %}
  {{ css_bundle('plugincheck') }}
{% endblock %}


{% block site_header_logo %}{% endblock %}

{% block content %}
<main role="main">
  <section class="section">
    <div class="content">

      <div class="message message-firefox-current">
        {# L10n: <br> for visual formatting #}
        <h1>{{ _('Good news - you’re using<br> the latest version of Firefox!') }}</h1>
        <p class="tagline">
        {% trans npapi='https://blog.mozilla.org/futurereleases/2015/10/08/npapi-plugins-in-firefox/' %}
          Even better news - Firefox now <a href="{{ npapi }}">supports features</a>
          that used to require additional plugins.
        {% endtrans %}
        </p>

        <p class="support">
          <a href="https://support.mozilla.org" data-link-type="support" data-link-position="current" data-link-name="Mozilla Support">
            {{ _('Need help? Visit Mozilla Support') }}
          </a>
        </p>
      </div>

      <div class="message message-firefox-old">
        {# L10n: <br> for visual formatting #}
        <h1>{{ _('Better features,<br> fewer plugin updates') }}</h1>
        <p class="tagline">
        {% trans npapi='https://blog.mozilla.org/futurereleases/2015/10/08/npapi-plugins-in-firefox/',
                 blocklist='https://support.mozilla.org/kb/add-ons-cause-issues-are-on-blocklist' %}
          Firefox has been <a href="{{ npapi }}">expanding to support features</a>
          that used to require extra plugins. Now, they’re kept up-to-date automatically
          and managed through <a href="{{ blocklist }}">blocklisting</a> for added security.
          So you can stay current with just one Firefox update.
        {% endtrans %}
        </p>

        <div class="cta">
          <p>{{ _('Download the latest version:') }}</p>
          {{ download_firefox(dom_id='oldfx-download', button_color='button-arrow', download_location='outdated, primary cta', alt_copy=_('Update Firefox')) }}
        </div>

        <p class="support">
          <a href="https://support.mozilla.org" data-link-type="support" data-link-position="outdated" data-link-name="Mozilla Support">
            {{ _('Need help? Visit Mozilla Support') }}
          </a>
        </p>
      </div>

      <div id="not-supported-container" class="message message-not-firefox">
        {# L10n: <br> for visual formatting #}
        <h1>{{ _('Tired of updating plugins?<br> Firefox has you covered.') }}</h1>
        <p class="tagline">
        {% trans npapi='https://blog.mozilla.org/futurereleases/2015/10/08/npapi-plugins-in-firefox/',
                 blocklist='https://support.mozilla.org/kb/add-ons-cause-issues-are-on-blocklist' %}
          As the web moves forward, so do we. Firefox now <a href="{{ npapi }}">supports more features</a>
          that used to require plugins, so you can browse with fewer crashes and interruptions.
          Plus, our <a href="{{ blocklist }}">blocklist system</a> protects you between updates.
        {% endtrans %}
        </p>

        <div class="cta">
          {{ download_firefox(dom_id='notfx-download', button_color='button-arrow', download_location='Not Firefox, primary cta') }}
        </div>
      </div>

    </div>
  </section>
</main>

<aside class="outro ga-section" data-ga-label="Hungry for more?">
  <div class="content">
    <section class="outro-item outro-item-newsletter">
      <div class="outro-item-detail">
        <h2>{{ _('Hungry for more?') }}</h2>
        <p class="tagline">{{ _('Get the latest &amp; greatest from Firefox delivered straight to your inbox.') }}</p>
        {{ email_newsletter_form(include_title=False, spinner_color='#000', button_class='button-hollow button-light') }}
      </div>
    </section>
  </div> {#--/.content--#}
</aside> {#--/.outro--#}

{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {{ js_bundle('plugincheck') }}
{% endblock %}
