{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-pebbles.html" %}

{% block page_title %}
  {{ _('We’re opening up a whole new Internet.') }}
{% endblock %}

{% block page_desc %}
  {{ _('Explore some of our latest innovations — built with open Web technologies and designed to help keep the Internet healthy and accessible forever.') }}
{% endblock %}

{% block body_id %}technology{% endblock %}
{% block body_class %}{% endblock %}
{% block body_attrs %}{{ super() }} data-global-nav-current-link="technology"{% endblock %}

{% block page_css %}
  {{ css_bundle('technology') }}
{% endblock %}

{% block site_header %}
  {% if LANG.startswith('en-') %}
    {% include 'includes/navigation-switch.html' %}
  {% else %}
    {% include 'mozorg/home/includes/nav.html' %}
  {% endif %}
{% endblock %}

{% block content %}
{% include 'mozorg/developer/includes/sub-nav.html' %}

<main role="main">
  {% block page_hero %}
  <div class="main-heading-container">
    <div class="content">
      <header class="main-heading">
        <h1>{{ self.page_title() }}</h1>
        <p>{{ self.page_desc() }}</p>
      </header>
    </div>
  </div>
  {% endblock %}

  <div id="technologies">
    <section id="vr" class="odd">
      <div class="content">
        <div class="inner-container">
          <h2>{{ _('Bringing Virtual Reality to the web platform') }}</h2>
          <p>{{ _('Using WebVR, developers, designers and artists can share VR experiences on the web.') }}</p>
          <a rel="external" href="https://vr.mozilla.org/" class="button">{{ _('Learn more') }}</a>
        </div>
      </div>
      <footer>
        <ul>
          <li><a rel="external" href="https://research.mozilla.org/mixed-reality/">{{ _('Learn about WebVR') }}</a></li>
          <li><a rel="external" href="https://aframe.io/">{{ _('Explore A-Frame') }}</a></li>
        </ul>
      </footer>
    </section>

    <section id="quantum" class="even">
      <div class="content">
        <div class="inner-container">
          <h2>{{ _('Firefox Quantum for Developers is here (and it’s fast!)') }}</h2>
          <p>{{ _('The new Firefox Developer Edition has a new, blazingly fast CSS engine built in Rust. Get it with innovative features like CSS Grid Layout panel and framework debugging.') }}</p>
          <a href="{{ url('firefox.developer.index') }}" class="button">{{ _('Learn more') }}</a>
        </div>
      </div>
      <footer>
        <ul>
          <li><a rel="external" href="https://hacks.mozilla.org/2017/08/inside-a-super-fast-css-engine-quantum-css-aka-stylo/">{{ _('Learn about Quantum CSS') }}</a></li>
          <li><a rel="external" href="https://research.mozilla.org/servo-engines/">{{ _('Check out Servo') }}</a></li>
        </ul>
      </footer>
    </section>

    <section id="gaming" class="even">
      <div class="content">
        <div class="inner-container">
          <h2>{{ _('Using the Web to change the game') }}</h2>
          <p>{{ _('With powerful Web technologies, pioneered by Mozilla, developers are pushing games to a new level.') }}</p>
            <a rel="external" href="https://games.mozilla.org/" class="button">{{ _('See what’s new') }}</a>
        </div>
      </div>
      <footer>
        <ul>
          <li><a rel="external" href="https://research.mozilla.org/webassembly/">{{ _('Meet WebAssembly') }}</a></li>
          <li><a rel="external" href="https://developer.mozilla.org/docs/Games">{{ _('Start building') }}</a></li>
        </ul>
      </footer>
    </section>

    <section id="iot" class="odd">
      <div class="content">
        <div class="inner-container">
          <h2>{{ _('Building the Web of Things') }}</h2>
          <p>{{ _('We’re working to create an open, Web of Things framework of software and services that can bridge the communication gap between connected devices.') }}</p>
          <a rel="external" href="https://iot.mozilla.org/" class="button">
            {% if l10n_has_tag('1429633_iot_update') %}
              {{ _('Get started') }}
            {% else %}
              {{ _('Learn more') }}
            {% endif %}
          </a>
        </div>
      </div>
      <footer>
        <ul>
          <li><a rel="external" href="https://hacks.mozilla.org/2017/06/building-the-web-of-things/">{{ _('Learn more') }}</a></li>
          <li><a rel="external" href="https://github.com/mozilla-iot">{{ _('Start contributing') }}</a></li>
        </ul>
      </footer>
    </section>

    <section id="context-graph" class="even">
      <div class="content">
        <div class="inner-container">
          <h2>{{ _('Building a browser that gets you') }}</h2>
          <p>{{ _('The next generation of Web discovery is a browser that is more intuitive, useful and in tune with you.') }}</p>
          <a rel="external" href="https://medium.com/@osunick/context-graph-its-time-to-bring-context-back-to-the-web-a7542fe45cf3#.76ofcthq2" class="button">{{ _('Learn more') }}</a>
        </div>
      </div>
      <footer>
        <ul>
          <li><a rel="external" href="https://wiki.mozilla.org/Context_Graph">{{ _('Visit the wiki') }}</a></li>
          <li><a rel="external" href="https://testpilot.firefox.com/experiments/activity-stream">{{ _('Try it now') }}</a></li>
        </ul>
      </footer>
    </section>

    <section id="rust" class="odd">
      <div class="content">
        <div class="inner-container">
          <h2>{{ _('Inventing a safer programming language') }}</h2>
            <p>{{ _('Sponsored by Mozilla, Rust allows browsers, systems and more to run much faster and more safely.') }}</p>
            <a rel="external" href="https://research.mozilla.org/rust/" class="button">{{ _('Learn about Rust') }}</a>
        </div>
      </div>
      <footer>
        <ul>
          <li><a rel="external" href="https://www.rust-lang.org/">{{ _('Visit Rust') }}</a></li>
          <li><a rel="external" href="https://www.rust-lang.org/contribute.html">{{ _('Get involved') }}</a></li>
        </ul>
      </footer>
    </section>
  </div>

  <aside id="newsletter-subscribe">
    <div class="content">
      {{ email_newsletter_form(newsletters='mozilla-foundation',
         title=_('What’s next?'),
         subtitle=_('Get the Mozilla newsletter for our latest tech news and more.'), button_class='button-light')
      }}
    </div>
  </aside>

  {% if articles %}
  <section id="blogs">
    <div class="content">
      <header>
        <h2>{{ _('Blogs') }}</h2>
        <p>{{ _('Read the latest from Mozilla’s technology blogs.') }}</p>
      </header>
      <ul>
        {% for article in articles %}
          <li>
            <article>
              <h3><a rel="external" href="{{ article.link }}">{{ article.blog_title }}</a></h3>
              <p class="meta"><a href="{{ article.blog_link }}">{{ article.blog_name }}</a> <time datetime="{{ article.date }}">{{ article.date|l10n_format_date }}</time></p>
              <p>{{ article.htmlify() }}</p>
              <a rel="external" class="continue" href="{{ article.link }}">{{ _('Continue reading') }}</a>
            </article>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}

  <div id="video-container">
    <div class="video"></div>
  </div>

</main>
{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {% if LANG.startswith('en-') %}
    {{ js_bundle('technology') }}
  {% endif %}
{% endblock %}
