{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-resp.html" %}

{% block page_title %}404: Page Not Found{% endblock %}

{% block extrahead %}
  {{ css('page_not_found') }}
{% endblock %}

{% block content %}
<div id="main-feature">
  <div id="error-content">
    <h1>{{ _('Whoops!') }}</h1>
    <p>{{ _('Did you make a left at that last URL instead of a right? No problem. here are some tips to get you back on your way:') }}</p>
    <ul>
      <li>{{ _('If you typed in the address, check your spelling. Could just be a typo.') }}</li>
      <li>
      {% trans bugzilla='https://bugzilla.mozilla.org/enter_bug.cgi?product=www.mozilla.org' %}
        If you’ve found an issue with one of our websites, we’d appreciate it if you could report the problem in Bugzilla, our <a href="{{ bugzilla }}">bug tracker</a>. One of our developers will take a look at it as soon as possible.
      {% endtrans %}
      </li>
      <li>{{ _('If you followed a link, it’s probably broken.') }}</li>
      <li>
      {% trans  url=url('mozorg.home') %}
        If you’re not sure what you’re looking for, start at <a href="{{ url }}">mozilla.org</a>.
      {% endtrans %}
      </li>
    </ul>
  </div>
  {{ download_firefox(small=True) }}
</div>
{% endblock %}
{% block email_form %}{% endblock %}
