{% from "macros-protocol.html" import sidemenu_lists with context %}

{% extends 'base-protocol-mozilla.html' %}

{% block site_css %}
  {{ super() }}
  {{ css_bundle('basic-article') }}
{% endblock %}

{% block body_id %}{{ body_id }}{% endblock %}

{% block body_class %}{{ body_class }}{% endblock %}

{% block content %}
  {% block main_feature %}{% endblock %}
  <div id="main-content" class="mzp-l-content{% if self.side_nav()|trim|length or self.side_extra()|trim|length %} mzp-has-sidebar mzp-l-sidebar-left{% endif %}">
    {% block sidebar %}
      <aside class="mzp-l-sidebar">
        {% block side_nav %}
        {% endblock %}
        {% block side_extra %}
        {% endblock %}
      </aside>
    {% endblock %}

    <main class="mzp-l-main">
      <article class="mzp-c-article">
        {% block article %}{% endblock %}
      </article>
    </main>
  </div>

  {% block newsletter %}
    <aside class="section section-newsletter" id="newsletter-subscribe">
      <div class="content">
        {% block email_form %}
        {% endblock %}
      </div>
    </aside>
  {% endblock %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <!--[if !IE]><!-->
    {{ js_bundle('basic-article') }}
  <!--<![endif]-->
{% endblock %}



