{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{# side_nav_lists() takes a list of lists and makes nav menus
  The list has the link, a body_id, and a the text to display
  {% set navigation_bar_client_bounty = [
      (url('security.client-bug-bounty'),'client-bug-bounty', 'Client Bug Bounty'),
      (url('security.bug-bounty.faq'), 'faq', 'Frequently Asked Questions'),
  ] %}

  {% set navigation_bar_web_bounty = [
      (url('security.web-bug-bounty'), 'web-bug-bounty', 'Web Bug Bounty'),
      (url('security.bug-bounty.web-eligible-sites'), 'web-eligible-sites', 'Eligible Websites'),
  ] %}

  {{ side_nav_lists([navigation_bar_client_bounty, navigation_bar_web_bounty]) }}
#}

{% macro side_nav_lists(arr, body_id='') -%}
  {% for menu in arr %}
    <nav class="side-nav">
      <ul>
      {% for href, id, caption in menu %}
        <li>
        {% if id == body_id and body_id != '' %}
          <b>{{ caption|e }}</b>
        {% else %}
          <a href="{{ href|e }}">{{ caption|e }}</a>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>
  {% endfor %}
{%- endmacro %}

{% macro facebook_share_url(url) -%}
  {{ 'https://www.facebook.com/sharer/sharer.php?u=%s'|format(url|urlencode)|e }}
{%- endmacro %}

{% macro twitter_share_url(url, tweet_text) -%}
  {{ 'https://www.twitter.com/intent/tweet?url=%s&text=%s'|format(url|urlencode, tweet_text|urlencode)|e }}
{%- endmacro %}

{% macro share_cta(cta_text, share_urls, share_text, id, class) %}
<aside class="mozilla-share-cta{% if class %} {{ class }}{% endif %}" tabindex="0"{% if id %} id="{{ id }}"{% endif -%}>
  <h3>{{ cta_text }}</h3>
  <ul>
    <li><a class="twitter" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&text=%s'|format(share_urls.get('twitter')|urlencode, share_text|urlencode)|e }}" title="Twitter" data-link-type="social share" data-link-name="Twitter">Twitter</a></li>
    <li><a class="facebook" href="{{ 'https://www.facebook.com/sharer/sharer.php?u=%s'|format(share_urls.get('facebook')|urlencode)|e }}" title="Facebook" data-link-type="social share" data-link-name="Facebook">Facebook</a></li>
    <li><a class="g-plus" href="{{ 'https://plus.google.com/share?url=%s&hl=%s'|format(share_urls.get('googleplus')|urlencode, LANG)|e }}" title="Google+" data-link-type="social share" data-link-name="Google+">Google+</a></li>
  </ul>
</aside>
{%- endmacro %}

{% macro google_play_button(class_name='', extra_data_attributes={}, extra_img_attributes={}, href=settings.GOOGLE_PLAY_FIREFOX_LINK_UTMS, id='', product='Firefox', target='') -%}
{% set optional_img_attributes = {'alt': _('Get it on Google Play'), 'width': '152', 'height': '45', 'l10n': True} %}
{% do optional_img_attributes.update(extra_img_attributes) %}
<a{% if class_name %} class="{{ class_name }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}{% if target %} target="{{ target }}" rel="external noopener noreferrer"{% else %} rel="external"{% endif %} href="{{ href }}"{% if product in ['Firefox', 'Focus'] %} data-link-type="download" data-download-os="Android"{% endif %}{% if product == 'Firefox' %} data-mozillaonline-link="{{ settings.GOOGLE_PLAY_FIREFOX_LINK_MOZILLAONLINE }}"{% endif %}{% for attr, val in extra_data_attributes.items() %} data-{{ attr }}="{{ val }}"{% endfor %}>
  {{ high_res_img('firefox/android/btn-google-play.png', optional_img_attributes) }}
</a>
{%- endmacro %}


{# Docs: https://bedrock.readthedocs.io/en/latest/send-to-device.html #}
{% macro send_to_device(platform='all', product='firefox', message_set='default', id='send-to-device', include_title=True, title_text=None, input_label=None, legal_note_email=None, legal_note_sms=None, spinner_color='#000') %}
  <section id="{{ id }}" class="send-to-device" data-countries="{{ send_to_device_sms_countries(message_set) }}" data-spinner-color="{{ spinner_color }}">
    <div class="form-container">
      {% if include_title %}
        <h2 class="form-heading">
        {% if title_text %}
          {{ title_text }}
        {% else %}
          {{ _('Send Firefox to your smartphone or tablet') }}
        {% endif %}
        </h2>
      {% endif %}
      <h2 class="thank-you hidden">{{ _('Your download link was sent.') }}</h2>
      <form class="send-to-device-form" action="{{ url('firefox.send-to-device-post') }}" method="post">
        <ul class="error-list hidden">
          <li class="sms">
          {% if l10n_has_tag('sendto_updates_bug1395342') %}
            {{ _('Sorry, we can’t send SMS messages to this phone number.') }}
          {% else %}
            {{ _('Sorry. This number isn’t valid. Please enter a U.S. phone number.') }}
          {% endif %}
          </li>
          <li class="email">{{ _('Please enter an email address.') }}</li>
          <li class="system">{{ _('An error occurred in our system. Please try again later.') }}</li>
        </ul>
        <div class="send-to-device-form-fields">
          <div class="platform-container">
            <input type="hidden" name="platform" value="{{ platform }}">
            <input type="hidden" name="source-url" value="{{ request.build_absolute_uri(request.path) }}">
            <input type="hidden" name="message-set" value="{{ message_set }}">
            <input type="hidden" name="product" value="{{ product }}">
          </div>
          <div class="inline-field">
            <label class="form-input-label" for="{{ id }}-input" data-alt="{% if l10n_has_tag('sendto_updates_bug1395342') %}{{ _('Enter your email or phone number') }}{% else %}{{ _('Enter your email or 10-digit phone number') }}{% endif %}">
              {% if input_label %}
                {{ input_label }}
              {% else %}
                {{ _('Enter your email') }}
              {% endif %}
            </label>
            <div class="form-input">
              <input id="{{ id }}-input" class="send-to-device-input" name="phone-or-email" type="text" required>
            </div>
            <div class="form-submit">
              <button type="submit" class="button mzp-c-button mzp-t-product">{{ _('Send') }}</button>
            </div>
          </div>
          <p class="legal sms">
            {% if legal_note_sms %}
              {{ legal_note_sms }}
            {% else %}
              {% if l10n_has_tag('sendto_updates_bug1395342') %}
                {{ _('SMS service available in select countries only. SMS &amp; data rates may apply.') }}
              {% else %}
                {{ _('SMS service available to U.S. phone numbers only. SMS &amp; data rates may apply.') }}
              {% endif %}
                {{ _('The intended recipient of the email or SMS must have consented.')}}
            {% endif %}
            <a href="{{ url('privacy.notices.websites') }}#campaigns" class="more">{{ _('Learn more')}}</a>
          </p>
          <p class="legal email">
            {% if legal_note_email %}
              {{ legal_note_email }}
            {% else %}
              {{ _('The intended recipient of the email must have consented.') }}
            {% endif %}
            <a href="{{ url('privacy.notices.websites') }}#campaigns" class="more">{{ _('Learn more')}}</a>
          </p>
        </div>
        <div class="thank-you hidden">
          <p class="sms">{{ _('Check your device for the email or text message!') }}</p>
          <p class="email">{{ _('Check your device for the email!') }}</p>
          <a href="#" role="button" class="more send-another">{{ _('Send to another device') }}</a>
        </div>
        <div class="loading-spinner"></div>
      </form>
    </div>
  </section>
{%- endmacro %}

{# Docs: https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#linking-to-accountsfirefoxcom #}
{% macro fxa_link_fragment(entrypoint, service_type='sync', action='signin', utm_campaign=None, utm_content=None, utm_term=None) -%}
  {% set fxa_path = '' %}
  {% set fxa_queries = [
    'entrypoint=' ~ entrypoint,
    'context=fx_desktop_v3',
    'utm_source=' ~ entrypoint,
    'utm_medium=referral'
  ] %}

  {% if action == 'signup' %}
    {% set fxa_path = 'signup' %}
  {% elif action == 'signin' %}
    {% set fxa_path = 'signin' %}
  {% else %}
    {% do fxa_queries.insert(0, 'action=email') %}
  {% endif %}

  {# utm_campaign is optional #}
  {% if utm_campaign %}
    {% do fxa_queries.append('utm_campaign=' ~ utm_campaign) %}
  {% endif %}

  {# utm_content is optional #}
  {% if utm_content %}
    {% do fxa_queries.append('utm_content=' ~ utm_content) %}
  {% endif %}

  {# utm_term is optional #}
  {% if utm_term %}
    {% do fxa_queries.append('utm_term=' ~ utm_term) %}
  {% endif %}

  href="{{ settings.FXA_ENDPOINT }}{{ fxa_path }}?service={{ service_type }}&{{ fxa_queries|join('&') }}" data-mozillaonline-link="{{ settings.FXA_ENDPOINT_MOZILLAONLINE }}{{ fxa_path }}?service={{ service_type }}&{{ fxa_queries|join('&') }}"

{%- endmacro %}

{# Docs: https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#linking-to-accountsfirefoxcom #}
{% macro fxa_cta_link(entrypoint, button_text, service_type='sync', action='signin', account_id=None, button_class=None, utm_campaign=None, utm_content=None, utm_term=None) %}
  <a {{ fxa_link_fragment(entrypoint=entrypoint, service_type=service_type, action=action, utm_campaign=utm_campaign, utm_content=utm_content, utm_term=utm_term) }} class="js-fxa-cta-link{% if button_class %} {{ button_class }}{% endif %}" data-cta-text="Create account" data-cta-type="FxA-Sync" data-cta-position="{{ button_location }}" {%if account_id %}id="{{ account_id }}"{% endif %}>
    {{ button_text }}
  </a>
{%- endmacro %}

{# Docs: https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#linking-to-monitorfirefoxcom #}
{% macro monitor_button(entrypoint, form_type='button', utm_campaign=None, utm_content=None, utm_term=None, button_text=None, button_class='mzp-c-button mzp-t-product', button_id='fxa-monitor-submit', cta_type=None, cta_position=None) -%}
  {% set fxa_queries = [
    'form_type=' ~ form_type,
    'entrypoint=' ~ entrypoint,
    'utm_source=' ~ entrypoint,
    'utm_campaign=' ~ utm_campaign,
    'utm_medium=referral'
  ] %}

  {# utm_content is optional #}
  {% if utm_content %}
    {% do fxa_queries.append('utm_content=' ~ utm_content) %}
  {% endif %}

  {# utm_term is optional #}
  {% if utm_term %}
    {% do fxa_queries.append('utm_term=' ~ utm_term) %}
  {% endif %}

  <a data-action="{{ settings.FXA_ENDPOINT }}" href="https://monitor.firefox.com/oauth/init?{{ fxa_queries|join('&') }}" {% if button_class %}class="{{ button_class }}"{% endif %} id="{{ button_id }}" data-cta-text="{% if button_text %}{{ button_text }}{% else %}Sign In to Monitor{% endif %}" data-cta-type="{% if cta_type %}{{ cta_type }}{% else %}FxA-Monitor{% endif %}" data-cta-position="{% if cta_position %}{{ cta_position }}{% else %}Primary{% endif %}">
    {% if button_text %}
      {{ button_text }}
    {% else %}
      {{ _('Sign In to Monitor') }}
    {% endif %}
  </a>
{%- endmacro %}

{# Docs: https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#signup-form #}
{% macro fxa_email_form(entrypoint, utm_campaign=None, utm_content=None, utm_term=None, style=None, class_name='fxa-email-form', form_title=None, intro_text=none, button_text=None, button_class='button button-blue') -%}
  {% set service  = 'sync' %}
  <form action="{{ settings.FXA_ENDPOINT }}" data-mozillaonline-action="{{ settings.FXA_ENDPOINT_MOZILLAONLINE }}" id="fxa-email-form" class="{{ class_name }}">
    <input type="hidden" name="action" value="email" />
    <input type="hidden" name="context" value="fx_desktop_v3" />
    <input type="hidden" name="service" value="{{ service }}" />
    <input type="hidden" name="entrypoint" value="{{ entrypoint }}" id="fxa-email-form-entrypoint" />
    <input type="hidden" name="form_type" value="email" />
    {# device_id, flow_id and flow_begin_time will be populated via JS on page load #}
    <input type="hidden" name="flow_id" value="" />
    <input type="hidden" name="flow_begin_time" value="" />
    <input type="hidden" name="device_id" value="" />
    <input type="hidden" name="utm_source" value={{ entrypoint }} id="fxa-email-form-utm-source" />
    <input type="hidden" name="utm_medium" value="referral" id="fxa-email-form-utm-medium" />

    {# utm_campaign is used to identify specific marketing campaigns. (For example: trailhead or skyline) If there is one, the campaign name is prepended to the default value of `fxa-embedded-form`. #}
    {% if utm_campaign %}
      <input type="hidden" name="utm_campaign" value="{{ utm_campaign }}-fxa-embedded-form" id="fxa-email-form-utm-campaign" />
    {% else %}
      <input type="hidden" name="utm_campaign" value="fxa-embedded-form" id="fxa-email-form-utm-campaign" />
    {% endif %}

    {# utm_content is optional. It should only be declared when there is new messaging associated with the form. (For example: `get-the-rest-of-firefox`) #}
    {% if utm_content %}
      <input type="hidden" name="utm_content" value="{{ utm_content }}" id="fxa-email-form-utm-content" />
    {% endif %}

    {# utm_term is optional. It is used for paid search keywords. This should be provided if needed. #}
    {% if utm_term %}
      <input type="hidden" name="utm_term" value="{{ utm_term }}" id="fxa-email-form-utm-term" />
    {% endif %}

    {% if style %}
      <input type="hidden" name="style" value="{{ style }}" />
    {% endif %}

    {% if form_title %}
      <h2 class="fxa-email-form-title">{{ form_title }}</h2>
    {% endif %}

    <p class="fxa-email-form-intro">
    {% if intro_text %}
      {{ intro_text }}
    {% else %}
      {{ _('<strong>Enter your email</strong> to access Firefox Accounts.') }}
    {% endif %}
    </p>

    <div class="fxa-email-field-container">
      <p class="field">
        <label for="fxa-email-field">{{ _('Email address') }}</label>
        <input type="email" name="email" id="fxa-email-field" class="fxa-email-field" placeholder="user@example.com" required>
      </p>

      <p class="agreement">
        {% trans url1='https://accounts.firefox.com/legal/terms', url2='https://accounts.firefox.com/legal/privacy' %}
          By proceeding, you agree to the <a href="{{ url1 }}">Terms of Service</a> and
          <a href="{{ url2 }}">Privacy Notice</a>.
        {% endtrans %}
      </p>

      <button
        type="submit"
        class="{{ button_class }}"
        id="fxa-email-form-submit"
        data-cta-type="FxA-Sync"
        data-cta-text="Register"
        data-cta-position="Primary"
      >
      {% if button_text %}
        {{ button_text }}
      {% else %}
        {{ _('Continue') }}
      {% endif %}
      </button>
    </div>

  </form>
{%- endmacro %}
