// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$image-path: '/media/protocol/img';
$pocket-image-path: '/media/img/pocket';

@use '../utils/variables' as pocket;

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/base/elements'; // this probably needs to be in base pocket style imports
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-pocket';
@import './mobile-nav';

.pocket-header {
    background-color: pocket.$color-white;
    border-bottom: 1px solid pocket.$color-divider;
    box-shadow: pocket.$box-shadow-sm;
    padding-bottom: $spacing-xs;
    padding-top: $spacing-xs;
}

.global-nav-container {
    font-family: pocket.$font-sans;
    font-weight: 500;
    color: pocket.$color-text-primary;
    display: flex;
    align-items: center;

    :last-child {
        margin-left: auto;
    }

    &.mzp-l-content.mzp-t-content-xl {
        max-width: 1128px; // needs to match web app nav width
        box-sizing: content-box;
    }

    .mzp-c-wordmark {
        margin-bottom: 0;
        width: pocket.$wordmark-width-sm;
    }
}

.pocket-logo {
    display: inline-block;
    margin-left: $spacing-sm;

    &:focus {
        outline: 2px solid pocket.$color-action-primary;
        outline-offset: $spacing-sm;
    }
}

.nav-link {
    color: inherit;
    display: inline-block;
    font-size: 1rem;
    margin-right: $spacing-sm;
    margin-left: $spacing-sm;
    text-decoration: none;

    &:focus {
        outline: 2px solid pocket.$color-action-primary;
        outline-offset: -$spacing-sm;
    }
}

.global-nav-mobile-menu-btn {
    background-color: transparent;
    border: none;
    color: pocket.$color-text-primary;
    aspect-ratio: 1 / 1;
    border-radius: $border-radius-sm;

    svg {
        vertical-align: middle;
        pointer-events: none;
    }

    &:active,
    &:focus {
        outline: 1px solid pocket.$color-action-primary;
    }
}

.mobile-signup-icon {
    color: inherit;
    display: inline-block;
    line-height: 0;
    padding: $spacing-md $spacing-sm;

    span {
        @include visually-hidden;
    }

    &:hover,
    &:focus,
    &:active {
        color: pocket.$color-action-primary;
    }

    &:focus {
        outline: 2px solid pocket.$color-action-primary;
    }
}

.page-navigation,
.login-link,
.signup-link {
    display: none;
}

@media #{$mq-md} {
    .mobile-signup-icon,
    .global-nav-mobile-menu-btn {
        display: none;
    }

    .page-navigation,
    .login-link,
    .signup-link {
        display: inline-block;
    }

    .pocket-logo {
        margin-left: 0;
        margin-right: $layout-xl;
    }

    .page-navigation-list {
        margin-bottom: 0;

        &-item {
            display: inline-block;
        }

        &-item-link {
            position: relative;

            &.selected::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -$spacing-xs;
                left: $spacing-xs;
                right: $spacing-xs;
                height: $spacing-xs;
                background-color: pocket.$color-action-primary;
            }
        }
    }

    .nav-link:not(.signup-link) {
        padding: $spacing-md;
        transition: color 0.1s;

        &:hover,
        &:focus,
        &:active {
            color: pocket.$color-action-primary;
        }
    }

    .signup-link {
        background-color: transparent;
        border: 2px solid pocket.$color-text-primary;
        border-radius: $border-radius-sm;
        padding: $spacing-sm;
        transition: color 0.1s, background-color 0.1s;

        &:hover,
        &:focus,
        &:active {
            color: pocket.$color-white;
            background-color: pocket.$color-text-primary;
        }
    }
}
