// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

$image-path: '/media/protocol/img';

.platform-footer {
    border-top: 1px solid #cacaca;
    background-color: $color-light-gray-05;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: $spacing-xl;

    .footer-navigation {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        max-width: $screen-lg;
        width: 100%;

        @media #{$mq-md} {
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-navigation-list {
            @include text-body-xs;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            margin: 0;
            padding: 0 $spacing-md;

            .footer-navigation-list-item {
                margin: 0 0 $spacing-md;
                cursor: pointer;

                a {
                    color: $color-text-primary;
                    text-decoration: none;

                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }

            @media #{$mq-md} {
                flex-direction: row;

                .footer-navigation-list-item {
                    margin: 0 $spacing-sm 0;
                }
            }

            @media #{$mq-lg} {
                margin-right: $layout-xs;
            }
        }
    }
}

.platform-footer-socials { /* stylelint-disable-line selector-class-pattern */
    padding: 0 $spacing-md;

    .footer-socials-wrapper {
        display: flex;
    }

    .footer-socials-text {
        @include text-body-xs;
        font-weight: 700;
        margin-right: $spacing-md;
    }

    .socials-list {
        margin: 0;
        padding: 0;
        display: flex;

        .socials-list-item {
            margin-right: $spacing-xs;

            .socials-list-item-link {
                background-repeat: no-repeat;
                background-size: 20px 20px;
                cursor: pointer;
                display: block;
                height: 20px;
                width: 20px;

                &.twitter {
                    background-image: url('/media/img/pocket/platform-footer/twitter-logo.svg');

                    &:hover,
                    &:focus,
                    &:active {
                        background-image: url('#{$image-path}/icons/social/twitter/brand.svg');
                    }
                }

                &.facebook {
                    background-image: url('/media/img/pocket/platform-footer/facebook-logo.svg');

                    &:hover,
                    &:focus,
                    &:active {
                        background-image: url('#{$image-path}/icons/social/facebook/brand.svg');
                    }
                }

                span {
                    @include visually-hidden;
                }
            }
        }
    }

    .platform-footer-copyright {
        @include text-body-xs;
        color: #8c8c8c;
        font-weight: 300;
        text-align: left;

        @media #{$mq-md} {
            text-align: right;
        }
    }
}
