// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';
@import '../hubs/sections';
@import '../quantum/common';

/* -------------------------------------------------------------------------- */
// Common elements

main {
    background: #003eaa;
    background: url('/media/img/firefox/accounts/tail.png') top -350px center no-repeat,
                linear-gradient(to bottom, #003eaa 0%, #00b0ff 100%);
    color: #fff;
}

/* -------------------------------------------------------------------------- */
// Top header logos

.top-header {
    text-align: center;

    h1 {
        @include font-size-level2;
        margin: 40px 0;
    }

    .header-logos {
        margin-bottom: 20px;

        .mozilla {
            display: none;
        }
    }

    @media #{$mq-desktop} {

        h1 {
            margin: 40px 0 80px;
        }

        .header-logos {
            @include clearfix;

            .firefox {
                float: left;
            }

            .mozilla {
                display: block;
                float: right;
            }
        }
    }
}

html[dir="rtl"] .top-header {
    @media #{$mq-desktop} {
        .header-logos {

            .firefox {
                float: right;
            }

            .mozilla {
                float: left;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Main page content container

.main-content {
    @include clearfix;
    margin-bottom: 100px;

    @media #{$mq-desktop} {
        min-height: 400px;
    }
}

/* -------------------------------------------------------------------------- */
// Main page copy

.main-copy {
    @include background-size(280px, 122px);
    background-image: url('/media/img/firefox/accounts/sync-devices.png');
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 400px;
    padding-top: 140px;
    text-align: center;

    .tagline {
        @include font-size-level4;
    }

    ol {
        list-style: decimal;
        list-style-position: inside;

        li {
            margin-bottom: 10px;
        }
    }

    @media #{$mq-desktop} {
        @include background-size(350px, 153px);
        background-position: top left;
        float: left;
        max-width: 513px;
        padding-top: 170px;
        text-align: left;
        width: calc(100% - 470px);
    }

    @media #{$mq-desktop-wide} {
        @include background-size(513px, 224px);
        padding-top: 240px;
        width: calc(100% - 500px);
    }
}

html[dir="rtl"] .main-copy {
    @media #{$mq-desktop} {
        background-position: top right;
        float: right;
        text-align: right;
    }
}

/* -------------------------------------------------------------------------- */
// Firefox Accounts for container

.fxa-cta {
    @include border-box;
    background-color: #FFF;
    border-radius: 6px;
    color: $color-text-primary;
    margin: 0 auto;
    max-width: 400px;
    padding: 40px;

    @media #{$mq-desktop} {
        float: right;
    }

    @media #{$mq-desktop-wide} {
        max-width: 513px;
        width: 513px;
    }
}

html[dir="rtl"] .fxa-cta {
    @media #{$mq-desktop} {
        float: left;
    }
}

/* -------------------------------------------------------------------------- */
// Signed-in messaging.

.signed-in {
    margin-top: 20px;
    min-height: 30px;
    text-align: center;

    &:before {
        @include at2x('/media/img/firefox/accounts/green-check.png', 30px, 30px);
        background-position: top left;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 30px;
        margin: 0 auto 10px auto;
        width: 30px;
    }

    @media #{$mq-desktop} {
        margin-top: 40px;
    }
}

/* -------------------------------------------------------------------------- */
// Download Firefox conditional CTA

.download-firefox {
    margin-top: 20px;
    text-align: center;

    .fx-privacy-link > a {
        color: #fff;
    }

    @media #{$mq-desktop} {
        margin-top: 60px;
    }
}

/* -------------------------------------------------------------------------- */
// Mobile specific Firefox CTAs

.mobile-ctas {
    text-align: center;
}

/* -------------------------------------------------------------------------- */
// States
// Most states are handled by the fxa account states script


// Non-eligible FxA states get single column for both LTR and RTL locales.
html[dir="ltr"],
html[dir="rtl"] {
    &.no-js,
    .state-fxa-unsupported,
    .state-fxa-android,
    .state-fxa-ios,
    .state-fxa-not-fx,
    .state-fxa-default {
        .main-copy,
        .fxa-cta {
            float: none;
            margin: 0 auto 40px;
        }

        .main-copy {
            @media #{$mq-desktop} {
                text-align: center;
                background-position: top center;
            }
        }
    }
}
