// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../sandstone/lib.less';

// Base template overrides

#outer-wrapper {
    .aurora-bars();
}

#wrapper {
    width: 100%;
    margin-top: -162px; // family nav
    padding-bottom: 0;
}

#masthead {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -470px;
    z-index: 10;
    padding-left: 0;
    padding-right: 0;

    .container {
        overflow: visible;
        padding: 0;
    }
}

// Common styles

.heading {
    .font-size(48px);
    text-shadow: none;
    text-align: center;
    margin-bottom: 16px;
}

.lead {
    .open-sans-light();
    .font-size(24px);
    line-height: 1.4;
    text-align: center;
}

#wrapper .container {
    .clearfix();
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#fxfamilynav-cta-wrapper .send-to {
    padding: 7px (@baseLine / 2);
    .font-size(@smallFontSize);
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}

// Intro

#intro {
    position: relative;
    text-align: left;
    margin-top: 162px;
    overflow: hidden;

    .container {
        min-height: 484px;
    }

    .content-primary {
        display: inline-block;
        margin: 50px 0 (@baseLine * 6);
        position: relative;
        width: 540px;
    }

    .content-secondary {
        position: absolute;
        width: 970px;
        right: -560px;
        top: 50px;
    }

    .heading {
        .font-size(58px);
        color: #fff;
        text-align: left;
    }

    .lead {
        .font-size(30px);
        color: #fff;
        line-height: 1.3;
        padding: 0 @baseLine 0 0;
        text-align: left;
    }

    .send-to {
        .font-size(18px);
    }
}

#intro-phone-tablet {
    z-index: 1;
}

@-webkit-keyframes android-jump {
    50% {
        .transform(translate(0, 0));
    }
    55% {
        .transform(translate(0, -16px));
    }
    60% {
        .transform(translate(0, 0));
    }
    100% {
        .transform(translate(0, 0));
    }
}

@keyframes android-jump {
    50% {
        .transform(translate(0, 0));
    }
    55% {
        .transform(translate(0, -16px));
    }
    60% {
        .transform(translate(0, 0));
    }
    100% {
        .transform(translate(0, 0));
    }
}

@-webkit-keyframes android-wave {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -110px;
    }
}

@keyframes android-wave {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -110px;
    }
}

#intro-android {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 55px;
    height: 55px;
    .at2x('/media/img/firefox/android/android-sprite.png', 55px);
    -webkit-animation: android-jump 5s infinite, android-wave 5s steps(2) infinite;
            animation: android-jump 5s infinite, android-wave 5s steps(2) infinite;
}

html[dir="rtl"] {

    #intro {
        .heading,
        .lead {
            text-align: right;
            padding-right: @baseLine;
        }
    }

    #intro-android {
        display: none;
    }
}

// Customize

#customize {
    position: relative;
    background: #fff;
    z-index: 10;

    .container {
        width: 820px;
        padding: 60px 0;
    }

    .accordion {
        [data-accordion-role="tab"] {
            .font-size(18px);
            background: #e9eef2;

            &[aria-expanded="true"] {
                font-weight: bold;
            }
        }

        [data-accordion-role="tabpanel"] {
            margin-bottom: @baseLine;
        }
    }

    .content-primary {
        float: right;
        width: 400px;
    }

    .content-secondary {
        position: relative;
        float: left;
        width: 400px;
        height: 453px;
    }
}

.customize-section a {
    font-style: italic;
}

.customize-pager {
    display: none;
}

// all customize images hidden at page load
.media-desktop,
.media-mobile {
    .hidden();
}

// display area for all* customize phone screens
#phone-wrapper {
    position: absolute;
    top: 0;
    left: 60px;
    background: url('/media/img/firefox/android/customize/bg-phone.jpg') top left no-repeat;
    width: 224px;
    height: 453px;
    z-index: 1;

    figure {
        // fallback bg for non-js users - not localized, but mostly pictures and a small user base, so...
        background: url('/media/img/l10n/en-US/firefox/android/customize/desktop-faves1.jpg') top left no-repeat;
        width: 201px;
        height: 317px;
        position: relative;
        margin: 52px 0 0 12px;
    }
}

// *display area for screencast customize images
#screencast-wrapper {
    display: none;
}

.js {
    .customize-section {
        position: relative;

        .line {
            opacity: 0;
            position: absolute;
            z-index: 3;
            width: 146px;
            left: -150px;
            top: 24px;
            background-image: url('/media/img/firefox/android/customize/sprite-lines.png');
            .transition(opacity 0.3s ease);
        }
    }

    #customize .accordion.accordion-initialized {
        [data-accordion-role="tab"] {
            background: #fff;
            padding: 16px 45px 17px 15px;

            &:hover,
            &:focus,
            &[aria-selected="true"] {
                color: #000;
            }

            // override default from mozilla-accordion.less
            &:before {
                content: none;
            }

            // move +/- sprites to right side of text
            &:after {
                float: right;
                overflow: hidden;
                margin-right: -30px;
                width: 16px;
                height: 1em;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAQAgMAAADbiZG6AAAACVBMVEUAc6pISEj///+X8T7aAAAAA3RSTlP//wDXyg1BAAAAH0lEQVR4AWNYtTJrFRis0AJTdBIIhQIGKMAQGCCHAQBHA49nS35W6gAAAABJRU5ErkJggg==');
                background-repeat: no-repeat;
                content: '';
            }

            // re-create all effects for :after (instead of :before)
            &[aria-expanded="false"]:after {
                background-position: 0 center;
            }

            &[aria-expanded="false"]:hover:after,
            &[aria-expanded="false"][aria-selected="true"]:after {
                background-position: -32px center;
            }

            &[aria-expanded="true"]:after {
                background-position: -16px center;
            }

            &[aria-expanded="true"]:hover:after,
            &[aria-expanded="true"][aria-selected="true"]:after {
                background-position: -48px center;
            }
        }

        [data-accordion-role="tabpanel"] {
            padding: @baseLine;
            margin-bottom: 0;

            &[aria-hidden="false"] .line {
                opacity: 1;
            }
        }

        &.zebra .customize-section:nth-child(odd) {
            background: #fff;

            [data-accordion-role="tab"] {
                background: #e9eef2;
            }
        }
    }

    #broadcast .line {
        background-position: left top;
        height: 100px;
    }

    #addons .line {
        background-position: 0 -100px;
        height: 30px;
    }

    #homepanel .line {
        background-position: 0 -130px;
        height: 100px;
    }

    #search .line {
        background-position: 0 -230px;
        height: 58px;
    }

    #reading .line,
    #language .line {
        background-position: 0 -288px;
        height: 58px;
        top: -31px;
    }

    #screencast .line {
        background-position: 0 -346px;
        height: 82px;
        width: 249px;
        top: -57px;
        left: -253px;
    }

    .content-secondary {
        z-index: 2;
    }

    #phone-wrapper {
        display: none;

        figure {
            background: none;

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .customize-pager {
        display: block;
        position: absolute;
        z-index: 4;
        background-image: url('/media/img/firefox/android/customize/sprite-arrows.png');
        width: 28px;
        height: 44px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        left: 50%;
        margin-left: -450px;
        top: 325px;
        opacity: 0.6;
        .transition(opacity 0.2s ease);

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 1;
        }
    }

    #customize-next {
        background-position: -28px top;
        margin-left: 440px;
    }
}

html[dir="rtl"] #phone-wrapper figure {
    margin: 52px 12px 0 0;
}

// Privacy

#privacy {
    background: #005189;
    color: #fff;

    .container {
        width: 780px;
        padding: 80px;
        text-align: center;
    }

    .heading {
        color: #fff;
    }

    .lead {
        margin-bottom: 80px;
    }

    a {
        color: #71c4ea;
    }

    li {
        display: inline-block;
        margin: 0 0 50px 0;
        padding: 0 @baseLine 0;
        width: 240px - (@baseLine * 2);
        list-style-type: none;
        vertical-align: top;

        @media only screen and (max-width: @breakMobileLandscape) {
            padding: 0;
        }

        &:before {
            display: block;
            // each icon in sprite is at left edge of 300px wide area
            background: url('/media/img/firefox/android/sprite-privacy.png') left top no-repeat;
            content: '';
            margin: 0 auto;
            width: 200px;
            height: 160px;
        }

        h3 {
            text-transform: uppercase;
            font-weight: normal;
            .font-size(18px);
            line-height: 1.3;
            text-shadow: none;
            color: #fff;
        }
    }

    #dnt {
        &:before {
            background-position: 119px top;
        }
    }

    #private-browsing {
        &:before {
            background-position: -271px top;
        }
    }

    #clear-history {
        &:before {
            background-position: -570px top;
        }
    }

    #guest-browsing {
        &:before {
            background-position: -871px top;
        }
    }
}

// Sync

#sync {
    background: #fff;

    .container {
        width: 860px;
        padding: 40px 0 40px 80px;
    }

    .content-primary {
        float: left;
        width: (440px - @baseLine);
        padding-right: @baseLine;
    }

    .content-secondary {
        float: left;
        width: (410px - @baseLine);
        padding: 36px 0 0 @baseLine;
    }

    .heading {
        .font-size(40px);
        line-height: 1.2;
        text-align: left;
    }

    .lead {
        .font-size(18px);
        text-align: left;
    }

    a {
        .font-size(18px);
    }
}

.sync-anim {
    height: 190px;
    width: 390px;
    margin: 0 auto @baseLine * 2;
    background-image: url('/media/img/firefox/sync/composite.png');
    z-index: 1;
}

// Send to Device Widget
#send-to-device,
#send-to-button-header,
#send-to-button-footer {
    display: none;
}

.js .show-widget {
    #send-to-device {
        display: block;
        margin-right: @baseLine;
    }

    // Hide play store button for locales that get the widget
    .dl-button {
        display: none;
    }

    #send-to-button-header,
    #send-to-button-footer {
        display: block;
    }
}

// Android users should only see play store button
.js.android .show-widget {
    #send-to-device {
        display: none;
    }

    .download-other {
        .open-sans-light();
        .font-size(12px);
    }

    .dl-button {
        display: block;
    }

    .send-to {
        display: none;
    }
}

// Newsletter / Download

#subscribe-download-wrapper {
    background: #0092db;
    color: #fff;
    padding: (@baseLine * 2) 0;

    h3 {
        .font-size(40px);
        color: #fff;
        text-shadow: none;
        margin-bottom: @baseLine;
    }

    .billboard {
        padding-top: 0;
    }

    a {
        color: #fff;
    }
}

#download-wrapper {
    float: left;
    width: 480px;
    margin-right: 80px;
    .clearfix();

    li {
        list-style-type: none;
        margin-left: 0;
    }
}

#footer-logo {
    width: 144px;
    height: 150px;
    float: left;
    margin-right: @baseLine;
}

#download-content {
    float: left;
    width: 316px;
}

#subscribe-wrapper {
    .billboard {
        background: #0092db;
        box-shadow: none;
        border-bottom: 0;
    }

    // Firefox Android users will not see the download button, so the
    // newsletter form will fall back to being full-width
    &.floating {
        float: left;
        width: 380px;

        .newsletter-form {
            h3,
            .form-contents,
            .form-submit {
                float: none;
                margin-left: 0;
                margin-right: 0;
            }

            input[type="email"] {
                // inherits 15px left/right padding
                width: 310px;
            }

            .form-submit {
                width: 340px;
                float: none;
            }

            .form-contents {
                width: 340px;
            }
        }
    }
}

.newsletter-form {
    input[type="email"] {
        border-width: 0;
        box-shadow: none;
        padding: 15px;
    }
}

// Locale-specific rules

html[lang="ja"] #privacy p {
    text-align: left;
}

/****************************************************************************/
// @High resolution images for @retina-type displays
// Desktop
@media (-webkit-min-device-pixel-ratio: 1.5),
       (                min-resolution: 1.5dppx),
       (                min-resolution: 144dpi) {

    .js {
        .customize-section .line {
            background-image: url('/media/img/firefox/android/customize/sprite-lines-high-res.png');
            .background-size(249px, 428px);
        }

        .customize-pager {
            background-image: url('/media/img/firefox/android/customize/sprite-arrows-high-res.png');
            .background-size(56px, 44px);
        }
    }

    #phone-wrapper {
        background-image: url('/media/img/firefox/android/customize/bg-phone-high-res.jpg');
        .background-size(224px, 453px);
    }

    #privacy li {
        &:before {
            background-image: url('/media/img/firefox/android/sprite-privacy-high-res.png');
            .background-size(1200px, 142px);
        }
    }
}

/****************************************************************************/
// @Tablet Layout: 760px
@media (max-width: @breakDesktop) and (min-width: (@breakTablet + 1)) {
    #masthead {
        padding: 0;
        margin-left: -360px;
    }

    #wrapper .container {
        width: 720px;
    }

    .heading {
        .font-size(40px);
    }

    .lead {
        .font-size(22px);
    }

    // Intro

    #intro {
        .container {
            min-height: 470px;
        }

        .content-primary {
            width: 450px;
        }

        .content-secondary {
            right: -680px;
        }

        .heading {
            .font-size(40px);
        }

        .lead {
            .font-size(24px);
        }
    }

    #intro-android {
        display: none;
    }

    // Customize

    #customize {
        .container {
            width: (760px - (@baseLine * 2));
            padding-right: @baseLine;
            padding-left: @baseLine;
        }

        .content-primary {
            width: 380px;
        }

        .content-secondary {
            width: 320px;
        }
    }

    .js {
        .customize-section .line {
            display: none;
        }

        .customize-pager {
            display: none;
        }
    }

    // Privacy

    #privacy {
        .container {
            width: 720px;
            padding: 60px @baseLine;
        }

        li {
            display: block;
            margin: 0 auto (@baseLine * 2) auto;
            padding-left: 0;
            padding-right: 0;
            width: 50%;
        }

        #dnt {
            &:before {
                background-position: 109px top;
            }
        }

        #private-browsing {
            &:before {
                background-position: -271px top;
            }
        }

        #clear-history {
            &:before {
                background-position: -571px top;
            }
        }

        #guest-browsing {
            &:before {
                background-position: -871px top;
            }
        }
    }

    // Sync

    #sync {
        .container {
            width: 720px;
            padding: (@baseLine * 2) @baseLine;
        }

        .heading {
            .font-size(32px);
        }

        .lead, a {
            .font-size(@largeFontSize);
        }

        .content-primary {
            width: 310px;
        }

        .content-secondary {
            padding-left: 0;
        }
    }

    // Newsletter / Download

    #subscribe-download-wrapper {
        h3 {
            .font-size(28px);
        }
    }

    #download-wrapper {
        width: 340px;
        margin-right: @baseLine;
    }

    #footer-logo {
        display: none;
    }

    #download-content {
        float: none;
        width: 340px;
    }

    #subscribe-wrapper.floating {
        width: 340px;

        .billboard {
            width: 340px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

/****************************************************************************/
// @Wide mobile Layout: 480px
@media (max-width: @breakTablet) {
    #masthead {
        margin-left: -220px;
    }

    #wrapper .container {
        width: (480px - (@baseLine * 2));
        padding-left: @baseLine;
        padding-right: @baseLine;
    }

    .heading {
        .font-size(30px);
    }

    .lead {
        .font-size(20px);
    }

    .ios-link a:before {
        content: '\A';
        white-space: pre;
    }

    // hide intro phone, customize phone, and sync animation
    .content-secondary {
        display: none;
    }

    // Intro

    #intro {
        .container {
            min-height: 0;
            padding-top: @baseLine;
            padding-bottom: @baseLine * 2;
        }

        .heading {
            .font-size(36px);
            text-align: center;
        }

        .lead {
            .font-size(22px);
            text-align: center;
            padding: 0;
        }

        .dl-button-wrapper {
            text-align: center;
            width: auto;
        }

        .content-primary {
            width: auto;
            margin-bottom: 0;
        }

        .send-to {
            margin-left: auto;
            margin-right: auto;
        }
    }

    html[dir="rtl"] {
        #intro {
            .heading {
                text-align: center;
            }

            .lead {
                text-align: center;
            }
            .dl-button-wrapper {
                text-align: center;
            }
        }
    }

    #intro-android {
        display: none;
    }

    // Customize

    #customize {
        background: #f2f2f2;

        .container {
            width: 440px;
        }

        .lead br {
            display: none;
        }

        .content-primary {
            float: none;
            width: auto;
        }

        [data-accordion-role="tabpanel"] {
            text-align: center;
        }

        .media-mobile {
            display: block;
            margin-top: @baseLine;

            img {
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }
        }

        #screencast .media-mobile img {
            width: 276px;
            height: 240px;
        }
    }

    .js {
        .show-widget #send-to-device {
            margin: 0 auto;
        }

        #send-to-device-google-play {
            text-align: center;
        }

        .customize-section .line {
            display: none;
        }

        .customize-pager {
            display: none;
        }

        #customize .accordion.accordion-initialized {
            [data-accordion-role="tab"] {
                background: transparent;
            }

            &.zebra .customize-section {
                background: #f2f2f2;

                &:nth-child(odd) {
                    background: #e9eef2;
                }
            }
        }
    }

    // Privacy

    #privacy {
        .container {
            width: 440px;
            padding: (@baseLine * 2) @baseLine;
        }

        .lead {
            margin-bottom: @baseLine * 2;
        }

        li {
            width: 70%;
        }

        #dnt {
            &:before {
                background-position: 99px top;
            }
        }

        #private-browsing {
            &:before {
                background-position: -271px top;
            }
        }

        #clear-history {
            &:before {
                background-position: -571px top;
            }
        }

        #guest-browsing {
            &:before {
                background-position: -871px top;
            }
        }
    }

    // Sync

    #sync {
        .container {
            width: @breakMobileLandscape - (@baseLine * 2);
            padding: (@baseLine * 2) @baseLine;
        }

        .heading {
            .font-size(30px);
            text-align: center;
        }

        .lead {
            .font-size(20px);
            text-align: center;
        }

        .content-primary {
            float: none;
            width: auto;
            padding-right: 0;
            text-align: center;
        }
    }

    // Newsletter / Download

    #subscribe-download-wrapper h3 {
        .font-size(30px);
    }

    #download-wrapper {
        float: none;
        width: auto;
        margin: 0 0 @baseLine 0;
    }

    #footer-logo {
        width: 100px;
        height: 103px;
    }

    #subscribe-wrapper {
        .billboard {
            padding-left: 0;
        }

        &.floating {
            float: none;
            width: auto;

            .newsletter-form {
                .form-contents {
                    width: auto;
                }

                input[type="email"] {
                    width: 400px;
                }

                .form-submit {
                    width: 440px;
                }

                #footer_email_submit {
                    width: 430px;
                }
            }
        }
    }

    .newsletter-form {
        h3, .form-contents, .form-submit {
            margin-left: 0;
        }

        input[type="email"] {
            width: 390px;
        }
    }

    // Locale-specific rules
    html[lang="ja"] [data-accordion-role="tabpanel"] p {
        text-align: left;
    }
}

/****************************************************************************/
// @Mobile Layout: 320px
@media (max-width: @breakMobileLandscape) {
    #masthead {
        margin-left: -150px;
    }

    #wrapper .container {
        width: (320px - @baseLine);
        padding-left: @baseLine / 2;
        padding-right: @baseLine / 2;
    }

    .heading {
        .font-size(26px);
    }

    .lead {
        .font-size(18px);
    }

    // Intro

    #intro {
        .container {
            padding-bottom: @baseLine * 2;
        }

        .heading {
            .font-size(30px);
        }

        .lead {
            .font-size(20px);
        }

        .content-primary {
            margin-top: @baseLine * 2;
        }
    }

    // Customize

    #customize .container {
        width: 320px - @baseLine;
        padding-left: (@baseLine / 2);
        padding-right: (@baseLine / 2);
    }

    // Privacy

    #privacy {
        .container {
            width: 320px - @baseLine;
            padding: (@baseLine * 2) (@baseLine / 2);
        }

        li {
            width: 300px;
        }

        #dnt {
            &:before {
                background-position: 121px top;
            }
        }

        #private-browsing {
            &:before {
                background-position: -271px top;
            }
        }

        #clear-history {
            &:before {
                background-position: -571px top;
            }
        }

        #guest-browsing {
            &:before {
                background-position: -871px top;
            }
        }
    }

    // Sync

    #sync {
        .container {
            width: 320px - @baseLine;
            padding: (@baseLine * 2) (@baseLine / 2);
        }

        .heading {
            .font-size(26px);
        }

        .lead {
            .font-size(18px);
        }
    }

    // Newsletter / Download

    #subscribe-download-wrapper h3 {
        .font-size(26px);
    }

    #footer-logo {
        display: none;
    }

    #download-content {
        float: none;
        width: auto;
    }

    #subscribe-wrapper.floating {
        .newsletter-form {
            input[type="email"] {
                width: 260px;
            }

            .form-submit {
                width: auto;
            }

            #footer_email_submit {
                width: 290px;
            }
        }
    }

    .newsletter-form input[type="email"] {
        width: 250px;
    }
}

// bug 1089443
html[lang="ja"]{
  #privacy p{
    text-align: left;
  }
}

@media (max-width: @breakTablet) {
  html[lang="ja"]{
    [data-accordion-role="tabpanel"] p{
      text-align: left;
    }
  }
}