// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#wrapper {
    padding: 0;
    width: 100%;
}

.container {
    padding: 0;
    width: @widthDesktop - (@baseLine * 2);

    @media only screen and (max-width: @breakDesktop) {
        width: @widthTablet - (@gridGutterWidth * 2);
    }

    @media only screen and (max-width: @breakTablet) {
        width: @widthMobileLandscape;
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        width: @widthMobile - (@gridGutterWidth * 2);
    }
}

.main-header {
    background: #0060df;
    background: url('/media/img/firefox/channel/header-bg-tail.png') top -220px center no-repeat,
                linear-gradient(148deg, #0060df 7%, #0479f4 20%, #0681fc 27%, #02bdf1 60%, #01d3f0 67%, #05f0e6 100%);
    text-align: center;

    h1, h2 {
        color: #fff;
        text-shadow: none;
    }

    h1 {
        .at2x('/media/protocol/img/logos/firefox/browser/logo-lg.png', 130px, 130px);
        .background-size(130px 130px);
        .font-size(48px);
        .open-sans;
        background-position: top 40px center;
        background-repeat: no-repeat;
        font-weight: bold;
        padding: 175px 0 @baseLine;
    }

    h2 {
        .font-size(30px);
        line-height: 1.5;
        margin: 0 auto;
        max-width: 23em;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: @breakDesktop) {

        h1 {
            .font-size(44px);
        }

        h2 {
            .font-size(24px);
        }
    }

    @media only screen and (max-width: @breakTablet) {

        h1 {
            .font-size(40px);
        }

        h2 {
            .font-size(20px);
        }
    }

    @media only screen and (max-width: @breakMobileLandscape) {

        h1 {
            .font-size(36px);
        }

        h2 {
            .font-size(18px);
        }
    }
}

/*--------------------------------------------------------------------------*/
// Platform navigation

.platform-nav {
    background: #003eaa;

    ul {
        margin: 0;
        padding: 0;

        li {
            .font-size(24px);
            .inline-block;
            margin: 0 40px;
            padding: @baseLine 0;

            a:link,
            a:visited {
                .transition(color .1s ease-in-out);
                color: #fff;
            }

            a:hover,
            a:active,
            a:focus {
                .transition(color .1s ease-in-out);
                color: darken(#fff, 10%);
                text-decoration: none;
            }
        }
    }

    @media only screen and (max-width: @breakDesktop) {

        ul li {
            .font-size(22px);
        }
    }

    @media only screen and (max-width: @breakTablet) {

        .container {
            width: 100%;
        }

        ul li {
            .font-size(20px);
            background: #dcdcdc;
            border-top: 2px solid #fff;
            display: block;
            margin: 0;
            padding: (@baseLine / 2) 0;
            width: auto;

            a:link,
            a:visited {
                color: @linkBlue;
            }

            a:hover,
            a:active,
            a:focus {
                color: @linkBlueHover;
            }
        }
    }
}

html[lang^="en"] {
    .platform-nav ul li {
        text-transform: uppercase;

        &:last-child {
            text-transform: none;
        }
    }
}

#platform-desktop .platform-nav .nav-desktop,
#platform-android .platform-nav .nav-android,
#platform-ios .platform-nav .nav-ios {
    border-bottom: 5px solid #fff;

    a:hover,
    a:active,
    a:focus {
        color: #fff;
        cursor: default;
    }

    @media only screen and (max-width: @breakTablet) {
        background: #1f366c;
        border-bottom: none;

        a:link,
        a:visited,
        a:hover,
        a:active,
        a:focus {
            color: #fff;
        }
    }
}

/*--------------------------------------------------------------------------*/
// Channel components

.channel {
    padding-top: @baseLine * 2;
    text-align: center;

    header {
        background-position: top left;
        background-repeat: no-repeat;
        float: left;
        margin-bottom: @baseLine;
        min-height: 220px;
        padding-left: 240px;
        text-align: left;
        width: 460px;

        h2 {
            .font-size(36px);
            font-weight: bold;
            text-shadow: none;
        }

        p {
            .font-size(28px);
        }
    }

    .download-button,
    .testflight-cta {
        float: right;
        margin-bottom: @baseLine;
        max-width: 220px;
    }

    .fx-privacy-link {
        a:link,
        a:visited {
            color: @linkBlue;
        }

        a:hover,
        a:active,
        a:focus {
            color: @linkBlueHover;
        }
    }

    .notice {
        .font-size(18px);
        clear: both;
        text-align: left;
    }

    footer {
        background: #f0f0f2;
        margin-top: 10px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                .font-size(18px);
                .inline-block;
                margin: 0;
                padding: @baseLine 0;

                &:after {
                    color: #56565a;
                    content: '|';
                    margin: 0 10px;
                }

                &:last-child:after {
                    content: none;
                }
            }
        }


        a:link,
        a:visited {
            color: @linkBlue;
        }

        a:hover,
        a:active,
        a:focus {
            color: @linkBlueHover;
        }
    }

    @media only screen and (max-width: @breakDesktop) {
        header {
            min-height: 160px;
            padding-left: 180px;
            width: 270px;

            h2 {
                .font-size(30px);
            }

            p {
                .font-size(24px);
            }
        }
    }

    @media only screen and (max-width: @breakTablet) {
        header {
            background-position: top center;
            float: none;
            min-height: 0;
            padding: 160px 0 0;
            text-align: center;
            width: auto;
        }

        .download-button,
        .testflight-cta {
            float: none;
            text-align: center;
        }

        .notice {
            .font-size(@baseFontSize);
            text-align: center;
        }

        footer ul {
            padding-bottom: @baseLine;

            li {
                .font-size(@largeFontSize);
                display: block;
                padding: @baseLine 0 0;

                &:after {
                    content: none;
                    margin: 0;
                }
            }
        }
    }

    @media only screen and (max-width: @breakMobileLandscape) {

        header {
            padding: 150px 0 0;

            h2 {
                .font-size(26px);
            }

            p {
                .font-size(22px);
            }
        }

        .notice,
        footer ul li {
            .font-size(@baseFontSize);
        }
    }
}

.html-rtl .channel {

    header {
        background-position: top right;
        float: right;
        padding-left: 0;
        padding-right: 240px;
        text-align: right;
    }

    .download-button,
    .testflight-cta {
        float: left;
    }

    @media only screen and (max-width: @breakTablet) {

        header {
            background-position: top center;
            float: none;
            padding-right: 0;
            text-align: center;
        }

        .download-button,
        .testflight-cta {
            float: none;
        }
    }
}

#beta header {
    .at2x('/media/img/logos/firefox/beta.png', 180px, 180px);
    .background-size(180px 180px);

    @media only screen and (max-width: @breakDesktop) {
        .background-size(150px 150px);
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        .background-size(130px 130px);
    }
}

#developer header {
    .at2x('/media/img/logos/firefox/developer.png', 180px, 180px);
    .background-size(180px 180px);

    @media only screen and (max-width: @breakDesktop) {
        .background-size(150px 150px);
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        .background-size(130px 130px);
    }
}

#nightly header {
    .at2x('/media/img/logos/firefox/nightly.png', 180px, 180px);
    .background-size(180px 180px);

    @media only screen and (max-width: @breakDesktop) {
        .background-size(150px 150px);
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        .background-size(130px 130px);
    }
}

#testflight header {
    .at2x('/media/img/firefox/channel/testflight.png', 180px, 136px);
    min-height: 156px;

    @media only screen and (max-width: @breakDesktop) {
        .background-size(150px 113px);
    }

    @media only screen and (max-width: @breakTablet) {
        padding: 130px 0 0;
    }
}

/*--------------------------------------------------------------------------*/
// Help out section

#help-out section {
    margin: (@baseLine * 2) 0 (@baseLine * 3);
    width: 350px;

    &.bugzilla {
        .at2x('/media/img/firefox/channel/alert-icon.png', 130px, 114px);
        background-position: top 20px center;
        background-repeat: no-repeat;
        padding-top: 162px;
        float: none;
        margin: (@baseLine * 2) auto (@baseLine * 3);
        text-align: center;
        width: auto;
    }

    h3 {
        .font-size(24px);
        .open-sans;
        line-height: 1.3;
        margin-bottom: @baseLine;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            .font-size(18px);
            margin: 0;
            padding: 0;
        }
    }

    @media only screen and (max-width: @breakDesktop) {

        h3 {
            .font-size(22px);
        }

        ul li {
            .font-size(@largeFontSize);
        }
    }

    @media only screen and (max-width: @breakTablet) {
        width: auto;
    }

    @media only screen and (max-width: @breakMobileLandscape) {

        h3 {
            .font-size(20px);
        }

        ul li {
            .font-size(@baseFontSize);
        }
    }
}

/*--------------------------------------------------------------------------*/
// Newsletter

#newsletter-subscribe {

    h3 > span {
        font-weight: bold;
    }

    #newsletter-form-thankyou.newsletter-form {
        margin-left: 0;
        width: auto;
    }
}
