// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "template.less";

#toggler-container {
    margin: 120px auto 40px auto;
    padding: 0;
    width: 900px;
    position: relative;
    height: 225px;
    list-style-type: none;
    display: block;

    li {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 25px;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;

        a {
            display: block;
            position: relative;
            top: 0;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
        }

        img {
            height: 150px;
            width: 150px;
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-interpolation-mode: bicubic;
        }

        a:hover {
            top: -5px;
        }
    }
}

/* Default styles */

.pager-tabs {
    #beta-link { left: 335px; z-index: 3; top: 0; }
    #aurora-link    { left: 110px; z-index: 1; }
    #firefox-link  { left: 635px; z-index: 2; }

    #beta-link img {
        height: 225px;
        width: 225px;
    }
}

.pager-page {
    position: relative;
    text-align: center;
    .channel-title {
        position: absolute;
        top: -380px;
        left: 0;
        width: 100%;
    }
}

.no-js .pager-page .channel-title {
    position: static;
}

/* Selected styles */

.pager-selected-firefox #beta-link   { left: 110px; z-index: 1; }
.pager-selected-firefox #aurora-link { left: 635px; z-index: 2; }

.pager-selected-beta #aurora-link  { left: 110px; z-index: 1; }
.pager-selected-beta #firefox-link { left: 635px; z-index: 2; }

.pager-selected-aurora #firefox-link { left: 110px; z-index: 1; }
.pager-selected-aurora #beta-link    { left: 635px; z-index: 2; }

.pager-selected-firefox #firefox-link,
.pager-selected-beta    #beta-link,
.pager-selected-aurora  #aurora-link {
    top: 0;
    left: 335px;
    z-index: 3;
}

.pager-selected-firefox #firefox-link a:hover,
.pager-selected-beta    #beta-link    a:hover,
.pager-selected-aurora  #aurora-link  a:hover {
    top: 0;
}

/* To override default image styles */

.pager-selected-firefox #beta-link,
.pager-selected-aurora  #beta-link {
    top: 25px;
}

.pager-selected-firefox #beta-link img,
.pager-selected-aurora  #beta-link img {
    width: 150px;
    height: 150px;
}

.pager-selected-firefox #firefox-link img,
.pager-selected-beta    #beta-link img,
.pager-selected-aurora  #aurora-link img {
    height: 225px;
    width: 225px;
}

#carousel-left,
#carousel-right {
    position: absolute;
    display: block;
    left: 48px;
    top: 70px;
    height: 80px;
    width: 78px;
    background: url(/media/img/firefox/channel/carousel-arrows.png) 0 0 no-repeat;
}

#carousel-right {
    left: auto;
    right: 48px;
    background-position: 0 -100px;
}

#main-content {
    background: url(/media/img/firefox/channel/carousel-bg.png) 50% 70px no-repeat;
}

.download-box {
    .inline-block;
    margin: 0 (@gridGutterWidth / 2);
    text-align: left;
    .download-button .download-link {
        display: block;
        margin-left: 0;
        height: auto;
        line-height: @baseLine * 0.75;
       .download-content {
            background: url(/media/img/sandstone/buttons/arrow-large.png) no-repeat 12px 50%;
            margin-left: 0;
            height: auto;
        }
        .download-title {
            background: none;
            padding: 8px 0 2px 0;
            height: auto;
            .open-sans;
            font-size: 18px;
            text-shadow: 0 -1px rgba(0,0,0,0.2);
        }
        .download-subtitle {
            color: #b8e779;
            height: auto;
            text-shadow: 0 -1px rgba(0,0,0,0.2);
            display: block;
            padding-bottom: 8px;
        }
    }
}

.download-box.mobile .download-button .download-link {
    position: relative;
}

.download-box.mobile .download-button .download-link:after {
    background: url(/media/img/firefox/channel/download-android.png) 0 0 no-repeat;
    position: absolute;
    content: "";
    height: 53px;
    width: 55px;
    right: 0;
    bottom: 0;
}

p.more {
    margin-top: @baseLine;
    .open-sans;
}

.space {
    #main-content {
    background-image: url(/media/img/firefox/channel/carousel-bg-space.png);
    }
    .pager-page h3 {
        color: @textColorSpaceYellow;
    }
}

.pager-page h3 {
    margin-bottom: @baseLine;
}

