// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: "/media/fonts";
$image-path: "/media/protocol/img";

@import "../../protocol/css/includes/lib";
@import "../../protocol/css/components/hero";

/* -------------------------------------------------------------------------- */
// Hero

.compare-details-hero {
    .mzp-c-hero-title {
        @include font-size(40px);
        @media #{$mq-lg} {
            @include font-size(48px);
        }
        background-position: 50% 0;
        background-repeat: no-repeat;
        padding-top: 170px;
    }
}
.compare-details-hero--chrome {
    .mzp-c-hero-title {
        @include at2x('/media/img/firefox/compare/compare-header-chrome.png', 350px, 130px);
    }
}
