// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

// Some common classes/mixins
@buttonGreen: #14c329;

#wrapper {
    width: 100%;
    padding-bottom: 0;
}

#masthead,
.container {
    position: relative;
    width: @widthDesktop - (@gridGutterWidth * 2);
    margin: 0 auto;
}

// Main intro

.intro {
    padding-top: @baseLine;
    padding-bottom: @baseLine * 3;
    text-align: center;
    h1 {
        .font-size(52px);
    }
    h2 {
        .font-size(28px);
        color: @blueprintTextColorSecondary;
        margin-bottom: @baseLine * 2;
    }
    .screenshot {
        margin: @baseLine*2 auto @baseLine*3;
        border-radius: 4px;
        box-shadow: 0 4px 10px #000;
    }
}

.android,
.ios {
    .download-button {
        // hide download button on Android and iOS until download button is smarter
        display: none;
    }
    .intro h2 {
        margin-bottom: @baseLine;
    }
}

.intro-feature {
    .span(4);
    list-style-type: none;
    h3 {
        .font-size(36px);
    }
    p {
        color: @blueprintTextColorSecondary;
        margin: 0 @baseLine/2;
    }
}

.tools {
    background: #142c43 url('/media/img/firefox/developer/tools-background.jpg') 50% 50% no-repeat;
    text-align: center;
    .container {
        padding-top: @baseLine * 4;
        padding-bottom: @baseLine * 4;
    }
    p {
        .span(8);
        .offset(2);
        .open-sans-light();
        .font-size(22px);
        color: @blueprintTextColorSecondary;
    }
}

.feature-overview {
    #gradient > .vertical(#123352, #1e1e21);
    .container {
        padding-top: @baseLine * 4;
        padding-bottom: @baseLine * 4;
    }
}

.feature {
    .span(4);
    margin-bottom: @baseLine * 3;
    text-align: center;
    list-style-type: none;
    &:nth-child(3n+1){
        clear: left;
    }
    h2 {
        .font-size(18px);
        letter-spacing: normal;
    }
    p {
        color: @blueprintTextColorSecondary;
    }
    .screenshot {
        border-radius: .5em;
        border: 2px solid rgba(255,255,255,.6);
        display: block;
        margin: 0 auto @baseLine*1.5;
    }
    .video {
        display: none;
    }
}

.feedback-note {
    clear: both;
    color: @blueprintTextColorSecondary;
    .font-size(@smallFontSize);
    text-align: center;
    margin: @baseLine 0 0;
    opacity: .7;
}

.video-play {
    position: relative;
    display: block;
    &:before {
        .transition(background-color .2s ease);
        background-color: @linkBlue;
        background-color: fade(@linkBlue, 80%);
        background-image: url('/media/img/firefox/developer/play.png');
        background-position: 50% 50%;
        content: ' ';
        border-radius: 100%;
        border: 2px solid #fff;
        display: block;
        height: 50px;
        width: 50px;
        position: absolute;
        left: 50%;
        top: 40px;
        margin-left: -25px;
        z-index: 9;
    }

    &:hover:before,
    &:focus:before {
        background-color: @linkBlue;
    }
}

#modal .window .inner .responsive-video-container.overlay-contents {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


#modal .window .inner .overlay-contents {
    padding: 0;
    background: #000;
}

.dev-footer {
    background: #094377;
    h3 {
        .font-size(30px);
        margin-top: 5px;
        margin-bottom: @baseLine;
    }
}

.dev-footer-download {
    .span(6);
    min-height: 145px;
    padding: (@baseLine * 2) 0;
    .at2x('/media/img/firefox/developer/footer-logo.png', 145px, 145px);
    background-repeat: no-repeat;
    background-position: 0 @baseLine*2;
    h3,
    .download-button {
        margin-left: 160px;
        .download-link {
            display: block;
            padding: 10px 30px;
        }
    }
    .fx-privacy-link {
        a:link,
        a:visited,
        a:hover,
        a:focus {
            color: #fff;
        }
    }
}

#newsletter-form,
#newsletter-form-thankyou {
    .span(4);
    .offset(1);
    background: none;
    border: none;
    box-shadow: none;
    h3 {
        color: #fff;
        margin-bottom: @baseLine;
    }
    .form-title,
    .form-submit,
    .form-contents {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }
    input[type="email"] {
        border-radius: .5em;
        box-shadow: none;
        border: 0;
        padding: 15px 10px;
        width: 100%;
        height: 50px;
        .border-box();
    }
}


@media (max-width: @breakDesktop) and (min-width: @breakTablet) {
    #masthead,
    .container {
        width: @breakTablet - (@gridGutterWidth * 2);
    }
    .intro-feature {
        .span_narrow(4);
    }
    .tools p {
        .span-all();
    }
    .features .feature {
        .span_narrow(4);
        margin-bottom: @baseLine * 3;
    }
    .dev-footer-download {
        .span_narrow(7);
    }
    .dev-footer h3 {
        .font-size(28px);
        margin-bottom: @baseLine;
    }
    #newsletter-form,
    #newsletter-form-thankyou {
        .span_narrow(5);
        padding-left: 0;
        padding-right: 0;

        .form-title,
        .form-submit,
        .form-contents {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            float: none;
        }
    }
}

@media (max-width: @breakTablet) {
    #modal .window .inner > header {
        padding-top: 20px;
    }
    #masthead,
    .container {
        width: @breakMobileLandscape - (@gridGutterWidth * 2);
    }
    .intro-feature {
        .span-all();
        margin-bottom: @baseLine*2;
    }
    .tools p {
        .span-all();
    }
    .features .feature {
        .span-all();
        margin-bottom: @baseLine * 2;
    }
    .features .feature {
        p,
        .screenshot {
            margin-bottom: @baseLine;
        }
    }
    .dev-footer-download {
        .span-all();
    }
    .dev-footer h3 {
        .font-size(28px);
        margin-bottom: @baseLine;
    }
    #newsletter-form,
    #newsletter-form-thankyou {
        .span-all();
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;

        .form-title,
        .form-submit,
        .form-contents {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            float: none;
        }
    }
}

@media (max-width: @breakMobileLandscape) {
    #masthead,
    .container {
        width: @breakMobile - @gridGutterWidth;
    }
    .intro h1 {
        .font-size(36px);
    }
    .intro-features h3 {
        .font-size(26px);
    }
    .dev-footer-download {
        min-height: 0;
        padding: @baseLine 0;
        background: none;
        h3,
        .download-button {
            margin-left: auto;
            display: block;
            &.download-button-simple.download-button-small .download-link {
                width: auto;
            }
        }
    }
}
