/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "template.less";

#main-feature {
    background: url(/media/img/firefox/fx/feature-devices.jpg) 0 0 no-repeat;
    padding-top: @baseLine;
    padding-bottom: @baseLine;
    margin-bottom: @baseLine;
    height: 240px;
    h2 {
        font-size: 32px;
        letter-spacing: -1px;
    }
    h1,
    h2 {
        .span(5);
        clear: left;
        margin-left: 0;
    }
    h1 {
        font-size: 52px;
        span {
            display: block;
        }
        margin-bottom: @baseLine;
    }
    .button-blue {
        .span(3);
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        clear: left;
        font-size: 18px;
    }

}

#main-content {
    .sub-section {
        .span(3);
        padding-top: @baseLine;
        padding-bottom: @baseLine;
        h3 {
            margin-bottom: 16px;
        }
    }
    #get-firefox {
        .span(4);
        margin-left: 0;
        h3,
        p,
        aside {
            margin-right: @baseLine * 3;
        }
        h3 {
            font-size: 32px;
        }
    }

    #promo-beta p {
        padding-right: @baseLine;
    }

    #promo-contribute p {
        padding-right: @baseLine;
    }
}
