// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#main-feature {
    h1,
    p {
        .span-all();
        margin-bottom: @baseLine / 2;
    }
}

.main-column {
    .span(8);
}

#faq h3 {
    .font-size(22px);
}

#try-geolocation {
    display: none;
}

#map_canvas {
    width: 100%;
    height: 300px;
    margin: 20px auto;

    img {
        max-width: none;
    }
}

#modal {
    .inner {
        width: 540px;
    }

    #geo-demo {
        position: relative;
        top: 50px;
        background: #646464;
        padding: 0 0 10px 0;
    }

    #locateButton {
        margin: 0 0 10px 15px;
        background-color: #FFF;
        border: none;
        padding: 1em;
        cursor: pointer;
    }

    #geodemo-error {
        color: red;
        margin-left: 15px;
    }

    #geo-busy {
        width: 16px;
        height: 15px;
        vertical-align: middle;
    }
}

/* Mobile Layout: 320px */
@media only screen and (max-width: @breakTablet) {
    .main-column {
        .span-all();
    }

    #modal .window .inner {
        margin: 60px auto;
        > header {
            height: auto;
            overflow: inherit;
            padding: 0;
        }
    }
}
