// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "template.less";

.main-column {
    .span(8);
    margin-left: 0;
}

#map_canvas {
    width: 500px;
    height: 300px;
    margin: 20px auto;
}

#locateButton {
    margin: 0 0 10px 0;
}

#geo-busy {
    width: 16px;
    height: 15px;
    vertical-align: middle;
}

#geodemo-error {
    color: red;
}

