// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';
@import '../pebbles/components/video-poster';
@import '../hubs/sections';
@import '../hubs/masthead';
@import '../hubs/sub-nav';
@import '../quantum/common';
@import '../quantum/features-scroller';

/* -------------------------------------------------------------------------- */
// Common elements & variables

body {
    overflow-x: hidden;
}

.page-section {
    padding: 40px 0;
    text-align: center;

    h2 {
        @include font-size-level3;
        line-height: 1.5;

        &.section-title {
            padding-top: 30px;
            position: relative;

            &:before {
                background: #000;
                border-radius: 5px;
                content: '';
                height: 5px;
                left: 50%;
                margin-left: -32px;
                position: absolute;
                top: 0;
                width: 64px;
            }
        }
    }

    h3 {
        @include font-size-level4;
    }

    p {
        line-height: 1.8;
    }

    @media #{$mq-tablet} {
        padding: 60px 0;
    }

    @media #{$mq-desktop} {
        padding: 80px 0;
    }
}

/* -------------------------------------------------------------------------- */
// Main page header

.main-header-section {

    h1 {
        @include at2x('/media/img/logos/firefox/logo-quantum.png', 90px, 90px);
        @include font-size-level2;
        background-position: top center;
        background-repeat: no-repeat;
        color: #000;
        margin: 0 auto 10px;
        padding-top: 110px;
    }

    h2 {
        @include font-size-level3;
        margin-top: 20px;
    }

    h3 {
        @include font-size-level3;
    }

    .download-button {
        margin: 40px 0;
    }

    .fx-privacy-link a {
        color: #000;
    }

    @media #{$mq-tablet} {
        min-height: 550px;
        text-align: left;
        padding-top: 40px;

        h1 {
            background-position: left center;
            margin: -40px 0 10px;
            padding: 40px 0 40px 110px;
        }

        .header-content {
            float: left;
            width: 55%;
        }

        .header-image {
            margin-bottom: 0;
            position: absolute;
            right: 0;
            top: 20px;
            width: 45%;

            img {
                display: block;
                height: auto;
                max-width: none;
                width: 903px;
            }
        }
    }

    @media #{$mq-desktop-wide} {
        padding-top: 80px;

        .header-content {
            width: 43%;
        }

        .header-image {
            width: 57%;
        }
    }
}

html[dir="rtl"] .main-header-section {

    @media #{$mq-tablet} {

        h1 {
            background-position: right center;
            padding: 40px 110px 40px 0;
        }

        .header-content {
            float: right;
            text-align: right;
        }

        .header-image {
            left: 0;
            right: auto;
        }
    }
}

/* -------------------------------------------------------------------------- */
// What's new section

.whats-new-section {
    background: #ff1ad9;
    background: linear-gradient(to right, #ff1ad9 0%, #ff9400 100%);
    color: #fff;

    h2.section-title {
        margin: 0 auto 40px;
        max-width: 30em;

        &:before {
            background: #fff;
        }
    }

    ul li {
        font-weight: bold;
        margin: 0 auto 40px;
        max-width: 30em;
    }

    .quote {
        font-style: italic;
        margin: 0 auto 30px;
        max-width: 30em;

        a:link,
        a:visited {
            color: #fff;
            font-weight: bold;
            text-decoration: underline;
        }

        a:hover,
        a:active,
        a:focus {
            text-decoration: none;
        }
    }

    @media #{$mq-tablet} {
        background: url('/media/img/firefox/home/whats-new-tail.png') top -300px center no-repeat,
                    linear-gradient(to right, #ff1ad9 0%, #ff9400 100%);
    }

    @media #{$mq-desktop} {
        text-align: left;

        h2.section-title {
            margin: 0 0 40px;

            &:before {
                left: 0;
                margin-left: 0;
            }
        }

        ul li,
        .quote {
            margin: 0 0 30px;
        }

        .whats-new-content {
            float: left;
            width: 40%;
        }

        .whats-new-image {
            margin-bottom: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 55%;

            img {
                display: block;
                height: auto;
                max-width: none;
                width: 903px;
            }
        }
    }

    @media #{$mq-desktop-wide} {
        .whats-new-content {
            width: 25%;
        }

        .whats-new-image {
            width: 70%;
            right: -5px;
        }
    }
}

html[dir="rtl"] .whats-new-section {

    @media #{$mq-desktop} {
        text-align: right;

        h2.section-title:before {
            left: auto;
            right: 0;
        }

        .whats-new-content {
            float: right;
        }

        .whats-new-image {
            left: 0;
            right: auto;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Key features section

.key-features-section {

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin: 0 auto 40px;
        max-width: 30em;
    }

    a:link,
    a:visited {
        color: #000;
        font-weight: bold;
        text-decoration: underline;
    }

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }

    .key-feature {
        margin: 40px 0 0;

        .content {
            padding: 0;
        }

        .key-feature-container {
            background-color: #10fcb2;
            background-image: linear-gradient(to right, #00feff 0%, #10fcb2 67%, #24f954 100%);
            padding: 40px 20px;
        }
    }

    .key-feature-media {

        &.video {
            background: #000 url('/media/img/firefox/home/quantum-vs-chrome-poster.png') top left no-repeat;
            @include background-size(cover);
            box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, .2);
            margin: 0 auto;
            max-width: 645px;

            .video-container {
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                width: 100%;
            }

            .moz-video-button {
                background-image: url('/media/img/firefox/home/quantum-vs-chrome-poster.png');
            }
        }

        &.image  img {
            box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, .2);
        }
    }

    @media #{$mq-desktop} {
        text-align: left;

        h2.section-title:before {
            left: 0;
            margin-left: 0;
        }

        p {
            margin-bottom: 0;
        }

        .key-feature {
            margin: 80px 0;

            .content {
                padding: 0 85px;
            }

            .key-feature-container {
                @include clearfix;
                padding: 60px 70px;
            }

            .key-feature-content {
                width: 38%;
            }

            .key-feature-media {
                width: 55%;
            }

            &:nth-child(odd) {
                background-image: linear-gradient(to right, transparent 0%, transparent 50%, #24f954 50%, #24f954 100%);

                .key-feature-container {
                    background-image: linear-gradient(to right, #00feff 0%, #10fcb2 67%, #24f954 100%);
                }

                .key-feature-content {
                    float: left;
                }

                .key-feature-media {
                    float: right;
                }
            }

            &:nth-child(even) {
                background-image: linear-gradient(to left, transparent 0%, transparent 50%, #24f954 50%, #24f954 100%);

                .key-feature-container {
                    background-image: linear-gradient(to left, #00feff 0%, #10fcb2 67%, #24f954 100%);
                }

                .key-feature-content {
                    float: right;
                }

                .key-feature-media {
                    float: left;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media #{$mq-desktop-wide} {

        .key-feature {
            margin: 140px 0 240px;

            .key-feature-media {
                height: 400px;
                margin: -100px 0;
                width: 645px;

                &:nth-child(odd) {
                    margin-right: -20px;
                }

                &:nth-child(even) {
                    margin-left: -20px;
                }

                &.video {
                    height: 364px;
                    margin: -40px 0;
                }

                .moz-video-container {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .video-container {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

html[dir="rtl"] .key-features-section {

    @media #{$mq-desktop} {
        text-align: right;

        h2.section-title:before {
            left: auto;
            right: 0;
        }

        .key-feature {

            &:nth-child(odd) {

                .key-feature-content {
                    float: right;
                }

                .key-feature-media {
                    float: left;
                }
            }

            &:nth-child(even) {

                .key-feature-content {
                    float: left;
                }

                .key-feature-media {
                    float: right;
                }
            }
        }
    }

    @media #{$mq-desktop-wide} {
        .key-feature .key-feature-media {
            &:nth-child(odd) {
                margin-right: 0;
                margin-left: -20px;
            }

            &:nth-child(even) {
                margin-left: 0;
                margin-right: -20px;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Switch from Chrome to Firefox section

.switch-section {
    margin-top: -40px;

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin: 0 auto 40px;
        max-width: 30em;
    }

    a:link,
    a:visited {
        color: #000;
        display: block;
        font-weight: bold;
        margin: 20px 0;
        text-decoration: underline;
    }

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }

    .section-content {
        margin-bottom: 40px;
    }

    .section-media a {
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }

    @media #{$mq-desktop} {
        margin-top: 0;
        text-align: left;

        h2.section-title:before {
            left: 0;
            margin-left: 0;
        }

        p {
            margin-bottom: 0;
        }

        .section-content {
            float: right;
            width: 38%;
        }

        .section-media {
            float: left;
            width: 55%;

            a {
                margin: 0;
                max-width: none;
            }
        }
    }
}

html[dir="rtl"] .switch-section {
    @media #{$mq-desktop} {
        text-align: right;

        h2.section-title:before {
            left: auto;
            right: 0;
        }

        .section-content {
            float: left;
        }

        .section-media {
            float: right;
        }
    }
}

/* -------------------------------------------------------------------------- */
// privacy section

.privacy-section {
    background-color: #c42482;
    background-image: linear-gradient(222deg, #ff272d 0%, #c42482 33%, #ab217f 47%, #671878 84%, #4a1475 100%);
    color: #fff;

    h2 {
        margin-bottom: 20px;

        &.section-title:before {
            background: #fff;
        }
    }

    h3 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    header {
        margin-bottom: 60px;
    }

    .tagline {
        @include font-size-level4;
        margin-bottom: 40px;
    }

    ul li {
        border-bottom: 1px solid #fff;
        margin: 0 auto 40px;
        max-width: 30em;
        padding: 0 0 20px;

        h3 {
            background: url('/media/img/firefox/home/icon-sprite.svg') no-repeat;
        }

        &.private-browsing h3 {
            background-position: center top -752px;
            min-height: 19px;
            padding-top: 40px;
        }

        &.tracking-protection h3 {
            background-position: center top -1300px;
            min-height: 32px;
            padding-top: 50px;
        }

        &.faster-loading h3 {
            background-position: center top -871px;
            min-height: 42px;
            padding-top: 60px;
        }

        &:last-child {
            border-bottom: none;
        }

        p {
            max-width: 20em;
            margin: 0  auto 1.25em;
        }
    }

    a:link,
    a:visited {
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
    }

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }

    img {
        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .1);
        margin-bottom: 20px;
    }

    @media #{$mq-desktop} {
        margin-bottom: 200px;
        position: relative;
        text-align: left;

        h2.section-title:before {
            left: 0;
            margin-left: 0;
        }

        ul {
            float: left;
            width: 45%;

            li {
                margin: 0 0 40px;
                max-width: none;
                padding: 0 0 20px 60px;

                h3 {
                    margin-left: -60px;
                }

                &.private-browsing h3,
                &.tracking-protection h3,
                &.faster-loading h3 {
                    padding: 0 0 0 60px;
                }

                &.private-browsing h3 {
                    background-position: left -20px top -752px;
                }

                &.tracking-protection h3 {
                    background-position: left -20px top -1300px;
                }

                &.faster-loading h3 {
                    background-position: left -20px top -871px;
                }

                p {
                    margin: 0  0 1.25em;
                }
            }
        }

        .privacy-section-media {
            float: right;
            width: 50%;
        }
    }

    @media #{$mq-desktop-wide} {
        .privacy-section-media img {
            margin: 0 0 40px 60px;

            &:nth-child(2) {
                margin-left: 120px;
            }
        }
    }
}

html[dir="rtl"] .privacy-section {

    @media #{$mq-desktop} {
        text-align: right;

        h2.section-title:before {
            left: auto;
            right: 0;
        }

        ul {
            float: right;

            li {
                padding: 0 60px 20px 0;

                h3 {
                    margin-left: 0;
                    margin-right: -60px;
                }

                &.private-browsing h3,
                &.tracking-protection h3,
                &.faster-loading h3 {
                    padding: 0 60px 0;
                }

                &.private-browsing h3 {
                    background-position: right -20px top -752px;
                }

                &.tracking-protection h3 {
                    background-position: right -20px top -1300px;
                }

                &.faster-loading h3 {
                    background-position: right -20px top -871px;
                }
            }
        }

        .privacy-section-media {
            float: left;
        }
    }

    @media #{$mq-desktop-wide} {
        .privacy-section-media img {
            margin: 0 60px 40px 0;

            &:nth-child(2) {
                margin-left: 0;
                margin-right: 120px;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Features scroller page specific styles & overrides

@media #{$mq-desktop-wide} {
    .features-scroller-section.page-section .features-scroller-header .features-scroller-nav {
        &[data-current="video-screenshots"] ul:before {
            @include transform(translateY(0));
        }

        &[data-current="video-pocket"] ul:before {
            @include transform(translateY(100%));
        }

        &[data-current="video-gaming"] ul:before {
            @include transform(translateY(200%));
        }

        &[data-current="video-library"] ul:before {
            @include transform(translateY(300%));
        }
    }
}

/* -------------------------------------------------------------------------- */
// Customization section

.customization-section {

    h2 {
        margin-bottom: 40px;
    }

    h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    ul li {
        margin: 40px 0;
        padding-top: 120px;
        position: relative;

        &:before {
            background: #ffe900 url('/media/img/firefox/home/icon-sprite.svg') center 0 no-repeat;
            background: url('/media/img/firefox/home/icon-sprite.svg') center 0 no-repeat,
                        linear-gradient(to bottom, #ffe900 0%, #ff9400 100%) top left;
            border-radius: 100%;
            content: '';
            height: 100px;
            left: 50%;
            margin-left: -50px;
            position: absolute;
            top: 0;
            width: 100px;
        }

        &.extensions:before {
            background-position: center top -284px;
            background-position: center top -284px, top left;
        }

        &.themes:before {
            background-position: center top -984px;
            background-position: center top -984px, top left;
        }

        &.toolbar:before {
            background-position: center top -1128px;
            background-position: center top -1128px, top left;
        }
    }

    @media #{$mq-tablet} {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 40px auto;
                padding-top: 160px;
                width: 30%;
            }
        }
    }
}

@supports (display: grid) {

    .customization-section {

        @media #{$mq-desktop} {
            ul {
                display: grid;
                grid-gap: 100px;
                grid-template-columns: repeat(3, 1fr);

                li {
                    margin: 40px 0;
                    width: auto;
                }
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Sync section

.sync-section {
    background: #ededf0;
    padding-bottom: 0;

    h2 {
        margin-bottom: 40px;
    }

    p {
        margin: 0 auto 40px;
    }

    @media #{$mq-desktop} {
        position: relative;

        h2.section-title:before {
            left: 0;
            margin-left: 0;
        }

        .sync-section-content {
            float: right;
            text-align: left;
            width: 50%;

            p {
                max-width: 24em;
                margin: 0 0 40px;
            }
        }


        .sync-section-image {
            float: left;
            width: 50%;

            img {
                height: 571px;
                margin: -140px 0 -140px -420px;
                max-width: none;
                width: 788px;
            }
        }
    }

    @media #{$mq-desktop-wide} {
        .sync-section-image img {
            margin-left:  -300px;
        }
    }
}

html[dir="rtl"] .sync-section {

    @media #{$mq-desktop} {

        h2.section-title:before {
            left: auto;
            right: 0;
        }

        .sync-section-content {
            text-align: right;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Browser for good section

.browse-for-good-section {
    padding-bottom: 130px;

    .browse-for-good-section-container {
        @include at2x('/media/img/firefox/home/mozilla.png', 300px, 261px);
        background-position: top center;
        background-repeat: no-repeat;
        padding-top: 280px;
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin: 0 auto;
        max-width: 24em;
    }

    @media #{$mq-tablet} {

        .browse-for-good-section-container {
            @include background-size(350px 305px);
            @include clearfix;
            background-position: top left;
            min-height: 305px;
            padding-top: 40px;
        }

        .browse-for-good-section-content {
            float: right;
            text-align: right;
            width: 45%;

            h2.section-title:before {
                left: auto;
                margin-left: 0;
                right: 0;
            }

            p {
                margin: 0;
                float: right;
            }
        }
    }

    @media #{$mq-desktop} {
        padding: 200px 0 0;

        .browse-for-good-section-container {
            @include background-size(450px 392px);
            min-height: 392px;
            padding-top: 100px;
        }
    }

    @media #{$mq-desktop-wide} {
        .browse-for-good-section-container {
            @include background-size(541px 471px);
            background-position: top left 20px;
            min-height: 471px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Secondary download section

.secondary-download-section {
    background-color: #0060df;
    background-image: linear-gradient(to bottom, #0060df 0%, #009cff 50%, #00abff 100%);
    color: #fff;
    position: relative;

    &:before {
        background: transparent url('/media/img/firefox/home/wave.svg') top center no-repeat;
        @include background-size(3000px 151px);
        content: '';
        display: block;
        height: 151px;
        left: 0;
        position: absolute;
        top: -5px;
        width: 100%;
    }

    .content {
        margin-top: -70px;
    }

    h2 {
        @include at2x('/media/img/logos/firefox/logo-quantum.png', 200px, 200px);
        @include font-size-level2;
        background-position: top center;
        background-repeat: no-repeat;
        padding-top: 220px;
    }

    p {
        margin-bottom: 0;
    }

    .download-button {
        margin-top: 40px;
    }

    @media #{$mq-desktop} {
        .content {
            margin-top: -110px;
        }
    }
}
