// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

/* Top Level Menu Items */

#nav-main ul {
    .inline-block;
    margin: 0;

    li {
        position: relative;
        z-index: 100;

        a,
        a:link,
        a:visited,
        span {
           z-index: 100;
           position: relative;
        }

        &.hover a {
            background-image: url(/media/img/sandstone/menu-point.png);
            background-repeat: no-repeat;
            background-position: center 2.75em;
            outline: 0;
        }
    }

}

/* Second-level Menu Items */

.js #nav-main li.hover ul {
    left: 0;
    opacity: 1;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#nav-main li ul,
#nav-main li ul li {
    height: auto;
    border: 0;
    float: none;
    display: block;
}

#nav-main li ul {
    position: absolute;
    left: -999em;
    top: 48px;
    opacity: 0;
    z-index: 999;
    width: 190px;
    text-shadow: 1px 1px 0 #fff, 0 0 5px #fff;
    background: #fff;
    padding: 1px 0;
    border-bottom: 1px solid #ddd;

    li,
    li.hover {
        background-image: none;

        a,
        a:link,
        a:visited,
        span {
            overflow: hidden;
            padding: 7px 10px;
            margin: 0;
            height: auto;
            float: none;
            display: block;
            font-size: 11px;
            border: 0;
            background: none;
            position: relative;
            -moz-transition: background 0.1s ease-in;
            -webkit-transition: background 0.1s ease-in;
            transition: background 0.1s ease-in;
        }

        a,
        a:hover,
        a:focus,
        a:active {
            background-image: none;
            background: rgb(227,235,244);
            background: rgba(152,178,201,0.2);
            -moz-transition: background 0.1s ease-out;
            -webkit-transition: background 0.1s ease-out;
            transition: background 0.1s ease-out;
        }
    }

}
/* Currently active menu items */

#nav-mail ul li.current {
    span,
    a,
    a:link,
    a:visited {
        background: #fbfdff;
        padding-right: 30px;
        padding-bottom: 15px;
    }

    ul span,
    ul a,
    ul a:link,
    ul a:visited {
        background: none;
        height: auto;
        padding: 8px 10px;
    }
}

/* }}} */
/* {{{ Dark Background Header */

.darkbg #nav-main ul li {

    a,
    a:link,
    a:visited,
    span {
        color: #fff;
        border-color: #555;
    }

    li a,
    li a:link,
    li a:visited,
    li span {
        color: #484848;
    }

    a:hover,
    &:hover a,
    .hover a,
    .hover a:link,
    .hover a:visited {
        background: #ccc;
        color: #484848;
    }

}
