// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "template-resp.less";
@import "simple_footer.less";

.sky #outer-wrapper {
    background: #eaeff2;
    background: -moz-radial-gradient(center, ellipse cover, rgba(234,239,242,1) 0%, rgba(212,221,228,.5) 60%),
                -moz-linear-gradient(top, rgba(202,225,244,1) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(0%,rgba(234,239,242,.9)), color-stop(60%,rgba(212,221,228,.5))),
                -webkit-linear-gradient(top, rgba(202,225,244,1) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(234,239,242,1) 0%, rgba(212,221,228,.4) 60%),
                -webkit-linear-gradient(top, rgba(202,225,244,1) 0%, rgba(125,185,232,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(234,239,242,1) 0%, rgba(212,221,228,.5) 60%),
                -ms-linear-gradient(top, rgba(202,225,244,1) 0%, rgba(125,185,232,0) 100%);
    background: radial-gradient(ellipse at center, rgba(234,239,242,1) 0%,rgba(212,221,228,.5) 50%),
                linear-gradient(to bottom, rgba(202,225,244,1) 0%,rgba(125,185,232,0) 100%);

    &:after {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: url(/media/img/firefox/new/bg-noise.png);
    }
}

#wrapper {
    width: 980px;
    padding: 0 10px 0 10px;
    z-index: 1;
}

#main-feature {
    margin-top: 14px;
    padding-bottom: 18px;
    h1.large {
        text-align: center;
        font-size: 72px;
        span { white-space: nowrap; }
    }
    img { display: none; }
}

#features {
    float: left;
    width: 480px;
    margin: 0 20px 0 16px;
    padding: 0 0 0 20px;
    list-style-type: none;
    .clearfix;
    li {
        float: left;
        width: 140px;
        height: 89px;
        text-align: center;
        padding: 28px 20px 0 0;
        margin-left: 0;
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 100%;
        color: @textColorSecondary;
        .open-sans-light;
        background: url(/media/img/firefox/new/features-divider.png) right top no-repeat;
        &:last-child {
            background: none;
        }
    }
}

/* CSS tweaks */

html[lang="it"] #features,
html[lang="mk"] #features,
html[lang="my"] #features,
html[lang="ru"] #features,
html[lang="uk"] #features {
    width: 588px;
    margin: 0 0 0 8px;
    padding-left:0;
    li {
        width: 176px;
        padding-right: 20px;
    }
}

html[lang="my"] #features {
    li {
        font-size:20px;
        letter-spacing:0;
    }
}

 .download-button-wrapper { float: left; }

.ready-for-scene2 {
    .thankyou {
        background: url(/media/img/firefox/new/thankyou-check.png) left top no-repeat;
        padding: 0 0 0 35px;
        margin: 20px 130px 0;
        color: @buttonGreenDark;
        font-style: italic;
        font-size: 18px;
        .open-sans-light;
        &:focus {
            outline: none;
        }
    }

    .installation {
        margin: 40px auto 0;
        padding: 0;
        width: 900px;
        display: block;
        list-style-type: none;
        .clearfix;
        li {
            float: left;
            width: 248px;
            padding: 196px 0 0 0;
            overflow: hidden;
            margin: 0 26px;
            text-align: left;
            font-size: 12px;
            color: @textColorTertiary;
            font-style: italic;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    #install3 { margin-right: 0; }
}

.osx .ready-for-scene2 {
    #install1 { background-image: url(/media/img/firefox/new/install1-mac.png?2013-06); }
    #install2 { background-image: url(/media/img/firefox/new/install2-mac.png?2013-06); }
    #install3 { background-image: url(/media/img/firefox/new/install3-mac.png?2013-06); }
}

.windows .ready-for-scene2 {
    #install1 { background-image: url(/media/img/firefox/new/install1-win.png?2013-06); }
    #install2 { background-image: url(/media/img/firefox/new/install2-win.png?2013-06); }
    #install3 { background-image: url(/media/img/firefox/new/install3-win.png?2013-06); }
}

.winIE8 .ready-for-scene2 #install1 {
    background-image: url(/media/img/firefox/new/install1-winIE8.png);
}

.osx .install-win,
.linux .install-win,
.windows .install-osx,
.linux .install-osx,
.linux #install1 strong,
.linux .installation li:not(#install1) {
    display: none;
}

.linux #install1 {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.theater {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.mobile {
    display: none;
}

// android view
.android {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .theater { height: 260px; }
    #features {
        float: none;
        margin: 0 auto 10px auto;
        width: 720px;
        li {
            width: 220px;
        }
    }

    .download-button-wrapper {
        float: none;
        text-align: center;
        .download-button {
            text-align: left;
        }
    }
}

.stage {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    -moz-transition: bottom 0.4s ease 0.1s;
    -webkit-transition: bottom 0.4s ease 0.1s;
    -ms-transition: bottom 0.4s ease 0.1s;
    -o-transition: bottom 0.4s ease 0.1s;
    transition: bottom 0.4s ease 0.1s;

    &.scene2 {
        bottom: -400px;
        #scene2 { visibility: visible; }
    }
}

.scene {
    position: absolute;
    left: 0;
    height: 400px;
    width: 100%;
    .clearfix;
    overflow: hidden;
}

#scene1 {
    top: 0;
}

#scene2 {
    top: -400px;
    visibility: hidden;
}

#firefox-screenshot .platform-img {
    position: absolute;
    bottom: 0px;
}

noscript {
    .button-white, .button-white:link, .button-white:visited {
        min-width: 0;
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
    #wrapper {
        width: 760px;
        padding: 0;
    }
    .theater, .stage, .js .scene {
        height: 360px;
    }
    #features {
        width: 391px;
        margin: 0;
        li {
            width: 110px;
            font-size: 18px;
            padding-top: 32px;
            height: 85px;
        }
    }
    .ready-for-scene2 {
        .thankyou {
            margin: 0 40px;
        }
        .installation {
            width: 700px;
            li {
                width: 200px;
                padding: 159px 0 0 0;
                margin: 0 15px;
            }
        }
    }

    .android #features li {
        font-size: 24px;
        padding-top: 28px;
        height: 89px;
    }
}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {
    #wrapper {
        width: 320px;
        padding: 0;
    }
    #colophon {
        .primary {
            text-align: left;
            li {
                display: block;
                margin-left: 0;
                a, a:link, a:visited {
                    display: block;
                    border-left: none;
                    border-top: 1px dotted @textColorLight;
                    padding: 10px;
                }
                &:first-child a {
                    border: 0;
                }
            }
        }
    }
    #masthead h2 { display: none; }
    .theater, .stage, .scene {
        height: 356px;
    }
    #main-feature {
        padding-bottom: 0px;
        .row {
            .clearfix;
            width: 300px;
            margin: 0 auto;
        }
        h1.large {
            float: left;
            width: 180px;
            margin-left: 20px;
            font-size: 36px;
            letter-spacing: -1px;
            padding-top: 12px;
            text-align: left;
        }
        img {
            float: left;
            display: block;
        }
    }

    #firefox-screenshot { display: none; }

    #features-download { padding-top: 10px; }

    .android #features, #features {
        margin: 0 auto 20px;
        float: none;
        width: 320px;
        padding-left: 0;
        li {
            width: 85px;
            height: 78px;
            padding: 35px 10px 0;
            font-size: 14px;
            text-align: left;
        }
    }

    .download-button-wrapper {
        float: none;
        text-align: center;
        .download-button {
            text-align: left;
        }
    }

    .ready-for-scene2 {
        .thankyou {
            margin: 10px 0 0 0;
            font-size: 14px;
            letter-spacing: auto;
        }

        .installation {
            width: 300px;
            margin: 20px 0 0;
            li {
                width: auto;
                margin-bottom: 10px;
                float: none;
                font-style: normal;
                text-align: left;
                padding: 0;
            }
        }
    }
    .osx .ready-for-scene2, .windows .ready-for-scene2, .winIE8 .ready-for-scene2 {
        #install1, #install2, #install3 { background-image: none; }
    }

    .android {
        .theater, .stage, .scene {
            height: 310px;
        }
    }
}
