// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#phone-container {
    background: url(/media/img/firefox/partners/phone-shadow.png) 0 100% no-repeat;
    height: 555px;
    width: 359px;
    position: fixed;
    z-index: 1000;
    top: 220px;
    left: 50%;
    margin-left: 150px;
    #phone {
        background: url(/media/img/firefox/partners/phone.png) 0 0 no-repeat;
        height: 555px;
        width: 359px;
    }
    #foxtail {
        height: 156px;
        width: 156px;
        position: absolute;
        top: 110px;
        left: 90px;
        background: url(/media/img/firefox/partners/foxtail.png) 0 0 no-repeat;
    }
}

.logos {
    list-style-type: none;
    padding: 0;
    margin: @baseLine 0;
    .clearfix();
    li {
        background: rgba(0,0,0,0.1);
        border-radius: 3px;
        float: left;
        width: 120px;
        padding: 15px 10px;
        text-align: center;
        color: #888;
        margin: 0 10px 10px 0;
    }
}

/* {{{  Desktop Layout */
@media only screen and (min-width: @widthDesktop) {

    @import "partners/desktop.less";

}

/* }}} */
/* {{{ Responsive Grid */
/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #masthead,
    .partner-article {
      width: @widthTablet;
    }

}


/* Mobile Layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #masthead,
    .partner-article {
      width: @widthMobile;
    }

}


/* Wide Mobile Layout: 480px */
@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

    #masthead,
    .partner-article {
        width: @widthMobileLandscape;
    }

}
/* }}} */
