// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#main-feature {
    hgroup {
        margin-top: @baseLine / 2;
    }
    h1 {
        .span(6);
        clear: left;
        margin-bottom: @baseLine / 3;
        font-size: 64px;
    }
    h2 {
        font-size: 24px;
        line-height: 1.2;
        .span(6);
        clear: left;
    }
    p {
        clear: left;
    }
}

.sidebar {
    .span(3);
    .offset(1);
    h4 {
        font-size: 24px;
    }
    font-size: 14px;
    .reference {
        margin-top: 0;
        margin-bottom: @baseLine;
        border-bottom: 1px dotted @borderColor;
        padding-bottom: @baseLine / 2;
        p {
            margin-bottom: 10px;
        }
    }
}

#other {
    .span(8);
    font-style: italic;
    font-size: 14px;
}

#main-content {
    padding-top: 1px;
}

#platforms-list {
    color: @textColorSecondary;
    .span(8);
    padding-bottom: @baseLine;
    ul {
        margin-bottom: 0;
    }
}

#platforms-list > li {
    margin: 0;
}

#platforms-list > li > ul > li {
    margin-left: 0;
}

#platforms-list li {
    list-style-type: none;
    li li {
        list-style-type: disc;
    }
}

.containerobj {
    min-height: 300px;
    height: auto;
    border: 0;
    h4 {
        margin: 0;
        span {
            display: block;
            padding: (@baseLine / 2) @baseLine;
        }
    }
    .widget,
    .feature {
        display: none;
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
   
    #main-feature {
        h1 {
            .span_narrow(6);
            font-size: 48px;
        }
    }

    #platforms-list {
        .span_narrow(8);
    }

    .sidebar {
        .span_narrow(4);
        .offset(0);
    }

} 


/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #main-feature {
        h1 {
            width: auto;
            font-size: 48px;
        }
    }

    #main-feature h2,
    #platforms-list,
    .sidebar,
    #other {
        .offset(0);
        width: auto;
        float: none;
    }
}

