// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$brand-theme: 'firefox';

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';
@import '../../protocol/css/includes/lib';
@import '../../protocol/css/components/sticky-promo';

// Hide promo by default for mobile devices (<$mq-md)
.mzp-c-sticky-promo {
    display: none;
}

// Show non-Fx users a promo to download Fx
.promo-firefox {
    .is-firefox & {
        display: none;
    }
}

// Show Fx users a promo to try other products
.promo-products {
    display: none;

    .is-firefox & {
        display: block;

        .mzp-c-sticky-promo-title {
            background: none;
            margin-bottom: 0;
            padding: 0;
            text-align: center;
        }
    }
}

.mzp-c-sticky-promo .mzp-c-button-download-container {
    width: 100%;
}


//* -------------------------------------------------------------------------- */
// Promo Products List Styles

.promo-products-list {
    @include white-links;
    align-items: center;
    border-top: $border-radius-xs solid rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: $spacing-xl 0 0;
    padding-top: $spacing-xl;

    .promo-products-link {
        align-items: center;
        color: $color-white;
        display: flex;
        font-weight: bold;
        margin-bottom: $spacing-md;
        text-decoration: none !important; /* stylelint-disable-line declaration-no-important */

        img {
            display: block;
            height: 100%;
            margin-inline-end: $spacing-md;
            width: $spacing-xl;
        }
    }
}

@media #{$mq-md} {
    .mzp-c-sticky-promo.mzp-a-slide-in, .mzp-c-sticky-promo.is-displayed {
        display: block;
    }
}
