// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "template.less";

#main-feature {
    padding-bottom: @baseLine;
    hgroup {
        .span(6);
    }
}

#main-feature #more-info {
    .span(3);
    .offset(1);
    margin-top: @baseLine * 4;
    p {
        .small;
    }
    ul {
        margin: 0;
    }
}
