// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';
@import '../../protocol/css/includes/lib';
@import '../../protocol/css/includes/forms/lib';

@import '../../protocol/css/components/card';
@import '../../protocol/css/components/feature-card';
@import '../../protocol/css/components/hero';
@import '../../protocol/css/templates/card-layout';


// --------------------------------------------------------------------------

$svg-icon-twitter: '<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.032 14.5c6.037 0 9.34-5.002 9.34-9.34 0-.142 0-.283-.01-.424A6.679 6.679 0 0 0 16 3.037c-.6.266-1.235.44-1.885.517a3.294 3.294 0 0 0 1.443-1.816 6.579 6.579 0 0 1-2.085.797A3.286 3.286 0 0 0 7.88 5.528 9.32 9.32 0 0 1 1.114 2.1 3.285 3.285 0 0 0 2.13 6.481 3.258 3.258 0 0 1 .64 6.07v.041A3.284 3.284 0 0 0 3.274 9.33c-.484.132-.99.151-1.483.056a3.286 3.286 0 0 0 3.067 2.28A6.587 6.587 0 0 1 0 13.025a9.294 9.294 0 0 0 5.032 1.472" fill="#88ffd1" fill-rule="nonzero"/></svg>';
$svg-icon-cta: '<svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><polyline vector-effect="non-scaling-stroke" stroke="#88ffd1" stroke-width="2" points="9 19 16 12 9 5"></polyline></g></svg>';

$icon_twitter: svg-url($svg-icon-twitter);
$icon_cta: svg-url($svg-icon-cta);
$icon_width: $spacing-lg;


// --------------------------------------------------------------------------
// Protocol over-rides
// https://github.com/mozilla/protocol/issues/345
// https://github.com/mozilla/protocol/issues/536
// https://github.com/mozilla/bedrock/pull/9096

// xs
$v-grid-xs: $layout-md;
$h-grid-xs: $layout-xs;

//md
$v-grid-md: $layout-xl / 2;
$h-grid-md: 64px;

//lg
$v-grid-lg: 192px / 2;
$h-grid-lg: 80px;

main {
    .mzp-l-content {
        padding-top: $v-grid-xs;
        padding-bottom: $v-grid-xs;

        @media #{$mq-md} {
            padding-top: $v-grid-md;
            padding-bottom: $v-grid-md;
        }

        @media #{$mq-lg} {
            padding-top: $v-grid-lg;
            padding-bottom: $v-grid-lg;
        }
    }

    h2, h3, h4 {
        color: $color-white;
        margin-bottom: $spacing-md;
    }

    h1, h2 {
        color: $color-yellow-05;
    }

    img {
        .mzp-c-card & {
            display: block;
            margin-bottom: $spacing-lg;
        }
    }
}


// --------------------------------------------------------------------------
// theme colours (white text, mint buttons and links)

.t-unfck {
    &,
    & .mzp-c-card-feature-desc,
    & .mzp-c-hero {
        @include light-links;
        background-color: $color-purple-90;
        color: $color-white;
    }

    a.mzp-c-button.download-link {
        background-color: $color-green-30;
        color: $color-ink-90;

        &:hover {
            background-color: $color-green-50;
        }

        &:focus {
            box-shadow: $field-focus-ring-dark;
        }
    }

    .fx-privacy-link {
        display: none;
    }

    .mzp-c-cta-link {
        background: $icon_cta top right no-repeat;
        background-size: $spacing-md auto;
        margin-bottom: 0;
        padding-right: $spacing-lg;

        &:link,
        &:visited,
        &:hover {
            color: $color-green-30;
        }
    }

    .mzp-c-card-block-link {
        &:link,
        &:visited,
        &:hover {
            .mzp-c-card-cta-text {
                color: $color-green-30;
            }
        }
    }
}


// --------------------------------------------------------------------------
// banner & hero

.c-banner {
    @include at2x('/media/img/firefox/campaign/unfck/hero-wide.png', contain);
    margin: 0 auto 48px auto;
    max-width: $content-xl;
    position: relative;
    top: $v-grid-xs;
    z-index: 3;

    @media #{$mq-md} {
        top: $v-grid-md;
    }

    @media #{$mq-lg} {
        top: $v-grid-lg;
    }

    &:before {
        @include at2x('/media/img/firefox/campaign/unfck/hero-wide.png', contain);
        background-repeat: no-repeat;
        display: block;
        content: '';
        height: 0;
        width: 100%;
        padding-top: 500 * 100% / 1152;
    }

    .loaded &:after {
        background: transparent url('/media/img/firefox/campaign/unfck/heart.gif') left bottom no-repeat;
        background-size: contain;
        display: block;
        content: '';
        width: 17.9%;
        position: absolute;
        bottom: 6%;
        top: 0;
        left: 7.2%;
        border-bottom-right-radius: 100px;
    }
}

.mzp-c-hero {
    padding-top: 0;
    padding-bottom: 0;

    ul.download-list,
    .mzp-c-button-download-container {
        margin-bottom: 0;
    }
}

.mzp-c-hero-title {
    @include visually-hidden;
}


// --------------------------------------------------------------------------
// checklist

.c-item-unfck {
    margin: $layout-lg auto 0 auto;
    max-width: $content-sm;
    position: relative;

    @media #{$mq-md} {
        margin-top: $v-grid-md;
    }

    @media #{$mq-lg} {
        margin-top: $v-grid-lg;
    }

    &:first-child {
        margin-top: 0;
    }
}

.c-item-img {
    text-align: center;
}

.c-item-gif {
    display: block;
    margin: 0 auto $layout-sm;
    max-width: 280px;
}

.c-item-title {
    @include font-size(24px);
    position: relative;
}

@supports (display:grid) {
    .c-item-unfck {
        display: grid;
        grid-template-areas:
            "image"
            "title"
            "desc";
    }

    .c-item-img {
        @include grid-column-gap($h-grid-xs);
        grid-area: image;
        justify-items: end;
    }

    .c-item-desc p:last-child {
        margin-bottom: 0;
    }

    @media #{$mq-md} {
        .c-item-unfck {
            @include grid-column-gap($h-grid-md);
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: min-content 1fr;
            grid-template-areas:
                "image title"
                "image desc";
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .c-item-img {
            @include grid-column-gap($h-grid-md - $icon_width);
            grid-template-columns: $icon_width 1fr;
            justify-items: start;
        }

        .c-item-gif {
            margin-bottom: 0;
        }

        .c-item-title {
            grid-area: title;

            &:before {
                position: absolute;
                top: 0;
                right: 100%;
            }
        }
    }

    @media #{$mq-lg} {
        .c-item-unfck {
            @include grid-column-gap($h-grid-lg);
            grid-template-columns: 1fr 2fr;
        }

        .c-item-img {
            @include grid-column-gap($h-grid-lg - $icon_width);
        }
    }
}


// --------------------------------------------------------------------------
// section titles

.c-section-title {
    @include font-size(40px);
    @include text-title-md;
    margin: 0 auto;
    padding: 0 $layout-sm;
    max-width: $content-lg + $layout-lg * 2;
    text-align: center;

    strong {
        white-space: nowrap;
    }
}

// --------------------------------------------------------------------------
// cards
// https://github.com/mozilla/protocol/issues/536
// https://github.com/mozilla/bedrock/pull/9096

.mzp-c-card {
    background-color: transparent;
    margin-bottom: $v-grid-xs;

    @media #{$mq-md} {
        margin-bottom: $v-grid-md;
    }

    @media #{$mq-lg} {
        margin-bottom: $v-grid-lg;
    }
}

.mzp-c-card-desc {
    color: $color-white;
}

.mzp-l-card-third {
    margin: 0 auto;

    .mzp-c-card {
        @media #{$mq-sm} {
            @include bidi((
                (margin-left, 0, $h-grid-xs),
                (margin-right, $h-grid-xs, 0),
            ));
            width: calc(50% - (#{$h-grid-xs} / 2));

            &:nth-child(even) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        @media #{$mq-md} {
            @include bidi((
                (margin-left, 0, $h-grid-md),
                (margin-right, $h-grid-md, 0),
            ));
            width: calc(50% - (#{$h-grid-md} / 2));

            &:nth-child(even) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        @media #{$mq-lg} {
            width: calc(33.3% - (#{$h-grid-lg} - (#{$h-grid-lg} / 3)));

            &:nth-child(even) {
                @include bidi((
                    (margin-left, 0, $h-grid-lg),
                    (margin-right, $h-grid-lg, 0),
                ));
            }

            &:nth-child(3n) {
                @include bidi(((margin-right, 0, margin-left, 0),));
            }
        }
    }
}
