// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#main-feature {
    h1 {
        .span-all;
        margin-bottom: 10px;
    }
    h2 {
        .span(10);
        font-size: 28px;
    }
}

#main-content {
    .help-feature {
        .span(8);
    }
    .systems-feature {
        .span(4);
    }
    .blocklevel {
        .trailing-arrow();
    }
}

.other-browsers {
    margin-top: (@baseLine * 2);
    margin-bottom: (@baseLine * 2);
    p,
    ul {
        .span(8);
    }
    ul {
        margin-top: @baseLine;
    }
}


/* Tablet and Mobile */
@media only screen and (max-width: @breakDesktop) {

    #main-feature h1,
    #main-feature h2,
    #main-content .help-feature,
    #main-content .systems-feature,
    .other-browsers p,
    .other-browsers ul {
        .span-all;
    }

    #main-feature {
        h1 {
            margin-bottom: 10px;
        }
        h2 {
            font-size: 18px;
        }
    }

    #main-content {
        padding-top: @baseLine;
        .help-feature {
            margin-bottom: @baseLine;
        }
    }

    .other-browsers {
        ul {
            margin-top: @baseLine;
        }
    }

}
