// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-page-header {
    .mzp-l-content {
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }
}

// * -------------------------------------------------------------------------- */
// Main content
.c-content-main {
    padding: 0;
    text-align: center;
}

.c-main-image {
    margin: 0 auto $layout-lg;

    @media #{$mq-tall} {
        margin: $layout-lg auto $layout-xl;
    }
}

.c-pre-title {
    @include text-title-2xs;
    color: $title-text-color;
    font-weight: bold;
    margin: 0 auto $spacing-xl;
    max-width: 750px;

    @supports (--css: variables) {
        color: var(--title-text-color);
    }
}

.c-main-title {
    @include text-title-md;
    color: $title-text-color;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    @supports (--css: variables) {
        color: var(--title-text-color);
    }

    strong {
        color: $color-violet-50;
    }
}

.c-main-tagline {
    @include text-body-lg;
    max-width: $content-md;
    margin-left: auto;
    margin-right: auto;
}

// * -------------------------------------------------------------------------- */
// Secondary content
.mzp-c-picto {
    max-width: $content-sm;
}

.mzp-c-picto-image {
    max-width: $content-xs;
    margin-left: auto;
    margin-right: auto;
}

// * -------------------------------------------------------------------------- */
// Utilities
.c-utilities {
    @include text-body-sm;
    max-width: $content-md;
    padding-bottom: $layout-xl;
    text-align: center;
}
