// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-page-header {
    .mzp-l-content {
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }
}

.c-content-main {
    background: $color-marketing-gray-10;
    color: $color-black;
    text-align: center;

    .c-main-image {
        margin: $layout-md auto;
    }
}

.c-main-tagline {
    @include text-body-xl;

    @media #{$mq-md} {
        padding: 0 $layout-xl;
    }
}

.has-rc-icon span {
    @include image-replaced;
    @include background-size(2.25ex, 2.25ex);
    background-image: url("/media/img/firefox/welcome/page18/icon-tag.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 2.25ex;
    margin-bottom: -0.5ex;
    width: 2.25ex;
}

.page-footer {
    text-align: center;
}

// * -------------------------------------------------------------------------- */
// Dark mode

@media (prefers-color-scheme: dark) {
    #outer-wrapper {
        background: $color-dark-gray-60;
        color: $color-white;
    }

    .c-content-main {
        background: $color-dark-gray-50;
    }

    .c-content-main,
    .c-main-title {
        color: $color-white;
    }

    .has-rc-icon span {
        background-image: url("/media/img/firefox/welcome/page18/icon-tag-white.svg");
    }

    .c-main-tagline,
    .c-utilities {
        @include white-links;
    }
}
