
// Full character set font for Cyrillic
@font-face {
    font-family: 'Open Sans Light';
    src: url('/media/fonts/OpenSans-Light-webfont-intl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
