{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/base/base-protocol.html" %}

{% block page_css %}
  {{ css_bundle('firefox-family') }}
{% endblock %}

<!-- will any metadata need to change? -->
{% block page_title_prefix %}The Tech Talk{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_image %}{{ static('protocol/img/logos/firefox/browser/og.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/favicons/firefox/browser/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/favicons/firefox/browser/favicon-196x196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/favicons/firefox/browser/apple-touch-icon.png') }}{% endblock %}
{% block twitter_card %}summary_large_image{% endblock %}

{% block facebook_id %}14696440021{# facebook.com/Firefox #}{% endblock %}
{% block twitter_id %}firefox{% endblock %}
<!-- metadata q ends -->

{% block sub_navigation %}
  {% include 'firefox/family/includes/subnav.html' %}
{% endblock %}

{% block content %}
<!-- Hero -->
{% include 'firefox/family/includes/hero.html' %}
<!-- Breaking news scroll -->
{% include 'firefox/family/includes/news-ticker.html' %}
<main>
<!-- note: all module sections must be linkable -->
<!-- MODULE: Privacy -->
{% include 'firefox/family/includes/modules/privacy.html' %}
<!-- MODULE: Mental Health -->
{% include 'firefox/family/includes/modules/mental-health.html' %}
<!-- Parental Pro-tip -->
{% with tip='Sometimes when you punctuate your texts, it seems angry: “Okay.”' %}
  {% include 'firefox/family/includes/parental-pro-tip.html' %}
{% endwith %}
<!-- MODULE: Bullying -->
{% include 'firefox/family/includes/modules/bullying.html' %}
<!-- MODULE: Public Wifi -->
{% include 'firefox/family/includes/modules/public-wifi.html' %}
<!-- Download Firefox -->
{% include 'firefox/family/includes/download-firefox.html' %}
<!-- MODULE: Passwords -->
{% include 'firefox/family/includes/modules/passwords.html' %}
<!-- MODULE: Private Mode -->
{% include 'firefox/family/includes/modules/private-mode.html' %}
<!-- Parental Pro-tip -->
{% with tip='Teens may smirk if they see you scrolling with your index finger.' %}
  {% include 'firefox/family/includes/parental-pro-tip.html' %}
{% endwith %}
<!-- Agreement (printable) -->
{% include 'firefox/family/includes/agreement.html' %}
</main>
<!-- dad jokes cookie banner -->
{% include 'firefox/family/includes/dad-jokes-banner.html' %}
{% endblock %}
