{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}Get to Know Mozilla{% endblock %}
{% block body_id %}about{% endblock %}
{% block body_class %}sand{% endblock %}

{% block extrahead %}
  {{ css('about') }}
{% endblock %}

{% block js %}
  {{ js('mosaic') }}
{% endblock %}

{% block mosaic %}
{% include "mozorg/mosaic-grid.html" %}
{% endblock %}

{% block content %}

<article id="main-content">

  <h1 class="title-banner">Get to know Mozilla</h1>
  
  <p class="intro">Whether you want to learn more about who we are, how to be a part of Mozilla or just where to find us, you've come to the right place.</p>
  
  <ul class="links">
    <li>
      <h4><a href="{{ url('mozorg.mission') }}">The Mozilla mission</a></h4>
      <p>What drives us and makes us different</p>
    </li>    
    <li>
      <h4><a href="https://careers.mozilla.org/">Career center</a></h4>
      <p>Want to work on Firefox? Apply today!</p>
    </li>
    <li>
      <h4><a href="https://blog.mozilla.org/">Mozilla blog</a></h4>
      <p>News, notes and ramblings from the Mozilla project</p>
    </li>
    <li>
      <h4><a href="/styleguide">Mozilla style guide</a></h4>
      <p>Logos, copy rules, visual assets and more</p>
    </li>
    <li>
      <h4><a href="{{ php_url('/about/contact') }}">Locations & contacts</a></h4>
      <p>Addresses, emails, support and feedback forms</p>
    </li>
  </ul>

  <ul class="links">
    <li>
      <h4><a href="{{ url('mozorg.products') }}">Our products</a></h4>
      <p>An overview of what we make and what we're working on</p>
    </li>
    <li>
      <h4><a href="{{ url('mozorg.contribute') }}">Get involved</a></h4>
      <p>Become a volunteer contributor in a number of different areas</p>
    </li>
    <li>
      <h4><a href="https://blog.mozilla.org/press/">Press center</a></h4>
      <p>Press info and other useful stuff</p>
    </li>
    <li>
      <h4><a href="{{ php_url('/privacy/') }}">Privacy center</a></h4>
      <p>Policies used to run the Mozilla community</p>
    </li>
    <li>
      <h4><a href="{{ php_url('/about/partnerships') }}">Mozilla partnerships</a></h4>
      <p>Details about partnering with us</p>
    </li>
  </ul>

</article>

{% endblock %}
