{# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% add_lang_files "firefox/hub/home-quantum" "firefox/shared" %}

{% from "macros-protocol.html" import feature_card, hero, call_out_compact with context %}
{% extends "firefox/base/base-protocol.html" %}

{# Bug 1438302 Avoid duplicate content for en-CA and en-GB pages. #}
{% if LANG == 'en-CA' %}
  {% set title_suffix = 'Firefox (CA)' %}
{% elif LANG == 'en-GB' %}
  {% set title_suffix = 'Firefox (UK)' %}
{% else %}
  {% set title_suffix = 'Firefox' %}
{% endif %}

{% block page_title %}{{ _('The new, fast browser for Mac, PC and Linux') }} | {{ title_suffix }}{% endblock %}
{% block page_desc %}{{ _('Responsive engine, less memory usage and packed with features. Download for desktop now.') }}{% endblock %}
{% block page_image %}{{ static('img/firefox/template/page-image-master.jpg') }}{% endblock %}
{% block page_favicon %}{{ static('img/favicons/firefox/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/favicons/firefox/favicon-196x196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/favicons/firefox/apple-touch-icon.png') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-quantum') }}
{% endblock %}

{% block extrahead %}
  <!--[if IE 9]>
    {{ css_bundle('firefox-home-ie9') }}
  <![endif]-->
{% endblock %}

{% block body_id %}firefox-home{% endblock %}
{% block body_class %}{{ super() }} mzp-t-firefox{% endblock %}

{% block sub_navigation %}
<nav class="c-sub-navigation">
  <div class="mzp-l-content">
    <div class="c-sub-navigation-content">
      <h2 class="c-sub-navigation-title">
        <img class="c-sub-navigation-icon" src="{{ static('protocol/img/logos/firefox/logo-sm.png') }}" width="24" height="24" alt="">
        {{ ftl('navigation-firefox') }}
      </h2>
      <ul class="c-sub-navigation-list">
        <li class="c-sub-navigation-item"><a href="{{ url('firefox.faq') }}" data-link-type="nav" data-link-position="subnav" data-link-name="FAQ">{{ ftl('navigation-faq') }}</a></li>
        <li class="c-sub-navigation-item"><a href="{{ url('firefox.more') }}" data-link-type="nav" data-link-position="subnav" data-link-name="Learn More">{{ ftl('navigation-learn-more') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<main role="main">
  <header class="mzp-c-hero mzp-t-firefox mzp-has-image">
    <div class="mzp-l-content">
      <div class="mzp-c-hero-body">
        <h1 class="mzp-c-hero-title">{{ high_res_img('protocol/img/logos/firefox/browser/logo-word-hor-sm.png', {'alt': 'Firefox', 'width': '216', 'height': '41'}) }}</h1>
        <div class="mzp-c-hero-desc">
          <p>{{ _('Fast for good.') }}</p>
        </div>
        <div class="mzp-c-hero-cta">
          {{ download_firefox(dom_id='download-intro', alt_copy=ftl('download-button-download-now'), download_location='primary cta') }}
        </div>
      </div>
    </div>
  </header>
  <section class="mzp-t-dark c-trio t-privacy" data-scroll-tracking="Seriously Private Browsing">
    <div class="mzp-l-content">
      <h2>{{ _('Seriously Private Browsing') }}</h2>
      <ul>
        <li class="t-private">
          <h3><a href="{{ url('firefox.features.private-browsing') }}">{{ _('Private Browsing') }}</a></h3>
          <p>
            {% trans %}
              Firefox blocks online trackers while you browse and won’t remember
              your history after you’re done.
            {% endtrans %}
          </p>
        </li>
        <li class="t-tracking">
          <h3><a href="{{ url('firefox.features.adblocker') }}">{{ _('Tracking Protection') }}</a></h3>
          <p>
            {% trans %}
              Some ads have hidden trackers that follow you online. Rude. We know.
              That’s why our powerful tool stops them cold.
            {% endtrans %}
          </p>
        </li>
        <li class="t-faster">
          <h3>{{ _('Faster Page Loading') }}</h3>
          <p>
            {% trans url='https://blog.mozilla.org/firefox/de/die-studie-zum-schutz-vor-aktivitatsverfolgung/' if LANG == 'de' else 'https://blog.mozilla.org/firefox/tracking-protection-study/' %}
              By blocking some ads and scripts that bog down browsing,
              <a href="{{ url }}">pages load up to 44% faster</a>. Now that’s a win-win.
            {% endtrans %}
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section>
    {% if l10n_has_tag('firefox_sync_dec2018') %}
    <div class="mzp-l-content">
      <div data-scroll-tracking="Sync your devices">
        {% call feature_card(
          title=_('Sync all your devices with a Firefox Account'),
          image_url='img/firefox/home/quantum/desktop-account.svg',
          aspect_ratio='mzp-has-aspect-1-1',
          class='mzp-l-card-feature-right-half mzp-t-firefox t-sync',
          link_url=url('firefox.accounts'),
          link_cta=_('Learn more about Firefox Accounts')
          ) %}
          <p>{{ _('Take your privacy, passwords, and bookmarks with you wherever you go.') }}</p>
        {% endcall %}
      </div>
    </div>
    {% endif %}
    <div class="mzp-l-content">
      <div class="c-trio t-custom" data-scroll-tracking="Customization Features">
        <h2>{{ _('Customization Features') }}</h2>
        <ul>
          <li class="t-extensions">
            <h3><a href="https://addons.mozilla.org/firefox/extensions/">{{ _('Extensions') }}</a></h3>
            <p>
              {# L10n: Locales can substitute their most popular extensions OR they can use "Personalize Firefox with thousands of extensions like password managers, ad blockers and more." #}
              {% trans %}
                Customize Firefox with thousands of extensions like LastPass,
                uBlock Origin, Evernote and more.
              {% endtrans %}
            </p>
          </li>
          <li class="t-themes">
            <h3><a href="https://addons.mozilla.org/firefox/themes/">{{ _('Themes') }}</a></h3>
            <p>
              {% trans %}
                Make over Firefox to suit your mood! Choose a new look from
                our theme categories or create your own.
              {% endtrans %}
            </p>
          </li>
          <li class="t-toolbar">
            <h3><a href="https://support.mozilla.org/kb/customize-firefox-controls-buttons-and-toolbars">{{ _('Toolbar') }}</a></h3>
            <p>
              {% trans %}
                Set up Firefox your way. Drag and drop features in and out
                of your toolbar for easy access.
              {% endtrans %}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="t-compare">
    <div class="mzp-l-content">
      <section data-scroll-tracking="2x Faster" class="mzp-c-card-feature mzp-l-card-feature-left-half mzp-t-firefox">
        <div class="mzp-c-card-feature-media-wrapper">
          <div class="mzp-c-card-feature-media">
            <video preload="none" controls playsinline poster="{{ static('img/firefox/home/quantum/quantum-vs-chrome-poster.png') }}" data-ga-label="Quantum vs Chrome Video">
              <source src="https://assets.mozilla.net/video/firefox-home/quantum-vs-chrome.webm" type="video/webm">
              <source src="https://assets.mozilla.net/video/firefox-home/quantum-vs-chrome.ogv" type="video/ogg; codecs='theora, vorbis'">
              <source src="https://assets.mozilla.net/video/firefox-home/quantum-vs-chrome.mp4" type="video/mp4">
              <a href="https://www.youtube.com/watch?v=YIywpvHewc0">
                <img src="{{ static('img/firefox/home/quantum/quantum-vs-chrome-poster.png') }}" alt="">
              </a>
            </video>
          </div>
        </div>
        <div class="mzp-c-card-feature-content">
          <div class="mzp-c-card-feature-content-container">
            {% if l10n_has_tag('update_faster_copy') %}
            <h2 class="mzp-c-card-feature-title">{{ _('Now 2x faster') }}</h2>
            <p class="mzp-c-card-feature-desc">
              {% trans url='https://blog.mozilla.org/firefox/de/firefox-quantum-superschnell-und-schont-den-speicher/' if LANG == 'de' else 'https://blog.mozilla.org/firefox/quantum-performance-test/' %}
                Crazy <a href="{{ url }}">powerful browser engine</a>? Check. Less time waiting around for pages to load?
                Also, check. Firefox Quantum is twice as fast as Firefox was before.
              {% endtrans %}
            </p>
            {% else %}
            <h2 class="mzp-c-card-feature-title">{{ _('2x Faster') }}</h2>
            <p class="mzp-c-card-feature-desc">
              {% trans url='https://blog.mozilla.org/firefox/de/firefox-quantum-superschnell-und-schont-den-speicher/' if LANG == 'de' else 'https://blog.mozilla.org/firefox/quantum-performance-test/' %}
                Crazy <a href="{{ url }}">powerful browser engine</a>? Check. Less time waiting around for pages to load?
                Also, check. Get the best Firefox yet.
              {% endtrans %}
            </p>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
    <div class="mzp-l-content">
      <div data-scroll-tracking="30% lighter than chrome">
        {% call feature_card(
          title= _('30% lighter than Chrome'),
          image_url='img/firefox/home/quantum/desktop-smooth.svg',
          aspect_ratio='mzp-has-aspect-1-1',
          class='mzp-l-card-feature-right-half mzp-t-firefox t-smooth',
          link_url='https://blog.mozilla.org/firefox/quantum-performance-test/',
          link_cta=ftl('ui-learn-more')
        ) %}
        <p>
          {% trans url='https://blog.mozilla.org/firefox/de/firefox-quantum-superschnell-und-schont-den-speicher/' if LANG == 'de' else 'https://blog.mozilla.org/firefox/quantum-performance-test/' %}
            <a href="{{ url }}">Less memory usage</a> means more space for your computer to keep running smoothly.
            Your other programs will thank you.
          {% endtrans %}
        </p>
        {% endcall %}
      </div>
    </div>
    <div class="mzp-l-content">
      <div data-scroll-tracking="Switch from Chrome to Firefox in just a few minutes">
        {% if l10n_has_tag('switch_cta_021218') %}
          {% set switch_title = _('Switch from Chrome to Firefox in just a few minutes') %}
          {% set switch_desc =_('Switching to Firefox is fast, easy and risk-free. Firefox imports your bookmarks, autofills, passwords and preferences from Chrome.') %}
        {% else %}
          {% set switch_title = _('Moving browsers? We got you.') %}
          {% set switch_desc =_('Instantly import your online info and favorites from any other browser.') %}
        {% endif %}
        {% call feature_card(
          title=switch_title,
          image_url='img/firefox/home/quantum/desktop-change.png',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-1-1',
          class='mzp-l-card-feature-left-half mzp-t-firefox t-switch',
          link_url=url('firefox.switch'),
          link_cta=ftl('ui-learn-more')
          ) %}
          <p>{{ switch_desc }}</p>
        {% endcall %}
      </div>
    </div>
  </section>
  <div data-scroll-tracking="Footer download CTA">
    {% call call_out_compact(
      title=_('Fast for good.'),
      class='mzp-t-firefox mzp-t-product-firefox mzp-t-dark t-you'
      ) %}
      <div class="download-firefox">
        {{ download_firefox(dom_id='footer-download', alt_copy=ftl('download-button-download-now'), download_location='other') }}
      </div>
    {% endcall %}
  </div>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-quantum') }}
{% endblock %}

{% block structured_data %}
  {
    "@context": "https://schema.org/",
    "@graph": [
      {% include 'includes/structured-data/software/firefox-browser-software.json' %}
      ,
      {% include 'includes/structured-data/software/firefox-monitor-software.json' %}
      ,
      {% include 'includes/structured-data/software/firefox-lockwise-software.json' %}
    ]
  }
{% endblock %}
