{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% add_lang_files "firefox/home-master" %}

{% extends "firefox/base/base-protocol.html" %}
{% from "macros.html" import fxa_cta_link with context %}
{% from "macros-protocol.html" import call_out, call_out_compact, feature_card with context %}

{# Bug 1438302 Avoid duplicate content for en-CA and en-GB pages. #}
{% if LANG == 'en-CA' %}
  {% set title_suffix = 'Firefox (CA)' %}
{% elif LANG == 'en-GB' %}
  {% set title_suffix = 'Firefox (UK)' %}
{% else %}
  {% set title_suffix = 'Firefox' %}
{% endif %}
{% block page_title %}{{ _('Firefox - Protect your life online with privacy-first products') }}{% endblock %}
{% block page_desc %}{{ _('Firefox is more than a browser. Learn more about Firefox products that handle your data with respect and are built for privacy anywhere you go online.') }}{% endblock %}
{% block page_image %}{{ static('img/firefox/template/page-image-master.jpg') }}{% endblock %}
{% block page_favicon %}{{ static('img/logos/master/favicon-64.png') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/logos/master/favicon-196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/logos/master/favicon-180.png') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-master') }}
{% endblock %}

{% block extrahead %}
  <!--[if IE 9]>
    {{ css_bundle('firefox-home-ie9') }}
  <![endif]-->
{% endblock %}

{% block body_id %}firefox-master{% endblock %}

{% set referrals = '?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=firefox-home' %}

{# Setting all the strings here make it easy to use this page as a base template if we need to hard code the translation in bedrock #}
{% set page_title = _('The browser is just the beginning') %}
{% set family_title = _('Meet our family of products') %}
{% set browsers_trackers = _('Get 2,000+ trackers off your trail — including Facebook') %}
{% set monitor_title = _('Know when hackers strike — and stay a step ahead') %}
{% set monitor_cta = _('Start getting breach reports') %}
{% set lockwise_title = _('Keep your passwords safe on every device') %}
{% set lockwise_cta = _('Learn more about Lockwise') %}
{# L10n: the strong tags around "respect" add a special underline, the underline breaks if it is on two words, please omit the strong tags if they need to be around multiple words in your language #}
{% set promise_title = _('Get the <strong>respect</strong> you deserve') %}
{% set promise_desc = _('Every single Firefox product honors our Personal Data Promise: <strong>Take less. Keep it safe. No secrets.</strong>')|safe %}
{% set send_title = _('Share large files without prying eyes') %}
{% set send_cta  = _('Start sending files safely') %}
{% set pocket_title = _('Trade clickbait for quality content') %}
{% set pocket_cta = _('Learn more about Pocket') %}
{% set footer_title = _('One login. All your devices. A family of products that respect your <strong>privacy</strong>.') %}
{% set join_firefox = _('Join Firefox') %}
{% set join_learn_more = _('Learn more about joining Firefox') %}
{% set learn_more  = _('Learn more') %}
{% set get_extension  = _('Get the browser extension') %}
{% set get_facebook_container  = _('Get the Facebook Container extension') %}
{% set get_browser = _('Download the browser') %}
{% set get_app = _('Download the app') %}
{% set get_desktop = _('Desktop') %}
{% set get_android = 'Android' %}
{% set get_ios = 'iOS' %}
{% set get_mac = 'Mac' %}
{% set get_amazon = 'Amazon' %}
{% set product_browsers = _('Browsers') %}
{% set product_monitor = 'Monitor' %}
{% set product_send = 'Send' %}
{% set product_lockwise = 'Lockwise' %}
{% set product_pocket = 'Pocket' %}


{% block content %}
<main role="main" class="firefox-home">

    <div class="c-lead">
      <div class="mzp-l-content">
        <h1 class="c-lead-title">{{ page_title }}</h1>
      </div>
    </div>

    <div class="c-showcase">
      <div class="mzp-l-content">
        <h2 class="c-showcase-title">{{ family_title }}</h2>
        <ul class="c-showcase-list">
          <li>
            <a class="mzp-c-cta-link" href="{{ url('firefox.new') }}" data-cta-type="link" data-cta-text="Browsers">
              <img alt="" src="{{ static('img/logos/firefox/quantum/logo-md.png') }}" height="40" width="40"><br>
              {{ product_browsers }}
            </a>
          </li>
          <li>
            <a class="mzp-c-cta-link" href="https://monitor.firefox.com{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Monitor">
              <img alt="" src="{{ static('protocol/img/logos/firefox/monitor/logo-md.png') }}" height="40" width="40"><br>
              {{ product_monitor }}
            </a>
          </li>
          <li>
            <a class="mzp-c-cta-link" href="https://send.firefox.com/{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Send">
              <img alt="" src="{{ static('protocol/img/logos/firefox/send/logo-md.png') }}" height="40" width="40"><br>
              {{ product_send }}
            </a>
          </li>
          <li>
              <a class="mzp-c-cta-link" href="{{ url('firefox.lockwise.lockwise') }}" rel="external noopener" data-cta-type="link" data-cta-text="Lockwise">
                <img alt="" src="{{ static('protocol/img/logos/firefox/lockwise/logo-md.png') }}" height="40" width="40"><br>
                {{ product_lockwise }}
              </a>
            </li>
          <li>
            <a class="mzp-c-cta-link" href="https://getpocket.com/firefox_learnmore/{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Pocket">
              <img alt="" src="{{ static('img/logos/pocket/logo.svg') }}" height="40" width="40"><br>
              {{ product_pocket }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mzp-l-content">
      {% call feature_card(
        title='Firefox Browser',
        heading_level=3,
        image_url='firefox/home/master/browser.png',
        include_highres_image=True,
        class='mzp-l-card-feature-left-half t-browsers',
        ga_title='Trackers',
        media_after=True
      ) %}
        <h4>{{ browsers_trackers }}</h4>
        <div class="mzp-c-menu-list mzp-t-cta mzp-t-download">
          <h5 class="mzp-c-menu-list-title">{{ get_browser }}</h5>
          <ul class="mzp-c-menu-list-list" id="menu-browsers">
            <!--[if IE]>
              <li class="mzp-c-menu-list-item"><a href="{{ url('firefox.new') }}">{{ get_desktop }}</a></li>
            <![endif]-->
            <!--[if !IE]><!-->
              <li class="mzp-c-menu-list-item"><a href="{{ url('firefox.download.thanks') }}" data-link-type="Desktop" data-download-os="Desktop" data-download-version="standard">{{ get_desktop }}</a></li>
            <!--<![endif]-->
            <li class="mzp-c-menu-list-item"><a href="{{ firefox_adjust_url('android', 'firefox_home') }}" rel="external noopener" data-cta-type="link" data-cta-text="Download Browser for Android"> {{ get_android }}</a></li>
            <li class="mzp-c-menu-list-item"><a href="{{ firefox_adjust_url('ios', 'firefox_home') }}" rel="external noopener" data-cta-type="link" data-cta-text="Download Browser for iOS">{{ get_ios }}</a></li>
          </ul>
        </div>
        <p class="js-fx-only"><a class="mzp-c-cta-link" href="https://addons.mozilla.org/firefox/addon/facebook-container/{{ referrals }}">{{ get_facebook_container }}</a></p>
      {% endcall %}
    </div>

    <div class="mzp-l-content">
        {% call feature_card(
          title='Firefox Monitor',
          heading_level=3,
          image_url='firefox/home/master/monitor.svg',
          class='mzp-l-card-feature-right-half t-monitor',
          link_url='https://monitor.firefox.com/' + referrals,
          link_cta=monitor_cta,
          ga_title='Monitor',
          media_after=True
        ) %}
        <h4>{{ monitor_title }}</h4>
        {% endcall %}
    </div>

    <div class="mzp-l-content">
      {% call feature_card(
        title='Firefox Lockwise',
        heading_level=3,
        image_url='firefox/home/master/lockwise.svg',
        class='mzp-l-card-feature-left-half t-lockwise',
        ga_title='Lockwise',
        media_after=True
      ) %}
      <h4>{{ lockwise_title }}</h4>
        <div class="mzp-c-menu-list mzp-t-cta mzp-t-download">
          <h5 class="mzp-c-menu-list-title">{{ get_app }}</h5>
          <ul class="mzp-c-menu-list-list" id="menu-lockwise">
            <li class="mzp-c-menu-list-item"><a href="{{ lockwise_adjust_url('android', 'firefox-home') }}" rel="external noopener" data-cta-type="link" data-cta-text="Download Lockwise for Android"> {{ get_android }}</a></li>
            <li class="mzp-c-menu-list-item"><a href="{{ lockwise_adjust_url('ios', 'firefox-home') }}" rel="external noopener" data-cta-type="link" data-cta-text="Download Lockwise for iOS">{{ get_ios }}</a></li>
          </ul>
        </div>
        <p><a class="mzp-c-cta-link" href="{{ url('firefox.lockwise.lockwise') }}" rel="external noopener" data-cta-type="link" data-cta-text="Lockwise Learn More">{{ lockwise_cta }}</a></p>
      {% endcall %}
    </div>

    <div class="t-promise mzp-t-dark">
      <div class="mzp-l-content">
          {% call feature_card(
            title=promise_title,
            heading_level=3,
            image_url='firefox/home/master/spacer.gif',
            class='mzp-l-card-feature-right-half',
            link_url=url('privacy.notices.firefox'),
            link_cta=learn_more,
            ga_title='Promise',
            media_after=True
          ) %}
            <p>{{ promise_desc }}</p>
          {% endcall %}
      </div>
    </div>

    <div class="mzp-l-content">
        {% call feature_card(
          title='Firefox Send',
          heading_level=3,
          image_url='firefox/home/master/send.svg',
          class='mzp-l-card-feature-right-half t-send',
          link_url='https://send.firefox.com/' + referrals,
          link_cta=send_cta,
          ga_title='Monitor',
          media_after=True
        ) %}
        <h4>{{ send_title }}</h4>
        {% endcall %}
    </div>

    <div class="mzp-l-content">
        {% call feature_card(
        title='Pocket',
        heading_level=3,
        image_url='firefox/home/master/pocket.png',
        include_highres_image=True,
        class='mzp-l-card-feature-left-half t-pocket',
        ga_title='Pocket',
        media_after=True
      ) %}
      <h4>{{ pocket_title }}</h4>
        <div class="mzp-c-menu-list mzp-t-cta mzp-t-download">
          <h5 class="mzp-c-menu-list-title">{{ get_app }}</h5>
          <ul class="mzp-c-menu-list-list" id="menu-pocket">
            <li class="mzp-c-menu-list-item"><a href="{{ pocket_adjust_url('android', 'firefox-home') }}" rel="external noopener" data-cta-type="link" data-cta-text="Download Pocket for Android"> {{ get_android }}</a></li>
            <li class="mzp-c-menu-list-item"><a href="{{ pocket_adjust_url('ios', 'firefox-home') }}" rel="external noopener" data-cta-type="link" data-cta-text="Download Pocket for iOS">{{ get_ios }}</a></li>
          </ul>
        </div>
        <p><a class="mzp-c-cta-link" href="https://getpocket.com/signup/{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Download for iOS">{{ pocket_cta }}</a></p>
      {% endcall %}
    </div>

    <div class="c-end mzp-t-dark">
      <div class="mzp-l-content">
        <div class="c-showcase t-small">
            <ul class="c-showcase-list">
              <li>
                <a class="mzp-c-cta-link" href="{{ url('firefox.new') }}" data-cta-type="link" data-cta-text="Browsers">
                  <img alt="" src="{{ static('img/logos/firefox/quantum/logo-md.png') }}" height="40" width="40"><br>
                  {{ product_browsers }}
                </a>
              </li>
              <li>
                <a class="mzp-c-cta-link" href="https://monitor.firefox.com{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Monitor">
                  <img alt="" src="{{ static('protocol/img/logos/firefox/monitor/logo-md.png') }}" height="40" width="40"><br>
                  {{ product_monitor }}
                </a>
              </li>
              <li>
                <a class="mzp-c-cta-link" href="https://send.firefox.com/{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Send">
                  <img alt="" src="{{ static('protocol/img/logos/firefox/send/logo-md.png') }}" height="40" width="40"><br>
                  {{ product_send }}
                </a>
              </li>
              <li>
                <a class="mzp-c-cta-link" href="{{ url('firefox.lockwise.lockwise') }}{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Lockwise">
                  <img alt="" src="{{ static('protocol/img/logos/firefox/lockwise/logo-md.png') }}" height="40" width="40"><br>
                  {{ product_lockwise }}
                </a>
              </li>
              <li>
                <a class="mzp-c-cta-link" href="https://getpocket.com{{ referrals }}" rel="external noopener" data-cta-type="link" data-cta-text="Pocket">
                  <img alt="" src="{{ static('img/logos/pocket/logo.svg') }}" height="40" width="40"><br>
                  {{ product_pocket }}
                </a>
              </li>
            </ul>
        </div>
        <h2 class="c-end-title">{{ footer_title }}</h2>
        <div class="mzp-c-button-download-container">
          {{ fxa_cta_link(entrypoint='mozilla.org-firefox_home', action='signup', button_text=join_firefox, button_class='mzp-c-button mzp-t-product mzp-t-small', utm_campaign='firefox-home', utm_content='secondary-join-firefox') }}
          <small class="mzp-c-button-download-privacy-link">
            <a href="{{ url('firefox.accounts') }}">{{ join_learn_more }}</a>
          </small>
        </div>

      </div>
    </div>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-master') }}
{% endblock %}
