{% add_lang_files "firefox/desktop/index" %}

<dl id="speed-graph">
  <dt id="speed-fx"><span class="browser"><strong>Firefox</strong></span></dt>
  <dd><div id="speed-fx-rank"><span class="score">392</span></div></dd>
  <dt id="speed-opera-next"><span class="browser">Opera Next</span></dt>
  <dd><div id="speed-opera-next-rank"><span class="score">329</span></div></dd>
  <dt id="speed-chrome"><span class="browser">Chrome</span></dt>
  <dd><div id="speed-chrome-rank"><span class="score">326</span></div></dd>
  <dt id="speed-ie10"><span class="browser">Internet Explorer 10</span></dt>
  <dd><div id="speed-ie10-rank"><span class="score">182</span></div></dd>
  <dt id="speed-opera"><span class="browser">Opera</span></dt>
  <dd><div id="speed-opera-rank"><span class="score">147</span></div></dd>
</dl>

<small id="speed-citation">
{% if request.locale == 'fr' %}

  {% trans url1='http://www.tomshardware.fr/articles/test-navigateurs-chrome-firefox-opera,2-64.html' %}
    * Based on <a href="{{ url1 }}">Tom’s Hardware Web Browser Grand Prix XVI</a> results.
  {% endtrans %}

{% elif request.locale == 'it' %}

  {% trans url1='http://www.tomshw.it/cont/articolo/chrome-27-firefox-22-ie10-e-opera-next-lotta-per-la-supremazia/47278/1.html' %}
    * Based on <a href="{{ url1 }}">Tom’s Hardware Web Browser Grand Prix XVI</a> results.
  {% endtrans %}

{% elif request.locale == 'ru' %}

  {% trans url1='http://www.thg.ru/software/luchshiy_brauzer_dlya_windows/' %}
    * Based on <a href="{{ url1 }}">Tom’s Hardware Web Browser Grand Prix XVI</a> results.
  {% endtrans %}

{% else %}

  {% trans url1='http://www.tomshardware.com/reviews/chrome-27-firefox-21-opera-next,3534.html' %}
    * Based on <a href="{{ url1 }}">Tom’s Hardware Web Browser Grand Prix XVI</a> results.
  {% endtrans %}
{% endif %}
</small>
