{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/base-resp.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{% endblock %}

{% block body_id %}firefox-desktop{% endblock %}
{% block body_class %}firefox-desktop{% endblock %}

{% block extrahead %}
  <script src="{{ static('js/libs/modernizr.custom.cssanimations.js') }}"></script>
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}{% endblock %}

{% block email_form %}
  <div id="subscribe-download-wrapper" class="ga-section" data-ga-label="Keep up with all things Firefox.">
    <div class="container">
      <div id="subscribe-wrapper">
        {# L10n: Line break for visual formatting. #}
        {{ email_newsletter_form(title=_('Keep up with<br> all things Firefox.'), button_class='button-light', spinner_color='#fff') }}
      </div>
      <div id="download-wrapper">
        {{ download_firefox() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% javascript 'firefox_desktop_common' %}
{% endblock %}
