{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}Download Firefox Aurora or Beta &amp; Help Determine the Next Firefox{% endblock %}
{% block body_id %}channel{% endblock %}

{% block site_css %}
  {{ css('firefox_channel') }}
{% endblock %}

{% block content %}

<div id="main-content" class="pager pager-with-tabs pager-cleartype-fix">

  <ul id="toggler-container" class="pager-tabs">
    <li id="beta-link"><a href="{{ php_url('/firefox/beta/') }}"><img src="{{ media('/img/firefox/channel/toggler-beta.png') }}" id="toggler-logo-beta" /></a></li>
    <li id="firefox-link"><a href="{{ php_url('/firefox/') }}"><img src="{{ media('/img/firefox/channel/toggler-firefox.png') }}" id="toggler-logo-firefox" /></a></li>
    <li id="aurora-link"><a href="{{ php_url('/firefox/aurora/') }}"><img src="{{ media('/img/firefox/channel/toggler-aurora.png') }}" id="toggler-logo-aurora" /></a></li>
  </ul>

  <a href="#" id="carousel-left"></a>
  <a href="#" id="carousel-right"></a>

  <div class="pager-content">

    <div id="beta" class="pager-page">
      <h2 class="channel-title channel-title-beta"><img src="{{ media('/img/firefox/channel/title-beta.png') }}" alt="Firefox Beta" /></h2>
      <h3>The latest features in a more stable environment</h3>
      <div class="download-box" id="beta-desktop">
        {{ download_button('beta-download', 'channel', build='beta') }}
      </div>
      <div class="download-box mobile" id="beta-mobile">
        {{ mobile_download_button('beta-download-mobile', 'channel', build='beta') }}
      </div>
      <p class="more"><a href="{{ php_url('/firefox/beta/') }}">Learn more about Firefox Beta<span> »</span></a></p>
    </div>

    <div id="firefox" class="pager-page">
      <h2 class="channel-title channel-title-firefox"><img src="{{ media('/img/firefox/channel/title-firefox.png') }}" alt="Firefox" /></h2>
      <h3>Tried, tested and used by millions around the world</h3>
      <div class="download-box" id="firefox-desktop">
        {{ download_button('primary-download', 'channel') }}
      </div>
      <div class="download-box mobile" id="firefox-mobile">
        {{ mobile_download_button('primary-download-mobile', 'channel') }}
      </div>
      <p class="more"><a href="{{ php_url('/firefox/') }}">Learn more about Firefox<span> »</span></a></p>
    </div>

    <div id="aurora" class="pager-page">
      <h2 class="channel-title channel-title-aurora"><img src="{{ media('/img/firefox/channel/title-aurora.png') }}" alt="Firefox Aurora" /></h2>
      <h3>The newest innovations in an experimental environment</h3>
      <div class="download-box" id="aurora-desktop">
        {{ download_button('aurora-download', 'channel', build='aurora') }}
      </div>
      <div class="download-box mobile" id="aurora-mobile">
        {{ mobile_download_button('aurora-download-mobile', 'channel', build='aurora') }}
      </div>
      <p class="more"><a href="{{ php_url('//mobile/aurora/') }}">Learn more about Firefox Aurora<span> »</span></a></p>
    </div>

  </div>

</div><!-- end #main-content div -->

{% endblock %}

{% block js %}
{{ js('firefox_channel') }}
{% endblock %}

{% block email_form %}{% endblock %}
