{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}Firefox Features{% endblock %}
{% block body_id %}firefox-features{% endblock %}

{% block site_css %}
  {{ css('firefox_features') }}
{% endblock %}

{% block js %}
  {{ js('firefox_features') }}
{% endblock %}

{% block content %}


<div id="main-feature">
  <div class="row">
  <hgroup class="stacked">
    <h1 class="large">Firefox Features</h1>
    <h4>Bringing together all kinds of awesomeness to make browsing better for you.</h4>
  </hgroup>

  {{ download_button('download', 'small') }}
  </div>
</div>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="#madeeasy">Browsing <span>Made Easy</span></a></li>
    <li><a href="#highperformance">High <span>Performance</span></a></li>
    <li><a href="#advancedsecurity">Advanced <span>Security</span></a></li>
    <li><a href="#powerfulpersonalization">Powerful <span>Personalization</span></a></li>
    <li><a href="#cuttingedge">The Cutting <span>Edge</span></a></li>
    <li><a href="#universalaccess">Universal <span>Access</span></a></li>
  </ul>
</nav>

<section class="billboard" id="madeeasy">
  <div class="features-container">
    <a href="#main-feature" class="features-top-link">Return to top</a>
    <h3>Browsing Made <span>Easy</span></h3>

    <div id="awesomebar" class="feature">
      <h4>Awesome Bar</h4>
      {{ platform_img('img/firefox/features/screen-awesomebar.png', alt='Awesome Bar screenshot') }}
      <p>Get to your favorite sites quickly – even if you don’t remember the URLs. Type your term into the location bar (aka the Awesome Bar) and the autocomplete function will include possible matches from your browsing history, bookmarked sites and open tabs.</p>
      <p><a href="http://support.mozilla.org/kb/Location+bar+autocomplete">The Awesome Bar</a> learns as you use it—over time, it adapts to your preferences and offers better-fitting matches. We’ve tweaked it to give you greater control over the results (including privacy settings) and increased performance so you find what you need even faster.</p>
    </div>

    <hr />

    <div id="improvedinterface" class="feature">
      <h4>Improved Interface</h4>
      <p>We’re always looking for ways to make your browsing easier and more efficient.<br />Read on for our latest improvements (or <a href="{{ php_url('/firefox/video/?video=fx4-ui') }}">watch the video</a>):</p>

      <div class="column1">
        <div class="sub-feature">
          <h5>Tabs on Top</h5>
          <p>Tabs are above the Awesome Bar to make it easier to focus on the content of the sites you visit.</p>
          {{ platform_img('img/firefox/features/screen-tabsontop.png', alt='Improved Interface screenshot') }}
        </div>
      </div>

      <div class="column2">
        <div class="sub-feature">
          <h5>Firefox Button (Windows and Linux)</h5>
          <p>All your menu items are now found in a single button for easy access.</p>
          {{ platform_img('img/firefox/features/screen-firefoxbutton.png', alt='Firefox Button screenshot') }}
        </div>
      </div>

      <div class="column3">
        <div class="sub-feature">
          <h5>Bookmark Button</h5>
          <p>Manage your bookmarks in a single button. Find your favorite links without getting bogged down!</p>
          {{ platform_img('img/firefox/features/screen-bookmarks.png', alt='Bookmarks Button screenshot') }}
        </div>
      </div>

      <div class="column1">
        <div class="sub-feature">
          <h5>Simplified Reload/Stop Button</h5>
          <p>Your Awesome Bar now features one easy button to stop loading pages or reload pages.</p>
          {{ platform_img('img/firefox/features/screen-reloadstop.png', alt='Reload/Stop Button screenshot') }}
        </div>
      </div>

      <div class="column2">
        <div class="sub-feature">
          <h5>Home Button</h5>
          <p>The Home button has been moved to the right side of the search-field.</p>
          {{ platform_img('img/firefox/features/screen-home.png', alt='Home Button screenshot') }}
        </div>
      </div>
    </div>

    <hr />

    <div id="tabs" class="feature">
      <h4>Tabs</h4>
      <p>Browse multiple sites at once, simply and easily. Each new site appears as a new tab<br />(not a new window) and can be accessed in one click.</p>

      <div class="column1">
        <div class="sub-feature">
          <h5>App Tabs</h5>
          <p>Take sites you always keep open—like Web mail—off your tab bar and give them a permanent home in your browser. <a href="http://support.mozilla.org/kb/what-are-app-tabs">Learn how.</a></p>
          {{ platform_img('img/firefox/features/screen-apptab.png', alt='App Tabs screenshot') }}
        </div>

        <div class="feature">
          <h5>Reopen Closed Tabs and Windows</h5>
          <p>If you accidentally close a tab or window, you can reopen it in one click. Just view Recently Closed Tabs or Recently Closed Windows in the History menu and select the tab or window you’d like to reopen.</p>
        </div>
      </div>

      <div class="column2">
        <div class="sub-feature">
          <h5>Switch-to-Tab</h5>
          <p>As you’re opening a new tab or typing in the Awesome Bar, Firefox will check to see if you already have that site open. If you do, you’ll be directed to the existing tab so you don’t open a duplicate.</p>
          {{ platform_img('img/firefox/features/screen-switchtotab.png', alt='Switch-to-Tab screenshot') }}
        </div>

        <div class="feature">
          <h5>Smooth Scrolling</h5>
          <p>Like to have all 20 of your favorite pages open at once? An elegant new feature lets you scroll through tabs easily to see them all and access the one you want quickly.</p>
        </div>
      </div>

      <div class="column3">
        <div class="sub-feature">
          <h5>New Tab</h5>
          <p>Firefox helps you get to your next task faster than ever by displaying a set of thumbnails of your most recently and frequently visited sites every time you open a new tab. You can also customize this page by adding, removing or reorganizing sites to get to where you want to go in one click.</p>
          {{ platform_img('img/firefox/features/screen-newtab.jpg', alt='New Tab screenshot') }}

        </div>
      </div>
    </div>

    <hr />

    <div id="sync" class="column-span feature">
          {{ platform_img('img/firefox/features/screen-sync.png', alt='Sync screenshot') }}
      <h4>Stay in Sync</h4>
      <p>Sync seamlessly connects your desktop and mobile Firefoxes, so you can access your browsing history, passwords, bookmarks and even open tabs no matter which device you use. Access years of desktop browsing the first day you fire up your mobile, and use saved passwords from your desktop to fill out forms on your phone.</p>
      <p>Now you can surf the Web on your desktop, get up in the middle of browsing and have your open tabs ready and waiting on your mobile, just as you left them. Your browsing will never be the same! <a href="{{ php_url('/mobile/sync/') }}">Learn more about Sync</a> or <a href="{{ php_url('/mobile/') }}">get Firefox on your phone</a>.</p>
    </div>

    <div class="column1">
      <div class="feature">
        <h4>Password Manager </h4>
        <p>Tired of trying to remember or retype your passwords every time you visit a favorite site? Firefox is here to help! You’ll be prompted with a non-intrusive option to remember passwords when you first log in—after that, Firefox will take care of the rest.</p>
      </div>
    </div>

    <div class="column2">
      <div class="feature">
        <h4>Form Complete</h4>
        <p>When you’re filling out an online form like your shipping address, Firefox will suggest information for each field based on your most common answers for similar fields in other forms. Tired of typing out the same answers over and over? You’ll be zipping through the forms in no time!</p>
      </div>
    </div>

    <div class="column3">
      <div class="feature">
        <h4>Pop-Up Blocker</h4>
        <p>Banish pop-ups (and pop-under windows) from your surfing experience once and for all. Or, find a happy medium: choose to view blocked pop-ups or create an “allow” list of sites whose pop-ups you’re okay with seeing.</p>
      </div>
    </div>

    <hr />

    <div id="search" class="feature">
      <h4>Easy Search</h4>
      <p>The Web is a big place, but Firefox is ready to help you find whatever you’re looking for.</p>

      <div class="column1">
        <div class="sub-feature">
          <h5>Integrated Web Search</h5>
          <p>Searching the Web is a breeze with the search box, located just to the right of your location bar. Select the service of your choice and enter your search terms into the box. The box width is even adjustable if you need more space. <a href="http://support.mozilla.org/kb/Search+bar">Learn more.</a></p>
        </div>
      </div>

      <div class="column2">
        <div class="sub-feature">
          <h5>Search Suggestions</h5>
          <p>Start typing in the search bar and it will prompt you with a drop down of filled-in suggestions. You can even use the search bar as a calculator, converter and more. <a href="http://support.mozilla.org/kb/Search+suggestions">Details »</a></p>
        </div>
      </div>

      <div class="column3">
        <div class="sub-feature">
          <h5>Hundreds of Search Engines</h5>
          <p>Choose from the preset dropdown list of search options or select “manage search engines” to browse for many more search-related add-ons. <a href="https://addons.mozilla.org/en-US/firefox/browse/type:4">Check out your choices.</a></p>
        </div>
      </div>

      <div class="column1">
          {{ platform_img('img/firefox/features/screen-search.png', alt='Search screenshot') }}
      </div>

      <div class="column2">
        <div class="sub-feature">
          <h5>Smart Keywords</h5>
          <p>Search the Web in record time with smart keywords. With a few clicks you can assign keywords to search engines, and then simply enter your key and search words in the location bar. Assigning “books” to Amazon.com means you can type in a search like “books about home building” and zip right there, with no pausing on the Amazon home page. <a href="http://support.mozilla.org/kb/Smart+keywords">Learn how.</a></p>
        </div>
      </div>

      <div class="column3">
        <div class="sub-feature">
          <h5>Location-Aware Browsing</h5>
          <p>Need directions, or help finding a restaurant? Firefox can tell sites where you’re located so you can get the most relevant and useful information. The browser won’t share your location without your permission, either – your privacy is the top priority.</p>
        </div>
      </div>
    </div>

    <hr />

    <div class="column1-2wide">
      <div id="sessionrestore" class="feature">
        <h4>Session Restore</h4>
        <p>Session Restore instantly brings back your windows and tabs, restoring text you entered and any in-progress downloads. You can restart the browser without losing your place after you install an add-on or software update. And, if Firefox or your computer unexpectedly closes, you don’t have to spend time recovering data or retracing your steps through the Web. If you’re in the middle of typing an email, you’ll pick up where you left off, even down to the last word you typed. <a href="http://support.mozilla.org/kb/Session+Restore">Details »</a></p>
      </div>
    </div>

    <div class="column2">
      <div class="feature">
        <h4>Spell Checking</h4>
        <p>A built-in spell checker works directly in Web pages, like blog posts and email. Save yourself a step and stop worrying about typos.</p>
      </div>
    </div>

    <hr />

    <div id="getorganized" class="feature">
      <h4>Get Organized</h4>
      <p>There’s a lot of great stuff on the Web, Firefox is full of ways to help you keep track.</p>

      <div class="oneclickbookmarking sub-feature">
        {{ platform_img('img/firefox/features/screen-1clickbookmarks.png', alt='One-Click Bookmarking screenshot') }}
        <h5>One-Click Bookmarking</h5>
        <p>Manage your bookmarks a lot or a little. One click on the star icon at the end of the location bar bookmarks a site. Two clicks and you can choose where to save it and whether to tag it. File bookmarked sites in easy-to-access folders and organize according to theme (like “job search” or “favorite shopping”). Find your bookmarked sites in a flash by entering the tag, page or bookmark name into the location bar. The more you use your tags and bookmark names in the location bar, the more the system will adapt to your preferences. <a href="http://support.mozilla.org/kb/how-do-i-use-bookmarks">Get all of the details on bookmarks.</a></p>
      </div>

      <div class="column1-2wide">
        <div class="sub-feature">
          <h5>Tags</h5>
          <p>Label a site with names or categories that are meaningful to you. For example, you can label both <a href="http://www.bbc.co.uk">www.bbc.co.uk</a> and <a href="http://www.nytimes.com">www.nytimes.com</a> with the “news” tag. When you enter “news” into the location bar, both sites will be shown as results. A single site can have multiple tags, and there’s no limit to the number of tags you can create. You may not remember the exact name of a site, but with a tag, you’ll be able to find it easily.</p>
        </div>
      </div>

      <div class="column2">
        <div class="sub-feature">
          <h5>Library</h5>
          <p>Make your browser as efficient as you can imagine. Your browsing history and your bookmarks are archived in the Library, where they can be easily searched and organized. As your bookmark list and history grow, you can save your frequent searches in automatically updated smart folders.</p>
        </div>
      </div>
    </div>

    <hr />

    <div class="column1">
      <div id="searchandfind" class="feature">
        <h4>Search and Find</h4>
        <p>The find feature appears with a simple keystroke. Search for a word or phrase on an open Web page. Highlight text before using the feature and the finder opens pre-filled with your selection. See all instances of your search at once, or scroll backwards and forwards through any appearances of the word on the page.</p>
      </div>

      <div class="feature">
        <h4>RSS Feed Reader</h4>
        <p>Spending hours combing the Web for the latest news and updates? Instead, add an RSS feed icon to your toolbar and create feeds using an online web service, a client-side feed reader or by creating a Firefox Live Bookmark.</p>
      </div>
    </div>

    <div class="column2">
      <div class="feature">
        <h4>Download Manager</h4>
        <p>Download files seamlessly and securely! A pause and resume feature means you can stop and start anytime. So, if you’re halfway through downloading a big file and it’s time to catch the bus, just pause and pick up where you left off later. The resume function also works if your system crashes or is forced to restart. The manager shows your download progress and even lets you search your files by name or the Web address where the download came from.</p>
      </div>

      <div class="feature">
        <h4>Offline Browsing</h4>
        <p>Take your computer offline and still have your information at your fingertips. Certain sites may allow applications—like your Web-based email—to stay with you at all times.</p>
      </div>

      <div class="feature">
        <h4>Full Zoom</h4>
        <p>Want to see captions and pictures in a larger size? An elegant new zoom feature lets you swoop in and see the details on web pages, zeroing in on what matters. The pages will scale equally, with all the elements of layout changing at the same level.</p>
      </div>
    </div>

    <div class="column3">
      <div class="feature">
        <h4>Naturalized Look & Feel</h4>
        <p>The Firefox platform looks and feels like home. Think of it as a Firefox who’s really good at making friends. Whether you use Windows 7, Mac or Linux, the browser seamlessly integrates into your computer’s environment. A native look makes for a flawless interface that never gives you pause.</p>
      </div>

      <div class="feature">
        <h4>Firefox Support</h4>
        <p>Need help? Our <a href="http://support.mozilla.org/">support site</a> has a searchable knowledge base of articles, plus forums and tutorials full of solutions and tips for a better experience.</p>
      </div>
    </div>

  </div>
</section>

<section class="billboard" id="highperformance">
  <div class="features-container">
    <a href="#main-feature" class="features-top-link">Return to top</a>
    <h3>High <span>Performance</span></h3>

    <div id="video-wrapper">
    <div id="video-player-runfield" class="mozilla-video-control mozilla-video-shadow">
        <video
            width="640"
            height="360"
            poster="{{ media('img/firefox/video/poster-runfield.jpg') }}"
            controls="controls">

            <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/screencast.webm" type="video/webm" />
            <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/screencast.theora.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;" />
            <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/screencast.mp4" type="video/mp4" />

            <object type="application/x-shockwave-flash"
                style="width: 640px; height: 388px;"
                data="/includes/flash/playerWithControls.swf?flv=serv/mozhacks/demos/screencasts/runfield/screencast.mp4&amp;autoplay=false&amp;msg=Play%20Video">

                <param name="movie" value="/includes/flash/playerWithControls.swf?flv=serv/mozhacks/demos/screencasts/runfield/screencast.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
                <param name="wmode" value="transparent" />

                <div class="video-player-no-flash">
                This video requires a browser with support for open video:
                <ul>
                <li><a href="http://www.mozilla.org/firefox/">Firefox</a> 3.5 or greater</li>
                <li><a href="http://www.apple.com/safari/">Safari</a> 3.1 or greater</li>
                </ul>

                or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.
                Alternatively, you may use the video download links to the right.
                </div>

            </object>

        </video>
    </div>
    <p>Runfield is a Web-based game built with JavaScript and Canvas. <a href="https://developer.mozilla.org/en-US/demosdetail/runfield">Try it for yourself »</a></p>
    </div>
    <div class="column1">
      <div class="feature">
        <h4>Super Speed</h4>
        <p>With faster start-up times, rapid graphics rendering and improved page load speed, the latest version of Firefox is full of major performance improvements you’ll notice instantly. From integrating Compartments and more efficiently managing JavaScript objects to supporting ECMAScript5 and improvements to the JägerMonkey JavaScript engine, we’ve been working hard to make this the most powerful Firefox ever.</p>
      </div>
      <div class="feature">
        <h4>Hardware Acceleration</h4>
        <p>Experience super-fast graphics acceleration of video and Web content with a new layers-based graphics system that takes advantage of Direct2D and Direct3D on Windows.</p>
      </div>
      <div class="feature">
        <h4>Crash Protection</h4>
        <p>Firefox provides uninterrupted browsing when there is a crash in the plugins for Adobe Flash, Apple QuickTime or Microsoft Silverlight. If  one of these commonly-used plugins crashes or freezes, it won’t affect the rest of the browser. You can simply reload the page to restart the plugin and try again. <a href="{{ php_url('/plugincheck/#what-plugin') }}">Learn more about plugins.</a></p>
        <p><a href="{{ url('firefox.performance') }}">Learn more about Firefox’s performance.</a></p>
      </div>
    </div>

    <div class="column2">
      <div class="feature">
        <h4>Real World Performance</h4>
        <p>Having a super-fast JavaScript engine is definitely important, but since those changes are often measured in milliseconds, sometimes what matters even more is the way the browser feels when you’re actually using it. That’s why we’re constantly optimizing Firefox to be great  for the way you use the Web — things like making new tabs open up more quickly, or having the Awesome Bar provide results even faster. In the end, it’s about getting you where you need to go as quickly and easily as possible.</p>
      </div>

    </div>

    <div class="column3">
      <div class="feature">
        <h4>3D on the Web</h4>
        <p>WebGL brings 3D graphics to Firefox, opening the door for developers to create vivid games and new kinds of visualizations and experiences on the Web.</p>
                <div id="video-player-brand" class="mozilla-video-control section-video">
                    <video
                        id="video-brand"
                        width="290"
                        height="163"
                        controls="controls"
                        poster="{{ media('img/firefox/video/poster-3d.jpg') }}">

                        <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/remixingreality/screencast.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;" />
                        <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/remixingreality/screencast.mp4" type="video/mp4" />

                        <object type="application/x-shockwave-flash"
                            style="width: 290px; height: 191px;"
                            data="/includes/flash/playerWithControls.swf?flv=serv/mozhacks/demos/screencasts/remixingreality/screencast.mp4&amp;autoplay=false&amp;msg=Play%20Video">

                            <param name="movie" value="/includes/flash/playerWithControls.swf?flv=serv/mozhacks/demos/screencasts/remixingreality/screencast.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
                            <param name="wmode" value="transparent" />

                            <div class="video-player-no-flash">
                            This video requires a browser with support for open video:
                            <ul>
                            <li><a href="http://www.mozilla.org/firefox/">Firefox</a> 3.5 or greater</li>
                            <li><a href="http://www.apple.com/safari/">Safari</a> 3.1 or greater</li>
                            </ul>

                            or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.
                            Alternatively, you may use the video download links to the right.
                            </div>

                        </object>

                    </video>
                </div>
      </div>
    </div>

  </div>
</section>

<section class="billboard" id="advancedsecurity">
  <div class="features-container">
    <a href="#main-feature" class="features-top-link">Return to top</a>
    <h3>Advanced <span>Security</span></h3>

    <div class="column1">
      <div class="feature">
        <h4>Instant Web Site ID</h4>
        <p>Want to be extra sure about a site’s legitimacy before you make a purchase? Click on its favicon for an instant identity overview. Another click digs deeper: how many times have you visited? Are your passwords saved? Check up on suspicious sites, avoid Web forgeries and make sure a site is what it claims to be. <a href="http://support.mozilla.org/kb/Site+Identity+Button">Learn more.</a></p>
        {{ platform_img('img/firefox/features/screen-websiteid.png', alt='Instant Web Site ID screenshot') }}

      </div>

      <div class="feature">
        <h4>Content Security Policy</h4>
        <p>The Content Security Policy in Firefox is designed to shut down cross-site scripting attacks by providing a mechanism for sites to explicitly tell the browser which content is legitimate. The browser can then disregard any content that has not been blessed by the site, keeping you protected in the process.</p>
      </div>

      <div class="feature">
        <h4>Customized Security Settings</h4>
        <p>Control the level of scrutiny you’d like Firefox to give a site. You can even enter exceptions—sites that don’t need the third degree. Customize settings for passwords, cookies, loading images, and installing add-ons for a fully empowered Web experience. <a href="http://support.mozilla.org/kb/Options+window+-+Security+panel">Learn more.</a></p>
      </div>

      <div class="feature">
        <h4>Parental Controls</h4>
        <p>Enforce parental control settings you’ve entered on Windows 7 to stop unwanted downloads and more.</p>
      </div>

      <div class="feature">
        <h4>Secure Updates</h4>
        <p>Firefox looks for a secure connection before installing or updating add-ons, third-party software, and <a href="http://www.getpersonas.com/en-US/">Personas</a>.</p>
      </div>

    </div>

    <div class="column2">
      <div class="feature">
        <h4>Private Browsing</h4>
        <p>Sometimes it’s nice to go undercover: turn this feature on and protect your browsing history. You can slip in and out of private browsing mode quickly, so it’s easy to go back to what you were doing before as if nothing ever happened. This feature is great if you’re doing your online banking on a shared computer or checking email from an Internet café. <a href="http://support.mozilla.org/kb/Private+Browsing">Learn more.</a></p>
        {{ platform_img('img/firefox/features/screen-private.png', alt='Private Browsing screenshot') }}
      </div>

      <div class="feature">
        <h4>Anti-Virus Integration</h4>
        <p>Firefox integrates elegantly with your Windows anti-virus software. When you download a file, your computer’s anti-virus program automatically checks it to protect you against viruses and other malware, which could otherwise attack your computer.</p>
      </div>

      <div class="feature">
        <h4>Anti-Phishing</h4>
        <p>Shop and do business safely on the Internet. Firefox gets a fresh update of forgery sites a whopping 48 times a day, so if you try to visit a fraudulent site that’s pretending to be someone you trust (like your bank), a warning message will stop you before any harm is done.</p>
      </div>

      <div class="feature">
        <h4>Clear Recent History</h4>
        <p>Clear all your private data or just your activity over the past few hours with a few quick clicks. You have full control over what to delete, and then your info is gone for good—on your own computer or the one at your local library. It’s that easy. <a href="http://support.mozilla.org/kb/Clear+Recent+History">Learn how it works.</a></p>
      </div>

      <div class="feature">
        <h4>Anti-Malware</h4>
        <p>Firefox protects you from viruses, worms, trojan horses, and spyware delivered over the Web. If you accidentally access an attack site, it will warn you away from the site and tell you why it isn’t safe to use.</p>
      </div>
    </div>

    <div class="column3">
      <div class="feature">
        <h4>Do Not Track</h4>
        <p>Many sites track your online behavior and sell that data to advertisers. If that makes you uncomfortable, Firefox lets you tell sites you want to opt out of behavioral tracking and keep your browsing habits private. <a href="http://support.mozilla.org/kb/how-do-i-stop-websites-tracking-me">Learn how to opt-out of tracking.</a></p>
      </div>

      <div class="feature">
        <h4>Forget This Site</h4>
        <p>Having second thoughts about having visited a certain site? Remove every trace of ever having been there! <a href="http://support.mozilla.org/kb/Clear+Recent+History#w_how-do-i-remove-a-single-website-from-my-history">Details »</a></p>
      </div>

      <div class="feature">
        <h4>Securing Website Connections</h4>
        <p>Firefox keeps attackers from intercepting your sensitive data by automatically establishing secure connections to websites that offer secure https servers.</p>
        {{ platform_img('img/firefox/features/screen-updates.png', alt='Automated Updates Bookmarking screenshot') }}
      </div>

      <div class="feature">
        <h4>Automated Updates</h4>
        <p>Firefox will automatically let you know when there’s a new version available, so you can make sure your browser is always up-to-date with the latest and greatest security fixes.</p>
        <p><a href="{{ url('firefox.security') }}">Learn more about Firefox’s security features.</a></p>
      </div>

      <div class="feature">
        <h4>Outdated Plugin Detection</h4>
        <p>Plugins are small bits of third-party software built by companies like Adobe Systems or Apple to power videos, animation and games. They can be major security risks when they get out of date, so we’ve built an easy tool to help you stay current. <a href="{{ php_url('/plugincheck/') }}">Check your plugins.</a></p>
      </div>
    </div>
  </div>
</section>

<section class="billboard" id="powerfulpersonalization">
  <div class="features-container">
    <a href="#main-feature" class="features-top-link">Return to top</a>
    <h3>Powerful <span>Personalization</span></h3>

    <div class="addons-manager feature">
      {{ platform_img('img/firefox/features/screen-addons.png', alt='Add-ons Manager screenshot') }}

      <h4>Add-ons Manager</h4>
      <p>The Add-ons Manager has been redesigned to let you discover and install add-ons without ever leaving Firefox. Browse ratings, recommendations, descriptions and pictures of the add-ons in action to help you make your selection. Your Add-ons Manager even lets you view, manage and disable third-party plugins in a few easy clicks, checking and auto-updating any of your installed add-ons  every time you open the Manager pane. <a href="http://support.mozilla.org/kb/Customizing+Firefox+with+add-ons">Learn how to customize Firefox with add-ons.</a></p>
    </div>

    <div class="column1">
      <div class="feature">
        <h4>Dress Up Your Firefox with Personas</h4>
        <p>Change the look of your Firefox to practically anything with Personas: thousands of easy-to-install themes created by users from around the world (or that you make yourself!). With a single click, you can dress your browser up in simple designs, colorful patterns, and content from partners like Harry Potter and Bob Marley.</p>
        {{ platform_img('img/firefox/features/screen-personas.png', alt='Personas screenshot') }}
      </div>
    </div>

    <div class="column2">
      <div class="feature">
        <h4>Customizable Interface</h4>
        <p>Everyone likes to browse their own way, so we’ve made it easy to adjust the Firefox interface to be exactly the way you like it: re-arrange, organize, add or remove buttons or fields to change your browsing experience however you want. Just right click on the navigation toolbar and select the Customize option to get started.</p>
        <p><a href="{{ url('firefox.customize') }}">Learn more about Firefox’s personalization features.</a></p>
      </div>

      <div class="feature">
        <h4>100,000s of Ways to Customize</h4>
        <p>The sky’s the limit with a growing library of thousands of <a href="https://addons.mozilla.org/en-US/firefox/">Firefox add-ons</a>, little extras you choose to download and install for a browser that works your way. Manage online auctions, upload digital photos, see the weather forecast in a glance and listen to music all from the convenience of your browser. If you’re not sure where to begin, <a href="https://addons.mozilla.org/en-US/firefox/extensions/?sort=users">check out our most popular add-ons</a>.</p>
      </div>
    </div>

    <div class="column3">
      <div class="feature">
        <h4>Beyond Add-ons</h4>
        <p>Add-ons are the cornerstone of customization, but adapting Firefox to suit your style doesn’t stop there. You can add new search engines, change toolbar preferences, display different sizes, shapes and styles for your browser’s navigation buttons and more. With additional preferences, you can specify a Web mail client (such as Gmail) to open up when you click on an address from a Web page or set up a news reader application for the blogs you encounter.</p>
      </div>
    </div>
  </div>
</section>

<section class="billboard" id="cuttingedge">
  <div class="features-container">
    <a href="#main-feature" class="features-top-link">Return to top</a>
    <h3>The <span>Cutting Edge</span></h3>

    <div class="column1">
      <div class="feature">
        <h4>Newest Web Technologies</h4>
        <p>Site authors and developers will love Firefox’s new and enhanced functionalities. If creating advanced content and applications gets you excited, Firefox is the best browser choice. <a href="https://developer.mozilla.org/">Learn more.</a></p>
      </div>

      <div class="feature">
        <h4>SPDY</h4>
        <p><a href="http://hacks.mozilla.org/2012/02/spdy-brings-responsive-and-scalable-transport-to-firefox-11/">SPDY</a> is a protocol designed as a follow-up to HTTP that reduces the amount of time it takes for websites to load. You’ll especially notice faster page load speeds on sites that support SPDY networking. SPDY also encrypts all communication with SSL, which helps make browsing with Firefox even more secure.</p>
      </div>

      <div class="feature">
        <h4>WebSockets</h4>
        <p>WebSockets open the door to instantaneous two-way communications between Firefox and Web servers. This makes it easier for developers to build real-time messaging applications and HTML5 games on the Web that are more responsive and interactive than ever before.</p>
      </div>

      <div class="feature">
        <h4>Upgrading Forms</h4>
        <p>Make annoying form implementation development a thing of the past. Firefox-integrated form features like list attributes and HTML validation provide the tools you need.</p>
      </div>

    </div>

    <div class="column2">
      <div class="feature">
        <h4>Parser</h4>
        <p>Firefox includes an HTML5-ready parser. This parser brings with it some <a href="https://developer.mozilla.org/en/svg_in_html_introduction">new capabilities, most notably inline SVG</a>, but also improves performance by running the parsing algorithm on its own processor. </p>
      </div>

      <div class="feature">
        <h4>IndexedDB</h4>
        <p>Firefox includes an early version of <a href="https://developer.mozilla.org/en/IndexedDB">IndexedDB</a> to give developers a first look at experimenting with local storage in the browser.</p>
      </div>

      <div class="feature">
        <h4>Next-Generation Graphics</h4>
        <p>You have to see it to believe it. Thanks to our upgraded graphics engine, the rendering of text and graphics, including SVG and Canvas, is faster and sharper than ever before. Firefox automatically color-corrects images (like your digital photos) to make sure the colors are exactly as their data intended.</p>
      </div>

      <div class="feature">
        <h4>Scratchpad</h4>
        <p>One of our new, built-in developer tools, Scratchpad lets you build and test snippets of JavaScript code right in the browser, saving you time and precious keystrokes.</p>
      </div>

      <div class="feature">
        <h4>WebM and HD Video</h4>
        <p>As pioneers of HTML5 video standards, Firefox also supports the WebM format so you can watch open HD-quality video.</p>
                <div id="video-player" class="mozilla-video-control section-video">
                    <video
                        id="video"
                        width="290"
                        height="163"
                        controls="controls"
                        poster="{{ media('img/firefox/video/poster-brand.jpg') }}">

                        <source src="http://videos-cdn.mozilla.net/brand/Mozilla_Firefox_Manifesto_v0.2_640.webm" type="video/webm" />
                        <source src="http://videos-cdn.mozilla.net/brand/Mozilla_Firefox_Manifesto_v0.2_640.theora.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;" />
                        <source src="http://videos-cdn.mozilla.net/brand/Mozilla_Firefox_Manifesto_v0.2_640.mp4" type="video/mp4" />

                        <object type="application/x-shockwave-flash"
                            style="width: 290px; height: 191px;"
                            data="/includes/flash/playerWithControls.swf?flv=brand/Mozilla_Firefox_Manifesto_v0.2_640.mp4&amp;autoplay=false&amp;msg=Play%20Video">

                            <param name="movie" value="/includes/flash/playerWithControls.swf?flv=brand/Mozilla_Firefox_Manifesto_v0.2_640.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
                            <param name="wmode" value="transparent" />

                            <div class="video-player-no-flash">
                            This video requires a browser with support for open video:
                            <ul>
                            <li><a href="http://www.mozilla.org/firefox/">Firefox</a> 3.5 or greater</li>
                            <li><a href="http://www.apple.com/safari/">Safari</a> 3.1 or greater</li>
                            </ul>

                            or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.
                            Alternatively, you may use the video download links to the right.
                            </div>

                        </object>

                    </video>
                </div>
      </div>
    </div>

    <div class="column3">
      <div class="feature">
        <h4>Enhanced File API</h4>
        <p>With added support for .click() to the File upload control, .slice and file API urls, Firefox allows developers to better customize the file upload experience.</p>
      </div>

      <div class="feature">
        <h4>Stylin’ Pages with CSS3</h4>
                <p>Support for new CSS3 features like border-radius, box-shadow and other Transitions, Animations and Transformations makes it easy to add elegant animations to Web pages</p>
      </div>

      <div class="feature">
        <h4>Audio API</h4>
        <p>Firefox is changing the way media is integrated on the Web. HTML5 makes it easy for developers to use JavaScript to read and write audio data. We’ve exposed the raw audio data so you can create great sounds!</p>
      </div>

      <div class="feature">
        <h4>Multi-touch Support</h4>
        <p>Firefox now integrates multi-touch support for Windows 7, enabling you to interact with your browser in a whole new way.</p>
      </div>

        <div class="feature">
        <h4>Web Console</h4>
        <p>Want to know what makes cutting-edge sites tick? Firefox allows you to peek under the hood of dynamic web pages with this experimental analysis tool.</p>
      </div>
      <p><a href="{{ url('firefox.technology') }}">Learn more about Firefox’s technology features.</a></p>
    </div>
  </div>
</section>

<section class="billboard" id="universalaccess">
  <div class="features-container">
    <a href="#main-feature" class="features-top-link">Return to top</a>
    <h3>Universal <span>Access</span></h3>

    <div class="column1">
      <div class="feature">
        <h4>Fabulous Fonts</h4>
        <p>Firefox supports open font formats like WOFF, TrueType and OpenType, meaning site designers are no longer limited to a select handful of web-ready fonts as they create their sites. Because Firefox makes sure to display and render type properly even if you don’t have the font installed on your computer, you can view a wide variety of fonts while you browse.</p>
      </div>
    </div>

    <div class="column2">
      <div class="feature">
        <h4>The Language of Firefox</h4>
        <p>Firefox speaks your language like no other browser on earth. Because the Web is a public resource shared by everyone, we’ve made our browser available in as  many languages as possible. We have over 85 different translations, from French and Chinese to Finnish and Czech. <a href="{{ php_url('/firefox/all.html') }}">Find your language.</a></p>
      </div>

      <div class="feature">
        <h4>Better Text Rendering</h4>
        <p>Read your language as it’s written—more like real life. Our graphics engine renders Arabic, Persian, Punjabi and other script languages in a remarkably seamless way.</p>
      </div>
    </div>

    <div class="column3">
      <div class="feature">
        <h4>Emphasis on Accessibility</h4>
        <p>By minimizing keystrokes, allowing users to zoom in on Web pages and supporting screen readers, Firefox is that much easier to use for those with mobility disabilities and visual impairments.</p>
      </div>

      <div class="feature">
        <h4>Universal Customization</h4>
        <p>Go beyond translation and experience the web in a way that makes sense to you. Local developers who know what’s best for their community have customized your Firefox browsing experience with local dictionaries, search providers, live bookmarks and Web feeds. Depending on where you live, you’ll see things like BBC headlines tailored to your region or experience features that work with Baidu, the Chinese search engine.</p>
      </div>
    </div>
  </div>
</section>






{% endblock %}
