{% extends "/firefox/base.html" %}

{% block page_title %}Get More From Your Firefox — Mobile, Add-ons & Other Stuff{% endblock %}
{% block body_id %}firefox-fx{% endblock %}

{% block site_css %}
  {{ css('firefox_fx') }}
{% endblock %}

{% block extrahead %}
  <meta name="description" content="Mozilla Firefox, free web browser, is created by a global non-profit dedicated to putting individuals in control &amp; shaping the future of the web for the public good.">
  {{ super() }}
{% endblock extrahead %}

{% block content %}

<section id="main-feature" class="billboard">
  <h2>Your Firefox is up to date.</h2>
  <h1>Now get it on <span>all your devices.</span></h1>
  <a class="button-blue" href="{{ url('landing.devices')}}">Find out how »</a>
</section>

<section id="main-content">

  <div id="get-firefox" class="sub-section">
    <h3>Get Firefox</h3>
    <p>If you need a fresh new copy, you can get it here:</p>
    {{ download_button('download', 'small') }}
  </div>

  <div id="promo-beta" class="sub-section">
    <h3>Try Firefox Beta</h3>
    <p>Help refine and polish the newest features almost ready for prime time.</p>
    <a href="{{ php_url('/firefox/beta/?WT.mc_id=buildbetafxpage') }}">Download now »</a>
  </div>

  <div id="promo-contribute" class="sub-section">
    <h3>Join the team</h3>
    <p>Volunteer with Firefox and help us build a brighter future for the Web.</p>
    <a href="{{ url('mozorg.contribute') }}">Get involved »</a>
  </div>

</section>

{% endblock %}

