{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros-protocol.html" import feature_card, picto_card with context %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}{{ ftl('features-bookmarks-firefox-browser-better') }}{% endblock %}
{% block page_desc %}{{ ftl('features-bookmarks-easily-organize-your-bookmarks') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-features-hub-detail') }}
{% endblock %}

{% block body_id %}firefox-features-bookmarks{% endblock %}

{% block sub_navigation %}
  {% include "firefox/features/includes/subnav.html" %}
{% endblock %}

{% block content %}
<header class="c-hero">
  <div class="mzp-l-content c-hero-content">
    <img class="c-hero-icon" src="{{ static('img/firefox/features/index/feature_icons/bookmarks_pink.svg')}}" alt="">
    <h1 class="c-hero-title">{{ ftl('features-bookmarks-better-bookmarks')}}</h1>
    <p class="c-hero-desc">{{ ftl('features-bookmarks-dont-agonize-lovers-of')}}</p>
    <div class="c-hero-cta">
      {{ download_firefox(dom_id='features-header-download', download_location='primary cta') }}
    </div>
  </div>
</header>

<div class="mzp-l-content main-content">
  {% call feature_card(
    title=ftl('features-bookmarks-file-that-bookmark'),
    image_url='img/firefox/features/thumbnails/bookmarks.png',
    aspect_ratio='mzp-has-aspect-1-1',
    class='mzp-l-card-feature-right-half mzp-t-firefox',
  ) %}
    <p>{{ ftl('features-bookmarks-get-your-faves-all-sorted') }}</p>
  {% endcall %}

  {% set pocket='https://getpocket.com/firefox/' %}
  {% call feature_card(
    title=ftl('features-bookmarks-fly-with-that-bookmark'),
    image_url='img/firefox/features/thumbnails/bookmarks/bookmarks-sync.png',
    aspect_ratio='mzp-has-aspect-1-1',
    class='mzp-l-card-feature-left-half mzp-t-firefox',
  ) %}
    <p>{{ ftl('features-bookmarks-take-your-favorites-on', url=url('firefox.pocket')) }}</p>
  {% endcall %}

  {% call feature_card(
    title=ftl('features-bookmarks-customize-that-bookmark', fallback='features-bookmarks-futz-with-that-bookmark'),
    image_url='img/firefox/features/thumbnails/bookmarks/bookmarks-addons.png',
    aspect_ratio='mzp-has-aspect-1-1',
    class='mzp-l-card-feature-right-half mzp-t-firefox',
  ) %}
    <p>{{ ftl('features-bookmarks-practice-your-precision', fallback='features-bookmarks-practice-your-exactitude', url='https://addons.mozilla.org/firefox/search/?q=bookmark%20managers') }}</p>
  {% endcall %}
</div>

{% include "firefox/features/includes/features-content.html" %}

{% endblock %}


