{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/base-article.html" %}

{% block article_title %}{{ ftl('bookmark-manager-bookmark-manager') }}{% endblock %}
{% block page_desc %}{{ ftl('bookmark-manager-organize-your-bookmarks-with') }}{% endblock %}

{% block article_content %}
<p>{{ ftl('bookmark-manager-bookmarks-are-links-you-save', sync='href="%s"'|safe|format(url('firefox.features.sync'))) }}</p>

<h2>{{ ftl('bookmark-manager-organize-your-boomarks-into') }}</h2>
<p>{{ ftl('bookmark-manager-collect-your-bookmarks-in-folders') }}</p>

<figure class="c-article-figure">
  {{ resp_img(
    url="img/firefox/features/bookmark-manager.png",
    srcset={
        "img/firefox/features/bookmark-manager-high-res.png": "1.5x"
    },
    optional_attributes={
      "alt": "Image of the bookmark manager window in Firefox.",
      "width": "600"
    }
  ) }}
</figure>

<h2>{{ ftl('bookmark-manager-easily-import-bookmarks') }}</h2>
<p>{{ ftl('bookmark-manager-you-can-import-your-bookmarks') }}</p>

<figure class="c-article-figure">
  {{ resp_img(
    url="img/firefox/features/import-wizard.png",
    srcset={
        "img/firefox/features/import-wizard-high-res.png": "1.5x"
    },
    optional_attributes={
      "alt": ftl('bookmark-manager-image-of-the-firefox-import-wizard'),
      "width": "600"
    }
  ) }}
</figure>

<h2>{{ ftl('bookmark-manager-bookmarks-toolbar') }}</h2>
<p>{{ ftl('bookmark-manager-get-quick-access-to-your') }}</p>

<figure class="c-article-figure">
  {{ resp_img(
    url="img/firefox/features/bookmark-toolbar.png",
    srcset={
        "img/firefox/features/bookmark-toolbar-high-res.png": "1.5x"
    },
    optional_attributes={
      "alt": ftl('bookmark-manager-image-of-firefox-showing-a-collection'),
      "width": "600"
    }
  ) }}
</figure>
{% endblock article_content %}
