{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/base-article.html" %}

{% block page_image %}{{ static('img/firefox/features/fast-high-res.png') }}{% endblock %}
{% block page_desc %}{{ ftl('features-fast-firefox-uses-less-memory-than') }}{% endblock %}

{% block article_title %}{{ ftl('features-fast-is-firefox-the-fastest-browser') }}{% endblock %}

{% block article_content %}
<h2>{{ ftl('features-fast-browse-faster') }}</h2>
<p>{{ ftl('features-fast-every-computer-program-you-run') }}</p>

<h2>{{ ftl('features-fast-multi-tasking-with-multiple-tabs') }}</h2>
<p>{{ ftl('features-fast-firefox-is-a-multi-process-browser') }}</p>

<h2>{{ ftl('features-fast-faster-gaming') }}</h2>
<p>
{% if LANG == "en-US" %}
  <em>Un-humble brag alert:</em>
{% endif %}
  {{ ftl('features-fast-we-led-the-tech-to-run-3d-games') }}
</p>
{% endblock article_content %}
