{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros-protocol.html" import hero, picto_card with context %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}{{ftl('features-index-protect-your-privacy-and-browse')}}{% endblock %}
{% block page_desc %}{{ ftl('features-index-youre-in-control-with-firefoxs') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-features-index') }}
{% endblock %}

{% block sub_navigation %}
  {% include "firefox/features/includes/subnav.html" %}
{% endblock %}

{% block content %}
  {% call hero(
      title=ftl('features-index-firefox-features'),
      desc=ftl('features-index-firefox-is-fast'),
      class='mzp-has-image',
      include_cta=True,
      include_highres_image=True,
      image_url='img/firefox/features/index/features-hero.png',
      heading_level=1
    ) %}
      {{ download_firefox(alt_copy=ftl('features-index-download-latest'), dom_id='features-header-download', download_location='primary cta') }}
  {% endcall %}

  <section class="mzp-l-content main-content">
    <h2 class="section-title">{{ ftl('features-shared-a-better-internet-experience') }}</h2>

    <div class="features mzp-l-card-third index">
      <section class="mzp-c-card-picto faster">
        <div class="mzp-c-card-picto-content ">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-browse-faster') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-use-less-memory') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.features.fast') }}">{{ ftl('ui-learn-more') }}</a>
          </div>
        </div>
      </section>

      <section class="mzp-c-card-picto extensions">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-your-favorite-extensions') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-add-powerful-functions') }}</p>
            <a class="mzp-c-cta-link" href="https://addons.mozilla.org/firefox/{{ utm_params }}" rel="external">{{ ftl('features-index-see-all') }}</a>
          </div>
        </div>
      </section>

      <section class="mzp-c-card-picto memory">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-balanced-memory') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-just-enough') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.features.memory') }}">{{ ftl('ui-learn-more') }}</a>
          </div>
        </div>
      </section>
    </div>

    <div class="features mzp-l-card-third">
      <section class="mzp-c-card-picto browsing">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-more-powerful-private-browsing') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-private-browsing-mode') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.features.private-browsing') }}">{{ ftl('ui-learn-more') }}</a>
          </div>
        </div>
      </section>

      <section class="mzp-c-card-picto blocking">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-ad-tracker-blocking') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-firefox-automatically') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.features.adblocker') }}">{{ ftl('ui-learn-more') }}</a>
          </div>
        </div>
      </section>

      <section class="mzp-c-card-picto password">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-password-manager') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-access-all-passwords') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.features.password-manager') }}">{{ ftl('ui-learn-more') }}</a>
          </div>
        </div>
      </section>
    </div>

    <div class="features mzp-l-card-third">
      <section class="mzp-c-card-picto customize">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-customize-your-browser') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-give-your-browser') }}</p>
            <a class="mzp-c-cta-link" href="https://addons.mozilla.org/firefox/themes/{{ utm_params }}" rel="external">{{ ftl('features-index-see-themes') }}</a>
          </div>
        </div>
      </section>

      <section class="mzp-c-card-picto sync">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-sync-between-devices') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-important-stuff') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.accounts') }}">{{ ftl('features-index-get-an-account') }}</a>
          </div>
        </div>
      </section>

      <section class="mzp-c-card-picto bookmarks">
        <div class="mzp-c-card-picto-content">
          <h3 class="mzp-c-card-picto-title">{{ ftl('features-shared-better-bookmarks') }}</h3>
          <div class="mzp-c-card-picto-desc">
            <p>{{ ftl('features-index-use-the-bookmark') }}</p>
            <a class="mzp-c-cta-link" href="{{ url('firefox.features.bookmarks') }}">{{ ftl('ui-learn-more') }}</a>
          </div>
        </div>
      </section>
    </div>
  </section>

  <section class="secondary-content">
    <div class="mzp-l-content">
      <h2 class="mzp-u-title-sm section-title">{{ ftl('features-index-from-the-company')}}</h2>

      <div class="benefits-1 mzp-l-card-third ">
        <section class="mzp-c-card-picto mzp-c-card-picto-compact open-source">
          <div class="mzp-c-card-picto-content">
            <h3 class="mzp-c-card-picto-title">{{ ftl('features-index-open-source-minds') }}</h3>
            <div class="mzp-c-card-picto-desc">
              <p>{{ ftl('features-index-mozilla-creates') }}</p>
              <a class="mzp-c-cta-link" href="{{ url('firefox.features.independent') }}">{{ ftl('features-index-see-what-makes-us-different') }}</a>
            </div>
          </div>
        </section>

        <section class="mzp-c-card-picto mzp-c-card-picto-compact non-profit">
          <div class="mzp-c-card-picto-content">
            <h3 class="mzp-c-card-picto-title">{{ ftl('features-index-by-non-profit-mozilla') }}</h3>
            <div class="mzp-c-card-picto-desc">
              <p>{{ ftl('features-index-on-a-mission') }}</p>
              <a class="mzp-c-cta-link" href="{{ url('mozorg.mission') }}" rel="external">{{ ftl('features-index-read-mozillas-mission') }}</a>
            </div>
          </div>
        </section>

        <section class="mzp-c-card-picto mzp-c-card-picto-compact independence">
          <div class="mzp-c-card-picto-content">
            <h3 class="mzp-c-card-picto-title">{{ ftl('features-index-keep-corporate-power') }}</h3>
            <div class="mzp-c-card-picto-desc">
              <p>{{ ftl('features-index-independent-browser') }}</p>
              <a class="mzp-c-cta-link" href="{{ url('firefox.features.independent') }}">{{ ftl('features-index-choose-independence') }}</a>
            </div>
          </div>
        </section>
      </div>

      <div class="benefits-2 mzp-l-card-third">
        <section class="mzp-c-card-picto mzp-c-card-picto-compact private">
          <div class="mzp-c-card-picto-content">
            <h3 class="mzp-c-card-picto-title">{{ ftl('features-index-private-by-default') }}</h3>
            <div class="mzp-c-card-picto-desc">
              <p>{{ ftl('features-index-opted-in-to-privacy-so-you') }}</p>
              <a class="mzp-c-cta-link" href="{{ url('privacy') }}">{{ ftl('features-index-read-our-privacy-policy') }}</a>
            </div>
          </div>
        </section>

        <section class="mzp-c-card-picto mzp-c-card-picto-compact tracking-protection">
          <div class="mzp-c-card-picto-content">
            <h3 class="mzp-c-card-picto-title">{{ ftl('features-index-enhanced-tracking') }}</h3>
            <div class="mzp-c-card-picto-desc">
              <p>{{ ftl('features-index-we-dont-sell-access-to-your') }}</p>
              <a class="mzp-c-cta-link" href="{{ url('firefox.features.private-browsing') }}">{{ ftl('features-index-get-firefox-for-privacy') }}</a>
            </div>
          </div>
        </section>

        <section class="mzp-c-card-picto mzp-c-card-picto-compact stacks-up">
          <div class="mzp-c-card-picto-content">
            <h3 class="mzp-c-card-picto-title">{{ ftl('features-index-firefox-vs') }}</h3>
            <div class="mzp-c-card-picto-desc">
              <p>{{ ftl('features-index-stack-up') }}</p>
              <a class="mzp-c-cta-link" href="{{ url('firefox.browsers.compare.index') }}">{{ ftl('features-index-compare-browsers') }}</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
{% endblock %}
