{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/shared" %}

{% extends "firefox/features/base.html" %}

{% block page_title %}{{ _('Firefox Browser: Fast, Easy Password Manager') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block page_desc %}{{ _('Firefox Password Manager saves all your passwords in one place so you can automatically login to sites, or retrieve saved passwords.') }}{% endblock %}

{% block page_css %}
  {{ super() }}
  {% stylesheet 'firefox-features-hub-detail' %}
{% endblock %}

{% block body_id %}firefox-features-password-manager{% endblock %}

{% block features_header_content %}
  <h1><span>{{ _('Password Manager achievement unlocked') }}</span></h1>
  <p class="tagline">{{ _('Give up the memory game with Firefox Password Manager.') }}</p>
{% endblock %}

{% block features_list %}
<section class="features-list-section">
  <div class="content">
    <h2 class="section-title"><span>{{ _('Features') }}</span></h2>

    <ul class="features-list">
      <li class="features-list-item">
        <img src="{{ static('img/firefox/features/thumbnails/password-manager.png') }}" alt="">
        <h3>{{ _('Password hero') }}</h3>
        <p>
        {% trans url='https://support.mozilla.org/kb/use-master-password-protect-stored-logins' %}
          Forget the reset. Firefox Password Manager keeps all your passwords so you can log in
          automatically, or find saved passwords easily. For super security, give your computer
          a <a href="{{ url }}">master password</a>.
        {% endtrans %}
        </p>
      </li>
      <li class="features-list-item">
        <img src="{{ static('img/firefox/features/thumbnails/password-manager/firefox-account.png') }}" alt="">
        <h3>{{ _('Password ninja') }}</h3>
        <p>
        {% trans %}
          No more “try again” while you’re trying to get somewhere. Log in to your Firefox Account
          on your phone, and your passwords come with you. Your login details will simply appear,
          just like that.
        {% endtrans %}
        </p>
      </li>
      <li class="features-list-item">
        <img src="{{ static('img/firefox/features/thumbnails/password-manager/addons.png') }}" alt="">
        <h3>{{ _('Password master') }}</h3>
        <p>
        {% trans addons='https://addons.mozilla.org/firefox/collections/mozilla/password-managers/',
                 lastpass='https://addons.mozilla.org/firefox/addon/lastpass-password-manager/',
                 manager='https://addons.mozilla.org/firefox/search/?q=password+manager'
        %}
          Earn your second security black belt with Firefox’s vast array of password manager
          <a href="{{ addons }}">add-ons</a>. Go with a favorite like
          <a href="{{ lastpass }}">LastPass</a>, or reach password manager mastery with
          ratings and community reviews.
        {% endtrans %}
        </p>
      </li>
    </ul>

  </div> {#--/.content--#}
</section>
{% endblock %}

{% block values %}
<section class="values">
  <div class="content">
    <div class="cards-container">
      <section id="card-modern" class="card image-card card-modern">
        <a href="{{ url('firefox.features.fast') }}" class="card-image" data-link-type="link" data-link-position="Value - Modern" data-link-name="More Performance">
          <img src="{{ static('img/firefox/hub/value-modern.jpg') }}" alt="">
        </a>
        <div class="card-content">
          <a href="{{ url('firefox.features.fast') }}" data-link-type="link" data-link-position="Value - Modern" data-link-name="More Performance">
            <h2 class="card-title">{{ _('More performance') }}</h2>
          </a>
          <p>
          {# L10n Note: “Bring it” is a friendly challenge. In this case, we are showing our confidence in Fx’s increased speed. An alternate translation would be “Let’s go, Internet!” #}
          {% trans %}
            Bring it, Internet! We’ve spent the last year supercharging
            Firefox’s performance. Now start up faster, tab hop quicker and
            scroll like a speed demon.
          {% endtrans %}
          </p>
          <p class="card-cta">
            <a href="{{ url('firefox.features.fast') }}" class="cta-link" data-link-type="link" data-link-position="Value - Modern" data-link-name="More Performance">
              {{ _('Get more done with Firefox') }}
            </a>
          </p>
        </div>
      </section>

      <section id="card-independent" class="card image-card card-independent">
        <a href="{{ url('firefox.features.independent') }}" class="card-image" data-link-type="link" data-link-position="Value - Independent" data-link-name="More Freedom">
          <img src="{{ static('img/firefox/hub/value-indie.jpg') }}" alt="">
        </a>
        <div class="card-content">
          <a href="{{ url('firefox.features.independent') }}" data-link-type="link" data-link-position="Value - Independent" data-link-name="More Freedom">
            <h2 class="card-title">{{ _('More freedom') }}</h2>
          </a>
          <p>
          {% trans %}
            Following the pack isn’t our style. As part of the non-profit Mozilla,
            Firefox leads the fight to protect your online rights and champion an
            Internet that benefits everyone — not just a few.
          {% endtrans %}
          </p>
          <p class="card-cta">
            <a href="{{ url('firefox.features.independent') }}" class="cta-link" data-link-type="link" data-link-position="Value - Independent" data-link-name="More Freedom">
              {{ _('Browse independently with Firefox') }}
            </a>
          </p>
        </div>
      </section>
    </div> {#--/.cards-container--#}
  </div> {#--/.content--#}
</section> {#--/.values--#}
{% endblock %}
