{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/shared" %}

{% from "macros-protocol.html" import feature_card, picto_card with context %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_title %}{{ ftl('features-private-browsing-private-browser') }} | {{ _('Download Firefox') }}{% endblock %}
{% block page_desc %}{{ ftl('features-private-browsing-firefox-protects') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-features-hub-detail') }}
{% endblock %}

{% block body_id %}firefox-features-private{% endblock %}

{% block sub_navigation %}
  {% include "firefox/features/includes/subnav.html" %}
{% endblock %}

{% block content %}
<header class="c-hero">
  <div class="mzp-l-content c-hero-content">
    <img class="c-hero-icon" src="{{ static('img/firefox/features/index/feature_icons/private-browsing_violet.svg')}}" alt="">
    <h1 class="c-hero-title">{{ ftl('features-private-browsing-firefox-more-protection') }}</h1>
    <p class="c-hero-desc">{{ ftl('features-private-browsing-were-obsessed-with') }}</p>
    <div class="c-hero-cta">
      {{ download_firefox(dom_id='features-header-download', download_location='primary cta') }}
    </div>
  </div>
</header>

<div class="mzp-l-content main-content">
  {% call feature_card(
    title=ftl('features-private-browsing-browse-without'),
    image_url='img/firefox/features/thumbnails/private/no-trace.jpg',
    aspect_ratio='mzp-has-aspect-1-1',
    class='mzp-l-card-feature-right-half mzp-t-firefox',
  ) %}
    <p>{{ ftl('features-private-browsing-sharing-is-caring') }}</p>
  {% endcall %}

  {% call feature_card(
    title=ftl('features-private-browsing-catch-those-hidden'),
    image_url='img/firefox/features/thumbnails/private/zero-chill.jpg',
    aspect_ratio='mzp-has-aspect-1-1',
    class='mzp-l-card-feature-left-half mzp-t-firefox',
  ) %}
    <p>{{ ftl('features-private-browsing-some-websites-and') }}</p>
  {% endcall %}

    {% call feature_card(
      title=ftl('features-private-browsing-shake-off-tracking'),
      image_url='img/firefox/features/thumbnails/private/baggage.jpg',
      aspect_ratio='mzp-has-aspect-1-1',
      class='mzp-l-card-feature-right-half mzp-t-firefox',
    ) %}
    <p>
      {{ ftl('features-private-browsing-not-only-do-trackers') }}
    </p>
    {% endcall %}

</section>

{% include "firefox/features/includes/features-content.html" %}

{% endblock %}
