{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2><span>ෆයර්ෆොක්ස් අනාගතය</span> වෙත සාදරයෙන් පිළිගනිමු</h2>
    <p>ඔබට ගැලපෙන නිකුතුව තෝරා බාගත කර පරීක්ෂා කරන්න, එසේම නවමු 
    තොරතුරු ගෙනෙන පුවත්ලිපි චැනලය හා සම්බන්ධ වන්න.</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span>අවසන් <span>නිකුතුව</span></span></h3>

        <ul class="channel-list">
            <li>මිලියන සිය ගණනක් පරිශීලකයින් භාවිතා කරන භාවිතයට හා 
            පරීක්ෂාවට ලක්කළ අවසන් නිකුතුවෙන් ප්‍රයෝජන ලබන්න</li>
            <li>සුපිරි වේගය, පහසු රිසිකරණය, හා නවතම වෙබ් තාක්ෂණය සමඟින් 
            ඔබගේ වෙබ් සබැඳියාවේ ඔබට ඇවැසි සේ රැඳී සිටින්න</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>බීටා</span></h3>

        <ul class="channel-list">
            <li>වඩාත් ස්ථායි නවතම විශේෂාංග අත්විඳින්න</li>
            <li>වඩාත් ප්‍රසාදිත හා දීප්තිමත් අවසන් නිකුතුවක් නිමැවුව සඳහා ඔබගේ ප්‍රතිචාරය ලබා දෙන්න</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>අව්රෝරා</span></h3>

        <ul class="channel-list">
            <li>එතරම් ස්ථායි නොවූ මුත් හානිකර නොවන්නා වූ නව්‍යතාවයන් අත්විඳින්න</li>
            <li>අවසන් නිකුතුවේ නිමැවුවට සහායය කරගනු පිණිස මෙහි විශේෂාංග  
           හා කාර්ය සාධනය පිළිබඳ ඔබගේ ප්‍රතිචාරය ලබා දෙන්න</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
