{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/win10-welcome.html" %}

{% block page_title %}Firefox works great with Windows 10{% endblock %}

{% block body_id %}win10-welcome-v2-3{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_win10_welcome_variants' %}
{% endblock %}

{% block default_cta %}
  <section class="firefox-default-cta hidden">
    <button id="set-default" type="button" class="button-flat-dark">Let’s do it</button>
    <h2>Make Firefox your default in 3 easy steps:</h2>
    <ol>
      <li>Click the button above</li>
      <li>Scroll down to “Web browser”</li>
      <li>Choose Firefox</li>
    </ol>
  </section>
{% endblock %}
