{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  firefox-wordmarks
{% endblock %}

{% set page_title = 'Firefox Browser wordmarks' %}

{% block content_area %}
<section id="intro">
  <h2>Usage</h2>
  <p>Whether representing our channels in words alone (like when you need a one-color logo) or in lockup with our logos, here are the assets you’ll need and the rules they follow.</p>
</section>
<section id="firefox">
  <div class="build">
    <h2>Firefox</h2>
    <p>Our default Firefox wordmark is set in Meta Medium and sets the tone for our <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-vertical.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/216" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/217" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/218" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark + logo (vertical)</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/219" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/220" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/221" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/231" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/232" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/233" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="firefox-beta">
  <div class="build">
    <h2>Firefox Beta</h2>
    <p>The Firefox Beta wordmark uses our standard product + sub-brand <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-beta-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-beta.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/210" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/211" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/212" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/225" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/226" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/227" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="firefox-nightly">
  <div class="build">
    <h2>Firefox Nightly</h2>
    <p>The Firefox Nightly wordmark uses our standard product + sub-brand <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a> and a special standard of white on dark.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-nightly-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-nightly.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/213" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/214" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/215" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/228" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/229" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/230" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="firefox-developer">
  <div class="build">
    <h2>Firefox Developer Edition</h2>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-developer-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/firefox/wordmark-developer.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/1575" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/1576" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/1577" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/1578" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/1579" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/1580" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>

{% endblock %}
