{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  firefoxos-community firefoxos-common
{% endblock %}

{% set page_title = 'Firefox OS community' %}

{% block content_area %}
<section id="intro" class="section">
  <div class="left-col">
    <h2>{{ _('Introduction') }}</h2>
  </div>
  <div class="right-col">
    <p>
      {% trans %}
      The assets on this page are intended for use by the Mozilla community. Because certain elements
      of the Firefox OS visual identity are subject to partnership and licensing agreements, we
      created these materials specifically for non-commercial use. The work-in-progress style
      represents the role all Mozillians play in bringing Firefox OS to life.
      {% endtrans %}
    </p>
  </div>
</section>

<section id="guidelines" class="section">
  <div class="left-col">
    <h2>{{ _('Guidelines') }}</h2>
    <p>
      {{ _('Please follow these guidelines for all permitted uses of these assets.') }}
    </p>
  </div>
  <div class="right-col">
    <div class="split">
      <h3><em>{{ _('You may not:') }}</em></h3>
      <ul id="guidelines-list">
        <li>{{ _('use this artwork without the Firefox OS logo lockup (or at least the wordmark) or use it in place of the logo') }}</li>
        <li>{{ _('alter the poses in any way or create new ones') }}</li>
        <li>{{ _('change the color of the white pencil-sketch line art or fill in the fox images with any color') }}</li>
        <li>{{ _('alter the blue backgrounds provided or place the images on any other background') }}</li>
        <li>{{ _('place these materials in such close proximity to other content that they are indistinguishable') }}</li>
        <li>{{ _('make these materials the most distinctive or prominent feature on your website, printed material or other content') }}</li>
        <li>{{ _('use these materials in a way that suggests any type of association or partnership with Mozilla or approval, sponsorship or endorsement by Mozilla (unless allowed via a license from us') }}</li>
        <li>{{ _('use these materials in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person') }}</li>
        <li>{{ _('use these materials on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities') }}</li>
      </ul>
    </div>
    <div class="split example">
      <h3>{{ _('Mandatory elements') }}</h3>
      <p>
        {% trans %}
        Please ensure that all the following are present and visible when using these assets:
        {% endtrans %}
      </p>
      <p class="caption" id="caption-1">
        {{ _('Pencil-sketch headline and fox image (see below for approved options and poses)') }}
      </p>
      <p class="caption" id="caption-2">
        {{ _('Blueprint background') }}
      </p>
      <p class="caption" id="caption-3">
        {{ _('Official Firefox OS logo lockup (or at least the wordmark)') }}
      </p>
      <img id="guidelines-example" src="{{ static('img/styleguide/identity/firefoxos/partners-community-guidelines-example.png') }}" alt="Partners community guidelines example">
    </div>
  </div>
</section>

<section id="artwork" class="section last">
  <div class="container">
    <div class="left-col">
      <h2>{{ _('Artwork') }}</h2>
      <p>
        {% trans %}
        The illustration/headline lockups are available with both transparent and blueprint backgrounds.
        Be sure your artwork always includes the blueprint background, unmodified headline/illustration
        lockups and Firefox OS logo as noted above.
        {% endtrans %}
      </p>
    </div>
    <div class="right-col">
      <div class="artwork-list">
        <p>{{ _('"The Look"') }}</p>
        <ul>
          <li>
            <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-thelook-future.png') }}" alt="{{ _('The Look - Be The Future') }}">
            <ul class="button-list">
              <li><a href="https://assets.mozilla.org/portal/assets/#category/200" class="button-sand">{{ _('Print') }}</a></li>
              <li><a href="https://assets.mozilla.org/portal/assets/#category/177" class="button-sand">{{ _('Web') }}</a></li>
            </ul>
          </li>
          <li>
            <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-thelook-blaze.png') }}" alt="{{ _('The Look - Blaze Your Own Path') }}">
            <ul class="button-list">
              <li><a href="https://assets.mozilla.org/portal/assets/#category/200" class="button-sand">{{ _('Print') }}</a></li>
              <li><a href="https://assets.mozilla.org/portal/assets/#category/177" class="button-sand">{{ _('Web') }}</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="artwork-list">
        <p>{{ _('"The Charge"') }}</p>
        <ul>
          <li>
            <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-thecharge-future.png') }}" alt="{{ _('The Charge - Be The Future') }}">
            <ul class="button-list">
              <li><a href="https://assets.mozilla.org/portal/assets/#category/197" class="button-sand">{{ _('Print') }}</a></li>
              <li><a href="https://assets.mozilla.org/portal/assets/#category/206" class="button-sand">{{ _('Web') }}</a></li>
            </ul>
          </li>
          <li>
            <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-thecharge-blaze.png') }}" alt="{{ _('The Charge - Blaze Your Own Path') }}">
            <ul class="button-list">
              <li><a href="https://assets.mozilla.org/portal/assets/#category/197" class="button-sand">{{ _('Print') }}</a></li>
              <li><a href="https://assets.mozilla.org/portal/assets/#category/206" class="button-sand">{{ _('Web') }}</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="artwork-list last">
        <p>{{ _('"The Bolt"') }}</p>
        <ul>
          <li>
            <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-thebolt-future.png') }}" alt="{{ _('The Bolt - Be The Future') }}">
            <ul class="button-list">
              <li><a href="https://assets.mozilla.org/portal/assets/#category/194" class="button-sand">{{ _('Print') }}</a></li>
              <li><a href="https://assets.mozilla.org/portal/assets/#category/203" class="button-sand">{{ _('Web') }}</a></li>
            </ul>
          </li>
          <li>
            <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-thebolt-blaze.png') }}" alt="{{ _('The Bolt - Blaze Your Own Path') }}">
            <ul class="button-list">
              <li><a href="https://assets.mozilla.org/portal/assets/#category/194" class="button-sand">{{ _('Print') }}</a></li>
              <li><a href="https://assets.mozilla.org/portal/assets/#category/203" class="button-sand">{{ _('Web') }}</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <aside id="examples" class="example">
    <img src="{{ static('img/styleguide/box-arrow.png') }}" alt="" class="box-arrow" />
    <div class="left-col">
      <h2>{{ _('Example usage') }}</h2>
      <p>
        {{ _("See how we've used the above artwork in various formats.") }}
      </p>
    </div>
    <div class="right-col">
      <img src="{{ static('img/styleguide/identity/firefoxos/partners-community-artwork-example.png') }}" alt="">
    </div>
  </aside>
</section>
{% endblock %}
