{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  firefox-family-platform
{% endblock %}

{% set page_title = 'Firefox platform' %}

{% block content_area %}
<section id="intro">
  <div class="intro">
    <p>Whether you're new to Firefox or you've been around for a while, you know there’s something very special about this brand.</p>
    <p>This section defines what makes Firefox special and gives you some tools to help articulate, express and evaluate the brand.</p>
  </div>
  <img src="{{ media('/img/styleguide/identity/firefox-family/intro-logo.png') }}" alt="Logo" />
</section>
<section id="promise-position">
  <div class="promise">
    <h2>Promise</h2>
    <p>Our brand promise is a single statement that captures the essence of our experience. This is the internal compass we use to guide the development of our brand.</p>
    <p>This is not an ad. This is not a tagline. This is our promise to our users. It’s that simple.</p>
  </div>
  <div class="promise-callout">
    <p>Firefox answers to no one but you.</p>
  </div>
  <div class="position">
    <h2>Position</h2>
    <p>Positioning provides detail around the benefits we offer our users. This level of detail is important when developing ideas, communications or making decisions that reflect on the brand. </p>
  </div>
  <div class="position-callout">
    <p>Firefox prioritizes principles over profits to put individuals in control and shape the future of the web for the public good.</p>
  </div>
</section>
<section id="pillars">
  <h2>Pillars</h2>
  <ul class="big-list">
    <li><h3>Non-profit</h3>
    Firefox is fundamentally driven by the Mozilla mission rather than business concerns.</li>
    <li><h3>Track record</h3>
    Firefox has a long history of doing the right thing for both individuals and the web as a whole.</li>
    <li><h3>Empowering innovation</h3>
    Firefox enables individuals to create and build without permission or restriction.</li>
    <li><h3>Community driven</h3>
    At its core, Firefox is about people and is powered by a global community of individuals working together for the public good.</li>
    <li><h3>Challenger spirit</h3>
    Firefox starts races, and isn’t afraid to compete with the world’s biggest companies.</li>
  </ul>
</section>
<section id="voice">
  <div class="voice">
    <h2>Voice</h2>
    <p>When we create communications, how do we ensure we are making this promise and positioning real?</p>
    <p>We hold up these expressions of the brand to help evaluate the work. This is the language that is fluid and generative.</p>
    <p>This is the language that is influenced by the world in which we live. This is the language that embodies the promise of “Firefox answers to no one but you.” </p>
  </div>
  <div class="image">
    <img src="{{ media('/img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ media('/img/styleguide/identity/firefox-family/voice.png') }}" alt="Voice" />
  </div>
</section>
<section id="mission">
  <div class="mission">
    <h2>Mission statement</h2>
  </div>
  <div class="mission-description">
    <p>We’re quite content to be the odd browser out.</p>
    <p>We don’t have a fancy stock abbreviation to go alongside our name in the press. We don’t have a profit margin. We don’t have sacred rock stars that we put above others. We don’t make the same deals, sign the same contracts or shake the same hands as everyone else.</p>
    <p>And all of this is fine by us.</p>
    <p>We’re a pack of independently spirited, fiercely unconventional people who do things a little differently. Where others may value the bottom line, we value—well—values. When a competitor considers making something proprietary,we strive to set it free.</p>
    <p>And while most products and technologies are developed behind closed doors, ours are cultivated out in the open for everyone to see. We’re not beholden to stake, share or power holders—we answer to no one but you. And we don’t operate this way for the fun of it, even though it is incredibly fun. We operate this way because we believe it’s the right thing to do.</p>
    <p>We believe in principle over profit.</p>
    <p>We believe that secrecy is trumped by honesty.</p>
    <p>And corporate interest by community.</p>
    <p>We believe that the web is more cared for than owned.</p>
    <p>More of a resource to be tended to than a mere commodity to be sold.</p>
    <p>And we strongly believe in innovation that puts users front, center, and squarely in the driver’s seat.</p>
    <p>But most importantly, we believe in you.</p>
    <p>We believe that the world’s best browser is made possible by engineers, programmers, designers and people just like you who give their time, talents, energy and support to the cause. And we believe that together, with this cause in mind, we can continue to innovate for the benefit of the individual and the betterment of the web, so that it always and forever serves the greater good.</p>
    <p>We are all Mozilla Firefox. And we’re not just a different kind of browser.</p>
    <p>We’re a browser that is making a difference.</p>
  </div>
</section>

{% endblock %}
