{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  marketplace-color
{% endblock %}

{% set page_title = 'Marketplace color' %}

{% block content_area %}
<section id="intro">
  <h2>Usage</h2>
  <p>Use these colors to guide your designs and layouts, both online and off, to ensure you’re staying consistent with the Marketplace brand.</p>
</section>
<section>
  <div class="swatch-card">
    <h2>Swatches</h2>
  </div>
  <div class="swatch-card">
    <h2>Gradients</h2>
  </div>
  <div class="swatch-card" id="swatch-orange">
    <div class="swatch"></div>
    <h4>Marketplace orange</h4>
    <p><b>#E66000 / Pantone 166 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>25</td>
        <th>C</th> <td>5</td>
        <th>R</th> <td>230</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>76</td>
        <th>G</th> <td>96</td>
      </tr>
      <tr>
        <th>B</th> <td>90</td>
        <th>Y</th> <td>100</td>
        <th>B</th> <td>0</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>1</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-marketplace">
    <div class="swatch"></div>
    <h4>Marketplace</h4>
    <p><b>#FF9500 to #E66000</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-light-orange">
    <div class="swatch"></div>
    <h4>Marketplace light orange</h4>
    <p><b>#FF9500 / Pantone 144 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>35</td>
        <th>C</th> <td>0</td>
        <th>R</th> <td>255</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>50</td>
        <th>G</th> <td>149</td>
      </tr>
      <tr>
        <th>B</th> <td>100</td>
        <th>Y</th> <td>100</td>
        <th>B</th> <td>0</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-blue-grey">
    <div class="swatch"></div>
    <h4>Light blue/grey</h4>
    <p><b>#EAEFF2 to #D4DDE4</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-blue">
    <div class="swatch"></div>
    <h4>Marketplace blue</h4>
    <p><b>#00539F / Pantone 2945 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>209</td>
        <th>C</th> <td>99</td>
        <th>R</th> <td>0</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>75</td>
        <th>G</th> <td>83</td>
      </tr>
      <tr>
        <th>B</th> <td>62</td>
        <th>Y</th> <td>5</td>
        <th>B</th> <td>159</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-dark-blue">
    <div class="swatch"></div>
    <h4>Dark blue/grey</h4>
    <p><b>#6A7B86 to #424F5A</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-light-blue">
    <div class="swatch"></div>
    <h4>Marketplace light blue</h4>
    <p><b>#F5EFE6 / Pantone 2925 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>199</td>
        <th>C</th> <td>76</td>
        <th>R</th> <td>0</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>20</td>
        <th>G</th> <td>150</td>
      </tr>
      <tr>
        <th>B</th> <td>87</td>
        <th>Y</th> <td>0</td>
        <th>B</th> <td>221</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
</section>

{% endblock %}
