{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  mozilla-branding
{% endblock %}

{% set page_title = 'Mozilla branding' %}

{% block content_area %}
<section id="intro">
  <div id="guidelines">
    <h2>Guidelines</h2>
    <p>For all permitted uses of our trademarks, you may not:</p>
  </div>
  <ul id="guidelines-list">
    <li>alter our logos in any way</li>
    <li>place a logo in such close proximity to other content that it is indistinguishable</li>
    <li>make our logo the most distinctive or prominent feature on your website, printed material or other content</li>
    <li>use our logos in a way that suggests any type of association or partnership with Mozilla or approval, sponsorship or endorsement by  Mozilla (unless allowed via a license from us)</li>
    <li>use our logos in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person</li>
    <li>use our logos on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities</li>
    <li>use our logos to, or in connection with, content that disparages us or sullies our reputation</li>
  </ul>
</section>
<section id="wordmark">
  <div class="wordmark">
    <h2>Wordmark</h2>
    <p>The standard Mozilla wordmark is set in Meta Bold. Please download one of the file formats to the right if you need to use it rather than typing and setting it yourself.</p>
  </div>
  <div class="logo">
    <img src="{{ media('/img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ media('/img/styleguide/identity/mozilla/wordmark.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Mozilla/mozilla_wordmark_CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Mozilla/mozilla_wordmark_300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Mozilla/mozilla_wordmark.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="common-mistakes">
  <p>You can use any solid color for the Mozilla wordmark. Which color you choose depends on the color of the supporting design. When in doubt, please use the default charcoal color supplied above.</p>
  <img src="{{ media('/img/styleguide/identity/mozilla/common-mistakes.png') }}" alt="Common Mistakes" />
</section>
<section id="our-name">
  <h2>Our name</h2>
  <p>Whether you’re talking about the project as a whole or one of our products or innovations, you should only ever use “Mozilla” to refer to the organization. In general, the name doesn’t have to appear directly in front our product names (i.e. Mozilla Firefox), but should be prominent somewhere in the design or text you’re creating (preferably on first mention or using something like Tabzilla). If you are going to use a construction like “Mozilla Firefox,” only use it to refer to official, Mozilla-created products.</p>
</section>
<section id="dino">
  <h2>A note on the dino</h2>
  <p>The classic Mozilla dino head logo served as a symbol of the organization since our earliest days, but has now been retired from active duty. While the brand has evolved, the dino had not been updated in quite some time and is no longer the best representation of who we are today. He spends his days traveling, reading and still looking out for the interests of users everywhere (some habits die hard). We wish him well in his future endeavors. Please use the Mozilla wordmark on all properties and materials instead.</p>
</section>

{% endblock %}
