{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  mozilla-innovations
{% endblock %}

{% set page_title = 'Mozilla innovations' %}

{% block content_area %}
<section id="intro">
    <h2>Introduction</h2>
    <p>We’re always looking for new ways to push the boundaries of the Web and create better experiences for users everywhere. Here are the branding assets related to projects in development.</p>
</section>
<section id="guidelines">
  <div class="guidelines">
    <h2>Guidelines</h2>
    <p>For all permitted uses of our trademarks, you may not:</p>
  </div>
  <ul class="guidelines-list">
    <li>alter our logos in any way</li>
    <li>place a logo in such close proximity to other content that it is indistinguishable</li>
    <li>make our logo the most distinctive or prominent feature on your website, printed material or other content</li>
    <li>use our logos in a way that suggests any type of association or partnership with Mozilla or approval, sponsorship or endorsement by  Mozilla (unless allowed via a license from us)</li>
    <li>use our logos in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person</li>
    <li>use our logos on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities</li>
    <li>use our logos to, or in connection with, content that disparages us or sullies our reputation</li>
  </ul>
</section>
<section id="downloads">
  <div id="webfwd">
    <img src="{{ media('/img/styleguide/identity/mozilla/webfwd.png') }}" alt="Logo" />
    <h3>WebFWD</h3>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/WebFWD/webfwd_logo-only_CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/WebFWD/webfwd_logo-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/WebFWD/webfwd_logo-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
  <div id="labs">
    <img src="{{ media('/img/styleguide/identity/mozilla/labs.png') }}" alt="Logo" />
    <h3>Mozilla Labs</h3>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Mozilla%20Labs/mozilla-labs_wordmark.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Mozilla%20Labs/mozilla-labs_wordmark-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Mozilla%20Labs/mozilla-labs_wordmark-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
  <div id="firebug" class="clear">
    <img src="{{ media('/img/styleguide/identity/mozilla/firebug.png') }}" alt="Logo" />
    <h3>Firebug</h3>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Projects/Firebug/firebug_logo-only_CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Projects/Firebug/firebug_logo-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Projects/Firebug/firebug_logo-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
  <div id="pancake">
    <img src="{{ media('/img/styleguide/identity/mozilla/pancake.png') }}" alt="Logo" />
    <h3>Pancake</h3>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Projects/Pancake/pancake_logo-only_CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Projects/Pancake/pancake_logo-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Projects/Pancake/pancake_logo-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
  <div id="rust">
    <img src="{{ media('/img/styleguide/identity/mozilla/rust.png') }}" alt="Logo" />
    <h3>Rust</h3>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Projects/Rust/rust_logo-only_CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Projects/Rust/rust_logo-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Projects/Rust/rust_logo-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>

{% endblock %}
