{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  thunderbird-wordmarks
{% endblock %}

{% set page_title = 'Thunderbird wordmarks' %}

{% block content_area %}
<section id="intro">
  <h2>Usage</h2>
  <p>Whether representing our channels in words alone (like when you need a one-color logo) or in lockup with our logos, here are the assets you’ll need and the rules they follow.</p>
</section>
<section id="thunderbird">
  <div class="build">
    <h2>Thunderbird</h2>
    <p>Our standard Thunderbird wordmark is set in Meta Medium and uses our standard <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/283" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/284" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/285" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/295" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/296" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/297" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="thunderbird-beta">
  <div class="build">
    <h2>Thunderbird Beta</h2>
    <p>The Thunderbird Beta wordmark uses our standard product + sub-brand <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-beta-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-beta.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/274" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/275" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/276" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/286" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/287" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/288" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="thunderbird-earlybird">
  <div class="build">
    <h2>Thunderbird Earlybird</h2>
    <p>The Thunderbird Earlybird wordmark uses our standard product + sub-brand <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-earlybird-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-earlybird.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/280" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/281" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/282" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/292" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/293" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/294" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="thunderbird-daily">
  <div class="build">
    <h2>Thunderbird Daily</h2>
    <p>The Thunderbird Daily wordmark uses our standard product + sub-brand <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ static('img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-daily-logo.png') }}" alt="Logo" />
    <img src="{{ static('img/styleguide/identity/thunderbird/wordmark-daily.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + logo</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/277" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/278" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/279" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only</p>
    <ul class="button-list">
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/277" class="button-sand">EPS</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/278" class="button-sand">JPG (300dpi)</a></li>
      <li><a href="https://assets.mozilla.org/portal/assets/#asset/279" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>

{% endblock %}
