// *** WARNING ***
// The fonts used here are not approved for wide use on mozilla.org.
// Don't reference this include anywhere but the "Fights for You" page.
// Global brand fonts will be managed upstream in Protocol.

@font-face {
    font-family: sharpsans;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://assets.mozilla.net/fonts/SharpSans-Bold.woff2') format('woff2'),
         url('https://assets.mozilla.net/fonts/SharpSans-Bold.woff') format('woff');
}
