// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';

/* -------------------------------------------------------------------------- */
// Firefox Hub: Outro Components


// Remove horizontal divider since these components both have colored backgrounds.
.outro .content:before {
    content: none;
}

.outro-item {
    margin-bottom: 40px;
    padding: 20px;
    color: #fff;

    .tagline {
        font-style: italic;
    }

    @media #{$mq-desktop} {
        padding: 40px;
    }

    @media #{$mq-desktop-wide} {
        h2 {
            @include font-size(64px);
        }

        .tagline {
            @include font-size(36px);
            line-height: 1.2;
        }
    }

    @media #{$mq-desktop-wide} {
        min-height: 358px;
    }
}

.outro-item-detail {
    @media #{$mq-tablet} {
        width: 45%;
    }
}

.outro-item-newsletter {
    background-color: #0a84ff;
    @include at2x('/media/img/firefox/hub/critters.jpg', 280px, 230px);
    background-repeat: no-repeat;
    background-position: top -50px center;
    padding-top: 190px;

    @media screen and (min-width: 560px) {
        @include background-size(400px, 328px);
        background-position: right -140px top -20px;
        padding-top: 20px;

        .outro-item-detail {
            width: 50%;
        }
    }

    @media #{$mq-tablet} {
        @include background-size(500px, 410px);
        background-position: right -160px top -40px;
    }

    @media #{$mq-desktop} {
        @include background-size(600px, 494px);
        background-position: right -120px top -60px;
    }

    @media #{$mq-desktop-wide} {
        @include background-size(750px, 617px);
        background-position: right -60px top -140px;
    }

    a:link,
    a:visited {
        color: #fff;
        text-decoration: underline;
    }
}

html[dir="rtl"] {

    .outro-item-newsletter {

        @media screen and (min-width: 560px) {
            background-position: left -140px top -20px;
        }

        @media #{$mq-tablet} {
            background-position: left -160px top -40px;
        }

        @media #{$mq-desktop} {
            background-position: left -120px top -60px;
        }

        @media #{$mq-desktop-wide} {
            background-position: left -60px top -140px;
        }
    }
}

#newsletter-form {
    width: 100%;

    @media screen and (min-width: 640px) {
        max-width: 300px;
    }

    input[type="email"] {
        @include open-sans();
        border-color: #fff;
        border-radius: 0;
        padding: .5em 10px;
        width: 100%;
    }

    #form-details {
        @include font-size(16px);
        padding-top: 20px;
    }

    button[type="submit"] {
        margin: 20px 0 5px;
    }

    label {
        @include font-size(16px);
    }

    select {
        @include open-sans();
        max-width: 100%;
    }

    .field {
        margin-bottom: 5px;
    }
}

#footer-email-errors {
    .errorlist {
        background: #fff;
        color: $color-mozred;
    }
}
