// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../hubs/sections';
@import '../../pebbles/components/newsletter';
@import '../../hubs/sub-nav';
@import '../../hubs/cards';
@import '../../hubs/buttons';
@import './news-feed';
@import './outro';

#hub-content {
    @include font-size(20px);
    @include zilla-slab;

    .form-button,
    .form-contents,
    .form-submit,
    .fx-privacy-link a {
        @include open-sans();
    }

    .fx-privacy-link a {
        color: #9c432a;
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}

.page-section,
.news {
    .content:before {
        @include gradient-horizontal($start-color: #69B9D0, $end-color: #9a4229);
        border: 0;
        content: '';
        display: block;
        height: 6px;
        margin: 0;
        min-width: 0;
        padding: 0;
        width: 100%;
    }

    &:first-child .content:before {
        height: 10px;
    }
}

/* -------------------------------------------------------------------------- */
// Intro

#intro {
    padding-top: 20px;

    h1 {
        @include at2x('/media/img/logos/firefox/logo-wordmark-small.png', 280px, 105px);
        height: 105px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 280px;

        span {
            @include image-replaced();
            display: inline-block;
            color: #000;
            padding: 0 3px;
        }
    }

    p {
        @include font-size-level2;
        color: #4a4a4a;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
        text-align: center;
        text-transform: lowercase;
    }

    @media #{$mq-tablet} {
        h1 {
            @include at2x('/media/img/logos/firefox/logo-wordmark-large.png', 500px, 188px);
            height: 188px;
            margin-left: 0;
            margin-right: 0;
            width: 500px;
        }

        p {
            text-align: left;
        }
    }

    @media #{$mq-desktop} {
        @include clearfix();

        .column {
            float: left;
            width: 66%;
        }

        #download-intro-wrapper {
            margin-top: 0;
            width: 33%;
        }
    }
}

@supports (display: grid) {
    @media #{$mq-desktop} {
        #intro {
            display: grid;
            grid-gap: 20px;
            grid-template: 1fr / 3fr 2fr;

            &:after {
                content: none;
                display: none;
            }

            .column {
                float: none;
                width: auto;
            }

            #download-intro-wrapper {
                margin: 0;
            }
        }
    }
}

#download-intro-wrapper {
    margin-top: 40px;
    text-align: center;
}

@supports (display: flex) {
    @media #{$mq-tablet} {
        #intro #download-intro-wrapper {
            align-items: center;
            display: flex;
            float: none;
            justify-content: center;
            margin: 20px 0;
            width: auto;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Features

#features {
    padding-top: 40px;

    .card-stacked {
        border-width: 4px;
    }
}

#private.featured-image-card {
    background-image: url('/media/img/firefox/hub/texture-private.jpg');
}

#modern.featured-image-card {
    background-image: url('/media/img/firefox/hub/texture-modern.jpg');
}

#independent.featured-image-card {
    background-image: url('/media/img/firefox/hub/texture-independent.jpg');
}

/* -------------------------------------------------------------------------- */
// Blogosphere 🌎

// temporary hacks to get my markup working with agibson's includes
.news {
    .section-title {
        @extend .card-label;
        margin-top: 20px;
    }
}

#feeds .content:before {
    display: none;
}

/* -------------------------------------------------------------------------- */
// Sync

#sync-card {
    .card-content-wrapper {
        background-image: url('/media/img/firefox/hub/sync.jpg');
        background-size: 100%;
    }

    @media #{$mq-tablet} {
        .card-content-wrapper {
            @include at2x('/media/img/firefox/hub/sync-large.jpg', 100%, auto);
        }
    }
}
