{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/base.html" %}

{% set_lang_files "firefox/australis/firefox_tour" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{#- This will appear as <meta property="og:title"> which can be used for social share -#}
{% block page_og_title %}
  {{_('Choose the independent browser')}}
{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}
  {{_('Firefox is non-profit, non-corporate, non-compromised. Choosing Firefox isn’t just choosing a browser. It’s a vote for personal freedom.')}}
{% endblock %}

{#- Override <meta property="og:url"> for social share -#}
{% block page_og_url %}{{ url('firefox') }}{% endblock %}

{% block body_class %}sky{% endblock %}

{% block site_header %}
  <header id="masthead">
    <div id="tabzilla">
      <a href="{{ url('mozorg.home') }}" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
    </div>
    {% block site_header_nav %}{% endblock %}
    {% block site_header_logo %}{% endblock %}
    {% block breadcrumbs %}{% endblock %}
  </header>
{% endblock %}

{% block content %}
  <article id="tour-page" data-telemetry="{% block telemetry_id %}{% endblock %}">
    {% block main_heading %}{% endblock %}
    <div class="main-container">
      <section class="sync">
        <div class="inner-container">
          {% block sync_content %}{% endblock %}
        </div>
      </section>
    </div>
    <aside class="separator">
      {% block aside_content %}{% endblock %}
    </aside>
  </article>
{% endblock %}

{% block site_footer %}{% endblock %}
{% block email_form %}{% endblock %}
{% block js %}{% endblock %}

{# Bug 1381776 #}
{% block update_notification %}{% endblock %}
