{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/australis/tour-base.html" %}

{% block ga_experiments %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='71153379-35',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endblock %}

{% set survey_id = 'a' %}

{% block body_id %}whatsnew{% endblock %}

{% block string_data %}
{# L10n: This is the label for a button that opens the tour modal dialog #}
data-open="{{ _('Open tour') }}"
{# L10n: This is the label for a button that closes the tour modal dialog #}
data-close="{{ _('Close tour') }}"
{# L10n: This is the label for a button that proceeds to the next step of the tour #}
data-next="{{ _('Next') }}"
{# L10n: This is the label for a button that starts the tour #}
data-start="{{ _('Let’s go') }}"
{# L10n: This is the label for a button that delays starting the tour #}
data-later="{{ _('Not now') }}"
{# L10n: This is the title for a door-hanger menu that shows in the browser chrome #}
data-title="{{ _('See what’s changed') }}"
{# L10n: This is the text for a door-hanger menu that shows in the browser chrome #}
data-text="{{ _('It starts with the completely redesigned menu.') }}"
{# L10n: This is the text for a call to action that appears in the web page #}
data-later-cta="{{ _('Take the tour to explore the latest design and features') }}"
{# L10n: This is the label that represents tour step one of four #}
data-step1="{{ _('1/4') }}"
{# L10n: This is the label that represents tour step two of four #}
data-step2="{{ _('2/4') }}"
{# L10n: This is the label that represents tour step three of four #}
data-step3="{{ _('3/4') }}"
{# L10n: This is the label that represents tour step four of four #}
data-step4="{{ _('4/4') }}"
{% endblock %}

{% block tour_content %}
  <div id="ui-tour" tabindex="-1" aria-expanded="false">
    <div class="tour-inner">
      <div id="tour-progress" class="progress-step">
        <div class="logo"></div>
        <span class="step"></span>
        <div class="progress" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4">
          <span class="indicator"></span>
        </div>
      </div>
      <ul class="ui-tour-list">
        <li class="tour-step current app-menu visible" data-step="1" data-tip-next="{{ _('<span>Next:</span> Customize') }}">
          <div class="tour-item">
            {# L10n: <br> tag below used for formatting only. #}
            <h2 class="tour-highlight step-target" data-target="appMenu" data-effect="wobble">
              {{ _('Find your favorite features<br> in the menu') }}
            </h2>
            <ul>
              <li>{{ _('Conveniently located in one place') }}</li>
              <li>{{ _('Includes what you use most') }}</li>
              <li>{{ _('Easy for you to make it your own') }}</li>
            </ul>
          </div>
          {{ high_res_img('img/firefox/australis/diag-menu-bar.jpg?03-2014', {'alt': _('Get your favorite features in one place'), 'width': '300', 'height': '188'}) }}
        </li>
        <li class="tour-step app-menu" data-step="2" data-tip-prev="{{ _('<span>Previous:</span> Menu') }}" data-tip-next="{{ _('<span>Next:</span> Add-ons') }}">
          <div class="tour-item">
            {# L10n: <br> tag below used for formatting only. #}
            <h2 class="tour-highlight step-target" data-target="customize" data-effect="wobble">
              {{ _('Customize it to match<br> how you browse') }}
            </h2>
            <ul>
              <li>{{ _('Rearrange buttons to suit your needs') }}</li>
              <li>{{ _('Drag and drop them where you want') }}</li>
              <li>{{ _('Get one-click access to your add-ons') }}</li>
            </ul>
          </div>
          {{ high_res_img('img/firefox/australis/diag-customize.jpg?03-2014', {'alt': _('Add, move or remove features to customize Firefox to meet your needs'), 'width': '300', 'height': '188'}) }}
        </li>
        <li class="tour-step app-menu" data-step="3" data-tip-prev="{{ _('<span>Previous:</span> Customize') }}" data-tip-next="{{ _('<span>Next:</span> Bookmarks') }}">
          <div class="tour-item">
            {# L10n: <br> tag below used for formatting only. #}
            <h2 class="tour-highlight step-target" data-target="addons" data-effect="wobble">
              {{ _('Add features and styles<br> with add-ons') }}
            </h2>
            <ul>
              <li>{{ _('Change how your browser looks and works') }}</li>
              <li>{{ _('Thousands to choose from') }}</li>
              <li>{{ _('Can now live in your menu or toolbar') }}</li>
            </ul>
          </div>
          {{ high_res_img('img/firefox/australis/diag-addons.jpg?03-2014', {'alt': _('Get your favorite features in one place'), 'width': '300', 'height': '188'}) }}
        </li>
        <li class="tour-step" data-step="4" data-tip-prev="{{ _('<span>Previous:</span> Add-ons') }}">
          <div class="tour-item">
            {# L10n: <br> tag below used for formatting only. #}
            <h2 class="tour-highlight step-target" data-target="bookmarks" data-effect="wobble">
              {{ _('Use the star for quick,<br> easy bookmarking') }}
            </h2>
            <ul>
              <li>{{ _('Now located outside the address bar') }}</li>
              <li>{{ _('Add bookmarks with a single click') }}</li>
              <li>{{ _('Manage them from the same location') }}</li>
            </ul>
          </div>
          {{ high_res_img('img/firefox/australis/diag-bookmarks.jpg?03-2014', {'alt': _('Get your favorite features in one place'), 'width': '300', 'height': '188'}) }}
        </li>
      </ul>
      <div class="compact-title"></div>
      <div class="tour-init" data-target="appMenu" data-icon="{{ MEDIA_URL }}img/firefox/australis/logo.png?2014-03" data-icon-high-res="{{ MEDIA_URL }}img/firefox/australis/logo-high-res.png?2014-03"></div>
      <div class="cta">
        <button type="button" aria-controls="ui-tour">{{ _('Start browsing') }}</button>
      </div>
      <div class="tour-tip"></div>
      <div class="ui-tour-controls" aria-controls="ui-tour tour-content tour-progress">
        <button class="step prev">{{ _('Previous') }}</button>
        <button class="step next">{{ _('Next') }}</button>
        <button class="close">{{ _('Close') }}</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block tour_mask %}
  <div id="ui-tour-mask" tabindex="-1">
    <div class="mask-inner">
      <div class="logo"></div>
      <div class="stage">
        <h1>
          <span class="lead">{{ _('Welcome to the') }}</span>
          <span class="main">{{ _('new Firefox') }}</span>
        </h1>
        <p>{{ _('The fast, flexible browser you can trust.') }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ js('firefox_australis_tour_whatsnew') }}
{% endblock  %}
