// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../protocol/css/includes/lib';
@import '../../protocol/css/components/article';
@import '../../protocol/css/includes/mixins/details';

//* -------------------------------------------------------------------------- */
// Index

dt {
    @include font-mozilla;
    @include text-display-xs;
    font-weight: bold;
    margin-top: $spacing-sm;
}

dd {
    padding: $spacing-sm;
}

//* -------------------------------------------------------------------------- */
// Base Template

.l-content-narrow {
    max-width: $content-lg;
}

.reports-nav {
    margin: 0 auto;
    text-align: center;

    li {
        margin: $spacing-sm;

        a {
            display: block;
            min-width: ($content-md / 3);
        }

        @media #{$mq-md} {
            display: inline-block;
        }
    }
}

.prev-reports-nav {
    margin: 0 auto $layout-md;
    text-align: center;

    @media #{$mq-md} {
        width: $content-md;

        li {
            display: inline-block;
            position: relative;

            a {
                margin: $spacing-sm;
            }

            &:not(:last-child):after {
                content: '•';
                position: absolute;
            }
        }
    }
}

//* -------------------------------------------------------------------------- */
// Report Template

.c-page-header {
    @include font-mozilla;
    @include text-display-xs;
    background: $color-black;
    color: $color-white;

    span {
        @include text-display-xs;
        display: block;
        margin-top: $spacing-md;
    }
}

.mzp-c-article {
    margin: 0 auto $layout-lg;
}

h2 {
    @include font-mozilla;
    @include text-display-md;
    margin-top: $spacing-2xl;
}

h3 {
    @include font-mozilla;
    @include text-display-sm;
    margin-top: $spacing-2xl;
}

.footnotes {
    @include text-body-sm;
}

//* -------------------------------------------------------------------------- */
// Collapsible Sections

  .c-collapsible-section button {
    @include font-mozilla;
    @include summary;
    @include text-display-md;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding-right: 48px;
    text-align: inherit;
    width: 100%;
  }

  .c-collapsible-section button[aria-expanded=true]:before {
      @include summary-open;
  }

  .c-collapsible-section .is-closed[aria-hidden=true] {
      display: none;
  }
