// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../protocol/css/includes/lib';

.mzp-c-article h2 {
    margin: $layout-md 0 $layout-sm;
}

section > ol > li {
    margin-bottom: 10px;
    word-wrap: break-word;
}

ol li ol {
    margin-bottom: 0;
}

#faq {
    h2 {
        @include text-display-lg;
    }

    h3 {
        @include text-display-xs;
        @include font-base;
    }

    details {
        margin-bottom: $layout-sm;
    }
}

#patent-nav {
    padding: 5px 0;
    margin: 10px auto 20px;

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: block;
        margin: 0 10px;
    }
}

@media #{$mq-lg} {
    #patent-nav li {
        display: inline-block;
    }
}
