// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

section > ol > li {
    margin-bottom: @baseLine;
    word-wrap: break-word;
}

ol li ol {
    margin-bottom: 0;
}

#faq {
    .span(8);

    h2 {
        .font-size(18px);
        line-height: 1.5;
    }
}

.accordion.zebra > section:nth-of-type(odd) {
  background: #eee;
}

#patent-nav {
    padding: 5px 0;
    background: #f5f5f5;
    margin: @baseLine auto @baseLine * 2;

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline;
        margin: 0 10px;
    }
}

@media only screen and (max-width: @breakDesktop) {

    #patent-nav li {
        display: block;
    }

    #faq {
        .span-all();
    }
}
