// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../protocol/css/includes/lib';


.c-forum-search {
    background-color: $color-gray-20;
    margin-bottom: $spacing-md;
    padding: $spacing-sm;

    input[type=text] {
        margin-bottom: $spacing-sm;
    }
}

.forum-group {
    margin-bottom: ($gutter-width * 2);
}

.forum-group .top {
    float: right;
    color: $color-gray-50;
    padding-left: $layout-sm;
    @include text-body-sm;
}

.forums {
    @include text-body-sm;

    ul {
        margin: 0;
    }

    & > li {
        list-style-type: none;
        border-top: 1px solid $color-gray-30;
        padding: 10px 20px;
        margin: 0 -20px;
        @include clearfix;
    }

    & > li:target{
        background: $color-yellow-5;
    }

    .summary {
        @media #{$mq-lg} {
            @include border-box;
            float: left;
            padding-right: $layout-sm;
            width: 50%;
        }
    }

    .subscribe {
        color: $color-gray-70;
        list-style-type: disc;

        @media #{$mq-lg} {
            margin-right: 0;
        }
    }

    h4 {
        position: relative;
        letter-spacing: 0;
        margin: 0 .5em 0 0;
        @include font-base;
        @include text-body-md;
        font-weight: bold;

        a {
            position: absolute;
            top: 0;
            left: -1em;
            @include text-body-sm;
            color: $color-gray-30;

            &:hover,
            &:focus {
                color: $color-link-hover;
            }
        }
    }
}

.mzp-c-article {

    img {
        vertical-align: middle;
    }

    .toc {
        margin: $layout-md 0;
    }
}
