// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

.topic-image(@width: 180px, @height: 180px) {
    display: block;
    content: '';
    margin: 0 auto;
    width: @width;
    height: @height;
}

.data-header {
    margin: 0 auto -10px;
    width: 100%;

    img {
        width: 100%;
    }
}

.about-lean-data * {
    .border-box;
}

// fix for global selector border-box usage above.
.moz-global-nav-drawer {
    width: 320px;
}

main {
    background-color: #fff;
    margin: 0 auto;
    padding: 0 30px;
    width: 1000px;

    @media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
        width: 780px;
    }

    @media only screen and (max-width: @breakTablet) {
        width: 100%;
    }

    p,
    ul {
        .font-size(1rem);
    }

    .title-shadow-box {
        width: 360px;
        min-height: 80px;

        @media only screen and (max-width: @breakTablet) {
            .font-size(2rem);
        }

        @media only screen and (max-width: @breakMobileLandscape) {
            width: 260px;
        }

        @media only screen and (max-width: @breakMobile) {
            width: 240px;
        }
    }

    .lead-in {
        margin-bottom: 30px;
        .font-size(1.8rem);
        line-height: 1.2;
        text-align: center;
        clear: both;
        .open-sans-light;

        @media only screen and (max-width: @breakMobileLandscape) {
            .font-size(1.2rem);
        }
    }
}

.github-button {
    display: block;
    background-color: #0C99D5;
    color: #fff;
    margin: 0 auto;
    padding: 10px 4px;
    border: none;
    border-radius: 6px;
    width: 250px;
    .font-size(0.875rem);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease 0s;

    &:link,
    &:visited {
        color: #fff;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        background-color: #2165A9;
    }

    &:before {
        display: inline-block;
        content: '';
        .at2x('/media/img/mozorg/about/lean-data/github-icon.png', 40px, 40px);
        background-repeat: no-repeat;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
}

.box-container {
    vertical-align: top;
}

.why {
    background: transparent url('/media/img/mission/thin-stripe.png') 0 100% repeat-x;
    padding: (@baseLine * 3) 0;
    text-align: center;

    h3 {
        margin-bottom: 4rem;
        .font-size(2.5rem);
        .open-sans-light;

        @media only screen and (max-width: @breakMobileLandscape) {
            .font-size(2rem);
        }
    }

    h4 {
        .font-size(1.5rem);

        @media only screen and (max-width: @breakTablet) {
            /* sandstone override */
            .font-size(1.5rem);
        }
    }

    ol {
        margin: 0 auto;
        max-width: 600px;
        text-align: left;

        li {
            position: relative;
            margin: 0 0 15px;
            padding: 10px 0 0 70px;
            min-height: 55px;
            .font-size(@largeFontSize);
            list-style-type: none;
        }
    }

    .list-number {
        width: 55px;
        height: 55px;
        position: absolute;
        left: -5px;
        top: 0;
    }
}

.how {
    padding-top: @baseLine * 2;
    text-align: center;
    .clearfix;

    h3 {
        .font-size(2.5rem);
        .open-sans-light;

        @media only screen and (max-width: @breakMobileLandscape) {
            .font-size(2rem);
        }
    }

    h4 {
        margin-top: 3rem;
        .font-size(1.5rem);
    }

    ul {
        margin: 0 0 @baseLine 0;
        padding: 0;
    }

    .topic-content {
        display: inline-block;
        margin: 0 10px;
        width: 280px;
        vertical-align: top;

        @media only screen and (max-width: @breakDesktop) {
            display: block;
            width: 100%;
        }

        p {
            font-style: italic;
        }

        li {
            margin: 0 0 10px @baseLine;
            text-align: left;
        }
    }

    .topic-content:first-child {
        margin-left: 0;
    }

    .topic-content:last-child {
        margin-right: 0;
    }

    .lean:before {
        background: transparent url('/media/img/mozorg/about/lean-data/lean-data-icon.svg') 0 0 no-repeat;
        .topic-image(220px, 130px);
    }

    .security:before {
        background: transparent url('/media/img/mozorg/about/lean-data/security-icon.svg') 0 0 no-repeat;
        .topic-image(130px, 130px);
    }

    .engage:before {
        background: transparent url('/media/img/mozorg/about/lean-data/engage-users-icon.svg') 0 0 no-repeat;
        .topic-image(130px, 130px);
    }
}

.toolkit {
    padding: (@baseLine * 6) 0 (@baseLine * 5);
    text-align: center;

    @media only screen and (max-width: @breakMobileLandscape) {
        padding-top: (@baseLine * 3);
    }

    h3 {
        .font-size(4rem);

        @media only screen and (max-width: @breakMobileLandscape) {
            .font-size(2.5rem);
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;

        &:first-child {
            margin-right: 100px;
        }
    }

    p {
        margin: 0 auto 30px;
        max-width: 600px;
        .font-size(1.5rem);
        line-height: 1.2;
        text-align: center;
        .open-sans-light;

        @media only screen and (max-width: @breakMobileLandscape) {
            .font-size(1.2rem);
        }
    }

    .simple-button:link,
    .simple-button:visited {
        display: block;
        padding: 5px @baseLine;
        border: 1px solid #e0e0e0;
    }
}
