// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/templates/multi-column';
@import '../m24/vars/spacing';
@import '../m24/vars/text';

$color-ads-off-black: #161616;

.mzp-t-dark.mozads-t-dark {
    background-color: $color-ads-off-black;
}

.c-sub-navigation-list {
    a[href*='anonymco.com'],
    a[href*='mozilla.formstack.com'] {
        padding-right: 1.2em;
        background: url('/media/protocol/img/icons/external-link.svg') right
            center no-repeat;
        background-size: 1em auto;
    }
}

#mozads-main {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}

.mozads-c-callout {
    text-align: center;
    font-weight: 300;
    background-color: $color-ads-off-black;
    position: relative;

    > * {
        margin: 0 auto;
        padding: 0 $container-padding;
        max-width: $content-max;
        z-index: 1;
        position: relative;
    }

    h1 {
        font-size: $text-title-2xl;
        font-family: $font-stack-mozilla-text;
        line-height: 0.9;
        color: white;
        font-weight: 300;
        letter-spacing: -2%;
    }

    .mozads-c-callout-button {
        font-weight: 300;
        border-radius: 0;
    }

    .mozads-c-callout-section {
        height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mozads-c-callout-card {
        font-weight: 300;
        border: 2px solid $color-ads-off-black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        background-color: $background-color;
        padding: $spacing-lg;
        margin: $spacing-md;
        font-size: $text-title-sm;

        a {
            font-size: $text-button-sm;
        }
    }

    .mozads-c-callout-bg {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: 100%;
        z-index: 0;

        .mozads-c-callout-bg-inner {
            position: sticky;
            top: 0;
            height: 100vh;
        }

        .bg-image {
            position: absolute;
            display: grid;

            > * {
                grid-area: 1/1;
                margin: 0;
            }

            .layer-1 {
                z-index: 1;
            }

            .layer-2 {
                position: absolute;
                top: 0;
                right: 0;
                height: 50%;
                z-index: 2;
                mask:
                    linear-gradient(#000 0 0),
                    linear-gradient(#000 50%, #0000 0) content-box 0% 0% / 200%
                        200% no-repeat;
                -webkit-mask:
                    linear-gradient(#000 0 0),
                    linear-gradient(#000 50%, #0000 0) content-box 0% 0% / 200%
                        200% no-repeat;
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                transition: 300ms ease-in;

                &.active {
                    mask-position:
                        0% 0%,
                        100% 100%;
                    -webkit-mask-position:
                        0% 0%,
                        100% 100%;
                }
            }

            .layer-3 {
                z-index: 3;
            }

            // desktop images
            &:nth-child(1) {
                top: 2vh;
                left: 0;
                max-width: 50%;
            }

            &:nth-child(2) {
                bottom: 2vh;
                right: 0;
                max-width: 50%;
            }

            &:nth-child(3) {
                bottom: 2vh;
                left: 0;
                display: none;
            }

            &:nth-child(4) {
                top: 2vh;
                right: 0;
                display: none;
            }

            // mobile images
            --bg-image-height-width: 10vh;

            &:nth-child(5),
            &:nth-child(6) {
                .layer-2 {
                    height: var(--bg-image-height-width);
                    width: var(--bg-image-height-width);
                }
            }

            &:nth-child(5) {
                bottom: 2vh;
                left: 0;
                height: var(--bg-image-height-width);
                width: var(--bg-image-height-width);
            }

            &:nth-child(6) {
                top: 2vh;
                right: 0;
                height: var(--bg-image-height-width);
                width: var(--bg-image-height-width);
            }
        }
    }
}

.mozads-header {
    text-align: start;
    padding: $layout-md 0;

    .mzp-c-callout-desc {
        @include text-body-xl;
    }

    @media #{$mq-lg} {
        .mzp-c-callout-title {
            @include text-title-2xl;
        }

        .mzp-c-callout-desc {
            max-width: 60ch;
        }
    }
}

.mozads-footer {
    text-align: start;
}

.mozads-anonym .mzp-c-split-media-asset {
    margin: 0 auto;
}

.mozads-content-intro {
    @include text-body-xl;

    @media #{$mq-lg} {
        .ads-section-header & {
            max-width: 60ch;
        }
    }
}

.mozads-product {
    padding-bottom: $layout-md;

    .mzp-c-split-media-asset {
        border-radius: $border-radius-lg;
        margin: 0 auto;
    }
}

.mozads-valueprops {
    .mzp-c-picto-body p {
        margin: 0;
    }
}

.mozads-product-audience {
    background: $color-light-gray-20;
    border-radius: $border-radius-lg;
    padding: $spacing-lg $spacing-md;
    margin-top: $spacing-md;
    text-align: start;

    & > p:last-child {
        margin-bottom: 0;
    }

    @media #{$mq-lg} {
        @include text-body-sm;
        display: flex;
        text-align: center;
        padding: 0;

        & > p {
            border-right: 1px solid $color-light-gray-40;
            flex: 1 1 0;
            margin: 0;
            padding: $spacing-lg $spacing-md;

            &:last-child {
                border: 0;
            }
        }

        strong {
            @include font-mozilla-headline;
            @include text-title-md;
            display: block;
            margin-bottom: $spacing-sm;
        }
    }
}

@media #{$mq-md} {
    .mozads-c-callout {
        h1 {
            font-size: 8rem;
        }

        .mozads-c-callout-card {
            min-height: 24rem;
            max-width: $content-md;
        }

        .mozads-c-callout-bg {
            .bg-image {
                &:nth-child(3),
                &:nth-child(4) {
                    display: grid;
                }

                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
}

@media #{$mq-xl} {
    .mozads-principles.mzp-t-picto-side {
        .mzp-c-picto {
            padding-left: $layout-2xl;
        }

        .mzp-c-picto-image {
            width: 135px;
        }
    }
}
