// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#map {
    display: none;
}

.page-title {
    background: #b30406;
}

#page-content {
    margin-top: 140px;
}

.category-tabs {
    li {
        a {
            width: 218px;
        }
    }
}

#outer-wrapper {
    overflow: hidden;
}

.nav-category {

    .current > a {
        background-image: url(/media/img/contact/arrow-current.png);
    }

    // down arrow
    .hasmenu > a {
        background-image: url(/media/img/contact/arrow-down.png);
    }

    // up arrow
    .hasmenu.open > a {
        background-image: url(/media/img/contact/arrow-up.png);
    }
}
