// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#tabzilla:before {
    background-color: @textColorSecondary;
}

/*--------------------------------------------------------------------------*/
// Reset some template defaults for full-width containers

#wrapper {
    width: 100%;
}

#masthead,
.billboard,
.page-head {
    width: @widthDesktop - (@gridGutterWidth * 2);
    margin-left: auto;
    margin-right: auto;
}



/*--------------------------------------------------------------------------*/
// Page head

.page-head {
    margin-top: 48px;
    text-align: center;

    .page-title {
        .font-size(62px);
    }

    .intro {
        .font-size(@largeFontSize);
        margin: 0 @gridColumnWidth 1.5em;
    }
}



/*--------------------------------------------------------------------------*/
// Links block

.links {
    .clearfix();
    margin: 0;

    li {
        .span(4);
        list-style-type: none;
        margin-bottom: @baseLine;
        padding-bottom: 10px;
        background: url('/media/img/mission/thin-stripe.png') center bottom repeat-x;
        min-height: 7em;

        &:nth-last-child(-n+3) {
            background: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    h4 {
        .font-size(24px);

        a:after {
            content: " »";
            white-space: nowrap;
        }
    }

    p {
        margin-bottom: @baseLine / 2;
    }
}



/*--------------------------------------------------------------------------*/
// @Slide show

#slideshow-stage {
    margin-bottom: 40px;
}

.slide {
    .clearfix;
    border-top: 1px solid #d8d5d1;
    list-style: none;
    margin: 0 20px 10px;
    padding: 20px 0 0 160px;

    .number {
        background: url('/media/img/mozorg/history/numbers.png') no-repeat;
        display: block;
        float: left;
        margin: 0 20px 5px -150px;
        opacity: 1;
        overflow: hidden;
        text-indent: -999em;
    }

    .message {
        .open-sans-light;
        .font-size(18px);
        margin: 0;
        opacity: 1;
        padding: 10px 10px 0;

    }

    .message p {
        margin: 0 0 10px;
    }
}

#slideshow.on {
    height: 340px;
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    .slides {
        height: 340px;
        width: 100%;
        list-style: none;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        .slide {
            height: 100%;
            width: 100%;
            position: absolute;
            margin: 0;
            padding: 0;
            border: 0;

            > * {
                position: absolute;
                z-index: 10;
            }

            > .back {
                z-index: 1;
            }
        }
    }
}

/*--------------------------------------------------------------------------*/
// Slide controls

.slide-control {
    display: none;
}

.on .slide-control {
    display: block;
    width: @widthDesktop - (@gridGutterWidth * 2);
    height: 0;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 0;
    margin-left: -(@widthDesktop - (@gridGutterWidth * 2))/2;

    .prev,
    .next {
        position: absolute;
        top: 140px;
        opacity: .6;
        width: 44px;
        height: 60px;
        border: 0;
        background: transparent url('/media/img/mozorg/history/slide-arrows.png') no-repeat;
        display: block;
        text-indent: -99em;
        cursor: pointer;
        overflow: hidden;
        -webkit-transition: opacity .3s ease-in-out,
                            left .3s ease-in-out,
                            right .3s ease-in-out;
                transition: opacity .3s ease-in-out,
                            left .3s ease-in-out,
                            right .3s ease-in-out;
    }

    .prev {
        left: -10px;
        background-position: 0 0;

        &:hover,
        &:focus {
            left: -14px;
            opacity: 1;
        }
    }

    .next {
        right: -10px;
        background-position: 100% 0;

        &:hover,
        &:focus {
            right: -14px;
            opacity: 1;
        }
    }
}

// Basic transitions for slide elements
.base-animate-in {
    -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87),
                        margin-left 2s cubic-bezier(.6,-0.08,.6,1.08),
                        margin-top 2s cubic-bezier(.6,-0.08,.6,1.08);
            transition: opacity 1s cubic-bezier(.86,.01,.86,.87),
                        margin-left 2s cubic-bezier(.6,-0.08,.6,1.08),
                        margin-top 2s cubic-bezier(.6,-0.08,.6,1.08);
}

// animate-out is the same as animate-in, but with a .8s delay on the opacity
.base-animate-out {
  -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                      margin-left 2s cubic-bezier(.6,-0.08,.6,1),
                      margin-top 2s cubic-bezier(.6,-0.08,.6,1);
          transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                      margin-left 2s cubic-bezier(.6,-0.08,.6,1),
                      margin-top 2s cubic-bezier(.6,-0.08,.6,1);
}



/*--------------------------------------------------------------------------*/
// Base styles for all slides

.on {
    .number,
    .message,
    .block1,
    .block2,
    .block3 {
        display: block;
        float: none;
        left: 50%;
        margin: 0 0 0 2000px;
        opacity: 0;
        position: absolute;
        z-index: 5;
    }

    .number {
        text-indent: -999em;
        overflow: hidden;
    }

    .message {
        color: #fff;
        .open-sans-light;
        .font-size(24px);
        line-height: 1.15;
        font-style: italic;
        letter-spacing: -.025px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
    }

    .message p {
        opacity: 0;
        .transition(opacity .3s ease-in 0s);
    }

    .message cite {
        font-style: normal;
    }

    .back {
        background-repeat: repeat-x;
        display: block;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

// Base fixes for locales
[lang='km'] .on .message {
    line-height: 1.4;
}

// Slides going from 'ready' to 'in'
.on .animate-in {
    .number,
    .message,
    .block1,
    .block2,
    .block3 {
        .base-animate-in;
        opacity: 1;
    }

    .message p {
        .transition(opacity .3s ease-in 1.6s);
        opacity: 1;
    }

    .back {
        opacity: 1;
        -webkit-transition: opacity 1.5s linear,
                            background-position 2.6s ease-in-out;
                transition: opacity 1.5s linear,
                            background-position 2.6s ease-in-out;
    }
}


// Slides going from 'in' to 'out'
.on .animate-out {
    .number,
    .message,
    .block1,
    .block2,
    .block3 {
        .base-animate-out;
        opacity: 0;
    }

    .message p {
        .transition(opacity .3s ease-in 1.6s);
        opacity: 0;
    }

    .back {
        opacity: 0;
        -webkit-transition: opacity 1.5s linear,
                            background-position 2.6s ease-in-out;
                transition: opacity 1.5s linear,
                            background-position 2.6s ease-in-out;
    }
}



/*--------------------------------------------------------------------------*/
// Fact @01 - Launch

#fact01 .number {
    width: 139px;
    height: 125px;
    background-position: 0 0;
}

.on #fact01 {
    .number,
    .message,
    .block1,
    .block2 {
        background: url('/media/img/mozorg/history/fact01-pads.png') no-repeat;
    }

    .number {
        width: 145px;
        height: 125px;
        top: 99px;
        background-position: 0 0;
        margin-left: 1100px;
    }

    .message {
        width: 380px;
        height: 224px;
        padding: 62px 40px 0 28px;
        border: 0;
        top: 18px;
        background-position: -150px 0;
        margin-left: 1800px;
    }

    .block1 {
        width: 226px;
        height: 270px;
        border: 0;
        top: 61px;
        background-position: -610px 0;
        margin-left: 2900px;
    }

    .block2 {
        background-position: -840px 0;
        border: 0;
        height: 256px;
        width: 98px;
        margin-left: 3800px;
        top: 61px;
    }

    &.animate-in {
        .number {
            margin-left: -460px;
        }

        .message {
            margin-left: -320px;
        }

        .block1 {
            margin-left: 124px;
        }

        .block2 {
            margin-left: 351px;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3800px;
        }

        .message {
            margin-left: -2900px;
        }

        .block1 {
            margin-left: -1800px;
        }

        .block2 {
            margin-left: -1100px;
        }
    }
}



/*--------------------------------------------------------------------------*/
// Fact @02 - Firefox

#fact02 .number {
    background-position: -139px 0;
    height: 107px;
    width: 115px;
    margin-left: -135px;
}

.on #fact02 {
    .number,
    .message,
    .block1,
    .block2,
    .block3 {
        background: url('/media/img/mozorg/history/fact02-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 102px;
        width: 114px;
        margin-left: 1990px;
        margin-top: 90px;
        top: 184px;
    }

    .message {
        background-position: -151px 0;
        height: 200px;
        width: 363px;
        margin-left: 1750px;
        padding: 60px 105px 20px 35px;
        top: 41px;
    }

    .block1 {
        background-position: 0 -102px;
        height: 75px;
        width: 151px;
        margin-left: 2140px;
        margin-top: -90px;
        top: 113px;
    }

    .block2 {
        background-position: -654px 0;
        height: 83px;
        width: 230px;
        margin-left: 2640px;
        top: 47px;
    }

    .block3 {
        background-position: -654px -83px;
        height: 185px;
        width: 230px;
        margin-left: 2880px;
        margin-top: 120px;
        top: 126px;
    }

    .logo {
        .at2x('/media/img/logos/firefox/logo-quantum.png', 132px, 132px);
        .transition(opacity .25s ease-in);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 132px;
        display: block;
        height: 152px;
        width: 132px;
        margin-left: -446px;
        opacity: 0;
        position: absolute;
        top: -250px;
        left: 50%;
        z-index: 10;
    }

    &.animate-in {
        .number {
            margin-left: -412px;
            margin-top: 0;
        }

        .message {
            margin-left: -290px;
        }

        .block1 {
            margin-left: -457px;
            margin-top: 0;
        }

        .block2 {
            margin-left: 216px;
        }

        .block3 {
            margin-left: 216px;
            margin-top: 0;
        }

        .logo {
            .animation(fact02-logo-in 1.5s 1.8s forwards);
            .transition(opacity .25s ease-in 1.5s);
            opacity: 1;
            top: -150px;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3000px;
        }

        .message {
            margin-left: -2500px;
        }

        .block1 {
            margin-left: -2000px;
            margin-top: 0;
        }

        .block2 {
            margin-left: -1850px;
        }

        .block3 {
            margin-left: -1500px;
        }

        .logo {
            .animation(fact02-logo-out 1s .4s forwards);
            .transition(opacity .25s ease-in .6s);
            opacity: 0;
            top: 41px;
        }
    }
}

// Fact @02 Fixes for specific locales
[lang^='en'] .on #fact02 .message {
    padding: 80px 105px 0 35px;
}

[lang='ro'] .on #fact02 .message {
    padding: 45px 105px 35px 35px;
}

[lang='ru'] .on #fact02 .message {
    padding: 25px 105px 55px 35px;
}

[lang='ta'] .on #fact02 .message {
    padding: 35px 105px 45px 35px;
}

@-webkit-keyframes fact02-logo-in {
      0% { top: -250px; }
     30% { top: 50px; }
     40% { top: 30px; }
     50% { top: 41px; }
    100% { top: 41px; }
}

@keyframes fact02-logo-in {
      0% { top: -250px; }
     30% { top: 50px; }
     40% { top: 30px; }
     50% { top: 41px; }
    100% { top: 41px; }
}

@-webkit-keyframes fact02-logo-out {
      0% { top: 41px; }
     10% { top: 30px; }
     20% { top: 50px; }
     70%,
    100% { top: 400px; }
}

@keyframes fact02-logo-out {
      0% { top: 41px; }
     10% { top: 30px; }
     20% { top: 50px; }
     70%,
    100% { top: 400px; }
}

/*--------------------------------------------------------------------------*/
// Fact @03 - NY Times
#fact03 .number {
    background-position: -253px 0;
    height: 127px;
    width: 115px;
    margin-left: -128px;
}

.on #fact03 {
    .number,
    .message,
    .block1 {
        background: url('/media/img/mozorg/history/fact03-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 129px;
        width: 119px;
        margin-left: 1500px;
        top: 140px;
    }

    .message {
        background-position: -120px 0;
        height: 242px;
        width: 440px;
        margin-left: 2000px;
        padding: 40px 55px 0 35px;
        top: 35px;
    }

    .block1 {
        background-position: -652px 0;
        height: 228px;
        width: 208px;
        margin-left: 2500px;
        margin-top: 50px;
        top: 22px;
    }

    &.animate-in {
        .number {
            margin-left: -445px;
        }
        .message {
            margin-left: -297px;
        }
        .block1 {
            margin-left: 234px;
            margin-top: 0;
        }
    }

    &.animate-out {
        .number {
            margin-left: -4000px;
        }
        .message {
            margin-left: -3000px;
        }
        .block1 {
            margin-left: -2000px;
            margin-top: 90px;
        }
    }
}



/*--------------------------------------------------------------------------*/
// Fact @04 - Global community
#fact04 .number {
    background-position: -368px 0;
    height: 143px;
    width: 98px;
    margin-left: -135px;
}

.on #fact04 {
    .number,
    .message,
    .block1 {
        background: url('/media/img/mozorg/history/fact04-pads.png') no-repeat;
    }

    .number {
        width: 98px;
        height: 176px;
        background-position: 0 0;
        top: 78px;
        margin-left: 1500px;
        margin-top: 60px;
    }

    .message {
        height: 228px;
        width: 403px;
        padding: 35px 40px 0 40px;
        background-position: -98px 0;
        top: 28px;
        margin-left: 2000px;
        margin-top: 60px;
    }

    .block1 {
        width: 284px;
        height: 291px;
        background-position: -582px 0;
        top: 15px;
        margin-left: 2500px;
        margin-top: 60px;
    }

    &.animate-in {
        .number {
            margin-left: -457px;
            margin-top: 0;
        }

        .message {
            margin-left: -322px;
            margin-top: 0;
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
        }

        .block1 {
            margin-left: 167px;
            margin-top: 0;
            -webkit-transition-delay: .2s;
                    transition-delay: .2s;
        }
    }

    &.animate-out {
        .number {
            margin-left: -4500px;
            margin-top: 60px;
        }
        .message {
            margin-left: -3000px;
            margin-top: 60px;
        }
        .block1 {
            margin-left: -2000px;
            margin-top: 60px;
        }
    }
}



/*--------------------------------------------------------------------------*/
// Fact @05 - Addons
#fact05 .number {
    background-position: -466px 0;
    height: 102px;
    width: 97px;
    margin-left: -120px;
}

.on #fact05 {
    .number,
    .message,
    .block1,
    .block2,
    .block3 {
        background: url('/media/img/mozorg/history/fact05-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 103px;
        width: 96px;
        margin-left: 1020px;
        margin-top: -40px;
        top: 87px;
    }

    .message {
        background-position: -96px 0;
        height: 237px;
        width: 398px;
        margin-left: 1500px;
        padding: 30px 40px 0 40px;
        top: 46px;
    }

    .block1 {
        background-position: -574px 0;
        height: 95px;
        width: 316px;
        margin-left: 2300px;
        margin-top: -40px;
        top: 30px;
    }

    .block2 {
        background-position: -574px -95px;
        height: 105px;
        width: 316px;
        margin-left: 2800px;
        top: 122px;
    }

    .block3 {
        background-position: -574px -200px;
        height: 95px;
        width: 316px;
        margin-left: 3300px;
        margin-top: 40px;
        top: 223px;
    }

    &.animate-in {
        .number {
            margin-top: 0;
            margin-left: -461px;
        }

        .message {
            margin-left: -352px;
        }

        .block1 {
            .transition-delay(.3s);
            margin-left: 134px;
            margin-top: 0;
        }

        .block2 {
            .transition-delay(.4s);
            margin-left: 134px;
        }

        .block3 {
            .transition-delay(.5s);
            margin-left: 134px;
            margin-top: 0;
        }
    }

    &.animate-out {
        .number {
            margin-left: -1840px;
        }

        .message {
            margin-left: -2280px;
        }

        .block1 {
            margin-left: -1205px;
        }

        .block2 {
            margin-left: -1405px;
        }

        .block3 {
            margin-left: -1605px;
        }
    }
}



/*--------------------------------------------------------------------------*/
// Fact @06 - Privacy

#fact06 .number {
    background-position: -563px 0;
    height: 116px;
    width: 149px;
    margin-left: -162px;
}

.on #fact06 {
    .number,
    .message,
    .block1,
    .keyhole {
        background: url('/media/img/mozorg/history/fact06-pads.png') no-repeat;
    }

    .number {
        width: 178px;
        height: 115px;
        background-position: 0 0;
        top: 110px;
        margin-left: 1000px;

        .keyhole {
            .transform(rotateY(90deg));
            .transform-style(preserve-3d);
            background-color: #000;
            background-image: url('/media/img/mozorg/history/fact06-pads.png'), url('/media/img/mozorg/history/fact06-pads.png');
            background-position: 0 -117px, -86px -117px;
            display: block;
            height: 56px;
            width: 46px;
            position: absolute;
            top: 25px;
            left: 108px;
            z-index: 8;
        }
    }

    .message {
        background-position: -179px 0;
        height: 240px;
        margin-left: 1700px;
        padding: 40px 130px 0 50px;
        top: 35px;
        width: 349px;
    }

    .block1 {
        background-position: -707px 0;
        height: 248px;
        margin-left: 2800px;
        top: 55px;
        width: 193px;
    }

    &.animate-in {
        .number {
            margin-left: -462px;
            margin-top: 0;

            .keyhole {
                .transform(rotateY(0deg));
                .transform-style(preserve-3d);
                -webkit-transition: transform 0.4s ease-in-out 2.6s,
                                    background-position 1s ease-in-out 0.5s;
                        transition: transform 0.4s ease-in-out 2.6s,
                                    background-position 1s ease-in-out 0.5s;
            }

            .keyhole:hover {
                .transition(background-position .6s ease-in-out 2s);
                background-position: 0 -117px, -86px -175px;
            }
        }

        .message {
            margin-left: -270px;
        }

        .block1 {
            margin-left: 268px;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3200px;

            .keyhole {
                .transform(rotateY(0deg));
            }
        }

        .message {
            margin-left: -2600px;
        }

        .block1 {
            margin-left: -1800px;
        }
    }
}

// Fact @06 Fixes for specific locales
[lang='lt'] .on #fact06 .message,
[lang='pl'] .on #fact06 .message,
[lang='sr'] .on #fact06 .message,
[lang='uk'] .on #fact06 .message,
[lang='uz'] .on #fact06 .message {
    padding: 25px 130px 15px 50px;
}

[lang='ro'] .on #fact06 .message {
    padding: 15px 130px 25px 50px;
}


/*--------------------------------------------------------------------------*/
// Fact @07 - l10n

#fact07 .number {
    width: 124px;
    height: 143px;
    background-position: 0 -138px;
    margin-left: -142px;
}

.on #fact07 {
    .number,
    .message,
    .block1 {
        background: url('/media/img/mozorg/history/fact07-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        top: 138px;
        margin-left: 1200px;
    }

    .message {
        width: 392px;
        height: 222px;
        padding: 50px 40px 0 40px;
        background-position: -124px 0;
        top: 32px;
        margin-left: 1800px;
    }

    .block1 {
        width: 319px;
        height: 225px;
        background-position: -596px 0;
        top: 74px;
        margin-left: 2200px;
    }

    &.animate-in {
        .number {
            margin-left: -463px;
        }

        .message {
            margin-left: -333px;
        }

        .block1 {
            margin-left: 142px;
        }
    }

    &.animate-out {
        .number {
            margin-left: -2200px;
        }

        .message {
            margin-left: -1690px;
        }

        .block1 {
            margin-left: -1000px;
        }
    }
}



/*--------------------------------------------------------------------------*/
// Fact @08 - world record

#fact08 .number {
    width: 91px;
    height: 118px;
    background-position: -138px -143px;
    margin-left: -118px;
}

.on #fact08 {
    .number,
    .message,
    .block1,
    .block2 {
        background: url('/media/img/mozorg/history/fact08-pads.png') no-repeat;
    }

    .number {
        background-position: -182px 0;
        height: 117px;
        margin-left: 1600px;
        top: 56px;
        width: 90px;
    }

    .message {
        background-position: -273px 0;
        height: 227px;
        margin-left: 2200px;
        padding: 40px 40px 0 40px;
        top: 43px;
        width: 378px;
    }

    .block1 {
        background-position: 0 0;
        height: 229px;
        margin-left: 3000px;
        top: 56px;
        width: 182px;
    }

    .block2 {
        background-position: -730px 0;
        height: 160px;
        margin-left: 1100px;
        top: 141px;
        width: 165px;
    }

    &.animate-in {
        .number {
            margin-left: -279px;
        }

        .message {
            margin-left: -164px;
        }

        .block1 {
            margin-left: -462px;
        }

        .block2 {
            margin-left: 295px;
        }
    }

    &.animate-out {
        .number {
            margin-left: -2200px;
        }

        .message {
            margin-left: -1600px;
        }

        .block1 {
            margin-left: -3000px;
        }

        .block2 {
            margin-left: -1900px;
        }
    }
}

// Fact @08 Fixes for specific locales
[lang='uk'] .on #fact08 .message {
    padding: 20px 40px 20px 40px;
}


/*--------------------------------------------------------------------------*/
/* Fact @09 - Mozfest */
#fact09 .number {
    width: 139px;
    height: 127px;
    background-position: -229px -143px;
}

.on #fact09 {
    .number,
    .message,
    .block1,
    .block2,
    .logo,
    .logo span {
        background: url('/media/img/mozorg/history/fact09-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 125px;
        margin-left: 1200px;
        top: 55px;
        width: 138px;
    }

    .message {
        background-position: -138px 0;
        height: 241px;
        margin-left: 1800px;
        padding: 40px 40px 0 40px;
        top: 25px;
        width: 368px;
    }

    .block1 {
        background-position: -586px 0;
        height: 258px;
        margin-left: 2200px;
        top: 54px;
        width: 100px;
    }

    .block2 {
        background-position: -686px 0;
        height: 265px;
        margin-left: 2900px;
        top: 54px;
        width: 172px;
    }

    .logo {
        background-position: 0 -128px;
        display: block;
        height: 75px;
        left: 50%;
        margin-left: 220px;
        margin-top: 500px;
        opacity: 0;
        position: absolute;
        top: 202px;
        width: 75px;
        z-index: 10;

        span {
            .animation(fact09-logo-spin 10s linear infinite);
            .transform-origin(center center);
            background-position: 0 -205px;
            content: '';
            display: block;
            height: 106px;
            left: -15px;
            position: absolute;
            top: -15px;
            width: 106px;
        }
    }

    &.animate-in {
        .number {
            margin-left: -454px;
        }

        .message {
            margin-left: -273px;
        }

        .block1 {
            margin-left: 188px;
        }

        .block2 {
            margin-left: 282px;
        }

        .logo {
            opacity: 1;
            margin-top: 0;
            -webkit-transition: opacity .5s ease-in 1.5s,
                                margin-top 1.6s cubic-bezier(.64,.01,.72,1.25) .8s;
                    transition: opacity .5s ease-in 1.5s,
                                margin-top 1.6s cubic-bezier(.64,.01,.72,1.25) .8s;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3200px;
        }

        .message {
            margin-left: -2600px;
        }

        .block1 {
            margin-left: -2000px;
        }

        .block2 {
            margin-left: -1800px;
        }

        .logo {
            margin-top: 500px;
            -webkit-transition: opacity .5s ease-in .5s,
                                margin-top 1.6s cubic-bezier(.2,-0.2,.83,.67) .25s;
                    transition: opacity .5s ease-in .5s,
                                margin-top 1.6s cubic-bezier(.2,-0.2,.83,.67) .25s;
        }
    }
}

@-webkit-keyframes fact09-logo-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fact09-logo-spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*--------------------------------------------------------------------------*/
// Fact @10 - Webmaker

#fact10 .number {
    background-position: -368px -143px;
    height: 118px;
    width: 111px;
}

.on #fact10 {
    .number,
    .message,
    .block1,
    .block2 {
        background: url('/media/img/mozorg/history/fact10-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 119px;
        margin-left: 1200px;
        top: 22px;
        width: 112px;
    }

    .message {
        background-position: -112px 0;
        height: 200px;
        margin-left: 1800px;
        padding: 56px 40px 0 40px;
        top: 26px;
        width: 398px;
    }

    .block1 {
        background-position: -590px 0;
        height: 150px;
        margin-left: 2200px;
        top: 40px;
        width: 315px;
    }

    .block2 {
        background-position: -590px -150px;
        height: 140px;
        margin-left: 3000px;
        top: 186px;
        width: 315px;
    }

    &.animate-in {
        .number {
            margin-left: -458px;
        }

        .message {
            margin-left: -342px;
        }

        .block1 {
            margin-left: 143px;
            -webkit-transition-delay: .8s, .2s;
                    transition-delay: .8s, .2s;
        }

        .block2 {
            margin-left: 140px;
            -webkit-transition-delay: .8s, .4s;
                    transition-delay: .8s, .4s;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3200px;
        }

        .message {
            margin-left: -2600px;
            -webkit-transition-delay: .8s, 0s;
                    transition-delay: .8s, 0s;
        }

        .block1 {
            margin-left: -2000px;
            -webkit-transition-delay: .8s, 0s;
                    transition-delay: .8s, 0s;
        }

        .block2 {
            margin-left: -1800px;
            -webkit-transition-delay: .8s, 0s;
                    transition-delay: .8s, 0s;
        }
    }
}

// Fact @10 Fixes for specific locales
[lang='bg'] .on #fact10 .message,
[lang^='es'] .on #fact10 .message,
[lang='it'] .on #fact10 .message,
[lang='uk'] .on #fact10 .message {
    padding: 30px 40px 26px 40px;
}

[lang='ta'] .on #fact10 .message {
    padding: 16px 40px 40px 40px;
}



/*--------------------------------------------------------------------------*/
// Fact @11 - Open badges

#fact11 .number {
    background-position: -479px -143px;
    height: 141px;
    margin-left: -141px;
    width: 124px;
}

.on #fact11 {
    .number,
    .message,
    .block1,
    .droid {
        background: url('/media/img/mozorg/history/fact11-pads.png') no-repeat;
    }

    .number {
        .transition-duration(2s);
        background-position: 0 0;
        height: 141px;
        margin-left: 2200px;
        top: 85px;
        width: 124px;
    }

    .message {
        .transition-duration(2s);
        background-position: -124px 0;
        height: 228px;
        margin-left: 3000px;
        padding: 40px 40px 0 40px;
        top: 48px;
        width: 434px;
    }

    .block1 {
        width: 210px;
        height: 225px;
        background-position: -638px 0;
        top: 22px;
        margin-top: 90px;
        margin-left: 4000px;
    }

    .droid {
        background-position: 0 -141px;
        display: block;
        height: 164px;
        left: 50%;
        margin-left: -2200px;
        opacity: 0;
        position: absolute;
        top: 55px;
        width: 124px;
        z-index: 15;
        -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87),
                            margin-left 2s cubic-bezier(.6,-0.08,.6,1);
                transition: opacity 1s cubic-bezier(.86,.01,.86,.87),
                            margin-left 2s cubic-bezier(.6,-0.08,.6,1);
    }

    &.animate-in {
        .number {
            margin-left: -455px;
        }

        .message {
            margin-left: -302px;
        }

        .block1 {
            margin-left: 220px;
            margin-top: 0;
        }

        .droid {
            .animation(fact11-droid-in 2s forwards 1s);
            .transition(opacity 1s cubic-bezier(.86,.01,.86,.87));
            opacity: 1;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3200px;
        }

        .message {
            margin-left: -2690px;
        }

        .block1 {
            margin-left: -2000px;
            margin-top: -60px;
        }

        .droid {
            .animation(fact11-droid-out 1s forwards);
            .transition(opacity 1s cubic-bezier(.86,.01,.86,.87));
            opacity: 0;
        }
    }
}

@-webkit-keyframes fact11-droid-in {
      0% { margin-left: -2000px; }
    100% { margin-left: 268px; }
}

@keyframes fact11-droid-in {
      0% { margin-left: -2000px; }
    100% { margin-left: 268px; }
}

@-webkit-keyframes fact11-droid-out {
      0% { margin-left: 268px; }
    100% { margin-left: 2000px; }
}

@keyframes fact11-droid-out {
      0% { margin-left: 268px; }
    100% { margin-left: 2000px; }
}



/*--------------------------------------------------------------------------*/
// Fact @12 - MDN

#fact12 .number {
    width: 138px;
    height: 127px;
    background-position: -604px -143px;
}

.on #fact12 {
    .number,
    .message,
    .block1,
    .block2,
    .stars,
    .rocket {
        background: url('/media/img/mozorg/history/fact12-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 126px;
        margin-left: 1200px;
        top: 33px;
        width: 139px;
    }

    .message {
        background-position: -445px 0;
        height: 242px;
        margin-left: 1800px;
        padding: 40px 40px 0 40px;
        top: 41px;
        width: 393px;
    }

    .block1 {
        background-position: -139px 0;
        height: 235px;
        margin-left: 2500px;
        top: 86px;
        width: 108px;
    }

    .block2 {
        background-position: -247px 0;
        height: 232px;
        margin-left: 2000px;
        top: 94px;
        width: 186px;
    }

    .stars {
        background-position: -222px -251px;
        display: block;
        height: 248px;
        left: 50%;
        margin-left: 2250px;
        opacity: 0;
        position: absolute;
        top: 97px;
        width: 223px;
        z-index: 10;
    }

    .rocket {
        .transition-duration(0s);
        background-position: 0 -235px;
        display: block;
        height: 139px;
        left: 50%;
        margin-left: -1900px;
        margin-top: 500px;
        opacity: 0;
        position: absolute;
        top: 166px;
        width: 222px;
        z-index: 11;
    }

    &.animate-in {
        .number {
            margin-left: -461px;
        }

        .message {
            margin-left: -13px;
        }

        .block1 {
            margin-left: -322px;
        }

        .block2 {
            margin-left: -218px;
        }

        .stars {
            .animation(fact12-stars-spin 90s linear infinite);
            .transform-origin(center center);
            margin-left: -295px;
            opacity: 1;
            -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-left 2s cubic-bezier(.6,-0.08,.6,1) 0s;
                    transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-left 2s cubic-bezier(.6,-0.08,.6,1) 0s;
        }

        .rocket {
            .animation(fact12-rocket-in 1.2s .8s forwards);
            .transition(opacity 1s cubic-bezier(.86,.01,.86,.87) .8s);
            opacity: 1;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3000px;
        }

        .message {
            margin-left: -2500px;
        }

        .block1 {
            margin-left: -2000px;
        }

        .block2 {
            margin-left: -1500px;
        }

        .stars {
            .animation(fact12-stars-spin 90s linear);
            margin-left: -1200px;
            opacity: 0;
            -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-left 2s cubic-bezier(.6,-0.08,.6,1) 0s;
                    transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-left 2s cubic-bezier(.6,-0.08,.6,1) 0s;
        }

        .rocket {
            .animation(fact12-rocket-out 1.4s 0s forwards);
            .transition(opacity 1s cubic-bezier(.86,.01,.86,.87) 1s);
            opacity: 0;
        }
    }
}

@-webkit-keyframes fact12-stars-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fact12-stars-spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes fact12-rocket-in {
    0% {
        margin-left: -2600px;
        margin-top: 700px;
    }

    100% {
        margin-left: -287px;
        margin-top: 0;
    }
}

@keyframes fact12-rocket-in {
    0% {
        margin-left: -2600px;
        margin-top: 700px;
    }

    100% {
        margin-left: -287px;
        margin-top: 0;
    }
}

@-webkit-keyframes fact12-rocket-out {
    0% {
        margin-left: -287px;
        margin-top: 0;
    }

    100% {
        margin-left: 1200px;
        margin-top: -600px;
    }
}

@keyframes fact12-rocket-out {
    0% {
        margin-left: -287px;
        margin-top: 0;
    }

    100% {
        margin-left: 1200px;
        margin-top: -600px;
    }
}


/*--------------------------------------------------------------------------*/
// Fact @13 - <3 the web

#fact13 .number {
    background-position: 0 -287px;
    height: 108px;
    width: 110px;
}

.on #fact13 {
    .number,
    .message,
    .block1 {
        background: url('/media/img/mozorg/history/fact13-pads.png') no-repeat;
    }

    .number {
        background-position: 0 0;
        height: 108px;
        margin-left: 1200px;
        top: 118px;
        width: 109px;
    }

    .message {
        background-position: -109px 0;
        height: 178px;
        margin-left: 1800px;
        padding: 55px 40px 0 40px;
        top: 42px;
        width: 319px;
    }

    .block1 {
        background-position: -508px 0;
        height: 282px;
        margin-left: 2200px;
        top: 32px;
        width: 197px;
    }

    &.animate-in {
        .number {
            margin-left: -381px;
        }

        .message {
            margin-left: -240px;
        }

        .block1 {
            .transition-delay(.1s);
            margin-left: 167px;
        }
    }

    &.animate-out {
        .number {
            margin-left: -2200px;
        }

        .message {
            margin-left: -1690px;
        }

        .block1 {
            margin-left: -1000px;
        }
    }
}

// Fact @13 Fixes for specific locales
[lang='pl'] .on #fact13 .message,
[lang='uz'] .on #fact13 .message {
    padding: 30px 40px 25px 40px;
}



/*--------------------------------------------------------------------------*/
// Fact @14 - Firefox OS

#fact14 .number {
    background-position: -110px -287px;
    height: 106px;
    margin-left: -122px;
    width: 97px;
}

.on #fact14 {
    .number,
    .message,
    .block1,
    .block2,
    .shadow,
    .phone,
    .fox {
        background: url('/media/img/mozorg/history/fact14-pads.png') no-repeat;
    }

    .shadow,
    .phone,
    .fox {
        display: block;
        left: 50%;
        position: absolute;
    }

    .number {
        background-position: 0 0;
        height: 106px;
        margin-left: 1200px;
        top: 214px;
        width: 97px;
    }

    .message {
        background-position: -97px 0;
        height: 232px;
        margin-left: 1800px;
        padding: 30px 50px 0 30px;
        top: 36px;
        width: 375px;
    }

    .message p {
        padding-right: 30px;
    }

    .block1 {
        background-position: -552px 0;
        height: 204px;
        margin-left: 2200px;
        margin-top: 90px;
        top: 85px;
        width: 167px;
    }

    .block2 {
        .transition-delay(0s);
        background-position: -288px -261px;
        height: 303px;
        margin-left: 2305px;
        top: 23px;
        width: 466px;
    }

    .shadow {
        background-position: -130px -261px;
        height: 13px;
        margin-left: 191px;
        margin-top: 300px;
        opacity: 0;
        top: 295px;
        width: 145px;
        z-index: 9;
    }

    .phone {
        .transition-delay(.5s);
        .transition-duration(1s);
        background-position: 0 -261px;
        height: 245px;
        margin-left: 199px;
        margin-top: -500px;
        opacity: 0;
        top: 62px;
        width: 130px;
        z-index: 10;
    }

    .fox {
        .transition-delay(0s);
        background-position: -130px -274px;
        height: 215px;
        margin-left: 2600px;
        opacity: 0;
        top: 117px;
        width: 158px;
        z-index: 11;
    }

    &.animate-in {
        .number {
            margin-left: -468px;
        }

        .message {
            margin-left: -368px;
        }

        .block1 {
            .transition-delay(.1s);
            margin-left: 90px;
            margin-top: 0;
        }

        .block2 {
            .transition-delay(.15s);
            margin-left: 4px;
        }

        .shadow {
            margin-top: 0;
            opacity: 1;
            -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top 1s ease-out 1.4s;
                    transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top 1s ease-out 1.4s;
        }

        .phone {
            margin-top: 0;
            opacity: 1;
            -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top 1s ease-out 1.4s;
                    transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top 1s ease-out 1.4s;
        }

        .fox {
            .base-animate-in;
            .transition-delay(.15s);
            margin-left: 299px;
            margin-top: 0;
            opacity: 1;
        }
    }

    &.animate-out {
        .number {
            margin-left: -3600px;
            margin-top: -90px;
        }

        .message {
            margin-left: -3200px;
        }

        .block1 {
            margin-left: -2900px;
            margin-top: 60px;
        }

        .block2 {
            margin-left: -2500px;
        }

        .shadow {
            margin-top: 500px;
            opacity: 0;
            -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top .7s ease-in 0s;
                    transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top .7s ease-in 0s;
        }

        .phone {
            margin-top: -500px;
            opacity: 0;
            -webkit-transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top .7s ease-in 0s;
                    transition: opacity 1s cubic-bezier(.86,.01,.86,.87) .8s,
                                margin-top .7s ease-in 0s;
        }

        .fox {
            .base-animate-out;
            margin-left: -2201px;
            opacity: 0;
        }
    }
}

// Fact @14 Fixes for specific locales
[lang='ru'] .on #fact14 .message,
[lang='sq'] .on #fact14 .message,
[lang='ta'] .on #fact14 .message,
[lang='uk'] .on #fact14 .message {
    padding: 20px 50px 10px 30px;
}

[lang^='en'] .on #fact14 .message p {
    padding-right: 0;
}



/*--------------------------------------------------------------------------*/
// Fact @15 - Thank you

#fact15 .number {
    background-position: -207px -287px;
    height: 142px;
    width: 130px;
}

.on #fact15 {
    .number,
    .message,
    .block1,
    .block2 {
        background-image: url('/media/img/mozorg/history/fact15-pads.png');
    }

    .number {
        background-position: 0 0;
        height: 139px;
        margin-left: 1200px;
        margin-top: -100px;
        top: 65px;
        width: 132px;
    }

    .message {
        background-position: -132px 0;
        height: 260px;
        margin-left: 1800px;
        margin-top: 200px;
        padding: 40px 40px 0 40px;
        top: 29px;
        width: 370px;
    }

    .block1 {
        background-position: -582px 0;
        height: 194px;
        margin-left: 2200px;
        margin-top: -200px;
        top: 4px;
        width: 312px;
    }

    .block2 {
        background-position: -582px -195px;
        height: 138px;
        margin-left: 2000px;
        margin-top: 50px;
        top: 198px;
        width: 312px;
    }

    &.animate-in {
        .number {
            margin-left: -458px;
            margin-top: 0;
        }

        .message {
            margin-left: -322px;
            margin-top: 0;
        }

        .block1 {
            margin-left: 129px;
            margin-top: 0;
        }

        .block2 {
            margin-left: 129px;
            margin-top: 0;
        }
    }

    &.animate-out {
        .number {
            margin-left: -2200px;
        }

        .message {
            margin-left: -1690px;
        }

        .block1 {
            margin-left: -1000px;
        }

        .block2 {
            margin-left: -1400px;
        }
    }
}

// Fact @15 Fixes for specific locales
[lang='ta'] .on #fact15 .message {
    padding: 10px 40px 30px 40px;
}



/*--------------------------------------------------------------------------*/
// Change/move @background path for each slide
.on {
    #fact01 .back,
    #fact06 .back,
    #fact11 .back {
        background-image: url('/media/img/mozorg/history/path-red.png');
        background-position: 0 50%;
    }

    #fact01.animate-in .back,
    #fact06.animate-in .back,
    #fact11.animate-in .back {
        background-position: -200px 50%;
    }

    #fact01.animate-out .back,
    #fact06.animate-out .back,
    #fact11.animate-out .back {
        background-position: -400px 50%;
    }

    #fact02 .back,
    #fact07 .back,
    #fact12 .back {
        background-image: url('/media/img/mozorg/history/path-darkblue.png');
        background-position: -200px 50%;
    }

    #fact02.animate-in .back,
    #fact07.animate-in .back,
    #fact12.animate-in .back {
        background-position: -400px 50%;
    }

    #fact02.animate-out .back,
    #fact07.animate-out .back,
    #fact12.animate-out .back {
        background-position: -600px 50%;
    }

    #fact03 .back,
    #fact08 .back,
    #fact13 .back {
        background-image: url('/media/img/mozorg/history/path-green.png');
        background-position: -400px 50%;
    }

    #fact03.animate-in .back,
    #fact08.animate-in .back,
    #fact13.animate-in .back {
        background-position: -600px 50%;
    }

    #fact03.animate-out .back,
    #fact08.animate-out .back,
    #fact13.animate-out .back {
        background-position: -800px 50%;
    }

    #fact04 .back,
    #fact09 .back,
    #fact14 .back {
        background-image: url('/media/img/mozorg/history/path-lightblue.png');
        background-position: -600px 50%;
    }

    #fact04.animate-in .back,
    #fact09.animate-in .back,
    #fact14.animate-in .back {
        background-position: -800px 50%;
    }

    #fact04.animate-out .back,
    #fact09.animate-out .back,
    #fact14.animate-out .back {
        background-position: -1000px 50%;
    }

    #fact05 .back,
    #fact10 .back,
    #fact15 .back {
        background-image: url('/media/img/mozorg/history/path-orange.png');
        background-position: -800px 50%;
    }

    #fact05.animate-in .back,
    #fact10.animate-in .back,
    #fact15.animate-in .back {
        background-position: -1000px 50%;
    }

    #fact05.animate-out .back,
    #fact10.animate-out .back,
    #fact15.animate-out .back {
        background-position: -1200px 50%;
    }
}



/*--------------------------------------------------------------------------*/
// @Tablet Layout: 760px

@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #masthead,
    .billboard,
    #history-slides,
    .page-head {
        width: @widthTablet - (@gridGutterWidth * 2);
        margin-left: auto;
        margin-right: auto;
    }

    .page-head .page-title {
        .font-size(48px);
    }

    .page-head .intro {
        margin: 0 auto 1.5em;
    }

    .links li {
        .span_narrow(4);
        min-height: 8em;
        margin-bottom: @baseLine;

        h4 {
            .font-size(20px);
        }
    }

}



/*--------------------------------------------------------------------------*/
// @Mobile Layout: 320px

@media only screen and (max-width: @breakTablet) {

    #masthead,
    .billboard,
    #history-slides,
    .page-head {
        width: @widthMobile;
        margin-left: auto;
        margin-right: auto;
    }

    .page-head .page-title {
        .font-size(32px);
    }

    .page-head .intro {
            margin: 0 0 1.5em;
    }

    .links li {
        width: auto;
        float: none;
        margin: 0 10px 1em;
        min-height: 0;

        &:nth-last-child(-n+3) {
            margin-bottom: @baseLine;
            padding-bottom: 10px;
            background: url('/media/img/mission/thin-stripe.png') center bottom repeat-x;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            background: none;
        }
    }

}



/*--------------------------------------------------------------------------*/
// Minimal slide styling for small viewports; just fancy numbers

@media only screen and (max-width: @breakMobileLandscape) {

    #slideshow {
        .slide {
            padding: 10px 0;

            .number {
                background: #ccc none;
                border-radius: 25%;
                box-shadow: 0 5px 0 rgba(0,0,0,.08);
                color: #fff;
                .font-size(26px);
                font-weight: bold;
                height: auto;
                margin: 10px 15px 5px 0;
                padding: 5px 12px;
                text-align: center;
                text-indent: 0;
                width: auto;
            }
        }

        #fact01,
        #fact06,
        #fact11 {
            .number {
                background-color: #bf383e; /* red */
            }
        }

        #fact02,
        #fact07,
        #fact12 {
            .number {
                background-color: #1362ae; /* dark blue */
            }
        }

        #fact03,
        #fact08,
        #fact13 {
            .number {
                background-color: #86bb36; /* green */
            }
        }

        #fact04,
        #fact09,
        #fact14 {
            .number {
                background-color: #54a3dd; /* light blue */
            }
        }

        #fact05,
        #fact10,
        #fact15 {
            .number {
                background-color: #e26c33; /* orange */
            }
        }
    }

}



/*--------------------------------------------------------------------------*/
// Wide @Mobile Layout: 480px

@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

    #masthead,
    .billboard,
    #history-slides,
    .page-head {
        width: @widthMobileLandscape;
        margin-left: auto;
        margin-right: auto;
    }

    .page-head .page-title {
        .font-size(36px);
    }

}
