// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";


// Bounce Tabzilla's caret when the page loads
#tabzilla:after {
    animation-name: bounce;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    50%  { top: 14px; }
}

// Add a double-arrow after 'go' links
.go:after {
    content: ' »';
    white-space: nowrap;
}

// A few styles for non-JS browsers
.no-js {
    img.js,
    .panel-title {
        display: none;
    }
}

// Override sandstone base layout so we can have full-width blocks.
#wrapper,
#main-content,
.billboard {
    width: 100%;
    padding: 0;
}

#masthead,
.container,
.newsletter-form {
    width: (@widthDesktop - (@gridGutterWidth * 2));
    .clearfix();
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.mission,
.pillars {
    width: (@widthDesktop - (@gridGutterWidth * 2));
}

#colophon {
    margin-top: 0;
}

// @Header, @mission statement
.mission {
    .open-sans-light;
    line-height: 1.1;
    margin: 0 auto 40px;
    position: relative;
    text-align: center;

    h1 {
        color: #c13832;
        font-size: 84px;
        font-weight: bold;
        letter-spacing: -.05em;
        margin: 0 0 .05em;

        img {
            margin-bottom: -4px;
        }
    }

    .tagline {
       font-size: 55px;
       letter-spacing: -.025em;
       margin: 0;
    }
}

// Adjustments for some locales
[lang='bg'],
[lang='de'],
[lang='el'],
[lang='fr'],
[lang='it'],
[lang='mk'],
[lang^='es'] {
    .mission .tagline {
        font-size: 42px;
    }
}



// @Accordion
.pillars {
    background: url(/media/img/home/box-shadow-960.png) center bottom no-repeat;
    padding: 0 0 40px;
    position: relative;
    margin: 0 auto 20px;
}

.wide .pillars {
    height: 380px;
}

.accordion {
    list-style: none;
    position: relative;
    left: -.5%;
    top: 0;
    width: 102%;
    margin: 0;
}

.js .accordion {
    overflow: hidden;
}

.panel {
    background-color: #777;
    display: block;
    margin: 0;
    position: relative;
    .transition(background-position .5s ease-in-out);

    &:focus {
        outline: 0;
    }

    &.expanded,
    &.compressed {
        .transition(background-position .5s ease-in-out);
    }
}

.wide .panel {
    margin: 0 0 0 -2px;
    padding: 0;
    float: left;
    width: 25%;
    height: 380px;
    min-height: 0;
    overflow: hidden;
    box-shadow: -6px 0 10px -4px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 6;

    &:first-child {
        box-shadow: none;
    }
}

.no-js {
    .panel {
        min-height: 16em;
    }
}

// A title visible when the panel is in its initial state.
.panel-title {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    text-transform: uppercase;
    letter-spacing: -.025em;
    height: 80px;
    width: 220px;
    margin: 0;
    padding: 40px 15px 0;
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: 6;

    i {
        font-style: normal;
    }

    &:after {
        content: ' »';
        white-space: nowrap;
    }
}

// An inner wrapper mostly useful as an overlay for background effects.
.panel-inner {
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .transition(background-color .5s ease-in-out);
}

// Set background to transparent, to "brighten" the panel as it opens.
.expanded .panel-inner {
    background-color: transparent;
    .transition(background-color .5s ease-in-out);
}

// Dim the unfocused panels
.compressed .panel-inner {
    background-color: rgba(0, 0, 0, .25);
}

// Container for the panel's text contents.
.panel-content {
    .open-sans-light;
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);

    h3 {
        font-weight: bold;
        font-size: 100%;
        color: inherit;
        letter-spacing: -.03em;
        margin: 0 0 .25em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
        text-transform: uppercase;
    }

    .go {
        font-size: 90%;
        font-weight: bold;
        letter-spacing: -.025em;

        &:after {
            content: ' »';
            white-space: nowrap;
        }
    }

    // Expand the link to fill the panel.
    // This presumes a single block link for the entire panel.
    // Future updates may negate this.
    & > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 20px 20px 20px 300px;
    }

    a:link,
    a:visited {
        color: inherit;
    }

    a:hover,
    a:focus,
    a:active {
        color: inherit;
        text-decoration: none;
        outline: 0;
    }

    a:focus .go,
    a:active .go,
    .go:hover {
        text-decoration: underline;
    }
}

.wide .panel-content {
    height: 300px;
    min-height: 0;
    width: 290px;
    padding: 40px 40px 40px 300px;
    position: absolute;
    top: 0;
    left: 0;

    & > a {
        padding: 40px 40px 40px 300px;
    }
}

.js .panel-content {
    display: none;
}

.no-js .panel-content {
    min-height: 9.5em;
    padding: 1em 40px 1em 300px;
}



// @Extra content - The lower section of the page
.extra {
    background: #c1423d;
    padding: 40px 0;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);

    h2 {
        font-size: 34px;
        margin: 0 0 .75em;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    }
}



// @Newsletter form
.newsletter-form {
    .span(4);
    float: right;
    background: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
}

#footer-email-form {
    h3 {
        font-size: 34px;
        margin: 0 0 .75em;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    }

    .form-contents,
    .form-submit {
        width: auto;
        float: none;
        margin: 0 0 @baseLine;
    }

    .field-email input {
        width: 80%;
        padding: 10px 5%;
        border-radius: .5em;
    }

    a:link,
    a:visited {
        color: #fff;
    }

    .button {
        width: 90%;
        padding: 10px 5%;
    }
}

.html-rtl {
    .newsletter-form {
        float: left;
    }

    #footer-email-form {
        .form-contents,
        .form-submit {
            float: none;
        }
    }
}


// @Download Firefox promo bar
#firefox-promo {
    margin: 0;
    border: 0;
    padding: 20px 0;
    position: relative;

    .container {
        display: table;
    }

    header {
        display: table-cell;
        padding: 0 20px 0 0;
        width: auto;
        vertical-align: middle;

        a {
            display: table;
            width: 100%;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }

        h3, h4 {
            display: table-cell;
            vertical-align: middle;
        }

        h3 {
            width: 250px;

            img {
                vertical-align: top;
            }
        }

        h4 {
            width: auto;

            strong {
                display: block;
                margin: 5px 0 0 20px;
                border: dotted @borderColor;
                border-width: 0 0 0 1px;
                padding: 5px 0 5px 20px;
                font-size: 40px;
                line-height: 1.1;
                font-weight: normal;
                letter-spacing: -.05em;
                color: #999;
            }
        }
    }

    .download-button {
        display: table-cell;
        vertical-align: bottom;
        width: 280px;
    }

    .download-link {
        width: 280px;
    }

    .download-content {
        padding: 15px 20px 15px 65px;
        background-position: 20px 24px;
    }

    .download-title {
        display: none;
    }

    .download-subtitle {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -.05em;
        /* Reset the styles for Android: */
        position: static;
        width: auto;
        text-align: left;
    }

    .download-lang,
    .download-platform {
        .open-sans-light;
        color: #360;
        display: inline;
        font-size: 11px;
        font-weight: bold;
        text-shadow: 0 1px #9c6;
    }

    .download-lang {
        position: static;
        text-align: left;
        width: auto;
    }

    .download-platform:before {
        content: '• ';
    }
}

.html-rtl #firefox-promo header {
    padding: 0 0 0 20px;

    h4 strong {
        margin: 5px 20px 0 0;
        border-width: 0 1px 0 0;
        padding: 5px 20px 5px 0;
    }
}


// @News
.extra-news {
    .span(7);

    .hfeed {
        list-style: none;
        margin: 0 0 .5em;
    }

    .hentry {
        margin: 0 0 1em;
    }

    .entry-title {
        margin: 0;
        height: 3.8em;
        font-size: 20px;
        line-height: 1.2;
        .open-sans;
    }
}

.news-buttons {
    border-right: 1px solid #ccc;
    margin-right: 10px;

    button {
        background: transparent url(/media/img/home/control-arrows.png) no-repeat;
        border: 0;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        margin: 0 10px 0 0;
        overflow: hidden;
        padding: 0;
        text-indent: -99em;
        width: 25px;
    }

    .btn-next {
        background-position: -30px 0;
    }

    .btn-prev {
        background-position: 0 0;
    }

    .disabled {
        opacity: .5;
        &:hover,
        &:focus {
            opacity: .8;
        }
    }
}

// @Contribute
.extra-contribute {
    .span(7);

    p {
        .open-sans-light;
        font-size: 20px;
    }

}

.html-rtl .extra-contribute {
    float: right;
}

.extra-news a:link,
.extra-news a:visited,
.extra-contribute a:link,
.extra-contribute a:visited {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.extra-contribute a {
    font-weight: bold;
}

.news-buttons button {
    background-image: url(/media/img/home/control-arrows-lt.png);
}


/****************************************************************************/
// @Tablet Layout: 760px
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #masthead,
    .container,
    .newsletter-form,
    .mission,
    .pillars {
        width: (@widthTablet - (@gridGutterWidth * 2));
    }

    .mission .tagline {
        font-size: 42px;
    }

    .pillars {
        background-image: url(/media/img/home/box-shadow-760.png);
        padding-bottom: 32px;
    }

    .panel-title {
        font-size: 16px;
        width: 160px;
    }

    .wide .panel-content {
        font-size: 16px;
        height: 280px;
        width: 250px;
        padding: 80px 20px 20px 200px;

        .panel-logo {
            left: 200px;
            top: 30px;
        }

        .go {
            font-size: 16px;
        }

        & > a {
            padding: 80px 20px 20px 200px;
        }

    }

    // Adjust columns
    .extra-news,
    .extra-contribute {
        .span_narrow(7);
    }

    .extra-download {
        .span_narrow(5);
        float: right;

        .download-button {
            margin: 0 auto;
        }
    }

    .extra .newsletter-form {
        .span_narrow(5);
        float: right;
    }

    .html-rtl .extra .newsletter-form {
        float: left;
    }

    #firefox-promo {
        .container {
            width: (@widthTablet - (@gridGutterWidth * 2));
        }

        header {
            h3 {
                width: 200px;

                img {
                    width: 200px;
                    height: 80px;
                }
            }

            h4 {
                strong {
                    font-size: 30px;
                }
            }
        }

        .download-button,
        .download-link {
            width: 250px;
        }
    }

}



/****************************************************************************/
// @Mobile layout: 320px
@media only screen and (max-width: @breakTablet) {

    #masthead,
    .container,
    .newsletter-form,
    .pillars {
        width: (@widthMobile - @gridGutterWidth);
    }

    .mission {
        width: 260px;
        margin: 20px auto;
    }

    .mission {
        width: 260px;
        margin: 20px auto;

        h1 {
            font-weight: normal;
            font-size: 36px;
            text-align: left;

            img {
                display: block;
                margin: -.025em auto 0;
            }
        }

        .tagline {
            font-size: 30px;
        }
    }

    // Adjustments for some locales
    [lang='bg'],
    [lang='de'],
    [lang='el'],
    [lang='fr'],
    [lang='it'],
    [lang='mk'],
    [lang^='es'] {
        .mission .tagline {
            font-size: 24px;
        }
    }

    .pillars {
        padding-bottom: 13px;
        background-image: url(/media/img/home/box-shadow-320.png);
    }

    .accordion {
        width: auto;
        padding: 0;
        position: relative;
        left: 0;
        overflow: visible;
        margin: 0;
    }

    // Vertical accordion for narrow viewports
    .panel {
        float: none;
        width: 100%;
        height: 5.5em;
        margin: 0;
        overflow: hidden;
        position: relative;
        box-shadow: inset 0 4px 10px -5px rgba(0, 0, 0, .75);

        &:first-child {
            box-shadow: none;
        }
    }

    .panel-inner {
        background: transparent;
    }

    .panel-title {
        position: static;
        width: auto;
        height: auto;
        padding: .75em 35px .75em 40%;
        min-height: 3em;
        text-align: left;
        font-size: 16px;

        &:after {
            content: '\25bc'; /* Down arrow */
            position: absolute;
            right: 18px;
            top: 35%;
        }
    }

    .panel-content {
        font-size: 16px;
        line-height: 1.2;
        width: 100%;
        height: 100%;

        & > a {
            padding: 20px 20px 20px 40%;
        }

        .panel-logo {
            position: static;
            display: block;
            margin-bottom: 10px;
        }
    }

    .no-js .panel {
        height: auto;
        min-height: 20em;
        padding: 0;

        .panel-content {
            padding: 0;
        }
    }

    // Full width columns for narrow viewports
    .extra-news,
    .extra-contribute {
        width: auto;
        float: none;
        margin: 0 10px @baseLine;
    }

    .extra .newsletter-form {
        width: auto;
        float: none;
        margin: 0 10px @baseLine;
    }

    #firefox-promo {
        .container {
            display: block;
        }

        header {
            display: block;
            padding: 0;
            width: 100%;
            text-align: center;

            a, h3, h4 {
                display: block;
            }

            h3 {
                margin: 0;
                width: 100%;

                img {
                    width: auto;
                }
            }

            h4 {
                margin: 5px 0 20px;

                strong {
                    margin: 0;
                    border-width: 0;
                    padding: 0;
                    font-size: 30px;
                }
            }
        }

        .download-button {
            width: auto;
            display: block;
            text-align: center;

            .download-link {
                margin: 0 auto;
            }
        }
    }

    .html-rtl #firefox-promo header {
        padding: 0;

        h4 strong {
            margin: 0;
            border-width: 0;
            padding: 0;
        }
    }

}



/****************************************************************************/
// @Wide @mobile layout: 480px
@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

    .pillars {
        background-image: url(/media/img/home/box-shadow-440.png);
        padding-bottom: 18px;
    }

    #masthead,
    .container,
    .pillars {
        width: (@widthMobileLandscape - @gridGutterWidth);
    }

}

