@import "../sandstone/lib.less";

/* {{{ Open Sans Extra Bold Italic for Firefox OS promo */

@font-face {
    font-family: 'Open Sans ExtraBoldItalic';
    src: url('/media/fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('/media/fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* }}} */
/* {{{ Vollkorn font for Firefox Flicks promo */

@font-face {
    font-family: 'VollkornRegular';
    src: url('/media/fonts/Vollkorn-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/Vollkorn-Regular-webfont.woff') format('woff'),
         url('/media/fonts/Vollkorn-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VollkornBold';
    src: url('/media/fonts/Vollkorn-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/Vollkorn-Bold-webfont.woff') format('woff'),
         url('/media/fonts/Vollkorn-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* }}} */
/* {{{ Default styles for main promos */

.no-js {
    .pager-page {
        margin-bottom:24px;
    }
    .pager-tabs {
       display: none;
    }
}

.pager-page {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: none;
    position: relative;
    a {
        display: block;
        height: 265px;
        padding: 0;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ddd;
        &:hover,
        &:active {
            text-decoration: none;
        }
    }
    .content {
        width: 60%;
        margin-left: 0;
        padding: 0 0 @baseLine 30px;
        position: relative;
    }
    h3 {
        padding-top: @baseLine * 2;
        margin-bottom: @baseLine / 2;
        font-size: 64px;
        letter-spacing: -1px;
        color: #fff;
        text-shadow: none;
    }
    h4 {
        color: #fff;
        float: none;
        font-size: 28px;
        margin-bottom: @baseLine;
        text-decoration: none;
        text-shadow: none;
        width: 50%;
    }
    p {
        color: #fff;
        text-shadow: none;
        margin: 0;
    }
    .go:after {
        content: "\00A0\00BB"; /* nbsp raquo */
    }
    img {
        display: block;
        background: @textColorPrimary;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.loaded .pager-with-hidden-class .pager-page,
.default-page{
    display:block;
}

.pager-tabs {
    text-align: center;
    clear: both;
    padding-top: 6px;
    li {
        display: inline;
        list-style-type: none;
        margin: 0;
        a {
            color: rgba(0,0,0,0.2);
            .inline-block();
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            background: rgb(100,100,100);
            background: rgba(0,0,0,0.2);
            height: 10px;
            width: 10px;
            margin: 6px;
            border-radius: 10px;
            &.selected {
                background: rgb(20,20,20);
                background: rgba(0,0,0,0.5);
            }
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
                span {
                    background: rgb(20,20,20);
                    background: rgba(0,0,0,0.5);
                }
            }
        }
    }
}

/* }}} */
/* {{{ Specific styles for main promos, added in the order they appear */

#promo-fxos a,
#page-promo-fxos a {
    background-image: url('/media/img/home/promo/fxos/1000.png');
    .content {
        width: 80%;
    }
    h3 {
        font-family: Open Sans ExtraBoldItalic;
        text-transform: uppercase;
        letter-spacing: -4px;
        font-size: 90px;
        padding-top: 30px;
        margin-bottom: 20px;
        font-weight: normal;
    }
    h4 {
        width: 70%;
        font-size: 20px;
        line-height: 1.3;
    }
}

.loaded {
    #promo-makerparty a,
    #page-promo-makerparty a {
        background-image: url('/media/img/home/promo/makerparty/1000.jpg');
        .content {
            width: 50%;
            color: #fff;
        }
        h3 {
            font-size: 30px;
            .open-sans;
        }
        h4 {
            width: auto;
            font-size: 20px;
            line-height: 1.4;
            .open-sans;
        }
        .go {
            color: #d14d32;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: .5px;
            display: inline-block;
            padding: .25em 20px;
            border-radius: 3px;
            .box-shadow(0 1px 2px rgba(0,0,0,.2));
            background: #ffe600;
            #gradient.vertical(#ffe600, #f6de01);
            &:hover,
            &:focus {
                color: #c1361a;
                background: #feee57;
                #gradient.vertical(#feee57, #f6e546);
            }
        }
    }

    #promo-flickswinners,
    #page-promo-flickswinners {
        position: relative;
        .content {
            width: 60%;
            padding-left: 60px;
            padding-top: 24px;
            h3 {
                font-size: 30px;
                font-family: VollkornBold;
                line-height: 1;
            }
            h4 {
                color: #ff592c;
                font-size: 16px;
                letter-spacing: normal;
                line-height: 1.3;
                .open-sans;
                margin-bottom: 10px;
            }
            .go {
                color: #1f9ee5;
                font-family: VollkornRegular;
                font-size: 16px;
            }
        }
        .container {
            background: #212a2f url('/media/img/home/promo/flickswinners/1000.jpg') 0 0 repeat-x;
            position: relative;
            border-bottom: 1px solid #ddd;
            width: 100%;
            padding: 0;
            a.go {
                display: inline;
                border: none;
                width: auto;
                height: auto;
                position: absolute;
                bottom: 20px;
                left: 20px;

            }
        }
        .video-container {
            position: absolute;
            z-index: 99;
        }
        .video-close {
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 24px;
            color: rgb(200,200,200);
            color: rgba(200,200,200,0.5);
            text-align: center;
            font-weight: bold;
            position: absolute;
            z-index: 99;
            right: 10px;
            top: 20px;
            cursor: pointer;
            border: 0;
            background: none;
            padding: 0; // Override default button padding
            font-family: inherit; // Override browser button font family
            &:hover,
            &:active,
            &:focus {
                color: rgb(250,250,250);
                color: rgba(200,200,200,0.8);
            }
        }
        img {
            .span(5);
            margin: 0;
            position: absolute;
            top: 25px;
            right: 30px;
            left: auto;
            height: auto;
            z-index: 99;
            cursor: pointer;
            &:focus {
                outline: 1px dotted #fff;
            }
        }
        h3 {
            font-size: 46px
        }
        h4 {
            width: 70%;
        }
    }
    #promo-flicks-overlay {
        display: none;
        z-index: 100;
        background: #000;
        background: rgba(0,0,0,0.75);
        color: #fff;
        position: absolute;
        text-align: center;

        .video-visit {
            .inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 32px;
            .open-sans-light;
            height: auto;
            border: 0;
            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }

        .share-links {
            li {
                .inline-block;
                margin-right: 20px;
                a {
                    .inline-block;
                    height: auto;
                    border: 0;
                    padding: 5px 10px 5px 36px;
                    background: url(/media/img/home/video-overlay-icons.png) 0 center no-repeat;
                    text-decoration: none;
                    text-align: left;
                    &.share-twitter {
                        background-position: -400px center;
                    }
                }
                a:hover,
                a:focus,
                a:active {
                    text-decoration: underline;
                }
            }
        }

        .video-replay,
        .video-continue {
            opacity: 0.8;
            cursor: pointer;
            margin-top: 40px;
            .inline-block;
            padding: 40px 10px 10px 10px;
            min-width: 120px;
            position: relative;
            color: #ccc;
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: 46px;
                margin: 0 auto;
                background: url(/media/img/home/video-overlay-icons.png) -800px center no-repeat;
                height: 34px;
                width: 38px;
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    #promo-android a,
    #page-promo-android a {
        background-image: url('/media/img/home/promo/android/1000.jpg?2013-06');
        .content {
            width: auto;
        }
    }
}

/* }}} */
/* {{{ Tablet  Layout: 768px */

@media only screen and (min-width: @widthTablet) and (max-width: @widthDesktop) {
    .pager-page {
        .container {
            height: 198px;
        }
        .content {
            width: 60%;
        }
        h3 {
            font-size: 38px;
            letter-spacing: -1px;
            padding-top: @baseLine;
            width: auto;
        }
        h4 {
            font-size: 20px;
        }
    }

    #promo-fxos a,
    #page-promo-fxos a {
        background-image: url('/media/img/home/promo/fxos/760.png');
        h3 {
            font-size: 70px;
            padding-top: 20px;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 16px;
        }
    }
    .loaded {
        #promo-makerparty a,
        #page-promo-makerparty a {
            background-image: url('/media/img/home/promo/makerparty/760.jpg');
            .content {
                h3 {
                    font-size: 26px;
                }
                h4 {
                    font-size: 16px;
                }
            }
        }
        #promo-flickswinners,
        #page-promo-flickswinners {
            .container {
                background-image: url('/media/img/home/promo/flickswinners/760.jpg');
            }
            .content {
                padding-left: 40px;
                width: 55%;
                h3 {
                    font-size: 26px;
                    margin-bottom: 8px;
                }
                h4 {
                    font-size: 14px;
                    width: 100%;
                    margin-bottom: 8px;
                }
            }
        }
        #promo-android a,
        #page-promo-android a {
            background-image: url('/media/img/home/promo/android/760.jpg?2013-06');
        }
    }
}

/* }}} */
/* {{{ General Mobile Layout: 320-480px */

@media only screen and (max-width: @widthTablet) {
    .loaded .pager-page,
    .pager-page {
        .container {
            width: auto;
            height: auto;
        }
        h3 {
            font-size: 32px;
            letter-spacing: -0.5px;
            padding-top: @baseLine;
        }
        h4 {
            font-size: 20px;
            width: auto;
            margin-bottom: @baseLine / 2;
        }
        .content {
            padding-left: @gridGutterWidth;
            padding-right: @gridGutterWidth;
            margin: 0;
            background: #fff;
            width: auto;
            float: none;
        }
        h4,
        h3 {
            margin-bottom: @baseLine / 3;
            color: @textColorPrimary;
        }
        p {
            color: @textColorPrimary;
        }
    }

    .pager-tabs li a {
        margin-left: 15px;
        margin-right: 15px;
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }
    .loaded {
        #promo-makerparty,
        #page-promo-makerparty {
            .content {
                width: auto;
                color: @textColorPrimary;
                h3 {
                    font-size: 24px;
                    .open-sans-light;
                }
                h4 {
                    font-size: 18px;
                    .open-sans-light;
                }
                .go {
                    border: 1px solid #e4ce00;
                }
            }
        }
        #promo-flickswinners,
        #page-promo-flickswinners {
            padding-top: 180px;
            img {
                top: 0;
                left: 0;
                width: auto;
                float: none;
            }
            .container {
                background-image: none;
                position: static;
            }
            .content {
                float: none;
                margin: 0;
                width: auto;
                position: static;
                padding-left: 20px;
                padding-top: 0;
                h3 {
                    font-size: 24px;
                    .open-sans-light;
                    width: auto;
                    float: none;
                    .hidden {
                        height: auto;
                        width: auto;
                        margin: 0 0 .25em;
                        clip: auto;
                        position: static !important;
                        display: block;
                        font-style: normal;
                    }
                }
                h4 {
                    font-size: 18px;
                    .open-sans-light;
                    width: auto;
                    float: none;
                    color: @textColorPrimary;
                }
                .go {
                    color: @textColorPrimary;
                }
            }
        }
        #promo-flicks-overlay {
            .video-visit {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 18px;
                .open-sans-light;
            }

            .share-links {
                margin-bottom: 5px;
            }

            .video-replay,
            .video-continue {
                margin-top: 10px;
            }
        }
    }
}

/* }}} */
/* {{{ Specific Mobile Layout: 480px */

@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {
    .pager-page a,
    .loaded .pager-page a {
        padding-top: 116px;
    }

    #promo-fxos a,
    #page-promo-fxos a {
        background-image: url('/media/img/home/promo/fxos/440.png');
        .content {
            width: auto;
            h3 {
                font-size: 30px;
                letter-spacing: -1px;
                padding-top: 20px;
                margin-bottom: 5px;
            }
            h4 {
                width: auto;
                line-height: 1.2;
            }
        }
    }
    .loaded {
        #promo-makerparty a,
        #page-promo-makerparty a {
            background-image: url('/media/img/home/promo/makerparty/440.jpg');
            .content {
                width: auto;
            }
        }
        #promo-flickswinners,
        #page-promo-flickswinners {
            padding-top: 248px;
        }
        #promo-android a,
        #page-promo-android a {
            background-image: url('/media/img/home/promo/android/440.jpg?2013-06');
            .content {
                width: auto;
            }
        }
    }
}

/* }}} */
/* {{{ Specific Mobile Layout: 320px */

@media only screen and (max-width: @breakMobileLandscape) {
    .pager-page a,
    .loaded .pager-page a {
        padding-top: 84px;
    }
    #promo-fxos a,
    #page-promo-fxos a {
        background-image: url('/media/img/home/promo/fxos/320.png');
        .content {
            width: auto;
            h3 {
                font-size: 24px;
                letter-spacing: -1px;
                padding-top: 20px;
                margin-bottom: 5px;
            }
            h4 {
                font-size: 18px;
                width: auto;
                line-height: 1.3;
                letter-spacing: normal;
            }
        }
    }
    .loaded {
        #promo-makerparty a,
        #page-promo-makerparty a {
            background-image: url('/media/img/home/promo/makerparty/320.jpg');
            .content {
                width: auto;
                color: @textColorPrimary;
            }
        }
        #promo-flickswinners,
        #page-promo-flickswinners {
            .container {
                background-image: url('/media/img/home/promo/flickswinners/320.jpg');
            }
            .content {
                width: auto;
                color: @textColorPrimary;
            }
        }
        #promo-android a,
        #page-promo-android a {
            background-image: url('/media/img/home/promo/android/320.jpg?2013-06');
        }
    }
}

/* }}} */
