// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';
@import '../pebbles/components/newsletter';

$colorLink: #7d337e; // purple
$colorHeading: #f8ee1c; // electric yellow
$colorPrivacy: #00e6ff; // teal
$colorInnovation: #ff78c5; // pink
$colorDecentralization: #ffbf00; // yellow
$colorInclusion: #adadff; // lavender
$colorLiteracy: #00dc00; // green

body {
    border-top: none;
    color: #56565A;
}

#outer-wrapper {
    background: #fff;
}

main {
    h1, h2, h3, h4, h5, h6 {
        color: #56565a;
        text-shadow: none;
    }

    p {
        color: #56565a;
    }
}

/*--------------------------------------------------------------------------*/
// Page masthead

#masthead {
    background: #4a4a4a;
    color: #fff;
    padding: 0;
    width: 100%;

    .content {
        position: relative;
    }

    .masthead-logo {
        font-size: 100%;
        height: 30px;
        left: 0;
        margin: 0;
        padding: 10px 0 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        img {
            height: 30px;
        }
    }

    .download-button {
        display: none;

        .download-list {
            margin-bottom: 0;
        }

        .download-link {
            @include font-size(14px);
            border-radius: 0;
            border: none;
            padding: 15px 20px;
            text-transform: uppercase;
        }
    }

    .fx-privacy-link {
        display: none;
    }

    .masthead-nav-main {
        .toggle {
            background-color: darken(#4a4a4a, 10%);
        }

        .nav-main-menu a:hover {
            border-color: $colorLink;
            color: $colorLink;
        }
    }

    @media #{$mq-tablet} {
        .masthead-nav-main {
            margin-right: 0;

            .nav-main-menu {
                padding: 15px 0;

                a:link,
                a:visited {
                    color: #fff;
                }

                li {
                    border-left: 1px solid #fff;

                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }

        .masthead-logo {
            float: left;
            padding: 10px 0;
            position: relative;
            width: auto;
        }
    }

    @media #{$mq-desktop} {

        .download-button {
            display: block;
            float: right;

            .download-link {
                padding: 15px 20px;
            }
        }
    }
}

html[dir="rtl"] {
    @media #{$mq-tablet} {
        #masthead .masthead-nav-main .nav-main-menu li {
            border-left: none;
            border-right: 1px solid #fff;

            &:first-child {
                border-right: none;
            }
        }
    }
}

/*--------------------------------------------------------------------------*/
// Main page header

.main-heading-container {
    @include background-size(cover, 100%);
    background-color: $colorLink;
    // for IE 9 and old webkit
    background-image: url('/media/img/mozorg/internet-health/header-small.jpg');
    background-image: url('/media/img/mozorg/internet-health/header-small.jpg'),
                      linear-gradient(to right, #79337c 0%, #4f2877 100%);
    background-position: bottom right, center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    padding: 60px 0 0;
    position: relative;
    text-align: center;

    .content {
        padding: 0 10px 20px;
        width: 280px;
    }

    h1 {
        @include font-size(28px);
        color: #000;
        font-weight: bold;
        line-height: 1.5;

        span {
            background-color: $colorHeading;
            padding: 0 0.2em;
        }
    }

    p {
        @include font-size(16px);
        color: #fff;
    }

    @media #{$mq-phone-wide} {
        background-position: center, center;
        padding: 60px 0 20px 0;

        .content {
            width: 440px;
        }

        h1 {
            @include font-size(32px);
        }

        p {
            @include font-size(18px);
        }

        @media #{$mq-high-res} {
            background-image: url('/media/img/mozorg/internet-health/header-medium.jpg');
            background-image: url('/media/img/mozorg/internet-health/header-medium.jpg'),
                              linear-gradient(to right, #79337c 0%, #4f2877 100%);
        }
    }

    @media #{$mq-tablet} {
        background-image: url('/media/img/mozorg/internet-health/header-medium.jpg');
        background-image: url('/media/img/mozorg/internet-health/header-medium.jpg'),
                          linear-gradient(to right, #79337c 0%, #4f2877 100%);
        padding: 80px 0 20px 0;

        .content {
            padding: 0 0 20px;
            width: 720px;
        }

        .main-heading {
            padding: 45px 60px 40px;
        }

        h1 {
            @include font-size(38px);
        }

        p {
            @include font-size(20px);
        }

        @media #{$mq-high-res} {
            background-image: url('/media/img/mozorg/internet-health/header-large.jpg');
            background-image: url('/media/img/mozorg/internet-health/header-large.jpg')
                              linear-gradient(to right, #79337c 0%, #4f2877 100%);
        }
    }

    @media #{$mq-desktop} {
        background-image: url('/media/img/mozorg/internet-health/header-large.jpg');
        background-image: url('/media/img/mozorg/internet-health/header-large.jpg')
                          linear-gradient(to right, #79337c 0%, #4f2877 100%);
        padding: 60px 0 20px 0;

        .content {
            width: 960px;
        }

        .main-heading {
            padding: 60px 75px;
        }

        h1 {
            @include font-size(42px);
        }

        p {
            @include font-size(24px);
        }
    }

    @media #{$mq-desktop-wide} {
        background-image: url('/media/img/mozorg/internet-health/header-xlarge.jpg');
        background-image: url('/media/img/mozorg/internet-health/header-xlarge.jpg')
                          linear-gradient(to right, #79337c 0%, #4f2877 100%);
        background-position: top -100px center, center;
    }
}

/*--------------------------------------------------------------------------*/
// Pillars section

#pillars > section {
    margin-bottom: 20px;
    position: relative;
    text-align: center;

    .content {
        @include background-size(180px 180px);
        background-position: top center;
        background-repeat: no-repeat;
        padding-top: 220px;
    }

    .inner-container {
        padding-bottom: 10px;
        width: auto;
    }

    h2 {
        @include font-size(22px);
        color: #000;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
    }

    p,
    .ctas {
        @include font-size(18px);
        margin: 0 auto;
        max-width: 30em;
        text-align: center;
    }

    .ctas {
        margin-top: 20px;
    }

    .footer {
        clear: both;
        display: block;
        margin-top: 20px;
        overflow: hidden;
    }

    .footer-hr:after {
        display: block;
        overflow: hidden;
        speak: none;
    }

    .footer-top {
        display: none;
    }

    @media #{$mq-phone-wide} {
        .content {
            @include background-size(220px 220px);
            padding-top: 280px;
        }

        h2 {
            @include font-size(26px);
        }

        p,
        .ctas {
            @include font-size(18px);
        }
    }

    @media #{$mq-tablet} {
        margin-bottom: 40px;

        .content {
            @include background-size(310px 310px);
            background-position: top 30px left 30px;
            padding: 0;
            position: relative;
        }

        .inner-container {
            min-height: 360px;
            width: 320px;
        }

        &.odd .inner-container {
            float: right;
        }

        &.even {
            .content {
                background-position: top 30px right 30px;
            }

            .inner-container {
                float: left;
            }

            // align footer decoration to the right
            .footer-top {
                margin-left: 50%;
                width: 100%;
            }
        }

        h2 {
            @include font-size(32px);
            text-align: left;
        }

        p,
        .ctas {
            @include font-size(20px);
            max-width: none;
            text-align: left;
        }

        .ctas {
            text-align: center;
        }

        .footer {
            margin-top: 0;
        }

        .footer-top {
            display: block;

            &:after {
                width: 50%;
            }
        }
    }

    @media #{$mq-desktop} {
        margin-bottom: 60px;

        .content {
            @include background-size(350px 350px);
            background-position: top 30px left 60px;
        }

        .inner-container {
            min-height: 420px;
            width: 440px;
        }

        h2 {
            @include font-size(36px);
        }

        p,
        .ctas {
            @include font-size(24px);
        }

        &.even .content {
            background-position: top 30px right 60px;
        }
    }

    @media #{$mq-desktop-wide} {
        .content {
            width: $width-desktop;
        }
    }
}

html[dir="rtl"] #pillars > section {
    @media #{$mq-tablet} {
        h2 {
            text-align: right;
        }

        p {
            text-align: right;
        }
    }
}

#privacy {
    h2 span {
        background: $colorPrivacy;
    }

    .content {
        background-image: url('/media/img/mozorg/internet-health/privacy.svg');
    }

    .footer-hr:after {
        @include font-size(36px);
        color: $colorPrivacy;
        content: '//////////////////////////////////////////////////';
        letter-spacing: -0.1em;

        @media #{$mq-tablet} {
            @include font-size(48px);
            line-height: 48px;
        }

        @media #{$mq-desktop} {
            @include font-size(72px);
            line-height: 72px;
        }
    }
}

#innovation {
    h2 span {
        background: $colorInnovation;
    }

    .content {
        background-image: url('/media/img/mozorg/internet-health/innovation.svg');
    }

    .footer-hr:after {
        @include font-size(44px);
        color: $colorInnovation;
        content: '########################################';

        @media #{$mq-tablet} {
            @include font-size(52px);
            line-height: 39px;
        }

        @media #{$mq-desktop} {
            @include font-size(64px);
            line-height: 48px;
        }
    }
}

#decentralization {
    h2 span {
        background: $colorDecentralization;
    }

    .content {
        background-image: url('/media/img/mozorg/internet-health/decentralization.svg');
    }

    .footer-hr:after {
        @include font-size(38px);
        color: $colorDecentralization;
        content: '[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[';
        letter-spacing: 0.18em;

        @media #{$mq-tablet} {
            @include font-size(50px);
            line-height: 62px;
        }

        @media #{$mq-desktop} {
            @include font-size(62px);
            line-height: 78px;
        }
    }
}

#inclusion {
    h2 span {
        background: $colorInclusion;
    }

    .content {
        background-image: url('/media/img/mozorg/internet-health/inclusion.svg');
    }

    .footer-hr:after {
        @include font-size(46px);
        color: $colorInclusion;
        content: '<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<';
        letter-spacing: 0.2em;

        @media #{$mq-tablet} {
            @include font-size(60px);
            line-height: 37px;
        }

        @media #{$mq-desktop} {
            @include font-size(78px);
            line-height: 48px;
        }
    }
}

#literacy {
    h2 span {
        background: $colorLiteracy;
    }

    .content {
        background-image: url('/media/img/mozorg/internet-health/literacy.svg');
    }

    .footer-hr:after {
        @include font-size(28px);
        color: $colorLiteracy;
        content: '@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@';
        letter-spacing: 0.26em;

        @media #{$mq-tablet} {
            @include font-size(36px);
            line-height: 45px;
        }

        @media #{$mq-desktop} {
            @include font-size(48px);
            line-height: 60px;
        }
    }
}

//*--------------------------------------------------------------------------*/
// Health report

#health-report {
    @include font-size(18px);
    background: #00e6ff;
    padding: 20px 0;
    text-align: center;

    h2 {
        @include font-size(22px);
        color: #000;
        font-weight: bold;
        line-height: 1.5;

        span {
            background: $colorHeading;
        }
    }

    .cta {
        margin: 0;
    }

    a:link,
    a:visited {
        color: $color-text-primary;
        display: block;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        color: $color-text-tertiary;

        .cta {
            text-decoration: underline;
        }
    }

    @media #{$mq-phone-wide} {
        h2 {
            @include font-size(26px);
        }
    }

    @media #{$mq-tablet} {
        @include font-size(20px);
        text-align: left;

        h2 {
            @include font-size(32px);

            br {
                display: none;
            }
        }
    }

    @media #{$mq-desktop} {
        @include font-size(24px);

        h2 {
            @include font-size(36px);
        }
    }

    @media #{$mq-desktop-wide} {
        .content {
            width: $width-desktop;
        }
    }
}

/*--------------------------------------------------------------------------*/
// Newsletter

#newsletter-subscribe {
    background: #fff;
    color: #000;
    margin: 0;

    a {
        color: #000;
    }

    button,
    input[type='email'] {
        border: 1px solid #0c99d5;
    }

    button {
        background: #00e6ff;
        color: #4a4a4a;
    }

    .content {
        padding-top: 0;
    }

    .form-title {
        background-image: url('/media/img/mozorg/internet-health/newsletter.svg');
    }

    @media #{$mq-tablet} {
        padding: 40px 0;

        .content {
            padding-top: 20px;
        }
    }
}

/*--------------------------------------------------------------------------*/
// Blogs feed

#blogs {
    background: #f2f2f2;
    padding: 60px 0;

    header {
        margin-bottom: 40px;

        h2 {
            @include font-size(36px);
            font-weight: bold;
        }

        p {
            @include font-size(16px);
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    a:link,
    a:visited {
        color: $colorLink;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        color: #0081ad;
        text-decoration: underline;
    }

    article {
        margin-bottom: 20px;
        padding-bottom: 40px;
        position: relative;

        h3 {
            @include font-size(20px);
            font-weight: bold;
            line-height: 1.3;
            max-width: 24em;
        }

        p {
            @include font-size(16px);
        }

        time {
            @include font-size(16px);
            display: block;
            margin-bottom: 20px;
        }

        .continue {
            @include font-size(16px);
            bottom: 20px;
            font-weight: bold;
            position: absolute;
        }
    }

    @media #{$mq-phone-wide} {
        header {
            h2 {
                @include font-size(40px);
            }

            p {
                @include font-size(18px);
            }
        }

        article {
            margin-bottom: 20px;

            h3 {
                @include font-size(24px);
            }

            .meta {
                @include font-size(18px);
            }
        }
    }

    @media #{$mq-tablet} {
        header {
            h2 {
                @include font-size(44px);
            }

            p {
                @include font-size(20px);
            }
        }

        article {
            h3 {
                @include font-size(28px);
            }

            p,
            time {
                @include font-size(16px);
            }

            .meta {
                @include font-size(20px);
            }

            .continue {
                @include font-size(16px);
                left: auto;
                right: 0;
            }
        }
    }

    @media #{$mq-desktop} {
        header {

            h2 {
                @include font-size(48px);
            }

            p {
                @include font-size(24px);
            }
        }

        article {
            h3 {
                @include font-size(32px);
            }

            p,
            time,
            .continue {
                @include font-size(18px);
            }

            .meta {
                @include font-size(24px);
            }
        }
    }

    @media #{$mq-desktop-wide} {
        .content {
            width: $width-desktop;
        }
    }
}

html[dir="rtl"] #blogs {
    @media #{$mq-tablet} {
        article .continue {
            left: 0;
            right: auto;
        }
    }
}
