// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";
@import "mosaic.less";

@font-face {
    font-family: "Open Sans Extrabold";
    src: url("/media/fonts/OpenSans-ExtraBold-webfont.eot?#iefix-2013") format("embedded-opentype"),
         url("/media/fonts/OpenSans-ExtraBold-webfont.woff") format("woff"),
         url("/media/fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype");
    font-weight: 800;
}

#outer-wrapper {
    overflow: hidden; /* Avoid overflows by the picture grids */
}

#main-feature {
    padding: 40px 20px;
    text-align: center;

    h1 {
        color: #4E4F53;
        font-size: 60px;
    }

    p {
        margin: 20px auto 0;
        width: 620px;
        color: #4E4F53;
        font-size: 20px;
    }
}

#main-content {
    padding: 0;
}

#main-content-inner {
    margin: 0 auto;
    padding: 20px;
    width: 420px;
    min-height: 2820px;
    background: #FFF;

    & > section:not(:first-of-type) {
        margin-top: 40px;
    }
}

#sec-principles {
    & > header {
        position: relative;
        padding: 80px 20px 40px;
        text-align: center;

        h2 {
            display: inline-block;
            position: relative;
            margin: 0;
            color: #4B5C66;
            .open-sans-light;
            font-size: 48px;

            strong {
                display: block;
                font-size: 58px;
                .open-sans-extrabold;
                text-transform: uppercase;
            }

            &:before,
            &:after {
                position: absolute;
                top: 15px;
                color: #E3E5E6;
                .open-sans-light;
                font-size: 100px;
                font-weight: bold;
            }

            &:before {
                left: -1ex;
                content: "{";
            }

            &:after {
                right: -1ex;
                content: "}";
            }
        }

        .share-wrapper {
            position: absolute;
            top: -20px;
            right: -20px;
            left: -20px;
            border-bottom: 1px solid #EDEEEF;
            padding: 20px;

            .socialshare {
                display: inline-block;
                width: auto;

                #share-options {
                    text-align: left;
                }
            }
        }
    }

    & > footer {
        font-size: 18px;
        font-style: italic;
        text-align: center;

        a:after {
            content: "\00A0\00BB"; /* nbsp raquo */
        }
    }
}

.socialshare > div > a {
    background-repeat: no-repeat;
    background-image: url(/media/img/mozorg/about/manifesto/social/sprite.png);

    &:after {
        background-repeat: no-repeat;
        background-position: 4px -45px;
        background-image: url(/media/img/mozorg/about/manifesto/social/sprite.png);
    }

    &:hover,
    &:focus,
    &:active {
        color: #00A0DB;

        span {
            border-color: #00A0DB;
        }
    }
}

#principles {
    pointer-events: none; /* Make the hover effect better */
}

#principle-01,
#principle-06,
#principle-01-overlay,
#principle-06-overlay {
    background: #00A0DB !important;
}

#principle-02,
#principle-07,
#principle-02-overlay,
#principle-07-overlay {
    background: #DD5A00 !important;
}

#principle-03,
#principle-08,
#principle-03-overlay,
#principle-08-overlay {
    background: #689F2A !important;
}

#principle-04,
#principle-09,
#principle-04-overlay,
#principle-09-overlay {
    background: #4B5C66 !important;
}

#principle-05,
#principle-10,
#principle-05-overlay,
#principle-10-overlay {
    background: #A52D2D !important;
}

.principle {
    position: relative;
    margin: 0 0 20px;
    padding: 20px 20px 20px 90px;
    color: #FFF;
    pointer-events: auto;
    -webkit-transition: opacity .5s, border .5s;
    transition: opacity .5s, border .5s;

    h3 {
        position: relative;
        margin: 0;
        color: #FFF;
        text-shadow: none;
        font-size: 22px;
        line-height: 1.25;
        font-style: italic;

        span {
            display: block;
            position: absolute;
            top: 0;
            left: -70px;
            opacity: .25;
            .open-sans;
            font-size: 45px;
            line-height: 1;
            font-style: normal;
            font-weight: bold;
            .transition(opacity .3s);
        }
    }

    section {
        overflow: hidden;
        margin-top: 30px;
        padding-top: 35px;
        border-top: 1px solid #FFF; /* Fallback */
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    h4 {
        color: #FFF;
        text-shadow: none;
        .open-sans;
        font-size: 14px;
        text-transform: uppercase;
    }

    a {
        border-width: 0 0 1px;
        border-style: solid;
        color: #FFF;
        .transition(all .3s);
    }

    a:link,
    a:visited {
        border-color: #FFF;
        border-color: rgba(255, 255, 255, .2);
        color: #FFF;
        color: rgba(255, 255, 255, .8);

        &:last-child:after {
            opacity: 0;
        }
    }

    a:hover,
    a:focus,
    a:active {
        border-color: #FFF;
        border-color: rgba(255, 255, 255, .6);
        color: #FFF;
        text-decoration: none;

        &:last-child:after {
            opacity: .6;
            -webkit-transition-delay: .3s;
            transition-delay: .3s;
        }
    }

    .resources {
        font-style: italic;
    }

    .videos {
        overflow: hidden;
        _height: 1%; /* IE6 */

        li {
            float: left;
            margin: 0 10px 10px 0;
            width: 120px;
            font-size: 12px;
            list-style-type: none;
        }

        img {
            display: block;
            margin-bottom: 5px;
            width: 120px;
            height: 68px;
        }
    }

    blockquote {
        padding: 0 0 0 40px;
        margin-bottom: 20px;
        line-height: 1.25;

        &:before {
            display: block;
            float: left;
            margin: -10px 0 0 -40px;
            font-size: 64px;
            line-height: 1;
            font-family: Candara, "Trebuchet MS", sans-serif;
            font-weight: bold;
            content: "“";
        }

        p {
            display: inline;
            font-size: 20px;
            font-style: italic;
        }

        footer {
            margin-top: 10px;
            .open-sans-light;
            font-size: 14px;
            text-align: right;

            cite:before {
                content: "—\00A0"; /* mdash nbsp */
            }

            span {
                display: inline-block;
            }
        }
    }

    footer {
        overflow: hidden;
    }

    .share {
        margin: 0;
        padding-bottom: 1px; /* Make sure the anchor's border-bottom is visible */

        a:link,
        a:visited,
        a:hover,
        a:focus,
        a:active {
            &:before {
                background-position: 0 -100px;
            }

            &:after {
                content: "";
            }
        }
    }
}

#sec-tell h2,
#sec-learn h2 {
    font-size: 28px;
    text-align: center;
}

#sec-tell {
    display: none;

    .outer {
        overflow: hidden;
        margin: 0 auto;
        width: 360px;
    }

    textarea {
        display: block;
        .border-box;
        margin: 10px;
        border-radius: 7px;
        padding: 10px;
        width: 340px;
        height: 6.2em;
        color: #A0A0A0;
        background-color: #FAFAFA;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, .08);
        font-size: inherit;
        line-height: 1.5;
        resize: none;

        &:focus {
            color: inherit;
            background-color: #FFF;
            box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4);
        }
    }

    .share {
        margin: 0 10px;

        a {
            color: #484848;
            border-bottom: 1px dotted #484848;

            &:hover,
            &:focus,
            &:active {
                color: #00A0DB;
                text-decoration: none;
                border-bottom: 1px dotted #00A0DB;
            }
        }
    }
}

#sec-learn {
    text-align: center;
    ul {
        list-style-position: inside;
    }
    li {
        margin: 0 auto;
        color: #0096DD;
    }
}

#sec-newsletter {
    .billboard {
        border: 0;
        padding: 0;
        width: 100%;

        h3 {
            float: none;
            margin-bottom: 12px;
            width: auto;
            text-align: center;
        }

        .form-contents,
        .form-submit {
            float: none;
            margin: 0 auto;
            width: 340px;

            input[type="email"],
            input[type="submit"] {
                .border-box;
                padding: 10px;
                width: 100%;
            }

            input[type="email"] {
                border-radius: 7px;
                background-color: #FAFAFA;

                &:focus {
                    background-color: #FFF;
                }
            }

            input[type="submit"] {
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
}

.principle,
#sec-tell {
    .share {
        float: right;

        a:before {
            display: block;
            float: left;
            margin: 6px 0 0 -16px;
            width: 11px;
            height: 11px;
            background-image: url(/media/img/mozorg/about/manifesto/social/sprite.png);
            background-repeat: no-repeat;
            content: "";
        }
    }
}

.ri-grid {
    display: none;
    position: absolute;
    top: 0;
    width: 320px;
    height: 3060px;

    ul li {
        margin: 0 20px 20px 0;
        width: 140px !important; /* Override the setting by Grid Rorator */
        height: 140px !important; /* Override the setting by Grid Rorator */
    }

    &.loaded {
        display: block;
    }
}

#mosaic-group-1 {
    left: -50px;
}

#mosaic-group-2 {
    right: -70px;
}

#modal {
    background: #FFF; /* Fallback */
    background: rgba(255, 255, 255, .85);

    .window .inner {
        margin-right: auto; /* IE6-8 */
        margin-left: auto; /* IE6-8 */
        width: 780px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
        -webkit-animation: popup .2s ease-out;
        animation: popup .2s ease-out;

        #modal-close {
            opacity: .5;
            .transition(opacity .3s);

            &:hover,
            &:focus,
            &:active {
                opacity: 1;
            }

            a {
                padding: 0;
                font-style: italic;
            }

            .button {
                border-radius: 0;
                min-width: 20px;
                height: auto;
                background: transparent none;
                -ms-filter: none; /* Remove the gradient on IE */
                filter: none; /* Remove the gradient on IE */
                box-shadow: none;
                font-size: 20px;
            }
        }

        header {
            display: none;
        }

        .overlay-contents {
            padding: 50px 80px 50px 160px;
            color: #FFF;
            background: transparent;

            header {
                display: block; /* Revert display: none */
                position: static;
                padding: 0;
                height: auto;
                background: transparent;
                opacity: 1;

                h3 {
                    margin: 0;
                    color: #FFF;
                    text-shadow: none;
                    font-size: 32px;
                    line-height: 1.25;
                    .open-sans;
                    font-style: italic;

                    span {
                        left: -120px;
                        opacity: .5;
                        font-size: 82px;
                        line-height: .8;
                        font-style: normal;
                    }
                }

                .more {
                    display: none;
                }
            }

            &:hover,
            &:focus,
            &:active {
                border: 5px solid transparent;
            }
        }

        nav {
            position: absolute;
            top: 250px;
            width: 100%;
            *width: 780px; /* IE7 */

            button {
                position: absolute;
                top: 0;
                overflow: hidden;
                border: 0;
                padding: 0;
                width: 50px;
                height: 50px;
                background: url(/media/img/sandstone/modal-arrows.png) no-repeat;
                opacity: .5;
                text-indent: 100px; /* Hide the label */
                white-space: nowrap;
                cursor: pointer;
                .transition(all .3s);

                &:hover,
                &:focus,
                &:active {
                    opacity: .8;
                    -webkit-animation: .4s ease-out infinite alternate;
                    animation: .4s ease-out infinite alternate;
                }

                &.prev {
                    left: 10px;
                    background-position: 50% 0;

                    &:hover,
                    &:focus,
                    &:active {
                        left: 5px;
                        -webkit-animation-name: bouncer-left;
                        animation-name: bouncer-left;
                    }
                }

                &.next {
                    right: 10px;
                    background-position: 50% -50px;

                    &:hover,
                    &:focus,
                    &:active {
                        right: 5px;
                        -webkit-animation-name: bouncer-right;
                        animation-name: bouncer-right;
                    }
                }
            }
        }
    }
}

html.js {
    #principles:hover .principle {
        opacity: .25;

        &:hover {
            opacity: 1;
        }
    }

    #principles .principle {
        cursor: pointer;

        div {
            display: none;
        }
    }

    .principle {
        border: 5px solid transparent;
        header {
            margin-bottom: 20px;

            .more {
                display: none;
                position: absolute;
                bottom: 10px;
                right: 10px;
                margin: 0;
                font-style: italic;

                &:after {
                    content: "\00A0\00BB"; /* nbsp raquo */
                }
            }
        }

        &:hover,
        &:focus,
        &:active {
            border: 5px solid #333;
            border: 5px solid rgba(0, 0, 0, 0.2);
            header {
                span {
                    opacity: .5;
                }
            }
        }
    }

    #sec-tell {
        display: block;
    }
}

/* Animations */

@-webkit-keyframes popup {
    from {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes popup {
    from {
        transform: scale(.7);
    }
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes bouncer-left {
    from {
        left: 10px;
    }
    to {
        left: 5px;
    }
}
@keyframes bouncer-left {
    from {
        left: 10px;
    }
    to {
        left: 5px;
    }
}

@-webkit-keyframes bouncer-right {
    from {
        right: 10px;
    }
    to {
        right: 5px;
    }
}
@keyframes bouncer-right {
    from {
        right: 10px;
    }
    to {
        right: 5px;
    }
}

/* L10n */

html[lang|="es"],
html[lang="it"] {
    #sec-principles > header h2 strong {
        font-size: inherit;
    }
}

html[lang|="zh"] {
    #sec-principles > header h2 {
        white-space: nowrap;

        strong {
            display: inline;
            vertical-align: bottom;

            &:before {
                content: "\000A"; /* whitespace */
                white-space: pre;
            }
        }
    }
}

html[dir="rtl"] {
    #sec-principles > header h2 {
        &:before {
            right: -1ex;
            left: auto;
        }

        &:after {
            right: auto;
            left: -1ex;
        }
    }

    .principle {
        padding: 20px 90px 20px 20px;

        h3 span {
            right: -70px;
            left: auto;
            text-align: right;
        }

        .resources li {
            margin: 0 20px 0 0;
        }

        .videos li {
            float: right;
            margin: 0 0 10px 10px;
        }

        blockquote {
            padding: 0 40px 0 0;

            &:before {
                float: right;
                margin: -10px -40px 0 0;
                content: "”";
            }

            footer {
                text-align: left;
            }
        }
    }

    &.js .principle header .more {
        right: auto;
        left: 10px;
    }

    .principle,
    #sec-tell {
        .share {
            float: left;

            a:before {
                float: right;
                margin: 6px -16px 0px 0px;
            }
        }
    }

    #modal .window .inner {
        .overlay-contents {
            padding: 50px 160px 50px 80px;

            header h3 span {
                right: -120px;
                left: auto;
            }
        }

        nav button {
            &.prev {
                right: 15px;
                left: auto;
                background-position: 50% -50px;

                &:hover,
                &:focus,
                &:active {
                    right: 10px;
                    left: auto;
                    -webkit-animation-name: bouncer-right;
                    animation-name: bouncer-right;
                }
            }

            &.next {
                right: auto;
                left: 15px;
                background-position: 50% 0;

                &:hover,
                &:focus,
                &:active {
                    right: auto;
                    left: 10px;
                    -webkit-animation-name: bouncer-left;
                    animation-name: bouncer-left;
                }
            }
        }
    }
}

/* Mobile & Tablet */

@media only screen and (max-width: @breakDesktop) {
    #modal .window .inner {
        width: auto;
        max-width: 780px;
    }
}

/* Tablet */

@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
    #mosaic-group-1 {
        left: -190px;
    }

    #mosaic-group-2 {
        right: -210px;
    }

    html.js {
        .principle header {
            .more {
                display: block;
            }
        }
    }
}

/* Mobile */

@media only screen and (max-width: @breakTablet) {
    #main-content-inner {
        width: auto;
    }

    #main-feature p {
        width: auto;
    }

    #modal .window .inner {
        header {
            overflow: visible;
            text-indent: 0;
            white-space: normal;
        }

        .overlay-contents header h3 {
            font-size: 24px;
        }
    }

    .ri-grid,
    .ri-grid.loaded {
        display: none;
    }

    html.js {
        .principle header {
            .more {
                display: block;
            }
        }
    }
}

/* Mobile Portrait */

@media only screen and (max-width: @breakMobileLandscape) {
    #main-feature {
        h1 {
            font-size: 48px;
        }

        p {
            font-size: 14px;
        }
    }

    #sec-principles header h2 {
        font-size: 38px;

        strong {
            font-size: 44px;
        }

        &:before,
        &:after {
            top: 12px;
            font-size: 80px;
        }
    }

    .principle h3 {
        font-size: 18px;
    }

    #sec-tell .outer {
        width: 100%;

        textarea {
            margin: 10px 0;
            width: 100%;
        }

        .share {
            margin: 0;
        }
    }

    #sec-newsletter .billboard {
        .form-contents,
        .form-submit {
            width: auto;
        }
    }

    #modal .window .inner {
        .overlay-contents {
            padding: 80px 20px 20px;

            header h3 {
                font-size: 20px;

                span {
                    position: static;
                    margin-bottom: 20px;
                    font-size: 64px;
                }
            }
        }

        nav {
            top: 10px;
            left: 10px;
            width: 60px;
            height: 25px;

            button {
                width: 25px;
                height: 25px;
                background-size: 10px 50px;

                &.prev,
                &.prev:hover,
                &.prev:focus,
                &.prev:active {
                    left: 0;
                    -webkit-animation-name: none;
                    animation-name: none;
                }

                &.next,
                &.next:hover,
                &.next:focus,
                &.next:active {
                    right: 0;
                    background-position: 50% -25px;
                    -webkit-animation-name: none;
                    animation-name: none;
                }
            }
        }
    }

    html[dir="rtl"] #modal .window .inner {
        .overlay-contents {
            padding: 80px 20px 20px;
        }

        nav {
            right: 10px;
            left: auto;

            button {
                &.prev,
                &.prev:hover,
                &.prev:focus,
                &.prev:active {
                    right: 0;
                    left: auto;
                    background-position: 50% -25px;
                    -webkit-animation-name: none;
                    animation-name: none;
                }

                &.next,
                &.next:hover,
                &.next:focus,
                &.next:active {
                    right: auto;
                    left: 0;
                    background-position: 50% 0;
                    -webkit-animation-name: none;
                    animation-name: none;
                }
            }
        }
    }
}
