// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

body {
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2em;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bolder;
}

dd + dt {
    margin-top: 0.75em;
}

.xul {
    font-family: fantasy;
    font-size: xx-large;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
