// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#main-feature {
    text-align: center;
    h2 {
        font-size: 28px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.link-flat {
    display: inline-block;
    background: #e8e5dc;
    padding: @baseLine/4 @baseLine/2;
    margin-right: @baseLine/2;
    font-size: @largeFontSize;
    color: #af3232;
    border-radius: 2px;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 -1px 1px 0px rgba(0, 0, 0, 0.1);
    .transition(all 0.1s ease);
    &:after {
        content: ' »';
    }
    &:hover {
        color: #872727;
        border-bottom: 1px solid rgba(48, 48, 48, 0.2);
        text-decoration: none;
    }
}

.products {
    padding-top: @baseLine;
    padding-bottom: @baseLine;
    .links {
        .span-all();
        margin: @baseLine/2 0;
        padding-top: @baseLine * 1.5;
        border-top: 1px solid @borderColor;
    }
    h1 {
        margin-left: (@gridGutterWidth / 2);
        margin-right: (@gridGutterWidth / 2);
        font-size: 34px;
    }
    ul {
        padding: 0;
        margin: 0;
        .clearfix;
    }
    li {
        .span(4);
        .open-sans;
        padding: (@baseLine / 4) 0;
        font-size: @smallFontSize;
        list-style-type: none;
        a {
            display: block;
            h3 {
                color: @linkRed;
                font-size: 22px;
                margin-bottom: @baseLine / 4;
            }
            &:hover,
            &:active {
                text-decoration: none;
                h3 {
                    color: darken(@linkRed, 10%);
                    text-decoration: underline;
                }
            }
            &:focus {
                text-decoration: none;
            }
        }
        p {
            color: @textColorTertiary;
            min-height: 3em;
        }
    }
    img {
        @projectShadow: 0 0 16px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.5);
        .box-shadow(@projectShadow);
        margin-bottom: @baseLine / 2;
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}

.billboard {
    .transition(box-shadow 0.6s ease 0.2s);
    box-shadow: 0 0 0 0 #fff;
}

.sticky-wrapper {
    margin-bottom: 40px;

    .stuck {
        position: fixed;
        top: 0;
        width: 960px;
        z-index: 2;
        &.billboard {
            box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.3);
        }
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
    #main-feature {
        h2 {
            width: auto;
        }
    }

    .products {
        li {
           .span_narrow(4);
        }
    }

    .sticky-wrapper .stuck {
        width: 720px;
    }
}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {
    #main-feature {
        h1 {
            font-size: 38px;
        }
        h2 {
            font-size: 16px;
            width: auto;
            letter-spacing: normal;
        }

    }

    nav#products-nav.menu-bar ul li {
        padding: 0;
    }

    .link-flat {
        font-size: @baseFontSize;
        margin-bottom: @baseLine/2;
    }

    .products {
        .links {
            text-align: left;
            margin-top: @baseLine/2;
        }
        li {
            width: auto;
            margin: 0;
            padding: 0 0 (@baseLine) 0;
            clear: left;
            a h3 {
                font-size: 18px;
                margin-bottom: 0;
            }
            p {
                font-size: 12px;
            }
        }
        img {
            .span_narrow(2);
        }
        h3,
        p {
            .span_narrow(5);
        }
    }

    .sticky-wrapper .stuck {
        position: relative;
        width: auto;
        &.billboard {
            box-shadow: 0 0 0 0 #fff;
        }
    }
}

/* Mobile layout: 0 - 480px; */
@media only screen and (max-width: @breakMobileLandscape) {
    .products {
        h3, p {
            .span_narrow(3);
        }
        .links a {
            display: block;
        }
    }
}
