{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-protocol-mozilla.html" %}

{% block page_css %}
  {{ css_bundle('contribute-2020') }}
{% endblock %}

{% block page_title %}Volunteer Opportunities at Mozilla{% endblock %}

{% block body_class %}{{ super() }} contribute{% endblock %}

{% set utm_params = '?utm_source=mozilla.org-contribute&utm_medium=referral&utm_campaign=contribute-page' %}

{% block content %}
<main role="main">
  <div class="mzp-l-content contribute-intro">
    <header class="contribute-intro-content">
      <h1 class="contribute-intro-heading">Your talents are needed for a better internet</h1>
      <p>Mozilla is a non-profit organization working to ensure the internet
        is open and welcoming to all. And we need your help. By joining our
        community, you can help drive innovation, enhance accountability and
        trust and make the internet a better place for everyone.</p>
    </header>

    <div class="contribute-intro-media-wrapper">
      <div class="contribute-intro-media">
        <img src="{{ static('img/contribute/contribute-hero-composition.jpg') }}" alt="">
      </div>
    </div>
  </div>

  <section class="contribute-hero">
    <div class="mzp-l-content">
      <h2>{{ _('How you can contribute…') }}</h2>
    </div>

    <div class="mzp-l-content mzp-l-card-quarter contribute-card-container">
      <section class="mzp-c-card contribute-card">
        <a class="mzp-c-card-block-link contribute-card-wrapper" href="https://community.mozilla.org/activities/localize-mozilla/{{ utm_params }}">
          <div class="mzp-c-card-media-wrapper">
            <picture>
              <source srcset="{{ static('img/contribute/contribute-card-translate.png') }}" media="(max-width: 480px)">
              <img class="mzp-c-card-image" srcset="{{ static('img/contribute/contribute-card-translate-lg.png') }}" alt="">
            </picture>
          </div>
          <div class="mzp-c-card-content contribute-card-content">
            <div class="contribute-card-content-tags">
              <div class="mzp-c-card-tag contribute-card-tag-bold">Non Technical</div>
              <div class="mzp-c-card-tag">Individual and event organization</div>
            </div>
            <h2 class="mzp-c-card-title">Translate content</h2>
            <p class="mzp-c-card-desc">The internet is only global if it’s
              understood everywhere. Help us translate Mozilla’s products and
              websites into your local language.</p>
          </div>
        </a>
      </section>

      <section class="mzp-c-card contribute-card">
        <a class="mzp-c-card-block-link contribute-card-wrapper" href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Introduction/{{ utm_params }}">
          <div class="mzp-c-card-media-wrapper">
            <picture>
              <source srcset="{{ static('img/contribute/contribute-card-contribute.png') }}" media="(max-width: 480px)">
              <img class="mzp-c-card-image" srcset="{{ static('img/contribute/contribute-card-contribute-lg.png') }}" alt="">
            </picture>
          </div>
          <div class="mzp-c-card-content contribute-card-content">
            <div class="contribute-card-content-tags">
              <div class="mzp-c-card-tag contribute-card-tag-bold">Technical</div>
              <div class="mzp-c-card-tag">Individual</div>
            </div>
            <h2 class="mzp-c-card-title">Contribute to the Mozilla codebase</h2>
            <p class="mzp-c-card-desc">Actively improve Mozilla’s products by
              contributing to a variety of development opportunities.</p>
          </div>
        </a>
      </section>

      <section class="mzp-c-card contribute-card">
        <a class="mzp-c-card-block-link contribute-card-wrapper" href="https://community.mozilla.org/activities/answer-support-questions/{{ utm_params }}">
          <div class="mzp-c-card-media-wrapper">
            <picture>
              <source srcset="{{ static('img/contribute/contribute-card-support.png') }}" media="(max-width: 480px)">
              <img class="mzp-c-card-image" srcset="{{ static('img/contribute/contribute-card-support-lg.png') }}" alt="">
            </picture>
          </div>
          <div class="mzp-c-card-content contribute-card-content">
            <div class="contribute-card-content-tags">
              <div class="mzp-c-card-tag contribute-card-tag-bold">Support</div>
              <div class="mzp-c-card-tag">Individual and event organization</div>
            </div>
            <h2 class="mzp-c-card-title">Individual and event organization</h2>
            <p class="mzp-c-card-desc">Help make Mozilla’s products easy to
              use. Answer user's "help" questions as part of the Mozilla Support
              Community forums.</p>
          </div>
        </a>
      </section>

      <section class="mzp-c-card contribute-card">
        <a class="mzp-c-card-block-link contribute-card-wrapper" href="https://community.mozilla.org/{{ utm_params }}">
          <div class="mzp-c-card-media-wrapper">
            <picture>
              <source srcset="{{ static('img/contribute/contribute-card-community.png') }}" media="(max-width: 480px)">
              <img class="mzp-c-card-image" srcset="{{ static('img/contribute/contribute-card-community-lg.png') }}" alt="">
            </picture>
          </div>
          <div class="mzp-c-card-content contribute-card-content">
            <div class="contribute-card-content-tags">
              <div class="mzp-c-card-tag contribute-card-tag-bold">Technical and Non-technical</div>
            </div>

            <h2 class="mzp-c-card-title">Join the community</h2>
            <p class="mzp-c-card-desc">Want to get more involved in the
              Mozilla community? Check out all the volunteer opportunities in our
              Community Portal.</p>
          </div>
        </a>
      </section>
    </div>
  </section>

  <section class="mzp-l-content">
    <div class="contribute-mission">
      <div class="contribute-mission-intro">
        <h2 class="contribute-mission-title">Our Mission</h2>
        <p>Our mission is to ensure the internet is a global public resource,
          open and accessible to all. An internet that truly puts people first,
          where individuals can shape their own experience and are empowered, safe
          and independent.</p>
      </div>

      <ul class="contribute-mission-cards">
        <li class="contribute-mission-card">
          <a href="{{ url('mozorg.about') }}">
            <h3 class="contribute-mission-learn-icon">Learn about Mozilla</h3>
            <p>Read our manifesto</p>
          </a>
        </li>

        <li class="contribute-mission-card">
          <a href="https://community.mozilla.org/events/{{ utm_params }}">
            <h3 class="contribute-mission-event-icon">Find an event</h3>
            <p>Meet our passionate volunteers</p>
          </a>
        </li>

        <li class="contribute-mission-card">
          <a href="{{ donate_url('contribute-page') }}">
            <h3 class="contribute-mission-donate-icon">Donate</h3>
            <p>Help fund our mission</p>
          </a>
        </li>

        <li class="contribute-mission-card">
          <a href="https://twitter.com/mozilla">
            <h3 class="contribute-mission-follow-icon">Follow Mozilla</h3>
            <p>News and volunteer opportunities</p>
          </a>
        </li>
      </div>
    </div>
  </section>

  <div class="mzp-l-content contribute-feature-container">
    <section class="contribute-feature">

      <div class="mzp-c-card-feature-media contribute-feature-media-wrapper">
        <div class="contribute-feature-media">
          <img src="{{ static('img/contribute/contribute-madeby-feature.jpg') }}" alt="">
        </div>
      </div>

      <div class="contribute-feature-content">
        <div class="contribute-feature-content-container">
          <h2>Made by passionate people like you</h2>
          <div class="contribute-feature-desc">
            <p>When you contribute to Mozilla, you become part of a worldwide
              community made up of people from around the globe who believe
              that we all have a role in ensuring that the internet remains a force
              for good.</p>

            <p>We believe community collaboration is vital to
              creating an internet that is diverse, innovative, and
              accountable to the people who need it most. Whether you have a background in
              tech, community organizing, or just a computer and some free
              time, you can help us make the internet a better place.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="mzp-l-content">
    <aside class="mzp-c-newsletter">
      <div class="mzp-c-newsletter-image">
        {{ high_res_img('img/contribute/newsletter.png', {'alt': ''}) }}
      </div>

      <div class="newsletter-content">
        {{ email_newsletter_form(
          title=_('Not sure yet?'),
          subtitle=_('Get community and contribution news to your inbox'),
          desc=_('Subscribe to our newsletter, join Mozillians all around the world, and learn about impactful opportunities to support Mozilla’s mission.'),
          newsletters='about-mozilla',
          include_language=False)
        }}
      </div>
    </aside>
  </section>

  <section class="contribute-banner-wrapper">
    <div class="contribute-banner contribute-banner-gethelp">
      <div class="contribute-banner-content">
        <h2 class="contribute-banner-gethelp-title">Get Help</h2>
        <p>Mozilla has a dedicated team of volunteers to help with whatever
          issues you may be experiencing.</p>
      </div>
      <div class="contribute-banner-cta">
        <a href="https://support.mozilla.org/{{ utm_params }}" class="mzp-c-button mzp-t-product">
          Mozilla Support
        </a>
      </div>
    </div>

    <div class="contribute-banner contribute-banner-problems">
      <div class="contribute-banner-content">
        <div class="contribute-banner-problems-title-wrapper">
          <h2 class="contribute-banner-problems-title"><span>Problems with a web page?</span></h2>
        </div>
        <p>If your experience of a website differs between browsers then you may
          have discovered a web compatibility issue. We would love to know about
          it!</p>
      </div>
      <div class="contribute-banner-cta">
        <a href="https://webcompat.com/{{ utm_params }}" class="mzp-c-button">
          Report an issue
        </a>
      </div>
    </div>
  </section>

</main>
{% endblock content %}

{% block js %}
  {{ js_bundle('contribute-2020') }}
{% endblock %}
