{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% from "newsletter/includes/macros.html" import email_form_thankyou with context %}

{% add_lang_files "mozorg/contribute" %}

{% block body_class %}{{ super() }} contribute{% endblock %}

{% block page_css %}
  {% stylesheet 'contribute-2015' %}
{% endblock %}

{% block js %}
  {% javascript 'contribute-2015' %}
{% endblock %}

{% block content %}
<main role="main">
  {% block contrib_content %}{% endblock contrib_content %}
</main>
{% endblock content %}

{% block email_form %}{% endblock %}
