{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-protocol-mozilla.html" %}

{% from "macros-protocol.html" import call_out, hero, feature_card, picto_card with context %}

{% add_lang_files "mozorg/contribute/index" %}

{% block body_class %}{{ super() }} contribute{% endblock %}

{% block page_css %}
  {{ css_bundle('contribute-base') }}
{% endblock %}

{% block content %}
<main role="main">
{% block contrib_head %}
    <nav class="c-sub-navigation">
      <div class="mzp-l-content">
        <div class="c-sub-navigation-content">
          <h2 class="c-sub-navigation-title">{{ _('Get Involved') }}</h2>
          <ul class="c-sub-navigation-list">
            <li class="c-sub-navigation-item">
              <a href="{{ url('mozorg.contribute.index') }}" data-link-type="nav" data-link-name="Why volunteer">
                {# L10n: this br is for formatting, omit or reposition as needed #}
                {{ _('Why<br> volunteer') }}
              </a>
            </li>
            <li class="c-sub-navigation-item">
              <a href="https://community.mozilla.org/events/?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=contribute&amp;utm_content=contribute-page" data-link-type="nav" data-link-name="Find an event">
                {# L10n: this br is for formatting, omit or reposition as needed #}
                {{ _('Find<br> an event') }}
              </a>
            </li>
            <li class="c-sub-navigation-item">
              <a href="https://activate.mozilla.community/?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=contribute&amp;utm_content=contribute-page" data-link-type="nav" data-link-name="Get involved" data-cta-position="Nav">
                {{ _('Get Involved') }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block contrib_title %}
      <div class="mzp-l-content">
        <h1 class="contribute-section-heading">{% block contrib_page_title %}{% endblock %}</h1>
      </div>
    {% endblock contrib_title %}
  {% endblock contrib_head %}

  {% block contrib_content %}{% endblock contrib_content %}

  {% block contrib_footer %}
  <section class="mzp-l-content">
    <div class="contribute-extra-links">
      <div class="contribute-extra-links-item">
        <h3>{{ _('Communicate') }}</h3>
        <ul>
          <li><a href="https://community.mozilla.org/groups/">{{ _('Mozilla communities') }}</a></li>
          <li><a href="{{ url('mozorg.about.forums.forums') }}">{{ _('Mailing lists') }}</a></li>
        </ul>
      </div>

      <div class="contribute-extra-links-item">
        <h3>{{ _('More links') }}</h3>
        <ul>
          <li><a href="https://input.mozilla.org/feedback" rel="external">{{ _('Submit Firefox feedback') }}</a></li>
          <li><a href="https://careers.mozilla.org" rel="external">{{ _('Explore Mozilla careers') }}</a></li>
          <li><a href="https://support.mozilla.org" rel="external">{{ _('Get help with Firefox') }}</a></li>
          <li><a href="https://reps.mozilla.org/events/period/future/ical/" rel="external">{{ _('Subscribe to community events') }}</a></li>
        </ul>
      </div>
    </div>

    {% block contrib_extra_third %}
      <aside class="mzp-c-newsletter">
        <div class="mzp-c-newsletter-image">
          {{ high_res_img('img/home/2018/newsletter-graphic.png', {'alt': ''}) }}
        </div>

        <div class="newsletter-content">
          {% if LANG.startswith('en') %}
            {% set newsletter_title = _('Get community updates') %}
          {% else %}
            {% set newsletter_title = _('Get community updates') ~ _('(English)') %}
          {% endif %}

          {{ email_newsletter_form(
            title=newsletter_title,
            newsletters='about-mozilla',
            include_language=False
          )}}
        </div>
      </aside>
    {% endblock %}
  </section>
  {% endblock contrib_footer %}
</main>

{% block cta %}{% endblock %}

{% endblock content %}
