{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/contribute/contribute-base.html" %}

{% block page_title %}{{_('Thank you!')}}{% endblock %}

{% block body_id %}thankyou{% endblock %}

{% block contrib_country_form %}{% endblock %}

{% block contrib_title %}
  <div class="container">
    <h1 class="page-title">{{ _('Thanks!') }}</h1>
    <p class="section-tagline">
      {{ _('Thank you for getting in touch! You will hear from us soon.') }}
    </p>
  </div>
{% endblock %}

{% block contrib_content %}
{% endblock contrib_content %}

{% block contrib_footer %}{% endblock %}
