{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/contribute/contribute-base.html" %}

{% add_lang_files "mozorg/contribute/index" %}

{% block page_title %}{{_('Events')}}{% endblock %}
{% block body_id %}events{% endblock %}

{% block contrib_page_title %}{{ _('Events') }}{% endblock %}

{% block contrib_content %}
  <section class="section events-list">
    <div class="container">
      <table class="events-table">
        <thead>
          <tr>
            <th scope="col" class="event-date">{{ _('Date') }}</th>
            <th scope="col" class="event-name">{{ _('Event') }}</th>
            <th scope="col">{{ _('Location') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for event in current_and_future_events() %}
            <tr itemscope itemtype="http://schema.org/Event">
              <td class="event-date"><time itemprop="startDate endDate" datetime="{{ event.start_time.isoformat() }}">{{ event.start_time|l10n_format_date }}</time></td>
              <td itemprop="name" class="event-name" scope="row">{% if event.url %}<a itemprop="url" href="{{ event.url }}">{% endif %}{{ event.title|safe }}{% if event.url %}</a>{% endif %}</td>
              <td itemprop="location" itemscope itemtype="https://schema.org/Place"><span itemprop="https://schema.org/Address">{{ event.location|safe }}</span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock contrib_content %}
