{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/contribute/contribute-base.html" %}

{% add_lang_files "mozorg/contribute/stories" "mozorg/contribute/index" %}

{% block body_id %}stories{% endblock %}

{% block page_title %}{{_('Mozillian Stories')}}{% endblock %}

{% block contrib_page_title %}{{ _('Volunteer with Mozilla!') }}{% endblock %}

{% block string_data %}
  {# L10n: Used as a toggle to display more content. #}
  data-more='{{_('More')}}'
  {# L10n: Used as a toggle to display less content. #}
  data-less='{{_('Less')}}'
{% endblock %}

{% block contrib_content %}
  <section class="section stories-intro">
    <div class="container">
      <h2 class="section-title">#IAmAMozillian</h2>
      <p class="section-tagline">{{ _('Meet Mozillians from all around the world. Learn about the projects they’ve worked on and see what they’re currently helping with.') }}</p>
    </div>
  </section>

  <section class="section story-main">
    <div class="container">
    {% block story_content %}{% endblock %}
    </div>
  </section>

  <section class="section stories-other">
    <div class="container">
      <h2 class="section-title">{{ _('Meet a few more Mozillians') }}</h2>
      <p class="section-tagline">
      {% trans link_hashtag='https://twitter.com/search?q=%23IAmAMozillian' %}
        Read their stories here and discover even more on Twitter with <a href="{{ link_hashtag }}">#IAmAMozillian</a>
      {% endtrans %}
      </p>
      {% block stories_list %}{% endblock %}
    </div>
  </section>
{% endblock contrib_content %}

{% block js %}
  {{ super() }}
  {{ js_bundle('contribute-stories') }}
{% endblock %}
