// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '/media/protocol/img';

@import '../../protocol/css/includes/lib';
@import '../../protocol/css/includes/mixins/details';
@import '../../protocol/css/components/article';

$heading-purple: #20123A;
$body-purple: #42425A;
$border: 2px solid $color-gray-20;


/* -------------------------------------------------------------------------- */
// Layout

.l-narrow {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 $spacing-lg;
}

/* -------------------------------------------------------------------------- */
// Policy header

.policy-title {
    @include font-firefox;
    margin-bottom: $spacing-lg;

    @media #{$mq-sm} {
        margin-top: $layout-sm;
        margin-bottom: $layout-md;
    }

    @media #{$mq-md} {
        margin-top: $layout-sm;
        margin-bottom: $layout-lg;
    }

    &:before {
        @include background-size(40px 40px);
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 40px;
        margin-bottom: $spacing-sm;
        width: 40px;

        @media #{$mq-sm} {
            @include bidi((
                (float, left, right),
                (margin-right, $spacing-sm, margin-left, 0),
            ));
        }

        @media #{$mq-md} {
            @include background-size(48px 48px);
            @include bidi((
                (margin-right, $spacing-md, margin-left, 0),
            ));
            height: 48px;
            width: 48px;
        }

        @media #{$mq-lg} {
            @include bidi((
                (left, $layout-xl, right, auto),
            ));
            position: absolute;
        }
    }

    h1 {
        @include text-display-xs;
        font-weight: bold;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.product-firefox .policy-title:before {
    background-image: url('/media/img/logos/firefox/logo-quantum.png');

    @media #{$mq-high-res} {
        background-image: url('/media/img/logos/firefox/logo-quantum-high-res.png');
    }
}

.product-firefox-lite .policy-title:before {
    background-image: url('/media/img/logos/firefox/logo-lite.png');

    @media #{$mq-high-res} {
        background-image: url('/media/img/logos/firefox/logo-lite-high-res.png');
    }
}


/* -------------------------------------------------------------------------- */
// Policy header intro

.privacy-lead-in {
    border-bottom: $border;
    clear: both;
    margin-bottom: $layout-sm;
    padding-bottom: $layout-xs;

    h2 {
        @include text-display-lg;
    }
}

/* -------------------------------------------------------------------------- */
// Main policy content

.privacy-body {

    section > section {
        border-bottom: $border;

        > div {
            margin-top: $spacing-sm * -1;
            margin-bottom: $spacing-xl;
        }
    }

    h2 {
        @include font-size(32px);
        margin-bottom: $layout-md;
    }

    h3 {
        @include text-display-xs;
        margin: $layout-sm 0;
    }

    hr {
        display: none;
    }
}

#optional-features {
    margin-top: $spacing-xl;
}

/* -------------------------------------------------------------------------- */
// Privacy choices widget

.data-choices {
    @include clearfix;
    background-color: $color-gray-20;
    border-radius: 8px;
    margin-top: $spacing-xl;
    padding: $spacing-sm;
    position: relative;
    text-align: center;

    p {
        @include text-body-md;
        display: inline-block;
        margin: 0;
        padding: $spacing-sm 0;
    }

    .mzp-c-button {
        display: block;
        margin: $spacing-md auto 0;
    }

    @media #{$mq-md} {
        @include grid-column-gap($spacing-lg);
        display: grid;
        grid-template-columns: 4fr 1fr;

        @include bidi(((text-align, left, right),));

        .mzp-c-button {
            margin: 0;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Policy footer

.privacy-footnote {
    @include text-body-md;
    padding: $spacing-2xl 0;

    h3 {
        @include visually-hidden;
    }
}

.back {
    margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
// Summary and details widget

.privacy-body {
    @include details;
}

.privacy-body .is-summary button {
    @include summary;
}

.privacy-body .is-summary button[aria-expanded=true]:before {
    @include summary-open;
}
