// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';

body {
    @include open-sans;
}

.privacy-footnote {
    background-color: #f3f3f3;
    color: #333;
}

/* POLICY HEADER */
.privacy-head {
    background: #000;
    background: url('/media/img/privacy/privacy-header.png') left top no-repeat,
                #000 radial-gradient(farthest-corner at 150px 50px, #00458b 0%, #000 100%);
    @include background-size(contain);
    color: #fff;
    padding: 20px;

    @media #{$mq-tablet} {
        padding: 40px 20px;
    }

    @media #{$mq-desktop} {
        padding: 60px 20px;
    }

    a:link,
    a:visited {
        color: #fff;

        &:hover,
        &:focus {
            color: lighten($color-link, 25%);
        }
    }

    .policy-title {
        @include background-size(40px 40px);
        @include border-box;
        background-position: left top;
        background-repeat: no-repeat;
        padding-left: 60px;
        margin: 0 auto 2em;

        h1 {
            @include font-size-level3;
            font-weight: normal;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        @media #{$mq-tablet} {
            @include background-size(60px 60px);
            padding-left: 90px;
            min-height: 60px;
        }

        @media #{$mq-desktop} {
            @include background-size(90px 90px);
            padding-left: 120px;
            min-height: 90px;
        }
    }

    time {
        @include font-size-level5;
    }
}

.product-firefox .policy-title {
    background-image: url('/media/img/logos/firefox/logo-quantum.png');

    @media #{$mq-high-res} {
        background-image: url('/media/img/logos/firefox/logo-quantum-high-res.png');
    }
}

.product-firefox-rocket .policy-title {
    background-image: url('/media/img/logos/firefox/logo-rocket.png');

    @media #{$mq-high-res} {
        background-image: url('/media/img/logos/firefox/logo-rocket-high-res.png');
    }
}

/* POLICY LEAD-IN */
.privacy-lead-in {
    h2 {
        @include font-size-level2;
        font-weight: normal;
        margin: 0 0 1em;
        line-height: 1.3;
    }

    .optional-lead-in {
        display: none;

        @media #{$mq-tablet} {
            display: block;
        }
    }
}

/* POLICY MAIN CONTENT */
.privacy-body {
    @include font-size-level5;

    section > section {
        margin-bottom: 2em;
    }

    h2 {
        @include font-size-level3;
        font-weight: normal;
        margin: 2em 0 1em;
    }

    h3 {
        @include font-size-level4;
        margin: 0 0 1em;
    }

    ul {
        margin-left: 20px;

        li {
            list-style-type: disc;
        }
    }

    hr {
        display: none;
    }
}

/* ADDITIONAL STYLES WHEN JS IS ENABLED */
.privacy-body.interactive-widget {
    h2 {
        position: relative;
        padding-right: 100px;
    }

    h3 {
        cursor: pointer;
        font-weight: normal;
        margin: 0;
        padding: 1.5em 40px 1.5em 0;
        position: relative;

        &:after {
            position: absolute;
            top: 1.75em;
            right: 0;
            display: block;
            content: '';
            background: transparent url('/media/img/privacy/arrowhead-up-16.svg') 0 0 no-repeat;
            width: 16px;
            height: 16px;
        }
    }

    h3.collapsed {
        margin-bottom: -.75em;

        &:after {
            background-image: url('/media/img/privacy/arrowhead-down-16.svg');
        }
    }

    section > section {
        border-bottom: 1px solid $color-text-tertiary;
        padding-bottom: 1em;
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 2em;
            border-bottom: 0;
        }
    }

    .toggle {
        @include font-size-small;
        background: none;
        border: 0;
        border-bottom: 3px solid $color-text-secondary;
        bottom: -3px;
        cursor: pointer;
        display: inline-block;
        padding: 0 0 3px;
        position: absolute;
        right: 0;
        max-width: 90px;
        line-height: 1.2;
    }

    .data-choices {
        position: relative;
        background-color: #f2f2f2;
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;

        @media #{$mq-desktop} {
            text-align: left;
        }

        p {
            display: inline-block;
            margin: 0;
            max-width: 80%;
        }

        button {
            display: block;
            background-color: #c7c7c9;
            margin: 10px auto;
            padding: 5px 20px;
            border: 1px solid #c7c7c9;
            border-radius: 2px;
            @include font-size(14px);
            cursor: pointer;

            @media #{$mq-desktop} {
                display: inline-block;
                position: absolute;
                top: 8px;
                right: 20px;
                margin: 0;
            }
        }
    }
}

/* POLICY FOOTNOTE */
.privacy-footnote {
    margin-top: 3em;
    padding: 2em 0;
}

/* UTILITIES */
.content-girdle {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
}

/* RTL LANGUAGES */
[dir='rtl'] {

    .privacy-head .policy-title {
        background-position: right top;
        padding-left: 0;
        padding-right: 60px;
        margin: 0 auto 2em;

        @media #{$mq-tablet} {
            padding-right: 90px;
        }

        @media #{$mq-desktop} {
            padding-right: 120px;
        }
    }

    .privacy-body.interactive-widget {
        h2 {
            padding-left: 100px;
            padding-right: 0;
        }

        h3 {
            padding-left: 40px;
            padding-right: 0;

            &:after {
                right: auto;
                left: 0;
            }
        }

        .toggle {
            right: auto;
            left: 0;
        }

        @media #{$mq-desktop} {
            .data-choices {
                text-align: right;

                button {
                    left: 20px;
                    right: auto;
                }
            }
        }
    }

}
