// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/sandstone-resp.less";

#main-content {
    .callout-content;
    margin-top: 100px;
}

.main-header {
    .clearfix;
}

.secondary-title {
    margin-bottom: @baseLine * 2;
}

.main-column {
    margin: 0;
}

.sidebar {
    width: 250px;
    margin-left: 100px;
}

.container {
    width: auto;
}

.callout {
    background: #e4f3ff;
    padding: 12px @baseLine;
    .border-radius(4px);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}

fieldset {
    margin-bottom: @baseLine * 2;
    li {
        list-style-type: none;
        margin-left: 0;
    }
}

.field {
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url],
    textarea {
        width: 400px;
    }
    textarea {
        height: 80px;
    }
    ul {
        list-style-type: none;
        li {
            margin-left: 0;
        }
    }
}

.fields-container {
    .clearfix;
    .field {
        float: left;
        width: 210px;
        margin-right: @baseLine;
        input[type=text] {
            width: auto;
        }
    }
}

#speaker-request-form {
    margin-top: @baseLine;

    label.error {
        .visually-hidden;
    }

    textarea {
        height: 50px;
    }
}

@media only screen and (max-width: @breakDesktop) {
    .main-column {
        float: none;
        width: auto;
    }

    .sidebar {
        float: none;
        width: auto;
        margin: (@baseLine * 2) 0 0;
    }
}

@media only screen and (max-width: @breakTablet) {
    #main-content {
        margin-top: @baseLine * 2;
    }

    .secondary-title {
        margin: -(@baseLine * 1.5) 0 (@baseLine * 1.5);
    }

    .sidebar {
        width: 240px;
    }

    .field {
        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=url],
        textarea {
            width: 300px;
        }
    }
}

@media only screen and (max-width: @breakMobileLandscape) {
    .field {
        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=url],
        textarea {
            width: 200px;
        }
    }
}
