{% extends 'newsletter/base.html' %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block body_id %}newsletter-country-success{% endblock body_id %}

{% block page_title %}Newsletter Country{% endblock page_title %}

{% block content %}
  <div id="main-feature">
    <h1>Thanks for updating your country!</h1>
    <section class="billboard">
    <p>We'll now be able to keep you up to date on interesting things happening near you.</p>
    <p>Please be sure to add our sending address: mozilla@e.mozilla.org to your address book to ensure we always reach your inbox.</p>
    </section>
  </div>
{% endblock %}
