{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends 'newsletter/base.html' %}

{% block page_title %}{{ ftl('newsletters-mozilla-newsletter') }}{% endblock %}

{% block content %}
<main role="main">
  <div class="section-intro">
    <div class="mzp-l-content">
      <h1 class="page-title">{{ self.page_title() }}</h1>
    </div>
  </div>

  <section class="section-subscribe">
    <h2 class="section-title">{{ self.page_desc() }}</h2>
    <div class="mzp-l-content mzp-t-content-sm">
      {{ email_newsletter_form(newsletters='knowledge-is-power', include_language=False, include_title=False, spinner_color='#0c99d5') }}
    </div>
  </section>
</main>
{% endblock %}
