{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends 'base-protocol.html' %}

{% block page_css %}
  {{ css_bundle('protocol-newsletter') }}
  {{ css_bundle('newsletter-ten-tabs') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main>
    <div class="c-image-wrapper mzp-l-content">
      <img class="c-image" src="{{ static('img/newsletter/ten-tabs/ten-tabs.svg')}}" alt="Ten Tabs from Firefox" />
    </div>
    <div class="c-copy-wrapper mzp-l-content mzp-t-content-sm">
      <h1 class="c-title">Your guide to the most fascinating articles from top publications</h1>
      <div class="c-tagline">
        <p>Join millions finding daily inspiration. Ten Tabs cuts through the clutter to bring you the most thought-provoking reads around the web.</p>
        <p>Thoughtfully curated by Firefox.</p>
      </div>
      <div class="c-newsletter-wrapper">
        <!-- TODO: update newsletter name -->
        {{ email_newsletter_form(
          newsletters='mozilla-foundation',
          include_title=False,
          include_language=False,
          include_country=False,
          submit_text="Subscribe",
        )}}
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('newsletter') }}
{% endblock %}
