// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

.page-header {
    .mzp-l-content {
        padding-top: $layout-sm;
        padding-bottom: $layout-sm;
    }

    .header-image {
        .logo-mozilla {
            display: inline-block;

            &::after {
                @include bidi(((float, right, left),));
                background: $color-marketing-gray-30;
                content: '';
                height: 60px;
                margin: -10px $spacing-lg 0;
                width: 2px;
            }
        }

        .logo-firefox {
            @include bidi(((transform, translateX(-5px), translateX(5px)),));
            display: inline-block;
        }
    }
}

.message-section {
    @include text-body-lg;
}

.error-title {
    @include text-title-md;
}

.error-helper { // Fallback content only
    @include text-title-xs;
    padding-top: $spacing-lg;
}

.content-list {
    margin: $layout-lg 0;
    max-width: 80ch;

    & > li {
        margin-bottom: $spacing-lg;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $color-black;
    }

    .list-icon {
        @include bidi((
            (padding-left, auto, $spacing-md),
            (padding-right, $spacing-md, auto),
        ));
        vertical-align: top;
    }
}

.back-button {
    text-decoration: none;
    color: $color-link;
    cursor: pointer;

    &::before {
        content: '\2190\0020';
    }
}

.hide-back {
    display: none;
}

.prose { // Fallback content only
    list-style-type: disc;
    padding-left: $spacing-xl;
}

.fallback-list-content { // Fallback content only
    @include font-size(16px);
    padding-bottom: $spacing-md;
}

.download-firefox {
    text-align: center;

    .mzp-c-button-download-container {
        margin: $spacing-lg 0;
    }
}
