@import "simple_footer.less";

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {
    #colophon {
        .primary {
            text-align: left;
            li {
                display: block;
                margin-left: 0;
                a, a:link, a:visited {
                    display: block;
                    border-left: none;
                    border-top: 1px dotted @textColorLight;
                    padding: 10px;
                }
                &:first-child a {
                    border: 0;
                }
            }
        }
    }
}
