// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#main-feature {
    h1,
    p {
        margin-left: @gridGutterWidth / 2;
        margin-right: @gridGutterWidth / 2;
    }
}

#featured {
    padding-top: @baseLine * 1.5;
    li {
        list-style-type: none;
        .span(4);
        img {
            float: left;
            margin-left: 4px;
        }
        h3 span {
            display: block;
            padding-top: 12px;
            padding-left: 80px;
        }
        p {
            padding-left: 80px;
            font-size: @smallFontSize;
            margin-bottom: 0;
        }
    }
}

.productlist {
    .span(8);
    margin-bottom: @baseLine;
    h2 {
        .span(3);
        margin-left: 0;
        margin-bottom: @baseLine;
    }
    .intro {
        .span(4);
    }
    ul {
        .clearfix;
        clear: left;
    }
    li {
        list-style-type: none;
        margin: 0 0 @baseLine 0;
        border-top: 1px dotted @borderColor;
        padding-top: @baseLine;
        .clearfix;
    }
    li.more {
        border: 0;
        padding-top: 0;
    }
    h3 {
        .span(3);
        margin-left: 0;
        padding-top: 15px;
        clear: left;
        font-size: 24px;
        span {
            display: block;
            font-size: 18px;
            letter-spacing: normal;
        }
        img {
            background: #fff;
            width: 50px;
            height: 50px;
            padding: (@gridColumnWidth - 52) / 2;
            border: 1px solid @borderColor;
            .border-radius;
            .box-shadow(0 2px 4px rgba(0,0,0,0.1));
            float: left;
            margin: -18px @gridGutterWidth @baseLine  0;
        }
    }
    p {
        .span(5);
        margin-right: 0;
    }
    p.more {
        margin-left: 0;
        width: auto;
    }
}

.sidebar {
    .span(3);
    .offset(1);
    font-size: @smallFontSize;
}


/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

.productlist {
    .span_narrow(7);
    h2,
    .intro,
    h3,
    p {
        width: auto;
        float: none;
        clear: left;
    }
    p {
        margin-left: 0;
    }
}

.sidebar {
    .span_narrow(4);
    .offset_narrow(1);
}

}

@media only screen and (max-width: @breakDesktop) {

#featured {
    li {
        float: none;
        width: auto;
        h3 span {
            display: block;
            padding-left: 80px;
            padding-top: 0;
        }
        p {
            padding-left: 80px;
            font-size: @smallFontSize;
            margin-bottom: @baseLine / 2;
        }
    }
}

}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {

.productlist {
    width: auto;
    float: none;
    h2,
    .intro,
    h3,
    p {
        width: auto;
        float: none;
        clear: left;
    }
    p {
        margin-left: 0;
    }
}

.sidebar {
    width: auto;
    float: none;
    margin-left:  (@gridGutterWidth / 2);
    margin-right: (@gridGutterWidth / 2);
}

}
