// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../includes/lib' as pbj;
@use 'cards';

// Protocol override
body {
    color: pbj.$color-text-black;
}

// Color themes
[data-theme='light-pink'] {
    --theme-color-bg: #{pbj.$light-pink};
    --theme-color-text: #{pbj.$color-text-black};
}

[data-theme='light-blue'] {
    --theme-color-bg: #{pbj.$light-blue};
    --theme-color-text: #{pbj.$color-text-white};
}

[data-theme='light-green'] {
    --theme-color-bg: #{pbj.$light-green};
    --theme-color-text: #{pbj.$color-text-white};
}

[data-theme='light-purple'] {
    --theme-color-bg: #{pbj.$light-purple};
    --theme-color-text: #{pbj.$color-text-black};
}

[data-theme='light-yellow'] {
    --theme-color-bg: #{pbj.$light-yellow};
    --theme-color-text: #{pbj.$color-text-black};
}

[data-theme='pink'] {
    --theme-color-bg: #{pbj.$pink};
    --theme-color-text: #{pbj.$color-text-black};
}

[data-theme='blue'] {
    --theme-color-bg: #{pbj.$blue};
    --theme-color-text: #{pbj.$color-text-black};
}

[data-theme='green'] {
    --theme-color-bg: #{pbj.$green};
    --theme-color-text: #{pbj.$color-text-white};
}

[data-theme='purple'] {
    --theme-color-bg: #{pbj.$purple};
    --theme-color-text: #{pbj.$color-text-white};
}

[data-theme='yellow'] {
    --theme-color-bg: #{pbj.$yellow};
    --theme-color-text: #{pbj.$color-text-black};
}
