{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2>Fàilte do Firefox<span>an ama ri teachd</span></h2>
    <p>Luchdaich a-nuas an togalach a tha freagarrach dhut-sa agus cuir fo dheuchainn e 's cum cluas ris an t-seanchas as ùire leis a' chuairt-litir againn.</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span>An sgaoileadh <span>deireannach</span></span></h3>

        <ul class="channel-list">
            <li>Gabh tlachd san sgaoileadh deireannach a chaidh a chur fo dheuchainn leis na mìltean a dhaoine air feadh an t-saoghail</li>
            <li>Cum smachd air do bheatha air loidhne aig dearg-astar, gnàthachadh èasgaidh agus an teicneolas-lìn as ùire</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>Beta</span></h3>

        <ul class="channel-list">
            <li>Feuch na feartan as ùire 's nas seasmhaiche na bha iad a-riamh</li>
            <li>Innis dhuinn dè do bheachd gus ar cuideachadh le piseach a chur air na bhios san sgaoileadh fhèin aig a' cheann thall</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>Aurora</span></h3>

        <ul class="channel-list">
            <li>Feuch na ùr-thionnsgnaidhean as ùire ann an àrainneachd neo-sheasmhach. Chan e seo an t-àite do leth-phlaidean</li>
            <li>Innis dhuinn dè do bheachd air na feartan is an dèanadas gus cur romhainn dè bhios san sgaoileadh fhèin aig a' cheann thall</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
