# Cache control settings from:
# https://github.com/mozilla/kitsune/blob/master/media/.htaccess

# Neither Firefox nor Safari will draw these if they're text/xml
AddType image/svg+xml .svg
AddType application/octet-stream .exe
AddType application/font-woff .woff
AddType application/vnd.ms-fontobject .eot
AddType application/octet-stream .ttf
AddType application/xml .xml

AddCharset utf-8 .css .js

# Set far-future Expires headers for static media
ExpiresActive on

ExpiresDefault "access plus 1 week"
ExpiresByType text/plain "access plus 0 seconds"
ExpiresByType text/css "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
ExpiresByType video/webm "access plus 1 week"
ExpiresByType video/ogg "access plus 1 week"
ExpiresByType video/x-flv "access plus 1 week"
ExpiresByType application/font-woff "access plus 1 year"
ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
ExpiresByType application/x-shockwave-flash "access plus 1 week"
ExpiresByType application/octet-stream "access plus 0 seconds"
ExpiresByType application/xml "access plus 1 day"

# tabzilla
<Files tabzilla-min.css>
    ExpiresByType text/css "access plus 12 hours"
</Files>

FileETag MTime

<FilesMatch "\.txt$">
    FileETag None
</FilesMatch>

# fonts
<FilesMatch "\.(eot|svg|ttf|woff)$">
    Header set Access-Control-Allow-Origin "*"
    ExpiresByType application/octet-stream "access plus 1 year"
</FilesMatch>
