// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/feature-card';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/components/call-out';

//* -------------------------------------------------------------------------- */
//  Inline form variation

.c-inline-form {
    background: $color-white;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-md;
    margin: 0 auto $spacing-xl;
    max-width: 330px;
    padding: $spacing-lg $spacing-2xl;
    text-align: center;

    .legal {
        @include text-body-xs;
    }

    h3 {
        @include text-title-sm;
        margin-bottom: $spacing-lg;
    }

    p {
        @include text-body-lg;
    }

    @media #{$mq-lg} {
        @include bidi(((float, right, left),));

        @supports (display: grid) {
            float: none;
        }
    }
}


//* -------------------------------------------------------------------------- */

// not yet recognized as valid by style lint, so we abstract it
$mq-reduced-motion: 'screen and (prefers-reduced-motion: reduce)';

main .mzp-l-content {
    max-width: 400px;

    @media #{$mq-md} {
        max-width: $content-max;
    }
}


//* -------------------------------------------------------------------------- */
//  Download buttons

.mobile-download-buttons-wrapper {
    display: inline-block;
}

.mobile-download-buttons li {
    padding-top: $spacing-sm;
    display: inline-block;
}

.header-product-ctas {
    margin-bottom: $spacing-2xl;
}

// for android/iOS, hide widget/QR code in favor of app store badges
.android,
.ios {
    .mobile-download-buttons-wrapper {
        display: inline-block;
    }

    .qr-code-wrapper,
    .c-inline-form,
    #send-to-device {
        display: none;
    }

    .header-product-ctas {
        display: none;
    }
}

// hide download links for one platform from the other
.android .mobile-download-buttons .ios {
    display: none;
}

.ios .mobile-download-buttons .android,
.ios .mobile-download-buttons .android-apk {
    display: none;
}


// very basic styling for no-JS visitors
.no-js {
    .header-product-ctas {
        display: none;
    }

    .mobile-download-buttons-wrapper {
        display: inline-block;
        text-align: center;
    }

    .mobile-download-buttons {
        margin: 1em 0;

        @media #{$mq-sm} {
            @supports (display: flex) {
                & {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin: 1em auto;
                    width: 340px;

                    &.hidden {
                        display: none;
                    }

                    li {
                        margin: 0 auto; // so that a single item is centred
                    }
                }
            }
        }

        .android-apk a {
            display: inline-block;
            margin: 10px 0;
            @include text-body-sm;
        }
    }
}

//* -------------------------------------------------------------------------- */
//  Wordmark

.c-wordmark {
    @include at2x('/media/protocol/img/logos/firefox/browser/logo-word-hor-sm.png', contain);
    @include bidi(((padding-right, $spacing-sm, padding-left, 0),));
    @include image-replaced;
    background-position: top center;
    background-repeat: no-repeat;
    content: '';
    display: block;

    @media #{$mq-md} {
        @include bidi(((background-position, top left, top right),));
    }
}

.end-hero .c-wordmark {
    background-position: center;
}
//* -------------------------------------------------------------------------- */
// Hero

.t-hero-primary {
    &.mzp-c-hero {
        text-align: center;
        color: $color-ink-80;

        &.mzp-t-firefox::after {
            display: none;
        }

        .mzp-c-hero-body {
            margin: 0 auto $spacing-2xl;

            .mzp-c-hero-cta {
                float: none;
            }
        }

        @media #{$mq-lg} {
            .mzp-c-hero-body {
                @include grid-half;
                @include bidi(((float, left, right),));
                margin: unset;
                width: 100%;
            }

            @supports (display: grid) {
                & > .mzp-l-content {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: $spacing-2xl;
                }

                .mzp-c-hero-body {
                    float: none;
                    margin-right: auto;
                }
            }
        }
    }

    .mzp-c-hero-desc {
        @include text-title-sm;

        p {
            margin-bottom: $spacing-lg;
        }
    }

    .mzp-c-button-download-container {
        margin-bottom: 0;
    }

    @media #{$mq-md} {
        &.mzp-c-hero.mzp-has-image {
            @include background-size(1200px 275px);
            align-items: center;
            background-image: url('/media/img/firefox/mobile/img-mobile-noodles.svg');
            background-position: top left calc(60vw + #{$spacing-md});
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            padding: 0;
            text-align: left;
            min-height: 560px;

            html[dir="rtl"] &{
                background-position: top right calc(60vw + #{$spacing-md});
                text-align: right;
            }
        }

        .end-hero .c-wordmark {
            background-position: center;
        }

        .mzp-l-content {
            width: 100%;
        }
    }

    @media #{$mq-lg} {
        .end-hero .c-wordmark {
            background-position: center;
        }
    }
}

//* -------------------------------------------------------------------------- */
// Private

.t-private {
    @include light-links;
    background-color: $color-ink-80;
    color: #fff;

    h2 {
        @include text-title-lg;
        color: $color-pink-50;
        margin-top: $spacing-md;
    }

    // protocol/issues#335
    a:visited {
        color: #ffffff;
        opacity: 0.8;
    }

    a:hover,
    a:focus,
    a:active {
        opacity: 1;
    }
}

.c-private-col {
    margin: $layout-xl 0;
    text-align: center;

    img {
        margin: 0 auto;
    }

    h3 {
        @include bidi(((text-align, left, right),));
        @include text-title-sm;
        margin-top: $spacing-2xl;
    }

    p {
        @include bidi(((text-align, left, right),));
        margin-top: $spacing-xl;
    }
}

@media #{$mq-md} {

    .t-private {
        h2 {
            margin-top: $layout-lg;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            text-align: center;
        }
    }

    .c-private-cols {
        @include bidi(((left, $layout-lg / 2, right, auto),));
        margin: 0 auto;
        max-width: 600px + ($layout-lg * 2);
        position: relative;
    }

    .c-private-col {
        @include bidi((
            (float, left, right),
            (text-align, left, right),
        ));
        @include border-box;
        width: 50%;
        padding: 0 ($layout-lg / 2);

        img {
            margin: 0;
        }
    }
}


//* -------------------------------------------------------------------------- */
// Feature cards

.mzp-c-card-feature {
    .mzp-c-card-feature-media-wrapper,
    .mzp-c-card-feature-content {
        min-width: 0;
    }

    .mzp-c-card-feature-title {
        @include text-title-lg;
        color: $color-ink-80;
    }

    .mzp-c-card-feature-desc {
        color: $color-marketing-gray-80;
    }
}

//* -------------------------------------------------------------------------- */
// Accounts


.t-account {
    background-color: $color-marketing-gray-10;
    padding: $layout-md 0;

    .mzp-c-card-feature-content-container {
        max-width: 410px;
    }
}

//* -------------------------------------------------------------------------- */
// Customization


.t-extend,
.t-theme {
    padding-top: 0;
    padding-bottom: 0;

    .mzp-c-card-feature {
        margin-bottom: 0;
    }

    .mzp-c-card-feature-media {
        padding-top: $layout-xl;

        &:after {
            border-bottom: 1px solid $color-marketing-gray-20;
            content: '';
            display: block;
            height: 0;
            max-width: 245px + 20px * 2;
            margin: 0 auto;
        }
    }

    .mzp-c-card-feature-content-container {
        max-width: 325px;
    }

    .mzp-c-card-feature-title span {
        @include text-body-md;
        font-weight: normal;
    }

    img {
        animation: custom 6s infinite step-end;
        background-color: $color-yellow-20;
        background-image: url('/media/img/firefox/mobile/protocol/extend-key.svg'), url('/media/img/firefox/mobile/protocol/extend-eye.svg'), url('/media/img/firefox/mobile/protocol/extend-star.svg');
        background-position: 50% 75%, 500px 500px, 500px 500px;
        background-repeat: no-repeat;
        max-width: 245px;
        vertical-align: bottom;
    }

    p {
        margin-bottom: 0;
    }
}

.t-theme {
    margin-bottom: $layout-xl;

    .mzp-c-card-feature-content {
        justify-content: end;
    }

     img {
         background-image: url('/media/img/firefox/mobile/protocol/theme-yellow.svg'), url('/media/img/firefox/mobile/protocol/theme-pink.svg'), url('/media/img/firefox/mobile/protocol/theme-violet.svg');
     }
}

@media #{$mq-reduced-motion} {
    .t-extend,
    .t-theme {
        img {
            animation: none;
        }
    }
}

@keyframes custom {
    0% {
        background-position: 50% 75%, 500px 500px, 500px 500px;
    }
    33% {
        background-position: 500px 500px, 50% 75%, 500px 500px;
    }
    66% {
        background-position: 500px 500px, 500px 500px, 50% 75%;
    }
}

//* -------------------------------------------------------------------------- */
// secondary hero

.t-hero-secondary {
    &.mzp-c-hero {
        &.mzp-t-firefox::after {
            display: none;
        }
    }

    .mzp-l-content {
        padding-bottom: $layout-lg;
    }
}


//* -------------------------------------------------------------------------- */
//  Send to Device overrides

#send-to-device {
    margin: 0 auto;

    footer {
        display: none;
    }
}
