// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'sass:math';

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import 'includes/lib';

.c-stories-related {
    background-color: #ffcade;

    .related-stories-grid {
        @include stories-grid;
        margin: 0 auto;
        padding: $layout-md 0;
        max-width: 1440px;
    }

    .c-stories-related-header {
        grid-column: 2 / 12;
    }

    .related-stories-wrapper {
        @include stories-grid;
        grid-column: 2 / 12;

        .c-stories-card {
            grid-column: span 12;
            margin: 0 0 $spacing-lg;
        }
    }

    @media #{$mq-md} {
        .related-stories-grid {
            padding: $layout-md 40px;
        }

        .c-stories-related-header {
            @include font-size(32px);
            grid-column: 3 /  11;
        }

        .related-stories-wrapper {
            grid-column: 3 / 11;

            .c-stories-card {
                grid-column: span 6;

                &:nth-child(even) {
                    margin-left: 10%;
                }

                &:nth-child(odd) {
                    margin-right: 10%;
                }
            }
        }
    }
}

.c-stories-card {
    .card-media-wrapper {
        overflow: hidden;
        margin-bottom: $spacing-sm;
    }

    .card-image {
        transition: transform 200ms ease-in;
    }

    &:hover {
        .card-image {
            transform: scale(1.05);
        }
    }

    .card-block-link {
        text-decoration: none;
        color: $color-black;

        &:hover {
            text-decoration: underline;
        }
    }

    .card-title {
        @include font-size(30px);
        margin-bottom: $spacing-xs;
    }

    .card-desc {
        font-family: $font-stories-body;
    }
}

.c-stories-image {
    margin-bottom: $spacing-md;
    position: relative;

    &.hero {
        @include full-width;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $spacing-2xl;
    }

    &.article-width {
        @include article-width-2-3;
    }

    &.article-half-width {
        grid-column: 4 / 7;
        float: left;
    }

    figcaption {
        @include font-base;
        @include font-size(14px);
        color: $color-moz-dark-gray;
        margin-left: $spacing-xs;
    }
}
