// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/breadcrumb';
@import 'includes/lib';

$heading-height-mobile: 450px;
$heading-height: 600px;

// purple theme
$purple-primary: #cb9eff;
$purple-secondary: #79fbfd;

// blue theme
$blue-primary: #00b3f4;
$blue-secondary: #ffb587;

//  pink theme
$pink-primary: #ff8ac6;
$pink-secondary: #ffea7f;

// with the black header and the sticky nav - there should be a black background behind the nav

body {
    &.theme-blue {
        background: $blue-primary;

        .mzp-c-breadcrumb {
            background-color: $blue-primary;
        }

        .c-stories-article-pre-title {
            background-color: $blue-secondary;
        }
    }

    &.theme-purple {
        background: $purple-primary;

        .mzp-c-breadcrumb {
            background-color: $purple-primary;
        }

        .c-stories-article-pre-title {
            background-color: $purple-secondary;
        }
    }

    &.theme-pink {
        background: $pink-primary;

        .mzp-c-breadcrumb {
            background-color: $pink-primary;
        }

        .c-stories-article-pre-title {
            background-color: $pink-secondary;
        }
    }
}

html.mzp-has-sticky-navigation .mzp-c-breadcrumb.mzp-is-sticky {
    -webkit-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    left: 0;
    position: sticky;
    top: 65px;
    z-index: 1000;
}

.mzp-c-breadcrumb {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;

    .mzp-c-breadcrumb-item,
    .mzp-c-breadcrumb-item a {
        color: $color-white;
    }

    @media #{$mq-md} {
        .mzp-c-breadcrumb-list {
            padding: 8px 64px;
        }
    }

    @media #{$mq-lg} {
        .mzp-c-breadcrumb-list {
            padding: 8px 96px;
        }
    }
}

.c-stories-article-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: $spacing-md;
}

.c-stories-article-header {
    width: 100%;
    color: $color-black;

    &.theme-purple {
        background-color: $purple-primary;
    }

    &.theme-blue {
        background-color: $blue-primary;
    }

    .c-stories-article-header-container {
        @include stories-grid;
        grid-template-rows: $layout-sm 100px 1fr $layout-xl;
        padding: 0 $spacing-lg;
        max-width: 100%;

        @media #{$mq-md} {
            padding: 0 40px;
        }
    }

    .c-stories-article-pre-title {
        @include full-width;
        @include font-base;
        @include font-size(12px);
        align-self: center;
        border-radius: 25px;
        color: $color-black;
        font-weight: 600;
        grid-row: 2;
        padding: $spacing-sm $spacing-lg;
        justify-self: flex-start;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;

        @media #{$mq-lg} {
            grid-column: 1 / 4;
            margin: 0 30%;
        }
    }

    .c-stories-article-title {
        @include full-width;
        @include font-size(48px);
        grid-row: 3;
        color: $color-black;
        font-family: $font-stories-title;
        font-weight: 700;
        text-transform: uppercase;
        width: min-content;

        @media #{$mq-sm} {
            @include font-size(66px);
        }

        @media #{$mq-md} {
            margin: 0;
            @include font-size(130px);
        }

        @media #{$mq-lg} {
            grid-column: 3 / 10;
        }
    }

    .c-stories-article-data {
        @include full-width;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: $spacing-sm;
        grid-row: 4;
        margin-top: 0;

        .grid-label {
            text-transform: uppercase;
            grid-row: 1;
            grid-column: span 4;
            align-self: flex-end;
        }

        .grid-value {
            font-weight: bold;
            grid-row: 2;
            grid-column: span 4;
            align-self: flex-start;
        }
    }

    .article-category {
        align-self: center;
        background: $color-white;
        border-radius: 25px;
        grid-row: 3 / span 2;
        grid-column: span 4;
        text-align: center;
        margin-top: $spacing-lg;
        padding: $spacing-xs $spacing-sm;
        white-space: nowrap;
        width: min-content;

        &.featured {
            border: 1px solid $color-black;
            background-color: transparent;
        }
    }

    p {
        margin: 0;
    }

    @media #{$mq-md} {
        .c-stories-article-data {
            .grid-label,
            .grid-value {
                grid-column: span 2;
            }
        }

        .article-category {
            grid-column: span 2;
            padding: $spacing-xs $spacing-md;
        }
    }

    @media #{$mq-lg} {
        .c-stories-article-data {
            grid-column: 3 / 11;
            margin-top: $layout-md;
        }

        .article-category {
            grid-row: span 2;
            margin-top: 0;
        }
    }
}

.c-stories-article-content {
    @include full-width;
    @include stories-grid;
    margin-top: $layout-md;

    @media #{$mq-md} {
        margin-top: $layout-xl;
    }
}

.c-stories-article-body {
    @include stories-grid;
    background-color: $color-white;

    .c-stories-image.hero {
        transform: translateY(-225px);

        img {
            max-height: 550px;
            width: auto;
        }
    }

    &.contains-hero {
        .c-stories-article-content {
            transform: translateY(-225px);
        }

        .c-stories-social-share {
            transform: translateY(-225px);
        }
    }

    .c-stories-article-credits {
        @include full-width;
        padding: 0 $spacing-lg;

        h2 {
            @include font-base;
            @include font-size(16px);
            font-weight: 700;
            margin-bottom: $spacing-md;
        }

        .article-credits-wrapper {
            display: flex;

            .c-stories-image {
                margin-right: $spacing-lg;
            }
        }

        .credit-name,
        .credit-position {
            color: $color-black;
        }

        .credit-position {
            @include font-size(12px);
        }

        @media #{$mq-md} {
            grid-column: 1 / 4;
            grid-row: 1 / -1;
            justify-self: center;
            padding: 0;

            .article-credits-wrapper {
                flex-direction: column;

                // very hacky way to ensure that this element doesnt change the
                // height of the implicit rows of the grid.
                position: absolute;

                .c-stories-image {
                    margin-right: 0;
                }
            }
        }
    }

    .c-stories-article-subtitle {
        @include article-width-full;
        @include font-size(22px);
        margin-left: $spacing-lg;
        margin-right: $spacing-lg;
        border-bottom: 6px solid $color-black;
        color: $color-black;
        font-family: $font-stories-body;
        grid-column: 1 / 13;
        margin-bottom: $spacing-xl;
        padding-bottom: $spacing-md;

        @media #{$mq-md} {
            @include font-size(36px);
            padding-bottom: $spacing-xl;
        }
    }

    .c-stories-article-section {
        @include full-width;
        column-gap: $spacing-md;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        margin-bottom: $spacing-2xl;

        h3,
        p {
            @include article-width-full;
            color: $color-black;
            font-family: $font-stories-body;
            padding: 0 $spacing-lg;

            @media #{$mq-md} {
                padding: 0;
            }
        }

        h3 {
            @include font-size(32px);
            font-weight: 700;
            margin-bottom: $spacing-lg;
        }

        p {
            @include font-size(20px);
        }

        .c-stories-article-blockquote {
            margin: $spacing-2xl 0;
            padding: $layout-md 0;

            blockquote {
                border: none;
                padding: 0;
                margin: 0;
            }

            @media #{$mq-md} {
                padding: $layout-md 0;
                margin: $spacing-2xl 0;
            }

            &.circle {
                @include full-width;
                border: 1px solid $color-black;
                border-radius: 200px;
                padding: $layout-md 15%;
                margin: $spacing-lg $spacing-sm;

                blockquote {
                    @include font-size(24px);
                }

                figcaption {
                    color: $color-black;
                }

                @media #{$mq-md} {
                    margin-right: $spacing-lg;
                    grid-column: 2 / 13;
                    padding: $layout-md 25%;

                    blockquote {
                        @include font-size(42px);
                    }
                }
            }

            &.full-width {
                grid-column: 1 / 13;
                background-color: #cdf567;
                padding-top: $layout-xl;
                padding-bottom: $layout-xl;

                blockquote {
                    @include font-size(60px);
                    font-family: $font-stories-title;
                    text-transform: uppercase;
                    text-align: center;
                }

                figcaption {
                    color: $color-black;
                    font-family: $font-stories-body;
                    text-align: center;
                }

                @media #{$mq-md} {
                    blockquote {
                        @include font-size(130px);
                    }
                }
            }
        }

        .c-stories-article-float-container {
            @include article-width-full;

            .c-stories-image {
                width: calc(50% - $spacing-sm);
            }

            &.left .c-stories-image {
                float: left;
                margin-right: $spacing-md;
            }

            &.right .c-stories-image {
                float: right;
                margin-right: $spacing-md;
            }
        }
    }
}

.c-stories-social-share {
    @include article-width-full;

    .social-share-list {
        display: flex;
        margin: 0;
        justify-content: center;

        .social-share-item a {
            @include image-replaced;
            background-repeat: no-repeat;
            display: block;
            height: 24px;
            width: 24px;
            margin: 8px;

            &.twitter {
                background-image: url('/media/img/stories/twitter.svg');
            }

            &.pocket {
                background-image: url('/media/img/stories/pocket.svg');
            }
        }
    }
}

.c-stories-article-related {
    @include full-width;
    padding: 0 40px;
    max-width: 1440px;
    margin-bottom: $layout-md;
    display: flex;
    flex-direction: column;

    h3 {
        @include font-base;
        @include font-size(32px);
        @include full-width;
        font-weight: 400;
    }

    .c-stories-card-wrapper {
        @include stories-grid;

        .mzp-c-card {
            max-width: calc(100% - $spacing-xl);
            grid-column: span 6;

            .mzp-c-card-block-link,
            .mzp-c-card-media-wrapper,
            .mzp-c-card-image {
                border-radius: $border-radius-lg;
            }

            .mzp-c-card-content {
                padding-top: $spacing-lg;

                h3 {
                    @include font-size(32px);
                }

                p {
                    @include font-size(16px);
                    margin-top: $spacing-sm;
                }
            }
        }
    }

    .c-stories-article-view-all {
        @include font-base;
        @include font-size(14px);
        color: $color-black;
        border: 1px solid $color-black;
        border-radius: $border-radius-lg;
        padding: $spacing-sm $spacing-md;
        text-decoration: none;
        margin-right: $spacing-md;
        align-self: flex-end;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .c-article-wrapper {
        position: relative;
    }

    .c-stories-article-header {
        overflow: hidden;
        position: fixed;
        z-index: 1;
        min-height: $heading-height-mobile;
    }

    .c-stories-article-body {
        position: relative;
        top: $heading-height-mobile + $spacing-md;
        margin-bottom: $heading-height-mobile - 100px;
        z-index: 2;
    }

    .mzp-c-footer {
        z-index: 2;
        position: relative;
    }

    @media #{$mq-md} {
        .c-stories-article-header {
            min-height: $heading-height;
        }

        .c-stories-article-body {
            position: relative;
            top: $heading-height + $spacing-md;
            margin-bottom: $heading-height - 100px;
            z-index: 2;
        }
    }
}
