// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../sandstone/lib.less';

// Redesigned Mozilla newsletter form - bug 126396
#newsletter-subscribe {
    background: @mozillaRed;
    color: #fff;
    padding: 0;
    margin: (@baseLine * 2) 0 -(@baseLine * 3);

    .billboard {
        background: transparent;
        border: 0;
        padding: 0;
        .box-shadow(none);
    }

    h3,
    h4 {
        color: #fff;
        text-shadow: none;
    }

    .container {
        width: @widthDesktop;
        margin: 0 auto;
        padding: (@baseLine * 2) 0;

        @media (max-width: @breakDesktop) {
            width: @widthTablet;
        }

        @media (max-width: @breakTablet) {
            width: @widthMobile;
        }
    }

    .form-title {
        .span(4);
        background: url("/media/img/newsletter/mozorg-newsletter.svg") left top no-repeat;
        .background-size(150px, 150px);
        margin-left: -((@gridColumnWidth * 7) + (@gridGutterWidth * 6));
        margin-top: -20px;
        min-height: 120px;
        padding: 10px 0 20px 180px;
        text-align: left;
        text-shadow: none;
        min-height: 135px;

        h3 {
            .font-size(40px);
            margin: 0 0 .2em;
        }

        h4 {
            .font-size(24px);
            line-height: 1.1;
        }

        @media (max-width: @breakDesktop) {
            .background-size(120px, 120px);
            .span_narrow(4);
            background-position: left 10px;
            padding-left: 140px;
            margin-left: -((@gridColumnWidthNarrow * 7) + (@gridGutterWidth * 6));
            margin-top: -10px;

            h3 {
                .font-size(32px);
            }

            h4 {
                .font-size(20px);
            }
        }

        @media (max-width: @breakTablet) {
            .background-size(100px, 100px);
            .span-all;
            background-position: center top;
            margin-top: 0;
            min-height: 0;
            padding-left: 0;
            padding-top: 120px;
            text-align: center;

            h3 {
                .font-size(32px);
            }
        }
    }

    .newsletter-form {
        .span(5);
        .offset(7);
        padding-top: 20px;

        .form-submit,
        .form-contents {
            .span-all;
        }

        @media (max-width: @breakDesktop) {
            .span_narrow(5);
            .offset_narrow(7);
        }

        @media (max-width: @breakTablet) {
            .span-all;
        }
    }

    input[type='email'] {
        .border-box;
        .border-radius(4px);
        .box-shadow(none);
        .font-size(@largeFontSize);
        border: 0;
        padding: .75em 20px;
        width: 100%;
        height: auto;
        background: #fff;
    }

    select {
        .font-size(@baseFontSize);
        font-family: inherit;
    }

    .button-newsletter {
        .border-box;
        .border-radius(5px);
        .box-shadow(none);
        .font-size(@largeFontSize);
        .transition(background-color .15s ease);
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        padding: .75em 20px;
        text-shadow: none;
        text-transform: uppercase;
        width: 100%;

        &:hover,
        &:focus {
            background: #33aae4;
            background: rgba(255, 255, 255, .1);
        }
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    #footer-email-errors {
        .span-all;
        margin-bottom: @baseLine;

        .errorlist {
            background: #fff;
            color: #af3232;
        }
    }

    #newsletter-form-thankyou {
        .span-all;
        color: #fff;

        h3 {
            color: #fff;
        }
    }

    @media (max-width: @breakTablet) {
        margin-bottom: 0;
    }
}

#home {
    #newsletter-subscribe {
        margin-bottom: 0;

        h3 {
            padding: 0;
            text-align: left;

            @media (max-width: @breakTablet) {
                text-align: center;
            }
        }

        ::-webkit-input-placeholder {
           color: #333;
           font-weight: normal;
        }

        ::-moz-placeholder {
           color: #333;
           font-weight: normal;
        }

        :-ms-input-placeholder {
           color: #333;
           font-weight: normal;
        }
    }
}

/*
 * A 'light' Mozilla newsletter theme style.
 * Features a white background, dark text and a red, circular graphic.
 * Currently in use on /contribute task pages.
 */
#newsletter-subscribe.light {
    background: #fff;
    color: @textColorPrimary;
    margin-bottom: 0;

    a:link,
    a:visited {
	    color: @linkBlue;
    }

    h3,
    h4 {
        color: @textColorPrimary;
    }

    .form-title {
        position: relative;
        background: none;
        width: 500px;
        padding-left: 170px;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            background: @mozillaRed url('/media/img/newsletter/mozorg-newsletter.svg') 23px 23px no-repeat;
            .background-size(105px, 105px);
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }

        @media (max-width: @breakDesktop) {
            width: 380px;
        }

        @media (max-width: @breakTablet) {
            width: auto;
            padding-left: 0;
            padding-top: 170px;

            &:before {
                left: 50%;
                margin-left: -75px;
            }

        }
    }

    input[type="email"] {
        border: 1px solid #b2b2b2;
    }

    #newsletter-form-thankyou {
        color: @textColorPrimary;

        h3 {
            color: @textColorPrimary;
        }
    }

    #footer-email-errors .errorlist {
        background: #af3232;
        color: #fff;
    }
}
