// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($font-path: '/media/protocol/fonts', $image-path: '/media/protocol/img');
@use '~@mozilla-protocol/core/protocol/css/includes/forms';
@use '~@mozilla-protocol/core/protocol/css/components/forms/form';
@use '~@mozilla-protocol/core/protocol/css/components/forms/field';
@use '~@mozilla-protocol/core/protocol/css/components/forms/button-container';

/* -------------------------------------------------------------------------- */
// Common elements

main {
    padding: $spacing-lg 0;

    @media #{$mq-md} {
        padding: $spacing-2xl 0;
    }
}

/* -------------------------------------------------------------------------- */
// Main heading

header {
    h1 {
        margin-bottom: $spacing-sm;
    }

    .tagline {
        font-weight: bold;
        margin-bottom: $layout-lg;
    }
}

/* -------------------------------------------------------------------------- */
// Email recovery form

.mzp-c-form {
    margin-bottom: $layout-lg;
}

.mzp-c-field,
.mzp-c-form-errors {
    @include border-box;
    max-width: $content-xs;
    padding-bottom: forms.$label-v-spacing;
}

.mzp-c-button-container {
    max-width: $content-xs;
}

/* -------------------------------------------------------------------------- */
// Other ways to stay in touch

aside {
    h2 {
        @include text-title-sm;
        margin-bottom: 40px;
    }

    .social-links {
        margin: 2em 0 0;

        li {
            display: inline-block;
            margin-right: 20px;

            a {
                display: block;
                @include image-replaced;
                background-image: url('/media/img/logos/social/social-icon-sprite-dark.svg');

                &.twitter {
                    background-position: 0 0;
                    width: 18px;
                    height: 15px;
                }

                &.instagram {
                    background-position: 0 -18px;
                    width: 18px;
                    height: 19px;
                }

                &.youtube {
                    background-position: 0 -45px;
                    width: 17px;
                    height: 14px;
                }

                &.facebook {
                    background-position: 0 -83px;
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}
