// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';


$color-fox-purple: #3a304b;

.section-intro {
    background-color: $color-fox-purple;

    .content {
        @include background-size(141px 157px, 153px 115px);
        background-image: url('/media/img/newsletter/firefox/mailbox.svg'),
                          url('/media/img/newsletter/firefox/fox-tail.svg');
        background-position: bottom -40px left 10px, bottom -45px right -10px;
        background-repeat: no-repeat, no-repeat;
        height: 167px;
        width: $width-phone;

        @media #{$mq-phone-wide} {
            @include background-size(215px 239px, 230px 173px);
            background-position: bottom -60px left, bottom -65px right;
            height: 229px;
            width: $width-phone-wide;
        }

        @media #{$mq-tablet} {
            @include background-size(300px 333px, 320px 241px);
            background-position: bottom -90px left 40px, bottom -90px right 40px;
            height: 290px;
            width: $width-tablet;
        }

        @media #{$mq-desktop} {
            @include background-size(381px 423px, 428px 322px);
            background-position: bottom -100px left 60px, bottom -120px right 60px;
            height: 370px;
            width: $width-desktop;
        }

        @media #{$mq-desktop} and #{$mq-short} {
            @include background-size(300px 333px, 320px 241px);
            background-position: bottom -90px left 160px, bottom -90px right 140px;
            height: 290px;
        }
    }

    #tabzilla {
        position: absolute;
        right: 20px;
        top: 0;
    }
}

.section-subscribe {
    background: #fff;
    padding: 20px 0;

    h1 {
        @include font-size(32px);
        color: $color-fox-purple;
        text-align: center;
    }

    h2 {
        @include font-size(18px);
        color: $color-fox-purple;
        font-weight: normal;
        line-height: 1.3;
        margin: 20px auto 40px;
        max-width: 24em;
        text-align: center;
    }

    .errorlist {
        @include border-box;
        background: #fff6dc;
        border-radius: 4px;
        margin: 0 auto 20px;
        max-width: $width-phone;
        padding: 20px;
    }

    @media #{$mq-tablet} {
        h1 {
            @include font-size(48px);
        }
        h2 {
            @include font-size(20px);
        }
    }

    @media #{$mq-desktop} {
        h1 {
            @include font-size(72px);
        }
        h2 {
            @include font-size(24px);
            max-width: none;
        }
    }
}

#newsletter-form {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0 auto;
    max-width: $width-phone;
    padding: 0;

    input[type='text'],
    input[type='email'],
    select {
        @include border-box;
        @include font-size(16px);
        padding: .75em 20px;
        width: 100%;
    }

    input[type='text'],
    input[type='email'] {
        border: 2px solid $color-mozblue;
        margin-bottom: 2px;

        &:hover,
        &:focus {
            border-color: saturate(lighten($color-mozblue, 5%), 10%);
        }
    }

    .field {
        margin: 0 0 20px;
    }

    .privacy-check-label {
        @include font-size(14px);
        @include open-sans;
        display: block;
        padding-left: 30px;
        position: relative;

        input {
            left: 0;
            position: absolute;
            top: .2em;
        }
    }

    .form-submit {
        margin-top: 40px;
        text-align: center;

        small {
            @include font-size(12px);
            @include open-sans;
        }
    }
}

#newsletter-form-thankyou {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0 auto;
    text-align: center;

    h3 {
        @include font-size(32px);
        color: $color-fox-purple;
        margin-bottom: 20px;
    }

    p {
        @include font-size(18px);
        color: $color-fox-purple;
    }

    @media #{$mq-tablet} {
        h3 {
            @include font-size(42px);
        }

        p {
            @include font-size(22px);
        }
    }

    @media #{$mq-desktop} {
        h3 {
            @include font-size(48px);
        }

        p {
            @include font-size(28px);
        }
    }
}

// form details should always be visible
.js #form-details {
    display: block;
}
