// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as *;

.section-subscribe {
    .mzp-l-content:first-child {
        padding-bottom: 0;
    }

    .page-title {
        @include text-title-md;
        text-align: center;
        font-weight: 600;
    }

    .section-title {
        @include text-body-xl;
        font-family: var(--body-font-family);
        font-weight: normal;
        text-align: center;
    }

    .c-not-available {
        @include text-body-xl;
        text-align: center;
    }
}
