// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

.mzp-c-navigation + #outer-wrapper,
.moz-global-nav-drawer + #outer-wrapper {
    padding-top: @baseLine * 2;
}

#main-feature {
    text-align: center;
    p {
        margin: 1em auto 0;
    }
}

#existing-newsletter-form {
    .field {
        .clearfix();
        padding-bottom: @baseLine;
        label,
        .field-label {
            .open-sans-light;
            .font-size(@largeFontSize);
        }
        .field-contents {
            label {
                float: none;
                width: auto;
                margin: auto;
                font-family: inherit;
                .font-size(@baseFontSize);
            }
            input[type="email"],
            select {
                width: 100%;
                .border-box();
            }
        }
        &.format-field {
            .field-contents {
                label {
                    text-align: left;
                    margin-right: 20px;
                    line-height: 30px;
                }
            }
        }
        .field-radios {
            input[type="radio"] {
                vertical-align: text-top;
            }
        }
        .errorlist {
            .span(3);
        }
    }
    h2 {
        .font-size(32px);
        letter-spacing: -.5px;
    }
    h3 {
        .font-size(32px);
        line-height: 1.3;
    }
    h3.field-label {
        letter-spacing: normal;
        font-family: inherit;
    }
    #basic-settings {
        .span(4);
    }
    #default-newsletters,
    #other-newsletters,
    #remove-all-section,
    .submit-field {
        .span(7);
        float: right;
    }
    #other-newsletters {
        margin-top: @baseLine;
        padding: @baseLine*2 0;
        background: url('/media/img/newsletter/divider.png') no-repeat top center;
    }
    #remove-all-section {
        label {
            display: inline;
            float: none;
            width: auto;
            margin: auto;
            font-family: inherit;
            .font-size(@smallFontSize);
            text-align: left;
            color: @textColorTertiary;
        }
        input {
            vertical-align: text-top;
        }
    }
    .table {
        margin-bottom: 0;
        width: 100%;
        thead th {
            padding: 0 10px 10px;
            color: @textColorTertiary;
            .open-sans;
            font-size: @smallFontSize;
            text-align: center;
            white-space: nowrap;
        }
        tbody {
            th {
                padding: 15px 15px 15px 0;
                font-weight: normal;
                text-align: left;
                vertical-align: top;
                h4 {
                    margin: 0 0 5px 0;
                    .font-size(22px);
                    .en-only {
                        color: @textColorTertiary;
                        .font-size(@baseFontSize);
                    }
                }
                .description {
                    margin: 0.2em 0 0 0;
                    color: @textColorTertiary;
                    .font-size(@smallFontSize);
                    line-height: 1.3;
                }
                &.subcategory {
                    white-space: nowrap;
                }
            }
            td {
                padding-right: 0;
                text-align: center;
            }
        }
    }
}

#newsletter-updated {
    #content {
        h3,
        h4 {
            .span-all();
            text-align: center;
            margin-bottom: @baseLine * 2;
        }
        .table {
            .span(6);
            margin: auto;
            float: none;
            textarea {
                .border-box();
                width: 100%;
            }
        }
        .sub-feature {
            text-align: center;
            .span(4);
            p,
            h4 {
                margin-bottom: @baseLine / 2;
            }
        }
    }
}

#newsletter-recovery-form {
    .intro {
        .span(4);
    }

    .field {
        .span(8);
    }

    .email-field {
        position: relative;

        .field-contents {
            float: left;
            width: 370px;
        }

        label {
            display: block;
            margin: 0 0 5px @gridGutterWidth;
        }

        input[type="email"] {
            margin-left: @gridGutterWidth;
            width: 330px;
        }

        button[type="submit"] {
            float: right;
            max-width: 220px;
        }

        .errorlist {
            margin-left: @gridGutterWidth;
        }
    }

    &> .errorlist {
        margin-bottom: (@baseLine * 2);
        text-align: center;
    }

    .form-fields {
        .clearfix;
        position: relative;
    }
}

.float-right {
  float: right;
}

/* {{{ /newsletter page email form */

.js #newsletter-form {
    #form-details,
    .form-details { display: block; }
}

#newsletter {
    #main-feature {
        h1 {
            .font-size(56px);
            margin-top: @baseLine;
            margin-bottom: @baseLine / 2;
        }
        p {
            .font-size(@largeFontSize);
        }
    }
    #newsletter-form {
        padding-top: @baseLine * 2;
        padding-bottom: @baseLine * 2;
        background-image: url("/media/img/newsletter/envelopes.png");
        background-repeat: no-repeat;
        background-position: 100% 100%;
        .field {
            margin: 5px 0;
        }
        .form-contents,
        .form-submit {
            .span(6);
            clear: left;
        }

        input[type="submit"] {
            width: 85%;
        }
    }
}

/* }}} */
/* {{{ Tablet  Layout: 768px */
@media only screen and (min-width: @widthTablet) and (max-width: @widthDesktop) {

    #existing-newsletter-form {
        #basic-settings,
        #default-newsletters,
        #other-newsletters,
        #remove-all-section,
        .submit-field {
            .span_narrow(9);
            float: none;
            margin: 0 auto @baseLine;
        }
    }

    #newsletter-updated {
        #content {
            .table {
                .span_narrow(8);
                margin: auto;
                float: none;
            }
            .sub-feature {
                .span_narrow(4);
            }
        }
    }


    #newsletter {
        #main-feature {
            h1 {
                .font-size(48px);
            }
            p {
                .font-size(inherit);
            }
        }
        #newsletter-form {
            background-position: 160% 100%;
            .form-contents,
            .form-submit {
                .span_narrow(6);
                clear: left;
            }
        }
    }

    #newsletter-recovery-form {
        .intro {
            .span_narrow(4);
        }
        .field {
            .span_narrow(8);
        }
        .email-field {
            .field-contents {
                width: 260px;
            }
            input[type="email"] {
                width: 210px;
            }
            button[type="submit"] {
                max-width: 180px;
                padding: 10px 15px;
            }
        }
    }

}

/* }}} */
/* {{{ Wide Mobile Layout: 480px */
@media only screen and (max-width: @widthTablet) {

    #main-feature {
        h1 {
            .font-size(26px);
        }
    }

    #existing-newsletter-form {
        #basic-settings,
        #default-newsletters,
        #other-newsletters,
        #remove-all-section,
        .submit-field {
            .span-all();
        }
        #other-newsletters {
            padding: @baseLine 0;
            background-size: contain;
            .table thead th {
                display: none;
            }
        }
    }

    #newsletter-updated {
        #content {
            .sub-feature {
                .span-all();
                margin-bottom: @baseLine;
            }
            .table {
                .span-all();
            }
        }
    }


    #newsletter {
        #main-feature {
            h1 {
                .font-size(28px);
                letter-spacing: -1px;
            }
            p {
                .font-size(@smallFontSize);
            }
        }
        #newsletter-form {
            padding-top: @baseLine;
            padding-bottom: @baseLine;
            background-image: none;
            .form-contents,
            .form-submit {
                .span-all();
            }
        }
    }

    #newsletter-recovery-form {
        padding-top: @baseLine;
        .intro,
        .field {
            .span-all();
        }
        .email-field {
            .field-contents {
                float: none;
                width: 100%;
            }
            label {
                display: block;
                margin: @baseLine 0 0 0;
            }
            input[type="email"] {
                .border-box();
                margin: 0 0 @baseLine 0;
                width: 100%;
            }
            button[type="submit"] {
                float: none;
                margin-top: 0;
                max-width: none;
                width: 100%;
            }
            .errorlist {
                margin: 0 0 @baseLine 0;
            }
        }
    }

}

/* }}} */
