{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros-protocol.html" import card with context %}
{% from "macros.html" import image with context %}


{% macro stories_card(title, link, desc, image=None, class="") %}
  <section class="c-stories-card {% if class %}{{ class }}{% endif %}">
    <a class="card-block-link" href="{{ link }}">
      <div class="card-media-wrapper">
        {% if image %}
          {{ image }}
        {% endif %}
      </div>
      <div class="card-content">
        <h3 class="card-title">{{ title }}</h3>
        <p class="card-desc">{{ desc }}</p>
      </div>
    </a>
  </section>
{% endmacro %}

{% macro stories_image(image, caption="", image_class="", featured=False) %}
  <figure class="c-stories-image {% if image_class %}{{ image_class }}{% endif %}">
    {{ image }}
    {% if caption %}
      <figcaption>{{ caption }}</figcaption>
    {% endif %}
  </figure>
{%- endmacro %}

{% macro stories_article_blockquote(quote="", caption="", class="") %}
  <figure class="c-stories-article-blockquote {{ class }}">
    <div {% if class == 'color-accent' %}class="stories-max-width-wrapper"{% endif %}>
      <blockquote {% if caption %}class="contains-caption"{% endif %}>“{{ quote }}”</blockquote>
      {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
    </div>
  </figure>
{% endmacro %}
