// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.internships-page .mzp-c-button {
    margin: 60px 0;
}

/* Hero */
.internships-page .mzp-c-hero {
    background:
        linear-gradient(to right, #000, transparent),
        url('/media/img/careers/internships/internships-hero-high-res.jpg') center center no-repeat;
    background-size: cover;
}

.internships-page .mzp-c-hero-body {
    margin-left: 50px;
    text-align: left;
}

@media
    #{$mq-high-res},
    (min-resolution: 120dpi) {
    .internships-page .mzp-c-hero {
        background:
            linear-gradient(to right, #000, transparent),
            url('/media/img/careers/internships/internships-hero.jpg') center center no-repeat;
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .internships-page .mzp-c-hero {
        background: #20123a;
    }

    .internships-page .mzp-c-hero-body {
        margin: 8px;
    }

    .internships-page .mzp-c-button {
        margin: 30px 0 0;
    }

    .internships-page .mzp-c-hero-cta {
        text-align: center;
    }
}

/* Sections */
.internships-page .c-section-heading {
    padding: 100px 5px;
    text-align: center;
}

.internships-page .c-section-heading h2 {
    font-size: 40px;
}

.internships-page .c-section-heading p {
    margin: 0 auto;
    max-width: 550px;
}

.internships-grey-section {
    background: #ededf0;
}

@media (max-width: 600px) {
    .internships-page .c-section-heading {
        padding: 50px 10px 30px;
    }

    .internships-page .mzp-l-content .centered {
        padding: 0;
    }

    .internships-page .mzp-c-button {
        margin: 0 0 50px;
    }

    .internships-page .mzp-c-hero-cta .mzp-c-button {
        margin: 30px 0 0;
    }
}

/* Apply Section */

.l-internships-apply {
    max-width: 640px;
}

.l-internships-apply .mzp-c-card-picto-content {
    padding-top: 230px;
    margin-bottom: 40px;
}

.l-internships-apply .mzp-c-card-picto {
    padding: 0;
}

.l-internships-apply .mzp-c-card-picto-content::before {
    height: 200px;
    margin-left: -100px;
    width: 200px;
}

.l-internships-apply #step-1::before {
    background: #ffea80 url('/media/img/careers/internships/step1.png') center center no-repeat;
}

.l-internships-apply #step-2::before {
    background: #ffea80 url('/media/img/careers/internships/step2.png') center center no-repeat;
}

.l-internships-apply #step-3::before {
    background: #ffea80 url('/media/img/careers/internships/step3.png') center center no-repeat;
}

.l-internships-apply #step-4::before {
    background: #ffea80 url('/media/img/careers/internships/step4.png') center center no-repeat;
}

/* Quote Section */

.l-internships-section .mzp-c-card-picto {
    padding: 0;
}

.l-internships-section .mzp-c-card-picto-content {
    max-width: 500px;
    padding-top: 130px;
}

.l-internships-section blockquote {
    margin-bottom: 0;
}

.l-internships-section .mzp-c-card-picto-desc {
    font-size: 16px;
    margin-top: 30px;
}

.l-internships-section .mzp-c-card-picto-content::before {
    border-radius: 50%;
    height: 140px;
    margin-left: -60px;
    width: 140px;
}

.l-internships-section #quote-1::before {
    background: url('/media/img/careers/internships/quote1.png') center center no-repeat;
}

.l-internships-section #quote-2::before {
    background: url('/media/img/careers/internships/quote2.png') center center no-repeat;
}

.l-internships-section #quote-3::before {
    background: url('/media/img/careers/internships/quote3.png') center center no-repeat;
}

@media (max-width: 768px) {
    .internships-page .mzp-c-card-picto {
        margin-bottom: 70px;
    }

    .l-internships-section .mzp-c-card-picto-content {
        max-width: none;
    }
}
