{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "privacy/base-protocol.html" %}

{% do doc.select('ul')|htmlattr(class="mzp-u-list-styled") %}
{% do doc.select('ol')|htmlattr(class="mzp-u-list-styled") %}
{% do doc.select('table')|htmlattr(class="mzp-u-data-table") %}

{% block page_title %}{{ doc.h1.string|join|safe }}{% endblock %}

{% block body_id %}firefox-notice{% endblock %}
{% block body_class %}{{ super() }} format-none{% endblock %}

{% block title %}{{ doc.h1.string|join|safe }}{% endblock%}
{% block time %}
  {% if doc.select('[datetime]') %}
  <time datetime="{{ doc.select('[datetime]')[0]['datetime'] }}" itemprop="dateModified">{{ doc.select('[datetime]')[0].string }}</time>
  {% endif %}
{% endblock %}
{% block lead_in %}
  {% if doc.select('[datetime]') %}
    {{ doc.select('body > section > [datetime] ~ p')|join|safe }}
    {% if doc.select('body > section > ul') %}
      {{ doc.select('body > section > ul')|htmlattr(class="mzp-u-list-styled")|join|safe }}
    {% endif %}
  {% else %}
    {{ doc.select('body > section > p')|join|safe }}
  {% endif %}
{% endblock %}
{% block sections %}
  {{ doc.select('body > section > section:nth-of-type(1)')|join|safe }}
  {{ doc.select('body > section > section:nth-of-type(1) ~ *')|join|safe }}
{% endblock %}

{% block js %}
  {{ js_bundle('privacy_protocol') }}
{% endblock %}
