{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "privacy/notices/firefox.html" %}
{% from "macros-protocol.html" import split, picto with context %}

{% block main_feature %}

  {% include 'privacy/includes/privacy-basics.html' %}

  {{ super() }}

{% endblock %}

{% block side_nav %}

  {{ super() }}

  <aside class="c-extra">
    <p>{{ ftl('privacy-firefox-take-me-back', attrs='href="#notice"') }}</p>
    <p>{{ ftl('privacy-firefox-lost-in-the', attrs='href="#basics"') }}</p>
  </aside>

{% endblock %}
