{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2>Mirë se vini te e <span>Ardhmja e Firefox-it</span></h2>
    <p>Shkarkoni dhe provoni montimin që është më i përshtatshëm për ju, dhe pajtohuni te buletini i kanalit përkatës që të jini i informuar.</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span><span>Qarkullimi</span> Përfundimtar</span></h3>

        <ul class="channel-list">
            <li>Shijoni qarkullimin përfundimtar të provuar dhe përdorur nga qindra milionë anembanë botës</li>
            <li>Mbani në kontroll punimin tuaj online, përmes teknologjive më të reja në Web, shpejtësisë shumë të lartë dhe përshtatjes së kollajtë</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>Beta</span></h3>

        <ul class="channel-list">
            <li>Provoni veçori të fjalës së fundit, por me ca më tepër qëndrueshmëri</li>
            <li>Jepni përshtypjet që të ndihmoni në përmirësimin dhe përimtësimin e asaj çka do të bëhet më pas qarkullimi përfundimtar</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>Aurora</span></h3>

        <ul class="channel-list">
            <li>Provoni risitë më të freskëta, në një mjedis jo dhe aq të qëndrueshëm dhe që nuk është për ata që tuten lehtë</li>
            <li>Jepni përshtypjet lidhur me veçoritë dhe funksionimin, që të ndihmoni në përcaktimin e atyre që do të bëhen pjesë e qarkullimit përfundimtar</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
