{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}

{% from "macros-protocol.html" import split with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('firefox_whatsnew_108_fr') }}
{% endblock %}

{% set utm_campaign = campaign + '-fr' %}

{% block site_header %}{% endblock %}

{% block wnp_content %}
  {% call split(
    block_class='mzp-l-split-center-on-sm-md mzp-t-content-xl wnp-content-main',
    body_class='mzp-l-split-v-start',
    media_class='mzp-l-split-h-end',
    image=resp_img(
      url='img/firefox/whatsnew/whatsnew108/fr/header-550.jpg',
      srcset={
        'img/firefox/whatsnew/whatsnew108/fr/header-550.jpg': '550w',
        'img/firefox/whatsnew/whatsnew108/fr/header-825.jpg': '825w',
        'img/firefox/whatsnew/whatsnew108/fr/header-1100.jpg': '1100w'
      },
      sizes={
        '(min-width: 768px)': 'calc(50vw - 192px)',
        'default': 'calc(100vw - 48px)'
      },
      optional_attributes={
        "height": "301",
        "width": "536",
        "class": "wnp-main-image"
      }
    )
  ) %}
    <div class="mzp-c-wordmark mzp-t-wordmark-md mzp-t-product-pocket"></div>
    <h2 class="wnp-main-title">Organisez-vous au mieux pour les fêtes</h2>

    <p class="wnp-main-tagline">
      Enregistrez vos idées cadeaux, recettes de fêtes ou articles que vous voulez garder avec vous
      l’année prochaine et organisez-les par labels dans des listes Pocket.
    </p>

    <p class="wnp-main-cta">
      {{ pocket_fxa_button(
        entrypoint=entrypoint,
        button_text='Activer Pocket dans Firefox',
        optional_parameters={
          's': entrypoint,
          'utm_campaign': utm_campaign,
          'utm_content': 'signup-fxa'
        },
        optional_attributes={
          'data-cta-text': 'Activate in Firefox',
          'data-cta-type': 'button'
        }
      ) }}
    </p>
  {% endcall %}
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_update') }}
  {{ js_bundle('fxa_product_button') }}
{% endblock %}
