{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros-protocol.html" import split with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block experiments %}
  {{ js_bundle('firefox_whatsnew_133_experiment_na') }}
{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('firefox_whatsnew_133_donation') }}
{% endblock %}

{% set main_body_part_one = "Firefox is backed by Mozilla Foundation – a global community working to keep the internet open and accessible to all. It’s up to all of us to take on irresponsible tech companies and protect our privacy online." %}
{% set main_body_part_two = "You chose Firefox as your internet browser, and now we hope you’ll take the next step to reclaim the internet. Make an end-of-year donation to Mozilla Foundation today." %}
{% set page_cta = "Donate to Mozilla Foundation" %}

{% if variant == '2' %}
  {% set main_title = "Donate to Mozilla Foundation before our end-of-year deadline" %}

  {% if LANG == 'en-CA' %}
    {% set cta_link = "https://www.mozillafoundation.org/?form=24-wnp-nov9" %}
  {% else %}
    {% set cta_link = "https://www.mozillafoundation.org/?form=24-wnp-nov7" %}
  {% endif %}
{% else %}
  {% set main_title = "Donate to Mozilla Foundation, the non-profit behind Firefox" %}

  {% if LANG == 'en-CA' %}
    {% set cta_link = "https://www.mozillafoundation.org/?form=24-wnp-nov10" %}
  {% else %}
    {% set cta_link = "https://www.mozillafoundation.org/?form=24-wnp-nov8" %}
  {% endif %}
{% endif %}

{% block wnp_content %}
  {% include "firefox/whatsnew/includes/fx133/donation-common.html" %}
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_events') }}
{% endblock %}
