{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}

{% from "macros-protocol.html" import card with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}What’s new with Firefox{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}What’s new with Firefox{% endblock %}
{% block page_og_desc %}What’s new with Firefox{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_95_en') }}
{% endblock %}

{% set utm_campaign = campaign %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="content-wrapper mzp-t-firefox">
  {% include 'firefox/whatsnew/includes/header.html' %}

  <section class="wnp-content-main">
    <div class="mzp-l-content mzp-t-content-md">
      <img class="wnp-main-img" src="{{ static('img/firefox/whatsnew/whatsnew95-en/wnp95-en-graphic.svg') }}" height="405" width="720" />
      <h1 class="wnp-main-title">The results are in! These are the best articles of 2021</h1>
      <p class="wnp-main-tagline">
        The long reads we all couldn’t put down. The most popular tech articles on the web. The great pieces of advice that we needed to hear. Dive into the most interesting articles of the year in Pocket’s Best of 2021.
      </p>

      <div class="wnp-main-cta">
        {{ pocket_fxa_button(entrypoint=entrypoint, button_text='See the winners', optional_parameters={'s': entrypoint, 'utm_campaign': utm_campaign, 'utm_content': 'signup-fxa'}, optional_attributes={'data-cta-text': 'Sign up and read now', 'data-cta-type': 'button'}) }}
      </div>
    </div>
  </section>

  <aside class="mzp-l-content c-utilities">
    {% set releasenotes_url = url('firefox.releases.index') if not version else '/firefox/%s/releasenotes/'|format(version) %}
    <p>{{ ftl('whatsnew-release-notes', url=releasenotes_url) }}</p>
  </aside>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_95_en') }}
{% endblock %}
