{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}Was ist neu in Firefox? – Mehr Privatsphäre, mehr Schutz.{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}Was ist neu in Firefox? – Mehr Privatsphäre, mehr Schutz.{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_87_eu_vpn') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="content-wrapper mzp-t-firefox">
  {% include 'firefox/whatsnew/includes/header.html' %}

  <section class="wnp-content-main">
    <div class="mzp-l-content mzp-t-content-md">
      {% include 'firefox/whatsnew/includes/fx87/mozilla-vpn-logo.svg' %}
      <form id="newsletter-form" class="mzp-c-newsletter-form" action="{{ url('products.vpn.invite.waitlist') }}" method="post">
        <h1 class="wnp-main-title">Mozilla VPN ist bald in Deutschland verfügbar.</h1>
        <p class="wnp-main-tagline">Hol dir noch mehr Privatsphäre beim Surfen, Streamen, Zocken und Arbeiten. Mozilla VPN verbirgt deine IP-Adresse und schützt so deine Identität und deinen Standort.</p>

        {{ newsletter_form.newsletters|safe }}
        <input type="hidden" name="source_url" value="{{ request.build_absolute_uri() }}">
        <input type="hidden" name="privacy" id="id_privacy" value="true">
        <input type="hidden" name="fmt" id="format-html" value="H">

        <fieldset class="mzp-c-newsletter-content">
          <div class="mzp-c-form-errors" id="newsletter-errors"></div>

          <div>
            <label for="id_email">
              Gib hier deine E-Mail-Adresse ein.
            </label>
            <input type="email" class="mzp-js-email-field" id="id_email" name="email" required aria-required="true" placeholder="deinname@example.com">
          </div>

          <div id="newsletter-details" class="mzp-c-newsletter-details">
            <label for="id_country">
              In welchem Land wohnst du?
            </label>
            {{ newsletter_form.country|safe }}

            <label for="id_lang">
              Wähle deine bevorzugte Sprache.
            </label>
            {{ newsletter_form.lang|safe }}
          </div>

          <p class="wnp-sub-tagline">Trag dich in die Warteliste ein und werde sofort informiert, sobald Mozilla VPN für deine Region verfügbar ist.</p>

          <p class="mzp-c-form-submit">
            <button class="mzp-c-button mzp-t-product mzp-t-xl" id="newsletter-submit" type="submit">Benachrichtigt mich</button>
          </p>

          <div class="vpn-invite-privacy">
            <p>Indem du auf “Benachrichtigt mich” klickst, stimmst du unseren <a href="{{ url('privacy.notices.mozilla-vpn') }}">Datenschutzrichtlinien zu</a>.</p>

            <p>Die von dir eingegebenen Daten werden nur dafür verwendet, dich über die Verfügbarkeit für deine Region zu informieren.</p>
          </div>
        </fieldset>
      </form>

      <div id="newsletter-thanks" class="vpn-invite-success">
        <h3>Danke! Du stehst auf der Liste.</h3>
        <p>Sobald Mozilla VPN für deine Region verfügbar ist, werden wir dich per E-Mail informieren.</p>
        <p>Mozilla VPN ist derzeit für Windows 10, Mac, Android, iOS und Linux-Geräte in den USA, Großbritannien, Kanada, Neuseeland, Singapur und Malaysia verfügbar.</p>
      </div>
    </div>
  </section>

  <div class="wnp-more mzp-l-content mzp-t-content-xl">
    <div class="l-columns-two">
      <div class="c-picto-block">
        <div class="c-picto-block-image">
          {% include 'firefox/whatsnew/includes/fx87/illo-vpn-laptop.svg' %}
        </div>
        <h3 class="c-picto-block-title">Schnelles & sicheres Netzwerk</h3>
        <div class="c-picto-block-body">
          <p>Mozilla VPN läuft über ein globales Netzwerk von Servern, die von <a href="https://mullvad.net/help/no-logging-data-policy/">Mullvad</a> betrieben werden und das <a href="https://mullvad.net/help/why-wireguard/">WireGuard</a>®-Protokoll verwenden. </p>
        </div>
      </div>

      <div class="c-picto-block">
        <div class="c-picto-block-image">
          {% include 'firefox/whatsnew/includes/fx87/illo-vpn-mobile.svg' %}
        </div>
        <h3 class="c-picto-block-title">Keine Spuren hinterlassen</h3>
        <div class="c-picto-block-body">
          <p>Wir verschlüsseln deine Netzwerkaktivitäten und verbergen deine IP-Adresse. Wir führen keine Protokolle jeglicher Art und teilen deine Netzwerkdaten nicht mit anderen.</p>
        </div>
      </div>
    </div>

    <p class="wnp-more-cta">
      <a class="mzp-c-button mzp-t-secondary" href="{{ url('products.vpn.landing') }}" data-cta-type="link" data-cta-text="Learn more about Mozilla VPN">
        Mehr über Mozilla VPN erfahren
      </a>
    </p>
  </div>

  <aside class="mzp-l-content c-utilities">
    {% set releasenotes_url = url('firefox.releases.index') if not version else '/firefox/%s/releasenotes/'|format(version) %}
    <p>{{ ftl('whatsnew-release-notes', url=releasenotes_url) }}</p>
  </aside>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_87_eu_vpn') }}
{% endblock %}
