{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros-protocol.html" import picto with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}
{% block body_class %}wnp93-v2{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_93') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="content-wrapper mzp-t-firefox">
  {% include 'firefox/whatsnew/includes/header.html' %}

  <section class="wnp-content-main">
    <div class="mzp-l-content mzp-t-content-lg">
      <div class="wnp-main-image video-container">
        <video id="video" preload="metadata" autoplay loop muted poster="{{ static('img/firefox/whatsnew/whatsnew93/hero-v2-poster-de.jpg') }}">
          <source src="{{ static('img/firefox/whatsnew/whatsnew93/hero-v2-de.webm') }}" type="video/webm">
        </video>
      </div>

      <h1 class="wnp-main-title">Nichts zu verbergen aber viel zu schützen</h1>
      <p class="wnp-main-tagline">Es ist Cyber Security Month – der perfekte Anlass, deine persönlichen Daten online besser zu schützen. Mit Mozillas Virtuellem Privaten Netzwerk (VPN) verschleierst du mit einem Klick deinen Standort und deine Browseraktivitäten.</p>

      <div class="wnp-main-cta">
        {{ vpn_product_referral_link(
            referral_id='whatsnew93-de-v2',
            link_text='Hol dir Mozilla VPN',
            class_name='mzp-t-product mzp-t-lg',
            optional_attributes= {
                'data-cta-text' : 'Hol dir Mozilla VPN',
                'data-cta-type' : 'button',
                'data-cta-position' : 'primary-cta',
            }
        ) }}
      </div>
    </div>
  </section>

  <aside class="mzp-l-content c-utilities">
    {% set releasenotes_url = url('firefox.releases.index') if not version else '/firefox/%s/releasenotes/'|format(version) %}
    <p>{{ ftl('whatsnew-release-notes', url=releasenotes_url) }}</p>
  </aside>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_update') }}
{% endblock %}
