{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/whatsnew_67.0.5" %}

{% extends "firefox/whatsnew/whatsnew-fx67.0.5.html" %}

{% block fxa_form %}
  {{ fxa_email_form(
      entrypoint='mozilla.org-whatsnew68',
      button_class='mzp-c-button mzp-t-product mzp-t-small',
      utm_source='whatsnew68',
      style='trailhead',
      campaign= 'trailhead'
  ) }}
{% endblock %}

{% block monitor_button %}
  {{ monitor_button(
    entrypoint='mozilla.org-whatsnew68',
    utm_source='whatsnew68-trailhead',
    utm_campaign='wnp-monitor-cta'
  ) }}
{% endblock %}
