{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/whatsnew_67.0.5" %}

{% extends "firefox/whatsnew/whatsnew-fx68-b.html" %}

{% block body_attrs %}data-variant="c"{% endblock %}

{% block container_class %}{{ super() }} t-dark{% endblock %}

{% block header_logo %}
  {{ high_res_img('logos/firefox/logo-quantum-wordmark-white.png', {'alt': 'Firefox', 'width': '120', 'height': '40', 'class': 'c-page-header-logo-fx'}) }}
{% endblock %}

{% block fxa_form %}
  {{ fxa_email_form(
      entrypoint='mozilla.org-whatsnew68-c',
      button_class='mzp-c-button mzp-t-product mzp-t-small',
      utm_source='whatsnew68-c',
      style='trailhead',
      utm_campaign='whatsnew68-c',
      utm_content='whatsnew68-experiment-c')
  }}
{% endblock %}

{% block monitor_button %}
  {{ monitor_button(
    entrypoint='mozilla.org-whatsnew68-c',
    utm_source='whatsnew68-c',
    utm_campaign='whatsnew68-c',
    utm_content='whatsnew68-experiment-c'
  ) }}
{% endblock %}
