{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros-protocol.html" import split with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('firefox_whatsnew') }}
  {{ css_bundle('firefox_whatsnew_109_en_features') }}
{% endblock %}

{% set _entrypoint = 'mozilla.org-whatsnew109-features' %}
{% set _utm_campaign = 'whatsnew109' %}

{% block site_header %}{% endblock %}

{% block wnp_content %}
  <h1 class="mzp-c-section-heading">Firefox helps you stay private and productive</h1>

  {% call split(
    block_class='mzp-l-split-center-on-sm-md mzp-l-split-reversed',
    body_class='mzp-l-split-v-center',
    media_class='mzp-l-split-h-center',
    image=resp_img('img/firefox/whatsnew/whatsnew109-en/shield.png',
      srcset={ 'img/firefox/whatsnew/whatsnew109-en/shield-high-res.png': '2x' },
      optional_attributes={ 'class': 'mzp-c-split-media-asset'}
    ),
  ) %}
    <h2>See which trackers Firefox blocked for you this week</h2>
    <p>We use Enhance Tracking Protection to automatically protect your privacy while you browse.</p>
    <p>
      <a class="mzp-c-button mzp-t-secondary js-open-about-protections" href="https://support.mozilla.org/kb/enhanced-tracking-protection-firefox-desktop/?utm_source={{ _entrypoint }}&utm_medium=referral&utm_campaign={{ _utm_campaign }}&entrypoint={{ _entrypoint }}"  data-cta-text="View my protections" data-cta-type="button">
        View my protections
      </a>
    </p>
  {% endcall %}

  {% call split(
    block_class='mzp-l-split-center-on-sm-md',
    body_class='mzp-l-split-v-center',
    media_class='mzp-l-split-h-center',
    image=resp_img('img/firefox/whatsnew/whatsnew109-en/addon.jpg',
      srcset={ 'img/firefox/whatsnew/whatsnew109-en/addon-high-res.jpg': '2x' },
      optional_attributes={ 'class': 'mzp-c-split-media-asset'}
    ),
  ) %}
    <h2>Organize all your open tabs with a magic button</h2>
    <p>Add OneTab to your browser — and with one click, suddenly all your open tabs become a clean list.</p>
    <p>
      <a class="mzp-c-button mzp-t-secondary" href="https://addons.mozilla.org/firefox/addon/onetab/?utm_source={{ _entrypoint }}&utm_medium=referral&utm_campaign={{ _utm_campaign }}&entrypoint={{ _entrypoint }}"  data-cta-text="Learn" data-cta-type="button">
        Learn more
      </a>
    </p>
  {% endcall %}

  {% call split(
    block_class='mzp-l-split-center-on-sm-md mzp-l-split-reversed',
    body_class='mzp-l-split-v-center',
    media_class='mzp-l-split-h-center',
    image=resp_img('img/firefox/whatsnew/whatsnew109-en/pdf.jpg',
      srcset={ 'img/firefox/whatsnew/whatsnew109-en/pdf-high-res.jpg': '2x' },
      optional_attributes={ 'class': 'mzp-c-split-media-asset'}
    ),
  ) %}
    <h2>Edit PDFs directly in Firefox</h2>
    <p>No need to print out medical forms, financial documents or contracts — edit and sign any PDF right in Firefox and get back to the fun stuff.</p>
    <p>
      <a class="mzp-c-button mzp-t-secondary" href="https://assets.mozilla.net/wnp109-eu/wnp-fx109-uk.pdf" data-cta-text="Try it now" data-cta-type="button">
        Try it now
      </a>
    </p>
  {% endcall %}

  <div class="c-footer-heading mzp-t-dark">
    <div class=" mzp-l-content mzp-t-content-xl">
      <h2>Discover other products from Mozilla</h2>
    </div>
  </div>

  {% call split(
    block_class='mzp-l-split-center-on-sm-md mzp-t-dark',
    body_class='mzp-l-split-v-center',
    media_class='mzp-l-split-h-center',
    image=resp_img('img/firefox/whatsnew/whatsnew109-en/privacy-header.jpg',
      optional_attributes={ 'class': 'mzp-c-split-media-asset'}
    ),
  ) %}
    <div class="mzp-c-wordmark mzp-t-wordmark-md mzp-t-product-vpn"></div>
    <h3>Protect what’s important all year long</h3>
    <p>Protect your location & activity using Mozilla VPN.</p>
    <p>With the flip of a switch, Mozilla VPN works in the background to protect your entire device.</p>
    <p>
      {{ vpn_product_referral_link(
        referral_id='whatsnew-109-en-features',
        link_text='Get Mozilla VPN',
        class_name='mzp-t-dark',
        optional_attributes= {
            'data-cta-text' : 'Get Mozilla VPN',
            'data-cta-type' : 'button'
        })
      }}
    </p>
  {% endcall %}

{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew') }}
  {{ js_bundle('firefox_whatsnew_109_features') }}
{% endblock %}
