{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/whatsnew/whatsnew-base-42.html" %}

{% add_lang_files "firefox/whatsnew_42" %}

{% block page_css %}
  {% stylesheet 'firefox_whatsnew_42' %}
{% endblock %}

{% block body_class %}firefox-up-to-date{% endblock %}

{% block main_subhead %}
  <a class="button dark" href="{{ url('firefox.private-browsing') }}" data-highlight="privateWindow" role="button" data-link-type="button" data-link-name="Try the new Private Browsing" data-cta-position="Primary">{{ _('Try the new Private Browsing') }}</a>
{% endblock %}

{% block private_browsing_cta %}
  {% include 'firefox/includes/tracking-protection-animation.html' %}
{% endblock %}

{% block js %}
  {% javascript 'firefox_whatsnew_42' %}
{% endblock %}
