{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{#
A modified copy of firefox/mobile-download-desktop.html
#}

{% from "macros.html" import google_play_button, send_to_device with context %}

{% add_lang_files "firefox/whatsnew_50" "firefox/sendto" %}

{% extends "firefox/base-resp.html" %}

{% block gtm_page_id %}data-gtm-page-id="/firefox/whatsnew/"{% endblock %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{% block page_title %}{{_('Download Firefox for Android and iOS')}}{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}
  {{_('Firefox is non-profit, non-corporate, non-compromised. Choosing Firefox isn’t just choosing a browser. It’s a vote for personal freedom.')}}
{% endblock %}

{#- This will appear as <meta property="og:image"> which can be used for social share -#}
{% block page_image %}
  {{ static('img/firefox/firefox-independent-1200.jpg') }}
{% endblock %}

{% block body_id %}firefox-mobile-download{% endblock %}
{% block body_class %}{% endblock %}

{% block site_header %}{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_whatsnew_50' %}
{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}

{% set send_to_device_message_set = 'fx-50-whatsnew' %}
{% set app_store_url = 'https://app.adjust.com/2uo1qc?campaign=whats_new&amp;adgroup=iOS_App_Store&amp;creative=badge_en&amp;fallback=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid989804926%3Fpt%3D373246%26ct%3Dadjust_tracker%26mt%3D8' %}
{% set play_store_url = 'https://app.adjust.com/2uo1qc?campaign=whats_new&amp;adgroup=Google_Play_Store&amp;creative=badge_en' %}

{% block content %}
<main role="main">
  <div class="main-container">
    <div class="horizon">
      <div class="stars">
        <div class="inner-container">
          <header id="masthead">
            <div id="tabzilla">
              <a href="{{ url('mozorg.home') }}" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
            </div>
            <h2>{{ high_res_img('firefox/template/logo-large.png', {'alt': 'Firefox', 'width': '136', 'height': '142'}) }}</h2>
          </header>
          <div class="main-content">
          {% block header_content %}
            {# If user is in a locale with translated basket messages... #}
            {% if show_send_to_device %}
              {% if l10n_has_tag('fx53_whatsnew') %}
                <h4 class="up-to-date"><span>{{ _('Your Firefox is up to date.') }}</span></h4>
                <h2>{{ _('Now get on the go.') }}</h2>

                {# L10n: Line break below for visual formatting only #}
                <h1>{{ _('Send Firefox to your phone<br> and unleash your Internet.') }}</h1>
              {% else %}
                {# Pre-localized headline taken from unsupported-systems.html #}
                <h2>{{ _('Thanks for choosing Firefox!') }}</h2>
                {# Pre-localized headline taken from send to device widget #}
                <h1>{{ _('Send Firefox to your smartphone or tablet') }}</h1>
              {% endif %}
            {# For users not in a locale with translated basket messages... #}
            {% else %}
              {% if l10n_has_tag('fx53_whatsnew') %}
                <h4 class="up-to-date"><span>{{ _('Your Firefox is up to date.') }}</span></h4>
                <h2>{{ _('Now get on the go.') }}</h2>

                {# L10n: Line break below for visual formatting only #}
                <h1>{{ _('Download Firefox for your smartphone and tablet.') }}</h1>
              {% else %}
                {# Generic, pre-localized headline #}
                <h1>{{ _('Download Firefox') }}</h1>
              {% endif %}
            {% endif %}
          {% endblock %}

            <div class="content">
            {% block body_content %}
              {# Hide the widget if user is not in a supported basket locale #}
              {% if show_send_to_device %}
                <div id="send-to-device-wrapper">
                  {{ send_to_device(include_title=False, message_set=send_to_device_message_set) }}
                </div>
              {% endif %}
            {% endblock %}

              <ul id="mobile-download-buttons">
                <li class="android">
                  {{ google_play_button(alt_href=play_store_url, anchor_attributes={'data-link-type': 'download', 'data-download-os': 'Android', 'id': 'playStoreLink'}) }}
                </li>
                <li class="ios">
                  <a id="appStoreLink" href="{{ app_store_url }}" data-link-type="download" data-download-os="iOS">
                    <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ _('Download on the App Store') }}" width="152" height="45">
                  </a>
                </li>
              </ul>
            </div>{# --/.content --#}
          </div>{#-- /.main-content --#}
        </div>{#-- /.inner-container --#}
      </div>{#-- /.stars --#}
    </div>{#-- /.horizon --#}
  </div>{#-- /.main-container --#}

  <div class="foreground">
    {% include 'firefox/includes/horizon.html' %}
  </div>{#-- /.foreground --#}
</main>
{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {% javascript 'firefox_whatsnew_50' %}
{% endblock %}

{# Bug 1381776 #}
{% block update_notification %}{% endblock %}
