{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/whatsnew_77" %}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ _('What’s new with Firefox') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_77') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="content-wrapper mzp-t-firefox mzp-t-dark">
  <header class="c-page-header">
    <div class="mzp-l-content c-page-header-inner">
      {{ high_res_img('protocol/img/logos/firefox/browser/logo-word-hor-white-sm.png', {'alt': 'Firefox', 'width': '216', 'height': '40', 'class': 'c-page-header-logo-fx'}) }}
      <div class="mzp-c-notification-bar mzp-t-success up-to-date">
        <p>{{ _('Congrats! You’re using the latest version of Firefox.') }}</p>
      </div>
    </div>
  </header>

  <section class="content-main">
    <div class="mzp-l-content">
      <div class="mzp-c-emphasis-box">
        <img class="c-emphasis-box-logo" src="{{ static('img/firefox/whatsnew/whatsnew77/pip-icon.svg') }}" alt="">
        <h1 class="c-emphasis-box-title">
          {{ _('Picture-in-Picture this') }}
        </h1>
        <p>{{ _('Got things to do and things to watch? Do both with Picture-in-Picture.') }}</p>
        <p><strong>{{ _('Try it out with these cuddly red pandas.') }}</strong> {{ _('Press play and hover your cursor over the video. Then click the blue button to pop the video out.') }}</p>

        <div class="video-container">
          <div class="video-content">
          {# YouTube is blocked in China so zh-CN gets an alternative, self-hosted video. If we run into bandwidth trouble we can turn the video off and zh-CN falls back to the 76 page. #}
          {% if switch('firefox-whatsnew77-video-zhCN', ['zh-CN']) %}
            <video id="pip-video" preload="metadata" controls poster="{{ static('img/firefox/whatsnew/whatsnew77/video-poster.jpg') }}" data-video-title="Red Panda Cubs - Firefox + Woodland Park Zoo">
              <source src="https://assets.mozilla.net/video/red-pandas.webm" type="video/webm">
            </video>
          {% else %}
            <a class="video-play js-video-play" href="https://youtu.be/F-nFQryDB0s" data-id="F-nFQryDB0s" data-video-title="Red Panda Cubs - Firefox + Woodland Park Zoo" title="{{ _('Play the video') }}">
              <img src="{{ static('img/firefox/whatsnew/whatsnew77/video-poster.jpg') }}" alt="">
            </a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content-extra">
    <div class="mzp-l-content">
      <h2 class="content-extra-title">{{ _('Ways we’ve been using Picture-in-Picture') }}</h2>

      <div class="l-columns-three">
        <div class="c-picto-block">
          <div class="c-picto-block-image">
            <img src="{{ static('img/firefox/whatsnew/whatsnew77/pip-lecture.svg') }}" alt="">
          </div>
          <h3 class="c-picto-block-title">{{ _('Watching a lecture or meeting while you take notes') }}</h3>
        </div>

        <div class="c-picto-block">
          <div class="c-picto-block-image">
            <img src="{{ static('img/firefox/whatsnew/whatsnew77/pip-cook.svg') }}" alt="">
          </div>
          <h3 class="c-picto-block-title">{{ _('Keeping a tutorial video open with a recipe while you cook or bake') }}</h3>
        </div>

        <div class="c-picto-block">
          <div class="c-picto-block-image">
            <img src="{{ static('img/firefox/whatsnew/whatsnew77/pip-entertain.svg') }}" alt="">
          </div>
          <h3 class="c-picto-block-title">{{ _('Entertaining cats, dogs and kids while you get work done') }}</h3>
        </div>

      </div>
    </div>
  </section>

  <aside class="mzp-l-content c-utilities">
    <p>
    {% trans notes=url('firefox.notes') %}
      Read the <a href="{{ notes }}">Release Notes</a> to know more about what’s new in your Firefox Browser.
    {% endtrans %}
    </p>
  </aside>
</main>
{% endblock %}

{% block js %}
{% if switch('firefox-whatsnew77-video-zhCN', ['zh-CN']) %}
  {{ js_bundle('firefox_whatsnew_77_zhCN') }}
{% else %}
  {{ js_bundle('firefox_whatsnew_77') }}
{% endif %}
{% endblock %}

{% block experiments %}
  {% if switch('experiment-whatsnew-77', ['en-US']) %}
    {{ js_bundle('firefox_whatsnew_77_experiment') }}
  {% endif %}
{% endblock %}


