{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-picto') }}
  {{ css_bundle('firefox_whatsnew_102_en') }}
{% endblock %}

{% set _entrypoint = 'mozilla.org-whatsnew102' %}
{% set utm_campaign = campaign + '-en' %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="content-wrapper mzp-t-firefox">
  {% include 'firefox/whatsnew/includes/header.html' %}

  <section class="wnp-content-main">
    <div class="mzp-l-content mzp-t-content-lg">
      <div class="mzp-c-logo mzp-t-logo-xl mzp-t-product-pocket">Pocket</div>
      <h1 class="wnp-main-title">Sound smarter at dinner parties</h1>
      <p class="wnp-main-tagline">
        Curate a list of articles that make for great conversations. Click the
        <img class="inline-icon" src="{{ static('img/firefox/whatsnew/whatsnew102/icon-pocket.svg') }}" width="16" height="16" alt="Save to Pocket icon" title="Save to Pocket">
        built right into Firefox to save articles to Pocket and read them when
        you have the time.
      </p>

      <p class="wnp-main-cta">
        {{ pocket_fxa_button(entrypoint=_entrypoint, button_text='Activate Pocket in Firefox', optional_parameters={'s': _entrypoint, 'utm_campaign': utm_campaign, 'utm_content': 'signup-fxa-primary'}, optional_attributes={'data-cta-text': 'Activate Pocket in Firefox', 'data-cta-type': 'button', 'data-cta-position': 'primary'}) }}
      </p>
    </div>
  </section>

  <section class="wnp-content-extra">
    <div class="mzp-l-content mzp-t-content-md">
      <div class="mzp-l-columns mzp-t-columns-two">

        <div class="mzp-c-picto">
          <div class="mzp-c-picto-image">
            {{ high_res_img('img/firefox/whatsnew/whatsnew102/pocket-mobile.png', {'alt': '', 'width': '348', 'height': '217'}) }}
          </div>
          <h2 class="mzp-c-picto-heading">Add deep-dives, interviews, recipes — even tweets — to your Pocket.</h2>
        </div>

        <div class="mzp-c-picto">
          <div class="mzp-c-picto-image">
            {{ high_res_img('img/firefox/whatsnew/whatsnew102/pocket-discover.png', {'alt': '', 'width': '348', 'height': '217'}) }}
          </div>
          <h2 class="mzp-c-picto-heading">Discover the best of the web with recommendations from Pocket editors.</h2>
        </div>

      </div>
    </div>
  </section>

  <aside class="mzp-l-content c-utilities">
    {% set releasenotes_url = url('firefox.releases.index') if not version else '/firefox/%s/releasenotes/'|format(version) %}
    <p>{{ ftl('whatsnew-release-notes', url=releasenotes_url) }}</p>
  </aside>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_update') }}
  {{ js_bundle('fxa_product_button') }}
{% endblock %}
