{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros-protocol.html" import split with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('firefox_whatsnew_110_eu') }}
{% endblock %}

{% set utm_campaign = 'whatsnew-110-fr' %}

{% block site_header %}{% endblock %}

{% block wnp_content %}
  {% call split(
    block_class='mzp-l-split-reversed mzp-l-split-center-on-sm-md mzp-t-content-lg wnp-content-main',
    body_class='mzp-l-split-v-start',
    media_class='mzp-l-split-v-start',
    media_after=True,
    image=picture(
      url="img/firefox/whatsnew/whatsnew110-eu/pocket-fr.gif",
      sources=[
          {
              "media": "(prefers-reduced-motion: reduce)",
              "srcset": {
                  "img/firefox/whatsnew/whatsnew110-eu/pocket-fr.png": "default"
              }
          },
          {
              "media": "(prefers-reduced-motion: no-preference)",
              "srcset": {
                "img/firefox/whatsnew/whatsnew110-eu/pocket-fr.gif": "default"
              }
          }
      ],
      optional_attributes={
        'height': '400',
        'width': '400',
        'class': 'mzp-c-split-media-asset',
      }
  )
  ) %}
    <div class="mzp-c-wordmark mzp-t-wordmark-md mzp-t-product-pocket"></div>
    <h2 class="wnp-main-title">Le meilleur du Web en un clic</h2>

    <div class="wnp-main-cta">
      <p class="wnp-main-tagline">
        Pocket vous permet d’enregistrer le contenu en ligne qui vous plaît,
        et de le retrouver quand vous avez le temps de le consulter. Cliquez sur
        l’icône Pocket de la barre d’outils de Firefox et créez votre propre
        bibliothèque d’articles, vidéos ou podcasts.
      </p>

      {{ pocket_fxa_button(
        entrypoint=entrypoint,
        button_text='Activer Pocket dans Firefox',
        optional_parameters={
          's': entrypoint,
          'utm_campaign': utm_campaign,
          'utm_content': 'signup-fxa'
        },
        optional_attributes={
          'data-cta-text': 'Activate Pocket in Firefox',
          'data-cta-type': 'button'
        })
      }}
    </div>
  {% endcall %}
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_update') }}
  {{ js_bundle('fxa_product_button') }}
  {{ js_bundle('firefox_whatsnew_110_eu') }}
{% endblock %}
