{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}Les nouveautés de Firefox{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_117_eu_reader_view') }}
{% endblock %}

{% block experiments %}
  {% if switch('experiment-firefox-whatsnew-117-eu-reader-view') %}
    {{ js_bundle('firefox_whatsnew_117_eu_reader_view_experiment') }}
  {% endif %}
{% endblock %}

{% block site_header %}{% endblock %}

{% block wnp_header %}
  <header class="c-page-header">
    <div class="mzp-l-content c-page-header-inner">
      <h2 class="c-page-header-logo-fx">{{ ftl('whatsnew-firefox') }}</h2>
      {# aside is used to hide notification content from reader mode #}
      {% if ftl_has_messages('whatsnew-update-notification') %}
        <aside class="c-page-header-notification">
          <div class="mzp-c-notification-bar mzp-t-success">
            <p>{{ ftl('whatsnew-update-notification') }}</p>
          </div>
        </aside>
      {% endif %}
    </div>
  </header>
{% endblock %}

{% block wnp_content %}
  <section class="wnp-content-main">
    <div class="wnp-grid mzp-l-content mzp-t-content-lg">
      <div class="wnp-grid-body">
        <h2 class="wnp-main-title">Le web, simplifié</h2>

        <p class="wnp-main-tagline has-reader-icon">
          {% if variant == '2' %}
            Cliquez sur l’icône <strong>symbole mode lecture</strong> dans la barre d’adresse
            de Firefox, et voilà ! Plus de pubs, boutons, couleurs de fond ou vidéos sur la
            page web que vous visitez.
          {% else %}
            Avez-vous déjà vu une page web rendue meilleure par la pub ? Nous non plus.
            Cliquez sur l’icône <strong>symbole du mode lecture</strong> dans la barre
            d’adresse de Firefox et nettoyez vos pages de ce que vous n’êtes pas venu
            lire.
          {% endif %}
        </p>

        <p class="wnp-main-cta try-reader-view">
          <a class="mzp-c-button mzp-t-product" href="https://support.mozilla.org/kb/firefox-reader-view-clutter-free-web-pages?{{ utm_params }}" data-cta-text="Try Reader View" data-cta-type="button">
            Essayer le mode lecture
          </a>
        </p>
      </div>

      <p class="wnp-sign-off">
        <strong>Conçu par Mozilla.</strong> Pensé pour vous depuis 1998
      </p>

      <div class="wnp-grid-head">
        <div class="eyesore eyesore-one" role="presentation"><span></span></div>
      </div>

      <div class="wnp-grid-col1">
        <div class="eyesore eyesore-two" role="presentation"></div>
        <div class="eyesore eyesore-three" role="presentation"></div>
        <div class="eyesore eyesore-four" role="presentation"><span></span></div>
      </div>

      <div class="wnp-grid-col2">
        <div class="eyesore eyesore-five" role="presentation"></div>
        <div class="eyesore eyesore-six" role="presentation"></div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_117_eu_reader_view') }}
{% endblock %}
