{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_137_vertical_tabs') }}
{% endblock %}

{% if LANG == 'de' %}
  {% set main_title = 'Neu! Weniger Chaos, mehr Fokus mit vertikalen Tabs' %}
  {% set main_tagline = 'Die neue Firefox-Seitenleiste ermöglicht es dir, Tabs zur Seite zu schieben, wichtige Seiten anzuheften und deinen KI-Assistenten jederzeit griffbereit zu haben.' %}
  {% set main_cta = 'Seitenleiste aktivieren' %}
  {% set fallback_explainer = 'Gehe zu Browser-Layout und wähle Seitenleiste anzeigen, um die neue Funktion zu aktivieren.' %}
{% elif LANG == 'fr' %}
  {% set main_title = 'À la une ! Moins de désordre et plus de focus grâce aux onglets verticaux' %}
  {% set main_tagline = 'Le panneau latéral vous permet désormais de déplacer vos onglets sur le côté, d’épingler vos favoris et de garder votre assistant IA sous la main.' %}
  {% set main_cta = 'Activer le panneau latéral' %}
  {% set fallback_explainer = '<p>Dans la section <em>Disposition du navigateur</em>, cochez <em>Afficher le panneau latéral</em>.</p>' %}
{% else %}
  {% set main_title = 'New! Less clutter and more focus with vertical tabs' %}
  {% set main_tagline = 'Firefox’s new sidebar lets you move tabs to the side, pin key sites and keep your AI assistant handy.' %}
  {% set main_cta = 'Enable the new sidebar' %}
  {% set fallback_explainer = 'Go to Browser Layout and select Show sidebar.' %}
{% endif %}

{% block wnp_content %}
<section class="wnp-content-main mzp-c-split">
  <div class="mzp-c-split-container">
    <div class="mzp-c-split-body ">
        <h2 class="wnp-content-title mzp-u-title-sm">{{ main_title }}</h2>
        <p class="wnp-content-tagline">{{ main_tagline }}</p>
        <p class="wnp-main-cta"><button data-cta-text="Enable the new sidebar" data-cta-position="primary" data-cta-name="wnp-137" class="mzp-c-button mzp-t-product">{{ main_cta }}</button></p>
        <div class="wnp-fallback-explainer">
          <p>{{ fallback_explainer | safe }}</p>
          <p><a href="about:preferences" data-cta-text="Enable the new sidebar" data-cta-position="primary" data-cta-name="wnp-137" class="mzp-c-button mzp-t-product">{{ main_cta }}</a></p>
        </div>
      </div>
    <div class="mzp-c-split-media ">
        <img class="mzp-c-split-media-asset" width="723" height="407" src="/placeholder" alt="placeholder">
    </div>
  </div>
</section>

<section class="wnp-footer">
  <p class="wnp-sign-off">{{ ftl('whatsnew-signoff') }}</p>
  {% include "firefox/whatsnew/includes/mofo-donate-cta.html" %}
</section>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_137_uitour') }}
{% endblock %}
