{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_111_en') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block wnp_content %}

  <section class="wnp-content-main mzp-l-content mzp-t-content-md">
    <h1 class="wnp-main-title">
      {{ picture(
        url="img/firefox/whatsnew/whatsnew111-en/edit-pdfs-light.svg",
        sources=[
            {
                "media": "(prefers-color-scheme: light)",
                "srcset": {
                    "img/firefox/whatsnew/whatsnew111-en/edit-pdfs-light.svg": "default",
                }
            },
            {
                "media": "(prefers-color-scheme: dark)",
                "srcset": {
                  "img/firefox/whatsnew/whatsnew111-en/edit-pdfs-dark.svg": "default",
              }
            }
        ],
        optional_attributes={
          "alt": "Edit PDFs in Firefox",
          "width": "435",
          "height": "222",
        }
    ) }}
    </h1>

    <div class="wnp-loading"></div>

    <div class="wnp-editor">
      <p class="wnp-main-tagline">
        Say goodbye to the hassle of trying to print or fill out your PDFs in
        other programs. With Firefox you can easily edit PDFs without switching
        to another app or program.
      </p>

      <p class="wnp-main-cta"><a class="mzp-c-button mzp-t-product" href="https://assets.mozilla.net/wnp111-en/wnp-fx111-en.pdf" data-cta-type="button" data-cta-text="Try it now">Try it now</a></p>
    </div>

    <div class="wnp-default">
      <p class="wnp-main-tagline">
        Say goodbye to the hassle of trying to print or fill out your PDFs in
        other programs. With Firefox as your default browser, you can always
        edit PDFs without switching to another app or program.
      </p>

      <p class="wnp-main-cta"><a class="mzp-c-button mzp-t-product" href="{{ url('firefox.set-as-default.thanks') }}" data-cta-type="button" data-cta-text="Set Firefox to default">Set Firefox to default</a></p>
    </div>

    <p class="wnp-sign-off">
      <strong>Powered by Mozilla.</strong> Putting people before profits since 1998.
    </p>
  </section>

{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_update') }}
  {{ js_bundle('firefox_whatsnew_111_en') }}
{% endblock %}
