{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_137_vertical_tabs') }}
{% endblock %}

{% block wnp_content %}
<section class="wnp-content-main mzp-c-split">
  <div class="mzp-c-split-container">
    <div class="mzp-c-split-body ">
        <h2 class="wnp-content-title mzp-u-title-sm">Lorem ipsum dolor sit amet</h2>
        <p class="wnp-content-tagline">Lorem ipsum dolor sit amet, amet dolores tincidunt te sea. His aliquid epicuri detraxit in, cum tantas populo periculis te. Ei vix idque noster.</p>
        <p><a class="mzp-c-button mzp-t-product" href="#">Call to action</a></p>
    </div>
    <div class="mzp-c-split-media ">
        <img class="mzp-c-split-media-asset" width="723" height="407" src="/placeholder" alt="placeholder">
    </div>
  </div>
</section>

<section class="wnp-footer">
  <p class="wnp-sign-off">{{ ftl('whatsnew-signoff') }}</p>
  {% include "firefox/whatsnew/includes/mofo-donate-cta.html" %}
</section>
{% endblock %}
