{# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import fxa_email_form, monitor_button, fxa_link_fragment with context %}

{% add_lang_files "firefox/whatsnew_67.0.5" %}

{% extends "firefox/base-protocol.html" %}

{% block page_title %}{{ _('Get a Firefox Account – Keep your data private, safe and synced') }}{% endblock %}
{% block page_desc %}{{ _('Securely sync your passwords, bookmarks and tabs across all your devices. Get a Firefox Account now – One login – Power and privacy everywhere.') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_67.0.5') }}
{% endblock %}

{% block body_class %}state-fxa-default{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="mzp-t-firefox">
  <header class="c-page-header">
    <div class="mzp-l-content c-page-header-inner">
      {{ high_res_img('firefox/whatsnew_67/logo.png', {'alt': 'Firefox', 'width': '159', 'height': '55', 'class': 'c-page-header-logo-fx'}) }}
      <h1 class="c-page-header-up-to-date"><span>{{ _('Congrats! You’re using the latest version of Firefox.') }}</span></h1>
    </div>
  </header>

  <section class="mzp-l-content">
    <div class="card">

      <div class="show-fxa-default show-fxa-supported-signed-out">
      {% block content_signed_out %}
        <h1>{{ _('You’ve got the latest browser. Now get the rest of Firefox.') }}</h1>
        <p>{{ _('Join Firefox for a whole family of respectful products, plus all the knowledge you need to protect yourself online.') }}</p>
        <div class="c-signup-container fxa-form-cta">
          {% block fxa_form %}
            {{ fxa_email_form(
                entrypoint='mozilla.org-whatsnew6705',
                button_class='mzp-c-button mzp-t-product mzp-t-small',
                utm_source='whatsnew6705',
                style='trailhead',
                utm_campaign='trailhead',
                utm_content='get-the-rest-of-firefox')
            }}
          {% endblock %}
        </div>
        <p><a href="{{ url('firefox.accounts') }}">{{ _('Learn more about joining Firefox') }}</a></p>
      {% endblock %}
      </div>

      <div class="show-fxa-supported-signed-in">
      {% block content_signed_in %}
        <h1>{{ _('Your account connects you to all of our products. ') }}</h1>
        <img class="glyphs" id="monitor-logo" src="{{ static('img/firefox/whatsnew_67/monitor_icon.svg') }}" alt="">
        <div class="mzp-l-hero-content">
          <h2>{{ _('Including Firefox Monitor, your watchful eye for data breaches') }}</h2>
          <p>{{ _('See if your info was compromised in another company’s data breach, and get automatically signed up for future alerts.') }}</p>
          {% block monitor_button %}
            {{ monitor_button(
              entrypoint='mozilla.org-whatsnew6705',
              utm_source='whatsnew6705',
              utm_campaign='whatsnew6705'
            ) }}
          {% endblock %}
        </div>
      {% endblock %}
      </div>

    </div>
  </section>

  <section class="mzp-l-content c-benefits">
    <div class="benefits-list">
      <div class="show-fxa-default show-fxa-supported-signed-out">
        <div class="respect-glyphs">
          <img class="glyphs" src="{{ static('img/firefox/whatsnew_67/lockwise_glyph.svg') }}" alt="">
          <img class="glyphs" src="{{ static('img/firefox/whatsnew_67/send_glyph.svg') }}" alt="">
        </div>
        <div class="benefit-content">
          <h3>{{ _('Products that respect') }}</h3>
          <p>
            {% if l10n_has_tag('lockwise_update_201906') %}
              {% trans send='https://send.firefox.com/', lockbox='https://lockwise.firefox.com/', monitor='https://monitor.firefox.com/' %}
              Firefox products like <a href="{{ send }}">Send</a>, <a href="{{ lockbox }}">Lockwise</a> and <a href="{{ monitor }}">Monitor</a> help you get things done without invading your privacy.
              {% endtrans %}
            {% else %}
              {% trans send='https://send.firefox.com/', lockbox='https://lockwise.firefox.com/', monitor='https://monitor.firefox.com/' %}
              Firefox products like <a href="{{ send }}">Send</a>, <a href="{{ lockbox }}">Lockbox</a> and <a href="{{ monitor }}">Monitor</a> help you get things done without invading your privacy.
              {% endtrans %}
            {% endif %}
          </p>
        </div>
        <hr>
        <img class="glyphs" src="{{ static('img/firefox/whatsnew_67/protects_glyph.svg') }}" alt="">
        <div class="benefit-content">
          <h3>{{ _('Knowledge that protects') }}</h3>
          <p>{{ _('Learn everything you need to know (but don’t yet) about staying smart and safe online.') }}</p>
        </div>
        <hr>
        <img class="glyphs" src="{{ static('img/firefox/whatsnew_67/heart_glyph.svg') }}" alt="">
        <div class="benefit-content">
          <h3>{{ _('Fierce defense of your privacy') }}</h3>
          <p>{{ _('Everything we make and do honors our Personal Data Promise: <strong>Take less. Keep it safe. No secrets.</strong>') }}</p>
        </div>
      </div>
      <div class="show-fxa-supported-signed-in">
        <h2>{{ _('And soon it’ll connect you to something bigger.') }}</h2>
        <img class="glyphs" src="{{ static('img/firefox/whatsnew_67/experiments.svg') }}" alt="">
        <div class="benefit-content">
          <h3>{{ _('Help us build a better Firefox for you.') }}</h3>
          <p>{{ _('Get into the open source spirit by test-driving upcoming products.') }}</p>
        </div>
        <hr>
        <img class="glyphs" src="{{ static('img/firefox/whatsnew_67/inbox.svg') }}" alt="">
        <div class="benefit-content">
          <h3>{{ _('Help us keep Big Tech in check.') }}</h3>
          <p>{{ _('We support communities all over the world standing up for a healthier internet.  Add your voice to the fight.') }}</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_67.0.5') }}
{% endblock %}
