{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/whatsnew/base.html" %}

{% block page_title %}{{ ftl('whatsnew-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('whatsnew-page-description') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_103_eu') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block wnp_content %}
<section class="wnp-content-main mzp-l-content mzp-t-content-md">
  <h2 class="wnp-main-title">Erkunde das Web auf die sichere Art</h2>
  {% include 'firefox/whatsnew/includes/fx103/tcp.html' %}
  <p class="wnp-main-tagline">
    Firefox implementiert schrittweise seinen stärksten Privatsphäre-Schutz aller Zeiten.
    Der vollständige Cookie-Schutz (kurz: TCP) beschränkt Cookies auf die Websites,
    auf denen sie erstellt wurden und hält so Unternehmen davon ab, deine Netzaktivitäten mit
    Trackern über mehrere Seiten hinweg nachzuvollziehen. TCP ist ein Meilenstein für den
    Datenschutz und trotzdem erst der Anfang.
  </p>
  <p class="wnp-main-cta">
    <a class="mzp-c-button mzp-t-product" href="{{ url('firefox.set-as-default.thanks') }}" data-cta-text="Make Firefox your default browser" data-cta-type="button">
      Mach Firefox zu deinem Standardbrowser
    </a>
  </p>
  <p class="wnp-alt-msg"><strong>Vielen Dank dafür, dass Firefox dein Standardbrowser ist.</strong></p>
</section>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew') }}
  {{ js_bundle('firefox_whatsnew_103_eu') }}
{% endblock %}
