{# start #header #}
<div id="header">
  <div>
    <h1><a href="/en-US/firefox/" title="{{ _('Back to home page') }}">{{ _('Mozilla Firefox') }}</a></h1>
    <a href="http://www.mozilla.org/" class="mozilla">{{ _('Mozilla') }}</a>

    {# start menu #nav-main #}
    <div id="nav-main" role="navigation">
      <ul role="menubar">
        <li id="nav-main-features" class="first">
          <a aria-haspopup="true" aria-owns="nav-main-features-submenu" tabindex="0" href="/en-US/firefox/features/">Desktop</a>
          <ul id="nav-main-features-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="/en-US/firefox/features/">Features</a></li>
            <li><a tabindex="-1" href="/en-US/firefox/security/">Security</a></li>
            <li><a tabindex="-1" href="/en-US/firefox/performance/">Performance</a></li>
            <li><a tabindex="-1" href="/en-US/firefox/customize/">Customization</a></li>
            <li><a tabindex="-1" href="/en-US/firefox/technology/">Technology</a></li>
            <li><a tabindex="-1" href="/en-US/firefox/video/">Videos</a></li>
            <li class="last"><a tabindex="-1" href="/en-US/firefox/central/">Tour</a></li>
          </ul>
        </li>

        <li id="nav-main-mobile">
          <a aria-haspopup="true" aria-owns="nav-main-mobile-submenu" tabindex="0" href="/en-US/mobile/">Mobile</a>
          <ul id="nav-main-mobile-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="/en-US/mobile/">Mobile Overview</a></li>
            <li><a tabindex="-1" href="/en-US/mobile/download/">Download</a></li>
            <li><a tabindex="-1" href="/en-US/mobile/features/">Features</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/en-US/mobile/?browse=featured">Customize</a></li>
            <li><a tabindex="-1" href="/en-US/mobile/sync/">Sync</a></li>
            <li><a tabindex="-1" href="https://developer.mozilla.org/en-US/mobile">Develop</a></li>
            <li><a tabindex="-1" href="/en-US/mobile/getinvolved/">Get Involved</a></li>
            <li><a tabindex="-1" href="/en-US/mobile/faq/">FAQ</a></li>
            <li class="last"><a tabindex="-1" href="https://blog.mozilla.com/mobile/">Blog</a></li>
          </ul>
        </li>

        <li id="nav-main-addons">
          <a aria-haspopup="true" aria-owns="nav-main-addons-submenu" tabindex="0" href="https://addons.mozilla.org/">Add-ons</a>
          <ul id="nav-main-addons-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="https://addons.mozilla.org/firefox/">Firefox Add-ons</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/featured/">Featured Add-ons</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/extensions/">Extensions</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/themes/">Themes</a></li>
            <li><a tabindex="-1" href="http://www.getpersonas.com/">Personas</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/search-tools/">Search Tools</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/language-tools/">Language Support</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/collections/">Collections</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/mobile/">Mobile Add-ons</a></li>
            <li class="last"><a tabindex="-1" href="https://addons.mozilla.org/firefox/developers/">Developer Hub</a></li>
          </ul>
        </li>

        <li id="nav-main-support">
          <a aria-haspopup="true" aria-owns="nav-main-support-submenu" tabindex="0" href="http://support.mozilla.com/">Support</a>
          <ul id="nav-main-support-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="http://support.mozilla.com/en-US/kb/">Firefox Support</a></li>
            <li><a tabindex="-1" href="http://support.mozilla.com/mobile">Mobile Support</a></li>
            <li class="last"><a tabindex="-1" href="http://support.mozillamessaging.com/en-US/kb/">Thunderbird Support</a></li>
          </ul>
        </li>

        <li id="nav-main-about" class="last">
          <a aria-haspopup="true" aria-owns="nav-main-about-submenu" tabindex="0" href="/en-US/about/">About</a>
          <ul id="nav-main-about-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="/en-US/about/">About Firefox</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.org/join">Join Mozilla</a></li>
            <li><a tabindex="-1" href="/en-US/about/participate/">Participate</a></li>
            <li><a tabindex="-1" href="/en-US/press/">Press Center</a></li>
            <li><a tabindex="-1" href="/en-US/about/careers.html">Careers</a></li>
            <li><a tabindex="-1" href="/en-US/about/partnerships.html">Partnerships</a></li>
            <li><a tabindex="-1" href="/en-US/about/legal.html">Legal</a></li>
            <li><a tabindex="-1" href="/en-US/about/contact.html">Contact Us</a></li>
            <li class="last"><a tabindex="-1" href="http://blog.mozilla.com/">Blog</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {# end menu #nav-main #}

  </div>
</div>
{# end #header #}
