{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/base-protocol.html" %}

{% from "macros-protocol.html" import hero with context %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{_('Firefox Quantum for Enterprise Web Browser | Firefox')}}{% endblock %}
{% block page_desc %}{{_('A managed version of the super-fast new Firefox.')}}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_enterprise') }}
{% endblock %}

{% block body_id %}firefox{% endblock %}
{% block body_class %}mzp-t-firefox{% endblock %}

{% block site_header %}
  {% with hide_nav_download_button=True %}
    {% include 'includes/protocol/navigation/index.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
<main role="main">
  {% call hero(
    title=_('Firefox for Enterprise'),
    desc=_('Speed up your business by giving employees a managed version of the super-fast new Firefox.'),
    class='mzp-has-image mzp-t-dark mzp-t-product-firefox t-enterprise',
    include_cta=True,
    image_url='firefox/enterprise/fx-browser-img.svg',
    heading_level=1
  ) %}
  <a href="{{ url('firefox.enterprise.signup') }}" class="mzp-c-button mzp-t-product qa-sign-up">{{ _('Find Out More') }}</a>
  {% endcall %}

  <section class="mzp-l-content">
    <h2 class="u-visually-hidden">{{ _('Features') }}</h2>
    <ul class="c-features">
      <li>
        <h3>{{ _('Easy administration') }}</h3>
        <p>
        {% trans %}
          Set up policies (e.g. proxy, restrict features) with Group Policy on Windows and a JSON file on Mac and Linux.
        {% endtrans %}
        </p>
      </li>
      <li>
        <h3>{{ _('Fast and lightweight') }}</h3>
        <p>
        {% trans %}
          Powered by a cutting-edge engine, Firefox is now 2X faster than it was and uses 30% less RAM than Chrome.
        {% endtrans %}
        </p>
      </li>
      <li>
        <h3>{{ _('Proven and private') }}</h3>
        <p>
        {% trans %}
          Firefox is open source and is trusted by thousands of businesses to protect user and organizational privacy.
        {% endtrans %}
        </p>
      </li>
    </ul>

    <h2>{{ _('Firefox Enterprise Downloads') }}</h2>
    <div class="c-links">
      <h3>{{ _('Firefox Rapid Release') }}</h3>
      <a class="qa-download-release" href="{{ firefox_url('desktop', 'all') }}">{{ _('Download Firefox') }}</a>
    </div>
    <div class="c-links">
      <h3>{{ _('Firefox Extended Support Release (ESR)') }}</h3>
      <a class="qa-download-esr" href="{{ firefox_url('desktop', 'all') }}">{{ _('Download ESR') }}</a>
    </div>
    <div class="c-links">
      <h3>{{ _('Firefox MSI Installers') }}</h3>
      <a class="qa-download-msi" href="{{ firefox_url('desktop', 'all') }}">{{ _('Download MSI') }}</a>
    </div>

    <h2>{{ _('Resources') }}</h2>
    <div class="c-links">
      <h3>{{ _('Support & Documentation') }}</h3>
      <a href="https://support.mozilla.org/products/firefox-enterprise/">{{ _('Learn More') }}</a>
    </div>
    <div class="c-links">
      <h3>{{ _('Windows Group Policy ADMX Templates') }}</h3>
      <a href="https://github.com/mozilla/policy-templates/releases/">{{ _('Get Templates') }}</a>
    </div>
  </section>
</main>
{% endblock %}

{% block email_form %}{% endblock %}

{# Bug 1381776 #}
{% block update_notification %}{% endblock %}
