{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-protocol.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Thanks! | Firefox Browser for Enterprise{% endblock %}
{% block page_desc %}{% endblock %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-enterprise-signup') }}
{% endblock %}

{% block body_id %}enterprise-thanks{% endblock %}
{% block body_class %}mzp-t-firefox{% endblock %}

{% block site_header %}
<header class="enterprise-head">
  <div class="mzp-l-content">
    {{ high_res_img('protocol/img/logos/firefox/browser/logo-sm.png', {'alt': 'Firefox', 'width': '50', 'height': '50', 'class': 'enterprise-logo'}) }}
    <span class="enterprise-name"><strong>Firefox Browser</strong> for Enterprise</span>
  </div>
</header>
{% endblock %}

{% block content %}
<div id="main-content" class="mzp-l-content">
  <main class="mzp-l-main">
    <article class="mzp-c-article">
      <h1 class="thanks-head">Thank you for signing up for Firefox Browser for Enterprise.</h1>

      <h2 class="thanks-subhead">Getting Started</h2>
      <p>
        <a href="https://support.mozilla.org/products/firefox-enterprise" rel="external">Here is where you'll find
        documentation and support</a> regarding how to configure and deploy Firefox Browser in your organization.
        You may choose to deploy the <a href="{{ firefox_url('desktop', 'all') }}">standard Firefox Rapid Release (RR)</a>,
        which receives performance and feature improvements every six weeks, or the
        <a href="{{ firefox_url('desktop', 'all', 'esr') }}">Extended Support Release (ESR)</a>, which receives one major
        update per year. Both Firefox RR and ESR receive critical security fixes as soon as possible.
      </p>

      <p>
        You can now <a href="https://support.mozilla.org/kb/customizing-firefox-using-group-policy" rel="external">configure Firefox via Group Policy</a>
        — <a href="https://github.com/mozilla/policy-templates/releases" rel="external">download ADMX templates here</a>,
        or implement using <a href="https://support.mozilla.org/kb/customizing-firefox-using-policiesjson" rel="external">a JSON flle</a>.
      </p>
      <p>For your convenience, we’ve also sent you an email with links to this documentation.</p>

      <h2 class="thanks-subhead">Give us your feedback</h2>
      <p>
        We would love to hear from you regarding any issues you might encounter in your testing, or if you have feature requests.
        To do so, we encourage you to <a href="https://qsurvey.mozilla.com/s3/f27e07c55ed0?source=thankyou" rel="external">complete this survey here</a>.
      </p>
    </article>
  </main>
</div>
{% endblock %}

{% block newsletter %}{% endblock %}

{# Bug 1381776 #}
{% block update_notification %}{% endblock %}
