{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-resp.html" %}

{% block body_id %}firefox-partners{% endblock %}
{% block body_class %}sky{% endblock %}

{% block extrahead %}
  {{ css('partners') }}
<!--[if lte IE 7]>
  {{ css('partners-ie7') }}
<![endif]-->
  <script>
    COMMON_JS_FILES = {{ js_common|safe }};
    MOBILE_JS_FILES = {{ js_mobile|safe }};
    DESKTOP_JS_FILES = {{ js_desktop|safe }};
  </script>

  {# OpenGraph Metadata #}
  <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}">
  <meta property="og:site_name" content="{{ _('Mozilla') }}">
  <meta property="og:title" content="{% block og_title %}{{ _('Firefox OS, Marketplace, Android — Partners — Mozilla') }}{% endblock %}">
  <meta property="og:type" content="{% block og_type %}website{% endblock %}">
  <meta property="og:image" content="{% block og_image %}{{ media('img/firefox/firefox-100.jpg') }}{% endblock %}">
  <meta property="og:description" content="{{ _('We’re enabling operators, phone manufacturers and developers to manage, customize and improve relationships with their customers directly through our mobile products: Firefox OS, Firefox Marketplace and Firefox for Android.') }}">
{% endblock %}

{% block site_js %}
  {{ js('mozorg-resp') }}
{% endblock %}

{% block js %}
  {{ js('partners') }}
{% endblock %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Firefox OS, Marketplace, Android — Partners') }}{% endblock %}

{% block string_data %}
  {# L10N: This is the label for a button that closes a modal dialog #}
  data-close="{{ _('Close') }}"
{% endblock %}

{% block site_header %}
  <header id="masthead">
    <a href="http://www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

    {% block site_header_nav %}
    <nav id="nav-main" role="navigation">
      <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
      <ul id="nav-main-menu">
        <li class="first"><a href="#os">{{_('Firefox OS')}}</a></li>
        <li><a href="#marketplace">{{_('Marketplace')}}</a></li>
        <li class="last"><a href="#android">{{_('Android')}}</a></li>
      </ul>
    </nav>
    {% endblock %}

  </header>
  <h3 id="explore">{{_('Explore the site') }}</h3>
  <nav id="partner-nav" role="navigation">
    <ul id="partner-menu" class="menu">
      <li id="menu-overview" class="active"><a href="#overview">{{_('Overview')}}</a></li>
      <li id="menu-os"><a href="#os">{{_('Firefox OS')}}</a></li>
      <li id="menu-marketplace"><a href="#marketplace">{{_('Marketplace')}}</a></li>
      <li id="menu-android"><a href="#android">{{_('Android')}}</a></li>
    </ul>
  </nav>
  <ul id="overlay-menu" class="menu">
    <li id="menu-form"><a href="#form" class="no-scroll toggle-form">{{_('Get involved')}}</a></li>
  </ul>
{% endblock %}

{% block content %}

<div class="phone-container" id="phone-common">
  <div class="phone">
    <div id="screen-overview" class="screen"><div id="foxtail"></div></div>
    <div id="screen-os" class="screen"></div>
    <div id="screen-marketplace" class="screen"></div>
    <div class="phone-overlay" class="screen"></div>
  </div>
</div>

<div id="article-wrapper">
  <div class="marketplacegiantfox giantfox-background"></div>
  <div class="marketplacegiantfox giantfox-foreground"></div>

  <article id="overview" class="partner-article">
    <section class="section-1" data-current="1">
      <div class="phone-shadow visible"></div>
      <div class="article-content">
        <h2>{{ _('Blaze Your Own Path') }}</h2>
        <div class="intro">

          <p>{% trans url1='class="nav" href="#os"'|safe, url2='class="nav" href="#marketplace"'|safe, url3='class="nav" href="#android"'|safe %}
          We’re enabling operators, phone manufacturers and developers to manage, customize and improve relationships with their customers directly through our mobile products: <a {{url1}}>Firefox OS</a>, <a {{url2}}>Firefox Marketplace</a> and <a {{url3}}>Firefox for Android</a>.
          {% endtrans %}</p>

          <p class="partner-button"><a href="#form" class="button toggle-form">{{ _('Partner with us') }}</a></p>

          <div id="overview-news">
            <h3>{{ _('Recent news') }}</h3>
            <ul>
              <li><a href="{{ locale_os_url }}" rel="external">{{ _('Mozilla Announces Global Expansion for Firefox OS') }}</a></li>
            </ul>
          </div>

          <div class="partner-logos">
            <div class="pager pager-with-tabs pager-no-history pager-auto-rotate">
              <div class="pager-content">
                <div class="pager-page default-page">
                  <ul class="logos">

                    <li><img src="{{ media('img/firefox/partners/logos/light/telefonica.png') }}" alt="Telefonica" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/dt.png') }}" alt="DT" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/lg.png') }}" alt="LG" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/qualcomm.png') }}" alt="Qualcomm" ></li>

                    <li><img src="{{ media('img/firefox/partners/logos/light/zte.png') }}" alt="ZTE" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/telenor.png') }}" alt="Telenor" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/americamovil.png') }}" alt="America Movil" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/tcl.png') }}" alt="TCL" ></li>

                    <li><img src="{{ media('img/firefox/partners/logos/light/telecomitalia.png') }}" alt="Telecom Italia" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/chinaunicom.png') }}" alt="China Unicom" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/kddi.png') }}" alt="KDDI" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/sprint.png') }}" alt="Sprint" ></li>

                    <li><img src="{{ media('img/firefox/partners/logos/light/singtel.png') }}" alt="SingTel" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/etisalat.png') }}" alt="Etisalat" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/koreatelecom.png') }}" alt="Korea Telecom" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/vimpelcom.png') }}" alt="VimpelCom" ></li>

                  </ul>
                </div>
                <div class="pager-page">
                  <ul class="logos">

                    <li><img src="{{ media('img/firefox/partners/logos/light/smartcom.png') }}" alt="SMART Communications" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/portugaltelecom.png') }}" alt="Portugal Telecom" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/megafon.png') }}" alt="Megafon" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/facebook.png') }}" alt="Facebook" ></li>

                    <li><img src="{{ media('img/firefox/partners/logos/light/twitter.png') }}" alt="Twitter" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/soundcloud.png') }}" alt="SoundCloud" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/here-com.png') }}" alt="Here.com" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/box.png') }}" alt="Box" ></li>

                    <li><img src="{{ media('img/firefox/partners/logos/light/ea.png') }}" alt="EA" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/ebay.png') }}" alt="eBay" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/cuttherope.png') }}" alt="Cut the Rope" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/wikipedia.png') }}" alt="Wikipedia" ></li>

                    <li><img src="{{ media('img/firefox/partners/logos/light/wired.png') }}" alt="Wired" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/terra.png') }}" alt="Terra" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/airbnb.png') }}" alt="Airbnb" ></li>
                    <li><img src="{{ media('img/firefox/partners/logos/light/disney.png') }}" alt="Disney" ></li>

                  </ul>
                </div>
              </div><!--/pager-content-->
              <ul class="pager-tabs">
                <li><a href="#p1">●</a></li>
                <li><a href="#p2">●</a></li>
              </ul>
            </div><!--/pager-->
          </div><!--/partner-logos-->

          <p id="more-partners">{{_('See more partners') }}</p>
        </div>
      </div>
    </section>
  </article>

  <article id="os" class="partner-article dark" data-section="os-overview">
    <div class="giantfox"><div class="giantfox-foreground"></div></div>
    <div class="article-header">
      <h2 id="os-overview-headline" class="tween">
        <img src="{{ media('img/firefox/partners/firefoxos-title.png')}}" alt="{{ _('Firefox OS') }}" />
      </h2>
      <nav class="tween">
        <a href="" class="view-section" data-section="os-overview"><span>{{ _('Overview') }}</span></a>
        <a href="" class="view-section" data-section="os-operators"><span>{{ _('For Operators & Manufacturers') }}</span></a>
      </nav>
    </div>
    <section id="os-overview" class="section-1" data-pos="1" data-current="1">
      <div class="phone-shadow"></div>
      <div class="article-content">
        <div id="os-overview-intro" class="intro tween">
          <h4 class="narrow">{{ _('The Web is the platform')}}</h4>
          <p class="narrow">{% trans url='class="view-section" data-section="os-operators" href="#"'|safe %}
            Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater participation in the value chain. <a {{ url }}>See how you can get involved.</a>
          {% endtrans %}</p>
          <h4 class="narrow">{{ _('Made of the Web') }}</h4>
          <p class="narrow">{{ _('Built entirely using HTML5 and other open Web standards, Firefox OS is free from the rules and restrictions of existing proprietary platforms.') }}</p>
          <h4 class="narrow">{{ _('Made by Firefox') }}</h4>
          <p class="narrow">{{ _('For the past 15 years, we’ve been instrumental in innovating and shaping the Web to keep it open and accessible to all. As a result of our efforts, one fifth of all Web activity today happens through Firefox products.') }}</p>
        </div>
      </div>
    </section>
    <section id="os-operators" class="section-2" data-pos="2">
      <div class="article-content">
        <div id="os-operators-intro" class="intro tween">
          <h3 id="os-operators-headline" class="tween">{{ _('The difference the Open Web makes') }}</h3>
          <div class="left">
            <h4>{{ _('Firefox OS offers:') }}</h4>
            <ul>
              <li>{{ _('A level playing field against other OS and marketplace providers') }}</li>
              <li>{{ _('Greater participation in the value chain') }}</li>
              <li>{{ _('Ownership and control over relationships with customers') }}</li>
              <li>{{ _('Customized phones that meet the specific needs of various target markets') }}</li>
            </ul>
            <p class="partner-button"><a href="#form" class="button toggle-form">{{ _('Partner with us') }}</a></p>
            <div id="os-promos" class="promos">
              <div>
                <h4>{{ _('Get involved') }}</h4>
                <a href="#form" class="toggle-form">{{ _('Contact our business development team to get on board') }}</a>
              </div>
            </div>
          </div>

          <ul id="os-operators-logos1" class="logos">

            <li><img src="{{ media('img/firefox/partners/logos/dark/telefonica.png') }}" alt="Telefonica" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/dt.png') }}" alt="DT" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/lg.png') }}" alt="LG" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/dark/qualcomm.png') }}" alt="Qualcomm" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/zte.png') }}" alt="ZTE" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/telenor.png') }}" alt="Telenor" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/dark/kddi.png') }}" alt="KDDI" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/tcl.png') }}" alt="TCL" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/telecomitalia.png') }}" alt="Telecom Italia" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/dark/chinaunicom.png') }}" alt="China Unicom" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/sprint.png') }}" alt="Sprint" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/vimpelcom.png') }}" alt="VimpelCom" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/dark/singtel.png') }}" alt="SingTel" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/etisalat.png') }}" alt="Etisalat" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/koreatelecom.png') }}" alt="Korea Telecom" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/dark/smartcom.png') }}" alt="SMART Communications" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/megafon.png') }}" alt="Megafon" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/dark/portugaltelecom.png') }}" alt="Portugal Telecom" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/dark/americamovil.png') }}" alt="American Movil" ></li>

          </ul>
        </div>
      </div>
    </section>
  </article>

  <article id="marketplace" class="partner-article" data-section="marketplace-overview">
    <div class="article-header">
      <h2 class="tween">
        <img src="{{ media('img/firefox/partners/marketplace-title.png')}}" alt="{{ _('Firefox Marketplace') }}" />
      </h2>
      <nav class="tween">
        <a href="" class="view-section" data-section="marketplace-overview"><span>{{ _('Overview') }}</span></a>
        <a href="" class="view-section" data-section="marketplace-operators"><span>{{ _('For Operators & Manufacturers') }}</span></a>
        <a href="" class="view-section" data-section="marketplace-developers"><span>{{ _('For Developers') }}</span></a>
      </nav>
    </div>
    <section id="marketplace-overview" class="section-1" data-pos="1" data-current="1">
      <div class="phone-shadow"></div>
      <div class="article-content">
        <div id="marketplace-overview-intro" class="intro tween">
          <h4>{{ _('HTML5 apps for all')}}</h4>
          <p class="narrow">{% trans url1='class="view-section" data-section="marketplace-operators" href="#"'|safe, url2='class="view-section" data-section="marketplace-developers" href="#"'|safe %}
            Discover a new way to participate in an ecosystem that features the world’s most popular apps as well as more relevant, targeted content to suit customers’ local needs. See how that can help <a {{ url1 }}>operators and manufacturers</a> as well as <a {{ url2 }}>developers</a>.
          {% endtrans %}</p>
          <h4>{{ _('Your needs') }}</h4>
          <p>{{ _('Grow your business by combining your own customer payment plans with our open source service offerings, reach new markets and customize purchasing and app experiences to meet your specific needs.') }}</p>
          <h4>{{ _('Our experience') }}</h4>
          <p class="less-narrow">{{ _('Our proven track record of providing excellent user experiences and serving content to huge global audiences runs through everything we do. Our directory of add-ons serves content to hundreds of millions of users worldwide.') }}</p>
          <div id="marketplace-promos" class="promos">
            <div class="promo-testimonials icon">
              <span></span>
              <h4>{{ _('Testimonials') }}</h4>
              <a class="modal" href="#testimonials">{{ _('See what Box, SoundCloud and others have to say') }}</a>
            </div>
            <div class="promo-conversation icon">
              <span></span>
              <h4>{{ _('Join the Conversation') }}</h4>
              <a target="_blank" href="https://twitter.com/firefoxapps" rel="external">{{ _('Follow @firefoxapps on Twitter') }}</a>
              <a target="_blank" href="https://blog.mozilla.org/apps/" rel="external">{{ _('Read more on the Apps Blog') }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="marketplace-operators" class="section-2" data-pos="2">
      <div class="article-content">
        <div class="intro tween">
          <h3>{{ _('The world’s largest developer community') }}</h3>
          <div class="left">
            <h4>{{ _('Marketplace offers:') }}</h4>
            <ul>
              <li>{{ _('Commitment from well-known, tier 1 developers') }}</li>
              <li>{{ _('Micro-targeted content for every use-case to meet customers’ local needs') }}</li>
              <li>{{ _('Lower barriers to entry for local app developers in both resource and cost') }}</li>
            </ul>
            <p class="partner-button">
              <a href="#form" class="button toggle-form">{{ _('Partner with us') }}</a>
            </p>
          </div>
          <ul class="logos tween">

            <li><img src="{{ media('img/firefox/partners/logos/light/abril.png') }}" alt="Abril" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/accuweather.png') }}" alt="Accuweather.com" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/airbnb.png') }}" alt="Airbnb" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/light/bostonglobe.png') }}" alt="Boston Globe" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/box.png') }}" alt="Box" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/chillingo.png') }}" alt="Chillingo" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/light/ea.png') }}" alt="EA" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/disney.png') }}" alt="Disney" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/engadget.png') }}" alt="Engadget" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/light/facebook.png') }}" alt="Facebook" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/foxnews.png') }}" alt="Fox News" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/ebay.png') }}" alt="eBay" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/light/pulse.png') }}" alt="Pulse" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/soundcloud.png') }}" alt="Soundcloud" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/sportv.png') }}" alt="SporTV" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/light/terra.png') }}" alt="Terra" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/timeout.png') }}" alt="Time Out" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/twitter.png') }}" alt="Twitter" ></li>

            <li><img src="{{ media('img/firefox/partners/logos/light/wired.png') }}" alt="Wired" ></li>
            <li><img src="{{ media('img/firefox/partners/logos/light/zeptolab.png') }}" alt="Zeptolab" ></li>

          </ul>
        </div>
      </div>
    </section>
    <section id="marketplace-developers" class="section-3" data-pos="3">
      <div class="article-content">
        <div class="intro tween">
          <h3>{{ _('Developed with developers in mind') }}</h3>
          <div class="left">
            <h4>{{ _('Marketplace offers:') }}</h4>
            <ul>
              <li>{{ _('Apps that customers can access across multiple platforms, devices and operating systems') }}</li>
              <li>{{ _('Flexible business models and multiple payment monetization options') }}</li>
              <li>{{ _('Optional carrier billing in regional currencies') }}</li>
              <li>{{ _('The ability to connect with hundreds of millions of Firefox supporters around the world') }}</li>
              <li>{{ _('Access to relatively untapped markets') }}</li>
            </ul>
          </div>
          <div class="promos">
            <div>
              <h4>{{ _('Developer hub') }}</h4>
              <a href="https://marketplace.firefox.com/developers/" rel="external">{{ _('Learn how to make HTML5 apps for an open marketplace') }}</a>
            </div>
            <div>
              <h4>{{ _('Have an app?') }}</h4>
              <a href="https://developer.mozilla.org/docs/Apps/Publishing/Submitting_an_app" rel="external">{{ _('Submit it to the Firefox Marketplace today') }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article id="android" class="partner-article dark" data-section="android-overview">
    <div class="android-tablet">
      <div class="tablet-screen"></div>
      <div class="android-dude"></div>
    </div>
    <div class="article-header">
      <h2 class="tween">
        <img src="{{ media('img/firefox/partners/android-title.png')}}" alt="{{ _('Firefox for Android') }}" />
      </h2>
      <nav class="tween">
        <a href="" class="view-section" data-section="android-overview"><span>{{ _('Overview') }}</span></a>
        <a href="" class="view-section" data-section="android-partner"><span>{{ _('Partner Opportunities') }}</span></a>
      </nav>
    </div>
    <section id="android-overview" class="section-1" data-pos="1" data-current="1">
      <div class="article-content">
        <div class="intro tween">
          <h4>{{ _('A superior Web experience') }}</h4>
          <a href="https://market.android.com/details?id=org.mozilla.firefox"><img src="{{ media('img/firefox/partners/google-play.png') }}" alt="{{ _('Get it on Google Play') }}" class="play" /></a>
          <p>{% trans url='class="view-section" data-section="android-partner" href="#"'|safe %}
            With high-performance, advanced cross-platform features and the latest in security, our top-rated browser offers an alternative to closed platforms, giving you the flexibility to design, distribute and charge as you see fit. <a {{ url }}>Learn more about partner opportunities.</a>
          {% endtrans %}</p>
          <h4>{{ _('Strengthen customer relationships') }}</h4>
          <p>{{ _('Create your own unique branded sections of Firefox for Android and Firefox Marketplace for a more engaging user experience and to increase the visibility of your brand.') }}</p>
          <h4 class="narrow">{{ _('Create new value for both you and your users') }}</h4>
          <p class="narrow">{{ _('Take advantage of service opportunities like Firefox Marketplace and WebRTC to create new, platform-independent offerings and establish direct customer billing.') }}</p>
        </div>
      </div>
    </section>
    <section id="android-partner" class="section-2" data-pos="2">
      <div class="article-content">
        <div class="intro tween">
          <div class="android-dude"></div>
          {# L10N: The line break in this headline is essentially presentational. Place the break wherever it seems best for your locale, or omit it if it isn't needed. #}
          <h3>{{ _('Stand out <br>from the crowd') }}</h3>
          <p>{{ _('Take advantage of our strong brand and service offerings to differentiate your product and drive sales.') }}</p>
          <h4>{{ _('Firefox for Android lets you:') }}</h4>
          <ul>
            <li>
              <h5>{{ _('Customize the experience') }}</h5>
              <p>{{ _('Add your brand and content to increase customer touchpoints, improve retention and drive future sales.') }}</p>
            </li>
            <li>
              <h5>{{ _('Build new service offerings') }}</h5>
              <p>{{ _('Integrate services directly into the browser with Firefox Marketplace and WebRTC to free yourself from the constraints of proprietary platforms.') }}</p>
            </li>
            <li>
              <h5>{{ _('Direct customer billing') }}</h5>
              <p>{{ _('Grow your business by combining your own customer payment plans with our open source service offerings.') }}</p>
            </li>
          </ul>
          <p class="partner-button"><a href="#form" class="button toggle-form">{{ _('Partner with us') }}</a></p>
        </div>
      </div>
    </section>
    <div class="phone-container android-phone-container" id="phone-android">
      <div class="phone">
        <div class="phone-overlay" class="screen"></div>
      </div>
    </div>
  </article>
</div> <!--/#article-wrapper-->

<div id="overlay-container">
  <article id="overlay">
    <section id="testimonials" class="overlay-contents">
      <h2>{{ _('Firefox Marketplace — Developer testimonials') }}</h2>
      <div class="video-wrapper"><iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLWK3kWTuPoUKFCTRtVkTUXn26PYF311w9" frameborder="0" allowfullscreen></iframe></div>
    </section>
    <section id="form" class="overlay-contents">
      <div class="form-results">
        <h3>{{ _('Thanks for your interest in partnering with us') }}</h3>
        <p>{{ _('We will review your request and get back to you about possibilities and opportunities soon.') }}</p>
      </div>

      <form action="{{ url('about.partnerships.contact-bizdev') }}" role="dialog" aria-labelledby="get-involved-title" aria-describedby="get-involved-description" method="POST" id="sf-form" class="sf-form">

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <!--  ----------------------------------------------------------------------  -->
      <!--  NOTE: These fields are optional debugging elements.  Please uncomment   -->
      <!--  these lines if you wish to test in debug mode.                          -->

       <!--input type="hidden" name="debug" value=1-->
       <!--input type="hidden" name="debugEmail" value=""-->

      <!--  ----------------------------------------------------------------------  -->

      <h3 id="get-involved-title">{{ _('Get involved') }}</h3>
      <p id="get-involved-description">{{ _('Contact our business development team to get on board.') }}</p>

      <div class="field">
        <label for="first_name">{{ _('First Name') }}</label>
        <input id="first_name" maxlength="40" name="first_name" size="20" type="text" placeholder="{{ _('First Name') }}" class="required" required aria-required="true" />
      </div>

      <div class="field">
        <label for="last_name">{{ _('Last Name') }}</label>
        <input id="last_name" maxlength="80" name="last_name" size="20" type="text" placeholder="{{ _('Last Name') }}" class="required" required aria-required="true" />
      </div>

      <div class="field">
        <label for="title">{{ _('Title') }}</label>
        <input id="title" maxlength="40" name="title" size="20" type="text" placeholder="{{ _('Title') }}" />
      </div>

      <div class="field">
        <label for="company">{{ _('Company') }}</label>
        <input id="company" maxlength="40" name="company" size="20" type="text" placeholder="{{ _('Company') }}" class="required" required aria-required="true" />
      </div>

      <div class="field">
        <label for="URL">{{ _('Website') }}</label>
        <input id="URL" maxlength="80" name="URL" size="20" type="text" placeholder="{{ _('Website') }}" />
      </div>

      <div class="field">
        <label for="email">{{ _('Email') }}</label>
        <input id="email" maxlength="80" name="email" size="20" type="text" placeholder="{{ _('Email') }}" class="required" required aria-required="true" />
      </div>

      <div class="field">
        <label for="phone">{{ _('Phone') }}</label>
        <input id="phone" maxlength="40" name="phone" size="20" type="text" placeholder="{{ _('Phone') }}" />
      </div>

      <div class="field">
        <label for="mobile">{{ _('Mobile') }}</label>
        <input id="mobile" maxlength="40" name="mobile" size="20" type="text" placeholder="{{ _('Mobile') }}" />
      </div>

      <div class="field">
        <label for="interest">{{ _('Interest:') }}</label>
        <select id="interest" multiple="multiple" name="interest" title="{{ _('Interest') }}" size="4">
          <option value="Firefox for Android">{{ _('Firefox for Android') }}</option>
          <option value="Firefox Marketplace">{{ _('Firefox Marketplace') }}</option>
          <option value="Firefox OS">{{ _('Firefox OS') }}</option>
          <option value="Other">{{ _('Other') }}</option>
        </select>
      </div>

      <div class="field">
        <label for="description">{{ _('Comments or questions?') }}</label>
        <textarea id="description" name="description" placeholder="{{ _('Comments or questions?') }}"></textarea>
      </div>

      <div class="field footer-field">
        <input type="submit" name="submit" value="{{ _('Submit my request') }}" class="button" />
      </div>

      {{ form.superpriority }}

      </form>
      <button type="button" class="close">{{ _('Close') }}</button>
    </section>
  </article>
</div>

{% endblock %}

{% block email_form %}{% endblock %}