{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-resp.html" %}

{% block body_class %}sky{% endblock %}

{% block extrahead %}
  {{ css('partners') }}
{% endblock %}

{% block site_js %}
  {{ js('mozorg-resp') }}
{% endblock %}

{% block js %}
  {{ js('partners') }}
{% endblock %}

{% block site_header %}
  <header id="masthead">
    <a href="http://www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

    {% block site_header_nav %}
    <nav id="nav-main" role="navigation">
      <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
      <ul id="nav-main-menu">
        <li class="first"><a href="#overview">{{_('Overview')}}</a></li>
        <li><a href="#os">{{_('OS')}}</a></li>
        <li><a href="#marketplace">{{_('Marketplace')}}</a></li>
        <li class="last"><a href="#android">{{_('Android')}}</a></li>
      </ul>
    </nav>
    {% endblock %}

  </header>
  <nav id="partner-nav" role="navigation">
    <ul id="partner-menu">
      <li id="menu-overview"><a href="#overview">{{_('Overview')}}</a></li>
      <li id="menu-os"><a href="#os">{{_('OS')}}</a></li>
      <li id="menu-marketplace"><a href="#marketplace">{{_('Marketplace')}}</a></li>
      <li id="menu-android"><a href="#android">{{_('Android')}}</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}

<div class="phone-container" id="phone-common">
  <div class="phone">
    <div id="foxtail"></div>
  </div>
</div>

<div id="article-wrapper">
<article id="overview" class="partner-article">
  <section class="section-1">
    <div class="article-content">
      <h2>Blaze Your Own Path</h2>
      <div class="intro">
        <p>We’re enabling operators, phone manufacturers and developers to manage, customize and own relationships with their customers directly through our mobile products: <a href="#os">Firefox OS</a>, <a href="#marketplace">Firefox Marketplace</a> and <a href="#android">Firefox for Android</a>.</p>
        <div class="partner-logos">
          <ul class="logos">
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
            <li>logo</li>
          </ul>
          <a href="#" class="button">Partner with us</a>
        </div>
        <ul class="overview-actions">
          <li>Join us at Stand F20, Hall 8.1, App Planet</li>
          <li>Our keynote & other scheduled events</li>
          <li>Firefox tweets from MWC in Barcelona</li>
        </ul>
      </div>
    </div>
  </section>
</article>

<article id="os" class="partner-article">
  <div id="giantfox"><div id="giantfox-foreground"></div></div>
  <div class="article-header">
    <h2 id="os-overview-headline" class="tween">
      <img src="{{ media('img/firefox/partners/firefoxos-title.png')}}" alt="Firefox OS" />
      <a href="#" class="top">Back to top</a>
    </h2>
    <nav>
      <a href="" class="view-section" data-section="os-overview">{{ _('Overview') }}</a>
      <a href="" class="view-section" data-section="os-operators">{{ _('For Operators & Manufacturers') }}</a>
    </nav>
  </div>
  <section id="os-overview" class="section-1" data-pos="1" data-current="1">
    <div class="article-content">
      <div id="os-overview-intro" class="intro tween">
        <h4>{{ _('The Web is the platform')}}</h4>
        <p>{{  _('Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater participation in the value chain.  See how you can get involved »') }}</p>
        <ul id="os-overview-logos" class="logos tween">
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
        </ul>
        <h4 class="narrow">{{ _('Made of the Web') }}</h4>
        <p class="narrow">{{ _('Built entirely using HTML5 and other open Web standards, Firefox OS is free from the rules and restrictions of existing proprietary platforms.') }}</p>
        <h4>{{ _('Made by Firefox') }}</h4>
        <p>{{ _('For the past 15 years, we’ve been instrumental in innovating and shaping the Web to keep it open and accessible to all. As a result of our efforts, one fifth of all Web activity today happens through Firefox products.') }}</p>
      </div>
    </div>
  </section>
  <section id="os-operators" class="section-2" data-pos="2">
    <div class="article-content">
      <div id="os-operators-intro" class="intro tween">
        <h3 id="os-operators-headline" class="tween">{{ _('The difference the Open Web makes') }}</h3>
        <div class="left">
          <h4>{{ _('Firefox OS offers:') }}</h4>
          <ul>
            <li>{{ _('A level playing field against other OS and marketplace providers') }}</li>
            <li>{{ _('Greater participation in the value chain') }}</li>
            <li>{{ _('Ownership and control over relationships with customers') }}</li>
            <li>{{ _('Customized phones that meet the specific needs of various target markets') }}</li>
            <li>{{ _('A built-in HTML5 developer core of 8 million — 17x bigger than Android and 80x bigger than iOS') }}</li>
          </ul>
          <p class="partner-button"><a href="#" class="button">{{ _('Partner with us') }}</a></p>
          <div id="os-promos">
            <div class="first">
              <h4>{{ _('White Papers') }}</h4>
              <a href="">{{ _('Learn more about the technology behind Firefox OS') }}</a>
            </div>
            <div>
              <h4>{{ _('Get Involved') }}</h4>
              <a href="">{{ _('Contact our business development team to get on board') }}</a>
            </div>
          </div>
        </div>
        <ul id="os-operators-logos" class="logos tween">
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
        </ul>
      </div>
    </div>
  </section>
</article>

<article id="marketplace" class="partner-article">
  <section id="marketplace-overview" class="section-1" data-pos="1" data-current="1">
    <div class="article-content">
      <h2 id="marketplace-overview-headline" class="tween">Marketplace overview <a href="#" class="top">Back to top</a></h2>
      <div id="marketplace-overview-intro" class="intro tween">
        <p>
          <a href="" class="view-section" data-section="marketplace-partners">Marketplace Partners</a>
          <a href="" class="view-section" data-section="marketplace-developers">Marketplace Developers</a>
        </p>
        <p>Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Videamus igitur sententias eorum, tum ad verba redeamus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant.</p>
        <p>Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Videamus igitur sententias eorum, tum ad verba redeamus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant.</p>
        <ul id="marketplace-overview-logos" class="logos tween">
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="marketplace-partners" class="section-2" data-pos="2">
    <div class="article-content">
      <h2 id="marketplace-partners-headline" class="tween">Marketplace partners</h2>
      <div id="marketplace-partners-intro" class="intro tween">
        <p>
          <a href="" class="view-section" data-section="marketplace-overview">Marketplace Overview</a>
          <a href="" class="view-section" data-section="marketplace-developers">Marketplace Developers</a>
        </p>

        <p>Lorem, etc.</p>
      </div>
    </div>
  </section>
  <section id="marketplace-developers" class="section-3" data-pos="3">
    <div class="article-content">
      <h2 id="marketplace-developers-headline" class="tween">Marketplace developers</h2>
      <div id="marketplace-developers-intro" class="intro tween">
        <p>
          <a href="" class="view-section" data-section="marketplace-overview">Marketplace Overview</a>
          <a href="" class="view-section" data-section="marketplace-partners">Marketplace Partners</a>
        </p>

        <p>Lorem, etc.</p>
      </div>
    </div>
  </section>
</article>

<article id="android" class="partner-article">
  <section id="android-overview" class="section-1" data-pos="1" data-current="1">
    <div class="article-content">
      <h2 id="android-overview-headline" class="tween">Android overview <a href="#" class="top">Back to top</a></h2>
      <div id="android-overview-intro" class="intro tween">
        <p>
          <a href="" class="view-section" data-section="android-partners">Android Partners</a>
        </p>
        <p>Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Videamus igitur sententias eorum, tum ad verba redeamus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant.</p>
        <p>Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Videamus igitur sententias eorum, tum ad verba redeamus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant.</p>
        <ul id="android-overview-logos" class="logos tween">
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
          <li>logo</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="android-partners" class="section-2" data-pos="2">
    <div class="article-content">
      <h2 id="android-partners-headline" class="tween">Android partners</h2>
      <div id="android-partners-intro" class="intro tween">
        <p>
          <a href="" class="view-section" data-section="android-overview">Android Overview</a>
        </p>
        <p>Lorem, etc.</p>
      </div>
    </div>
  </section>
  <div class="phone-container android-phone-container" id="phone-android">
    <div class="phone"></div>
  </div>
</article>
</div>

{% endblock %}

{% block email_form %}{% endblock %}
