// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";

/*-------------------------------------------------------------------------*/
// Tracking Protection sheild positioning

#tracking-protection-animation {
    display: block;
    float: right;
    margin: -40px -85px 0 0;

    @media only screen and (max-width: @breakDesktop) {
        margin-right: -20px;
    }

    @media only screen and (max-width: @breakTablet) {
        width: auto;
        float: none;
        margin: @baseLine auto;
    }
}

.html-rtl #tracking-protection-animation {
    float: left;
    margin-right: auto;
    margin-left: -85px;

    @media only screen and (max-width: @breakDesktop) {
        margin-right: auto;
        margin-left: -50px;
    }

    @media only screen and (max-width: @breakTablet) {
        float: none;
        margin: @baseLine auto;
    }
}

@media only screen and (max-height: 645px) {
    #masthead {
        margin-bottom: @baseLine;
    }
}

@media only screen and (min-width: @breakDesktop) {
    html[lang^='de'],
    html[lang^='pl'] {
        main > header h1 {
            .font-size(55px);
        }
    }

    html[lang^='it'] {
        main > header h1 {
            .font-size(54px);
        }
    }
}
