{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import fxfamilynav, google_play_button, send_to_device with context %}

{% extends "firefox/base-resp.html" %}

{% add_lang_files "firefox/sendto" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Firefox for Android — Mobile Web browser — More ways to customize and protect your privacy') }}{% endblock %}
{% block page_desc %}{{ _('Only Firefox for Android offers so many ways to make your mobile browsing experience truly your own') }}{% endblock %}
{% block body_id %}firefox-android{% endblock %}
{% block body_class %}firefox-android{% endblock %}

{% block optimizely %}
  {% if switch('firefox-android-optimizely') %}
    {% include 'includes/optimizely.html' %}
  {% endif %}
{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_android' %}
  <!--[if gt IE 9]><!-->
    {% stylesheet 'firefox_sync_anim' %}
  <!--<![endif]-->
{% endblock %}

{% block site_header %}{% endblock %}

{% set has_widget = LANG in settings.SEND_TO_DEVICE_LOCALES %}

{% block site_header_unwrapped %}
  {% call fxfamilynav('android') %}
    <div class="{% if has_widget %}show-widget{% endif %}">
      {{ google_play_button(class_name='dl-button') }}
      <button id="send-to-button-header" class="send-to button button-dark" type="button" data-button-name="Get Firefox for Android" data-cta-position="Nav">{{ _('Get Firefox for Android') }}</button>
    </div>
  {% endcall %}
{% endblock %}

{% block content %}

<section id="intro" data-has-widget="{{ has_widget }}">
  <div class="container">
    <div class="content-primary">
      <h2 class="heading">
        {{ _('We make it Firefox.') }}
        {{ _('You make it your own.') }}
      </h2>

      <p class="lead">
        {{ _('The features you love.') }}
        {{ _('The privacy you trust.') }}
        {{ _('Our most customizable Firefox for Android yet.') }}
      </p>

      <div class="{% if has_widget %}show-widget{% endif %}">
        {{ send_to_device(platform='android', include_logo=False, spinner_color='#fff', message_set='fx-android') }}

        {{ google_play_button(class_name='dl-button') }}
      </div>

      {# happy little droid #}
      <div id="intro-android"></div>

    </div>{# /.content-primary #}
    <div class="content-secondary">
      <img src="{{ static('img/firefox/android/phone-tablet.png') }}" id="intro-phone-tablet" width="970" height="800" alt="">
    </div>{# /.content-secondary #}
  </div>{# /.container #}
</section>

<section id="customize">
  <button type="button" class="customize-pager" id="customize-prev"></button>
  <button type="button" class="customize-pager" id="customize-next"></button>

  <div class="container">
    <h2 class="heading">{{ _('Uniquely yours') }}</h2>

    <p class="lead">
      {# L10n: Line break below is for visual formatting only. #}
      {{ _('Only Firefox for Android offers this many ways to make<br> your mobile browsing experience truly your own.') }}
    </p>

    <div class="content-primary">
      <div class="accordion zebra" id="customize-accordion">
        <section class="customize-section" id="broadcast">
          <h3 data-accordion-role="tab">{{ _('Smarter sharing for all') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              The most adaptive way to share anything, Quick Share remembers your most recently
              used apps to help you get the word out just the way you want.
            {% endtrans %}
            </p>

            <a rel="external" href="https://www.youtube.com/watch?v=a5nNPf-Uosc&amp;index=12&amp;list=PLA8ABF6B7A66A0C5E" class="see-how">{{ _('See how it works') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-sharing.jpg', { 'l10n': True, 'alt': 'Share anything from the Web, using your favorite social sharing apps, directly from within Firefox for Android.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-sharing.png', { 'l10n': True, 'alt': 'Share anything from the Web, using your favorite social sharing apps, directly from within Firefox for Android.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="addons">
          <h3 data-accordion-role="tab">{{ _('All your faves, front and center') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Customize your Home panels with any Web content you want and access your favorite
              feeds &mdash; like Instagram and Pocket Hits &mdash; instantly.
            {% endtrans %}
            </p>

            <a rel="external" href="https://www.youtube.com/watch?v=alW2g7Gnh6U&amp;list=PLA8ABF6B7A66A0C5E&amp;index=18" class="see-how">{{ _('See how it works') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-faves1.jpg', { 'l10n': True, 'alt': 'Add your favorite feeds, like Instagram, to your Firefox for Android home panel for instant access.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-faves2.jpg', { 'l10n': True, 'alt': 'Add Pocket Hits to keep your saved articles and blog posts at your fingertips.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-faves3.jpg', { 'l10n': True, 'alt': 'You can even add 101 Cookbooks and other feeds &mdash; whatever it is that you use most.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-faves.png', { 'l10n': True, 'alt': 'Add your favorite feeds, like Instagram, to your Firefox for Android home panel for instant access.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="homepanel">
          <h3 data-accordion-role="tab">{{ _('A touch more personal') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Display your Home panels in any order you like or add, hide and delete them as you
              see fit to keep your favorites one touch away.
            {% endtrans %}
            </p>

            <a rel="external" href="https://www.youtube.com/watch?v=HKvyr0TIKF0&amp;index=14&amp;list=PLA8ABF6B7A66A0C5E" class="learn-more">{{ _('Learn more') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-personal.jpg', { 'l10n': True, 'alt': 'After adding content to your home panel, you can customize things further by choosing how the content is displayed.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-personal.png', { 'l10n': True, 'alt': 'After adding content to your home panel, you can customize things further by choosing how the content is displayed.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="search">
          <h3 data-accordion-role="tab">{{ _('Any search you like') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
              {{ _('Add any search engine and make it your default. ') }}
              {{ _('Or change it any time to the one that best matches your search and privacy needs.') }}
            </p>

            <a rel="external" href="https://support.mozilla.org/kb/set-and-manage-default-search-engines-firefox-android" class="see-how">{{ _('See how it works') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-search1.jpg', { 'l10n': True, 'alt': 'Search for Web content through any provider you want, like DuckDuckGo, for example.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-search2.jpg', { 'l10n': True, 'alt': 'Easily add new search engines from your Customize settings.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-search3.jpg', { 'l10n': True, 'alt': 'New search engines can be added, removed or set as your default at any time.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-search.png', { 'l10n': True, 'alt': 'Search for Web content through any provider you want, like DuckDuckGo, for example.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        {% if l10n_has_tag('android_spring_updates') %}
          <section class="customize-section" id="reading">
            <h3 data-accordion-role="tab">{{ _('Read and save articles easily') }}</h3>

            <div data-accordion-role="tabpanel">
              <p>
                {{ _('Enjoy a more pleasant reading experience with Reader View and Reading List.') }}
                {{ _('Access your saved articles even when you’re not online.') }}
              </p>

              {% if l10n_has_tag('android_reader_links') %}
                <a rel="external" href="https://support.mozilla.org/kb/save-web-pages-your-reading-list-firefox-android" class="learn-more">{{ _('Learn more about Reading List') }}</a><br>
                <a rel="external" href="https://support.mozilla.org/kb/view-articles-reader-view-firefox-android" class="learn-more">{{ _('Learn more about Reader View') }}</a>
              {% endif %}

              <figure>
                <div class="media-desktop">
                  {{ high_res_img('firefox/android/customize/desktop-reading-list.jpg', { 'l10n': True, 'alt': 'Enjoy a more pleasant reading experience with Reader View and Reading List.'}) }}
                </div>
                <div class="media-mobile">
                  {{ high_res_img('firefox/android/customize/mobile-reading-list.png', { 'l10n': True, 'alt': 'Enjoy a more pleasant reading experience with Reader View and Reading List.' }) }}
                </div>
              </figure>

              <div class="line"></div>
            </div>
          </section>
        {% endif %}
        <section class="customize-section" id="language">
          <h3 data-accordion-role="tab">{{ _('Change your language') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Change your browser language quickly and easily, without having to change the settings
              for your entire device or even restart your browser.
            {% endtrans %}
            </p>

            <a rel="external" href="https://support.mozilla.org/kb/change-default-language-firefox-android" class="learn-more">{{ _('Learn more') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-language.jpg', { 'l10n': True, 'alt': 'Change the display language in Firefox for Android without changing your phone’s language settings.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-language.png', { 'l10n': True, 'alt': 'Change the display language in Firefox for Android without changing your phone’s language settings.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="screencast">
          <h3 data-accordion-role="tab" id="screencast-tab">{{ _('Take it to the big screen') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Send video and Web content from your smartphone or tablet to any TV equipped with
              supported streaming capabilities.
            {% endtrans %}
            </p>

            <a rel="external" href="https://support.mozilla.org/kb/use-firefox-android-send-videos-chromecast" class="learn-more">{{ _('Learn more') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-stream1.jpg', { 'alt': 'Send video content from Firefox for Android to any TV with supported streaming capabilities.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-stream2.jpg', { 'alt': 'Tap the screencast icon in the lower left corner of a video to begin playing it on your TV.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-stream3.jpg', { 'alt': 'Watch the content from your phone on your big screen TV.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-stream.jpg', { 'alt': 'Send video content from Firefox for Android to any TV with supported streaming capabilities.'}) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
      </div>{# /.accordion #}
    </div>

    <div class="content-secondary">
      <div id="phone-wrapper">
        <figure id="phone-screens" class="slideshow"></figure>
      </div>
      <div id="screencast-wrapper">
        <figure id="screencast-images" class="slideshow"></figure>
      </div>
    </div>
  </div>{# /.container #}
</section>

<section id="privacy">
  <div class="container">
    <h2 class="heading">{{ _('Keep your private info private') }}</h2>

    <p class="lead">
      {{ _('We believe your personal information belongs to you.') }}
      {{ _('Firefox for Android is filled with features to help keep it that way. ') }}
    </p>

    <ul>
      {% if l10n_has_tag('tracking_protection') %}
      <li id="private-browsing">
        <h3>{{ _('Private Browsing with<br> Tracking Protection') }}</h3>

        <p>
          {{ _('Browse without having your history, searches or cookies saved, and block hidden third parties from following you across the Web.') }}
        </p>

        <a class="more" href="{{ url('firefox.private-browsing') }}">{{ _('Learn more about Private Browsing') }}</a>
      </li>
      {% else %}
      <li id="private-browsing">
        <h3>{{ _('Private Browsing') }}</h3>

        <p>
        {% trans %}
          When activated, Firefox for Android won’t accept cookies, remember passwords or
          record any sites that you’ve visited.
        {% endtrans %}
        </p>

        <a rel="external" href="https://www.youtube.com/watch?v=Ewk0YtFTBec&amp;list=PLA8ABF6B7A66A0C5E&amp;index=15">
          {% if l10n_has_tag('android_spring_updates') %}
            {{ _('Learn how to open a private window') }}
          {% else %}
            {{ _('See how Private Browsing works') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      <li id="clear-history">
        <h3>{{ _('Clear history') }}</h3>

        <p>
          {{ _('Delete your browsing history, passwords and more in a single tap.') }}
          {{ _('Choose the private data you want to remove whenever you need to do so.') }}
        </p>

        <a rel="external" href="https://support.mozilla.org/kb/clear-your-browsing-history-and-other-personal-dat">{{ _('Learn how to clear your history') }}</a>
      </li>
      <li id="guest-browsing">
        <h3>{{ _('Guest browsing') }}</h3>

        <p>
        {% trans %}
          Share your browser with friends and family without worrying that you’ll see
          each other’s online activity.
        {% endtrans %}
        </p>

        <a rel="external" href="https://www.youtube.com/watch?v=u6Ww0udnVA0&amp;index=16&amp;list=PLA8ABF6B7A66A0C5E">
          {% if l10n_has_tag('android_spring_updates') %}
            {{ _('Learn how to share your browser') }}
          {% else %}
            {{ _('See how Guest Browsing works') }}
          {% endif %}
        </a>
      </li>
    </ul>
  </div>{# /.container #}
</section>

<section id="sync">
  <div class="container">
    <div class="content-primary">
      <h2 class="heading">{{ _('Don’t leave home without being in Sync') }}</h2>

      <p class="lead">
        {{ _('Bring your passwords, bookmarks, open tabs and more everywhere you go.') }}
        {{ _('Use Sync on your smartphone or tablet to access whatever you need from your desktop &mdash; and vice versa &mdash; without having to remember URLs.') }}
      </p>

      <a href="{{ url('firefox.sync') }}">{{ _('Learn more about Sync') }}</a>
    </div>
    <div class="content-secondary">
      {% include 'firefox/includes/sync-animation.html' %}
    </div>
  </div>{# /.container #}
</section>

{% endblock %}

{% block email_form %}
  <div id="subscribe-download-wrapper" class="ga-section" data-ga-label="Get Firefox news">
    <div class="container">
      <div id="download-wrapper" class="dl-button-wrapper {% if has_widget %}show-widget{% endif %}">
        {{ high_res_img('firefox/android/firefox-logo-footer.png', { 'id': 'footer-logo' }) }}

        <div id="download-content">
          <h3>{{ _('Choose Firefox') }}</h3>
          <div id="send-to-device-footer">
            {{ google_play_button(anchor_attributes={'data-alt': _('Get Firefox for Android')}, class_name='dl-button') }}
            <button id="send-to-button-footer" class="send-to button button-dark" type="button" data-button-name="Get Firefox for Android" data-cta-position="Secondary">{{ _('Get Firefox for Android') }}</button>
          </div>
        </div>{#-- /#download-content --#}
      </div>{#-- /#download-wrapper --#}

    {% block subscribe_wrapper %}
      <div id="subscribe-wrapper" class="floating">
        {# L10n: Line break for visual formatting. #}
        {{ email_newsletter_form(title=_('Keep up with<br> all things Firefox.'), button_class='button-light') }}
      </div>
    {% endblock %}
    </div>
  </div>
{% endblock %}

{% block js %}
<!--[if IE 9]>
  {% javascript 'matchmedia_addlistener' %}
<![endif]-->
  {% javascript 'firefox_android' %}
{% endblock %}
