{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/base-resp.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Firefox for Android — Mobile Web browser — More ways to customize and protect your privacy') }}{% endblock %}
{% block page_desc %}{{ _('Only Firefox for Android offers so many ways to make your mobile browsing experience truly your own') }}{% endblock %}
{% block body_id %}firefox-android{% endblock %}

{% block site_css %}
  {% stylesheet 'firefox_android' %}

  <!--[if gt IE 9]><!-->
    {% stylesheet 'firefox_sync_anim' %}
  <!--<![endif]-->
{% endblock %}

{% block site_header %}
  <header id="masthead">
    <div class="container">
      <a href="{{ url('mozorg.home') }}" id="tabzilla" data-infobar="{{ settings.TABZILLA_INFOBAR_OPTIONS }}">Mozilla</a>

      {% block site_header_logo %}{% endblock %}
      {% block site_header_nav %}
        {% include 'firefox/includes/top-menu.html' %}
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block content %}

<section id="intro">
  <div class="container">
    {{ high_res_img('img/firefox/android/firefox-android-logo.png', { 'alt': _('Firefox for Android'), 'width': 219, 'height': 82 }) }}

    <div class="content-primary">
      <h2 class="heading">
        {{ _('We make it Firefox.') }}
        {{ _('You make it your own.') }}
      </h2>

      <p class="lead">
        {{ _('The features you love.') }}
        {{ _('The privacy you trust.') }}
        {{ _('Our most customizable Firefox for Android yet.') }}
      </p>

      <div class="dl-button-wrapper">
        <a class="dl-button" rel="external" href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}">
          {{ _('Download on Google Play') }}
        </a>

        {#
          This sms-link will only be shown to en-US visitors for the foreseeable future,
          so not wrapped for localization (yet).
        #}
        <p id="sms-link">
          <a href="{{ url('firefox.sms') }}">Text a download link to my Android phone</a>
        </p>
      </div>

      {% if l10n_has_tag('ios_announce', 'firefox/new') %}
        <p class="ios-link">{{_('Firefox is coming soon to iOS! <a href="{url}">Sign up to learn more</a>.').format(url=url('newsletter.ios'))|safe }}</p>
      {% endif %}

    </div>{# /.content-primary #}
    <div class="content-secondary">
      {{ high_res_img('img/firefox/android/phone-intro.png', { 'id': 'intro-phone' }) }}
      {{ high_res_img('img/firefox/android/the-android.png', { 'id': 'intro-android' }) }}
    </div>{# /.content-secondary #}
  </div>{# /.container #}
</section>

<section id="customize">
  <button type="button" class="customize-pager" id="customize-prev"></button>
  <button type="button" class="customize-pager" id="customize-next"></button>

  <div class="container">
    <h2 class="heading">{{ _('Uniquely yours') }}</h2>

    <p class="lead">
      {# L10n: Line break below is for visual formatting only. #}
      {{ _('Only Firefox for Android offers this many ways to make<br> your mobile browsing experience truly your own.') }}
    </p>

    <div class="content-primary">
      <div class="accordion zebra" id="customize-accordion">
        <section class="customize-section" id="broadcast">
          <h3 data-accordion-role="tab">{{ _('Smarter sharing for all') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              The most adaptive way to share anything, Quick Share remembers your most recently
              used apps to help you get the word out just the way you want.
            {% endtrans %}
            </p>

            <a rel="external" href="https://www.youtube.com/watch?v=a5nNPf-Uosc&amp;index=12&amp;list=PLA8ABF6B7A66A0C5E" class="see-how">{{ _('See how it works') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-sharing.jpg', { 'l10n': True, 'alt': 'Share anything from the Web, using your favorite social sharing apps, directly from within Firefox for Android.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-sharing.png', { 'l10n': True, 'alt': 'Share anything from the Web, using your favorite social sharing apps, directly from within Firefox for Android.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="addons">
          <h3 data-accordion-role="tab">{{ _('All your faves, front and center') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Customize your Home panels with any Web content you want and access your favorite
              feeds &mdash; like Instagram and Pocket Hits &mdash; instantly.
            {% endtrans %}
            </p>

            <a rel="external" href="https://www.youtube.com/watch?v=alW2g7Gnh6U&amp;list=PLA8ABF6B7A66A0C5E&amp;index=18" class="see-how">{{ _('See how it works') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-faves1.jpg', { 'l10n': True, 'alt': 'Add your favorite feeds, like Instagram, to your Firefox for Android home panel for instant access.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-faves2.jpg', { 'l10n': True, 'alt': 'Add Pocket Hits to keep your saved articles and blog posts at your fingertips.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-faves3.jpg', { 'l10n': True, 'alt': 'You can even add 101 Cookbooks and other feeds &mdash; whatever it is that you use most.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-faves.png', { 'l10n': True, 'alt': 'Add your favorite feeds, like Instagram, to your Firefox for Android home panel for instant access.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="homepanel">
          <h3 data-accordion-role="tab">{{ _('A touch more personal') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Display your Home panels in any order you like or add, hide and delete them as you
              see fit to keep your favorites one touch away.
            {% endtrans %}
            </p>

            <a rel="external" href="https://www.youtube.com/watch?v=HKvyr0TIKF0&amp;index=14&amp;list=PLA8ABF6B7A66A0C5E" class="learn-more">{{ _('Learn more') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-personal.jpg', { 'l10n': True, 'alt': 'After adding content to your home panel, you can customize things further by choosing how the content is displayed.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-personal.png', { 'l10n': True, 'alt': 'After adding content to your home panel, you can customize things further by choosing how the content is displayed.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="search">
          <h3 data-accordion-role="tab">{{ _('Any search you like') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
              {{ _('Add any search engine and make it your default. ') }}
              {{ _('Or change it any time to the one that best matches your search and privacy needs.') }}
            </p>

            <a rel="external" href="https://support.mozilla.org/kb/set-and-manage-default-search-engines-firefox-android" class="see-how">{{ _('See how it works') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-search1.jpg', { 'l10n': True, 'alt': 'Search for Web content through any provider you want, like DuckDuckGo, for example.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-search2.jpg', { 'l10n': True, 'alt': 'Easily add new search engines from your Customize settings.'}) }}
                {{ high_res_img('firefox/android/customize/desktop-search3.jpg', { 'l10n': True, 'alt': 'New search engines can be added, removed or set as your default at any time.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-search.png', { 'l10n': True, 'alt': 'Search for Web content through any provider you want, like DuckDuckGo, for example.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="language">
          <h3 data-accordion-role="tab">{{ _('Change your language') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Change your browser language quickly and easily, without having to change the settings
              for your entire device or even restart your browser.
            {% endtrans %}
            </p>

            <a rel="external" href="https://support.mozilla.org/kb/change-default-language-firefox-android" class="learn-more">{{ _('Learn more') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('firefox/android/customize/desktop-language.jpg', { 'l10n': True, 'alt': 'Change the display language in Firefox for Android without changing your phone’s language settings.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('firefox/android/customize/mobile-language.png', { 'l10n': True, 'alt': 'Change the display language in Firefox for Android without changing your phone’s language settings.' }) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
        <section class="customize-section" id="screencast">
          <h3 data-accordion-role="tab" id="screencast-tab">{{ _('Take it to the big screen') }}</h3>

          <div data-accordion-role="tabpanel">
            <p>
            {% trans %}
              Send video and Web content from your smartphone or tablet to any TV equipped with
              supported streaming capabilities.
            {% endtrans %}
            </p>

            <a rel="external" href="https://support.mozilla.org/kb/send-webpages-your-tv-firefox-android-chromecast" class="learn-more">{{ _('Learn more') }}</a>

            <figure>
              <div class="media-desktop">
                {{ high_res_img('img/firefox/android/customize/desktop-stream1.jpg', { 'alt': 'Send video content from Firefox for Android to any TV with supported streaming capabilities.'}) }}
                {{ high_res_img('img/firefox/android/customize/desktop-stream2.jpg', { 'alt': 'Tap the screencast icon in the lower left corner of a video to begin playing it on your TV.'}) }}
                {{ high_res_img('img/firefox/android/customize/desktop-stream3.jpg', { 'alt': 'Watch the content from your phone on your big screen TV.'}) }}
              </div>
              <div class="media-mobile">
                {{ high_res_img('img/firefox/android/customize/mobile-stream.jpg', { 'alt': 'Send video content from Firefox for Android to any TV with supported streaming capabilities.'}) }}
              </div>
            </figure>

            <div class="line"></div>
          </div>
        </section>
      </div>{# /.accordion #}
    </div>

    <div class="content-secondary">
      <div id="phone-wrapper">
        <figure id="phone-screens" class="slideshow"></figure>
      </div>
      <div id="screencast-wrapper">
        <figure id="screencast-images" class="slideshow"></figure>
      </div>
    </div>
  </div>{# /.container #}
</section>

<section id="privacy">
  <div class="container">
    <h2 class="heading">{{ _('Keep your private info private') }}</h2>

    <p class="lead">
      {{ _('We believe your personal information belongs to you.') }}
      {{ _('Firefox for Android is filled with features to help keep it that way. ') }}
    </p>

    <ul>
      <li id="dnt">
        <h3>{{ _('Do not track') }}</h3>

        <p>
        {% trans %}
          Enable this Firefox innovation to help you stay in control of how your browsing
          information is collected and used online.
        {% endtrans %}
        </p>

        <a href="{{ url('firefox.dnt') }}">{{ _('Learn more about Do Not Track') }}</a>
      </li>
      <li id="private-browsing">
        <h3>{{ _('Private Browsing') }}</h3>

        <p>
        {% trans %}
          When activated, Firefox for Android won’t accept cookies, remember passwords or
          record any sites that you’ve visited.
        {% endtrans %}
        </p>

        <a rel="external" href="https://www.youtube.com/watch?v=Ewk0YtFTBec&amp;list=PLA8ABF6B7A66A0C5E&amp;index=15">{{ _('See how Private Browsing works') }}</a>
      </li>
      <li id="clear-history">
        <h3>{{ _('Clear history') }}</h3>

        <p>
          {{ _('Delete your browsing history, passwords and more in a single tap.') }}
          {{ _('Choose the private data you want to remove whenever you need to do so.') }}
        </p>

        <a rel="external" href="https://support.mozilla.org/kb/clear-your-browsing-history-and-other-personal-dat">{{ _('Learn how to clear your history') }}</a>
      </li>
      <li id="guest-browsing">
        <h3>{{ _('Guest browsing') }}</h3>

        <p>
        {% trans %}
          Share your browser with friends and family without worrying that you’ll see
          each other’s online activity.
        {% endtrans %}
        </p>

        <a rel="external" href="https://www.youtube.com/watch?v=u6Ww0udnVA0&amp;index=16&amp;list=PLA8ABF6B7A66A0C5E">{{ _('See how Guest Browsing works') }}</a>
      </li>
    </ul>
  </div>{# /.container #}
</section>

<section id="sync">
  <div class="container">
    <div class="content-primary">
      <h2 class="heading">{{ _('Don’t leave home without being in Sync') }}</h2>

      <p class="lead">
        {{ _('Bring your passwords, bookmarks, open tabs and more everywhere you go.') }}
        {{ _('Use Sync on your smartphone or tablet to access whatever you need from your desktop &mdash; and vice versa &mdash; without having to remember URLs.') }}
      </p>

      <a href="{{ url('firefox.sync') }}">{{ _('Learn more about Sync') }}</a>
    </div>
    <div class="content-secondary">
      {% include 'firefox/includes/sync-animation.html' %}
    </div>
  </div>{# /.container #}
</section>

{% endblock %}

{% block email_form %}
  <div id="subscribe-download-wrapper" class="ga-section" data-ga-label="Get Firefox news">
    <div class="container">
      <div id="download-wrapper" class="dl-button-wrapper">
        {{ high_res_img('img/firefox/android/firefox-logo-footer.png', { 'id': 'footer-logo' }) }}

        <div id="download-content">
          <h3>{{ _('Choose Firefox') }}</h3>
          <a class="dl-button" rel="external" href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}">
            {{ _('Download on Google Play') }}
          </a>

          <ul>
            <li>
              <a rel="external" href="https://support.mozilla.org/kb/will-firefox-work-my-mobile-device">{{ _('Supported devices') }}</a>
            </li>
            <li>
              <a href="{{ firefox_url('android', 'notes') }}">{{ _('Release notes') }}</a>
            </li>
          </ul>
        </div>{#-- /#download-content --#}
      </div>{#-- /#download-wrapper --#}
      <div id="subscribe-wrapper" class="floating">
        {{ email_newsletter_form(title=_('Get Firefox news')) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<!--[if IE 9]>
  {% javascript 'firefox_android_ie9' %}
<![endif]-->
  {% javascript 'firefox_android' %}
{% endblock %}
