{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "pocket/base.html" %}

{% block page_title %}About Us{% endblock %}

{% block page_desc %}Pocket empowers people to keep their minds focused, stimulated, and nourished. We’re powered by a community of interesting people with curious minds.{% endblock %}

{% block pocket_css %}
  {{ css_bundle('pocket-about') }}
{% endblock  %}

{% block content %}
{% include 'pocket/includes/nav.html' %}

    <div class="intro-wrapper">
        <section class="about-section first">
            <div class="about-section-text-wrapper">
                <h1 class="about-section-heading">Hi, we're Pocket.</h1>
                <p class="about-section-body"> We’re powered by a community of interesting people with curious minds, and we empower people to keep their minds focused, stimulated, and nourished. Which makes us a refreshing change from other digital spaces.</p>
            </div>
        </section>
    </div>
    <section class="about-section second">
        <div class="about-section-text-wrapper">
            <h3 class="about-section-heading">Save your inspirations</h3>
            <p class="about-section-body">If something catches your interest, there’s probably something to it. With our <a id="save-button-for-the-internet" href="https://getpocket.com/save-to-pocket"> save button for the internet</a> and our award-winning <a id="top-pocket-app" href="https://getpocket.com/add">Pocket app</a> you can save anything from across the web in a distraction free space, for you to focus and let the ideas flow.</p>
        </div>
    </section>
    <section class="about-section third">
        <div class="about-section-text-wrapper">
            <h3 class="about-section-heading">Find hidden gems</h3>
            <p class="about-section-body">The internet is filled with buried treasures and our vibrant, well-read community has a real knack for finding them. Through the act of saving and consuming content, Pocket users signal where fascination can be found.</p>
            <p class="about-section-body">Our curators vet the most fascinating finds to ensure they’re from a diverse range of publications with a track record of trustworthy and accurate coverage, and we share them on <a id="home-page" href="https://getpocket.com/">GetPocket.com</a>, <a id="pocket-and-firefox" href="https://getpocket.com/pocket-and-firefox">Pocket for Firefox</a>, in our <a id="daily-newsletter" href="https://getpocket.com/explore/pocket-hits-signup">daily newsletter</a>, and within the <a id="bottom-pocket-app" href="https://getpocket.com/add">Pocket app</a>. Our recommendations are available primarily in English and German, though we look forward to sharing in more languages in the future.</p>
        </div>
    </section>
    <section class="about-section fourth">
        <div class="about-section-text-wrapper">
            <h3 class="about-section-heading">Use Pocket your way</h3>
            <p class="about-section-body">There are lots of ways you can use Pocket. Some people use it to save stories throughout the day to read when they’re ready. Hunter-gatherer types use it to save all the things they want to read, watch, listen to, or buy. Others use Pocket to highlight key passages to help them grow, learn, and thrive.</p>
            <p class="about-section-body">And some folks love exploring Pocket’s recommendations to find inspiration, challenge their views, and see the occasional cat (or dog) story. </p>
        </div>
    </section>
    <section class="about-section fifth">
        <div class="about-section-text-wrapper">
            <h3 class="about-section-heading">Know it's good</h3>
            <p class="about-section-body"> The internet’s only as good as the content you encounter, so — by saving and consuming with intent — together we make Pocket a brighter corner of the internet. And, as part of the Mozilla and Firefox family, we do all this with the same dedication to privacy you’ve come to expect from Firefox and Mozilla. </p>
        </div>
    </section>
    <section class="about-cta-section">
        <h2 class="about-cta-heading">Welcome to the sunny side of the web.</h2>
        <div class="cta-wrapper">
            <a id="start-using-pocket" href="https://getpocket.com/signup">Start using Pocket</a>
        </div>
        <hr/>
        <p class="about-cta-body">Contact us for press inquiries at <a href="mailto:press@getpocket.com">press@getpocket.com</a>.</p>
        <p class="about-cta-body">Download our images and press kit <a id="press-page" href="https://blog.getpocket.com/press/">here</a>.</p>
    </section>

    {% include 'pocket/includes/footer.html' %}
{% endblock %}


{% block js %}
  {{ js_bundle('pocket-nav') }}
{% endblock %}
