{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "pocket/base.html" %}

{% block page_title %}{{ ftl('contact-info') }}{% endblock %}

{% block pocket_css %}
 {{ css_bundle('pocket-contact-info') }}
{% endblock %}

{% block content %}
{% include 'pocket/includes/nav.html' %}
<section class="mzp-l-content mzp-t-content-xl">
    <h1 class="contact-info-header">{{ ftl('contact-info') }}</h1>

    <h2 class="contact-info-subheader">{{ ftl('contact-support') }}</h2>
    <p class="contact-info-body-text">{{ ftl('contact-to-get-help', help='http://help.getpocket.com') }}</p>

    <h2 class="contact-info-subheader">{{ ftl('contact-press') }}</h2>
    <p class="contact-info-body-text">{{ ftl('contact-for-press-inquiries', press='https://getpocket.com/press') }}</p>

    <h2 class="contact-info-subheader">{{ ftl('contact-sponsorships-business') }}</h2>
    <p class="contact-info-body-text">{{ ftl('contact-related-to-business', business_email_link='mailto:business@getpocket.com', business_email='business@getpocket.com') }}</p>
    <p class="contact-info-body-text">{{ ftl('contact-related-to-sponsorships', sponsor_email_link='mailto:sponsor@getpocket.com', sponsor_email='sponsor@getpocket.com') }}</p>

    <h2 class="contact-info-subheader">{{ ftl('contact-api') }}</h2>
    <p class="contact-info-body-text">{{ ftl('contact-regarding-api', api_email_link='mailto:api@getpocket.com', api_email='api@getpocket.com') }}</p>

    <h2 class="contact-info-subheader">{{ ftl('contact-jobs') }}</h2>
    <p class="contact-info-body-text">{{ ftl('contact-view-job-page', jobs="/en/jobs/") }}</p>

    <h2 class="contact-info-subheader">{{ ftl('contact-security') }}</h2>
    <p class="contact-info-body-text">{{ ftl('contact-report-security-vulnerability', security_bug='https://www.mozilla.org/en-US/about/governance/policies/security-group/bugs/') }}</p>
    <p class="contact-info-body-text">{{ ftl('contact-related-to-security', security_email_link='mailto:security@getpocket.com', security_email='security@getpocket.com') }}</p>

    <h2 class="contact-info-subheader">{{ ftl('contact-follow-us') }}</h2>
    <p class="contact-info-body-text"><a href="https://blog.getpocket.com/">{{ ftl('contact-blog') }}</a></p>
    <p class="contact-info-body-text">{{ ftl('contact-twitter', twitter_main='@pocket', twitter_main_link='https://twitter.com/pocket', twitter_support='@pocketsupport', twitter_support_link='https://twitter.com/pocketsupport') }}</p>
    <p class="contact-info-body-text"><a href="https://www.facebook.com/getpocket">{{ ftl('contact-facebook') }}</a></p>
    <p class="contact-info-body-text"><a href="https://www.instagram.com/pocket/">{{ ftl('contact-instagram') }}</a></p>

    <h2 class="contact-info-subheader">{{ ftl('contact-hq') }}</h2>
    <address class="contact-info-body-text address">
        Mozilla Corporation/Pocket Business Unit <br/>
        2 Harrison Street, Suite 175 <br/>
        San Francisco, CA 94105 <br/>
        <a href="tel:4156926111" aria-label="4 1 5. 6 9 2. 6 1 1 1.">415-692-6111</a>
    </address>
</section>
{% include 'pocket/includes/footer.html' %}
{% endblock %}
