{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "pocket/platform-pages.html" %}

{% set platform_image = 'img/pocket/welcome-edge.jpg' %}

{% block page_title %}Pocket for Edge{% endblock %}

{% block page_desc %}Installing the Pocket browser extension installs buttons that let you save items with one click.{% endblock %}

{% block page_cta %}Install{% endblock %}

{% block page_url %}https://microsoftedge.microsoft.com/addons/detail/save-to-pocket/jicacccodjjgmghnmekophahpmddeemd?source=sfw{% endblock %}
