{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "pocket/base.html" %}

{% from "macros-protocol.html" import split with context %}

{% block pocket_css %}
{{ css_bundle('pocket-privacy-tos') }}
{% endblock %}

{% block page_title %}{{ ftl('pocket-tos-terms-of-service') }}{% endblock page_title %}

{% block content %}
  {% include 'pocket/includes/nav.html' %}
  <div class="mzp-l-content mzp-t-content-xl pocket-terms-wrapper">
    <section>
      <h1>{{ ftl('pocket-tos-terms-of-service') }}</h1>
      <h2 class="date-heading">{{ ftl('pocket-tos-posted-date') }}</h2>
      <p>{{ ftl('pocket-tos-please-read') }}</p>
      <ul>
        <li><a href="#service">{{ ftl('pocket-tos-the-pocket-service') }}</a></li>
        <li><a href="#grant">{{ ftl('pocket-tos-license-grant') }}</a></li>
        <li><a href="#ownership">{{ ftl('pocket-tos-ownership') }}</a></li>
        <li><a href="#restrictions">{{ ftl('pocket-tos-license-restrictions') }}</a></li>
        <li><a href="#info">{{ ftl('pocket-tos-information-you') }}</a></li>
        <li><a href="#copyright">{{ ftl('pocket-tos-copyright-infringement') }}</a></li>
        <li><a href="#thirdparty">{{ ftl('pocket-tos-third-party') }}</a></li>
        <li><a href="#prights">{{ ftl('pocket-tos-proprietary') }}</a></li>
        <li><a href="#disclaimer">{{ ftl('pocket-tos-disclaimer-of-warranties') }}</a></li>
        <li><a href="#liability">{{ ftl('pocket-tos-limitation-of-liability') }}</a></li>
        <li><a href="#indemnification">{{ ftl('pocket-tos-indemnification') }}</a></li>
        <li><a href="#disputes">{{ ftl('pocket-tos-disputes') }}</a></li>
        <li><a href="#governing">{{ ftl('pocket-tos-governing-law') }}</a></li>
        <li><a href="#payment">{{ ftl('pocket-tos-automatic-renewal') }}</a></li>
        <li><a href="#cancellation">{{ ftl('pocket-tos-cancellation') }}</a></li>
        <li><a href="#termination">{{ ftl('pocket-tos-termination') }}</a></li>
        <li><a href="#assignment">{{ ftl('pocket-tos-assignment') }}</a></li>
        <li><a href="#severability">{{ ftl('pocket-tos-severability') }}</a></li>
        <li><a href="#relationship">{{ ftl('pocket-tos-relationship') }}</a></li>
        <li><a href="#force">{{ ftl('pocket-tos-force') }}</a></li>
        <li><a href="#entire">{{ ftl('pocket-tos-entire-agreement') }}</a></li>
        <li><a href="#international">{{ ftl('pocket-tos-international') }}</a></li>
        <li><a href="#gov">{{ ftl('pocket-tos-us-government') }}</a></li>
        <li><a href="#children">{{ ftl('pocket-tos-access-by-children') }}</a></li>
        <li><a href="#communication">{{ ftl('pocket-tos-electronic') }}</a></li>
        <li><a href="#revisions">{{ ftl('pocket-tos-revisions') }}</a></li>
        <li><a href="#notice">{{ ftl('pocket-tos-copyright-notice') }}</a></li>
      </ul>
      <p>{{ ftl('pocket-tos-if-you-have', legal_email_href='mailto:legal@getpocket.com', legal_email='legal@getpocket.com',) }}</p>
      <address>
        Mozilla Corporation <br/>
        ATTN: Pocket Business Unit <br/>
        2 Harrison Street, Suite 175 <br/>
        San Francisco, CA 94105 <br/>
      </address>
    </section>

    <section id="service">
      <h2>{{ ftl('pocket-tos-the-pocket-service') }}</h2>
      <p>{{ ftl('pocket-tos-the-pocket-software') }}</p>
      <p>{{ ftl('pocket-tos-we-respect') }}</p>
      <p>{{ ftl('pocket-tos-we-offer') }}</p>
    </section>

    <section id="grant">
      <h2>{{ ftl('pocket-tos-license-grant') }}</h2>
      <p>{{ ftl('pocket-tos-subject-to-the-terms') }}</p>
    </section>

    <section id="ownership">
      <h2>{{ ftl('pocket-tos-ownership') }}</h2>
      <p>{{ ftl('pocket-tos-the-pocket-technologies-including') }}</p>
    </section>

    <section id="restrictions">
      <h2>{{ ftl('pocket-tos-license-restrictions') }}</h2>
      <p>{{ ftl('pocket-tos-your-access') }}</p>
    </section>

    <section id="info">
      <h2>{{ ftl('pocket-tos-information-you') }}</h2>
      <p>{{ ftl('pocket-tos-you-agree', pocket_privacy_url='https://getpocket.com/privacy') }}</p>
      <p>{{ ftl('pocket-tos-if-you-choose') }}</p>
      <p>{{ ftl('pocket-tos-if-you-choose-to-send') }}</p>
    </section>

    <section id="copyright">
      <h2>{{ ftl('pocket-tos-copyright-infringement') }}</h2>
      <p>{{ ftl('pocket-tos-the-videos-articles') }}</p>
      <p>{{ ftl('pocket-tos-you-represent') }}</p>
      <p>{{ ftl('pocket-tos-if-you-beleive', pocket_trademark_url="https://www.mozilla.org/en-US/about/legal/report-infringement/") }}</p>
    </section>

    <section id="thirdparty">
      <h2>{{ ftl('pocket-tos-third-party-websites') }}</h2>
      <p>{{ ftl('pocket-tos-the-content-products') }}</p>
      <p>{{ ftl('pocket-tos-if-you-developed', pocket_tos_href='http://getpocket.com/developer/docs/tos', pocket_legal_email_href='mailto:legal@getpocket.com', pocket_legal_email='legal@getpocket.com') }}</p>
    </section>

    <section id="prights">
      <h2>{{ ftl('pocket-tos-proprietary') }}</h2>
      <p>{{ ftl('pocket-tos-all-trademarks') }}</p>
    </section>

    <section id="disclaimer">
      <h2>{{ ftl('pocket-tos-disclaimer-of-warranties') }}</h2>
      <p>{{ ftl('pocket-tos-reasonable-efforts') }}</p>
      <p><strong class="uppercase">{{ ftl('pocket-tos-the-pocket-technologies-including-without') }}</strong></p>
    </section>

    <section id="liability">
      <h2>{{ ftl('pocket-tos-limitation-of-liability') }}</h2>
      <p><strong class="uppercase">{{ ftl('pocket-tos-there-are-inherent') }}</strong></p>
    </section>

    <section id="indemnification">
      <h2>{{ ftl('pocket-tos-indemnification') }}</h2>
      <p>{{ ftl('pocket-tos-you-agree-at-your-own') }}</p>
    </section>

    <section id="disputes">
      <h2>{{ ftl('pocket-tos-disputes') }}</h2>
      <p><strong class="uppercase">{{ ftl('pocket-tos-any-dispute') }}</strong></p>
      <p><strong class="uppercase">{{ ftl('pocket-tos-there-is-no-judge') }}</strong></p>
      <p>{{ ftl('pocket-tos-to-initiate', pocket_tos_mozilla_address='President, Mozilla Corporation/Pocket Business Unit, 2 Harrison Street, Suite 175, San Francisco, CA 94105', jams_abbr='JAMS', jams_url='https://www.jamsadr.com', adr_url='www.adr.org') }}</p>
      <p><strong class="uppercase">{{ ftl('pocket-tos-we-each-agree') }}</strong></p>
    </section>

    <section id="governing">
      <h2>{{ ftl('pocket-tos-governing-law') }}</h2>
      <p>{{ ftl('pocket-tos-by-using-any') }}</p>
    </section>

    <section id="payment">
      <h2>{{ ftl('pocket-tos-automatic-renewal') }}</h2>
      <p>{{ ftl('pocket-tos-subscriptions-to-our-paid', strong_tag_class_name='uppercase') }}</p>
      <p>{{ ftl('pocket-tos-we-reserve-the-right') }}</p>
      <p>{{ ftl('pocket-tos-we-do-not-issue-refunds') }}</p>
    </section>

    <section id="cancellation">
      <h2>{{ ftl('pocket-tos-cancellation') }}</h2>
      <p>{{ ftl('pocket-tos-you-may-cancel-your', cancel_span_class_name='uppercase', cancel_email_href='mailto:cancel@getpocket.com', cancel_email='cancel@getpocket.com',) }}</p>
    </section>

    <section id="termination">
      <h2>{{ ftl('pocket-tos-termination') }}</h2>
      <p>{{ ftl('pocket-tos-this-agreement-is-effective') }}</p>
      <p>{{ ftl('pocket-tos-upon-the-termination') }}</p>
    </section>

    <section id="assignment">
      <h2>{{ ftl('pocket-tos-assignment') }}</h2>
      <p>{{ ftl('pocket-tos-this-agreement-may-not') }}</p>
    </section>

    <section id="severability">
      <h2>{{ ftl('pocket-tos-severability') }}</h2>
      <p>{{ ftl('pocket-tos-if-the-application') }}</p>
    </section>

    <section id="relationship">
      <h2>{{ ftl('pocket-tos-relationship') }}</h2>
      <p>{{ ftl('pocket-tos-nothing-contained') }}</p>
    </section>

    <section id="force">
      <h2>{{ ftl('pocket-tos-force') }}</h2>
      <p>{{ ftl('pocket-tos-we-shall-not') }}</p>
    </section>

    <section id="entire">
      <h2>{{ ftl('pocket-tos-entire-agreement') }}</h2>
      <p>{{ ftl('pocket-tos-this-agreement-constitutes') }}</p>
    </section>

    <section id="international">
      <h2>{{ ftl('pocket-tos-international') }}</h2>
      <p>{{ ftl('pocket-tos-the-pocket-technologies-may-be') }}</p>
      <p>{{ ftl('pocket-tos-you-may-not-use-export') }}</p>
      <p>{{ ftl('pocket-tos-we-reserve-the-right-to-limit') }}</p>
    </section>

    <section id="gov">
      <h2>{{ ftl('pocket-tos-us-government') }}</h2>
      <p>{{ ftl('pocket-tos-if-this-product') }}</p>
    </section>

    <section id="children">
      <h2>{{ ftl('pocket-tos-access-by-children') }}</h2>
      <p>{{ ftl('pocket-tos-in-the-united-states', ftc_website='http://www.ftc.gov/privacy/coppafaqs.shtm') }}</p>
      <p>{{ ftl('pocket-tos-except-as-provided') }}</p>
    </section>

    <section id="communication">
      <h2>{{ ftl('pocket-tos-electronic') }}</h2>
      <p>{{ ftl('pocket-tos-if-you-create') }}</p>
    </section>
    <section id="revisions">
      <h2>{{ ftl('pocket-tos-revisions') }}</h2>
      <p>{{ ftl('pocket-tos-we-may-at') }}</p>
    </section>
    <section id="notice">
      <h2>{{ ftl('pocket-tos-copyright-notice') }}</h2>
      <p>{{ ftl('pocket-tos-copyright') }} &copy; {{ ftl('pocket-tos-copyright-2012') }}</p>
    </section>
  </div>
  {% include 'pocket/includes/footer.html' %}
{% endblock %}
