{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "externalpages/pocket/base.html" %}

{% from "macros-protocol.html" import split with context %}

{% block pocket_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('pocket-features') }}
{% endblock  %}

{% block page_title %}Save to Pocket{% endblock %}

{% block content %}

{% include 'externalpages/pocket/includes/nav.html' %}

<section>
{% call split(
  block_class='mzp-l-split-center-on-sm-md pocket-feature-page-split',
  media_class='mzp-l-split-h-center',
  image_url='img/externalpages/pocket/save-inspirations.png',
  )%}
  <h1 class="section-heading">Build a home for everything that interests you with Pocket.</h1>
  <p class="section-lede">Use Pocket to save anything that sparks your curiosity and enjoy it when you’re ready to focus. In no time your list will become a personal library filled with enticing content to inform, inspire, and fuel you.</p>
  <div class="section-ctas">
    <a href="https://getpocket.com/signup" role="button" class="red-cta">Get started</a>
    <a href="https://getpocket.com/login" class="secondary-cta">Already have an account? Log in</a>
  </div>
  {% endcall %}
</section>

<hr class="pocket-features-horizontal-rule"/>

<section>
  {% call split(
  block_class='mzp-l-split-center-on-sm-md mzp-l-split-reversed pocket-feature-page-split',
  media_class='mzp-l-split-h-center',
  image_url='img/externalpages/pocket/save-button-doodle.svg',
  )%}
  <h2 class="sub-section-heading">Save from anywhere on the web</h2>
  <p class="section-lede">Once you’ve signed up, add the <span class="pocket-logo-inline">Pocket Logo</span> button to your browser for the fastest and easiest way to save articles, videos, and links to your personal library.</p>
  <a href="https://getpocket.com/signup" class="green-line-cta">Start saving content</a>
  {% endcall %}
</section>

<section>
  {% call split(
  block_class='mzp-l-split-center-on-sm-md pocket-feature-page-split',
  media_class='mzp-l-split-h-center',
  image_url='img/externalpages/pocket/reading-nook.png',
  )%}
  <h2 class="sub-section-heading">Absorb content in a quiet space</h2>
  <p class="section-lede">Away from flashing banners and internet pop-ups, you’ll be able to read, watch, or listen to everything you’ve collected.</p>
  <a href="https://getpocket.com/signup" class="green-line-cta">Create your quiet space</a>
  {% endcall %}
</section>

<section>
  {% call split(
  block_class='mzp-l-split-center-on-sm-md mzp-l-split-reversed pocket-feature-page-split',
  media_class='mzp-l-split-h-center',
  image_url='img/externalpages/pocket/focused-reading.png',
  )%}
  <h2 class="sub-section-heading">Customize your experience</h2>
  <ul class="section-lede">
    <li>Tailor text sizes, font styles, or viewing mode for focused reading.</li>
    <li>Categorize saves with tags, and mark key passages with highlights.</li>
    <li>Listen to articles on the Pocket app with our audio playback option.</li>
  </ul>
  <a href="https://getpocket.com/signup" class="green-line-cta">Get started with Pocket</a>
  {% endcall %}
</section>

<section class="personal-library">
  <h2 class="section-heading">
    Start building your personal library now
  </h2>
  <div class="library-ctas">
    <div>
      <a href="https://getpocket.com/signup" role="button" class="red-cta">Get started</a>
    </div>
    <a href="https://getpocket.com/explore" class="black-white-cta login-cta" role="button">Log in</a>
  </div>
  </section>

{% include 'externalpages/pocket/includes/pocket-premium.html' %}

{% include 'externalpages/pocket/includes/footer.html' %}

{% endblock %}
