{% extends "firefox/releases/aurora-notes.html" %}

{% block gtm_page_id %}data-gtm-page-id="/firefox/auroranotes/"{% endblock %}

{% block site_header_logo %}
  <h2>{{ high_res_img('firefox/developer/title-inverse.png', {'alt': _('Firefox Developer Edition'), 'width': '220', 'height': '84'}) }}</h2>
{% endblock %}

{% block notes_heading_secondary %}
  <div class="version">
    <h2>{{ _('{version}')|f(version=release.version) }}</h2>
    <h3>{{ _('Firefox Developer Edition') }}</h3>
    <p>{{ _('{date}')|f(date=release.release_date|l10n_format_date) }}</p>
  </div>
  <div class="description">
      <h2>{{ _('Version {version}, first offered to Firefox Developer Edition channel users on {date}')|f(channel=release.channel, date=release.release_date|l10n_format_date, version=release.version) }}</h2>
      <p>{{ release.text|safe }}</p>
  </div>
{% endblock %}
