{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros.html" import google_play_button with context %}

{% extends "firefox/base-resp.html" %}

{% block gtm_page_id %}
    {% if release.product == 'Firefox for Android' %}
        data-gtm-page-id="/firefox/android/releasenotes/"
    {% elif release.product == 'Firefox for iOS' %}
        data-gtm-page-id="/firefox/ios/releasenotes/"
    {% else %}
        data-gtm-page-id="/firefox/releasenotes/"
    {% endif %}
{% endblock %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('{product} — {channel} Notes ({version})')|f(product=release.product, channel=channel_name, version=release.version) }}{% endblock %}

{% block body_id %}notes{% endblock %}
{% block body_class %}fx-notes{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_releasenotes_firefox' %}
{% endblock %}

{# channel_name is for display purposes where needed.  #}
{% set channel_name = channel_name|default('') %}

{% block site_header %}
<header id="masthead" class="relasenotes-header">
  <div class="container">
    {% block site_header_nav %}
      {% include 'firefox/includes/release-menu.html' %}
    {% endblock %}
    {% block site_header_logo %}
      <h2>
        <a href="{{ url('firefox') }}">
          {% if release.major_version_int >= 57 %}
            {{ high_res_img('logos/firefox/logo-quantum-wordmark-large.png', {'alt': 'Firefox', 'width': '185', 'height': '69'}) }}
          {% elif release.product == 'Firefox for iOS' and release.major_version_int >= 10 %}
            {{ high_res_img('logos/firefox/logo-quantum-wordmark-large.png', {'alt': 'Firefox', 'width': '185', 'height': '69'}) }}
          {% else %}
            {{ high_res_img('firefox/template/header-logo.png', {'alt': 'Mozilla Firefox', 'width': '185', 'height': '70'}) }}
          {% endif %}
        </a>
      </h2>
    {% endblock %}
  </div>
</header>
{% endblock %}

{% set download_button %}
  <div class="download-buttons">
    {% if release.product == 'Firefox for iOS' %}
      <a rel="external" href="{{ firefox_ios_url('mozorg-releasenotes_page-appstore-button') }}" data-link-type="download" data-download-os="iOS">
        <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ _('Download on the App Store') }}">
      </a>
    {% elif release.product == 'Firefox for Android' %}
      {% if release.channel in ['Nightly', 'Aurora'] %}
        {{ download_firefox('nightly', platform='android', alt_copy=_('Download')) }}
      {% elif release.channel == 'Beta' %}
        {{ download_firefox('beta', platform='android', alt_copy=_('Download')) }}
      {% else %}
        {{ google_play_button() }}
      {% endif %}
    {% elif release.product == 'Firefox' %}
      {% if release.channel == 'Nightly' %}
        {{ download_firefox('nightly', platform='desktop', force_direct=True, alt_copy=_('Download Firefox Nightly')) }}
      {% elif release.channel == 'Aurora' %}
        {{ download_firefox('alpha', platform='desktop', force_direct=True, alt_copy=_('Download Firefox Developer Edition')) }}
      {% elif release.channel == 'Beta' %}
        {{ download_firefox('beta', platform='desktop', force_direct=True, alt_copy=_('Download Firefox Beta')) }}
      {% else %}
        {{ download_firefox() }}
      {% endif %}
    {% endif %}
  </div>
{% endset %}

{% block content %}
<main role="main" class="release-notes">
  <article id="main-content">

  {% block notes_header %}
    <header class="notes-head">
      <div class="intro">
        <div class="container">
          {% block notes_heading_primary %}
            <h1>{{ _('See what’s new in Firefox!') }}</h1>
          {% endblock %}
          <p>
            {% trans
            feedback='https://input.mozilla.org/feedback/android/' + release.version + '?utm_source=releasenotes'
            if release.product == 'Firefox for Android'
            else 'https://input.mozilla.org/feedback/firefox/' + release.version + '?utm_source=releasenotes',
            bugzilla='https://bugzilla.mozilla.org/'
            %}
              Release Notes tell you what’s new in Firefox. As always, we welcome your <a href="{{ feedback }}">feedback</a>. You can also <a href="{{ bugzilla }}">file a bug in Bugzilla</a> or see the <a href="{{ check_url }}">system requirements</a> of this release.
            {% endtrans %}
          </p>
        </div>
      </div>

    {% block top_download_buttons %}
      <div class="top-download-buttons">
        <div class="container">
          <div class="header-download">
            {{ download_button }}
          </div>
        </div>
      </div>
    {% endblock %}

    {% block platform_switch %}
      <nav id="nav" class="navigator">
        <div class="container">
          <ul class="menu">
          {% if release.product == 'Firefox' and release.channel == 'Release' %}
            <li class="current">{{ _('Desktop') }}</li>
          {% elif release.channel == 'Release' and equivalent_release_url %}
            <li><a href="{{ equivalent_release_url }}">{{ _('Desktop') }}</a></li>
          {% else %}
            <li><a href="{{ url('firefox.notes') }}">{{ _('Desktop') }}</a></li>
          {% endif %}
          {% if release.product == 'Firefox for Android' and release.channel == 'Release' %}
            <li class="current">{{ _('Android') }}</li>
          {% elif release.channel == 'Release' and equivalent_release_url %}
            <li><a href="{{ equivalent_release_url }}">{{ _('Android') }}</a></li>
          {% else %}
            <li><a href="{{ url('firefox.notes', platform='android') }}">{{ _('Android') }}</a></li>
          {% endif %}
          {% if release.product == 'Firefox for iOS' and release.channel == 'Release' %}
            <li class="current">{{ _('iOS') }}</li>
          {% else %}
            <li><a href="{{ url('firefox.notes', platform='ios') }}">{{ _('iOS') }}</a></li>
          {% endif %}
            <li class="{% if release.channel != 'Release' %}current {% endif %}submenu-title">
              <a href="#" role="button" aria-controls="nav-submenu" aria-expanded="false">{{ _('Other Releases') }}</a>
              <ul class="submenu" id="nav-submenu">
                <li>
                  <span class="title">{{ _('Recent Desktop Releases') }}</span>
                  <ul>
                    <li><a href="{{ url('firefox.notes', channel='beta') }}">{{ _('Latest Beta &amp; Developer Edition') }}</a></li>
                    <li><a href="{{ url('firefox.notes', channel='nightly') }}">{{ _('Latest Nightly') }}</a></li>
                  </ul>
                </li>
                <li>
                  <span class="title">{{ _('Recent Android Releases') }}</span>
                  <ul>
                    <li><a href="{{ url('firefox.notes', platform='android', channel='beta') }}">{{ _('Latest Beta') }}</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    {% endblock %}

    {% if release.version %}
      <div class="latest-release" >
        <div class="container">
          {% block notes_heading_secondary %}
          <div class="version">
            <h2>{{ _('{version}')|f(version=release.version) }}</h2>
            <h3>{{ release.product }} {{ release.channel }}</h3>
            {% if release.is_public %}
              <p>{{ _('{date}')|f(date=release.release_date|l10n_format_date) }}</p>
            {% endif %}
          </div>
          <div class="description">
            {% if release.is_public %}
              <h2>{{ _('Version {version}, first offered to {channel} channel users on {date}')|f(channel=release.channel, date=release.release_date|l10n_format_date, version=release.version) }}</h2>
              <p>{{ release.text|safe }}</p>
            {% else %}
              <h2>{{ _('We’re still preparing the notes for this release, and will post them here when they are ready. Please check back later.') }}</h2>
              {% block extra_draft_description %}{% endblock %}
            {% endif %}
          </div>
          {% endblock %}
        </div>
      </div>
    {% endif %}
    </header>
  {% endblock %}

    <section class="notes-section">
      <div class="features" id="new-features">
        <div class="container">
        {% if release.is_public and release.notes %}
          {% for note in release.notes if note.tag == "New" %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if note.tag == "Fixed" %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if note.tag == "Changed" %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if note.tag == "Developer" %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
              <a class="mdn-icon more" rel="external" href="https://developer.mozilla.org/docs/Mozilla/Firefox/Releases/{{ release.major_version }}">{{ _('Developer Information') }}</a>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if note.tag == "HTML5" %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if note.tag == "Resolved" %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if not note.tag %}
            {% if loop.first %}
            <div class="section-wrapper" id="{{ note.tag|lower() }}">
              <h4>{{ note.tag }}</h4>
              <ul class="section-items untagged">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}

          {% for note in release.notes if note.tag == "Known" %}
            {% if loop.first %}
            <div class="section-wrapper" id="known">
              <h4>{{ _('unresolved') }}</h4>
              <ul class="section-items">
              {% endif %}
              {{ note_entry(note) }}
              {% if loop.last %}
              </ul>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </section>

    {% block notes_download_footer %}
    <section class="notes-footer">
      <div class="container">
        <div class="all-download">
          <p class="message">{{ _('Download the latest version of Firefox') }}</p>
          {% if release.product == 'Firefox for Android' %}
            {% if release.channel in ['Nightly', 'Aurora'] %}
              <a href="{{ firefox_url('android', 'all', channel='nightly') }}">{{ _('All Firefox Nightly for Android downloads') }}</a>
            {% else %}
              <a href="{{ firefox_url('android', 'all', channel=channel_name|lower()) }}">{{ _('All Firefox %s for Android downloads')|format(channel_name) }}</a>
            {% endif %}
          {% elif release.product == 'Firefox Extended Support Release' %}
            <a href="{{ firefox_url('desktop', 'all', channel='organizations') }}">{{ _('All Firefox ESR downloads') }}</a>
          {% elif release.product == 'Firefox' %}
            {% if release.channel == 'Aurora' %}
              <a href="{{ firefox_url('desktop', 'all', channel='alpha') }}">{{ _('All Firefox Developer Edition downloads') }}</a>
            {% else %}
              <a href="{{ firefox_url('desktop', 'all', channel=channel_name|lower()) }}">{{ _('All Firefox %s downloads')|format(channel_name) }}</a>
            {% endif %}
          {% endif %}
        </div>

        {{ download_button }}

      </div>
    </section>
    {% endblock %}

  </article>
</main>

{% block releasenotes_footer %}
<footer class="release-footer">
  <div class="container">
    <div class="col">
      <h2>{{ _('Need help or want to leave feedback?') }}</h2>
      <a rel="external" href="https://bugzilla.mozilla.org/enter_bug.cgi">{{ _('File a bug') }}</a>
      <a rel="external" href="https://input.mozilla.org/feedback?utm_source=releasenotes">{{ _('Leave feedback') }}</a>
    </div>
    <div class="col">
      <h2>{{ _('Get Involved') }}</h2>
      <p>{{ _('Did you know that most of the content in Firefox Support was written by volunteers?') }}</p>
      <a rel="external" href="https://support.mozilla.org/get-involved">{{ _('Find out more') }}</a>
    </div>
    <div class="col">
      <h2>{{ _('Other Resources') }}</h2>
      {% block extra_resources %}{% endblock %}
      <a rel="external" href="https://developer.mozilla.org/docs/Mozilla/Firefox/Releases/{{ release.major_version }}">{{ _('Developer Information') }}</a>
      <a rel="external"  href="{{ release.get_bug_search_url() }}">{{ _('Complete list of changes for this release') }}</a>
      <a rel="external" href="https://blog.mozilla.org/press/kits/">{{ _('Press Kit') }}</a>
      <a rel="external" href="https://blog.mozilla.org/press/">{{ _('Mozilla and Firefox News') }}</a>
      <a href="{{ url('firefox.organizations.organizations') }}">{{ _('Firefox Extended Support Release') }}</a>
      <a href="{{ url('firefox.releases.index') }}">{{ _('All Firefox for Desktop Releases') }}</a>
    </div>
  </div>
</footer>
{% endblock %}

{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {% javascript 'releasenotes' %}
{% endblock %}

{% macro note_entry(note) %}
  <li id="note-{{ note.id }}">
    {{ note.note|safe }}
    {% if release.channel == 'Nightly' and note.bug -%}
    <span class="bug-id"><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ note.bug }}">{{ _('Bug %d')|format(note.bug) }}</a></span>
    {%- endif %}
  </li>
{% endmacro %}
