{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/base-resp.html" %}

{% block gtm_page_id %}data-gtm-page-id="/firefox/system-requirements/"{% endblock %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Firefox — {version} System Requirements')|f(version=version) }}{% endblock %}

{% block body_id %}notes{% endblock %}
{% block body_class %}fxos-notes sky{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_releasenotes' %}
{% endblock %}

{% block content %}
  <header id="main-feature">
    <h1>{{ _('Firefox {version} System Requirements')|f(version=version) }}</h1>
  </header>

  <div id="main-content">
    <article class="main-column">
        {{ release.system_requirements|safe }}
    </article>
  </div>
  {% block sidebar %}{% endblock %}
{% endblock %}
