{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}


{% extends "products/relay/base.html" %}


{% block page_title_full %}TKTK{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}TKTK{% endblock %}

{% block body_id %}relay-landing{% endblock %}

{% set _utm_source = 'www.mozilla.org-relay-product-page' %}
{% set _utm_campaign = 'relay-product-page' %}
{% set _params = '?utm_source=' ~ _utm_source ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign %}

{% block page_css %}
  {{ css_bundle('relay-landing') }}
{% endblock %}

{% block sub_navigation %}
  {% include 'products/relay/includes/subnav.html' %}
{% endblock %}
