{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/base/base-protocol.html" %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-picto') }}
  {{ css_bundle('protocol-callout') }}
  {{ css_bundle('protocol-card') }}
{% endblock %}

{% block content %}
<main>
  {% block hub_content %}{% endblock %}
</main>
{% endblock %}
