{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros-protocol.html" import call_out, feature_card, hero, picto_card, hero with context %}

{% extends "firefox/privacy/base.html" %}

{% block page_title_full %}{{ ftl('firefox-privacy-hub-firefox-privacy-promise') }}{% endblock %}
{% block page_desc %}{{ ftl('firefox-privacy-hub-firefox-takes-less-data-keeps') }}{% endblock %}

{% block page_css %}
  {{ super() }}
  {{ css_bundle('firefox-privacy-promise') }}
{% endblock %}

{% block body_class %}{{ super() }} privacy-promise{% endblock %}

{% set _entrypoint = 'mozilla.org-privacy' %}
{% set _utm_campaign = 'privacy' %}

{% block hub_content %}

  {% call hero(
    title=ftl('firefox-privacy-hub-firefox-products-are-designed')|safe,
    class='privacy-promise-hero mzp-has-image mzp-t-dark',
    image_url='img/firefox/privacy/promise/privacy-hero.png',
    include_highres_image=True,
    include_cta=True,
    heading_level=1
  ) %}
    <p class="privacy-promise-hero-desc">{{ ftl('firefox-privacy-hub-you-should-be-able-to-decide') }}</p>
  {% endcall %}

  {{ call_out(
    title=ftl('firefox-privacy-hub-thats-why-everything-we-make'),
    class='call-out-data-promise')
  }}

  <div class="mzp-l-content">
    {% call feature_card(
      title=ftl('firefox-privacy-hub-take-less'),
      image_url='img/firefox/privacy/promise/less.jpg',
      include_highres_image=True,
      aspect_ratio='mzp-has-aspect-3-2',
      class='privacy-promise-feature mzp-l-card-feature-right-half'
    ) %}
      <h3 class="privacy-promise-sub-title">{{ ftl('firefox-privacy-hub-we-make-a-point-of-knowing') }}</h3>
      <p>{{ ftl('firefox-privacy-hub-all-tech-companies-collect') }}</p>
    {% endcall %}

    {% call feature_card(
      title=ftl('firefox-privacy-hub-keep-it-safe'),
      image_url='img/firefox/privacy/promise/safe.jpg',
      include_highres_image=True,
      aspect_ratio='mzp-has-aspect-3-2',
      class='privacy-promise-feature mzp-l-card-feature-left-half'
    ) %}
      <h3 class="privacy-promise-sub-title">{{ ftl('firefox-privacy-hub-we-do-the-hard-work-to-protect') }}</h3>
      <p>
        {# Our lean-data page is en-US only, so only link to it for English locales. #}
        {% if LANG.startswith('en') %}
          Data security is complicated — or at least it should be. Which is why we take the extra steps
          to classify the data we have, maintain rules for how we store and protect each type, and never
          stop iterating on our processes. We prioritize your privacy. We invest in it. We’re committed
          to it. We even <a href="{{ url('mozorg.about.policy.lean-data.index') }}">teach other companies how to do it</a>.
        {% else %}
          {{ ftl('firefox-privacy-hub-data-security-is-complicated') }}
        {% endif %}
      </p>
    {% endcall %}

    {% call feature_card(
      title=ftl('firefox-privacy-hub-no-secrets'),
      image_url='img/firefox/privacy/promise/secrets.jpg',
      include_highres_image=True,
      aspect_ratio='mzp-has-aspect-3-2',
      class='privacy-promise-feature mzp-l-card-feature-right-half'
    ) %}
      <h3 class="privacy-promise-sub-title">{{ ftl('firefox-privacy-hub-youll-always-know-where-you') }}</h3>
      <p>
        {{ ftl('firefox-privacy-hub-theres-no-hidden-agenda-here',
               meetings='https://wiki.mozilla.org/WeeklyUpdates?utm_source=' ~ _entrypoint ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign ~ '&entrypoint=' ~ _entrypoint,
               privacy=url('privacy.notices.firefox')) }}
      </p>
    {% endcall %}
  </div>

  <div class="privacy-promise-learn-more">
    <ul class="mzp-l-content mzp-l-card-half">
      {% call picto_card(
        title=ftl('firefox-privacy-hub-why-trust-firefox'),
        class='trust',
        custom_desc=True
      ) %}
        <p>
          {{ ftl('firefox-privacy-hub-because-we-put-people-first',
                 foundation='https://foundation.mozilla.org/?utm_source=' ~ _entrypoint ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign ~ '&entrypoint=' ~ _entrypoint) }}
        </p>
        <p><a href="{{ url('mozorg.mission') }}">{{ ftl('firefox-privacy-hub-learn-more-about-our-mission') }}</a></p>
      {% endcall %}

      {% call picto_card(
        title=ftl('firefox-privacy-hub-your-privacy-by-the-product'),
        class='privacy',
        custom_desc=True
      ) %}
        <p>{{ ftl('firefox-privacy-hub-firefox-products-work-differently') }}</p>
        <p><a href="{{ url('firefox.privacy.products') }}">{{ ftl('firefox-privacy-hub-learn-about-our-products') }}</a></p>
      {% endcall %}
    </ul>
  </div>
{% endblock %}
