{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/base/base-protocol.html" %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block site_css %}
  {% if ftl_file_is_active('navigation_refresh') and ftl_file_is_active('footer-refresh') %}
    {{ css_bundle('m24-root') }}
    {{ css_bundle('m24-navigation-and-footer') }}
  {% else %}
    {{ css_bundle('legacy-navigation-and-footer') }}
  {% endif %}
  {{ css_bundle('protocol-firefox') }}
{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_welcome') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<main class="mzp-t-firefox">
  <header class="c-page-header">
    <div class="mzp-l-content c-page-header-inner">
      {% block shoulder_logo %}
        <img src="{{ static('img/logos/firefox/logo-word-hor.svg') }}" alt="Firefox" width="120" height="40" class="c-header-logo">
      {% endblock %}
      {% block warning_notification %}{% endblock %}
      {% block shoulder_cta %}
        <p class="c-shoulder-cta">
          <a class="mzp-c-button mzp-t-secondary mzp-t-md mzp-t-product" href="{{ url('mozorg.account') }}">
            {{ ftl('navigation-sign-up') }}
          </a>
        </p>
      {% endblock %}
    </div>
  </header>

  {% block content_intro %}{% endblock %}

  {% block content_body %}
  <section class="page-body">
    <div class="mzp-l-content mzp-t-content-md">

      {% block content_primary %}{% endblock %}

      {% block content_secondary %}{% endblock %}

      {% block secondary_cta %}{% endblock %}

    </div>
  </section>
  {% endblock %}

  <aside class="page-footer">
    <div class="mzp-l-content mzp-t-content-md c-utilities">
      {% block content_utility %}{% endblock %}
    </div>
  </aside>
</main>
{% endblock %}

{# Exclude stub attribution for in-product pages: issus 9620 #}
{% block stub_attribution %}{% endblock %}
