{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros-protocol.html" import call_out with context %}

{% extends "firefox/welcome/base.html" %}

{% block page_title %}{{ ftl('welcome-page3-get-the-free-account-that') }}{% endblock %}

{% block page_image %}{{ static('img/firefox/template/page-image-master.jpg') }}{% endblock %}

{% block body_class %}{{ super() }} welcome-page3{% endblock %}

{% set _entrypoint = 'mozilla.org-firefox-welcome-3' %}
{% set _utm_campaign = 'welcome-3-sync' %}

{%block page_css %}
 {{ super()}}
 {{ css_bundle('protocol-call-out') }}
{% endblock %}

{% block content_intro %}
  {% call call_out(
    title=ftl('welcome-page3-no-account-required-but-you'),
    desc=ftl('welcome-page3-the-firefox-browser-collects'),
    class='mzp-t-firefox mzp-t-dark mzp-t-hero',
    include_cta=True,
    heading_level=1
  ) %}

    <p class="primary-cta">
      {{ fxa_button(
        entrypoint=_entrypoint,
        button_text=ftl('welcome-page3-sign-in'),
        optional_parameters={'utm_campaign': _utm_campaign, 'utm_content': 'top-cta'},
        optional_attributes={'data-cta-text': 'Sign In', 'data-cta-type': 'fxa-sync', 'data-cta-position': 'primary'}
      ) }}
    </p>
  {% endcall %}
{% endblock %}

{% block content_primary %}
  <div class="body-primary">
    <div class="c-picto-block t-adjacent-image">
      <div class="c-picto-block-image">
        <img src="{{ static('protocol/img/logos/firefox/monitor/logo.svg') }}" alt="">
      </div>

      <h3 class="c-picto-block-title">{{ ftl('welcome-page3-firefox-monitor') }}</h3>
      <div class="c-picto-block-body">
        <p>{{ ftl('welcome-page3-have-at-least-one-company') }}</p>
      </div>
    </div>

    <div class="c-picto-block t-adjacent-image">
      <div class="c-picto-block-image">
        <img src="{{ static('img/logos/fbcontainer/logo-fbcontainer.svg') }}" alt="">
      </div>
      <h3 class="c-picto-block-title">{{ ftl('welcome-page3-facebook-container') }}</h3>
      <div class="c-picto-block-body">
        <p>{{ ftl('welcome-page3-get-a-container-to-keep-facebook') }}</p>
      </div>
    </div>

    <div class="c-picto-block t-adjacent-image">
      <div class="c-picto-block-image">
        <img src="{{ static('img/icons/pocket-outline-red.svg') }}" alt="" width="64">
      </div>
      <h3 class="c-picto-block-title">{{ ftl('welcome-page3-pocket') }}</h3>
      <div class="c-picto-block-body">
        <p>{{ ftl('welcome-page3-trade-clickbait-and-fake-news') }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block secondary_cta %}
  <p class="secondary-cta">
    {{ fxa_button(
      entrypoint=_entrypoint,
      button_text=ftl('welcome-page3-sign-in'),
      optional_parameters={'utm_campaign': _utm_campaign, 'utm_content': 'bottom-cta'},
      optional_attributes={'data-cta-text': 'Sign In', 'data-cta-type': 'fxa-sync', 'data-cta-position': 'secondary'}
    ) }}
  </p>
{% endblock %}

{% block content_utility %}
  <p>
    <strong><a href="https://support.mozilla.org/kb/firefox-browser-welcome-pages/?utm_source={{ _entrypoint }}&utm_medium=referral&utm_campaign={{ _utm_campaign }}&entrypoint={{ _entrypoint }}">
      {{ ftl('welcome-page3-why-am-i-seeing-this') }}
    </a></strong>
  </p>
{% endblock %}

{% block js %}
  {{ js_bundle('fxa_product_button') }}
{% endblock %}
