{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import google_play_button, send_to_device with context %}
{% from "macros-protocol.html" import hero with context %}

{% extends "firefox/welcome/base.html" %}

{% block page_title %}{{ ftl('welcome-page5-firefox-lockwise-password') }}{% endblock %}

{% block page_image %}{{ static('protocol/img/logos/firefox/lockwise/og.png') }}{% endblock %}

{% block body_class %}{{ super() }} welcome-page5{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}
{% set android_url = lockwise_adjust_url('android', 'welcome-5') %}
{% set ios_url = lockwise_adjust_url('ios', 'welcome-5') %}

{% set _entrypoint = 'mozilla.org-firefox-welcome-5' %}
{% set _utm_campaign = 'welcome-5-lockwise' %}

{% block content_intro %}
{% call hero(
    title=ftl('welcome-page5-theres-an-easier-way-to-deal'),
    desc=ftl('welcome-page5-let-firefox-save-them-for'),
    class='mzp-t-firefox mzp-t-dark',
    include_cta=True,
    heading_level=1
  ) %}

  <p class="primary-cta">
    <button class="js-modal-link mzp-c-button mzp-t-product" data-cta-position="primary" data-cta-type="button" data-cta-text="Get the Lockwise App">
      {{ ftl('welcome-page5-get-the-lockwise-app') }}
    </button>
  </p>

  {% endcall %}

  <div id="modal" class="mzp-u-modal-content mzp-l-content">
    <h2 class="modal-title">{{ ftl('welcome-page5-get-firefox-lockwise-on-your') }}</h2>

  {% if show_send_to_device %}
    <p>{{ ftl('welcome-page5-send-the-download-link-right') }}</p>
    {{ send_to_device(include_title=False, class='vertical', message_set='lockwise-welcome-download') }}
  {% else %}
    <p>{{ ftl('welcome-page5-download-firefox-lockwise') }}</p>
    <div class="qr-code-wrapper">
      <img src="{{ static('img/firefox/welcome/welcome-qr-lockwise.png') }}" id="lockwise-qr" alt="{{ ftl('welcome-page5-scan-this-qr-code') }}">
    </div>
  {% endif %}

    <ul class="c-store-badges">
      <li class="c-store-badge-google">
        {{ google_play_button(href=android_url, id='playStoreLink') }}
      </li>
      <li class="c-store-badge-apple">
        <a id="appStoreLink" href="{{ ios_url }}" data-link-type="download" data-download-os="iOS">
          <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ ftl('download-button-download-app-store') }}" width="152" height="45">
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content_primary %}
  <div class="body-primary">
    <h2 class="body-primary-title">
      <img src="{{ static('protocol/img/logos/firefox/lockwise/logo-word-ver.svg') }}" width="208" height="" alt="{{ ftl('welcome-page5-firefox-lockwise') }}">
    </h2>
  </div>
{% endblock %}

{% block content_secondary %}
  <div class="body-secondary">
    <div class="c-picto-block t-adjacent-image">
      <div class="c-picto-block-image">
        <img src="{{ static('img/icons/key.svg') }}" alt="">
      </div>

      <h3 class="c-picto-block-title">{{ ftl('welcome-page5-sync-up-safely') }}</h3>
      <div class="c-picto-block-body">
        <p>{{ ftl('welcome-page5-with-256-bit-encryption-your') }}</p>
      </div>
    </div>

    <div class="c-picto-block t-adjacent-image">
      <div class="c-picto-block-image">
        <img src="{{ static('img/icons/password.svg') }}" alt="">
      </div>
      <h3 class="c-picto-block-title">{{ ftl('welcome-page5-no-more-making-up-new-passwords') }}</h3>
      <div class="c-picto-block-body">
        <p>{{ ftl('welcome-page5-lockwise-will-recommend-new') }}</p>
      </div>
    </div>

    <div class="c-picto-block t-adjacent-image">
      <div class="c-picto-block-image">
        <img src="{{ static('img/icons/email-alert.svg') }}" alt="">
      </div>
      <h3 class="c-picto-block-title">{{ ftl('welcome-page5-help-during-a-breach') }}</h3>
      <div class="c-picto-block-body">
        <p>{{ ftl('welcome-page5-lockwise-will-let-you-know') }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block secondary_cta %}
<p class="secondary-cta">
  <button class="js-modal-link mzp-c-button mzp-t-product" data-cta-position="secondary" data-cta-type="button" data-cta-text="Get the Lockwise App">
    {{ ftl('welcome-page5-get-the-lockwise-app') }}
  </button>
</p>
{% endblock %}

{% block content_utility %}
<p>
  <strong>
    <a href="https://support.mozilla.org/kb/firefox-browser-welcome-pages/?utm_source={{ _entrypoint }}&utm_medium=referral&utm_campaign={{ _utm_campaign }}&entrypoint={{ _entrypoint }}">
      {{ ftl('welcome-page5-why-am-i-seeing-this') }}
    </a>
  </strong>
</p>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_welcome_page5') }}
{% endblock %}
