{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import share_cta with context %}

{% extends "base-resp.html" %}

{% add_lang_files "teach/smarton/index" %}

{% block page_css %}
  <!--[if !lte IE 8]><!-->
    {% stylesheet 'smarton' %}
  <!--<![endif]-->

  <!--[if lte IE 8]>
    {% stylesheet 'smarton-ie' %}
  <![endif]-->
{% endblock %}

{% block site_header %}{% endblock %}

{# We use a localized hashtag for Spanish locales #}
{% set hashtag = ' #SéUnExperto' if LANG.startswith('es-') else ' #SmartOn' %}

{% block content %}

  {% block smarton_header %}
  <header class="smarton-header">
    <div class="content">
      {# L10n: <b> element below is for visual formatting, to distinguish the Smart On name from the rest of the text #}
      <h1 class="series-title"><a href="{{ url('teach.smarton.index') }}">{{ _('Get <b>Smart On</b> the Web') }}</a></h1>
      <p class="series-intro">
        {{ _('The SmartOn Series is like your Internet owner’s manual: the place to learn the most useful intel and tips from Mozilla policy peeps and programmers.') }}
      </p>
      <p class="series-link"><a href="{{ url('teach.smarton.index') }}" data-link-type="nav" data-link-name="See all SmartOns">{{ _('See all SmartOns') }}</a></p>
      {% if not LANG.startswith('en') %}
      <div id="tabzilla">
        <a href="{{ url('mozorg.home') }}" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
      </div>
      {% endif %}
    </div>
  </header>
  {% endblock %}

  {% block smarton_content %}{% endblock %}

  <div class="footer-cta" id="footer-cta">
    <div id="smarton-foot-newsletter" class="foot-newsletter content" data-footer-name="Newsletter signup">
      {% if LANG.startswith('en') %}
        {{ email_newsletter_form(newsletters='mozilla-foundation', title=_('Stay in control'), subtitle=_('Get tips and more from Mozilla'), button_class='button-light') }}
      {% else %}
        {{ email_newsletter_form(button_class='button-light') }}
      {% endif %}
    </div>

    <div id="smarton-foot-download" class="foot-download content" data-footer-name="Download Firefox">
      <h3 class="title">{{ _('Take back control') }}</h3>
      {{ download_firefox(dom_id="smarton-foot-download") }}
      <p class="tagline">{{ _('The non-profit browser by Mozilla') }}</p>
    </div>
  </div>

{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  <!--[if IE 9]>
    {% javascript 'matchmedia_addlistener' %}
  <![endif]-->

  <!--[if !lte IE 8]><!-->
    {% javascript 'smarton' %}
  <!--<![endif]-->
{% endblock %}

{% macro smarton_navbar(title='', share_text='', twitter_url='', googleplus_url='', facebook_url='' ) -%}
<header class="page-header">
  <div class="content">
    <div class="series-title"><a href="{{ url('teach.smarton.index') }}">{{ _('SmartOn') }}</a></div>
  {%- if title -%}
    <h1 class="page-title">{{ title }}</h1>
  {%- endif -%}

    {% set share_urls = { 'twitter': twitter_url, 'googleplus': googleplus_url, 'facebook': facebook_url } -%}
    {% set cta_text = _('Share') %}
    {{ share_cta(cta_text, share_urls, share_text, 'head-share', 'mini') }}

    <nav class="nav-steps">
      {# L10n: <b> elements below are for visual formatting, to distinguish the numeral from the text label #}
      <ol>
        <li id="nav-step-ask"><a href="#ask" data-link-type="nav" data-link-name="Ask">{{ _('<b>1.</b> Ask') }}</a></li>
        <li id="nav-step-know"><a href="#know" data-link-type="nav" data-link-name="Know">{{ _('<b>2.</b> Know') }}</a></li>
        <li id="nav-step-do"><a href="#do" data-link-type="nav" data-link-name="Do">{{ _('<b>3.</b> Do') }}</a></li>
        <li id="nav-step-chat"><a href="#chat" data-link-type="nav" data-link-name="Chat">{{ _('<b>4.</b> Chat') }}</a></li>
      </ol>
    </nav>

  </div>
</header>
{%- endmacro %}

{% block task_completion_survey %}{% endblock %}
