{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol.html" %}

{% from "macros-protocol.html" import card with context %}


{% block page_css %}
  {{ css_bundle('mozilla-stories-contentful-shared') }}
  {{ css_bundle('mozilla-stories-contentful-article') }}
{% endblock %}

<!-- Set story-specific info -->
{% set published = info.published %}
{% set title = info.title | safe %}
{% set theme = info.theme %}
{% set contributors = info.contributors %}
{% set dek = info.dek %}
{% set related = info.related %}

{% block page_title_full %}{{ title }}{% endblock %}
{% block page_desc %}{{ desc }}{% endblock %}
{% block page_og_title %}{{ title }}{% endblock %}
{% block page_og_desc %}{{ desc }}{% endblock %}

{% block html_attrs %}data-theme={% if theme %} {{ theme }} {% else %} pink {% endif %}{% endblock %}

{% block site_header %}
  {% with story = title %}
    {% include 'stories/includes/stories-article-nav.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
  <article
    class="c-stories-article"
    {% if contributors %}style="--sidebar-width: 20ch"{% endif %}
  >
    <header class="c-stories-article-header full-width">
      <div class="c-stories-article-header-wrapper">
        {% if is_featured %}<p class="is-featured">Featured Article</p>{% endif%}
        <h1>{{ title }}</h1>
        <div class="metadata">
          <p>Published<br> <time datetime="{{ published }}">{{ published }}</time></p>
          <p>Value<br> Connection</p>
      </div>
    </header>
    <div class="c-stories-article-container full-width">
      <aside class="c-stories-article-credits">
      {% if contributors %}
          <h2>Article contributors</h2>
          <p class="c-stories-article-credits-mobile">
            {% for contributor in contributors %}
              {{contributor.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
          <div>
          {% for contributor in contributors %}
            <figure>
              {% if contributor.image %}
                {{ contributor.image | external_html }}
              {% endif %}
              <figcaption>{{ contributor.name }}</figcaption>
              <figcaption>{{ contributor.position }}</figcaption>
              {% if contributor.photo_contributor %}<figcaption>{{ contributor.image_credit }}</figcaption>{% endif %}
            </figure>
          {% endfor %}
          </div>
      {% endif %}
      </aside>
      <section class="c-stories-article-content full-width">
        <p>{{ dek }}</p>
        {% for entry in entries -%}
          {{ entry.body|external_html }}
        {% endfor %}
      </section>
      <section class="c-stories-social-share">
        <ul>
          <li><a target="_blank" href="https://twitter.com/share?url=http://www.mozilla.org{{ request.path }}&text={{ title |urlencode  }}" class="twitter">Twitter</a></li>
          <li><a target="_blank" href="https://getpocket.com/save?url=http://www.mozilla.org{{ request.path }}&title={{ title |urlencode }}" class="pocket">Pocket</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url=http://www.mozilla.org{{ request.path }}" class="linkedin">LinkedIn</a></li>
        </ul>
      </section>
      {% if related %}
        <section class="c-stories-related">
            <h2>Related Stories</h2>
            <div class="c-stories-cards mzp-l-content mzp-t-content-lg mzp-l-card-half">
            {% for item in related %}
              {{ card(
                title=item.title,
                desc=item.dek,
                image=item.image,
                link_url=item.link,
                heading_level=3
              )}}
              {% endfor %}
            </div>
        </section>
      {% endif %}
    </div> <!-- .c-stories-article-container -->
  </article>
{% endblock %}

{% block js %}
  {{ js_bundle("stories-article")}}
{% endblock %}
