{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol.html" %}
{% from "stories/includes/macros.html" import stories_card with context %}
{% from "macros.html" import image with context %}



{% block page_css %}
  {{ css_bundle('mozilla-stories-article')}}
  {{ css_bundle('mozilla-stories-shared')}}
  {{ css_bundle("protocol-card")}}
{% endblock %}

{% block js %}
  {{ js_bundle("stories-article")}}
{% endblock %}

{% block article_theme %}purple{% endblock %}

{% block body_class %}theme-{{ self.article_theme() }}{% endblock %}

{% block site_header %}
  {# Bug 1438302 Avoid duplicate content for en-CA and en-GB pages. #}
  {% if LANG == 'en-CA' %}
    {% set logo_alt = ftl('navigation-v2-mozilla') + ' (CA)' %}
  {% elif LANG == 'en-GB' %}
    {% set logo_alt = ftl('navigation-v2-mozilla') + ' (UK)' %}
  {% else %}
    {% set logo_alt = ftl('navigation-v2-mozilla') %}
  {% endif %}

  <div class="c-navigation top-header-navigation mzp-is-sticky">
    <div class="c-navigation-l-content">
      <div class="c-navigation-container">
        <button class="c-navigation-menu-button" type="button" aria-controls="c-navigation-items">{{ ftl('navigation-v2-menu') }}</button>
        <div class="c-navigation-logo">
          <a href="{{ url('mozorg.home') }}" data-link-name="mozilla home icon" data-link-type="nav">
            <img class="c-navigation-logo-image" src="{{ static('protocol/img/logos/mozilla/logo-word-hor.svg') }}" alt="{{ logo_alt }}" width="112" height="32">
          </a>
        </div>

        <div class="c-navigation-items" id="c-navigation-items">
          {% include 'includes/protocol/navigation/nav-cta.html' %}
          <div class="c-navigation-menu">
            <nav class="c-menu mzp-is-basic">
              <ul class="c-menu-category-list">
                {% include 'includes/protocol/navigation/menus/firefox.html' %}
                {% include 'includes/protocol/navigation/menus/products.html' %}
                {% include 'includes/protocol/navigation/menus/whoweare.html' %}
                {% include 'includes/protocol/navigation/menus/innovation.html' %}
              </ul>
            </nav>
          </div><!-- close .c-navigation-menu -->
        </div><!-- close .c-navigation-items -->
      </div><!-- close .c-navigation-container -->
    </div><!-- close .c-navigation-l-content -->
    <nav aria-label="breadcrumb" class="mzp-c-breadcrumb mzp-is-sticky">
      <ol class="mzp-c-breadcrumb-list">
        <li class="mzp-c-breadcrumb-item"><a href="{{ url('stories.landing') }}">Stories</a></li>
        <li aria-current="page" class="mzp-c-breadcrumb-item">{{ self.article_title() }}</li>
      </ol>
    </nav>
  </div><!-- close .c-navigation -->
{% endblock %}


{% block content %}
  <article class="c-article-wrapper">
    <section class="c-stories-article-header {% if self.article_hero() %}contains-hero{% endif %}">
      <div class="c-stories-article-header-container">
        <p class="is-featured">{% if featured %}Featured Article{% endif%}
        <h1 class="c-stories-article-title">{% block article_title %}{% endblock %}</h1>
        <aside class="c-stories-article-data">
            <p class="grid-label">published</p>
            <p class="grid-label">value</p>
            <p class="grid-value">August 2nd, 2022</p>
            <p class="grid-value">{% block article_collection %}Connection{% endblock %}</p>
        </aside>
      </div>
    </section>
    <section class="c-stories-article-body {% if self.article_hero() %}contains-hero{% endif %}">
      {% block article_hero %}{% endblock %}
      <div class="c-stories-article-content">
        {% block credits %}
          <aside class="c-stories-article-credits">
            <h2>Article credits</h2>
            <div class="article-credits-wrapper">
            <figure class="c-stories-image credit">
              {{ image(
                url="img/stories/ray-fembro-credit.png",
                width=114,
                height=131,
              )}}
              <figcaption class="credit-name">Ray Fembro</figcaption>
              <figcaption class="credit-position">Product Manager</figcaption>
            </figure>
            <figure class="c-stories-image credit">
              {{ image(
                url="img/stories/jon-siddoway-credit.png",
                width=114,
                height=131,
              )}}
              <figcaption class="credit-name">John Siddoway</figcaption>
              <figcaption class="credit-position">Community Manager</figcaption>
            </figure>
            </div>
          </aside>
        {% endblock credits %}
        <h2 class="c-stories-article-subtitle">{% block article_subtitle %}{% endblock %}</h2>
        {% block article_content %}{% endblock %}
      </div>
      <section class="c-stories-social-share">
        <ul class="social-share-list">
          <li class="social-share-item"><a class="twitter">Twitter</a></li>
          <li class="social-share-item"><a class="pocket">Pocket</a></li>
        </ul>
      </section>
      {# <section class="c-stories-article-related">
        <h3>Stories in this series</h3>
        <div class="c-stories-card-wrapper">
          {{ stories_card(
            title="I see color when you say your name",
            image_url="img/stories/colorways.png",
            aspect_ratio="mzp-has-aspect-16-9",
            desc="I was working at the Daily News and arguing with my boss about headlines. I’d say we should use a different word that matches the story better. He really didn’t understand, and it was a newsroom so it could get a little contentious.",
          )}}
          {{ stories_card(
            title="Title of story",
            image_url="img/stories/colorways.png",
            aspect_ratio="mzp-has-aspect-16-9",
            desc="It is a truth universally acknowledged that a single man in posession of a good fortune, must be in want of a wife. It is a truth universally acknowledged that a single man in posession of a good fortune, must be in want of a wife."
          )}}
        </div>
        <a href="{{ url('stories.landing') }}" class="c-stories-article-view-all">View all</a> #}
      </section>
    </section>
  </article>
{% endblock %}

