// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/includes/fonts/metropolis';

#firefox-daylight-promo {
    &.c-banner {
        @include clearfix;
        background: $color-orange-70 linear-gradient(to right, #fca134, #e1294f);
        border-bottom: 1px solid rgba(0, 0, 0, .25) inset;
        color: $color-ink-80;
        position: relative;
        z-index: 3;

        // hide by default if JS is available to avoid flicker
        // (if visitor previously dismissed)
        .js & {
            display: none;
        }

        // conditional class used to display the banner.
        &.c-banner-is-visible {
            display: block;
        }
    }

    .mzp-l-content {
        padding-top: $spacing-lg;
        padding-bottom: $spacing-lg;
    }

    .c-banner-title {
        @include bidi(((padding-right, $spacing-lg, 0), (padding-left, 0, $spacing-lg),)); // make room for the close button
        @include font-firefox;
        @include font-size(24px);
    }

    @media #{$mq-md} {
        .c-banner-main {
            display: flex;
            align-items: center;
        }

        .c-banner-title {
            margin: 0;
            padding: 0;
        }

        .c-cta {
            line-height: 0;
            min-width: 180px;
            padding: 0 $spacing-xl;
        }
    }


    // Conditional content
    .hidden-on-desktop {
        display: none;
    }

    .android &,
    .ios & {
        .hidden-on-desktop {
            display: inline;
        }

        .hidden-on-mobile {
            display: none;
        }
    }

    .android & .mobile-download-buttons {
        .android {
            display: inline-block;
        }

        .ios {
            display: none;
        }
    }

    .ios & .mobile-download-buttons {
        .ios {
            display: inline-block;
        }

        .android {
            display: none;
        }
    }

    // Close button
    .c-banner-close {
        @include background-size(20px 20px);
        @include bidi((
            (right, $spacing-sm, auto),
            (left, auto, $spacing-sm),
        ));
        @include image-replaced;
        background: transparent url('#{$image-path}/icons/close.svg') center center no-repeat;
        border: none;
        cursor: pointer;
        display: none;
        height: 42px;
        min-width: 0;
        padding: 0;
        position: absolute;
        top: $spacing-sm;
        width: 42px;
        z-index: 1;

        &:hover,
        &:focus {
            @include transition(transform .1s ease-in-out);
            @include transform(scale(1.1));
        }

        &:focus {
            outline: 1px dotted $color-white;
        }

        // hide the 'Close' text
        span {
            @include visually-hidden;
        }

        // only display when JS is available
        .js & {
            display: block;
        }
    }
}
