// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import 'includes/base';

.c-banner {
    @include at2x('/media/img/banners/fundraising/fundraising-bg-blue.jpg', cover);
    background-color: #323fb2;
    background-repeat: no-repeat;
}

.c-banner-title {
    color: $color-white;
    font-weight: normal;
    line-height: 1.25em;
}

.c-banner-content {
    p {
        @include text-body-lg;
    }
}

.c-fundraiser-recurring {
    margin-bottom: $spacing-lg;

    label {
        @include text-body-lg;
        color: $color-white;
        display: inline-block;

        &:first-child {
            @include bidi((
                (margin-right, $spacing-lg, 0),
                (margin-left, 0, $spacing-lg)
            ));
        }
    }
}

.c-fundraiser-donation-options {
    margin-bottom: $spacing-sm;

    .mzp-c-button.mzp-t-secondary {
        @include text-body-lg;
        background-color: transparent;
        text-align: center;
        width: 100%;
        padding: 6px $spacing-xl;

        &:focus,
        &:hover {
            background-color: rgba(255, 255, 255, .15);
        }
    }

    label {
        @include bidi((
            (margin-right, $spacing-md, 0),
            (margin-left, 0, $spacing-md)
        ));
        display: inline-block;
        position: relative;

        &:last-child {
            @include bidi((
                (margin-right, 0, margin-left, 0),
            ));
        }
    }

    .c-fundraiser-amount-input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;

        &:checked + .mzp-c-button.mzp-t-secondary {
            background-color: rgba(255, 255, 255, .25);
            font-weight: bold;
        }
    }

    @media #{$mq-xl} {
        .mzp-c-button.mzp-t-secondary {
            width: auto;
        }
    }
}

.c-fundraiser-submit .mzp-c-button {
    @include text-body-lg;
    color: $color-blue-50;
    margin: 0;
}

@supports (display: grid) {
    .c-fundraiser-donation-options {
        display: grid;
        grid-column-gap: $spacing-lg;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);

        label {
            @include bidi((
                (margin-right, 0, 0),
                (margin-left, 0, 0)
            ));
        }

        @media #{$mq-xl} {
            grid-template: 1fr / repeat(4, 1fr);
        }
    }

    .c-fundraiser-donation-choice {
        @media #{$mq-xl} {
            display: grid;
            grid-column-gap: $spacing-xl;
            grid-template-columns: max-content 1fr;
        }
    }

    .c-fundraiser-submit .mzp-c-button {
        width: 100%;
    }
}
