// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';

#native-android-banner {
    position: relative;
    z-index: 1000; //banner shares same z-index as sticky nav.

    &.c-banner {
        background: #f2f2f2;

        // hide by default if JS is available to avoid flicker
        // (if visitor previously dismissed)
        .js & {
            display: none;
        }

        // conditional class used to display the banner.
        &.c-banner-is-visible {
            display: block;
        }
    }

    .c-banner-icon {
        border-radius: $border-radius-md;
        display: block;
        height: 57px;
        margin-right: $spacing-sm;
        width: 57px;
    }

    .c-banner-button {
        @include text-body-md;
        background-color: #68A036;
        border-radius: $border-radius-sm;
        color: $color-white;
        margin-left: auto;
        padding: $spacing-xs $spacing-md;
        text-decoration: none;
        text-transform: uppercase;
    }

    .c-banner-rating {
        padding: 1px 0;
        width: 70px;
    }

    .mzp-l-content {
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }

    .c-banner-copy {
        @include text-body-xs;
    }

    .c-banner-title {
        @include bidi(((padding-right, $spacing-lg, 0), (padding-left, 0, $spacing-lg),));
        @include text-body-md;
        color: $color-black;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }

    .c-banner-main {
        @include align-items(center);
        @include flexbox;

        p {
            margin: 0;
        }
    }
}

//native theme
#native-android-banner.t-native {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .c-banner-title {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    // Close button
    .c-banner-close {
        @include image-replaced;
        background: transparent url('#{$image-path}/icons/close.svg') center center no-repeat;
        @include background-size(15px 15px);
        border: none;
        cursor: pointer;
        display: none;
        height: 21px;
        margin-right: $spacing-sm;
        min-width: 0;
        padding: 0;
        width: 21px;
    }
}

//native dark theme
#native-android-banner.t-native.t-dark {
    &.c-banner {
        background: #3f3f3f;
        color: $color-white;
    }

    .c-banner-title {
        color: $color-white;
    }

    .c-banner-close {
        background-color: #1c1e21;
        background-image: url('#{$image-path}/icons/close-white.svg');
        border-radius: 50%;
        box-shadow: inset 0 0 1px $color-black;
        color: #adadb0;
        min-width: 24px;
    }

    .c-banner-button {
        background-color: #3db1c4;
        border: 1px solid $color-white;
        box-shadow: inset 0 0 3px 0 $color-black, 0 0 1px 1px $color-black;
        color: $color-white;
    }
}

//mozilla theme
#native-android-banner.t-mozilla {
    background: #ffd567 no-repeat center center url('https://www.mozilla.org/media/cro_exp/img/switch/NoodleBg_yellow.svg');
    @include background-size(120% auto);
    color: $color-white;
    padding-bottom: $spacing-xl;
    padding-top: $spacing-xl;

    .c-banner-main {
        display: block;
        text-align: center;

        a:link,
        a:visited {
            display: block;
        }
    }

    .c-banner-title {
        @include text-title-sm;
        color: #7542e5;
        font-weight: bold;
        line-height: 1.5;
        margin: 0 auto $spacing-lg;
        max-width: 500px;
        padding: 0;
    }

    .c-banner-close {
        @include background-size(20px 20px);
        @include bidi(((right, $spacing-sm, auto), (left, auto, $spacing-sm)));
        @include image-replaced;
        background: transparent url('#{$image-path}/icons/close.svg') center center no-repeat;
        border: none;
        cursor: pointer;
        display: none;
        height: 42px;
        min-width: 0;
        padding: 0;
        position: absolute;
        top: $spacing-sm;
        width: 42px;
    }
}

// Close button
#native-android-banner.t-native,
#native-android-banner.t-mozilla {
    .c-banner-close {
        &:hover,
        &:focus {
            @include transform(scale(1.1));
            @include transition(transform .1s ease-in-out);
        }

        &:focus {
            outline: 1px dotted $color-white;
        }

        // hide the 'Close' text
        span {
            @include visually-hidden;
        }

        // only display when JS is available
        .js & {
            display: block;
        }
    }
}


