// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';
$brand-theme: 'mozilla';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-coupon-wrapper {
    background: $color-violet-80;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2,
    h3 {
        color: $color-white;
    }

    .c-coupon-title-wrapper {
        background-color: $color-violet-40;
        color: $color-white;

        .c-coupon-title {
            @include font-size(24px);
        }
    }
}
