// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '../includes/nav';
@import '../includes/footer';
@import '../utils/variables';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.contact-info-header {
    @include text-title-md;
    font-family: $font-sans;
    font-weight: 600;
    margin-top: 0;
}

.contact-info-subheader {
    @include text-title-2xs;
    font-family: $font-sans;
    font-weight: 600;
}

.contact-info-body-text {
    color: $color-text-secondary;
    font-family: $font-sans;
    @include text-body-md;

    a {
        color: $color-text-secondary;

        &:hover,
        &:active,
        &:focus {
            color: $color-action-primary;
        }
    }
}
