// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../template.less";

#outer-wrapper {
    background: #fff;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #099cd5;
}

#masthead {
    width: 966px;
    padding: 0 55px;
}

main {
    width: 100%;
    margin: 0;

    header {
        width: 966px;
        min-height: 351px;
        margin: 0 auto;
        padding: 0 55px;
        background: url(/media/img/firefox/australis/logo-large.png) 0 40px no-repeat;
        background: url(/media/img/firefox/australis/browser.png) bottom center no-repeat,
                    url(/media/img/firefox/australis/logo-large.png) 0 40px no-repeat;
    }
}

main header,
#ui-tour-mask .mask-inner {
    h1 {
        position: relative;
        margin: 0;
        padding: 100px 0 100px 250px;
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: -2px;
        color: #fff;
        text-shadow: none;
    }
    span {
        display: block;
        font-size: 80px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

#ui-tour-mask {
    .mask-inner {
        width: 966px;
        min-height: 351px;
        margin: 45px auto 0 auto;
        padding: 0 55px;
        background: url(/media/img/firefox/australis/logo-large.png) 0 40px no-repeat;
    }
}

.cta-wrapper {
    width: 100%;
    background: #fff;

    section {
        position: relative;
        width: 946px;
        min-height: 305px;
        margin: 0 auto;
        padding: 60px 65px;

        img.dropdown {
            position: absolute;
            top: -10px;
            right: 50px;
        }

        h2 {
            color: #2aa4c6;
            font-size: 22px;
            line-height: 1.5;
            font-weight: bold;
            margin: 0 360px 32px 0;
            text-transform: uppercase;
        }

        p {
            margin-right: 350px;
            font-size: 16px;
            line-height: 1.6;
        }

        a.button,
        button {
            padding: 10px 20px;
            margin-right: 1em;
        }
    }
}

#survey-link,
#learn-more,
#give-it-a-try {
    display: none;
}

.features-wrapper {
    width: 100%;
    background: #f0f0f0;

    ul {
        list-style-type: none;
        width: 946px;
        margin: 0 auto;
        padding: 65px;
        overflow: hidden;

        li {
            display: block;
            float: left;
            width: 240px;
            margin: 0 10px 0 0;
            padding: 0 0 0 60px;

            h3 {
                margin-bottom: 10px;
                color: #626e7a;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }

            p {
                margin: 0;
            }

            &.addons {
                background: url(/media/img/firefox/australis/icon-addons.png) 0 0 no-repeat;
            }

            &.customize {
                background: url(/media/img/firefox/australis/icon-customize.png) 0 0 no-repeat;
            }

            &.bookmarks {
                background: url(/media/img/firefox/australis/icon-bookmarks.png) 0 0 no-repeat;
            }
        }
    }
}

#colophon {
    width: 946px;
    padding: 48px 65px;
}

html[dir="rtl"] {
    #tabzilla {
        float: left;
    }

    main, header,
    #ui-tour-mask .mask-inner {
        h1 {
            margin: 0;
            padding: 100px 15px 80px 250px;
        }
    }

    .cta-wrapper {
        a.button,
        button {
            display: inline-block;
            margin: 0 350px 0 1em;
        }
    }
}
