// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

#gigabit #outer-wrapper,
#about #outer-wrapper{
  background: url(/media/img/gigabit/gigabit-bg.png) no-repeat, url(/media/img/sandstone/bg-sand.png) repeat;
}

a{
  color: #588fb4;
}

.span4{
  .span(4);
}

.span5{
  .span(5);
}

.span7{
  .span(7);
}

.span8{
  .span(8);
}

.span12{
  .span(12);
}

.full-width{
  width: 100%;
}

h2,
h3,
h4{
  margin-bottom: 20px;
}

.missing-link{
  background: #F5A925;
}

#site-title{
    margin-top: 0;
}

#wordmark{
  .span-all();
  img{
    width: 120px;
  }
}

section.container{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: @gridGutterWidth;
  padding-bottom: @gridGutterWidth;
}

#apply-button{
  padding: 15px 80px;
}

#home-banner{
  background: url("/media/img/gigabit/banner-bg.png") 0 -100px no-repeat;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 70px;
  padding-left: 30px;
  width: 100%;
  color: #fff;

  h1{
    color: #fff;
    line-height: 120%;
  }

  #apply-button{
    position: relative;
    top: 120px;
    left: 30px;
  }
}


#important-dates table{
  background: #fff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px dashed #ccc;

  th {
    border-bottom: 1px dashed #ccc;
  }

  td{
    padding: 5px;
    font-size: 12px;
  }

  td:not(:last-child){
    border-bottom: 1px dashed #ccc;
  }
}

#get-involved{
  .white-box{
    overflow: hidden;
    background: #fff;
    padding: 30px 0;
    font-size: 20px;
    margin-bottom: 30px;
  }

  h4{
    font-size: 23px;
  }
}

#bsd-signup{

  input[type="submit"]{
    position: relative;
    top: 35px;
    left: 50px;
  }
}

#email-field{
    width: 100%;
  }

#cta-apply{
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;

  .span4{
    text-align: center;
  }
}

.dates{
  margin-bottom: 15px;
}

#partners{
  background: #fff;
  padding-top: 30px;
  padding-bottom: 15px;

  img{
    margin: 0 15px;
  }

  a{
    opacity: 0.5;
  }

  a:hover{
    opacity: 1;
  }
}

