// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import 'common.less';

// set nav pointer
#nav-main-fast {
    .nav-pointer();
}

#main-content .container {
    font-size: 18px;
}

#intro {
    .grainy-sky();

    h3 {
        font-size: 18px;
        text-transform: uppercase;
        .open-sans;
    }

    .lead {
        font-size: 22px;
    }
}

#cutting-edge {
    background: #43505b;
    background: url(/media/img/firefox/desktop/fast/bg-cutting-edge-knight.png) center center no-repeat,
        #43505b url(/media/img/firefox/desktop/fast/bg-cutting-edge.jpg) center center no-repeat;

    .container {
        .container-dark();

        text-align: left;
        width: 440px;
        padding-left: 480px;
        padding-right: @baseLine;
    }
}

#feel {
    background: #e9e6de;// url(/media/img/firefox/desktop/fast/bg-feel.png) bottom center no-repeat;

    .animation-wrapper {
        position: absolute;
        bottom: 0;

        .fallback {
            display: block;
        }

        .animation {
            display: none;
        }
    }
}

.cssanimations {
    #feel .animation-wrapper {
        .fallback {
            display: none;
        }

        .animation {
            display: block;
            position: relative;
            width: 919px;
            height: 304px;
            z-index: 1;

            div {
                position: absolute;
            }
        }

        #feel-browserchrome {
            top: 0;
            left: 0;
            z-index: 1;
            width: 919px;
            height: 304px;
            background: url(/media/img/firefox/desktop/fast/feel-browserchrome.png) top left no-repeat;
        }

        #feel-page1 {
            top: 100px;
            left: 5px;
            z-index: 2;
            width: 909px;
            height: 204px;
            background: url(/media/img/firefox/desktop/fast/feel-page1.png) top left no-repeat;
        }

        #feel-page2 {
            opacity: 0;
            top: 100px;
            left: 5px;
            z-index: 3;
            width: 909px;
            height: 204px;
            background: url(/media/img/firefox/desktop/fast/feel-page2.png) top left no-repeat;
        }

        //// tabs

        // tabs container is on top of the chrome
        #feel-tabs {
            z-index: 2;
            top: 11px;
            left: 65px;
            width: 600px;
            height: 35px;
            overflow: hidden;
        }

        // ids below ordered from bottom to top
        #feel-newtab-bg {
            z-index: 1;
            left: 234px;
            top: 35px;
            width: 78px;
            height: 35px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -40px no-repeat;
        }

        #feel-newtab-plus {
            z-index: 2;
            left: 267px;
            top: 11px;
            width: 12px;
            height: 12px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -80px no-repeat;
        }

        #feel-tab {
            z-index: 2;
            left: 10px;
            width: 257px;
            height: 34px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left top no-repeat;
        }

        #feel-tabclose {
            opacity: 0;
            z-index: 3;
            top: 13px;
            left: 0;
            width: 10px;
            height: 10px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -100px no-repeat;
        }

        #feel-tabclose-orange {
            opacity: 0;
            z-index: 3;
            top: 13px;
            left: 225px;
            width: 10px;
            height: 10px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) -20px -100px no-repeat;
        }

        //// awesomebar

        #feel-awesomebar {
            z-index: 4;
            top: 59px;
            left: 39px;
            width: 444px;
            height: 106px;
        }

        #feel-awesomebar-url-highlight {
            opacity: 0;
            z-index: 2;
            left: 43px;
            width: 66px;
            height: 23px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -140px no-repeat;
        }

        #feel-awesomebar-url {
            z-index: 1;
            top: 5px;
            left: 21px;
            width: 0;
            height: 14px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -120px no-repeat;
        }

        #feel-awesomebar-suggestions-highlight {
            opacity: 0;
            z-index: 2;
            top: 36px;
            left: 4px;
            width: 436px;
            height: 33px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -260px no-repeat;
        }

        #feel-awesomebar-suggestions {
            opacity: 0;
            z-index: 1;
            top: 32px;
            width: 444px;
            height: 74px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -180px no-repeat;
        }

        //// star/bookmark icons
        #feel-icons {
            z-index: 2;
        }

        .feel-star {
            opacity: 0;
            top: 60px;
            left: 697px;
            width: 21px;
            height: 20px;
        }

        #feel-star {
            opacity: 1;
            z-index: 1;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -300px no-repeat;
        }

        #feel-star-orange {
            z-index: 2;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -340px no-repeat;
        }

        #feel-star-orange-hopper {
            z-index: 2;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -340px no-repeat;
        }

        #feel-star-filled {
            z-index: 3;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -380px no-repeat;
        }

        #feel-bookmarks {
            z-index: 1;
            top: 61px;
            left: 732px;
            width: 18px;
            height: 18px;
            background: url(/media/img/firefox/desktop/fast/feel-animation-sprite.png) left -400px no-repeat;
        }
    }

    #feel .animation-wrapper.animate {
        // 1. tabs animations
        @-webkit-keyframes feel-newtab-bg-in {
            100% { top: 0; }
        }

        @-webkit-keyframes feel-newtab-bg-out {
            0% { top: 0; }
            99.9% { top: 0; }
            100% { top: 35px; }
        }

        @-webkit-keyframes feel-tabs-in {
            100% { left: 296px; }
        }

        @-webkit-keyframes feel-tabclose-in {
            100% { opacity: 1; }
        }

        @-webkit-keyframes feel-tabclose-orange {
            30% {
                opacity: 1;
            }
            50% {
                opacity: 1;
                -webkit-transform: scale3d(1.5, 1.5, 0);
            }
            99.9% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                -webkit-transform: scale3d(1.5, 1.5, 0);
            }
        }

        @-webkit-keyframes feel-tabs-out {
            0% { left: 332px; }
            100% { left: 65px; }
        }

        @-webkit-keyframes feel-tabclose-out {
            0% { opacity: 1; }
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        #feel-newtab-bg {
            @animations: feel-newtab-bg-in 0.1s ease 0s 1 normal forwards,
                         feel-newtab-bg-out 0.1s ease 1s 1 normal forwards;
            .animation(@animations);
        }

        #feel-tabs {
            @animations: feel-tabs-in 0.2s ease 1s 1 normal forwards,
                         feel-tabs-out 0.2s ease 6.1s 1 normal forwards;
            .animation(@animations);
        }

        #feel-tabclose {
            @animations: feel-tabclose-in 0.1s ease 1s 1 normal forwards,
                         feel-tabclose-out 0.1s ease 6s 1 normal forwards;
            .animation(@animations);
        }

        #feel-tabclose-orange {
            .animation(feel-tabclose-orange 0.4s ease 5.8s 1 normal forwards);
        }

        // 2. awesomebar animations
        @-webkit-keyframes feel-awesomebar-url-in {
            33% { width: 0; }
            33.1% { width: 13px; }
            66% { width: 13px; }
            66.1% { width: 22px; }
            99.9% { width: 22px; }
            100% { width: 87px; }
        }

        @-webkit-keyframes feel-awesomebar-url-highlight-in {
            99.9% { opacity: 0; }
            100% { opacity: 1; }
        }

        @-webkit-keyframes feel-awesomebar-suggestions-in {
            99.9% { opacity: 0; }
            100% { opacity: 1 }
        }

        @-webkit-keyframes feel-awesomebar-suggestions-highlight-in {
            49.9% { opacity: 0; }
            50% { opacity: 1; }
            99.9% {
                top: 36px;
                opacity: 1;
            }
            100% {
                top: 68px;
                opacity: 1;
            }
        }

        @-webkit-keyframes feel-awesomebar-suggestions-highlight-out {
            0% { opacity: 1; }
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        @-webkit-keyframes feel-awesomebar-suggestions-out {
            0% { opacity: 1; }
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        @-webkit-keyframes feel-awesomebar-url-highlight-out {
            0% { opacity: 1; }
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        @-webkit-keyframes feel-awesomebar-url-out {
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        #feel-awesomebar-url {
            @animations: feel-awesomebar-url-in 0.3s ease 1.5s 1 normal forwards,
                         feel-awesomebar-url-out 0.1s ease 6.2s 1 normal forwards;
            .animation(@animations);
        }

        #feel-awesomebar-url-highlight {
            @animations: feel-awesomebar-url-highlight-in 0.1s ease 1.7s 1 normal forwards,
                         feel-awesomebar-url-highlight-out 0.1s ease 4s 1 normal forwards;
            .animation(@animations);
        }

        #feel-awesomebar-suggestions {
            @animations: feel-awesomebar-suggestions-in 0.1s ease 1.8s 1 normal forwards,
                         feel-awesomebar-suggestions-out 0.1s ease 4s 1 normal forwards;
            .animation(@animations);
        }

        #feel-awesomebar-suggestions-highlight {
            @animations: feel-awesomebar-suggestions-highlight-in 1s ease 2s 1 normal forwards,
                         feel-awesomebar-suggestions-highlight-out 0.1s ease 4s 1 normal forwards;
            .animation(@animations);
        }

        // 3. pages animations
        @-webkit-keyframes feel-page2-in {
            99.9% { opacity: 0; }
            100% { opacity: 1; }
        }

        @-webkit-keyframes feel-page2-out {
            0% { opacity: 1; }
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        #feel-page2 {
            @animations: feel-page2-in 0.1s ease 4s 1 normal forwards,
                         feel-page2-out 0.1s ease 6.2s normal forwards;
            .animation(@animations);
        }

        // 4. icons animations
        @-webkit-keyframes feel-star-orange-in {
            99.9% { opacity: 0; }
            100% { opacity: 1; }
        }

        @-webkit-keyframes feel-star-orange-hopper-in {
            1% {
                opacity: 0.8;
            }
            100% {
                opacity: 0.8;
                left: 730px;
            }
        }

        @-webkit-keyframes feel-star-orange-hopper-out {
            0% {
                opacity: 0.8;
            }
            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes feel-bookmarks {
            50% {
                -webkit-transform: scale3d(1.2, 1.2, 0);
            }
        }

        @-webkit-keyframes feel-star-orange-out {
            0% { opacity: 1; }
            99.9% { opacity: 1; }
            100% { opacity: 0; }
        }

        @-webkit-keyframes feel-star-filled {
            1% { opacity: 1; }
            100% {
                opacity: 0;
                -webkit-transform: scale3d(0.2, 0.2, 0);
            }
        }

        #feel-star-orange {
            @animations: feel-star-orange-in 0.1s ease 4.5s 1 normal forwards,
                         feel-star-orange-out 0.1s ease 6.1s 1 normal forwards;
            .animation(@animations);
        }

        #feel-star-orange-hopper {
            @animations: feel-star-orange-hopper-in 0.2s ease-in 4.5s 1 normal forwards,
                         feel-star-orange-hopper-out 0.4s ease 4.9s 1 normal forwards;
            .animation(@animations);
        }

        #feel-bookmarks {
            .animation(feel-bookmarks 0.6s ease 4.9s 1 normal forwards);
        }

        #feel-star-filled {
            .animation(feel-star-filled 0.4s ease 6.1s 1 normal forwards);
        }
    }
}

@media (max-width: @breakDesktop) and (min-width: @breakTablet) {
    #feel {
        background-size: 700px 288px;
    }

    #cutting-edge {
        background: #43505b;
        background: url(/media/img/firefox/desktop/fast/bg-cutting-edge-knight.png) -300px center no-repeat,
            #43505b url(/media/img/firefox/desktop/fast/bg-cutting-edge.jpg) center center no-repeat;

        .container {
            width: 380px;
            padding-left: 320px;

            h2 {
                font-size: 38px;
            }
        }
    }
}

@media (max-width: @breakTablet) {
    // unset nav pointer
    #nav-main-fast:after {
        display: none;
    }

    #main-content .container {
        font-size: 16px;
    }

    #intro .lead {
        font-size: 16px;
    }

    #cutting-edge {
        background: #43505b;

        .container {
            width: @breakMobileLandscape - (@baseLine * 2);
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }

    #feel {
        background-image: none;
    }
}

@media (max-width: @breakMobileLandscape) {
    #cutting-edge .container {
        width: @breakMobile - @baseLine;
    }
}
