// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../sandstone/lib.less';
@import '../../base/menu-resp.less';

/* {{{ Template overrides */

#outer-wrapper {
    background: #fff;
}

#wrapper {
    width: 100%;
}

#masthead {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -490px;
    z-index: 3;
    padding: 0;

    nav > ul > li {
        & > a,
        & > a:link,
        & > a:visited {
            color: #fff;
        }
    }
}

#main-content {
    padding: 0;
}

/* }}} */

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#page-header {
    padding-top: 20px;
    background: @linkBlue;
    box-shadow: inset 0 12px 38px 0 rgba(0, 0, 0, 0.1),
                inset 0 -46px 0 0 #2f7bbc;

    .container {
        width: 966px;
        padding-left: 7px;
        padding-right: 7px;
    }

    h1, h2 {
        position: relative;
        color: #fff;
        text-shadow: 0 1px 0 rgba(72, 72, 72, 0.3);
        z-index: 2;
    }

    h1 {
        .font-size(54px);
        margin: 0 0 14px 0;
        padding-top: 24px;
    }

    h2 {
        .font-size(24px);
        padding: 0;
        margin: 0 0 30px 0;
    }
}

#heading-logo-wrapper {
    .clearfix();
    padding-top: 34px;
}

#page-header-logo {
    .border-box();
    float: left;
    width: 136px;
    height: 142px;
    margin: 0 @baseLine 0 0;
    overflow: hidden;
}

#page-content {
    background: #f8f8f8;
    padding: 0 0 48px 0;
}

#tips-nav-direct {
    width: 826px;
    height: 40px;
    margin: 0;
    overflow: hidden;
    .clearfix();

    li {
        float: left;
        width: 180px;
        height: 40px;
        margin-left: -20px;
        display: table;

        &:first-child {
            margin-left: 0;
        }

        a {
            height: 40px;
            width: 120px;
            background: url('/media/img/firefox/desktop/tips/sprite-tabs.png') left -84px no-repeat;
            text-align: center;
            color: #fff;
            .font-size(@smallFontSize);
            text-transform: uppercase;
            line-height: 1.2;
            padding: 0 30px;
            display: table-cell;
            vertical-align: middle;

            &:hover {
                background-position: left top;
                text-decoration: none;
            }

            &.selected {
                background-position: left -42px;
                color: @textColorSecondary;
            }
        }
    }
}

#main-nav-wrapper {
    .clearfix();

    // override default styles for nav bar integration
    .mozilla-share-cta {
        &.mini {
            float: left;

            h3 {
                padding: 13px 10px;
            }

            ul li a:before {
                line-height: 40px;
            }
        }

        &.sky {
            color: #fff;

            h3 {
                color: #fff;
            }

            ul li a {
                color: #fff;
            }
        }
    }
}

html[lang^='en'] #tips-nav-direct li a span:after {
    content: '.';
}

#tips-nav-prev-next {
    display: none;
}

#tips-wrapper {
    padding-top: 50px;
}

.tip {
    position: relative;
    z-index: 1;
    margin-bottom: @baseLine * 2;

    .clearfix();
}

.tip-copy {
    float: right;
    width: 300px - (@baseLine * 2);
    margin-left: 40px;
    padding: 30px @baseLine 0;
    text-align: center;
    .font-size(@largeFontSize);
    line-height: 1.6;
    color: @textColorTertiary;
    .open-sans-light();

    h3 {
        .font-size(30px);
    }

    hr {
        width: 140px;
        margin: 0 auto @baseLine;
    }

    h4 {
        .font-size(20px);
    }

    strong {
        color: #ff7200;
    }

    a {
        display: block;
        margin: @baseLine 0;
        .trailing-arrow();
    }
}

.tip-media {
    position: relative;
    float: left;
    width: 600px;
    height: 500px;
    z-index: 1;
    overflow: hidden;

    // inner rounded shadows
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        width: 20px;
        height: 60%;
        bottom: 20%;
        top: 20%;
        left: -20px;
        border-radius: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        width: 20px;
        height: 60%;
        bottom: 20%;
        top: 20%;
        right: -20px;
        border-radius: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.ordinal {
    display: block;
    width: 46px;
    height: 46px;
    margin: 0 auto 30px;
    background: #ff7200;
    color: #fff;
    .open-sans-light();
    .font-size(34px);
    line-height: 46px;
    border-radius: 50%;
    text-align: center;
}

#page-footer {
    background: #fff;
}

#footer {
    .clearfix();
    padding-top: @baseLine * 2;
}

#footer-download {
    float: left;
    width: 470px;

    .fx-privacy-link {
        a:link,
        a:visited {
            color: @linkBlue;
        }
    }
}

#footer-share {
    float: left;
    width: 450px;
    margin-right: @baseLine;

    p {
        margin-bottom: @baseLine / 2;
    }
}

#footer-mobile {
    display: none;
}

.js {
    #tips-nav-prev-next {
        display: block;
        position: absolute;
        right: 20px;
        top: 95px;
        z-index: 2;
        width: 300px;

        button {
            .transition(color .2s ease);
            .link-button();

            &.tip-prev {
                float: left;
                .leading-arrow();
            }

            &.tip-next {
                float: right;
                text-align: right;
                .trailing-arrow();
            }

            &:disabled {
                opacity: 0.5;
                color: #ccc;
                cursor: default;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #tips-nav-dots {
        display: none;
    }

    #tips-wrapper {
        min-height: 500px;
    }

    .tip {
        margin-bottom: 0;
    }

    #page-content {
        visibility: hidden;
    }
}

/* {{{ RTL overrides */

html[dir='rtl'] {
    #page-header-logo {
        float: right;
        margin-right: 0;
        margin-left: @baseLine;
    }

    #main-nav-wrapper .mozilla-share-cta.mini {
        float: right;
    }

    #tips-nav-direct {
        float: left;

        li {
            float: right;
            margin-left: 0;
            margin-right: -20px;

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .tip-copy {
        float: left;
        margin-left: 0;
        margin-right: @baseLine * 2;
    }

    .tip-media {
        float: right;
    }

    &.js {
        #tips-nav-prev-next {
            right: auto;
            left: 20px;

            button {
                &.tip-prev {
                    float: right;
                }

                &.tip-next {
                    float: left;
                }
            }
        }
    }
}

/* }}} */

/****************************************************************************/
// @High resolution images for @retina-type displays
// Desktop
@media (-webkit-min-device-pixel-ratio: 1.5),
       (                min-resolution: 1.5dppx),
       (                min-resolution: 144dpi) {

        #tips-nav-direct li a {
            background-image: url('/media/img/firefox/desktop/tips/sprite-tabs-high-res.png');
            background-size: 180px 84px;
        }
}

/****************************************************************************/
// @Tablet Layout: 760px
@media (max-width: @breakDesktop) and (min-width: @breakTablet) {
    #main-content {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #masthead {
        padding: 0;
        margin-left: -380px;
    }

    #page-header {
        box-shadow: inset 0 12px 38px 0 rgba(0, 0, 0, 0.1),
                    inset 0 -40px 0 0 #2f7bbc;

        .container {
            width: @breakTablet - (@baseLine * 2);
            padding-left: 20px;
            padding-right: 20px;
        }

        h1 {
            .font-size(44px);
        }

        h2 {
            .font-size(22px);
        }

        #main-nav-wrapper {
            margin: -20px 156px 0 0;
        }
    }

    .container {
        width: @breakTablet - (@baseLine * 2);
    }

    #tips-nav-direct {
        display: none;
    }

    .tip-copy {
        width: 220px;
        margin-left: @baseLine * 2;
        padding: 0;
        .font-size(@baseFontSize);
        line-height: 1.4;

        h3 {
            .font-size(24px);
        }
    }

    .tip-media {
        width: 460px;
        height: 385px;
    }

    #footer-download,
    #footer-share {
        width: 350px;
    }

    .js {
        #tips-nav-prev-next {
            width: 220px;
            top: 44px;

            button {
                width: 60px;
                height: 60px;
                background-image: url('/media/img/firefox/desktop/tips/sprite-arrows.png');
                background-repeat: no-repeat;
                overflow: hidden;
                .image-replaced();

                &.inactive {
                    opacity: .4;
                }

                &.tip-prev {
                    background-position: left top;
                }

                &.tip-next {
                    background-position: -60px top;
                }
            }
        }

        #tips-wrapper {
            min-height: 385px;
        }
    }

    html[dir='rtl'] {
        &.js #tips-nav-prev-next button {
            &.tip-prev {
                background-position: -60px top;
            }

            &.tip-next {
                background-position: left top;
            }
        }
    }
}

/****************************************************************************/
// @High resolution images for @retina-type displays
// Tablet
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) and (                min-resolution: 1.5dppx),
       only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) and (                min-resolution: 144dpi) {

    .js #tips-nav-prev-next button {
        background-image: url('/media/img/firefox/desktop/tips/sprite-arrows-high-res.png');
        background-size: 120px 60px;
    }
}

/****************************************************************************/
// @Wide mobile Layout: 480px
@media (max-width: @breakTablet) {
    #wrapper {
        padding-bottom: @baseLine;
    }

    #main-content {
        padding-top: 0;
    }

    #masthead {
        padding-bottom: 0;
        margin-left: -220px;

        nav > ul > li {
            & > a,
            & > a:link,
            & > a:visited {
                color: @textColorSecondary;
            }
        }

        .container {
            padding-bottom: 0;
        }
    }

    #page-header {
        box-shadow: inset 0 12px 38px 0 rgba(0, 0, 0, 0.1),
                    inset 0 -16px 0 0 #2f7bbc;

        h1 {
            .font-size(30px);
            padding-top: 30px;
        }

        h2 {
            .font-size(20px);
            margin: 0 0 10px 0;
        }

        .container {
            width: @breakMobileLandscape - (@baseLine * 2);
            padding: 0 10px 20px;
        }
    }

    #page-header-logo {
        margin-top: 18px;
        padding-left: 0;
        background: none;
    }

    #page-content {
        padding-bottom: 20px;
    }

    .container {
        width: @breakMobileLandscape - (@baseLine * 2);
    }

    #tips-nav-direct {
        display: none;
    }

    #tips-wrapper {
        padding-top: 30px;
    }

    .tip-copy {
        float: none;
        width: 440px;
        margin: 0;
        padding: 0;
        .font-size(@baseFontSize);
        line-height: 1.4;

        h3 {
            .font-size(24px);
        }
    }

    .tip-copy-how {
        display: none;
    }

    .tip-media {
        float: none;
        width: 400px;
        height: 335px;
        margin: 0 auto;
    }

    #footer {
        padding: @baseLine 0 0;
    }

    #footer-download, #footer-share {
        display: none;
    }

    #footer-mobile {
        display: block;
        .clearfix();

        li {
            .border-box();
            float: left;
            width: 50%;
            padding: 0 (@baseLine / 2);
            margin: 0;
            text-align: center;
            list-style-type: none;
        }

        a {
            .trailing-arrow();
        }
    }

    .mozilla-share-cta {
        display: none;
    }

    .js {
        #tips-nav-prev-next {
            width: 440px;
            top: 20px;
            left: 10px;
            right: auto;

            button {
                width: 60px;
                height: 60px;
                background-image: url('/media/img/firefox/desktop/tips/sprite-arrows.png');
                background-repeat: no-repeat;
                overflow: hidden;
                .image-replaced();

                &.inactive {
                    opacity: .4;
                }

                &.tip-prev {
                    background-position: left top;
                }

                &.tip-next {
                    background-position: -60px top;
                }
            }
        }

        #tips-nav-dots {
            display: block;
            position: absolute;
            width: 200px;
            overflow: hidden;
            margin: 12px 120px 0;
            .clearfix();

            span {
                display: block;
                float: left;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: lighten(#dfe5e8, 2%);
                color: lighten(#dfe5e8, 2%);
                margin: 10px 10px 0;
                text-align: center;
                .font-size(1px);
                .transition(all .2s ease);

                &.active {
                    width: 36px;
                    height: 36px;
                    background: #ff7200;
                    color: #fff;
                    .open-sans-light();
                    .font-size(24px);
                    line-height: 36px;
                    margin-top: 0;
                }
            }
        }

        #tips-wrapper {
            min-height: 500px;
        }

        .ordinal {
            display: none;
        }

        .tip-copy {
            padding: 68px 0 0;
        }
    }

    html[dir='rtl'] {
        .tip-media {
            float: none;
        }

        .tip-copy {
            float: none;
            margin: 0;
        }

        #heading-logo-wrapper {
            padding-top: 45px;

            .heading-group {
                margin-right: 155px;
            }
        }

        &.js {
            #tips-nav-prev-next {
                left: 10px;
                right: auto;

                button {
                    &.tip-prev {
                        background-position: -60px top;
                    }

                    &.tip-next {
                        background-position: left top;
                    }
                }
            }

            #tips-nav-dots span {
                float: right;
            }
        }
    }
}

/****************************************************************************/
// @High resolution images for @retina-type displays
// Tablet
@media only screen and (max-width: @breakTablet) and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (max-width: @breakTablet) and (                min-resolution: 1.5dppx),
       only screen and (max-width: @breakTablet) and (                min-resolution: 144dpi) {

    .js #tips-nav-prev-next button {
        background-image: url('/media/img/firefox/desktop/tips/sprite-arrows-high-res.png');
        background-size: 120px 60px;
    }
}

@media (max-width: @breakMobileLandscape) {
    #main-content, #masthead {
        padding-left: 0;
        padding-right: 0;
    }

    #masthead {
        margin-left: -160px;
    }

    #page-header {
        width: 100%;
        box-shadow: inset 0 12px 38px 0 rgba(0, 0, 0, 0.1),
                    inset 0 -8px 6px -4px #2f7bbc;
        padding-bottom: 0;
        overflow: hidden;

        h1, h2 {
            margin-left: 0;
            text-align: center;
        }

        .container {
            width: @breakMobile - @baseLine;
            padding-bottom: 0;
        }
    }

    .container {
        width: @breakMobile - @baseLine;
    }

    #page-header-logo {
        position: absolute;
        opacity: .5;
        width: 300px;
        height: 312px;
        padding-left: 300px;
        left: 50%;
        top: auto;
        bottom: -228px;
        margin-left: -150px;
        background: url('/media/img/firefox/template/logo-large-high-res.png') left top no-repeat;
        background-size: 300px 312px;
        .animation(phoenix 2s ease 1.3s 1 normal forwards);
    }

    .tip-copy {
        width: 300px;
    }

    .tip-media {
        width: 300px;
        height: 250px;
    }

    .js {
        #tips-nav-prev-next {
            width: 300px;
            top: 24px;
            left: 10px;
            right: auto;
        }

        #tips-nav-dots {
            width: 150px;
            margin: 12px 75px 0;

            span {
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        #tips-wrapper {
            min-height: 420px;
        }
    }

    html[dir='rtl'] {
        #page-header-logo {
            float: none;
            margin: 0 0 0 -150px;
        }

        #heading-logo-wrapper .heading-group {
            margin-right: 0;
        }
    }
}

@-webkit-keyframes phoenix {
    50% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
        opacity: .6;
    }
    70% {
        opacity: .8;
    }
    100% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
        opacity: .5;
    }
}

@keyframes phoenix {
    40% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
        opacity: .6;
    }
    70% {
        opacity: .8;
    }
    100% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
        opacity: .5;
    }
}
