// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';


#fundraiser-close {
    background: rgba(0, 0, 0, .05) url('/media/img/notification/close-dark.svg') center center no-repeat;
    background-size: 20px 20px;
    border: none;
    border-radius: 50%;
    display: none;
    height: 35px;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: background-color 0.2s ease;
    width: 35px;

    &:focus,
    &:hover {
        background-color: rgba(0, 0, 0, .15);
    }

    // hide the 'Close' text
    span {
        @include visually-hidden;
    }

    // only display when JS is available
    .js & {
        display: block;
    }
}

.fundraiser-fieldset {
    margin-bottom: 20px;
}

#fundraiser {
    background: #fff;
    color: #000;
    padding: 45px 20px;
    border-bottom: 2px solid #ccc;

    // hide by default if JS is available to avoid flicker
    // (if visitor previously dismissed)
    .js & {
        display: none;
    }

    h1 {
        @include font-size-level2;
        color: #000;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .button {
        @include font-size-level5;
        color: #000;
        transition: border-color 0.2s ease, background-color 0.2s ease;
    }

    .content-wrapper {
        @include clearfix;
        margin: 0 auto;
        max-width: $width-desktop-wide;
        padding: 10px 0;
        position: relative;

        @media #{$mq-tablet} {
            padding: 10px 40px;
        }

        @media #{$mq-desktop} {
            padding: 10px 0;
        }
    }

    .donate-radio {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;

        & + .button {
            background: #fff;
            border-color: #e6e6e6;

            &:hover {
                border-color: $color-brand-neonblue;
            }
        }

        &:focus + .button {
            border-color: $color-brand-neonblue;
        }

        &:checked + .button {
            background: transparentize($color-brand-neonblue, .8);
            border-color: $color-brand-neonblue;
            font-weight: bold;
        }
    }

    .button[type="submit"] {
        background: $color-brand-neonblue;
        border-color: $color-brand-neonblue;
        display: block;
        font-weight: bold;

        &:hover {
            border-color: darken($color-brand-neonblue, 5%);
        }

        @media #{$mq-tablet} {
            display: inline-block;
        }
    }
}


#fundraiser-recurring label:first-child {
    margin-right: 20px;
}

#fundraiser-options {
    label {
        display: inline-block;
        margin: 0 .4em .4em 0;
        position: relative;
    }

    @media #{$mq-tablet} {
        display: inline;
        margin: 0 1em 0 0;
    }
}


@media #{$mq-desktop} {
    #fundraiser-headline {
        float: left;
        width: 50%;

        h1 {
            margin: 0 60px .5em 64px;
        }
    }

    #fundraiser-content {
        float: left;
        padding-top: 4px;
        width: 50%;

        p {
            margin-bottom: 2em;
        }
    }
}


html[dir="rtl"] {
    #fundraiser-close {
        left: 15px;
        right: auto;
    }

    #fundraiser-recurring label:first-child {
        margin-left: 20px;
        margin-right: 0;
    }

    #fundraiser-options {
        label:first-child {
            margin-left: .2em;
            margin-right: 0;
        }
    }

    @media #{$mq-desktop} {
        #fundraiser-content {
            float: right;
        }

        #fundraiser-headline {
            float: right;
        }

        // Override the above for the home page takeover
        #home {
            #fundraiser-content,
            #fundraiser-headline {
                float: none;
            }

            #fundraiser-headline h1 {
                padding: 0;
            }
        }

        #fundraiser-options {
            margin-left: 1em;
            margin-right: 0;
        }
    }
}

// Embiggen on the home page.
#home #fundraiser {
    min-height: 65vh;

    .content-wrapper {
        margin: 5vh auto 0;
        max-width: $width-tablet;
    }

    @media #{$mq-desktop} {
        padding: 10vh 0;

        #fundraiser-headline {
            width: auto;
            float: none;

            h1 {
                margin: 0 0 1em;
                width: auto;
            }
        }

        #fundraiser-content {
            width: auto;
            float: none;
        }
    }
}
