// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';

.c-fundraiser {
    @include clearfix;
    @include at2x('/media/img/home/fundraiser2018/background-hearts.png', 125px, 200px);
    background-color: $color-black;
    background-position: center center;
    color: $color-white;
    padding: $spacing-md 0 0;

    // hide by default if JS is available to avoid flicker
    // (if visitor previously dismissed)
    .js & {
        display: none;
    }

    .mzp-c-button.mzp-t-dark {
        @include border-box;
        @include text-cta;
        @include transition(background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms);
        background-color: $color-white;
        border-radius: 2px;
        border: 2px solid $color-white;
        color: $color-black;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        padding: ($padding-md - 2px) ($padding-xl - 2px); //2px extra padding removed to compensate for 2px border.
        text-decoration: none;

        &:focus,
        &:hover {
            @include transform(translate(-2px, -2px));
            background-color: $color-black;
            box-shadow: 4px 4px 0 0 $color-white;
            color: $color-white;
        }

        &.mzp-t-secondary {
            background-color: transparent;
            color: $color-white;
        }
    }
}

.c-fundraiser-title {
    @include text-display-lg;
    font-weight: normal;
    margin-bottom: $spacing-lg;
}

.c-fundraiser-amount-input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;

    &:checked + .mzp-c-button.mzp-t-secondary {
        background-color: $color-gray-70;
        font-weight: bold;
    }
}

.c-fundraiser-recurring {
    margin-bottom: $spacing-lg;

    label {
        display: inline-block;

        &:first-child {
            @include bidi(((margin-right, $spacing-lg, 0),(margin-left, 0, $spacing-lg)));
        }
    }
}

.c-fundraiser-options {
    label {
        @include bidi(((margin, 0 $spacing-sm $spacing-md 0, 0 0 $spacing-md $spacing-sm),));
        @include open-sans;
        display: inline-block;
        position: relative;

        &:first-child {
            @include bidi(((margin-left, 0, $spacing-sm),(margin-right, $spacing-sm, 0)));
        }
    }

    @media #{$mq-md} {
        @include bidi(((margin-right, $spacing-md, 0),(margin-left, 0, $spacing-md)));
        display: inline-block;
    }
}

// Close button
.c-fundraiser-close {
    @include image-replaced;
    @include bidi(((right, $spacing-sm, auto), (left, auto, $spacing-sm)));
    background: transparent url('#{$image-path}/icons/ui/close-white.svg') center center no-repeat;
    @include background-size(16px 16px);
    border: none;
    display: none;
    height: 42px;
    min-width: 0;
    padding: 0;
    position: absolute;
    top: $spacing-sm;
    width: 42px;
    z-index: 1;

    &:hover,
    &:focus {
        @include transition(transform .1s ease-in-out);
        @include transform(scale(1.1));
    }

    &:focus {
        outline: 1px dotted $color-white;
    }

    // hide the 'Close' text
    span {
        @include visually-hidden;
    }

    // only display when JS is available
    .js & {
        display: block;
    }
}

@media #{$mq-lg} {
    .c-fundraiser {
        padding-bottom: $spacing-md;
    }

    .c-fundraiser-title {
        @include bidi(((float, left, right),(padding-right, $spacing-lg, 0), (padding-left, 0, $spacing-lg)));
        @include grid-half;
        margin-bottom: 0;
    }

    .c-fundraiser-content {
        @include bidi(((float, right, left),));
        @include grid-half;
    }
}
