// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../hubs/buttons';

body {
    @include open-sans;
    border-top: 0;
}

h2,
h3 {
    @include zilla-slab;
}

// hide download button in the nav
#global-nav-download-firefox {
    display: none;
}

// adjust nav spacing to use space freed up by hiding the dl button
@media #{$mq-tablet} {
    .moz-global-nav .nav-primary-links {
        width: calc(100% - 110px);
    }
}

@media #{$mq-desktop} {
    .moz-global-nav .nav-primary-links {
        width: calc(100% - 220px);
    }
}

main {
    overflow: hidden;
}


// *** INTRO *** //
#intro {
    background: #e6d4e0 url('/media/img/home/2016/b/hero-bg-mobile.jpg') center center no-repeat;
    color: #000;
    position: relative;

    h2,
    h3 {
        @include border-box;
        margin: 0 auto;
    }

    .content {
        display: block;
        padding: 40px 20px;
        position: relative;
        width: 100%;
        z-index: 2;
    }

    h2 {
        @include font-size-level1;
        margin-bottom: 30px;
    }

    h3 {
        @include font-size-level4;
        @include open-sans;
        line-height: 1.3;
    }

    @media #{$mq-tablet} {
        background-image: url('/media/img/home/2016/b/hero-bg-desktop.jpg');
        background-position: center center;
    }

    @media #{$mq-desktop-wide} {
        .content {
            max-width: $width-max-content;
        }
    }
}

#intro-mozilla {
    margin-bottom: 60px;
}

#intro-promo-content-wrapper {
    background: #fff;
    padding: 20px;

    h2 {
        position: relative;

        &:before {
            @include at2x('/media/img/logos/firefox/logo-small.png', 80px, 80px);
            content: '';
            display: block;
            height: 80px;
            margin-bottom: 10px;
            width: 80px;
        }
    }

    .fx-privacy-link a {
        color: #000;
    }

    // hide all promos by default
    .show-default,
    .show-fx-signed-out,
    .show-fx-signed-in,
    .show-fx-mobile {
        display: none;
    }

    // Show promo for current variation
    &.state-fx-signed-in  .show-fx-signed-in,
    &.state-fx-signed-out .show-fx-signed-out,
    &.state-fx-mobile     .show-fx-mobile,
    &.state-default       .show-default {
        display: block;
    }

    @media #{$mq-tablet} {
        h2 {
            padding-right: 100px;

            &:before {
                content: none;
            }

            &:after {
                @include at2x('/media/img/logos/firefox/logo-small.png', 80px, 80px);
                content: '';
                display: inline-block;
                height: 80px;
                margin-top: -40px;
                position: absolute;
                top: 50%;
                right: 0;
                width: 80px;
            }
        }
    }
}

@media #{$mq-desktop} {
    #intro-wrapper:after {
        @include clearfix;
    }

    #intro-mozilla,
    #intro-promo {
        float: left;
        position: relative;
        width: 50%;
    }

    #intro-mozilla {
        margin-bottom: 0;
        padding: 0;
    }

    #intro-promo {
        @include border-box;
        padding: 0 20px;
    }

    #intro-promo-content-wrapper {
        padding: 0;
    }

    .intro-content {
        padding: 40px;
    }
}

// *** IMPACT/INNOVATE *** //
.section-content {
    @include border-box;
    min-width: $width-phone;
    padding: 10px 20px 20px;

    .section-headline {
        @include font-size-level2;
        margin-bottom: 20px;
    }

    p {
        padding-bottom: 20px;
    }

    @media #{$mq-tablet} {
        padding: 10px 40px 20px;
    }
}

#impact-innovate-wrapper {
    margin: 0 auto;
    padding: 40px 0 20px;

    @media #{$mq-tablet} {
        padding: 80px 0;
    }

    @media #{$mq-desktop-wide} {
        max-width: $width-max-content;
    }
}

// two column faux table layout for wider viewports
@media #{$mq-tablet} {
    #impact-innovate-wrapper {
        display: table;
        padding-bottom: 80px;
    }

    #impact,
    #innovate {
        display: table-cell;
        width: 50%;
    }

    #impact {
        @include border-box;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
}

// icon links
.icon-links {
    margin: 20px 0;
    width: 100%;

    li {
        margin-bottom: 20px;
    }

    a {
        @include trailing-arrow;
        color: #000;
        display: inline-block;
        font-weight: bold;
        padding-right: 10%;
        position: relative;
        text-decoration: none;

        &:focus,
        &:hover {
            color: #000;
            text-decoration: underline;
        }

        &:after {
            @include transition(right 150ms cubic-bezier(.3, -0.5, .6, 1.5));
            background: url('/media/img/hubs/cta-arrow-black.svg') 0 0 no-repeat;
            @include background-size(14px);
            bottom: calc(50% - 6px);
            content: '';
            display: inline-block;
            height: 14px;
            margin-left: 20px;
            position: absolute;
            right: 0;
            width: 14px;
        }

        &:hover:after,
        &:focus:after {
            right: -4px;
        }
    }

    .icon {
        display: none;
    }

    @media #{$mq-tablet} {
        width: 80%;

        li {
            margin: 30px 0 20px;
            min-height: 40px;
            position: relative;
        }

        a {
            display: block;
            padding-left: 60px;
            padding-right: 30px;

            &:after {
                bottom: 50%;
                display: block;
                margin-left: 0;
                position: absolute;
                right: 0;
            }

            &:hover:before,
            &:focus:before {
                @include transform(scale(1.15));
                @include transform-origin(50% 50%);
            }
        }

        .icon {
            display: inline-block;
            height: 45px;
            left: 0;
            padding: 5px 5px 0 0;
            position: absolute;
            top: -12px;
            width: 45px;

            svg path,
            svg rect {
                fill: inherit;
            }
        }
    }

    @media #{$mq-desktop} {
        width: 80%;
    }

    @media #{$mq-desktop-wide} {
        width: 65%;
    }
}

#icon-sprite {
    display: none;
}

// Externals (Add-ons, careers, support)
.section-externals {
    .content {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0 20px;
        min-width: 280px;
    }

    ul {
        @include clearfix;
        padding: 40px 0;
        position: relative;

        li {
            margin: 0 auto 30px;
        }
    }

    h3 {
        @include font-size-level3;
        color: $color-text-secondary;
        margin-bottom: 0.8rem;
        padding-top: 120px;
        position: relative;

        &:before {
            @include at2x('/media/img/home/2016/b/externals-sprite.png', 100px, 300px);
            background-repeat: no-repeat;
            content: '';
            height: 100px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100px;
        }
    }

    a {
        color: #000;
        display: block;
        text-decoration: none;

        &.add-ons h3:before {
            background-position: left top;
        }
        &.careers h3:before {
            background-position: left -100px;
        }
        &.help h3:before {
            background-position: left -200px;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;

            h3 {
                text-decoration: underline;
            }
        }
    }

    p {
        color: $color-text-secondary;
    }

    @media #{$mq-tablet} {
        .content {
            width: auto;
        }

        a {
            padding: 0 20px;
        }

        ul {
            padding-top: 60px;

            li {
                float: left;
                width: 33.3%;
                margin: 0;
            }
        }
    }

    @media #{$mq-desktop-wide} {
        .content {
            margin: 0 auto;
            max-width: $width-max-content;
        }
    }
}


// Newsletter
#newsletter-subscribe.section-newsletter {
    background-color: #D3C3DC; // IE 9 fallback
    @include gradient-horizontal($start-color: #D3C3DC, $end-color: #ECC5D7);
    color: #000;
    margin: 0;

    .newsletter-form,
    .form-title,
    .form-contents {
        @include clearfix;
        float: none;
        margin: 0 auto;
    }

    .newsletter-form .form-submit {
        margin: 0;
    }

    .form-title {
        @include background-size(100px, 100px);
        background-position: left top;
        margin-top: 0;
        padding-left: 0;
        padding-top: 120px;

        h3 {
            @include font-size-level3;
            color: #000;
        }

        h4 {
            @include font-size-level4;
            color: #000;
            font-weight: normal;
            line-height: 1.5;
            text-align: left;
        }
    }

    .form-contents {
        .field {
            margin: 0 0 1em;
        }

        .field-format label,
        .field-privacy label {
            @include open-sans;
        }
    }

    select {
        width: 100%;
    }

    a {
        color: #000;
    }

    .errorlist {
        padding: 10px;
    }

    #newsletter-form-thankyou {
        color: #000;
        padding: 0;

        h3 {
            color: #000;
        }
    }

    button.form-button.button-light {
        color: #000;
        border-color: #000;
    }
}

#home #newsletter-subscribe h3 {
    text-align: left;
}

.js #form-details {
    @include hidden;
}

@media #{$mq-tablet} {
    #newsletter-subscribe.section-newsletter .newsletter-form {
        padding-left: 380px;
        width: 310px;

        .form-title {
            @include background-size(120px 120px);
            @include border-box;
            background-position: left top;
            float: left;
            margin-left: -380px;
            padding: 10px 0 0 140px;
            width: 350px;

            h3,
            h4 {
                text-align: left;
            }
        }

        .form-contents,
        .form-submit {
            @include border-box;
            float: left;
            margin: 0;
            width: 100%;
        }
    }
}
