// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/card';
@import '../../pebbles/components/modal';
@import '../../hubs/sections';
@import '../../hubs/masthead';
@import '../../hubs/nav-download-button-remove';
@import 'newsletter';

$callout-blue: #0060df;

/* -------------------------------------------------------------------------- */
// Common elements.

body {
    @include font-size(16px);
    @include open-sans;
}

main {
    h1, h2, h3, h4, h5, h6 {
        @include zilla-slab;
    }
}

.moz-global-nav {
    z-index: 3;
}

/* -------------------------------------------------------------------------- */
// Shared primary and sticky cta styles

.primary-wrapper {
    color: #fff;
    position: relative;
    text-align: center;

    h2, h3 {
        @include open-sans;
    }

    p {
        margin-bottom: 0;
    }

    .download-link:link {
        padding: 6px 30px;
    }

    .fx-privacy-link {
        display: none;
    }
}

.primary-title {
    @include font-size(18px);
    background: url('/media/img/logos/firefox/logo-quantum.png') top center no-repeat; //image is 189x189, no need for retina mq when displaying at 40px
    background-size: 40px 40px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 8px;
    padding-top: 40px;
}

.primary-title-sub {
    @include font-size(24px);
    margin-bottom: 10px;
}

@media #{$mq-tablet} {
    .primary-wrapper {
        padding-bottom: 40px;
    }

    .primary-title {
        background-position: top left;
        margin-bottom: 40px;
        padding-left: 60px;
        padding-top: 0;
        text-align: left;
    }

    .primary-title-sub {
        @include font-size(36px);
    }
}

// Primary cta styles

.download-firefox-primary-cta {
    background-color: $callout-blue;
    position: relative;
    z-index: 2;
}

#download-primary {
    margin-top: 25px;
}

@media #{$mq-tablet} {
    #download-primary {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;

        .no-js & {
            // no-js HTML is a list of 7 buttons, they need more space and can't be absolutely positioned
            position: static;
            margin-top: 20px;
        }
    }
}


@media #{$mq-desktop} {
    .download-firefox-primary-cta {
        border-top: 100px solid #fff;
        position: relative;
        top: -100px;
        margin-bottom: -100px;
    }
}

// Sticky cta styles

.download-firefox-sticky-cta {
    background-color: $callout-blue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .no-js & {
        // no-js HTML is a list of 7 buttons, not enough space in sticky cta for that
        display: none;
    }

    .content {
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .primary-title {
        height: 0;
        left: -6px;
        margin-bottom: 0;
        overflow: hidden;
        position: absolute;
        top: -4px;
        width: 40px;
    }

    .primary-title-sub {
        display: none;
    }

    .primary-desc-sub {
        display: none;
    }

    .download-link:link {
        padding: 2px 15px;
    }

    .download-list {
        margin-bottom: 0;
    }
}

.sticky-dismiss {
    background: transparent;
    border: none;
    bottom: 0;
    cursor: pointer;
    overflow: hidden;
    padding: 0 0 0 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;

    &:after {
        @include font-size(17px);
        color: #fff;
        content: '×';
        display: block;
        left: 0;
        line-height: 32px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }
}

@media #{$mq-tablet} {
    .download-firefox-sticky-cta {
        .primary-title {
            float: left;
            height: 40px;
            position: static;
            width: 0;
        }

        .primary-title-sub {
            @include font-size(18px);
            display: block;
            float: left;
            line-height: 40px;
            margin-bottom: 0;
            padding-right: 10px;
            text-align: left;
        }

        .download-link:link {
            padding: 6px 30px;
        }
    }

    #download-sticky {
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .sticky-dismiss {
        right: -60px;

        &:after {
            line-height: 40px;
            text-align: left;
        }
    }
}

@media #{$mq-desktop} {
    .download-firefox-sticky-cta {
        .primary-desc-sub {
            display: block;
            float: left;
            line-height: 40px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Pocket highlights section.

.pocket {
    background: #f5f5f5;
    margin: 20px 0;

    .section-heading {
        @include font-size(18px);
        @include open-sans;
        margin-bottom: 10px;
    }

    .tagline {
        color: #676767;

        a:link,
        a:visited {
            color: inherit;
        }

        a:hover,
        a:active,
        a:focus {
            color: #000;
        }
    }

    .card-title {
        @include open-sans;
    }

    @media #{$mq-tablet} {
        margin: 20px 0 60px;
        padding-top: 20px;
    }
}

/* -------------------------------------------------------------------------- */
// Secondary Firefox CTA section.


.download-firefox-secondary-cta {
    background-color: $callout-blue;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2;

    h2 {
        @include open-sans;
    }

    p {
        margin-bottom: 0;
    }
}

.secondary-title {
    @include font-size(24px);
    background: url('/media/img/logos/firefox/logo-quantum.png') center 35px no-repeat; //image is 189x189, no need for retina mq when displaying at 80px
    background-size: 80px 80px;
    margin-bottom: 25px;
    padding-top: 155px;
}

#download-secondary {
    margin-bottom: 25px;
    margin-top: 25px;

        .download-link {
            padding: 6px 30px;
        }
}

@media #{$mq-tablet} {
    .secondary-content {
        text-align: left;
        width: 410px;
    }

    .secondary-title {
        @include font-size(36px);
        background-position: left 43px;
        margin-bottom: 10px;
    }

    #download-secondary {
        margin-top: 15px;
    }

    .download-firefox-secondary-cta {
        min-height: 460px;

        &:before {
            background: url('/media/img/home/2018/browser.png') top left / contain no-repeat;
            content: '';
            display: block;
            height: 596px;
            width: 970px;
            position: absolute;
            top: 55px;
            left: 495px;

            @media #{$mq-high-res} {
                background-image: url('/media/img/home/2018/browser-high-res.png');
            }
        }
    }
}

@media #{$mq-desktop-wide} {
    .download-firefox-secondary-cta {
        &:before {
            left: calc(50% - 208px);
        }
    }
}


/* -------------------------------------------------------------------------- */
// Custom modal styles.

#modal > .window > .inner {
    background: rgba(0, 0, 0, .9);
    max-width: 1190px;
    padding: 30px;

    header {
        @include font-size-level4;
        background: rgba(0, 0, 0, .9);
        color: #fff;
        font-weight: bold;
        margin: 0;
        padding: 0 60px 0 0;
    }

    video {
        display: block;
        height: auto;
        margin: 0 auto 30px;
        max-height: 680px;
        width: 100%;
    }

    figcaption p {
        @include font-size(18px);
        color: #fff;

        a:link,
        a:visited {
            color: #fff;
        }

        a:hover,
        a:focus,
        a:active {
            color: darken(#fff, 5%);
        }
    }

    #modal-close .button {
        border: none;
    }

    @media #{$mq-desktop} {
        figcaption p {
            max-width: 66%;
        }
    }
}
