// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import 'home.scss';

#icon-sprite {
    display: none;
}

#who-innovate-wrapper {
    h2 {
        @include font-size(32px);
    }

    .icon-links {
        a {
            @include trailing-arrow;
            font-weight: bold;
            text-decoration: none;

            &:after {
                @include transition(right 150ms cubic-bezier(.30, -0.5, .60, 1.5));
                position: relative;
                right: 0;
            }

            &:hover:after,
            &:focus:after {
                right: -4px;
            }
        }

        .icon {
            display: none;
        }
    }

    #who {
        a:before {
            background-color: #d93a33;
        }

        a:link,
        a:visited {
            color: #d93a33;
        }

        .icon use {
            fill: #fff;
        }
    }

    #innovate {
        a:before {
            background-color: #fff;
        }

        .icon use {
            fill: #d93a33;
        }
    }
}

@media #{$mq-tablet} {
    .js .variant-b {
        .icon-links li {
            @include transition(opacity 600ms ease-in-out);
            opacity: .25;

            &.visible {
                opacity: 1;
            }
        }
    }

    #who-innovate-wrapper .icon-links {
        li {
            margin: 30px 0;
            position: relative;
        }

        a {
            &:before {
                @include transition(transform 150ms cubic-bezier(.30, -0.5, .60, 1.5));
                background-image: none;
                border-radius: 50%;
                content: '';
                display: block;
                height: 55px;
                left: -25px;
                position: absolute;
                top: -12px;
                width: 55px;
            }

            &:hover:before,
            &:focus:before {
                @include transform(scale(1.15));
                @include transform-origin(50% 50%);
            }
        }

        .icon {
            border-radius: 50%;
            display: inline-block;
            height: 45px;
            left: -25px;
            padding: 5px;
            position: absolute;
            top: -12px;
            width: 45px;

            svg path,
            svg rect {
                fill: inherit;
            }
        }
    }
}
