// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";
@import "home-grid.less";

@font-face {
    font-family: 'FA-Icons-Home';
    src: url('/media/fonts/icons-home.eot?12-2014#iefix') format('embedded-opentype'),
         url('/media/fonts/icons-home.woff?12-2014') format('woff'),
         url('/media/fonts/icons-home.ttf?12-2014') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.promo-grid-wrapper {
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 0;
    overflow: hidden;
}

.promo-grid-inner {
    position:relative;
    width: @widthSquareGrid_6 - (@gridGutterWidth * 2);
    margin: 0 auto;
    padding: @baseLine 0 0;
    z-index: 1;
}

.faces-grid-inner {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 100%;
    margin-left: -(@widthSquareGrid_8 - (@gridGutterWidth * 2)) / 2;
    width: @widthSquareGrid_8 - (@gridGutterWidth * 2);
    overflow: hidden;
    z-index: -1;
    background: #fff;
}

.promo-grid {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 1280px;
    .clearfix();

    .item {
        background: #bbb;
        position: absolute;
        margin: 0 @baseLine @baseLine 0;
        padding: 0;
        color: #fff;
        overflow: hidden;
        opacity: 1;
    }

    #promo-1 {
        top: 0;
        left: 0;
    }

    #promo-2  {
        top: 0;
        left: 320px;
    }

    #promo-3  {
        top: 160px;
        left: 320px;
    }

    #promo-4  {
        top: 160px;
        left: 640px;
    }

    #promo-5 {
        top: 0;
        left: 640px;
    }

    #promo-6 {
        top: 320px;
        left: 320px;
    }

    #promo-7 {
        top: 480px;
        left: 0;
    }

    #promo-8 {
        top: 640px;
        left: 0px;
    }

    #promo-9 {
        top: 640px;
        left: 320px;
    }

    #promo-10 {
        top: 640px;
        left: 640px;
    }

    #promo-11 {
        top: 800px;
        left: 0;
    }

    #promo-12 {
        top: 1120px;
        left: 0;
    }

    #promo-13 {
        top: 1120px;
        left: 160px;
    }

    #promo-14 {
        top: 1120px;
        left: 320px;
    }

    #promo-15 {
        top: 1120px;
        left: 480px;
    }

    #promo-16 {
        top: 1120px;
        left: 640px;
    }
}

.promo-large-landscape,
.promo-large-portrait {
    z-index: 0;
    // promote large promo tiles to their own layer
    .transform(translateZ(0));

    a.panel-link {
        display: block;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid transparent;
        overflow: hidden;
        -webkit-transition: border .3s ease-in-out, visibility 0s .3s ease-in-out;
                transition: border .3s ease-in-out, visibility 0s .3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            cursor: pointer;
        }

        &:focus p.more {
            border-color: #fff;
        }

        z-index: 2;
    }

    .primary {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .3s .3s ease-in-out, visibility 0s .3s ease-in-out;
                transition: opacity .3s .3s ease-in-out, visibility 0s .3s ease-in-out;
    }

    .secondary {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        text-align: center;
        -webkit-transition: opacity .3s ease-in-out, visibility 0s .3s ease-in-out;
                transition: opacity .3s ease-in-out, visibility 0s .3s ease-in-out;
    }

    &.show {

        a.panel-link {
            visibility: visible;
            border: 5px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: border .3s ease-in-out, visibility 0s 0s ease-in-out;
                    transition: border .3s ease-in-out, visibility 0s 0s ease-in-out;
        }

        .primary {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: opacity .3s ease-in-out, visibility 0s .3s ease-in-out;
                    transition: opacity .3s ease-in-out, visibility 0s .3s ease-in-out;
        }

        .secondary {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity .3s .3s ease-in-out, visibility 0s .3s ease-in-out;
                    transition: opacity .3s .3s ease-in-out, visibility 0s .3s ease-in-out;
        }
    }

    h2 {
        position: relative;
        padding: (@baseLine * 4) @baseLine 0 @baseLine;
        .open-sans;
        .font-size(40px);
        text-align: center;
        line-height: 1.1;
        letter-spacing: -1px;

        &.go:after {
            position: absolute;
            bottom: -60px;
            left: 50%;
            width: 38px;
            height: 38px;
            margin-left: -20px;
            font-family: 'FA-Icons-Home';
            .font-size(34px);
            text-indent: 2px;
            content: '\f101';
            border: 2px solid #fff;
            border-radius: 100%;
            line-height: 38px;
            color: #fff;
            opacity: 0.6;
        }
    }

    h3 {
        padding: (@baseLine * 2) @baseLine 0 @baseLine;
        margin-bottom: @baseLine * 1.5;
        .open-sans;
        .font-size(29px);
        text-align: center;
        line-height: 1.3;
        letter-spacing: -1px;
    }

    p.more {
        display: inline-block;
        min-width: 80px;
        margin: 0 @baseLine;
        padding: (@baseLine / 2) @baseLine;
        color: #fff;
        .font-size(@baseFontSize);
        text-transform: uppercase;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 7px;
        .transition(border-color .2s ease-in-out);

        &:hover {
            border-color: #fff;
        }
    }
}

html[lang|="en"] {
    .promo-large-landscape,
    .promo-large-portrait {
        h3 {
            .font-size(32px);
        }
    }
}

.no-js {
    .promo-large-landscape,
    .promo-large-portrait {

        a.panel-link {
            visibility: visible;

            &:hover,
            &:focus {
                border: 5px solid rgba(0, 0, 0, 0.1);
            }
        }

        .primary {
            opacity: 0;
            visibility: hidden;
        }

        .secondary {
            opacity: 1;
            visibility: visible;
        }
    }
}

.promo-grid.has-touch {
    .promo-large-landscape,
    .promo-large-portrait {
        z-index: 0;

        a.panel-link {
            .transition(border .3s ease-in-out);
        }

        .primary {
            .transition(opacity .3s ease-in-out);

            &.fadeout {
                opacity: 0;
            }
        }

        .secondary {
            .transition(opacity .3s ease-in-out);

            &.fadein {
                opacity: 1;
            }
        }

        &.show-touch {
            a.panel-link {
                border: 5px solid rgba(0, 0, 0, 0.1);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.promo-large-portrait {
    position: relative;
    width: 300px;
    height: 460px;

    h3 {
        padding: (@baseLine * 3) @baseLine 0 @baseLine;
    }
}

.promo-large-landscape {
    position: relative;
    width: 620px;
    height: 300px;
}

.promo-small-landscape {
    position: relative;
    width: 300px;
    height: 140px;
    overflow: hidden;

    h2 {
        margin: 0;
        .font-size(22px);
        line-height: 1.3;
        letter-spacing: 0;
        color: #fff;
        text-shadow: none;
        .open-sans;
    }

    a.panel-link {
        display: block;
        width: 290px;
        height: 130px;
        color: #fff;
        border: 5px solid transparent;
        overflow: hidden;
        .transition(border .3s ease-in-out);
    }

    a.panel-link:hover,
    a.panel-link:active,
    a.panel-link:focus {
        text-decoration: none;
        border: 5px solid rgba(0, 0, 0, 0.1);
        h2 {
            text-decoration: underline;
        }
    }
}


/****************************************************************************/
// User Stories and Mozillian Faces

.promo-face {
    position: relative;
    width: 140px;
    height: 140px;
    z-index: 0;

    a {
        display: block;
        width: 130px;
        height: 130px;
        border: 5px solid transparent;
        .transition(border .3s ease-in-out);
        .image-replaced();
        cursor: pointer;

        &:hover,
        &:focus {
            border: 5px solid rgba(0, 0, 0, 0.2);
        }
        z-index: 2;
    }

    .face-outer {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 140px;
        overflow: hidden;
        z-index: -1;
    }

    .face {
        width: 100%;
        height: 100%;
        background-image: none;
        background-position: top left;
        background-repeat: no-repeat;

        &.face-01 { background-position: 0 0; }
        &.face-02 { background-position: 0 -142px; }
        &.face-03 { background-position: 0 -284px; }
        &.face-04 { background-position: 0 -426px; }
        &.face-05 { background-position: 0 -568px; }
        &.face-06 { background-position: 0 -710px; }
        &.face-07 { background-position: 0 -852px; }
        &.face-08 { background-position: 0 -994px; }
        &.face-09 { background-position: 0 -1136px; }
        &.face-10 { background-position: 0 -1278px; }
        &.face-11 { background-position: 0 -1420px; }
    }
}

/****************************************************************************/
// Firefox Download
.promo-small-landscape.firefox-download {
    background: #6fbe4a;

    h2 {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 55%;
        text-align: center;
        -webkit-transition: left .3s ease-in-out, right .3s ease-in-out;
                transition: left .3s ease-in-out, right .3s ease-in-out;

        &.go:after {
            position: absolute;
            bottom: -48px;
            left: 50%;
            width: 38px;
            height: 38px;
            margin-left: -20px;
            font-family: 'FA-Icons-Home';
            .font-size(30px);
            content: '\f103';
            border: 2px solid #fff;
            border-radius: 100%;
            opacity: 0.6;
        }
    }

    &.show {
        h2 {
            left: -300px;
        }

        img {
            right: -200px;
        }

        .secondary {
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility .3s 0s ease-in-out, opacity .3s .3s ease-in-out;
                    transition: visibility .3s 0s ease-in-out, opacity .3s .3s ease-in-out;
        }
    }

    img {
        position: absolute;
        top: -10px;
        right: -65px;
        .transition(right .3s ease-in-out);
    }

    .primary {
        position: relative;
        padding: @baseLine;
    }

    .secondary {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        height: 100px;
        padding: 15px;
        text-align: center;
        border: 5px solid rgba(0, 0, 0, 0.1);
        opacity: 0;
        -webkit-transition: visibility 0s .3s ease-in-out, opacity .3s 0s ease-in-out;
                transition: visibility 0s .3s ease-in-out, opacity .3s 0s ease-in-out;

        .download-link {
            background: transparent;
            filter: none;
            border: 2px solid #91d239;
            border-radius: 10px;
            box-shadow: none;

            .download-content {
                padding: @baseLine;
            }

            .download-subtitle {
                .font-size(@baseFontSize);
                margin: 0;
                text-align: center;
                text-shadow: none;
                text-transform: uppercase;
            }

            &:hover,
            &:focus {
                border-color: #fff;
            }
        }

        .download-other {
            margin-top: 11px;
            .font-size(10px);
            text-align: center;
            color: #4c781c;

            a:link,
            a:visited {
                color: #4c781c;
                .transition(color .1s ease-in-out);
            }

            a:active,
            a:hover,
            a:focus {
                color: #fff;
            }

            &.download-other-desktop {
                display: block !important;

                /* unless we're in iOS or Android */
                .ios &,
                .android & {
                    display: none !important;
                }
            }
        }

        .ios-download,
        .linux-arm-download,
        .unsupported-download {
            color: #4c781c;

            a:link,
            a:visited {
                color: #fff;
            }

            a:active,
            a:hover,
            a:focus {
                text-decoration: underline;
            }
        }

        .download-dumb {
            .download-heading {
                text-align: center;
            }
            ul {
                margin-top: 10px;
                text-align: center;
            }
            .button-green {
                font-weight: normal;
                background: none;
                box-shadow: none;
                padding: 0;
                margin: 0 .5em;
                min-width: 0;
                text-align: left;
                color: #4c781c;
                text-shadow: none;

                &:link,
                &:visited {
                    color: #4c781c;
                    .transition(color .1s ease-in-out);
                }

                &:hover,
                &:focus {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }

        .fxos-link {
            display: none;
            min-width: 180px;
            border: 2px solid #91d239;
            border-radius: 10px;
            padding: 10px;
            margin-top: 15px;
            .transition(border .2s ease-in-out);

            &:link,
            &:visited {
                color: #fff;
            }

            &:hover,
            &:focus {
                border: 2px solid #fff;
                text-decoration: none;
            }
        }
    }
}

// Show appropriate other links for the OS
.android .promo-small-landscape.firefox-download .download-other.os_android,
.ios .promo-small-landscape.firefox-download .download-other.os_ios {
    display: block !important;
}

.html-rtl {
    .promo-small-landscape.firefox-download {
        h2 {
            left: auto;
            right: 125px;
        }

        &.show {
            h2 {
                left: auto;
                right: 300px;
            }
        }
    }
}

.fxos.js {
    .promo-small-landscape.firefox-download {
        .fxos-link {
            display: inline-block;
        }

        .download-other.download-other-desktop {
            display: none !important;
        }
    }
}

html[lang|="en"] {
    .promo-small-landscape.firefox-download {
        .secondary .download-link .download-subtitle {
            .font-size(18px);
        }
        .secondary .os_android .download-link .download-subtitle,
        .secondary .os_ios .download-link .download-subtitle {
            .font-size(@baseFontSize);
        }
    }
}

.no-js {
    .promo-small-landscape.firefox-download {
        .primary {
            display: none;
        }

        .secondary {
            opacity: 1;
            visibility: visible;
            border: 5px solid transparent;
            .transition(border .3s ease-in-out);

            &:hover,
            &:focus {
                border: 5px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.promo-grid.has-touch {
    .promo-small-landscape.firefox-download {
        &.show-touch {

            .primary.out {
                h2 {
                    left: -300px;
                }

                img {
                    right: -200px;
                }
            }

            .secondary {
                -webkit-transition: border .3s ease-in-out, opacity .3s ease-in-out;
                        transition: border .3s ease-in-out, opacity .3s ease-in-out;

                &.fadein {
                    opacity: 1;
                }
            }
        }
    }
}


/****************************************************************************/
// Advocacy
.promo-small-landscape.advocacy {
    background-color: #b7bad6; // lavender
    background-image: url(/media/img/home/voices/promos/advocacy/advocacy-logo.png);
    background-position: 15px 20px;
    background-repeat: no-repeat;
    .background-size(100px, 100px);

    h2 {
        padding: 20px 10px 10px 125px;
        .font-size(16px);
    }
}

[lang|='en'] {
    .promo-small-landscape.advocacy h2 {
        .font-size(22px);
    }
}


/****************************************************************************/
// Volunteer
.promo-small-landscape.volunteer {
    background: #0ad url(/media/img/home/voices/promos/volunteer/volunteer.png) 15px 25px no-repeat;
    .background-size(100px, 86px);

    h2 {
        padding: 10px 10px 10px 125px;
    }
}

html[lang|="en"] {
    .promo-small-landscape.volunteer {
        h2 {
            padding: 34px @baseLine @baseLine 135px;
        }
    }
}


/****************************************************************************/
// Webmaker

.promo-small-landscape.introducing-webmaker {
    background: #0ad; // bright blue

    h2 {
        padding: 30px 20px 20px 140px;
        min-height: 64px;
        background: url(/media/img/home/voices/promos/webmaker/webmaker-logo.svg) 15px 15px no-repeat;
        .background-size(100px, 100px);
        .font-size(18px);
    }
}

html[lang|="en"] {
    .promo-small-landscape.introducing-webmaker {
        h2 {
            padding-top: 25px;
            .font-size(20px);
        }
    }
}


/****************************************************************************/
// Support
.promo-large-landscape.support {
    background: #6FBE4A; // green

    h2 {
        padding: 100px @baseLine 0 @baseLine;
        margin-top: @baseLine * 2;
        background-image: url(/media/img/home/voices/promos/sumo/sumo.png);
        background-position: top center;
        background-repeat: no-repeat;
        .background-size(94px, 94px);
    }
}


/***************************************************************************/
// SmartOn Tracking
.promo-small-landscape.smarton-tracking {

    background-color: #821c76;

    h2 {
        .at2x('/media/img/home/voices/promos/smarton/smarton-tracking.png', 95px, 95px);
        background-repeat: no-repeat;
        background-position: left center;
        margin: @baseLine 10px 0;
        padding: 15px 0 @baseLine 110px;
        min-height: 60px;
        .font-size(@largeFontSize);
    }
}

[lang|="en"] {
    .promo-small-landscape.smarton-tracking {
        h2 {
            .font-size(22px);
        }
    }
}

.html-rtl {
    .promo-small-landscape.smarton-tracking {
        h2 {
            background-position: right center;
            padding: 15px 110px @baseLine 0;
            text-align: right;
        }
    }
}



/****************************************************************************/
// Gear
.promo-large-landscape.gear {
    background: #6FBE4A; // green

    h2 {
        padding: 100px @baseLine 0 @baseLine;
        margin-top: 25px;
        background-image: url(/media/img/home/voices/promos/gear/gear.png);
        background-position: top center;
        background-repeat: no-repeat;
        .background-size(75px, 80px);
    }

    h3 {
        padding-top: 70px;
    }
}

.promo-small-landscape.gear {
    background-color: #95368c; // purple

    h2 {
        padding: @baseLine @baseLine @baseLine 120px;
        min-height: 80px;
        background-image: url(/media/img/home/voices/promos/gear/gear.png);
        background-position: 15px 25px;
        background-repeat: no-repeat;
        .background-size(75px, 80px);
        .font-size(16px);
    }
}

[lang|='en'] {
    .promo-small-landscape.gear h2 {
        .font-size(22px);
    }
}


/****************************************************************************/
// Firefox Desktop
.promo-large-portrait.firefox-desktop {
    background: #00af84;

    h2 {
        padding: 110px @baseLine 0 @baseLine;
        margin-top: @baseLine * 2;
        background-image: url(/media/img/home/voices/promos/firefox/firefox-logo.png);
        background-position: top center;
        background-repeat: no-repeat;
        .background-size(101px, 98px);
    }
}

html[lang|="en"] {
    .promo-large-portrait.firefox-desktop {
        h3 {
            padding: (@baseLine * 5) @baseLine 0 @baseLine;
        }
    }
}


/****************************************************************************/
// MDN 10th Anniversary
.promo-large-landscape.mdn-10-years {
    background: #00659a; // dark blue

    h2 {
        padding-top: 145px;
        background: url(/media/img/home/voices/promos/mdn10/logo-mdn10.svg) center 40px no-repeat;
    }
}

html[lang|="en"] {
    .promo-large-landscape.mdn-10-years {
        h3 {
            padding: (@baseLine * 3) @baseLine 0 @baseLine;
        }
    }
}

/****************************************************************************/
// Firefox iOS
.promo-large-portrait.firefox-ios {
    background: #e55525; // orange

    h2 {
        padding-top: 180px;
        background: url(/media/img/home/voices/promos/ios/icon-ios.svg) center 50px no-repeat;
    }

    p.more {
        text-transform: none;
    }
}

html[lang|="en"] {
    .promo-large-portrait.firefox-ios {
        h3 {
            padding-top: @baseLine * 4;
        }
    }
}


/****************************************************************************/
// Firefox Developer Edition
.promo-large-portrait.firefox-developer {
    background: #e55525; // orange

    h2 {
        padding-top: 155px;
        background: url(/media/img/home/voices/promos/firefoxdev/firefoxdev.png) center 35px no-repeat;
    }
}


/****************************************************************************/
// Private Browsing
.promo-large-portrait.private-browsing {
    background: #5f6065; // dark gray

    h2 {
        padding-top: 155px;
        background: url(/media/img/home/voices/promos/private-browsing/private-browsing.svg) center 45px no-repeat;
    }

    h3 {
        margin-top: @baseLine * 2;
    }
}


/****************************************************************************/
// Twitter
.promo-small-landscape.twt {
    width: 300px;
    height: 140px;
    background-color: #5b88c6;

    &:hover,
    &:focus {
        .twt-container {
            border: 5px solid rgba(0, 0, 0, 0.1);
        }
    }

    .twt-container {
        position: relative;
        width: 260px;
        height: 100px;
        padding: 15px;
        border: 5px solid transparent;
        .transition(border .3s ease-in-out);
    }

    .twt-text {
        position: relative;
        float: right;
        width: 200px;
        height: 7.5em;
        margin: 0;
        padding: 0;
        .open-sans;
        color: #fff;
        .font-size(@baseFontSize);
        line-height: 1.5;
        overflow: hidden;
        word-wrap: break-word;

        a:link,
        a:visited {
            color: #fff;
        }

        a:hover,
        a:active,
        a:focus {
            text-decoration: underline;
        }

        .ellipsis {
            display: none;
            cursor: help;
        }

        .ellipsis:after {
          content: '…';
          color: #fff;
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: auto;
          height: 1.5em;
          background-color: #5b88c6;
        }
    }

    .twt-actions {
        position: relative;
        float: left;
        width: 40px;
        height: 110px;
        margin-right: @baseLine;
    }

    .twt-account {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        .font-size(0);

        &:before {
            font-family: 'FA-Icons-Home';
            .font-size(27px);
            content: '\f099'; // twitter
            position: absolute;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            border: 2px solid #fff;
            border-radius: 100%;
            text-indent: 7px;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .twt-reply {
        display: block;
        position: absolute;
        top: 52px;
        left: 0;
        width: 40px;
        height: 20px;
        .font-size(0);

        &:before {
            position: absolute;
            top: 0;
            left: 12px;
            width: 40px;
            height: 20px;
            font-family: 'FA-Icons-Home';
            .font-size(@baseFontSize);
            content: '\f112'; // reply
            color: #fff;
            opacity: 0.5;
            .transition(opacity .2s ease-in-out);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            &:before {
                opacity: 1;
            }
        }
    }

    .twt-rt {
        display: block;
        position: absolute;
        top: 82px;
        left: 0;
        width: 40px;
        height: 20px;
        .font-size(0);

        &:before {
            position: absolute;
            top: 0;
            left: 12px;
            width: 40px;
            height: 20px;
            font-family: 'FA-Icons-Home';
            .font-size(@baseFontSize);
            content: '\f079'; // retweet
            color: #fff;
            opacity: 0.5;
            .transition(opacity .2s ease-in-out);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            &:before {
                opacity: 1;
            }
        }
    }
}



/****************************************************************************/
// @Widescreen styles
// Progressively show extra columns of faces either side of the main grid
// for wider viewports
@media only screen and (min-width: @widthSquareGrid_18) {

    .faces-grid-inner {
        margin-left: -(@widthSquareGrid_18 - (@gridGutterWidth * 2)) / 2;
        width: @widthSquareGrid_18 - (@gridGutterWidth * 2);
    }
}

@media only screen and (min-width: @widthSquareGrid_16) and (max-width: (@widthSquareGrid_18 - 1)) {

    .faces-grid-inner {
        margin-left: -(@widthSquareGrid_18 - (@gridGutterWidth * 2)) / 2;
        width: @widthSquareGrid_18 - (@gridGutterWidth * 2);
    }
}

@media only screen and (min-width: @widthSquareGrid_14) and (max-width: (@widthSquareGrid_16 - 1)) {

    .faces-grid-inner {
        margin-left: -(@widthSquareGrid_16 - (@gridGutterWidth * 2)) / 2;
        width: @widthSquareGrid_16 - (@gridGutterWidth * 2);
    }
}

@media only screen and (min-width: @widthSquareGrid_12) and (max-width: (@widthSquareGrid_14 - 1)) {

    .faces-grid-inner {
        margin-left: -(@widthSquareGrid_14 - (@gridGutterWidth * 2)) / 2;
        width: @widthSquareGrid_14 - (@gridGutterWidth * 2);
    }
}

@media only screen and (min-width: @widthSquareGrid_10) and (max-width: (@widthSquareGrid_12 - 1)) {

    .faces-grid-inner {
        margin-left: -(@widthSquareGrid_12 - (@gridGutterWidth * 2)) / 2;
        width: @widthSquareGrid_12 - (@gridGutterWidth * 2);
    }
}

@media only screen and (min-width: @widthSquareGrid_8) and (max-width: (@widthSquareGrid_10 - 1)) {

    .faces-grid-inner {
        margin-left: -(@widthSquareGrid_10 - (@gridGutterWidth * 2)) / 2;
        width: @widthSquareGrid_10 - (@gridGutterWidth * 2);
    }
}

@media only screen and (min-width: (@widthSquareGrid_8)) {
    .promo-grid-inner {
        width: @widthSquareGrid_8 - (@gridGutterWidth * 2);
    }

    .promo-grid {
        height: 960px;
        #promo-1 {
            top: 0;
            left: 0;
        }

        #promo-2  {
            top: 0;
            left: 320px;
        }

        #promo-3  {
            top: 0;
            left: 640px;
        }

        #promo-4  {
            top: 0;
            left: 800px;
        }

        #promo-5 {
            top: 0;
            left: 960px;
        }

        #promo-6 {
            top: 160px;
            left: 320px;
        }

        #promo-7 {
            top: 160px;
            left: 960px;
        }

        #promo-8 {
            top: 320px;
            left: 960px;
        }

        #promo-9 {
            top: 480px;
            left: 0;
        }

        #promo-10 {
            top: 480px;
            left: 320px;
        }

        #promo-11 {
            top: 480px;
            left: 640px;
        }

        #promo-12 {
            top: 640px;
            left: 0;
        }

        #promo-13 {
            top: 640px;
            left: 160px;
        }

        #promo-14 {
            top: 800px;
            left: 0px;
        }

        #promo-15 {
            top: 800px;
            left: 640px;
        }

        #promo-16 {
            top: 800px;
            left: 800px;
        }
    }
}

/****************************************************************************/
// @Medium screen styles
// One extra column of faces either side of the main content grid
@media only screen and (min-width: @widthSquareGrid_7) and (max-width: (@widthSquareGrid_8 - 1)) {

    .promo-grid-inner {
        width: @widthSquareGrid_6 - (@gridGutterWidth * 2);
    }

    .faces-grid-inner {
        width: @widthSquareGrid_8 - (@gridGutterWidth * 2);
        margin-left: -(@widthSquareGrid_8 - (@gridGutterWidth * 2)) / 2;
    }
}

@media only screen and (max-width: (@widthSquareGrid_6 - 1)) {

    .promo-large-landscape {
        width: @widthSquareGrid_2 - (@gridGutterWidth * 2);
        height: 460px;

        h3 {
            padding: (@baseLine * 3) @baseLine 0 @baseLine;
        }
    }
}

@media only screen and (min-width: @widthSquareGrid_4) and (max-width: (@widthSquareGrid_6 - 1)) {

    .promo-grid-inner {
        width: @widthSquareGrid_4 - (@gridGutterWidth * 2);
    }

    .promo-grid {
        height: 1600px;
        #promo-1 {
            top: 0;
            left: 0;
        }

        #promo-2  {
            top: 160px;
            left: 320px;
        }

        #promo-3  {
            top: 320px;
            left: 320px;
        }

        #promo-4  {
            top: 320px;
            left: 480px;
        }

        #promo-5 {
            top: 0;
            left: 320px;
        }

        #promo-6 {
            top: 480px;
            left: 0;
        }

        #promo-7 {
            top: 480px;
            left: 320px;
        }

        #promo-8 {
            top: 640px;
            left: 320px;
        }

        #promo-9 {
            top: 800px;
            left: 320px;
        }

        #promo-10 {
            top: 960px;
            left: 0;
        }

        #promo-11 {
            top: 960px;
            left: 320px;
        }

        #promo-12 {
            top: 1440px;
            left: 0;
        }

        #promo-13 {
            top: 1440px;
            left: 160px;
        }

        #promo-14 {
            top: 1440px;
            left: 320px;
        }

        #promo-15 {
            top: 1440px;
            left: 480px;
        }

        #promo-16 {
            top: 1600px;
            left: 0;
        }

        &.has-twitter-promo {
            height: 1760px;
        }
    }

    .faces-grid-inner {
        width: @widthSquareGrid_6 - (@gridGutterWidth * 2);
        margin-left: -(@widthSquareGrid_6 - (@gridGutterWidth * 2)) / 2;
    }

}

@media only screen and (min-width: (@widthSquareGrid_4)) {
    .promo-face .face {
        background-image: url(/media/img/home/voices/faces-color-sprite.jpg);
    }
}

@media only screen and (max-width: (@widthSquareGrid_4 - 1)) {

    .promo-grid-inner {
        width: @widthSquareGrid_2 - (@gridGutterWidth * 2);
    }

    .promo-grid {
        height: 2560px;
        #promo-1 {
            top: 160px;
            left: 0;
        }

        #promo-2  {
            top: 640px;
            left: 0;
        }

        #promo-3  {
            display: none;
            top: 800px;
            left: 0;
        }

        #promo-4  {
            display: none;
            top: 800px;
            left: 0;
        }

        #promo-5 {
            top: 0;
            left: 0;
        }

        #promo-6 {
            top: 800px;
            left: 0;
        }

        #promo-7 {
            display: none;
            top: 1280px;
            left: 0;
        }

        #promo-8 {
            top: 1280px;
            left: 0;
        }

        #promo-9 {
            top: 1440px;
            left: 0;
        }

        #promo-10 {
            top: 1600px;
            left: 0;
        }

        #promo-11 {
            top: 2080px;
            left: 0;
        }

        #promo-12 {
            display: none;
            top: 2560px;
            left: 0;
        }

        #promo-13 {
            display: none;
            top: 2560px;
            left: 0;
        }

        #promo-14 {
            display: none;
            top: 2560px;
            left: 0;
        }

        #promo-15 {
            display: none;
            top: 2560px;
            left: 0;
        }

        #promo-16 {
            top: 2560px;
            left: 0;
        }

        &.has-twitter-promo {
            height: 2720px;
        }
    }

    .faces-grid-inner {
        width: @widthSquareGrid_4 - (@gridGutterWidth * 2);
        margin-left: -(@widthSquareGrid_4 - (@gridGutterWidth * 2)) / 2;
    }

    .promo-face {
        display: none;
    }

}

/*
 * For mid to large viewports, reveal promos with a staggered
 * transition delay when they fade in
 */
@media only screen and (min-width: (@widthSquareGrid_6)) {

    .js {
        .promo-grid {
            .item {
                opacity: 0;
                .transition(opacity .3s ease-in-out);
            }

            &.reveal .item {
                opacity: 1;
            }
        }
    }

    .promo-grid.stagger .item {

        &:first-child {
            .transition-delay(.1s);
        }

        &:nth-child(2) {
            .transition-delay(.25s);
        }

        &:nth-child(3) {
            .transition-delay(.4s);
        }

        &:nth-child(4) {
            .transition-delay(.55s);
        }

        &:nth-child(5) {
            .transition-delay(.7s);
        }

        &:nth-child(6) {
            .transition-delay(.85s);
        }

        &:nth-child(7) {
            .transition-delay(1s);
        }

        &:nth-child(8) {
            .transition-delay(1.15s);
        }

        &:nth-child(9) {
            .transition-delay(1.3s);
        }

        &:nth-child(10) {
            .transition-delay(1.45s);
        }

        &:nth-child(11) {
            .transition-delay(1.6s);
        }

        &:nth-child(12) {
            .transition-delay(1.75s);
        }

        &:nth-child(13) {
            .transition-delay(1.9s);
        }

        &:nth-child(14) {
            .transition-delay(2.05s);
        }

        &:nth-child(15) {
            .transition-delay(2.2s);
        }

        &:nth-child(16) {
            .transition-delay(2.35s);
        }
    }
}

/****************************************************************************/
// @Smallest screen styles
// Promo faces background grid should not be loaded at smallest viewport size
@media only screen and (min-width: @widthSquareGrid_6) {
    .faces-grid-inner {
        background: #fff url(/media/img/home/voices/mosaic-background.jpg) -10px 0 repeat;
    }
}

@media only screen and (min-width: @widthSquareGrid_4) and (max-width: (@widthSquareGrid_6 - 1)) {
    .faces-grid-inner {
        background: #fff url(/media/img/home/voices/mosaic-background-medium.jpg) -10px 0 repeat;
    }
}

@media only screen and (min-width: 340px) and (max-width: (@widthSquareGrid_4 - 1)) {
    .faces-grid-inner {
        background: #fff url(/media/img/home/voices/mosaic-background-small.jpg) -10px 0 repeat;
    }
}

@media only screen and (max-width: 339px) {

    .faces-grid-inner {
        display: none;
    }
}

/****************************************************************************/
// @High resolution images for @retina-type displays
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (                min-resolution: 1.5dppx),
       only screen and (                min-resolution: 144dpi) {

    // Support
    .promo-large-landscape.support {
        h2 {
            background-image: url(/media/img/home/voices/promos/sumo/sumo-high-res.png);
            .background-size(94px, 94px);
        }
    }

    // Advocacy
    .promo-small-landscape.advocacy {
        background-image: url(/media/img/home/voices/promos/advocacy/advocacy-logo-high-res.png);
        .background-size(100px, 100px);
    }

    // Volunteer
    .promo-small-landscape.volunteer {
        background-image: url(/media/img/home/voices/promos/volunteer/volunteer-high-res.png);
        .background-size(100px, 86px);
    }

    // Firefox Desktop
    .promo-large-portrait.firefox-desktop {
        h2 {
            background-image: url(/media/img/home/voices/promos/firefox/firefox-logo-high-res.png);
            .background-size(101px, 98px);
        }
    }

    // Firefox Developer Edition
    .promo-large-portrait.firefox-developer {
        h2 {
            background-image: url(/media/img/home/voices/promos/firefoxdev/firefoxdev-high-res.png);
            .background-size(105px, 105px);
        }
    }

    // Gear
    .promo-large-landscape.gear {
        h2 {
            background-image: url(/media/img/home/voices/promos/gear/gear-high-res.png);
            .background-size(75px, 80px);
        }
    }

}
