// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';


// Firefox MR1 promo

.c-fxpromo {
    margin: 0 auto;
    overflow: hidden;
}

.c-fxpromo-title {
    @include font-firefox;
    @include text-title-xl;
    color: $color-ink-80;
    text-align: center;
}

.mzp-c-button-download-container {
    display: block;
    margin: 0 auto $layout-md;
}

.c-fxpromo-altcta {
    display: none;
    margin: 0 auto $layout-md;
}

// Alternative CTA for Firefox
.is-firefox {
    #download-primary {
        display: none;
    }

    .c-fxpromo-altcta {
        display: block;
    }
}

.c-fxpromo-graphic {
    position: relative;
    margin: 0 auto;

    .c-fxpromo-photo {
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 10;
    }

    .c-fxpromo-noodle {
        position: absolute;
    }

    .c-fxpromo-noodle-pill,
    .c-fxpromo-noodle-hollow-pill {
        max-height: 105%;
        transform-origin: center;
    }

    .c-fxpromo-noodle-spot {
        max-height: 40%;
        animation: spot ease 30s infinite;
    }

    .c-fxpromo-noodle-circle {
        transform-origin: 25%;
        animation: circle linear 35s infinite;
    }
}

.c-fxpromo-caption {
    @include bidi(((text-align, right, left),));
    @include text-body-sm;
    margin-top: $spacing-sm;
    position: relative;
    z-index: 11;
}

.c-fxpromo-caption-name {
    font-weight: bold;
}

@media #{$mq-md} {
    .c-fxpromo .mzp-l-content {
        display: flex;
        align-items: center;
    }

    .c-fxpromo-content {
        flex: 1 1 0;
        padding: 0 $layout-sm;
        position: relative;
        z-index: 12;
    }

    .c-fxpromo-title {
        @include bidi((
            (text-align, left, right),
            (margin-left, -$spacing-xs, margin-right, -$spacing-xs),
        ));
        @include text-title-lg;
        margin-top: $layout-lg;
    }

    .c-fxpromo-lalo .c-fxpromo-title {
        margin-top: 0;
    }

    .mzp-c-button-download-container {
        display: inline-block;
    }

    .c-fxpromo-graphic {
        flex: 1 1 0;
    }
}

@media #{$mq-lg} {
    .c-fxpromo-title {
        @include text-title-2xl;
        margin-top: $layout-lg;
    }

    .c-fxpromo-lalo .c-fxpromo-title {
        margin-top: 0;
    }
}

@media #{$mq-xl} {
    [lang^='en'] .c-fxpromo-lalo .c-fxpromo-title,
    [lang^='en'] .c-fxpromo-soraya .c-fxpromo-title,
    [lang^='en'] .c-fxpromo-ryan .c-fxpromo-title {
        @include font-size(96px);
    }

    .c-fxpromo-title {
        margin-top: $layout-xl;
    }

    .c-fxpromo-lalo .c-fxpromo-title {
        margin-top: 0;
    }
}

// Lalo
.c-fxpromo-lalo {
    .c-fxpromo-noodle-pill {
        right: 20px;
        top: -30px;
        transform: rotate(-25deg);
        animation: pill-one ease 35s infinite;
    }

    .c-fxpromo-noodle-spot {
        bottom: 20%;
        left: -40px;
    }

    .c-fxpromo-noodle-hollow-pill {
        right: 40px;
        bottom: 10px;
        transform: rotate(48deg);
        animation: hollow-pill-one ease 30s infinite;
    }

    .c-fxpromo-noodle-circle {
        right: 10px;
        top: 2%;
    }
}

// Soraya
.c-fxpromo-soraya {
    .c-fxpromo-noodle-pill {
        right: 50px;
        bottom: -40px;
        transform: rotate(40deg);
        animation: pill-two ease 35s infinite;
    }

    .c-fxpromo-noodle-spot {
        bottom: 20%;
        left: -40px;
    }

    .c-fxpromo-noodle-hollow-pill {
        right: 80px;
        bottom: -20px;
        transform: rotate(70deg);
        animation: hollow-pill-two ease 35s infinite;
    }

    .c-fxpromo-noodle-circle {
        left: 20%;
        top: 15%;
    }
}

// Gary
.c-fxpromo-gary {
    .c-fxpromo-noodle-pill {
        right: 0;
        top: 0;
        transform: rotate(-20deg);
        animation: pill-one ease 35s infinite;
    }

    .c-fxpromo-noodle-spot {
        bottom: 20%;
        left: -40px;
        max-width: 40%;
    }

    .c-fxpromo-noodle-hollow-pill {
        right: 80px;
        bottom: -20px;
        transform: rotate(70deg);
        animation: hollow-pill-two ease 35s infinite;
    }

    .c-fxpromo-noodle-circle {
        left: 10%;
        top: 8%;
    }
}

// Ryan
.c-fxpromo-ryan {
    .c-fxpromo-noodle-pill {
        right: 50px;
        top: 30px;
        transform: rotate(-22deg);
        animation: pill-two ease 35s infinite;
    }

    .c-fxpromo-noodle-spot {
        bottom: 12%;
        left: -40px;
    }

    .c-fxpromo-noodle-hollow-pill {
        right: 80px;
        bottom: -40px;
        transform: rotate(70deg);
        animation: hollow-pill-two ease 35s infinite;
    }

    .c-fxpromo-noodle-circle {
        left: 20%;
        top: 15%;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .c-fxpromo-graphic {
        .c-fxpromo-noodle-pill,
        .c-fxpromo-noodle-hollow-pill,
        .c-fxpromo-noodle-circle,
        .c-fxpromo-noodle-spot {
            animation: none;
        }
    }
}

// Animations
@keyframes pill-one {
    0%, 100% { transform: rotate(-15deg) translate(5px, -10px); }
    50% { transform: rotate(-25deg) translate(-20px, 10px); }
}

@keyframes hollow-pill-one {
    0%, 100% { transform: rotate(42deg) translate(-5px, 10px); }
    50% { transform: rotate(48deg) translate(8px, -8px); }
}

@keyframes pill-two {
    0%, 100% { transform: rotate(40deg) translate(5px, -10px); }
    50% { transform: rotate(36deg) translate(-20px, 10px); }
}

@keyframes hollow-pill-two {
    0%, 100% { transform: rotate(106deg) translate(-5px, 10px); }
    50% { transform: rotate(115deg) translate(5px, -8px); }
}

@keyframes spot {
    0%, 100% { transform: translate(0, 0); }
    33% { transform: translate(5px, -30px); }
    66% { transform: translate(-5px, 10px); }
}

@keyframes circle {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
