// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@widthSquareGrid_18: 2900px;
@widthSquareGrid_17: 2740px;
@widthSquareGrid_16: 2580px;
@widthSquareGrid_15: 2420px;
@widthSquareGrid_14: 2260px;
@widthSquareGrid_13: 2100px;
@widthSquareGrid_12: 1940px;
@widthSquareGrid_11: 1780px;
@widthSquareGrid_10: 1620px;
@widthSquareGrid_9: 1460px;
@widthSquareGrid_8: 1300px;
@widthSquareGrid_7: 1140px;
@widthSquareGrid_6: 980px;
@widthSquareGrid_5: 820px;
@widthSquareGrid_4: 660px;
@widthSquareGrid_3: 500px;
@widthSquareGrid_2: 340px;
