// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';

#promo-close {
    background: rgba(0, 0, 0, .2) url('/media/img/notification/close.svg') center center no-repeat;
    background-size: 20px 20px;
    border: none;
    border-radius: 50%;
    display: none;
    height: 35px;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: background-color 0.2s ease;
    width: 35px;

    &:focus,
    &:hover {
        background-color: rgba(0, 0, 0, .3);
        cursor: pointer;
    }

    // hide the 'Close' text
    span {
        @include visually-hidden;
    }

    // only display when JS is available
    .js & {
        display: block;
    }
}

#promo-statement {
    background: #fff;
    color: #000;
    padding: 40px 20px;
    min-height: 100vh;

    // hide by default if JS is available to avoid flicker
    // (if visitor previously dismissed)
    .js & {
        display: none;
    }

    h1,
    p {
        font-family: Monaco, monospace;
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 1.25em;
    }

    a {
        color: #00f;
    }

    &:before {
        background: url('/media/img/pebbles/moz-wordmark-dark-reverse.svg') no-repeat;
        @include background-size(100px, 32px);
        content: '';
        display: inline-block;
        height: 32px;
        width: 100px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .content-wrapper {
        margin: 0 auto;
        max-width: 53ch;
        padding-top: 10px;
        margin-top: 20vh;
    }
}
