// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

// needs rename to avoid "Collections" terminology
.c-stories-collections {
    h2 {
        @include text-title-sm;
        margin-bottom: $layout-sm;
    }
}
