// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";

.download-buttons > div {
    display: none;
}

/*-------------------------------------------------------------------------*/
// Android Links and Download hide/show

.android {
    .footer .android-link {
        display: block;
    }
    .footer .desktop-link {
        display: none;
    }
    &.non-firefox .download-buttons .non-firefox-cta {
        .desktop-download-button {
            display: none;
        }
        h2 {
            width: 100%;
        }
        .android-download-button {
            display: block;
        }
    }
    &.non-firefox .cta .download-buttons .non-firefox-cta {
        h2 {
            width: 520px;
        }
        .android-download-button {
            float: right;
        }
    }
}

/*-------------------------------------------------------------------------*/
// iOS Links and Download hide/show plus critter fix

.ios {
    .footer .ios-link {
        display: block;
    }
    .footer .desktop-link {
        display: none;
    }

    &.non-firefox .download-buttons .non-firefox-cta {
        & .desktop-download-button {
            display: none;
        }
        .ios-download-button {
            display: block;
        }
    }
}

/*-------------------------------------------------------------------------*/
// Firefox Up to date download buttons show/hide

.firefox-up-to-date {
    .download-buttons .firefox-latest-cta {
        display: block;
    } 
}

/*-------------------------------------------------------------------------*/
// Firefox Old download buttons show/hide plus styling

.firefox-old {
    .download-buttons .firefox-old-cta {
       display: block; 
    }
    .cta {
        .container {
            padding: 60px 20px;
        }
        h2 {
            .font-size(30px);
            line-height: 1.4;
            width: 440px;
        }
        .download-button {
            margin-top: 30px;
            float: right;
        } 
    }
}

/*-------------------------------------------------------------------------*/
// Non Firefox download buttons show/hide plus styling

.windows,
.non-firefox {
    .cta {
        .container {
            padding: 60px 20px;
        }
        h2 {
            .font-size(30px);
            line-height: 1.4;
            width: 500px;
        }
    }
    .download-buttons .non-firefox-cta {
        display: block;

        > div {
            display: none;
        }
        & .desktop-download-button {
           display: block;  
        }
    }
    .intro .download-buttons .non-firefox-cta {
        padding-right: 40px;
    }
}

/*-------------------------------------------------------------------------*/
// Media Queries 

@media only screen and (max-width: @breakDesktop) {
    .cta {
        .firefox-latest-cta h2 {
            width: 450px;
        }
        .firefox-old-cta h2 {
            width: 430px; 
        }
        .non-firefox-cta h2 {
            width: 420px;
        }
        .non-firefox-cta h2,
        .firefox-old-cta h2 {
            .font-size(22px);
        }
    }
    .firefox-old .cta .download-button {
        margin-top: 0;
    }
}

@media only screen and (max-width: @breakTablet) {
    .cta {
        .firefox-latest-cta,
        .firefox-old-cta,
        .non-firefox-cta {
            .download-button {
                float: none;
            }
            h2 {
                width: 100%;
                .font-size(22px);
            }     
        }
    }
    .windows,
    .non-firefox {
        .intro .download-buttons .non-firefox-cta {
            padding-right: 0;
        }
    }

    .android.non-firefox .cta .download-buttons .non-firefox-cta {
        h2 {
            width: 100%;
        }
        .android-download-button {
            float: none;
        }
    }
}
