// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/components/article';
@import '~@mozilla-protocol/core/protocol/css/components/sidebar-menu';
@import '~@mozilla-protocol/core/protocol/css/includes/mixins/details';
@import '~@mozilla-protocol/core/protocol/css/templates/main-with-sidebar';
@import 'components/newsletter-form';

.side-reference {
    border-bottom: 2px solid #ddd;
    margin: 2em 0;
    padding-bottom: (1.25em * 0.5);

    p {
        margin: 0;
    }

    .more {
        display: block;
        padding: (1.25em * 0.5) 0;
    }

    /* collapse on mobile */
    &.is-details {
        @include details;

        .is-summary button {
            @include summary;
            padding-left: 0;
            padding-right: 0;
        }

        .is-summary button[aria-expanded='true']::before {
            @include summary-open;
        }
    }
}

blockquote.t-small {
    font-weight: normal;
    @include text-body-lg;
}

.lead-in {
    margin-bottom: 0;
}

.side-reference-title {
    @include font-base;
    @include text-body-lg;
}

.t-love {
    // mozilla/protocol#371
    @media #{$mq-md} {
        .mzp-c-newsletter-image {
            margin-top: $layout-xl;
        }
    }

    @media #{$mq-lg} {
        padding-top: 0;
    }
}
