// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// This style sheet is served exclusively to Internet Explorer 8 and older.
// Old versions get this minimal style while IE9 and up recieve more advanced styling.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../protocol/css/includes/lib';
@import '../../protocol/css/base/elements';
@import '../../protocol/css/components/button';

@import 'components/navigation-ie';
@import 'components/navigation';
@import 'components/download-button';

// An arbitrary container for translatable strings to use in scripts
#strings {
    display: none;
}

body {
    margin: 20px 30px;
}

.center {
    text-align: center;
}

img {
    -ms-interpolation-mode: bicubic;
}

label {
    display: block;
}

.visually-hidden {
    @include visually-hidden;
}

.hidden {
    @include hidden;
}

.is-js-dependent {
    display: none;
}

/* Make sure form details are visible */
/* stylelint-disable declaration-no-important  */
.js .mzp-c-newsletter-details {
    display: block !important;
}

.mzp-c-newsletter-thanks {
    display: none;
}
