// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as *;

.default-browser-checkbox-label {
    margin: 0 auto $spacing-lg;
    font-weight: normal;
    display: block;
    width: max-content;

    &.hidden {
        display: none;
    }

    input[type="checkbox"] {
        margin-right: $spacing-sm;
        vertical-align: top;
    }

    .c-intro-download & {
        margin: 0 0 $spacing-lg;
    }
}
