// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../lib' as r25;

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

// * -------------------------------------------------------------------------- */
// FAQs

.r25-faq {
    @include white-links;
    margin-top: $layout-md;

    .r25-faq-heading {
        @include text-title-2xs;
        margin: $spacing-xl 0;

        &::before {
            content: "";
            display: block;
            width: 100%;
            border-top: 1px solid fade-out($color-white, 0.8);
            position: relative;
            top: -$spacing-md;
        }
    }

    p {
        max-width: $content-md;
        margin-bottom: $layout-lg;
    }

    &.mzp-c-details .is-summary button::before {
        width: 30px;
        height: 30px;
        border-radius: 1em;
        margin-top: -1em;
        transition: background-color 100ms ease-in, transform 100ms ease-in;
        background-position: center center;
        background-size: 14px 14px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='m0 8.2 1.8-1.8 4.8 4.7V0h2.7v11.1l4.8-4.7L16 8.2 8 16 0 8.2z'/%3E%3C/svg%3E");

        @media #{$mq-md} {
            margin-top: -0.75em;
        }
    }

    &.mzp-c-details .is-summary button[aria-expanded="true"]::before {
        background-color: $color-white;
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='m0 8.2 1.8-1.8 4.8 4.7V0h2.7v11.1l4.8-4.7L16 8.2 8 16 0 8.2z'/%3E%3C/svg%3E");
    }

    &.mzp-c-details .is-summary:hover button::before,
    &.mzp-c-details .is-summary:focus button::before {
        background-color: #555;
    }

    &.mzp-c-details .is-summary:hover button[aria-expanded="true"]::before,
    &.mzp-c-details .is-summary:focus button[aria-expanded="true"]::before {
        background-color: #ddd;
    }
}
