/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* {{{ Geolocation Page */

body#geolocation {
	background: url(/media/img/template/page-background.png) repeat-x scroll 50% 0 #FFFFFF
}

#geolocation #wrapper {
	background: url(/media/img/covehead/firefox/background-geolocation.jpg) top center no-repeat;
}

#geolocation #main-feature h2 {
	margin-top: 55px;
	margin-right: 300px;
}

#geolocation #main-feature {
	min-height: 200px;
}

* html #geolocation #main-feature { height: 200px; }

#main-feature p {
	line-height: 1.2em;
	margin-right: 300px;
	font-size: 19px;
}

#main-content {
	background: url(/media/img/covehead/divider-main.jpg) top center no-repeat;
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 300px;
}

#main-content h3 {
	margin-top: 10px;
	font-size: 28px;
}

#main-content h3 span {
	font-size: 165%;
	line-height: 0.8em
}

#map_canvas {
    width: 500px;
    height: 300px;
    margin: 20px auto;
}
#locateButton {
    margin: 0 0 10px 0;
}
#geo-busy {
    width: 16px;
    height: 15px;
    vertical-align: middle;
}
#geodemo-error {
    color: red;
}


/* }}} */
