{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "privacy/archive/base-resp.html" %}

{% block page_title %}Mozilla Hubs Terms of Service — Archived, Jun 7, 2024{% endblock %}

{% block body_id %}mozilla-vpn-archived{% endblock %}

{% block article_header_logo %}{{ static('img/privacy/logo-hubs.png') }}{% endblock %}

{% block title %}Mozilla Hubs Terms of Service{% endblock %}

{% block time %}<span class="archived">Archived, Jun 7, 2024</span>{% endblock %}

{% block lead_in %}
  <h1>Terms of Service for Hubs</h1>

  <p>
    Hubs (the “Service”) is a new, preview service that allows you to set up and manage your own set
    of real-time communications platforms for virtual reality, augmented reality, desktop, laptop,
    or mobile. It is available as a paid subscription service.
  </p>

  <p>
    These Terms of Service explain your rights and responsibilities when you use Hubs. By purchasing
    and using Hubs, you assure Mozilla that you have read these terms and agree to them. If you agree
    to these terms on behalf of an entity, such as your employer, you represent that you are authorized
    to and intend to bind that entity. The <a href="https://hubs.mozilla.com/demo">legacy version of
    Hubs</a> is currently still available and is governed by these Terms of Service with the exception
    of Section 1 for Subscribing to Hubs.
  </p>
{% endblock %}

{% block sections %}
<section>
  <h2 id="1-subscribing-to-hubs">1. Subscribing to Hubs</h2>
  <section>
    <h3 id="youll-need-a-mozilla-account">
      You’ll Need A Mozilla Account
    </h3>
    <p>
      A Mozilla account is required to use the Service. To create a Mozilla account, you will also
      need to agree to the <a href="{{ url('legal.terms.services') }}">Terms of Service</a> and
      <a href="{{ url('privacy.notices.mozilla-accounts') }}">Privacy Notice</a> for your Mozilla
      account.
    </p>
  </section>
  <section>
    <h3 id="your-payment">Your Payment</h3>
    <p>
      <strong>Payment.</strong> We offer the Service as an automatically renewing subscription service.
      When you sign up, you authorize us to charge the payment method you provide for the subscription
      fees for the first term of the Service. Your plan renews automatically at the end of each term,
      and you authorize us to charge the subscription fees each term. If you stop paying, we will
      immediately suspend your account, and we may delete it after 2 months of not paying.
    </p>
    <p>
      <strong>30-Day Refund Policy.</strong> The first time you subscribe to the Service through Mozilla’s
      website, if you cancel your account within the first 30 days, you may request a refund and Mozilla
      will refund your first subscription term. This offer only applies the first time you subscribe.
      This is in addition to any rights you may have under your country’s consumer laws.
    </p>
  </section>
  <section>
    <h3 id="you-may-cancel-your-subscription-at-any-time">
      You May Cancel Your Subscription at Any Time
    </h3>
    <p>
      <strong>Cancellation.</strong> You may cancel your subscription to the Service at any time by
      deactivating your account and canceling your subscription. You can do this by clicking the
      “Cancel Subscription” link in any email that we send you about the Service or by going to the
      Subscriptions &amp; Payments section of your Mozilla account and clicking “Cancel.” If you choose
      to cancel, auto-renewal will stop, we will not charge you for any future payment periods, and you
      will lose access to the Services at the end of the current billing cycle.
    </p>
  </section>
</section>

<section>
  <section>
    <h2 id="2-communications-and-content">2. Communications and Content</h2>
    <p>
      Hubs allows your users to send information (such as audio, video, text, images, 3D models, and scenes)
      to other users.
    </p>
    <p>
      By signing up for and creating your Hubs, you agree to give Mozilla all rights necessary to operate Hubs.
      You also assure Mozilla that you have, or have obtained, the rights and authority necessary to grant
      Mozilla all rights and permissions necessary for the operation of Hubs. This includes, but is not limited
      to, a license and permission to process, transmit, and display the information you and your users send
      through Hubs. It also includes permission to gather and share information as described in the
      <a href="{{ url('privacy.archive.mozilla-hubs-notice-2024-06') }}">Hubs Privacy Notice</a>.
    </p>
    <p>
      When you and your users submit information to Hubs, the original creator of that information continues to
      own the rights to their content. You grant Mozilla a worldwide, royalty-free, perpetual, irrevocable,
      non-exclusive, transferable, and sublicensable license to use, copy, modify, adapt, prepare derivative works
      from, distribute, perform, and display that information, audio, video, images, or 3D models for the purpose
      of operating Hubs. You also agree that we may remove metadata associated with the information or data you
      submit. If you or one of your users allows remixing of a scene or avatar, you agree to license that scene
      or avatar under a <a href="https://creativecommons.org/licenses/by/3.0/legalcode">CC-BY 3.0</a> license.
    </p>
    <p>
      To learn more about how Hubs operates, you can see the <a href="https://github.com/mozilla/hubs">source code</a>.
    </p>
    <p>
      Any ideas, suggestions, and feedback about Hubs that you provide to us are entirely voluntary, and you agree
      that Mozilla may use such ideas, suggestions, and feedback without compensation or obligation to you.
    </p>
    <p>
      You are responsible for the information you and your users send, create, or edit using Hubs, and the consequences
      of sending, creating, or editing that information.
    </p>
    <p>
      <strong>Privacy.</strong> You are responsible for the privacy of the individuals who use your Hubs. This includes
      compliance with all applicable privacy laws. The <a href="{{ url('privacy.archive.mozilla-hubs-notice-2024-06') }}">
      Hubs Privacy Notice</a> explains how Mozilla receives and handles data to operate the Service.
    </p>
    <p>
      Mozilla is a global organization, and our computers and service providers’ computers may be in various countries around
      the world, including the United States. This means that your information and your users’ information might be processed
      on servers located outside of the country where you and your users live, and that country may have a different level
      of data protection regulation than yours. By using the Service, you assure Mozilla that you consent to this kind of
      transfer of users’ information and that you have obtained necessary consent from the individuals who use your Hubs.
    </p>
  </section>

  <section>
    <h2 id="3-conditions-of-use">3. Conditions of Use</h2>
    <p>
      By using Hubs, you agree that you will comply with Mozilla’s <a href="{{ url('legal.terms.acceptable-use') }}">
      Acceptable Use Policy</a>. Mozilla reserves the right to remove any content, suspend any users, and shut down any Hub or
      individual room it reasonably believes has violated these conditions.
    </p>
    <p>
      <strong>Eligibility.</strong> To use the paid subscription service, you must be in a country where Hubs is available.
      Hubs is currently available in Canada, Germany, the United Kingdom, and the United States.
    </p>
    <p>
      <strong>Your Use of Hubs.</strong> If you have a current, paid subscription to Hubs, Mozilla gives you permission to
      use it according to these Terms of Service. You may not transfer or resell the Hubs Service. A purchased license only
      extends to the person or entity who owns the Mozilla account associated with the Hubs instance.
    </p>
    <p>
      With a paid subscription, you may have up to 25 users per Hubs room and up to 2GB of storage space for your Hubs.
    </p>
    <p>
      <strong>Legal Compliance.</strong> Depending where you and your users live and where you make your Hubs available, you
      may be subject to certain laws and regulations, in particular data privacy laws. It is your responsibility to be aware
      of any laws and regulations that may apply to your Hubs. Between you and Mozilla, you are solely responsible for ensuring
      the way you handle data is in full compliance with all applicable laws and regulations. To learn more about how Hubs
      operates, you can see the <a href="https://github.com/mozilla/hubs">source code</a>.
    </p>
  </section>

  <section>
    <h2 id="4-mozillas-rights">4. Mozilla’s Rights</h2>
    <p>
      Mozilla does not grant you any intellectual property rights in Hubs unless these Terms specifically say otherwise.
      For example, these Terms do not provide the right to use any of Mozilla’s copyrights, trade names, trademarks, service
      marks, logos, domain names, or other distinctive brand features.
    </p>
    <p>
      Mozilla distributes the Hubs software under an open source license. To learn more, you can read the
      <a href="https://github.com/mozilla/hubs/blob/master/LICENSE">license for Hubs</a> or read the
      <a href="{{ url('mozorg.mpl.2.0.faq') }}">FAQ</a>.
    </p>
  </section>

  <section>
    <h2 id="5-services-interruption-term-termination">5. Services Interruption; Term; Termination</h2>
    <p>
      We are continuing to develop Hubs. As a result, we plan to upgrade and change Hubs over time. To do this, we might have
      to temporarily suspend their service and it is not always possible for us to give notice. You will not be entitled to
      claim expenses or damages for such suspension or limitation of the use of Hubs.
    </p>
    <p>
      We may cut off your access to Hubs, either temporarily or permanently at any time for any reason. This includes, but is
      not limited to, situations where we reasonably believe: (i) you have violated these Terms; (ii) you create risk or
      possible legal exposure for Mozilla; or (iii) providing and operating Hubs is no longer commercially viable. If possible,
      we will make reasonable efforts to notify you through Hubs.
    </p>
    <p>
      In all such cases, these Terms shall terminate, including, without limitation, your license to use Hubs, except that the
      sections with the following titles shall continue to apply: Indemnification, Disclaimer; Limitation of Liability and
      Miscellaneous.
    </p>
  </section>

  <section>
    <h2 id="6-indemnification">6. Indemnification</h2>
    <p>
      You agree to defend, indemnify and hold harmless Mozilla, and its respective parent and affiliate companies, contractors,
      contributors, licensors, partners, directors, officers, employees and agents (“Indemnified Parties”) from and against any
      and all third party claims and expenses, including attorneys’ fees, arising out of or related to your use of Hubs. This
      includes, but is not limited to, claims and expenses from any content you or your users transmit, edit, or create using
      Hubs.
    </p>
  </section>

  <section>
    <h2 id="7-disclaimer-limitation-of-liability">7. Disclaimer; Limitation of Liability</h2>
    <p>
      THE SERVICES ARE PROVIDED “AS IS” WITH ALL FAULTS. TO THE EXTENT PERMITTED BY LAW, MOZILLA HEREBY DISCLAIMS ALL WARRANTIES,
      WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES THAT THE SERVICES ARE FREE OF DEFECTS, MERCHANTABLE,
      FIT FOR A PARTICULAR PURPOSE, AND NON-INFRINGING.
    </p>
    <p>
      YOU BEAR THE ENTIRE RISK AS TO SELECTING THE SERVICES FOR YOUR PURPOSES AND AS TO THE QUALITY AND PERFORMANCE OF THE SERVICES,
      INCLUDING WITHOUT LIMITATION THE RISK THAT YOUR CONTENT IS DELETED OR CORRUPTED. THIS LIMITATION WILL APPLY NOTWITHSTANDING
      THE FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF IMPLIED
      WARRANTIES, SO THIS DISCLAIMER MAY NOT APPLY TO YOU.
    </p>
    <p>
      EXCEPT AS REQUIRED BY LAW, MOZILLA WILL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY
      DAMAGES ARISING OUT OF OR IN ANY WAY RELATING TO THESE TERMS OR THE USE OF OR INABILITY TO USE THE SERVICES, INCLUDING
      WITHOUT LIMITATION DIRECT AND INDIRECT DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, LOST PROFITS, LOSS OF DATA, AND
      COMPUTER FAILURE OR MALFUNCTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF THE THEORY
      (CONTRACT, TORT, OR OTHERWISE) UPON WHICH SUCH CLAIM IS BASED. THE COLLECTIVE LIABILITY OF MOZILLA UNDER THIS AGREEMENT
      WILL NOT EXCEED $500 (FIVE HUNDRED DOLLARS). SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL,
      CONSEQUENTIAL, OR SPECIAL DAMAGES, SO THIS EXCLUSION AND LIMITATION MAY NOT APPLY TO YOU.
    </p>
  </section>

  <section>
    <h2 id="8-modifications-to-these-terms">8. Modifications to These Terms</h2>
    <p>
      Mozilla may update these Terms from time to time. We will post the updated Terms online. If the changes are substantive,
      we may announce the update through Mozilla’s usual channels for such announcements such as blog posts, forums, or in the
      particular service itself, in this case: Hubs.
    </p>
    <p>
      Your continued use of Hubs after we post the new Terms constitutes your acceptance of the new Terms. To make your review
      more convenient, we will post an effective date at the top of this page.
    </p>
  </section>

  <section>
    <h2 id="9-contact-us">9. Contact Us</h2>
    <p>
      For support, to provide feedback, or to report abuse of Hubs or violations of the Conditions of Use, you can email us at
      hubs@mozilla.com.
    </p>
    <p>
      You can see our <a href="{{ url('legal.fraud-report') }}">copyright or trademark infringement claims policy</a>.
    </p>
    <p>
      For other notices, you may email us at legal-notices@mozilla.com or write to us at Mozilla Corporation
    <p>

    <p>
      Mozilla Corporation<br>
      Attn: Mozilla – Legal Notices<br>
      149 New Montgomery Street<br>
      4th Floor<br>
      San Francisco, CA 94105
    </p>
    <p>legal-notices@mozilla.com</p>
    <p>
      If there is a conflict or ambiguity between a translated version of these terms and the English language version, the
      English language version applies.
    </p>
  </section>
</section>
{% endblock %}
