@import "../sandstone/variables-resp.less";
@import "../sandstone/mixins-resp.less";

/* {{{ Grid setup */

// Desktop:
//           (16cols ✕ 60px) =  960
// +     (15 gutters ✕ 20px) =  300
// + (2 page gutters ✕ 20px) =   40
// --------------------------------
//                           = 1300px

@widthDesktop:            1300px;

// Gutter width remains the same for all grids
@gridGutterWidth:         20px;

// Default grid: 12 columns at 60px
@gridColumns:             16;
@gridColumnWidth:         60px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Column spans for style guide column widths
.span_guide(@columns) {
    float: left;
    width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    margin: 0 (@gridGutterWidth / 2);
}

.offset_guide(@columns) {
    margin-left: ((@gridColumnWidth + @gridGutterWidth) * @columns) + (@gridGutterWidth * 0.5);
}


#wrapper {
    width: @widthDesktop;
    .clearfix;
}

#sidebar {
    .span_guide(2);
    margin-left: @gridGutterWidth;
}

#content_area {
    .span_guide(12);
    .offset_guide(1);
}

/* }}} */
/* {{{ Sidebar */

#sidebar {
    margin-top: @baseLine * 1.5;
    margin-bottom: @baseLine;
    h2 {
        text-align: center;
        font-size: 24px;
        img {
            display: block;
            margin: 0 auto 5px auto;
        }
        a {
            opacity: 0.5;
            color: @textColorSecondary;
            &:hover,
            &:active {
                opacity: 1;
                text-decoration: none;
            }
        }
    }
    nav {
        text-transform: uppercase;
        .open-sans-light;
        font-size: 13px;
        margin: @baseLine auto;
        ul {
            margin: 0;
            li {
                list-style-type: none;
                margin: 0;
                &.current {
                    background: rgba(255,255,255,0.5);
                }
            }
        }
        a {
            display: block;
            padding: (@baseLine / 3) (@baseLine * .75);
            color: @textColorSecondary;
        }
        li li a {
            padding-left: (@baseLine);
        }
        li li li a {
            padding-left: (@baseLine * 1.25);
        }
    }
}

/* }}} */
/* {{{ Breadcrumbs and Next/Prev  */

#subnav {
    .clearfix;
    text-transform: uppercase;
    .open-sans-light;
    font-size: 13px;
    #nextprev {
        float: right;
        text-align: right;
        margin-bottom: @baseLine;
    }
    #breadcrumbs {
        margin-bottom: @baseLine;
        a {
            display: inline-block;
            min-height: 20px;
            padding: 0 0 0 10px;
            &:after {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAUCAYAAABWMrcvAAAAr0lEQVR42q3TPwrCMBSA8VSrtSYIglBHcXFysJ7AA4geQFfFA/V4niV+b4rUhCehw6/DCx+U/DHe+wJl055nKGA0EokR5gxWGP8biRJLhltM9CiYYs3CAZXMYmLDChuiE+poZLr3DxZq7IiusP11+aRCiz3RHU6PQujQEj2x6EVqeCR6SZiI9DAryvs9BmlhIx4SpA43CFt+g9NuxPfhXmCHuEZZF1Z5GkM+wqzn/gGPpd1ige/9lgAAAABJRU5ErkJggg==);
                vertical-align: top;
                margin-left: 10px;
            }
        }
    }
}

/* }}} */
/* {{{ Main Content area  */

#content_area {
    margin-top: @baseLine * 1.5;
    margin-bottom: @baseLine;
}

/* }}} */
