// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../styleguide/styleguide.less";
/* {{{ Sandstone - Intro  */

.sandstone-intro {
    #intro {
        h2 {
            .span_guide(3);
        }
        p {
            .span_guide(8);
        }
        #overview {
            margin-left: 10px;
        }
    }
}

/* }}} */
/* {{{ Sandstone - Grids  */

.sandstone-grids {
    #intro {
        div {
            .span_guide(3);
        }
        table {
            .span_guide(6);
        }
        #grid-downloads {
            .span_guide(3);
            .button-list .button-sand {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
    #grid-phone,
    #grid-tablet,
    #grid-desktop {
        padding-top: @baseLine;
        padding-bottom: @baseLine;
    }
    #grid-phone {
        .span_guide(4);
        clear: left;
    }
    #grid-tablet {
        .span_guide(8);
    }
    #grid-desktop {
        .span_guide(12);
    }
}

/* }}} */
/* {{{ Sandstone - Tabzilla  */

.sandstone-tabzilla {
    #intro {
        float: left;
        width: 100%;
        .divider;
        h2 {
            .span_guide(3);
        }
        p {
            .span_guide(6);
        }
        #tabzilla-downloads {
            .span_guide(3);
            .button-sand {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
    #examples {
        .divider;
        float: left;
        width: 100%;
        h2 {
            .span_guide(3);
        }
        p {
            .span_guide(9);
        }
    }
    #tabzilla-phone,
    #tabzilla-tablet,
    #tabzilla-desktop {
        padding-top: @baseLine;
        padding-bottom: @baseLine;
    }
    #tabzilla-phone {
        .span_guide(3);
    }
    #tabzilla-tablet {
        .span_guide(9);
    }
    #tabzilla-desktop {
        .span_guide(12);
    }
    #requirements,
    #installation,
    #testing {
        .span_guide(12);
    }
    #requirements,
    #installation {
        .divider;
    }
}

/* }}} */
/* {{{ Sandstone - Typefaces  */

.sandstone-typefaces {
    #intro {
        float: left;
        width: 100%;
        .divider;
        h2 {
            .span_guide(3);
        }
        p {
            .span_guide(9);
        }
    }
    #bodytext,
    #headings {
        float: left;
        width: 100%;
        margin-bottom: @baseLine * 2;
        h2 {
            .span_guide(3);
        }
        .example {
            .span_guide(4);
            background: #fff;
            .large, h1, h2, h3, h4, small {
                width: 100%;
                margin: 0;
                padding: 10px 20px;
                display: block;
            }
            p {
                padding: 20px;
                margin: 0;
            }
        }
        .code {
            .span_guide(4);
        }
    }
}

/* }}} */
/* {{{ Sandstone - Backgrounds & Colors */

.sandstone-colors {
    .intro {
        .span_guide(3);
    }
    #backgrounds {
        .divider;
        float: left;
        width: 100%;
    }
    .examples {
        .span_guide(9);
    }
    #swatch-mozilla .swatch {
        #gradient > .vertical(#D7D3C8, #F6F4EC);
    }
    #swatch-firefox .swatch {
        #gradient > .vertical(#CAE1F4, #EEEEEE);
    }
    #swatch-darkgrey .swatch {
        #gradient > .vertical(#424F5A, #6A7B86);
    }
    #swatch-lightgrey .swatch {
        #gradient > .vertical(#D4DDE4, #EAEFF2);
    }
    #swatch-aurora .swatch {
        #gradient > .vertical(#331E54, #000000);
    }
    #swatch-nightly .swatch {
        #gradient > .vertical(#002147, #000000);
    }
    #swatch-default-link .swatch {
        background: #0095DD;
    }
    #swatch-hover-link .swatch {
        background: #00539F;
    }
}

/* }}} */
/* {{{ Sandstone - Buttons & Icons */

.sandstone-buttons {

    #buttons {
        .clearfix;
        .divider;
        .examples {
            .span_guide(4);
            h3 {
                font-style: italic;
            }
        }
        #examples-standard {
            .offset_guide(3);            
        }
    }

    .intro {
        .span_guide(3);
    }
    .examples {
        .span_guide(9);
        .example {
            margin-bottom: @baseLine;
        }
    }
    #buttons,
    #icons {
        .button-sand {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

/* }}} */
/* {{{ Sandstone - Tables & Lists */

.sandstone-tables {
    .intro {
        .span_guide(3);
    }
    .table {
        .span_guide(6);
    }
    #tables {
        float: left;
        width: 100%;
        .divider;
    }
    #list-unordered,
    #list-unstyled,
    #list-ordered {
        .span_guide(3);
    }
}

/* }}} */
/* {{{ Sandstone - Forms & Modules */

.sandstone-forms {

    #forms {
        .clearfix;
        .divider;
        .examples {
            .span_guide(4);
            h3 {
                font-style: italic;
            }
        }
        #examples-standard {
            .offset_guide(3);            
        }
    }

    .intro {
        .span_guide(3);
    }
    .examples {
        .span_guide(9);
        .example {
            margin-bottom: @baseLine;
        }
    }
    #buttons,
    #icons {
        .button-sand {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

/* }}} */
/* {{{ Sandstone - Examples  */

.sandstone-examples {
    #intro {
        float: left;
        width: 100%;
        h2 {
            .span_guide(3);
        }
        p {
            .span_guide(6);
        }
    }
    #examples {
        float: left;
        width: 100%;
        h3 {
            font-style: italic;
            .span_guide(12);
            margin-top: 40px;
        }
        a {
            display: block;
            .span_guide(6);
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

/* }}} */
/* {{{ Community sites  */

.community-overview {
    #intro {
        float: left;
        width: 100%;
        h2 {
            .span_guide(3);
        }
        div {
            .span_guide(9);
        }
        img {
            position: relative;
            left: -36px;
        }
    }
    #examples {
        float: left;
        width: 100%;
        h3 {
            font-style: italic;
            .span_guide(12);
            margin-top: 40px;
        }
        a {
            display: block;
            .span_guide(6);
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

/* }}} */
/* {{{ Domain strategy*/

.domains-overview {
    #intro {
        .span_guide(12);
    }
}

/* }}} */
