// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import 'includes/base';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import '~@mozilla-protocol/core/protocol/css/components/emphasis-box';

.wnp-content-main {
    background-color: $color-marketing-gray-10;
    padding: $layout-xl 0;
}

.mzp-l-content.mzp-t-content-xl {
    overflow-x: hidden;
    padding: $layout-xl $layout-md;
}

.mzp-c-split-container .mzp-c-split-media {
    margin: 0;
}

.wnp-icon-wrapper {
    margin-bottom: $spacing-sm;
}

.wnp-sub-title {
    @include text-body-xl;
    margin-bottom: $spacing-sm;
}

.mzp-c-split-media.mzp-c-emphasis-box {
    margin-top: $spacing-2xl;

    @media #{$mq-md} {
        margin-top: 0;
    }
}

.wnp-cta-container {
    position: relative;
    text-align: center;
    padding: $spacing-lg $spacing-2xl;
}

.wnp-cta-image {
    width: 175px;
    height: 392px;
    position: absolute;
    right: -100px;
    top: -80px;
    background-repeat: no-repeat;
    background-image: url("/media/img/firefox/whatsnew/whatsnew129-eu/umbrella-and-flipflops.png");
}

.wnp-cta-content {
    @include text-body-xl;
}

// * -------------------------------------------------------------------------- */
// Dark mode
@media (prefers-color-scheme: dark) {
    .mzp-u-title-md {
        color: $color-white;
    }

    .wnp-content-main {
        background-color: #333336;
        color: $color-white;
    }

    .mzp-c-split-media.mzp-c-emphasis-box {
        background-color: #3c3c3c;
        color: $color-white;
    }

    .wnp-icon-wrapper svg path {
        fill: $color-white;
    }
}
