// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../../protocol/css/includes/lib';

//* -------------------------------------------------------------------------- */
// Up-to-date page header

.c-page-header {
    background-color: $color-white;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    position: relative;
    text-align: center;

    .c-page-header-up-to-date {
        @include text-display-xs;
        display: none;
        font-weight: normal;
        margin: 0;
        min-height: 30px;
        width: 100%;

        &:before {
            background-image: url('/media/img/firefox/whatsnew/icon-green-check.svg');
            background-position: center left;
            background-repeat: no-repeat;
            background-size: 25px 25px;
            content: '';
            display: inline-block;
            height: 25px;
            margin-right: 10px;
            vertical-align: middle;
            width: 25px;
        }
    }

    .c-page-header-logo-moz {
        display: none;
    }

    &.show-up-to-date-message .c-page-header-up-to-date {
        display: block;
    }

    @media #{$mq-md} {
        .c-page-header-inner {
            min-height: 30px;
            position: relative;
        }

        .c-page-header-logo-moz {
            display: block;
            left: 0;
            position: absolute;
            top: 2px;
        }
    }
}

//* -------------------------------------------------------------------------- */
// Page content

.lite-container {
    display: flex;
    align-items: flex-end;

    @media #{$mq-lg} {
        min-height: 200px;
        max-width: 500px;
        h1 {
            margin-bottom: 20px;
        }
    }

    @media #{$mq-xl} {
        max-width: none;
        h1 {
            margin-bottom: 40px;
        }
    }

    img {
        margin-right: $spacing-md;
    }

}

.lite-body {
    background: #42d3ec radial-gradient(50% 50% at 50% 50%, #9CF1D7 0%, rgba(255, 255, 255, 0) 100%) no-repeat top center;
    color: $color-gray-80;
    overflow: hidden;
    position: relative;
    @media #{$mq-lg} {
        background-image: url('/media/img/firefox/whatsnew/lite/background.jpg');
        background-size: 2000px auto;
    }
    @media #{$mq-xl} {
        background-size: 2400px auto;
    }
}

.lite-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto $spacing-lg;
    padding: 60px 0 $spacing-lg;
    line-height: 1.2;
    @media #{$mq-lg} {
        font-size: 1.75rem;
        padding-top: 80px;
    }
    @media #{$mq-xl} {
        font-size: 2.25rem;
    }
}

@media #{$mq-lg} {
    .send-to-device-wrapper {
        margin-right: 60px;
    }
}

.lite-content {
    max-width: 1200px;
    padding-left: $spacing-2xl;
    padding-right: $spacing-2xl;

    .lite-KV {
        display: none;
    }

    .lite-copy {
        text-align: center;
        z-index: 1;
        @include text-body-lg;
    }

    @media #{$mq-sm} {
        .lite-copy {
            max-width: $content-sm;
            margin: 0 auto;
        }
    }

    @media #{$mq-lg} {
        display: grid;
        grid-template-columns: 45% 55%;
        margin-bottom: 100px;

        .lite-KV {
            display: block;
            position: relative;
            min-width: 300px;

            img {
                position: absolute;
                top: 180px;
                right: -20px;
                max-width: 500px;
            }
        }

        .lite-copy {
            margin: 20px 0 0;
            text-align: left;
            max-width: $content-md;
        }
    }
    @media #{$mq-xl} {
        grid-template-columns: 40% 60%;
        .lite-KV {
            img {
                top: 230px;
                max-width: 650px;
            }
        }
        .lite-copy {
            margin-top: 80px;
        }
    }
}
