// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import 'includes/base';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import "../../protocol/components/video";
@import 'includes/mofo-donate-cta';


.wnp-content-main {
    background-color: #F8F6F4;
    text-align: center
}

.c-video-wrapper {
    z-index: 10;

    .mzp-c-video {
        overflow: visible;
        position: relative;

        @media (min-width: 920px) {
            &::before {
                background-image: url("/media/img/firefox/whatsnew/whatsnew128-na/video-pseudo-background.png");
                background-repeat: no-repeat;
                content: "";
                height: 556px;
                width: 710px;
                position: absolute;
                left: 30px;
                top: 19px;
                background-size: contain;
                z-index: -1;
            }
        }

        img {
            border-radius: 20px;
        }
    }
}

.wnp-main-title {
    @include text-title-lg;
    margin-top: $spacing-lg;
    @media #{$mq-md} {
        margin-top: $layout-xl;
    }
}

.wnp-main-tagline {
    @include text-body-xl;
}

.has-pip-icon strong {
    @include image-replaced;
    @include background-size(2.25ex, 2.25ex);
    background-image: url("/media/img/firefox/whatsnew/whatsnew128-na/pip-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 2.25ex;
    margin-bottom: -0.5ex;
    width: 2.25ex;
}

@media (prefers-color-scheme: dark) {
    .wnp-content-main {
        background: $color-dark-gray-40;
    }

    .wnp-main-title,
    .wnp-main-tagline {
        color: $title-text-color-inverse;

        @supports (--css: variables) {
            color: var(--title-text-color-inverse);
        }
    }

    .has-pip-icon strong {
        background-image: url("/media/img/firefox/whatsnew/whatsnew128-na/pip-icon-white.svg");
    }
}
