// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';

//* -------------------------------------------------------------------------- */
// Main content area

main {
    background: url('/media/img/firefox/whatsnew/lite/background/top-right.png') top right no-repeat,
                url('/media/img/firefox/whatsnew/lite/background/bottom-left.png') bottom left no-repeat,
                linear-gradient(#00dde6, #1896de);

    @media #{$mq-lg} {
        background: url('/media/img/firefox/whatsnew/lite/background/top-left.png') top left no-repeat,
                    url('/media/img/firefox/whatsnew/lite/background/top-right.png') top right no-repeat,
                    url('/media/img/firefox/whatsnew/lite/background/bottom-left.png') bottom left no-repeat,
                    linear-gradient(#00dde6, #1896de);
    }
}

.lite-main {
    position: relative;

    @media #{$mq-lg} {
        max-height: 780px;
        overflow-y: hidden;

        &:after {
            background-image: url('/media/img/firefox/whatsnew/lite/robot.png');
            background-size: 390px 291px;
            bottom: 0;
            content: '';
            height: 291px;
            position: absolute;
            left: 50%;
            width: 390px;
            margin-left: -330px;

            html[lang="id"] & {
                background-image: url('/media/img/firefox/whatsnew/lite/robot-id.png');
            }
        }
    }

    @media #{$mq-xl} {
        &:after {
            margin-left: -240px;
        }
    }
}

//* -------------------------------------------------------------------------- */
// Firefox Lite header

.lite-header {

    .lite-header-logo {
        display: block;
        margin: 0 auto $spacing-md;
        width: 90px;
    }

    .lite-header-title {
        @include text-title-lg;
        font-weight: normal;
        text-align: center;
    }

    @media #{$mq-md} {
        display: grid;
        grid-column-gap: $spacing-xl;
        grid-template-columns: 132px 1fr;

        .lite-header-title {
            align-self: center;
            margin-bottom: 0;
            text-align: left;
        }

        .lite-header-logo {
            width: 132px;
        }
    }
}

//* -------------------------------------------------------------------------- */
// Product images & copy

.lite-content {

    .lite-product-image {
        display: none;
    }

    .lite-copy {
        text-align: center;
        margin-top: $spacing-xl;
    }

    .lite-tagline {
        @include text-title-xs;
        margin: 0 auto;
        max-width: 16em;
    }

    .lite-qrcode-container {
        margin: $spacing-xl auto;
    }

    .lite-qrcode-copy-small {
        @include text-body-lg;
    }

    @media #{$mq-lg} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $spacing-2xl;

        .lite-product-image {
            display: inline-block;
            text-align: right;
        }
    }

    @media #{$mq-xl} {
        background: url('/media/img/firefox/whatsnew/lite/background/centre.png') left bottom 160px no-repeat;
    }
}
