// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../hubs/sections';
@import 'header';

//* -------------------------------------------------------------------------- */
// Common elements

body {
    background: #fff;
}

main {
    @include open-sans;
    background: #0061df linear-gradient(to right, #0061df 0%, #0075e3 25%, #00e8f9 100%);
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        font-weight: normal;
    }

    @media #{$mq-phone-wide} {
        background: #0061df linear-gradient(to right, #0061df 0%, #0075e3 25%, #00e8f9 75%, #00fdfd 100%);
    }

    /**
     * Only show the wave.png background when we can't see the cropped left/right edges.
     * Ideally we would have a multi-layer background here, but this single-layer asset is all we have.
     */
    @media #{$mq-desktop} and (max-width: 2460px) {
        background: url('/media/img/firefox/whatsnew/zh-tw/wave.png') bottom -60px center no-repeat,
                    linear-gradient(to right, #0061df 0%, #0075e3 25%, #00e8f9 75%, #00fdfd 100%);
    }
}

//* -------------------------------------------------------------------------- */
// Masthead

.logo-masthead {
    margin: 20px 0;
    text-align: center;
}

//* -------------------------------------------------------------------------- */
// Main CTA

.main-content {
    text-align: center;

    h1 {
        @include font-size-level2;
        letter-spacing: .25em;
        margin: 0 auto 40px;
        max-width: 9em;

        span {
            letter-spacing: normal;
            padding-right: .25em;
        }
    }

    h2 {
        background: url('/media/img/firefox/whatsnew/zh-tw/fox.png') top center no-repeat;
        font-weight: bold;
        letter-spacing: .1em;
        padding-top: 120px;
    }

    .qrcode {
        margin-bottom: 40px;
        max-width: 220px;
    }

    ul {
        @include font-size-level4;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        display: inline-block;
        letter-spacing: .1em;
        margin: 20px auto;
        padding: .4em 0;

        li {
            line-height: 1.8;

            span {
                letter-spacing: normal;
                padding-right: .2em;
            }
        }
    }

    @media #{$mq-phone-wide} {
        .qrcode {
            max-width: 280px;
        }
    }

    @media #{$mq-desktop} {
        @include clearfix;
        margin: 0 auto 180px;
        max-width: 900px;
        position: relative;

        h1 {
            margin-bottom: 60px;
            max-width: none;

            span {
                @include font-size-level1;
            }
        }

        .qrcode {
            float: left;
            max-width: 320px;
        }

        ul {
            letter-spacing: .3em;
        }

        .section-content {
            float: right;
        }
    }

    @media #{$mq-desktop} and #{$mq-tall} {
        h1 {
            margin-bottom: 140px;
        }
    }

    @media #{$mq-desktop-wide} {
        .qrcode {
            max-width: none;
        }
    }
}
