// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/notification-bar';


.t-content-lg {
    max-width: $content-lg;
}

//* -------------------------------------------------------------------------- */
// Up-to-date page header

.c-page-header {
    background: transparent;
}

.mzp-c-notification-bar {
    color: $color-off-black;
    display: none;
    margin: 0;

    .show-up-to-date-message & {
        display: block;
    }
}

.c-page-header-inner {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}

.mzp-c-notification-bar {
    margin: $spacing-md 0 0;

    @media #{$mq-md} {
        margin: 0;
    }
}

.c-page-header-logo-moz {
    min-width: 78px;
}

@media #{$mq-md} {
    .c-page-header-inner {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
    }
}


//* -------------------------------------------------------------------------- */
// Main content section

.main-content {
    color: $color-white;
    text-align: center;

    .main-title {
        @include text-display-md;

        br {
            display: none;
        }
    }

    .main-tagline {
        @include text-display-sm;
    }

    header {
        @include at2x('/media/protocol/img/logos/firefox/browser/logo-word-hor-white-sm.png', 174px, 32px);
        background-position: top center;
        background-repeat: no-repeat;
        padding-top: 48px;
        margin-bottom: 48px;
    }

    &.show-send-to-device {
        @include bidi(((text-align, left, right),));

        header {
            @include bidi(((background-position, left top, right top),));
        }
    }

    @media #{$mq-sm} {
        .main-title br {
            display: inline;
        }
    }

    @media #{$mq-md} {
        padding: 10vh 0;

        header {
            background-size: 260px 48px;
            padding-top: $layout-lg;
        }
    }
}

.content-wrapper {
    background: $color-off-black url('/media/img/firefox/whatsnew/whatsnew_background.svg') no-repeat;
    @include background-size(100%);
}

.send-to-device-form .inline-field {
    margin-bottom: $spacing-md;
}
