// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-pocket';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import 'includes/base';
@import 'includes/dark-mode';

// * -------------------------------------------------------------------------- */
// Main content
.wnp-content-main {
    padding: 0;
    text-align: center;

    .mzp-c-wordmark {
        background-position: center top;
        margin-left: auto;
        margin-right: auto;
    }
}

.wnp-main-title {
    @include text-title-xl;
    color: get-theme('title-text-color');
}

.wnp-main-tagline {
    @include text-body-xl;
}

.wnp-main-cta {
    margin-top: $layout-md;

    .mzp-c-button.mzp-t-product {
        background-color: #f14961;

        &:hover,
        &:focus {
            background-color: #901424;
        }
    }
}

.wnp-pocket-library {
    margin: $layout-lg auto 0;
}

// * -------------------------------------------------------------------------- */
// For dark mode
@media (prefers-color-scheme: dark) {
    .content-wrapper {
        background: $color-dark-gray-60;
        color: $color-white;
    }

    .mzp-c-wordmark.mzp-t-product-pocket.mzp-t-wordmark-md {
        background-image: url('/media/protocol/img/logos/pocket/logo-word-hor-white.svg');
    }

    .wnp-main-title,
    .wnp-footer-title,
    .mzp-c-picto-heading {
        color: get-theme('title-text-color-inverse');
    }
}
