// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import 'includes/base';
@import 'includes/dark-mode';

// * -------------------------------------------------------------------------- */
// Main content

.wnp-content-main {
    color: $color-black;
}

.wnp-main-image {
    margin: 0 auto;
    max-width: $content-md;
}

.wnp-main-title {
    @include text-title-lg;

    @media #{$mq-lg} {
        @include text-title-xl;
    }
}

.wnp-main-tagline {
    @include text-body-lg;
}

.wnp-main-cta {
    margin-top: $spacing-2xl;
}

.wnp-content-extra {
    margin-top: $layout-xl;
}

.c-qrcode {
    background: $color-white;
    border-radius: $border-radius-md;
    border: 3px solid $color-black;
    padding: $spacing-xl $spacing-md;
    text-align: center;

    @media #{$mq-lg} {
        padding: $spacing-xl;
    }
}

.c-qrcode-title {
    margin-bottom: $spacing-xl;
}

// * -------------------------------------------------------------------------- */
// For dark mode
@media (prefers-color-scheme: dark) {
    .wnp-content-main,
    .wnp-main-title {
        color: $color-white;
    }

    .c-qrcode {
        background: $color-white;
    }
}
