// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../hubs/sections';
@import 'header';

body {
    @include open-sans;
}

.rocket-body {
    background: linear-gradient(to top, #73F6D8, #7950DC);
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.rocket-intro {
    @include font-size-level3;
    position: relative;
    z-index: 2;
}

.rocket-text {
    margin: 0 auto 1em;
    max-width: 540px;
}

.rocket-code {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    display: inline-block;
    margin: 0 auto 1em;

    img {
        display: block;
    }
}

@media #{$mq-desktop} {

    .rocket-body {
        background: linear-gradient(to bottom, #73F6D8, #7950DC);
    }

    .rocket-content {
        &:before,
        &:after {
            border-radius: 100%;
            content: '';
            display: block;
            height: 888px;
            position: absolute;
            width: 888px;
            z-index: 1;
        }

        &:before {
            background: linear-gradient(to bottom, #6efcea 40%, #7c6fe4);
            right: calc(50% - 80px);
            top: -302px;
        }

        &:after {
            background: linear-gradient(to bottom, #70cde5, #7292e7 40%);
            bottom: -552px;
            left: calc(50% - 220px);
        }
    }

    .rocket-body {
        text-align: left;

        .content {
            padding: 40px;
        }
    }

    .rocket-logo {
        margin-bottom: 10px;
    }

    .rocket-intro {
        @include font-size(32px);
        background: url('/media/img/firefox/whatsnew/rocket/screenshot.png') left center no-repeat;
        background-size: 370px 553px;
        padding: 20px 0 20px 420px;

        @media #{$mq-high-res} {
            background-image: url('/media/img/firefox/whatsnew/rocket/screenshot-high-res.png');
        }
    }

    .rocket-text {
        margin: 0 0 1em 0;
        max-width: 720px;
    }

    .rocket-code {
        margin: 0;
    }

    .rocket-play {
        display: inline-block;
        margin-left: 35px;
    }
}

@media #{$mq-desktop-wide} {
    .rocket-body {

        .content {
            padding: 20px 85px;
        }
    }

    .rocket-intro {
        padding: 60px 0 60px 470px;
    }

    .rocket-logo {
        margin-bottom: 20px;
    }

}
