// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import '~@mozilla-protocol/core/protocol/css/templates/multi-column';
@import 'includes/base';
@import 'includes/dark-mode';

// * -------------------------------------------------------------------------- */
// Main content

$campaign-red: #ff6a75;

.c-hero-main-wrapper {
    background: $campaign-red;
    padding: $spacing-lg $spacing-lg $spacing-2xl;
}

.c-hero {
    background: $color-white;
    clip-path: url("#hero-clip-path");
    margin: 0 auto;
    max-width: $content-xl;
}

.c-hero-top {
    background: $color-white;
    border-bottom: 4px solid $campaign-red;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    margin: 0 auto;
    padding: $spacing-md $spacing-md $spacing-sm;

    .c-hero-top-controls {
        align-items: center;
        display: flex;
    }

    .hero-control-btn {
        background: none;
        border: 0;
        display: block;
        margin-left: $spacing-md;
    }

    .minimize {
        border-bottom: 3px solid $campaign-red;
        height: 30px;
        width: 30px;
    }

    .expand {
        border: 3px solid $campaign-red;
        height: 24px;
        width: 24px;
    }

    .close {
        @include image-replaced;
        height: 36px;
        position: relative;
        width: 28px;

        &::before {
            background: $campaign-red;
            content: "";
            height: 36px;
            position: absolute;
            right: 12px;
            top: 0;
            transform: rotate(-45deg);
            width: 3px;
        }

        &::after {
            background: $campaign-red;
            content: "";
            height: 36px;
            position: absolute;
            right: 12px;
            top: 0;
            transform: rotate(45deg);
            width: 3px;
        }
    }
}

.c-hero-body {
    @include text-body-lg;
    color: $color-black;
    padding: $spacing-lg $spacing-xl $spacing-xl;

    .c-hero-wordmark {
        margin-bottom: $spacing-lg;
    }

    .c-hero-title {
        @include text-title-lg;
    }

    @media #{$mq-lg} {
        padding: $spacing-lg $spacing-2xl $spacing-2xl;
    }
}

.c-hero-body-media {
    align-items: center;
    display: flex;
}

.c-qrcode {
    background: $color-white;
    border-radius: $border-radius-md;
    border: 3px solid $color-black;
    margin: 0 auto;
    max-width: 300px;
    padding: $spacing-xl $spacing-md;
    text-align: center;

    @media #{$mq-lg} {
        padding: $spacing-xl;
    }
}

.c-qrcode-title {
    @include text-title-2xs;
}

.c-qrcode-subtitle {
    @include text-body-md;
    margin-bottom: $spacing-xl;
}

.wnp-content-extra {
    margin-top: $layout-xl;
}
