// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import 'includes/base';
@import 'includes/dark-mode';

.wnp-content-main {
    background-color: #dceaff;
    padding: 0;
    margin: 0;

    .mzp-c-button {
        margin-bottom: $spacing-xl;
    }

    .wnp-logo-lockup {
        margin: 0 auto $spacing-xl auto;
    }

    .mzp-c-split-body {
        margin-top: $layout-md;

        & > :last-child {
            margin-bottom: $layout-md;
        }
    }

    .mzp-c-split-media-asset {
        height: auto;
        max-width: none;
        vertical-align: middle;
        width: 100%;
    }

    @media (max-width: $screen-md) {
        .mzp-c-split-container {
            padding: 0;
        }

        .mzp-c-split-body {
            padding: $spacing-lg;
        }
    }

    @media #{$mq-md} {
        .wnp-logo-lockup {
            margin-left: 0;
            margin-right: 0;
        }

        .mzp-c-split-body {
            margin-top: $layout-xl;

            & > :last-child {
                margin-bottom: $layout-xl;
            }
        }

        .mzp-c-split-media {
            height: 100%;
        }

        .mzp-c-split-media-asset {
            height: 100%;
            width: auto;
        }
    }

    @media #{$mq-lg} {
        @supports (display:grid) {
            // make the 2022 graphic fixed dimensions on large view ports.
            &.mzp-l-split-body-wide .mzp-c-split-container {
                grid-template-columns: 2fr 458px;
            }
        }
    }
}

.wnp-main-title {
    @include text-title-md;
    color: #00256d;

    @media #{$mq-xl} {
        @include text-title-lg;
    }
}

.wnp-main-tagline {
    @include text-body-md;
    color: #00256d;

    @media #{$mq-xl} {
        @include text-body-lg;
    }
}

.wnp-main-cta {
    margin-top: $spacing-xl;
}
