// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as *;

.wnp-section-intro {
    ol {
        text-align: start;
    }
}

.wnp-section-mobile {
    .wnp-qr-media {
        background: url('/media/img/firefox/whatsnew/whatsnew143-us/qr-background-orange.png') no-repeat top;
        background-size: cover;
    }
}

.wnp-section-highlights {
    .wnp-subtitle-content {
        @media #{$mq-md} {
            max-width: 60%;
        }
    }

    .wnp-card-sticker {
        margin-bottom: var(--fds-spacing-xl);
    }

    .wnp-subtitle {
        margin-bottom: var(--fds-spacing-md);
    }

    .wnp-body {
        margin-bottom: var(--fds-spacing-2xl);
    }
}

// only include WNP cta if UITour JS runs
.wnp143-uitour {
    display: none;
}

body.wnp-uitour .wnp143-uitour {
    display: inline-block;
}
