// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';
@import 'includes/header';

.content-main {
    padding: 0;
    @media #{$mq-md} {
        padding-top: $spacing-2xl;
    }
}

.content-wrapper {
    background: $color-ink-80 url('/media/img/firefox/whatsnew/whatsnew_background.svg') no-repeat;
    @include background-size(100%);
    color: $color-white;
}

.c-page-header-logo-fx {
    background-image: none;
}

// * -------------------------------------------------------------------------- */
// Emphasis box

.mzp-c-emphasis-box {
    @include border-box;
    color: get-theme('body-text-color');
    margin: 0 auto $layout-sm;
    max-width: $content-md - ($layout-md * 2);
    padding: $spacing-xl;

    a:link,
    a:visited {
        color: $color-ink-80;

        &:hover,
        &:focus {
            color: inherit;
        }
    }

    abbr {
        text-decoration: none;
    }

    .c-emphasis-box-title {
        @include text-title-sm;
        color: get-theme('title-text-color');
        text-align: center;
    }
}
