// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import 'includes/base';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';

.wnp-content-main {
    background-color: $color-marketing-gray-10;
    color: $color-black;
    text-align: center;
}

.wnp-main-title {
    display: inline-block;
    margin-bottom: $layout-md;
    position: relative;

    @media #{$mq-lg} {
        padding-left: 48px + $spacing-md;

        &::before {
            background: url('/media/img/firefox/whatsnew/whatsnew126-na/jigsaw-piece.svg') top left no-repeat;
            content: '';
            display: block;
            height: 48px;
            left: 0;
            margin: 0 auto $spacing-lg;
            position: absolute;
            top: 0;
            width: 48px;
        }
    }
}

.wnp-main-tagline {
    @include text-body-lg;
    margin-top: $layout-md;
}

.wnp-main-image {
    display: block;
    margin: 0 auto $spacing-2xl;
}

.wnp-main-cta {
    display: block;
    margin-bottom: $layout-xl;
}
