// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";

/*-------------------------------------------------------------------------*/
// General page styles.

html,
body {
    height: 100%;
    background: @mozIDBlue;
}

#tabzilla:before {
    background: @mozIDBlue;
}

#outer-wrapper {
    min-height: 100%;
    .aurora-bars();
    overflow: hidden;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        text-shadow: none;
    }

    p {
        color: #fff;
    }
}

#try-private-browsing,
#tracking-protection-animation {
    display: none;
}

.button.dark {
    .font-size(24px);

    @media only screen and (max-width: @breakDesktop) {
        .font-size(20px);
    }

    @media only screen and (max-width: @breakTablet) {
        .font-size(18px);
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        .font-size(@largeFontSize);
    }
}

/*-------------------------------------------------------------------------*/
// Masthead with Firefox logo and up-to-date messaging.

#masthead {
    min-height: 187px;
    margin-bottom: @baseLine * 3;

    a:link,
    a:visited {
        color: #fff;
    }

    a:hover,
    a:active,
    a:focus {
        color: darken(#fff, 5%);
    }

    h2 {
        position: absolute;
        top: 90px;
        right: @gridGutterWidth;
        margin: 0;
        padding: 0;
        .font-size(28px);
        .open-sans-light;
        line-height: 30px;
        letter-spacing: -0.25px;
        text-align: right;

        &:before {
            display: inline-block;
            content: '';
            width: 30px;
            height: 30px;
            margin: 0 .3em -4px 0;
            .at2x('/media/img/firefox/whatsnew_42/fx-header-sprite.png', 141px, 181px);
            background-position: 0 0;
        }
    }

    // Firefox logo
    &:before {
        display: block;
        position: absolute;
        top: 30px;
        left: @gridGutterWidth;
        width: 141px;
        height: 147px;
        content: '';
        .at2x('/media/img/firefox/whatsnew_42/fx-header-sprite.png', 141px, 181px);
        background-position: 0 -32px;
        overflow: hidden;
    }

    @media only screen and (max-width: @breakDesktop) {
        h2 {
            .font-size(24px);
            max-width: 20em;
        }
    }

    @media only screen and (max-width: @breakTablet) {
        text-align: center;
        min-height: auto;
        margin-bottom: @baseLine;

        h2 {
            position: static;
            width: 100%;
            margin: 0 auto;
            padding-top: @baseLine * 4;
            .font-size(18px);
            text-align: center;
        }

        // hide Firefox logo
        &:before {
            content: none;
        }
    }
}

.html-rtl #masthead {
    h2 {
        right: auto;
        left: @gridGutterWidth;
        text-align: left;

        &:before {
            margin: 0 0 -4px .3em;
        }

        @media only screen and (max-width: @breakTablet) {
            margin: 0 auto;
            text-align: center;
        }
    }

    &:before {
        left: auto;
        right: @gridGutterWidth;
    }
}

/*-------------------------------------------------------------------------*/
// Main page headline and copy.

main .main-header {
    width: 540px;
    margin: 30px auto 0;
    float: left;

    h1 {
        .font-size(66px);
        line-height: 1.1;
        margin-bottom: @baseLine * 2;
    }

    .tagline {
        max-width: 15em;
        .open-sans-light;
        .font-size(35px);
        line-height: 1.2;
    }

    @media only screen and (max-width: @breakDesktop) {
        width: 380px;
        margin: 15px auto 0;

        h1 {
            .font-size(48px);
        }

        .tagline {
            .font-size(24px);
        }
    }

    @media only screen and (max-width: @breakTablet) {
        width: auto;
        float: none;
        margin: 0 auto;
        text-align: center;

        h1 {
            .font-size(48px);
        }

        .tagline {
            .font-size(20px);
            margin: @baseLine auto;
        }
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        h1 {
            .font-size(36px);
        }
    }
}

.html-rtl main > header {
    float: right;

    @media only screen and (max-width: @breakTablet) {
        float: none;
    }
}

/*-------------------------------------------------------------------------*/
// Main page footer links

footer[role="contentinfo"] {
    width: @widthDesktop - (@gridGutterWidth * 2);
    margin: (@baseLine * 6) auto (@baseLine * 2);

    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0;
            padding: 0;
            color: #bee1f5;
            .font-size(13px);

            &:after {
                content: '•';
                margin: 0 10px;
            }

            &:last-child:after {
                content: '';
                margin: 0;
            }
        }
    }

    a:link,
    a:visited {
        color: #bee1f5;
        .transition(color .1s ease-in-out);
    }

    a:hover,
    a:focus,
    a:active {
        color: #fff;
    }

    .logo {
        display: inline-block;
        width: 93px;
        height: 24px;
        margin-right: @gridGutterWidth;
        .at2x('/media/img/sandstone/footer-mozilla-white.png', 93px, 24px);
        .image-replaced();
    }

    @media only screen and (max-width: @breakDesktop) {
        width: @widthTablet - (@gridGutterWidth * 2);
    }

    @media only screen and (max-width: @breakTablet) {
        width: @widthMobileLandscape - @gridGutterWidth;
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        width: @widthMobile - @gridGutterWidth;
    }
}

/*-------------------------------------------------------------------------*/
// Tracking Protection sheild positioning

#tracking-protection-animation {
    display: block;
    float: right;
    margin: -40px -85px 0 0;

    @media only screen and (max-width: @breakDesktop) {
        margin-right: -20px;
    }

    @media only screen and (max-width: @breakTablet) {
        width: auto;
        float: none;
        margin: @baseLine auto;
    }
}

.html-rtl #tracking-protection-animation {
    float: left;
    margin-right: auto;
    margin-left: -85px;

    @media only screen and (max-width: @breakDesktop) {
        margin-right: auto;
        margin-left: -50px;
    }

    @media only screen and (max-width: @breakTablet) {
        float: none;
        margin: @baseLine auto;
    }
}

@media only screen and (max-height: 645px) {
    #masthead {
        margin-bottom: @baseLine;
    }
}

@media only screen and (min-width: @breakDesktop) {
    html[lang^='de'],
    html[lang^='pl'] {
        main > header h1 {
            .font-size(55px);
        }
    }

    html[lang^='it'] {
        main > header h1 {
            .font-size(54px);
        }
    }
}
