// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import 'includes/base';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/notification-bar';

.wnp-content-main {
    background-color: $color-marketing-gray-10;
    color: $color-black;
    text-align: center;
}

.wnp-main-title {
    @include text-title-xl;
}

.wnp-main-tagline {
    @include text-body-lg;
    margin-bottom: $layout-md;
}

.wnp-sub-tagline {
    @include text-body-sm;
    margin-top: $layout-md;
}

.wnp-main-image {
    margin: $layout-xs auto $layout-lg;
}

.wnp-sign-off {
    color: $color-black;
    text-align: center;
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.wnp-loading,
.wnp-fast,
.wnp-default {
    &.show {
        display: block;
    }

    &.hide {
        display: none;
    }
}

// Show a loading indicator until we can detect default browser
.wnp-loading {
    animation: loading 1.2s ease-in-out infinite;
    background: linear-gradient(100deg, $color-light-gray-10 30%, $color-light-gray-20 50%, $color-light-gray-10 70%);
    background-size: 400%;
    border-radius: $border-radius-sm;
    height: 4em;
    margin: $layout-lg auto;

    &.hide {
        display: none;
    }
}

// Assuming JS is available, show no content until we can detect default browser
.js {
    .wnp-loading,
    .wnp-default,
    .wnp-fast {
        display: none;

        &.show {
            display: block;
        }
    }
}

// Fall back to the fast content if JS fails
.no-js {
    .wnp-loading,
    .wnp-default {
        display: none;
    }

    .wnp-fast {
        display: block;
    }
}
