{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "mozorg/about/history" "mozorg/about" %}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}{{ _('Looking back. Looking ahead.') }}{% endblock %}
{% block body_id %}about-history{% endblock %}
{% block body_class %}sand{% endblock %}
{% block body_attrs %}{{ super() }} data-global-nav-current-link="about-us"{% endblock %}

{% block page_css %}
  {% stylesheet 'history-slides' %}
{% endblock %}

{% block js %}
  {% javascript 'history-slides' %}
{% endblock %}

{% block site_header_logo %}{% endblock %}

{% block content %}
<article id="history-slides">
  <header class="page-head">
    <h1 class="page-title">{{ _('Looking back. Looking ahead.') }}</h1>
    <p class="intro">
    {{ _('Mozilla exists to promote openness, innovation and opportunity on the Internet.') }}
    <br>
    {{ _('Take a closer look at who we are, including some of our biggest achievements and milestones.') }}
    </p>
  </header>

  <div id="slideshow-stage">

    <div id="slideshow">
      <div class="slide-control">
        <button class="prev">{{ _('Previous') }}</button>
        <button class="next">{{ _('Next') }}</button>
      </div>
      <ul class="sequence-canvas slides">
        <li id="fact01" class="slide">
          <span class="number">01</span>
          <div class="message">
            <p>
            {% trans %}
              The Mozilla Project launched at Netscape on March 31, 1998, to offer choice to users and drive innovation on the Web.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="back"></span>
        </li>

        <li id="fact02" class="slide">
          <span class="number">02</span>
          <div class="message">
            <p>
            {% trans %}
              Proudly non-profit, Mozilla makes products like Firefox with a mission to keep the power of the Web in the hands of users everywhere.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="block3"></span>
          <span class="logo"></span>
          <span class="back"></span>
        </li>

        <li id="fact03" class="slide">
          <span class="number">03</span>
          <div class="message">
            <p>
            {# L10N: "The New York Times" is the proper name of an English publication and should not be translated. #}
            {% trans %}
              More than 10,000 contributors expressed their support for our mission by paying for a full-page ad in <cite>The New York Times</cite> on the day Firefox 1.0 launched in 2004.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="back"></span>
        </li>

        <li id="fact04" class="slide">
          <span class="number">04</span>
          <div class="message">
            <p>
            {% trans %}
              Today Mozilla has contributors on every continent, including Antarctica (where Firefox is used by 80% of people).
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="back"></span>
        </li>

        <li id="fact05" class="slide">
          <span class="number">05</span>
          <div class="message">
            <p>
          {% if l10n_has_tag('history_nov2014') %}
            {% trans %}
              Firefox Add-Ons allow you to customize and take control of your Web experience. Nearly 4 billion of them have been downloaded by users so far.
            {% endtrans %}
          {% else %}
            {% trans %}
              Firefox Add-Ons allow you to customize and take control of your Web experience. Over 3 billion of them have been downloaded by users so far.
            {% endtrans %}
          {% endif %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="block3"></span>
          <span class="back"></span>
        </li>

        <li id="fact06" class="slide">
          <span class="number">06 <span class="keyhole"></span></span>
          <div class="message">
            <p>
            {% trans %}
              Mozilla is leading the way in online privacy with browser innovations like Do Not Track and Lightbeam that give users greater control of their personal data.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="back"></span>
        </li>

        <li id="fact07" class="slide">
          <span class="number">07</span>
          <div class="message">
            <p>
            {% trans %}
              Our global community has helped translate Firefox into over 70 languages, making the browser available to more than 90% of the world's population.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="back"></span>
        </li>

        <li id="fact08" class="slide">
          <span class="number">08</span>
          <div class="message">
            <p>
            {% trans %}
              In 2008, 8,002,530 people chose Firefox in a single day to set a Guinness World Record for “Most Downloads of a Software Application in 24 Hours.”
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="back"></span>
        </li>

        <li id="fact09" class="slide">
          <span class="number">09</span>
          <div class="message">
            <p>
            {% trans %}
              The Mozilla Festival is our largest annual event, bringing together hundreds of creative minds to realize the full power and potential of the Web.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="logo"><span></span></span>
          <span class="back"></span>
        </li>

        <li id="fact10" class="slide">
          <span class="number">10</span>
          <div class="message">
            <p>
            {% trans %}
              Mozilla Webmaker works to create a more Web-literate planet, providing tools and projects to help people take greater control of their online lives.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="back"></span>
        </li>

        <li id="fact11" class="slide">
          <span class="number">11</span>
          <div class="message">
            <p>
          {% if l10n_has_tag('history_nov2014') %}
            {% trans %}
              Firefox for Android brings the Firefox desktop browsing experience to phones and tablets. Available on Google Play, it has been downloaded more than 80 million times.
            {% endtrans %}
          {% else %}
            {% trans %}
              Mozilla leads the Open Badges program, an online standard that helps people gain recognition for 21st century skills and unlock new career opportunities.
            {% endtrans %}
          {% endif %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="droid"></span>
          <span class="back"></span>
        </li>

        <li id="fact12" class="slide">
          <span class="number">12</span>
          <div class="message">
            <p>
            {% trans %}
              The Mozilla Developer Network is a community-driven Web resource that provides the best documentation, tutorials and tools available to more than 2 million visitors each month.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="stars"></span>
          <span class="rocket"></span>
          <span class="back"></span>
        </li>

        <li id="fact13" class="slide">
          <span class="number">13</span>
          <div class="message">
            <p>
            {% trans %}
              Mozilla works to care for and preserve the Web as a shared public resource for the benefit of everyone.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="back"></span>
        </li>

        <li id="fact14" class="slide">
          <span class="number">14</span>
          <div class="message">
            <p>
            {% trans %}
              In 2013, Mozilla launched Firefox OS to unleash the full power of the Web on smartphones and once again offer control and choice to a new generation of people coming online.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="shadow"></span>
          <span class="phone"></span>
          <span class="fox"></span>
          <span class="back"></span>
        </li>

        <li id="fact15" class="slide">
          <span class="number">15</span>
          <div class="message">
            <p>
            {% trans %}
              The work Mozilla does is made possible thanks to tens of thousands of volunteers who believe the Web should remain open and accessible to all.
            {% endtrans %}
            </p>
          </div>
          <span class="block1"></span>
          <span class="block2"></span>
          <span class="back"></span>
        </li>

      </ul>
    </div>
  </div>
</article>

<div class="billboard">
  <ul class="links">
    <li>
      <h4><a href="{{ url('mozorg.about') }}">{{ _('About Mozilla') }}</a></h4>
      <p>{{ _('A look at our projects, products and principles') }}</p>
    </li>
    <li>
      <h4><a href="{{ url('mozorg.mission') }}">{{ _('The Mozilla mission') }}</a></h4>
      <p>{{ _('What drives us and makes us different') }}</p>
    </li>
    <li>
      <h4><a href="{{ url('mozorg.about.history-details') }}">{{ _('More history') }}</a></h4>
      <p>{{ _('Where we came from and how we got to where we are') }}</p>
    </li>
    <li>
      <h4><a href="{{ url('firefox.family.index') }}">{{ _('Our products') }}</a></h4>
      <p>{{ _('An overview of what we make and what we’re working on') }}</p>
    </li>
    <li>
      <h4><a href="{{ url('mozorg.contribute.index') }}">{{ _('Get involved') }}</a></h4>
      <p>{{ _('Become a volunteer contributor in a number of different areas') }}</p>
    </li>
    <li>
      <h4><a href="{{ url('mozorg.about.governance.governance') }}">{{ _('Governance') }}</a></h4>
      <p>{{ _('Our organization, structure and broader community') }}</p>
    </li>
  </ul>
</div>

{% endblock %}
