{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-article.html" %}

{% block page_title %}{{ ftl('manifesto-details-the-mozilla-manifesto') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block body_id %}about-manifesto{% endblock %}
{% block body_class %}mzp-t-mozilla{% endblock %}

{% set navigation_bar = [
  (url('mozorg.about.index'), 'about', ftl('about-shared-about-mozilla')),
  (url('mozorg.mission'), 'mission', ftl('about-shared-mission')),
  (url('mozorg.about.history'), 'history', ftl('about-shared-history')),
  (url('mozorg.about.leadership.index'), 'leadership', ftl('about-shared-leadership')),
  (url('mozorg.about.governance.governance'), 'governance', ftl('about-shared-governance')),
  (url('mozorg.about.forums.forums'), 'forums', ftl('about-shared-forums')),
  (url('mozorg.about.policy.patents.index'), 'patents', ftl('about-shared-patents')),
] -%}

{% block article %}

<h1 class="mzp-c-article-title">{{ self.page_title() }}</h1>
<section id="introduction">
  <h2>{{ ftl('manifesto-details-introduction') }}</h2>
  <p>{{ ftl('manifesto-details-the-internet-is-becoming') }}</p>
  <p>{{ ftl('manifesto-details-the-mozilla-project-global') }}</p>
  <p>{{ ftl('manifesto-details-the-mozilla-project-community') }} </p>
  <p>{{ ftl('manifesto-details-as-a-result-of') }}</p>
  <p>{{ ftl('manifesto-details-the-goals-for') }}</p>
  <ol class="mzp-u-list-styled">
    <li>{{ ftl('manifesto-details-articulate-a-vision')}} </li>
    <li>{{ ftl('manifesto-details-speak-to-people')}}</li>
    <li>{{ ftl('manifesto-details-make-mozilla-contributors') }}</li>
    <li>{{ ftl('manifesto-details-provide-a-framework') }}</li>
  </ol>
  <p>{{ ftl('manifesto-details-these-principles') }}</p>
</section>
<section id="principles">
  <h2>{{ ftl('manifesto-details-principles') }}</h2>
  <ol class="mzp-u-list-styled">
    <li>{{ ftl('manifesto-details-the-internet-is-integral') }} </li>
    <li>{{ ftl('manifesto-details-the-internet-is-global') }}</li>
    <li>{{ ftl('manifesto-details-the-internet-must') }}</li>
    <li>{{ ftl('manifesto-details-individuals-security') }}</li>
    <li>{{ ftl('manifesto-details-individuals-must') }}</li>
    <li>{{ ftl('manifesto-details-the-effectiveness') }}</li>
    <li>{{ ftl('manifesto-details-free-and-open') }}</li>
    <li>{{ ftl('manifesto-details-transparent-community') }}</li>
    <li>{{ ftl('manifesto-details-commercial-involvement') }}</li>
    <li>{{ ftl('manifesto-details-magnifying-the') }}</li>
  </ol>
</section>
<section id="advancing">
  <h2>{{ ftl('manifesto-details-advancing-the') }}</h2>
  <p>{{ ftl('manifesto-details-there-are-many') }} </p>
  <section>
    <h3>{{ ftl('manifesto-details-mozilla-foundation') }}</h3>
    <p>{{ ftl('manifesto-details-the-mozilla-foundation-pleges') }}</p>
    <ul class="mzp-u-list-styled">
      <li>{{ ftl('manifesto-details-build-and-enable') }}</li>
      <li>{{ ftl('manifesto-details-build-and-deliver') }}</li>
      <li>{{ ftl('manifesto-details-use-the-mozilla') }}</li>
      <li>{{ ftl('manifesto-details-promote-models') }}</li>
      <li>{{ ftl('manifesto-details-promote-the-mozilla') }}</li>
    </ul>
    <p>{{ ftl('manifesto-details-some-foundation') }}</p>
  </section>
  <section>
    <h3>{{ ftl('manifesto-details-invitation') }}</h3>
    <p>{{ ftl('manifesto-details-the-mozilla-foundation-invites') }}</p>
  </section>
</section>

{% endblock %}

{% block side_nav %}
  {{ sidemenu_lists([navigation_bar]) }}

  <div class="side-reference">
    <h4 class="side-reference-title">{{ ftl('about-shared-our-products') }}</h4>
    <p>{{ ftl('about-shared-software-innovations') }}</p>
    <a class="more" href="{{ url('firefox') }}">{{ ftl('ui-learn-more') }}</a>
  </div>

  <div class="side-reference">
    <h4 class="side-reference-title">{{ ftl('about-shared-get-involved') }}</h4>
    <p>{{ ftl('about-shared-volunteer') }}</p>
    <a class="more" href="{{ url('mozorg.contribute') }}">{{ ftl('ui-learn-more') }}</a>
  </div>

   <div class="side-reference">
    <h4 class="side-reference-title">{{ ftl('vision-for-the-web') }}</h4>
    <p>{{ ftl('read-about-our-vision') }}</p>
    <a class="more" href="{{ url('mozorg.about.webvision.summary') }}">{{ ftl('ui-learn-more') }}</a>
  </div>

  {% block sidebar_extra %}{% endblock %}
{% endblock %}
