{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros-protocol.html" import call_out with context %}

{% extends "base-protocol-mozilla.html" %}

{% set_lang_files "mozorg/about/manifesto" %}

{% from 'macros.html' import twitter_share_url with context %}

{% block page_title %}{{ ftl('manifesto-details-the-mozilla-manifesto') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block page_desc %}{{ ftl('manifesto-these-are-the-principles') }}{% endblock %}

{% block body_id %}manifesto-landing{% endblock %}

{% block page_css %}
  {{ css_bundle('manifesto') }}
{% endblock %}

{% macro twitter_link(content_id, text) -%}
  {{ twitter_share_url('https://mzl.la/manifesto', text|truncate(102, False, '…')) }}
{%- endmacro %}

{% set principle_text_01 = ftl('manifesto-the-internet-is-an-integral') %}
{% set principle_text_02 = ftl('manifesto-the-internet-is-a-global') %}
{% set principle_text_03 = ftl('manifesto-the-internet-must-enrich') %}
{% set principle_text_04 = ftl('manifesto-individuals-security-and') %}
{% set principle_text_05 = ftl('manifesto-individuals-must-have') %}
{% set principle_text_06 = ftl('manifesto-the-effectiveness-of-the') %}
{% set principle_text_07 = ftl('manifesto-free-and-open-source-software') %}
{% set principle_text_08 = ftl('manifesto-details-transparent-community') %}
{% set principle_text_09 = ftl('manifesto-commercial-involvement') %}
{% set principle_text_10 = ftl('manifesto-magnifying-the-public') %}

{% set principle_number_01 = ftl('manifesto-principle-1') %}
{% set principle_number_02 = ftl('manifesto-principle-2') %}
{% set principle_number_03 = ftl('manifesto-principle-3') %}
{% set principle_number_04 = ftl('manifesto-principle-4') %}
{% set principle_number_05 = ftl('manifesto-principle-5') %}
{% set principle_number_06 = ftl('manifesto-principle-6') %}
{% set principle_number_07 = ftl('manifesto-principle-7') %}
{% set principle_number_08 = ftl('manifesto-principle-8') %}
{% set principle_number_09 = ftl('manifesto-principle-9') %}
{% set principle_number_10 = ftl('manifesto-principle-10') %}

{% block content %}
<main role="main" itemscope itemtype="http://schema.org/Article">
  <article role="article" itemprop="articleBody">
    <section>
      <div class="mzp-l-content mzp-t-content-md">
        <header>
          <h1 itemprop="name" class="manifesto-title">{{ ftl('manifesto-the-mozilla-manifesto-addendum') }}</h1>
        </header>
        <h2 class="addendum-subtitle">{{ ftl('manifesto-pledge-for-a-healthy-internet') }}</h2>
        <p>{{ ftl('manifesto-the-open-global-internet') }}</p>
        <p>{{ ftl('manifesto-over-the-last-decade-we') }}</p>
      </div>
      <div class="mzp-l-content">
        <ol class="addendum-list">
          <li>{{ ftl('manifesto-we-are-committed-to-people') }}</li>
          <li>{{ ftl('manifesto-we-are-committed-to-discourse') }}</li>
          <li>{{ ftl('manifesto-we-are-committed-to-thinking') }}</li>
          <li>{{ ftl('manifesto-we-are-committed-to-diverse') }}</li>
        </ol>
      </div>
    </section>

    {% call call_out(
      title=ftl('manifesto-show-your-support'),
      desc=ftl('manifesto-an-internet-with-these'),
      class='share-addendum',
      include_cta=True
    ) %}
      <p>
        <a class="mzp-c-button button-manifesto js-manifesto-share" target="_blank" rel="noopener noreferrer" href="{{ twitter_link('custom', ftl('manifesto-i-support-the-vision-of')) }}" data-link-type="social share" data-link-name="Twitter">
          {{ ftl('manifesto-share-on-twitter') }}
        </a>
      </p>
    {% endcall %}

    <div class="mzp-l-content">
      <section id="sec-principles">
        <header class="principles-header">
          <h2 class="principles-head">{{ ftl('manifesto-our-10-principles') }}</h2>
        </header>
        <div id="principles">
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_01 }}</span> {{ principle_text_01 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li><a href="http://openbadges.org/">{{ ftl('manifesto-use-open-badges-to-share') }}</a></li>
                <li>
                  <a href="http://mozillascience.org/">
                    {{ ftl('manifesto-explore-how-the-web-impacts') }}
                  </a>
                </li>
                <li><a href="https://opennews.org/getinvolved/">{{ ftl('manifesto-learn-about-open-source') }}</a></li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_02 }}</span> {{ principle_text_02 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li>
                  <a href="https://blog.mozilla.org/netpolicy/">
                    {{ ftl('manifesto-read-about-open-internet') }}
                  </a>
                </li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/participate/open-practice/">
                    {{ ftl('manifesto-explore-how-to-help-keep') }}
                  </a>
                </li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_03 }}</span> {{ principle_text_03 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li>
                  <a href="https://blog.mozilla.org/blog/2014/04/09/firefox-os-and-medic-mobile-use-the-web-to-connect-the-world-to-healthcare/">
                    {{ ftl('manifesto-see-how-the-web-can-connect') }}
                  </a>
                </li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/read/navigate/">
                    {{ ftl('manifesto-explore-how-the-web-works') }}
                  </a>
                </li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_04 }}</span> {{ principle_text_04 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li><a href="https://foundation.mozilla.org/internet-health/">{{ ftl('manifesto-see-how-mozilla-works') }}</a></li>
                <li><a href="https://blog.mozilla.org/netpolicy/">{{ ftl('manifesto-read-about-developments') }}</a></li>
                <li><a href="https://teach.mozilla.org/web-literacy/participate/protect/">{{ ftl('manifesto-learn-more-about-how-to') }}</a></li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_05 }}</span> {{ principle_text_05 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li>
                  <a href="https://teach.mozilla.org/tools/">
                    {{ ftl('manifesto-use-these-free-tools-to') }}
                  </a>
                </li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/write/compose/">
                    {{ ftl('manifesto-learn-about-creating-and') }}
                  </a>
                </li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_06 }}</span> {{ principle_text_06 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li><a href="http://ascendproject.org/">{{ ftl('manifesto-add-new-voices-to-open') }}</a></li>
                <li><a href="https://support.mozilla.org/kb/how-do-i-turn-do-not-track-feature">{{ ftl('manifesto-set-your-do-not-track') }}</a></li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/read/navigate/">
                    {{ ftl('manifesto-understand-the-web-ecosystem') }}
                  </a>
                </li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_07 }}</span> {{ principle_text_07 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/participate/open-practice/">
                    {{ ftl('manifesto-explore-how-open-practices') }}
                  </a>
                </li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/write/remix/">
                    {{ ftl('manifesto-learn-how-to-remix-content') }}
                  </a>
                </li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/write/code/">
                    {{ ftl('manifesto-learn-how-to-maximize') }}
                  </a>
                </li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_08 }}</span> {{ principle_text_08 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li><a href="https://groups.google.com/forum/#!forum/mozilla.governance">{{ ftl('manifesto-participate-in-our-governance') }}</a></li>
                <li><a href="{{ url('mozorg.contribute.index') }}">{{ ftl('manifesto-join-us-as-a-volunteer') }}</a></li>
                <li><a href="https://teach.mozilla.org/web-literacy/skills/">{{ ftl('manifesto-learn-how-to-collaborate') }}</a></li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_09 }}</span> {{ principle_text_09 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li>
                  <a href="https://addons.mozilla.org/firefox/addon/lightbeam-3-0/">
                    {{ ftl('manifesto-visualize-who-you-interact') }}
                  </a>
                </li>
                <li>
                  <a href="https://teach.mozilla.org/web-literacy/participate/share/">
                    {{ ftl('manifesto-learn-about-creating-web') }}
                  </a>
                </li>
              </ul>
            </section>
          </section>
          <section class="principle">
            <header class="principle-header">
              <h3><span class="principle-number">{{ principle_number_10 }}</span> {{ principle_text_10 }}</h3>
            </header>
            <section class="principle-more">
              <h4>{{ ftl('ui-learn-more') }}</h4>
              <ul class="mzp-u-list-styled">
                <li><a href="https://teach.mozilla.org/events/">{{ ftl('manifesto-host-or-join-a-maker-party') }}</a></li>
                <li><a href="https://teach.mozilla.org/web-literacy/skills/">{{ ftl('manifesto-learn-how-to-build-online') }}</a></li>
              </ul>
            </section>
          </section>
        </div>
        <footer class="content principles-foot">
          <p><a class="mzp-c-button button-manifesto js-manifesto-share" target="_blank" rel="noopener noreferrer" href="{{ twitter_link('custom', ftl('manifesto-i-support-the-vision-of')) }}" data-link-type="social share" data-link-name="Twitter">{{ ftl('manifesto-share-on-twitter') }}</a></p>
          <p><a class="mzp-c-cta-link" href="{{ url('mozorg.about.manifesto-details') }}">{{ ftl('manifesto-read-the-entire-manifesto') }}</a></p>
        </footer>
      </section>
    </div>
    <div class="mzp-l-content">
      <aside class="mzp-c-newsletter">
        <div class="mzp-c-newsletter-image">
          {{ high_res_img('img/home/2018/newsletter-graphic.png', {'alt': ''}) }}
        </div>

        <div class="newsletter-content">
          {% if LANG.startswith('en-') %}
            {{ email_newsletter_form(newsletters='mozilla-foundation', title='Love the web?', desc='Get the Mozilla newsletter and help us keep it open and free.', spinner_color='#fff') }}
          {% else %}
            {{ email_newsletter_form(spinner_color='#fff') }}
          {% endif %}
        </div>
      </aside>
    </div>
  </article>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('manifesto') }}
{% endblock %}
