{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import google_play_button with context %}
{% from "macros-protocol.html" import hero, call_out_compact with context %}

{% extends "firefox/base/base-protocol.html" %}

{% set addon_url = "https://addons.mozilla.org/firefox/addon/facebook-container/?src=external-www.mozilla.org-facebookcontainer&utm_source=www.mozilla.org-facebookcontainer&utm_medium=referral" %}

{% block page_title %}{{ ftl('facebook-container-facebook-container-for-firefox') }}{% endblock %}
{% block page_desc %}{{ ftl('facebook-container-millions-of-people-around') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_facebook_container') }}
{% endblock %}

{% block content %}
<main role="main">
  {% call hero(
    title=ftl('facebook-container-facebook-well-contained-keep'),
    class='mzp-t-dark mzp-has-image mzp-t-product-firefox',
    include_cta=True,
    heading_level=1) %}

  <div class="mzp-c-hero-desc">
    <a class="mzp-c-cta-link extension-cta" href="{{ addon_url }}">{{ ftl('facebook-container-get-the-facebook-container') }}</a>

    <div class="firefox-cta">
      <p>{{ ftl('facebook-container-download-firefox-and-get-the') }}</p>
      {{ download_firefox(alt_copy=ftl('download-button-download-firefox'), dom_id="download-firefox-cta") }}
    </div>

    <div class="mobile-cta">
      {% if ftl_has_messages('facebook-container-only-available-for-desktop', 'facebook-container-visit-to-get-for-desktop') %}
        <p>{{ ftl('facebook-container-only-available-for-desktop') }}</p>
        <p>{{ ftl('facebook-container-visit-to-get-for-desktop', url=url('firefox.new'), link_copy='www.mozilla.org/firefox/new/') }}</p>
      {% else %}
        <p>{{ ftl('facebook-container-the-facebook-container-extension') }}</p>
      {% endif %}

      {% if ftl_has_messages('facebook-container-get-firefox-android-ios') %}
        <p>{{ ftl('facebook-container-get-firefox-android-ios') }}</p>

        <ul>
          <li>
            {{ google_play_button(href=firefox_adjust_url('android', 'fb-container-page'), id='playStoreLink') }}
          </li>
          <li>
            <a id="appStoreLink" href="{{ firefox_adjust_url('ios', 'fb-container-page') }}" data-link-type="download" data-download-os="iOS">
              <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ ftl('download-button-download-app-store') }}" width="152" height="45">
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>

  <aside class="fbcontainer-video">
    {% if LANG == 'de' %}
      <div class="video-container">
        <iframe src="https://www.youtube-nocookie.com/embed/7yLoRVwuZlc?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen>
          <p><a href="https://www.youtube.com/watch?v=7yLoRVwuZlc">{{ ftl('ui-watch-the-video') }}</a></p>
        </iframe>
      </div>
    {% else %}
      <div class="video-container">
        <video id="fbcontainer-video" preload="metadata" controls poster="{{ static('img/firefox/facebook-container/video-poster.png') }}" data-ga-label="Facebook Container Video">
          <source src="https://assets.mozilla.net/video/facebook-container/facebook-container.webm" type="video/webm">
          <source src="https://assets.mozilla.net/video/facebook-container/facebook-container.mp4" type="video/mp4">
        </video>
      </div>
    {% endif %}
  </aside>
  {% endcall %}

  <section class="mzp-l-content mzp-l-card-third">
    <div class="mzp-c-card">
      <h3 class="mzp-c-card-title">{{ ftl('facebook-container-opt-out-on-your-terms') }}</h3>
      <p>
      {{ ftl('facebook-container-facebook-can-track-almost', fbcontainer=addon_url) }}
      </p>
    </div>
    <div class="mzp-c-card">
      <h3 class="mzp-c-card-title">{{ ftl('facebook-container-install-and-contain') }}</h3>
      <p>
      {{ ftl('facebook-container-installing-the-extension-is', fbcontainer=addon_url) }}
      </p>
    </div>
    <div class="mzp-c-card">
      <h3 class="mzp-c-card-title">{{ ftl('facebook-container-about-firefox-and-mozilla') }}</h3>
      <p>
      {{ ftl('facebook-container-were-backed-by-mozilla-the', mozilla=url('mozorg.home')) }}
      </p>
    </div>
  </section>

  <section class="firefox-cta">
    {% call call_out_compact(
      title=ftl('facebook-container-browse-freely-with-firefox'),
      class='mzp-t-dark',
      heading_level=2)
    %}
    {{ download_firefox(alt_copy=ftl('download-button-download-now'), dom_id="download-firefox-today") }}
    {% endcall %}
  </section>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_facebook_container_video') }}
{% endblock %}
