/* Bug 993709 */

@font-face {
    font-family: X-LocaleSpecific;
    font-weight: normal;
    font-display: swap;

    /**
     * FZLTXHK--GBK1-0 = Lantinghei SC Extralight (osx)
     * HiraginoSansGB-W3 (osx)
     * Microsoft YaHei Light (windows)
     * DroidSansFallbackFull (linux)
     */
    src:
        local(FZLTXHK--GBK1-0),
        local(HiraginoSansGB-W3),
        local('Microsoft YaHei Light'),
        local(DroidSansFallbackFull);
}

@font-face {
    font-family: X-LocaleSpecific;
    font-weight: bold;
    font-display: swap;

    /**
     * FZLTZHK--GBK1-0 = Lantinghei SC Demibold (osx)
     * HiraginoSansGB-W6 (osx)
     * Microsoft YaHei Bold (windows)
     * DroidSansFallbackFull (linux)
     */
    src:
        local(FZLTZHK--GBK1-0),
        local(HiraginoSansGB-W6),
        local('Microsoft YaHei Bold'),
        local(DroidSansFallbackFull);
}

@font-face {
    font-family: X-LocaleSpecific-Extrabold;
    font-weight: 800;
    font-display: swap;

    /**
     * FZLTTHK--GBK1-0 = Lantinghei SC Heavy (osx)
     * HiraginoSansGB-W6 (osx)
     * Microsoft YaHei Bold (windows)
     * DroidSansFallbackFull (linux)
     */
    src:
        local(FZLTTHK--GBK1-0),
        local(HiraginoSansGB-W6),
        local('Microsoft YaHei Bold'),
        local(DroidSansFallbackFull);
}

/* Bug 973171 */

* {
    /* !important required for locale specific override */
    font-style: normal !important; /* stylelint-disable-line declaration-no-important */
}
