// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.


@import '~@mozilla-protocol/core/protocol/css/includes/lib';

// Colors
$purple-light: #d7d9f2;
$teal-primary: #00b7aa;
$teal-secondary: #84cfc8;
$teal-tertiary: #d5edea;
$blue-primary: #0ff;
$blue-secondary: #d4e9f8;
