// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/split';
@import '../../../protocol/css/components/card';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/components/picto';
@import '../../../protocol/css/templates/card-layout';
@import '../../../protocol/css/templates/multi-column';
@import '../../../protocol/css/components/inline-list';

//* -------------------------------------------------------------------------- */
// Split component adjustments

.data-breaches .mzp-c-split:not(:first-of-type) {
    padding-top: 0;
}

.mzp-c-split {
    h2 {
        @include text-title-md;
    }
    h3 {
        @include text-title-sm;
    }
}

.mzp-c-split-media {
    max-width: 100%;
}

// start side-by-side layout on earlier breakpoint than protocol component
@media #{$mq-md} {
    .mzp-c-split-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: get-theme('h-grid-md');
        grid-template-areas: "body media";
    }

    .mzp-l-split-reversed .mzp-c-split-container {
        grid-template-areas: "media body";
    }

    .mzp-c-split-media {
        grid-area: media;
        align-self: start;
    }

    .mzp-c-split-body + .mzp-c-split-media,
    .mzp-c-split-media + .mzp-c-split-body {
        margin-top: 48px;
        margin-top: 0;
    }

    .c-tips-title {
        .mzp-c-split-body {
            align-self: center;
        }
    }
}

@media #{$mq-lg} {
    .mzp-c-split-media {
        align-self: center;
    }
}

//* -------------------------------------------------------------------------- */
// 15 tips section

body {
    counter-reset: tips;
}

.c-tips-title {
    .mzp-c-split-container {
        max-width: $content-md;
        box-sizing: content-box;
    }
}

.c-tips-magnify {
    .mzp-c-split-container {
        max-width: $content-lg;
        box-sizing: content-box;
    }
}

.c-tips {
    h2 {
        @include text-title-2xl;

        span {
            @include text-title-md;
            color: $color-ink-05;
            display: block;
        }
    }

    h3 {
        @include text-title-md;

        &:before {
            counter-increment: tips;
            content: counter(tips) ". ";
            color: $color-pink-50;
        }

        span {
            color: $color-pink-50;
        }
    }

    ol {
        margin: $spacing-lg 0;

        li {
            margin-left: 30px;
            margin-bottom: $spacing-2xl;
            list-style-type: upper-alpha;

            &::marker {
                font-weight: bold;
                @include text-title-xs;
            }

            strong {
                @include text-title-xs;
                display: block;
                margin-bottom: $spacing-xs;
            }
        }
    }
}

.mzp-c-picto-heading {
    @include text-title-sm;
}

.questions {
    margin: $layout-xl auto;

    h3 {
        @include text-title-sm;
        margin-top: $spacing-xl;
    }
}
