// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/feature-card';
@import '../../../protocol/css/components/card';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/components/picto';
@import '../../../protocol/css/templates/card-layout';
@import '../../../protocol/css/templates/multi-column';
@import '../../../protocol/css/components/inline-list';

//* -------------------------------------------------------------------------- */
// Layout adjustments

.mzp-l-content {
    // padding-bottom: $spacing-lg;

    &.mzp-t-dark {
        background: $color-marketing-gray-80;

        .mzp-c-card-feature-desc {
            color: $color-white;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}


.mzp-c-card-feature {
    &.mzp-l-card-feature-left-half,
    &.mzp-l-card-feature-right-half {
        margin-bottom: 0;
    }

    .mzp-c-card-feature-title {
        @include text-title-md;
    }

    h3.mzp-c-card-feature-title,
    .mzp-c-card-feature-desc h3 {
        @include text-title-sm;
    }

    .mzp-c-card-feature-media {
        margin-bottom: $spacing-xl;
    }
}

//* -------------------------------------------------------------------------- */
// 15 tips section

body {
    counter-reset: tips;
}

.c-tips {
    .mzp-c-card-feature-content {
        h2 {
            @include text-title-2xl;

            span {
                @include text-title-md;
                color: $color-ink-05;
                display: block;
            }
        }
    }

    h3 {
        @include text-title-md;

        &:before {
            counter-increment: tips;
            content: counter(tips) ". ";
            color: $color-pink-50;
        }

        span {
            color: $color-pink-50;
        }
    }

    ol {
        margin: $spacing-lg 0;

        li {
            margin-left: 30px;
            margin-bottom: $spacing-2xl;
            list-style-type: upper-alpha;

            &::marker {
                font-weight: bold;
                @include text-title-xs;
            }

            strong {
                @include text-title-xs;
                display: block;
                margin-bottom: $spacing-xs;
            }
        }
    }
}

.mzp-c-picto-heading {
    @include text-title-sm;
}

.questions {
    margin: $layout-xl auto;

    h3 {
        @include text-title-sm;
        margin-top: $spacing-xl;
    }
}
