// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/inline-list';

// * -------------------------------------------------------------------------- */
// Split component adjustments

.data-breaches .mzp-c-split:not(:first-of-type) {
    padding-top: 0;
}

.mzp-c-split {
    h2 {
        @include text-title-md;
    }

    h3 {
        @include text-title-sm;
    }
}

.mzp-c-split-media {
    max-width: 100%;
}

// * -------------------------------------------------------------------------- */
// 15 tips section

body {
    counter-reset: tips;
}

.c-tips {
    h2 {
        @include text-title-2xl;

        span {
            @include text-title-md;
            color: $color-ink-05;
            display: block;
        }
    }

    h3 {
        @include text-title-md;

        &::before {
            counter-increment: tips;
            content: counter(tips) '. ';
            color: $color-pink-50;
        }

        span {
            color: $color-pink-50;
        }
    }

    ol {
        margin: $spacing-lg 0;

        li {
            margin-left: 30px;
            margin-bottom: $spacing-2xl;
            list-style-type: upper-alpha;

            &::marker {
                font-weight: bold;
                @include text-title-xs;
            }

            strong {
                @include text-title-xs;
                display: block;
                margin-bottom: $spacing-xs;
            }
        }
    }
}

.mzp-c-picto-heading {
    @include text-title-sm;
}

.questions {
    margin: $layout-xl auto;

    h3 {
        @include text-title-sm;
        margin-top: $spacing-xl;
    }
}

.mzp-c-call-out.mzp-t-hero {
    background: $color-white;
}
