// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-monitor';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-vpn';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-pocket';
@import '~@mozilla-protocol/core/protocol/css/components/logos/wordmark-product-firefox';
@import '../../protocol/components/fxa-form';

.t-medium .mzp-l-content,
.t-medium .mzp-c-split-container {
    max-width: $content-xl;
}

// * -------------------------------------------------------------------------- */
// Top Page Call Out

.privacy-products-callout-main {
    background-color: $color-white;

    .mzp-c-callout-title {
        @include text-title-md;
        margin: $spacing-md 0;

        strong {
            @include zap('/media/protocol/img/zaps/zap-09.svg');
        }
    }
}

// * -------------------------------------------------------------------------- */
// Main Hero

.privacy-products {
    .mzp-t-dark .mzp-c-cta-link {
        color: $color-blue-10;
    }
}

.privacy-products-hero-sub-title {
    @include text-title-sm;
}

.privacy-products-hero-tagline {
    font-weight: bold;
    margin-top: $spacing-2xl;
}

@media #{$mq-md} {
    .privacy-products {
        padding-bottom: $spacing-lg;
    }
}

// * -------------------------------------------------------------------------- */
// Pictos

.privacy-products-etp {
    & > .mzp-l-content {
        padding-top: 0;
        @media #{$mq-md} {
            padding-bottom: 0;
        }
    }

    .mzp-c-picto {
        max-width: 100%;

        &:not(:last-of-type) {
            margin-bottom: $spacing-2xl;
        }

        @media #{$mq-md} {
            &:not(:last-of-type) {
                margin-bottom: 0;
            }
        }
    }

    .mzp-c-picto-image img {
        height: 80px;
        width: auto;
    }
}

// * -------------------------------------------------------------------------- */
// Tracker Counter Call Out

.privacy-products-tracker-counter.mzp-t-dark {
    @include light-links;
    background-color: $color-violet-80;

    .mzp-c-callout-title {
        margin: 0 auto $spacing-lg;
        max-width: 24em;

        @media #{$mq-md} {
            @include font-size(32px);
        }

        @media #{$mq-lg} {
            @include font-size(40px);
        }
    }

    .mzp-c-cta-link {
        color: $color-blue-30;
    }
}

// * -------------------------------------------------------------------------- */
// Product List Splits

.privacy-products-list {
    .mzp-c-wordmark {
        margin-bottom: $spacing-lg;
    }

    .mzp-c-split-media {
        max-width: 100%;
    }

    .mzp-c-split-media-asset {
        margin-right: auto;
        margin-left: auto;
    }

    @media #{$mq-lg} {
        margin: $layout-xl auto;
    }
}

.privacy-products-accounts .mzp-c-emphasis-box {
    padding: $spacing-lg;

    @media #{$mq-lg} {
        margin: $spacing-md auto;
        max-width: 320px;
        padding: $spacing-xl;
    }
}

.privacy-products-accounts {
    align-items: center;

    > div:first-of-type {
        margin-bottom: $spacing-xl;
    }

    @media #{$mq-md} {
        padding-top: 0;
        padding-bottom: 0;

        > div:first-of-type {
            margin-bottom: 0;
        }
    }
}

.callout-privacy {
    background-color: $color-marketing-gray-10;
}

.fxa-email-form .mzp-c-form-title {
    @include font-firefox;
}

// * -------------------------------------------------------------------------- */
// Conditional CTA Hooks

.show-firefox-desktop-70,
.show-firefox-desktop-old,
.show-mobile {
    display: none;
}

.state-firefox-desktop-70 {
    .show-firefox-desktop-70 {
        display: block;
    }

    .show-default {
        display: none;
    }
}

.state-firefox-desktop-old {
    .show-firefox-desktop-old {
        display: block;
    }

    .show-default {
        display: none;

        &.show-firefox-desktop-old {
            display: block;
        }
    }
}

.android,
.ios {
    .show-mobile {
        display: block;
    }

    .show-default {
        display: none;
    }
}
