{# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros-protocol.html" import feature_card with context %}
{% from "macros.html" import fxa_email_form, fxa_link_fragment, monitor_button with context %}

{% extends "firefox/base-protocol.html" %}

{% set _entrypoint = 'mozilla.org-firefox-accounts' %}
{% set _utm_source = 'mozilla.org-firefox-accounts' %}
{% set _utm_campaign = 'trailhead' %}

{%- block page_title -%}
  {# L10n: HTML page title #}
  {%- if l10n_has_tag('accounts-metadata-072019') -%}
    {{ _('There is a way to protect your privacy. Join Firefox.') }}
  {%- else -%}
    {{ _('Get a Firefox Account – Keep your data private, safe and synced') }}
  {%- endif -%}
{%- endblock -%}
{%- block page_desc -%}
  {# L10n: HTML page description #}
  {%- if l10n_has_tag('accounts-metadata-072019') -%}
    {{ _('Take your stand against an industry that’s selling your data to third parties. Stay smart and safe online with technology that fights for you.') }}
  {%- else -%}
    {{ _('Securely sync your passwords, bookmarks and tabs across all your devices. Get a Firefox Account now – One login – Power and privacy everywhere.') }}
  {%- endif -%}
{%- endblock -%}

{% block page_image %}{{ static('img/firefox/template/page-image-master.jpg') }}{% endblock %}

{% block page_css %}
 {{ css_bundle('firefox_accounts_2019') }}
{% endblock %}

{% block body_class %}firefox-accounts mzp-t-firefox state-fxa-default {% endblock %}

{% block site_header %}
  {% with hide_nav_get_account_button=True %}
    {% include 'includes/protocol/navigation/index.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
{% set has_signed_in_copy = l10n_has_tag('accounts-signed-in-06132019') %}

<section class="c-accounts-hero">
  <div class="mzp-l-content">
    <div class="c-accounts-hero-body {% if has_signed_in_copy %}c-accounts-hero-body-default{% endif %}">
      {# L10n: the span here is for visual formatting to display the phrase "Join Firefox" in a different color. #}
      <h1 class="c-accounts-hero-title">{{ _('There is a way to protect your privacy. <span>Join Firefox.</span>') }}</h1>

      {# L10n: This refers to the way some tech companies treat personal information as a commodity, as if their users are the product they're selling to their advertisers. #}
      <p class="c-accounts-hero-desc">{{ _('Take your stand against an industry that’s making you the product.') }}</p>
    </div>

    {% if has_signed_in_copy %}
    <div class="c-accounts-hero-body c-accounts-hero-body-signed-in is-js-dependent">
      {# L10n: the span here is to display the phrase "Now try Firefox Monitor." in a different color. Line breaks are for visual formatting. #}
      <h2 class="c-accounts-hero-title">{{ _('You’re signed <br>in to Firefox. <br><span>Now try Firefox Monitor.</span>') }}</h2>

      <p class="c-accounts-hero-desc">{{ _('See if you’ve been involved in an online data breach.') }}</p>

      {{ monitor_button(
        entrypoint= _entrypoint,
        utm_source=_utm_source,
        utm_campaign=_utm_campaign
      ) }}
    </div>
    {% endif %}

    <div class="c-accounts-form">
      {{ fxa_email_form(
        entrypoint=_entrypoint,
        utm_source=_utm_source,
        form_title=_('Join Firefox'),
        intro_text=_('Enter your email address to get started.'),
        button_class='mzp-c-button mzp-t-primary mzp-t-product',
        style='trailhead',
        utm_campaign=_utm_campaign)
      }}

      <p class="fxa-signin">{{ _('Already have an account?') }} <a {{ fxa_link_fragment(
        entrypoint=_entrypoint,
        action='signin',
        utm_params={'campaign': _utm_campaign, 'content': 'form-upper', 'source': _utm_source }
        ) }} class="js-fxa-cta-link">{{ _('Sign In') }}</a></p>
    </div>
  </div>
</section>

<section class="c-accounts-products">
  <div class="mzp-l-content">
    <h2 class="c-section-title">
      {% if has_signed_in_copy %}
        {{ _('Firefox is technology that fights for you.') }}
      {% else %}
        {{ _('Get technology that fights for you.') }}
      {% endif %}
    </h2>

    <ul class="c-product-list">
      <li class="c-product-list-item t-product-firefox">
        <a href="{{ url('firefox') }}">
          {# L10n: This is not a complete proper name; "Firefox" is a proper name that shouldn't be translated, but you can choose to translate "browser". Span for formatting. #}
          <h3 class="c-product-list-title">{{ _('Firefox <span>browser</span>') }}</h3>
          <p class="c-product-list-desc">{{ _('Travel the internet with protection, on every device.') }}</p>
        </a>
      </li>
      <li class="c-product-list-item t-product-lockwise">
        <a href="https://lockwise.firefox.com?utm_source={{ _utm_source }}&amp;utm_medium=referral&amp;utm_campaign={{ _utm_campaign }}&amp;utm_content=product-list-item&amp;entrypoint={{ _entrypoint }}" data-link-name="Firefox Lockwise" data-link-type="link">
          <h3 class="c-product-list-title">Firefox <span>Lockwise</span></h3>
          <p class="c-product-list-desc">{{ _('Keep your passwords protected and portable.') }}</p>
        </a>
      </li>
      <li class="c-product-list-item t-product-monitor">
        <a href="https://monitor.firefox.com?utm_source={{ _utm_source }}&amp;utm_medium=referral&amp;utm_campaign={{ _utm_campaign }}&amp;utm_content=product-list-item&amp;entrypoint={{ _entrypoint }}" data-link-name="Firefox Monitor" data-link-type="link">
          <h3 class="c-product-list-title">Firefox <span>Monitor</span></h3>
          <p class="c-product-list-desc">{{ _('Get a lookout for data breaches.') }}</p>
        </a>
      </li>
      <li class="c-product-list-item t-product-send">
        <a href="https://send.firefox.com?utm_source={{ _utm_source }}&amp;utm_medium=referral&amp;utm_campaign={{ _utm_campaign }}&amp;utm_content=product-list-item&amp;entrypoint={{ _entrypoint }}" data-link-name="Firefox Send" data-link-type="link">
          <h3 class="c-product-list-title">Firefox <span>Send</span></h3>
          <p class="c-product-list-desc">{{ _('Share large files without prying eyes.') }}</p>
        </a>
      </li>
    </ul>

    <p class="c-accounts-products-tagline">
      {% if has_signed_in_copy %}
        {{ _('Get it all on every device, without feeling trapped in a single operating system.') }}
      {% else %}
        {{ _('And get it all on every device, without feeling trapped in a single operating system.') }}
      {% endif %}
    </p>
  </div>
</section>


<section class="c-accounts-value t-value-respect l-media-left">
  <div class="c-accounts-value-container">
    <div class="c-accounts-value-media">
      {{ high_res_img('firefox/accounts/trailhead/value-respect.jpg', {'alt': '', 'width': '800', 'height': '600'}) }}
    </div>

    <div class="c-accounts-value-content">
      <h3 class="c-accounts-value-title">{{ _('Get the respect you deserve.') }}</h3>

      <p>
      {% trans promise=promise_url|safe %}
        You’ll always get the truth from us. Everything we make and do honors our <a href="{{ promise }}">Personal Data Promise</a>:
      {% endtrans %}
      </p>

      {# L10n: Line breaks for formatting. #}
      <p><strong>{{ _('Take less.<br> Keep it safe.<br> No secrets.') }}</strong></p>
    </div>
  </div>
</section>

<section class="c-accounts-value t-value-knowledge l-media-right">
  <div class="c-accounts-value-container">
    <div class="c-accounts-value-media">
      {{ high_res_img('firefox/accounts/trailhead/value-knowledge.jpg', {'alt': '', 'width': '800', 'height': '600'}) }}
    </div>

    <div class="c-accounts-value-content">
      <h3 class="c-accounts-value-title">{{ _('Get the knowledge to keep you safe.') }}</h3>
      <p class="c-accounts-value-desc">{{ _('Learn everything you need to know (but don’t yet) about staying smart and safe online, from some of the world’s foremost experts.') }}</p>
    </div>
  </div>
</section>

<section class="c-accounts-movement">
  <div class="mzp-l-content">
    <h2 class="c-section-title">{{ _('And be part of protecting the internet for future generations.') }}</h2>

    <div class="c-accounts-movement-container">
      <div class="c-accounts-movement-item t-movement-build">
        <h3 class="c-accounts-movement-title">{{ _('Help us build a better Firefox for all.') }}</h3>
        <p class="c-accounts-movement-desc">{{ _('Get into the open source spirit by test-driving upcoming products.') }}</p>
      </div>

      <div class="c-accounts-movement-item t-movement-bigtech">
        {# L10n: "Big Tech" refers to large technology companies that dominate the web, such as Google and Facebook. Mozilla helps to keep these companies "in check" by challenging their dominance so they can't completely take over. #}
        <h3 class="c-accounts-movement-title">{{ _('Help us keep Big Tech in check.') }}</h3>
        <p class="c-accounts-movement-desc">{{ _('We support communities all over the world standing up for a healthier internet. Add your voice to the fight.') }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_accounts_2019') }}
{% endblock %}
