{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "product-all-unified-macros.html" import build_locale_list, build_locale_list_item, build_link, select_product_list, product_options with context %}

{% extends "firefox/base/base-protocol.html" %}

{%- block page_title -%}
  {{ ftl('firefox-all-download-the-firefox') }}
{%- endblock -%}

{%- block page_desc -%}
  {{ ftl('firefox-all-everyone-deserves-access') }}
{%- endblock -%}

{% block page_css %}
 {{ css_bundle('firefox_all_unified') }}
{% endblock %}

{% block old_ie_styles %}
  {{ super() }}
  {{ css_bundle('firefox_all_unified_old_ie') }}
{% endblock %}

{% block site_header %}
  {% with hide_nav_download_button=True %}
    {% include 'includes/protocol/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
<main role="main">
  <div class="mzp-l-content">
    <div id="product-select-form" class="c-product-select-form" data-supported="true">
      <div class="c-intro">
        <h1 class="c-intro-heading">{{ ftl('firefox-all-choose-which-firefox') }}</h1>
        <p>{{ self.page_desc() }}</p>
        <div class="c-product-links" data-product="desktop_release">
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="desktop_beta">
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'beta') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'beta') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="desktop_developer">
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'alpha') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'alpha') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="desktop_nightly">
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'nightly') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'nightly') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="desktop_esr">
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'organizations') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'organizations') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="android_release">
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('android', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="android_beta">
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'beta') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('android', 'notes', 'beta') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
          </ul>
        </div>
        <div class="c-product-links" data-product="android_nightly">
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'nightly') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
          </ul>
        </div>
        <div class="c-support-links">
          <ul>
            <li><a href="{{ url('privacy.notices.firefox') }}">{{ ftl('firefox-all-firefox-privacy-notice') }}</a></li>
            <li><a href="https://support.mozilla.org/products/?utm_source=mozilla.org&utm_medium=referral&utm_campaign=need-help-link">{{ ftl('firefox-all-need-help') }}</a></li>
          </ul>
        </div>
      </div>
      <form class="c-selection-form">
        <fieldset class="c-selection-formset">
          <p class="c-selection c-selection-product">
            <label for="select-product" class="c-selection-label">
              {{ ftl('firefox-all-which-browser-would') }}
            </label>
            <a id="icon-browser-help" href="#browser-help" class="c-button-help" title="{{ ftl('firefox-all-learn-about-firefox') }}">
              {{ ftl('firefox-all-get-help') }}
            </a>
            {{ select_product_list(products, disabled=True) }}
          </p>

          {{ product_options('desktop_release', desktop_release_platforms, desktop_release_full_builds, desktop_release_latest_version, disabled=True, hide_version=True, hide_language=False) }}
          {{ product_options('desktop_beta', desktop_beta_platforms, desktop_beta_full_builds, desktop_beta_latest_version, disabled=True, hide_version=True, hide_language=False) }}
          {{ product_options('desktop_developer', desktop_developer_platforms, desktop_developer_full_builds, desktop_developer_latest_version, disabled=True, hide_version=True, hide_language=False) }}
          {{ product_options('desktop_nightly', desktop_nightly_platforms, desktop_nightly_full_builds, desktop_nightly_latest_version, disabled=True, hide_version=True, hide_language=False) }}

          {# Show the ESR version select dropdown if there are multiple ESR's available. #}
          {% set hide_esr_version_select = not desktop_esr_next_version %}
          {{ product_options('desktop_esr', desktop_esr_platforms, desktop_esr_full_builds, desktop_esr_latest_version, disabled=True, hide_version=hide_esr_version_select, hide_language=False) }}
          {% if desktop_esr_next_version %}
            {{ product_options('desktop_esr_next', desktop_esr_platforms_next, desktop_esr_full_builds_next, desktop_esr_next_version, disabled=True, hide_version=hide_esr_version_select, hide_language=False) }}
          {% endif %}

          {{ product_options('android_release', android_release_platforms, android_release_full_builds, android_release_latest_version, disabled=True, hide_version=True, hide_language=True) }}
          {{ product_options('android_beta', android_beta_platforms, android_beta_full_builds, android_beta_latest_version, disabled=True, hide_version=True, hide_language=True) }}
          {{ product_options('android_nightly', android_nightly_platforms, android_nightly_full_builds, android_nightly_latest_version, disabled=True, hide_version=True, hide_language=True) }}
        </fieldset>

        <div id="download-info" class="c-download hidden" aria-live="polite">
          <table class="c-download-info mzp-u-data-table">
            <caption class="c-download-info-caption">{{ ftl('firefox-all-you-are-about-to-download') }}</caption>
            <tr>
              <th class="c-download-info-label" scope="row">{{ ftl('firefox-all-browser') }}</th>
              <td class="c-download-info-content" id="download-info-product"></td>
            </tr>
            <tr>
              <th class="c-download-info-label" scope="row">{{ ftl('firefox-all-platform') }}</th>
              <td class="c-download-info-content" id="download-info-platform"></td>
            </tr>
            <tr>
              <th class="c-download-info-label" scope="row">{{ ftl('firefox-all-language') }}</th>
              <td class="c-download-info-content" id="download-info-language"></td>
            </tr>
          </table>

          <p class="c-download-error hidden">
            { ftl('firefox-all-sorry-we-couldnt-find') }
          </p>

          <a href="#all-downloads" id="download-button-primary" class="mzp-c-button mzp-t-product" data-link-type="download" data-download-location="primary cta">
            {{ ftl('download-button-download-now') }}
          </a>
        </div>
      </form>
    </div>

    <div id="all-downloads" class="c-all-downloads mzp-has-sidebar mzp-l-sidebar-left">
      <div class="mzp-l-sidebar">
        <nav class="mzp-c-sidemenu">
          <section class="mzp-c-sidemenu-summary mzp-js-toggle" aria-controls="sidebar-menu">
            <h3 class="mzp-c-sidemenu-label">{{ ftl('ui-menu') }}</h3>
          </section>
          <section class="mzp-c-sidemenu-main" id="sidebar-menu">
            <h2 class="mzp-c-sidemenu-title">{{ ftl('firefox-all-which-browser-would') }}</h2>
            <ul>
              <li><a href="#firefox-desktop-release">{{ ftl('firefox-all-product-firefox') }}</a></li>
              <li><a href="#firefox-desktop-beta">{{ ftl('firefox-all-product-firefox-beta') }}</a></li>
              <li><a href="#firefox-desktop-developer">{{ ftl('firefox-all-product-firefox-developer') }}</a></li>
              <li><a href="#firefox-desktop-nightly">{{ ftl('firefox-all-product-firefox-nightly') }}</a></li>
              <li><a href="#firefox-desktop-esr">{{ ftl('firefox-all-product-firefox-esr') }}</a></li>
              <li><a href="#firefox-android-release">{{ ftl('firefox-all-product-firefox-android') }}</a></li>
              <li><a href="#firefox-android-beta">{{ ftl('firefox-all-product-firefox-android-beta') }}</a></li>
              <li><a href="#firefox-android-nightly">{{ ftl('firefox-all-product-firefox-android-nightly') }}</a></li>
            </ul>
          </section>
        </nav>
      </div>

      <div class="mzp-l-main">
        <section id="firefox-desktop-release" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
          {{ build_locale_list('desktop_release', desktop_release_channel_label, desktop_release_platforms, desktop_release_full_builds, 'release') }}
        </section>

        <section id="firefox-desktop-beta" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-beta') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'beta') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'beta') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
          {{ build_locale_list('desktop_beta', desktop_beta_channel_label, desktop_beta_platforms, desktop_beta_full_builds, 'beta') }}
        </section>

        <section id="firefox-desktop-developer" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-developer') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'alpha') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'alpha') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
          {{ build_locale_list('desktop_developer', desktop_developer_channel_label, desktop_developer_platforms, desktop_developer_full_builds, 'alpha') }}
        </section>

        <section id="firefox-desktop-nightly" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-nightly') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'nightly') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'nightly') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
          {{ build_locale_list('desktop_nightly', desktop_nightly_channel_label, desktop_nightly_platforms, desktop_nightly_full_builds, 'nightly') }}
        </section>

        <section id="firefox-desktop-esr" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-esr') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'organizations') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'organizations') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>

          {% if desktop_esr_next_version %}
            <h3 class="c-product-subheading">{{ desktop_esr_next_version }}</h3>
            {{ build_locale_list('desktop_esr_next', desktop_esr_channel_label_next, desktop_esr_platforms_next, desktop_esr_full_builds_next, 'organizations') }}

            <h3 class="c-product-subheading">{{ desktop_esr_latest_version }}</h3>
          {% endif %}

          {{ build_locale_list('desktop_esr', desktop_esr_channel_label, desktop_esr_platforms, desktop_esr_full_builds, 'organizations') }}
        </section>

        <section id="firefox-android-release" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-android') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('android', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
          </ul>
          {{ build_locale_list('android_release', android_release_channel_label, android_release_platforms, android_release_full_builds, 'release') }}
        </section>

        <section id="firefox-android-beta" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-android-beta') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'beta') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('android', 'notes', 'beta') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
          </ul>
          {{ build_locale_list('android_beta', android_beta_channel_label, android_beta_platforms, android_beta_full_builds, 'beta') }}
        </section>

        <section id="firefox-android-nightly" class="c-all-downloads-build">
          <h2 class="c-product-heading">{{ ftl('firefox-all-product-firefox-android-nightly') }}</h2>
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'nightly') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('android', 'notes', 'nightly') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
          </ul>
          {{ build_locale_list('android_nightly', android_nightly_channel_label, android_nightly_platforms, android_nightly_full_builds, 'nightly') }}
        </section>
      </div>
    </div>
  </div>
</main>

<div id="browser-help" class="c-help mzp-u-modal-content">
  <ul>
    <li>
      <h2 class="c-help-title"><a href="{{ url('firefox.new') }}">Firefox</a></h2>
      <p class="c-help-desc">{{ ftl('firefox-all-the-standard-firefox') }}</p>
    </li>
    <li>
      <h2 class="c-help-title"><a href="{{ url('firefox.channel.desktop') }}#beta">Firefox <span>Beta</span></a></h2>
      <p class="c-help-desc">{{ ftl('firefox-all-get-a-sneak-peek-at') }}</p>
    </li>
    <li>
      <h2 class="c-help-title"><a href="{{ url('firefox.developer.index') }}">Firefox <span>Developer Edition</span></a></h2>
      <p class="c-help-desc">{{ ftl('firefox-all-test-your-sites-against') }}</p>
    </li>
    <li>
      <h2 class="c-help-title"><a href="{{ url('firefox.channel.desktop') }}#nightly">Firefox <span>Nightly</span></a></h2>
      <p class="c-help-desc">{{ ftl('firefox-all-the-pre-alpha-version') }}</p>
    </li>
    <li>
      <h2 class="c-help-title"><a href="{{ url('firefox.enterprise.index') }}">Firefox <span>Extended Support Release</span></a></h2>
      <p class="c-help-desc">{{ ftl('firefox-all-count-on-stability-and') }}</p>
    </li>
  </ul>
</div>

<div id="installer-help" class="c-help mzp-u-modal-content">
  <ul>
    <li>
      <h2 class="c-help-title">{{ ftl('firefox-all-64-bit-installers') }}</h2>
      <p class="c-help-desc">
        {{ ftl('firefox-all-choose-a-64-bit-installer') }}
      </p>
    </li>
    <li>
      <h2 class="c-help-title">{{ ftl('firefox-all-32-bit-installers') }}</h2>
      <p class="c-help-desc">
        {{ ftl('firefox-all-choose-a-32-bit-installer', url='https://support.mozilla.org/kb/choosing-firefox-cpu-architecture-windows-os') }}
      </p>
    </li>
    <li>
      <h2 class="c-help-title">{{ ftl('firefox-all-msi-installers') }}</h2>
      <p class="c-help-desc">
        {{ ftl('firefox-all-windows-installers-for') }}
      </p>
    </li>
    <li>
      <h2 class="c-help-title">{{ ftl('firefox-all-arm64-installers') }}</h2>
      <p class="c-help-desc">
        {{ ftl('firefox-all-arm64-installers-optimized') }}
      </p>
    </li>
  </ul>
</div>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_all_unified') }}
{% endblock %}
