{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base.html" %}

{% block body_class %}sky{% endblock %}

{% block page_title_prefix %}{{ _('Mozilla Firefox Web Browser') }} — {% endblock %}
{% block page_image %}{{ media('img/firefox/firefox-256.jpg') }}{% endblock %}
{% block page_favicon %}{{ media('img/firefox/favicon.ico?2013-08') }}{% endblock %}

{% block facebook_id %}14696440021{# facebook.com/Firefox #}{% endblock %}
{% block twitter_id %}firefox{% endblock %}

{% block site_css %}
  {{ css('firefox') }}
{% endblock %}

{% block site_header_nav %}
  {% include 'firefox/includes/top-menu.html' %}
{% endblock %}

{% block site_header_logo %}
<h2><a href="{{ url('firefox') }}"><img src="{{ media('img/firefox/template/header-logo.png?2013-06') }}" alt="Mozilla Firefox" height="70" width="185" data-inverse-src="{{media('img/firefox/template/header-logo-inverse.png?2013-06') }}"></a></h2>
{% endblock %}

{% block site_js %}
  {{ js('firefox') }}
{% endblock %}
