{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import fxfamilynav with context %}

{% extends "/firefox/base-resp.html" %}

{% block page_title %}{{ _('Do Not Track') }}{% endblock %}
{% block page_desc %}{{ _('Mozilla Firefox offers a Do Not Track feature that lets you express a preference not to be tracked by websites.') }}{% endblock %}
{% block body_id %}dnt{% endblock %}

{% block page_css %}
  {% stylesheet 'dnt' %}
{% endblock %}

{% block site_header %}{% endblock %}

{% block site_header_unwrapped %}
  {{ fxfamilynav('desktop', 'dark') }}
{% endblock %}

{% block content %}

<div id="main-feature" class="large">
  <h1>{{ _('Do Not Track') }}</h1>
  <div id="dnt-status-wrapper">
  <div id="dnt-status">
    <h3>{{ _('Do Not Track') }}</h3>
    <h4>{{ _('Your Status:') }}</h4>
    {% if request.DNT %}
    <h5 class="dnt-on">{{ _('Do Not Track is ON') }}</h5>
    {% else %}
    <h5 class="dnt-off">{{ _('Do Not Track is OFF') }}</h5>
    {% endif %}
  </div>
  </div>
</div>

<div id="main-content">

<article class="main-column">

<p>
{% trans %}
  Mozilla is a global, nonprofit organization dedicated to making the Web
  better. We emphasize principle over profit, and believe that the Web is a
  shared public resource to be cared for, not a commodity to be sold. We answer
  to no one but you and believe it is crucial to put you in control of your
  online experience. We are aiming to give you better insight and control into
  the ways your personal information is collected, used, stored and shared
  online.
{% endtrans %}
</p>

<p>
{% trans %}
  Mozilla Firefox offers a Do Not Track feature that lets you express a
  preference not to be tracked by websites. When the feature is enabled, Firefox
  will tell advertising networks and other websites and applications that you
  want to opt-out of tracking for purposes like behavioral advertising.
{% endtrans %}
</p>

<section id="faq" class="accordion accordion-auto-init zebra">
<h2>{{ _('Frequently Asked <span>Questions</span>') }}</h2>

<section>
  <h3 data-accordion-role="tab">{{ _('What is Do Not Track?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
      {% trans %}
        Do Not Track is a step toward putting you in control of the way your
        information is collected and used online. Do Not Track is a feature in Firefox that
        allows you to let a website know you would like to opt-out of third-party tracking for
        purposes including behavioral advertising. It does this by transmitting a Do Not Track
        HTTP header every time your data is requested from the Web.
      {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('Is Do Not Track available on Firefox for Android?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
      {% trans %}
        Yes. Firefox for Android is the first mobile Web browser to offer
        the Do Not Track privacy feature, and behaves the same way it does on the
        desktop. To turn Do Not Track on in Firefox for Android, simply swipe left and
        tap on Browser Tools. From the Preferences pane, tap on the box next to &quot;Tell
        sites not to track me&quot; to turn this option on or off.
      {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('Does Do Not Track block ads?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
      {% trans %}
        No, you will still see ads with Do Not Track enabled. However, Do Not Track
        may change the type of ads you see. For example, behavioral ads are targeted to your
        interests based on the websites you visit and the search terms you use. If you request
        that websites Do Not Track you, and the sites respect your privacy preferences, you
        will see more generic ads in place of behavioral ads.
      {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('How does Do Not Track work with other privacy tools?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
      {% trans url=url('firefox.features.independent') %}
        Do Not Track is one of many privacy solutions. Do Not Track does not replace your
        anti-virus software, will not encrypt data, and is not a security mechanism. There are
        several other <a href="{{ url }}">privacy and
        security</a> features within Firefox.
      {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('Will Do Not Track affect the rest of my Web experience?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
    {% trans %}
      Do Not Track may interfere with some personalized services you enjoy. For example,
      a Do Not Track request might mean you would have to type in your zip code each time
      you want to view a weather report, rather than seeing the weather automatically
      displayed. Personalization on websites can save you time and repetitive typing, but
      it requires data.
    {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('How do I enable Do Not Track in Firefox?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
      {% trans id='platform-note' %}
        This feature is not enabled by default. You can find the Do Not Track
        request on the Privacy pane. <span id="{{ id }}">On Windows,
        go to Tools &gt; Options&hellip; &gt; Privacy.</span>
      {% endtrans %}
    </p>
    <noscript>
    <p>
    {% if l10n_has_tag('macos_branding') %}
      {{ _('On macOS, go to Firefox &gt; Preferences… &gt; Privacy. On Linux, go to Edit &gt; Preferences &gt; Privacy.') }}
    {% else %}
      {{ _('On OS X, go to Firefox &gt; Preferences… &gt; Privacy. On Linux, go to Edit &gt; Preferences &gt; Privacy.') }}
    {% endif %}
    </p>
    </noscript>
    <p>
    {% trans url='https://support.mozilla.org/kb/how-do-i-turn-do-not-track-feature' %}
      Click to check the box next to &quot;Tell websites I do not want to
      be tracked&quot;. For more information, see the help file on
      <a href="{{ url }}">how to stop websites from tracking you</a>.
    {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('Will companies honor my Do Not Track preference?') }}</h3>
  <div data-accordion-role="tabpanel">
    <p>
    {% trans %}
      Companies are starting to support Do Not Track, but you may not notice any changes
      initially. We are actively working with companies that have started to implement
      Do Not Track, with others who have committed to doing so soon.
    {% endtrans %}
    </p>
  </div>
</section>

<section>
  <h3 data-accordion-role="tab">{{ _('Where can I learn more?') }}</h3>
  <div data-accordion-role="tabpanel">{{ _('Other interesting work about Do Not Track and online privacy:') }}
    <ul style='list-style-position:inside'>
      <li>
        {{ _('<a href="%s">Private browsing</a> in Firefox &#8212; limits saving data about which sites and pages you have visited online')|format('https://support.mozilla.org/kb/private-browsing-browse-web-without-saving-info') }}
      </li>
      <li>
      {% trans url1='https://support.mozilla.org/kb/Enabling%20and%20disabling%20cookies',
          url2='https://support.mozilla.org/kb/Cookies' %}
        <a href="{{ url1 }}">Managing cookies</a> in Firefox &#8212; lets you control how
        <a href="{{ url2 }}">cookies</a> are saved on your computer
      {% endtrans %}
      </li>
      <li>
        {{ _('<a href="%s">Alex Fowler’s Mozilla Blog</a> &#8212; latest news from Mozilla’s Technology and Privacy Officer')|format('https://blog.mozilla.org/blog/author/afowlermozilla-com/') }}
      </li>
      <li>
        {{ _('<a href="%s">donottrack.us</a> project &#8212; Stanford researchers working on the ideas behind Do Not Track')|format('http://donottrack.us/') }}
      </li>
      <li>
        {{ _('The Tracking Preference Expression (DNT) <a href="%s">W3C Editor’s Draft</a>')|format('http://www.w3.org/2011/tracking-protection/drafts/tracking-dnt.html') }}
      </li>
      <li>
        {{ _('Tracking Compliance and Scope <a href="%s">W3C Editor’s Draft</a>')|format('http://www.w3.org/2011/tracking-protection/drafts/tracking-compliance.html') }}
      </li>
      <li>
        {{ _('The W3C <a href="%s">Tracking Protection Working Group</a>')|format('http://www.w3.org/2011/tracking-protection/') }}
      </li>
      <li>
        {{ _('<a href="%s">Ghostery</a> &#8212; a tool that lets you learn which sites are tracking you online')|format('http://www.ghostery.com') }}
      </li>
      <li>
        {{ _('See <a href="%s">where your data goes</a> before you click &#8212; an image from the Future of Privacy Forum')|format('http://www.futureofprivacy.org/wp-content/uploads/2009/11/data.gif') }}
      </li>
      <li>
        {% trans url='http://datatracker.ietf.org/doc/draft-mayer-do-not-track/' %}
          Mozilla and Stanford’s Do Not Track <a href="{{ url }}">submission
          to the IETF</a> &#8212; IETF is a standards body that helps define
          how the Web works, regardless of which Internet browser you use
        {% endtrans %}
      </li>
    </ul>
  </div>
</section>

</section><!-- end #faq -->

</article>

<div class="sidebar">

  <div class="sidebar-inset">

    <h4>{{ _('Enable Do Not Track in Firefox') }}</h4>
    <p>
      <a href="https://support.mozilla.org/kb/how-do-i-stop-websites-tracking-me">
        <img alt="{{ _('Options window - Advanced panel - Do Not Track') }}"
           src="{{ static('img/firefox/dnt/screenshot.png') }}"
           title="{{ _('Enabling Do Not Track') }}">
        {{ _('Click for Instructions') }} »
      </a>
    </p>

    <div class="sidebar-box">
      <h4>{{ _('Enable Do Not Track in Internet Explorer 9') }}</h4>
      <p>
      {% trans url='http://ie.microsoft.com/testdrive/Browser/TrackingProtectionLists/faq.html',
          tpl=static('dnt/dnt-enabler.tpl') %}
        To enable Do Not Track in IE 9, you need to enable IE 9’s
        <a href="{{ url }}">Tracking Protection</a> feature. The easiest way to do that
        is to install <a href="{{ tpl }}">Mozilla’s Simple Tracking Protection List</a>.
        If you view this page in IE 9, there will be instructions right here.
      {% endtrans %}
      </p>
    </div>

  </div>

</div>

</div>


{% endblock %}

{% block js %}
  <!--[if IE 9]>
  {% javascript 'matchmedia_addlistener' %}
  <![endif]-->
  {% javascript 'dnt' %}
{% endblock %}

{% block email_form %}{% endblock %}
