{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from "macros.html" import google_play_button with context %}
{% from "macros-protocol.html" import call_out, call_out_compact, hero, feature_card with context %}

{% extends "base-protocol.html" %}

{% set referrals = '?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=fffy-page' %}

{% block page_title %}Firefox Fights for you. Wir schützen Deine Daten und verkaufen sie niemals.{% endblock %}
{% block page_desc %}Firefox respektiert Deine Privatsphäre und macht es Dir leicht, Deine Daten zu schützen. Mit klaren Privatsphäre-Optionen und Tracking-Schutz. Du entscheidest, was Du teilst und wann.{% endblock %}

{% block page_css %}
  {{ css_bundle('fights-for-you') }}
{% endblock %}

{% block extrahead %}
<!--[if lt IE 10]>
  <style>
    /* avoid IE9 background calc() bug */
    .fffy-c-hero,
    .mzp-c-call-out-compact.fffy-c-footer-callout {
    background: #2A0140 !important;
  }
  </style>
<![endif]-->
{% endblock %}

{% block body_id %}fights-for-you{% endblock %}

{% block content %}

<div class="fffy-c-hero">
  {% call hero(
    title='Firefox Fights For You',
    desc='Privatsphäre sollte einfach sein. Daten sicher. Einstellungen eindeutig. Wir kämpfen für ein besseres Internet – mit Produkten, die Dir auch online die Kontrolle über Dein Leben geben.',
    class='mzp-has-image mzp-t-firefox mzp-t-product-firefox mzp-t-dark',
    include_cta=True
  ) %}
  <p><a id="fffy-video-button" href="https://www.youtube.com/watch?v=3NG6dZl9kpA" data-id="3NG6dZl9kpA" class="mzp-c-button mzp-t-secondary mzp-t-dark mzp-t-small" data-link-type="button" data-link-name="Watch video">Video anschauen</a></p>
  {% endcall %}

  <div class="fffy-c-product mzp-l-content">
    {{ high_res_img('firefox/fights-for-you/hero.png', {'alt': '', 'width': '904', 'height': '646'}) }}
  </div>

  {% call call_out(
    title='Deine Daten gehören Dir. Wir verkaufen sie niemals.',
    desc='Firefox respektiert Deine Privatsphäre und macht es Dir leicht, Deine Daten zu schützen. Du entscheidest, was Du teilst und wann.',
    class='mzp-t-dark mzp-t-firefox',
    include_cta=True
  ) %}
    <div class="download-firefox">
      {{ download_firefox(download_location='primary cta', dom_id='fffy-download-primary') }}
    </div>
  {% endcall %}
</div>

<div class="fffy-c-features">
  <section class="mzp-l-content">
    {% call feature_card(
      title='Dein Schutz vor Hackern',
      image_url='firefox/fights-for-you/pic-monitor.jpg',
      aspect_ratio='mzp-has-aspect-16-9',
      class='mzp-l-card-feature-left-third mzp-t-firefox fffy-t-monitor',
      link_url='https://monitor.firefox.com' + referrals,
      link_cta='Jetzt zu Firefox Monitor',
      ga_title='Try Monitor'
    ) %}
      <p>Warst Du schon einmal von einer Datenpanne betroffen? Firefox Monitor ist ein sicherer Weg, es herauszufinden. Wir können Dich sogar warnen, sobald wir bemerken, dass Du gehackt wurdest.</p>
    {% endcall %}

    {% call feature_card(
      title='Deine Privatsphäre – ohne Wenn und Aber',
      image_url='firefox/fights-for-you/pic-focus.jpg',
      aspect_ratio='mzp-has-aspect-16-9',
      class='mzp-l-card-feature-right-third mzp-t-firefox fffy-t-focus',
      link_url='https://app.adjust.com/rtnpf1x',
      link_cta='Hol Dir Firefox Klar',
      ga_title='Download Firefox Focus'
    ) %}
      <p>Die Firefox Klar App blockiert ganz automatisch Elemente zur Aktivitätenverfolgung und damit auch unerwünschte Inhalte. Noch ein Plus: Weniger Tracking bringt mehr Browser-Speed.</p>
    {% endcall %}

    {% call feature_card(
      title='Good-Tech für Dich – transparent und ehrlich',
      image_url='firefox/fights-for-you/pic-privacy.jpg',
      aspect_ratio='mzp-has-aspect-16-9',
      class='mzp-l-card-feature-left-third mzp-t-firefox fffy-t-privacy',
      link_url='https://blog.mozilla.org/internetcitizen/de/2018/08/31/so-stehen-wir-bei-mozilla-zu-deiner-privatsphaere/' + referrals,
      link_cta='Privatsphäre bei Firefox',
      ga_title='Read our Policy'
    ) %}
      <p>Firefox-Produkte werden für Menschen entwickelt, nicht für Profit. Wir erheben nur wenig Daten und sagen Dir immer, wofür wir sie verwenden. Unsere Datenschutz-Grundsätze geben bei allem, was wir tun, den Ton an.</p>
    {% endcall %}
  </section>


  {% call call_out_compact(
    title='<span>Dein Leben.</span> <span>Deine Privatsphäre.</span> <span>Dein Browser.</span><br><span>Firefox fights for you.</span>'|safe,
    desc=None,
    class='mzp-t-firefox mzp-t-dark fffy-c-footer-callout'
  ) %}
    <div class="download-firefox">
      {{ download_firefox(download_location='secondary cta', dom_id='fffy-download-secondary') }}
    </div>
  {% endcall %}
</div>

<div id="fffy-video-modal" class="mzp-u-modal-content">
  <div class="ytcontainer-video">
    <div class="video-container">
      <div id="fffy-video-player"></div>
    </div>
  </div>
</div>

<aside id="fffy-focus-modal" class="mzp-u-modal-content">
  <h3 class="c-modal-title">Bitte QR-Code scannen, um loszulegen.</h3>

  <div class="modal-content-wrapper">
    <div class="qr-code-wrapper">
      <img src="{{ static('img/firefox/fights-for-you/qrcode-klar.png') }}" alt="" width="300" height="300">
    </div>

    <ul class="mobile-store-buttons">
      <li class="android">
        {{ google_play_button(href='https://app.adjust.com/rtnpf1x') }}
      </li>
      <li class="ios">
        <a href="https://app.adjust.com/rtnpf1x" data-link-type="download" data-download-os="iOS">
          <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="" width="152" height="45">
        </a>
      </li>
    </ul>
  </div>
</aside>

{% endblock %}

{% block js %}
  {{ js_bundle('fights-for-you') }}
{% endblock %}
