{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base-resp.html" %}

{% block page_title %}Get More From Your Firefox — Mobile, Add-ons & Other Stuff{% endblock %}
{% block body_id %}firefox-fx{% endblock %}

{% block site_css %}
  {{ css('firefox_fx') }}
{% endblock %}

{% block content %}

<div id="main-pager" class="pager pager-with-tabs">

  <ul class="pager-tabs">
    <li><a href="#mobile">{{_('Mobile')}}</a></li>
    <li><a href="#desktop">{{_('Desktop')}}</a></li>
  </ul>

  <div class="billboard">
  <div class="pager-content">

    <div class="pager-page mobile-content default-page" id="mobile">
      <script>// <![CDATA[
      document.getElementById('mobile').id = 'page-mobile';
      // ]]></script>
      <section>
        <hgroup>
          <h1>{{_('Firefox for Android')}}</h1>
          <h2>{{_('Fast. Smart. Safe.')}}</h2>
        </hgroup>
        <div id="download-column">
          {{ mobile_download_button('primary-download-mobile') }}
        </div>
        <div id="photo-column">
          <img src="{{ media('/img/firefox/fx/mobile-phone.jpg') }}" alt="{{_('Firefox on Android')}}" />
          <span id="phone-screen"></span>
        </div>
        <ul class="sub-features">
          <li id="supported">
            <a class="link" href="{{ url('firefox.mobile.platforms') }}">{{ _('Find out if your device is supported&nbsp;»') }}</a>
          </li>
          <li id="firefox-mobile">
            <a class="link" href="{{ url('firefox.mobile.features') }}">{{ _('Learn more about Firefox for Android&nbsp;»') }}</a>
          </li>
          <li id="playstore-mobile">
            <a class="link" href="https://market.android.com/details?id=org.mozilla.firefox">{{ _('Get Firefox for Android free from the Google Play Store&nbsp;»') }}</a>
          </li>
        </ul>
      </section>
    </div>

    <div class="pager-page desktop-content" id="desktop">
      <script>// <![CDATA[
      document.getElementById('desktop').id = 'page-desktop';
      // ]]></script>
      <section id="up-to-date">
        <hgroup>
          <h1>{{ _('Hooray! Your Firefox is up to date.')}}</h1>
          <h2>{{ _('See how the new features in Firefox help you browse faster and more efficiently.')}}</h2>
        </hgroup>
        <div id="video-player" class="mozilla-video-control mozilla-video-shadow">
          <video
            controls="controls"
            poster="{{ media('/img/firefox/video/poster-newtab.jpg') }}"
            height="360"
            width="640">
            <source src="http://videos.mozilla.org/serv/marketing/Firefox/Firefox%20Tabs_1.webm">
          </video>
        </div>
        <ul class="sub-features">
          <li id="new-copy"><div class="wrap">
            <h4>{{ _('Need a fresh copy?') }}</h4>
            <p>{{ _('You’ve come to the right place!') }}</p>
            {{ download_button('download', 'small') }}
          </div></li>
          <li id="beta-promo"><div class="wrap">
            <h4>{{ _('Try Firefox Beta') }}</h4>
            <p>{{_('Get a sneak peek at the latest features and innovations coming soon to Firefox.')}}
            <a href="{{ php_url('/firefox/beta/') }}">{{ _('Download now&nbsp;»') }}</a></p>
          </div></li>
          <li id="android-promo"><div class="wrap">
            <h4>{{ _('Get Firefox for Android')}}</h4><span class="icon"></span>
            <p>{{ _('Get the mobile browser that’s got your back free from the ') }}
            <a href="https://market.android.com/details?id=org.mozilla.firefox">{{ _('Google Play Store&nbsp;»') }}</a></p>
          </div></li>
        </ul>
      </section>
      <section id="out-of-date">
        <hgroup>
          <h1>{{ _('Different by Design')}}</h1>
          <h2>{{ _('Get the latest version of Firefox. It’s fast, flexible and secure.')}}</h2>
        </hgroup>
        {{ download_button('download') }}
        <figure id="firefox-screenshot">
          {{ platform_img('img/firefox/fx/existing-screen.jpg', alt='Firefox screenshot') }}
        </figure>
        <ul class="sub-features">
          <li id="features">
            <a class="link" href="{{ url('firefox.features') }}">{{ _('Learn more about the latest Firefox features&nbsp;»') }}</a>
          </li>
          <li id="customize">
            <a class="link" href="{{ url('firefox.customize') }}">{{ _('Customize your Firefox with add-ons&nbsp;»') }}</a>
          </li>
          <li id="playstore">
            <a class="link" href="https://market.android.com/details?id=org.mozilla.firefox">{{ _('Get Firefox for Android free from the Google Play Store&nbsp;»') }}</a>
          </li>
        </ul>
      </section>

      <section id="up-to-date">
      </section>
    </div>

  </div>
  </div>

</div>

{% endblock %}

{% block js %}
  {{ js('firefox_fx') }}

<script>
$(document).ready(function() {
  var latestVersion = parseInt('{{latest_version}}'.split('.')[0], 10);
  var isFirefox = (/\sFirefox/.test(window.navigator.userAgent));
  var isMobile = (/\sMobile/.test(window.navigator.userAgent));

  // If Firefox is the latest version and not mobile,
  // hide the out-of-date messaging and show up-to-date
  if(isFirefox && !isMobile) {
    if (latestVersion <= getFirefoxMasterVersion()) {
      $('#out-of-date').hide();
      $('#up-to-date').show();
    }
  }
});
</script>
{% endblock  %}

