{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-resp.html" %}

{% block body_class %}sky{% endblock %}

{% block page_title_prefix %}Mozilla Firefox OS — {% endblock %}
{% block page_image %}{{ static('img/firefox/os/page-image.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/firefox/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/firefox/favicon-196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/firefox/ios-icon-180.png') }}{% endblock %}

{% block facebook_id %}14696440021{# facebook.com/Firefox #}{% endblock %}
{% block twitter_id %}firefox{% endblock %}

{% block site_css %}
  {% stylesheet 'firefox-resp' %}
{% endblock %}

{% block site_header_nav %}{% endblock %}

{% block site_header_logo %}
<h2><a href="{{ url('firefox.os.index') }}"><img src="{{ static('img/firefox/os/template/header-logo.png') }}" alt="Mozilla Firefox OS" height="70" width="220" data-inverse-src="{{ static('img/firefox/os/template/header-logo-inverse.png') }}"></a></h2>
{% endblock %}

{% block site_js %}
  {% javascript 'firefox-resp' %}
{% endblock %}
