{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "/firefox/base/base-protocol.html" %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block page_title %}{{ _('Your download was interrupted') }}{% endblock %}
{% block body_id %}installer-help{% endblock %}

{% block page_css %}
  {{ css_bundle('installer_help') }}
{% endblock %}

{% block site_header %}
  {% with hide_nav_cta=True %}
    {% include 'includes/protocol/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
<main class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-right">
  <h2><a href="{{ url('firefox.new') }}">{{ high_res_img('protocol/img/logos/firefox/browser/logo-word-hor-sm.png', {'alt': 'Firefox', 'width': '347', 'height': '64'}) }}</a></h2>
  <div class="mzp-l-main">
    <header>
      <h1 class="installer-help-title">{{ _('Your download was interrupted') }}</h1>
      {% if installer_channel %}
        <h2 class="installer-help-subtitle">{{ _('Click the download button on the right to continue.') }}</h2>
      {% else %}
        <h2 class="installer-help-subtitle">{{ _('Please choose a download to continue.') }}</h2>
      {% endif %}
    </header>
    <aside class="mzp-c-emphasis-box">
      <h3 class="installer-help-emphasis-title">{{ _('Need help installing?') }}</h3>
      <p class="installer-help-emphasis-tagline"><a href="https://support.mozilla.org/kb/install-firefox-windows">{{ _('Visit support.mozilla.org') }}</a></p>
    </aside>
  </div>

  <div class="mzp-l-sidebar">
    <div class="installer-help-channels">
      {% if installer_channel %}
        <div class="download-box">
          {{ download_firefox(installer_channel, force_direct=True, force_full_installer=True, locale=installer_lang) }}
        </div>
      {% else %}
        <div class="download-box" id="firefox-desktop">
          {{ download_firefox(force_direct=True, force_full_installer=True, locale=installer_lang) }}
        </div>

        <div class="download-box" id="beta-desktop">
          {{ download_firefox('beta', force_direct=True, force_full_installer=True, locale=installer_lang) }}
        </div>

        <div class="download-box" id="aurora-desktop">
          {{ download_firefox('alpha', platform='desktop', force_direct=True, force_full_installer=True, locale=installer_lang) }}
        </div>

        <div class="download-box" id="nightly-desktop">
          {{ download_firefox('nightly', platform='desktop', force_direct=True, force_full_installer=True, locale=installer_lang) }}
        </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block js %}{% endblock  %}
