{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/base-resp.html" %}

{% block page_title_prefix %}{{_('Download Firefox')}} — {% endblock %}
{% block page_title %}{{_('Free Web Browser')}}{% endblock %}
{% block page_desc %}{{_('Download Mozilla Firefox, a free Web browser. Firefox is created by a global non-profit dedicated to putting individuals in control online. Get Firefox today!')}}{% endblock %}
{% block body_id %}firefox-new{% endblock %}

{#- Override the infobar options not to run the version check -#}
{% block tabzilla_infobar %}translation{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}
  <h2><img src="{{ MEDIA_URL }}img/firefox/new/header-firefox.png?2013-06" alt="{{_('Firefox for desktop')}}"></h2>
{% endblock %}

{% block site_css %}{% endblock %}

{% block extrahead %}
  {{ css('firefox_new') }}

  {% if request.locale == 'en-US' %}
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){
    if (! /[?&]f=[0-9]+/.test(window.location.search)){
    var k='71153379-28',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')}})();

    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
  {% endif %}
{% endblock %}

{% block js_pretrack %}
  {{ js('firefox-resp') }}
  {{ js('firefox_new') }}
{% endblock %}

{% block content %}

<main role="main">
  <div class="version-message-container">
    <div id="version-message-ios" class="version-message">
      {{_('Sorry, Firefox is currently unsupported by iOS devices.')}}
    </div>
    <div id="version-message-android-latest" class="version-message">
      {{_('Congrats! You’re using the latest version of Firefox.')}}
    </div>
    <div id="version-message-android-old" class="version-message">
      {{_('Looks like you’re using an older version of Firefox. Update on Google Play.')}}
    </div>
    <div id="version-message-desktop-latest" class="version-message">
      {{_('Congrats! You’re using the latest version of Firefox.')}}
    </div>
    <div id="version-message-desktop-old" class="version-message">
      {{_('Looks like you’re using an older version of Firefox.')}}
      <div class="version-message-secondary">
        <a href="https://support.mozilla.org/kb/update-firefox-latest-version">{{_('Update to stay fast and safe.')}}</a>
      </div>
    </div>
  </div>
  <div id="main-feature">
    <div class="row">
      <img src="{{ media('img/firefox/new/firefox-logo.png?2013-06') }}" alt="Firefox" />
      <h1 class="large">
      {% if l10n_has_tag('fx10_independent') or settings.DEV %}
        {{ _('Choose Independent.') }}
        <br>
        {{ _('Choose Firefox.') }}
      {% else %}
        {%- if LANG in ['en-GB', 'en-US', 'en-ZA'] -%}
          <span>Committed to you,</span> <span>your privacy</span> <span>and an open Web</span>
        {%- else -%}
          {{_('Committed to you, your privacy and an open Web')}}
        {%- endif -%}
      {% endif %}
      </h1>
    </div>
  </div>

  <div class="theater" id="theater-firefox">
    <div class="stage" id="stage-firefox">
      <div class="scene" id="scene1">
        <div class="container" id="features-download">
          <div class="desktop download-button-wrapper">
            {{ download_firefox(force_direct=true, simple=true) }}
          </div>
          <div class="mobile download-button-wrapper">
            {{ download_firefox(mobile=True) }}
          </div>
          <div class="android download-button-wrapper" data-upgrade-subtitle="{{_('Get it free on Google Play')}}">
            {{ download_firefox(mobile=True, small=True, icon=False, dom_id='download-button-android') }}
          </div>
          <div class="desktop-latest-links-wrapper latest-links-wrapper">
            <ul>
              <li><a href="{{ url('firefox.desktop.index') }}">{{_('Learn more about Firefox for desktop')}}</a></li>
              <li><a href="https://support.mozilla.org/products/firefox">{{_('Need help?')}}</a></li>
              {% if l10n_has_tag('mobile_links') or settings.DEV %}
              <li><a href="{{settings.GOOGLE_PLAY_FIREFOX_LINK }}">{{_('Get Firefox on your Android device')}}</a></li>
              <li><a href="{{ url('firefox.os.index') }}">{{_('Learn about Firefox OS')}}</a></li>
              {% endif %}
              <li><a href="{{ url('firefox.all') }}">{{_('Download a fresh copy')}}</a></li>
            </ul>
          </div>
          <div class="android-latest-links-wrapper latest-links-wrapper">
            <ul>
              <li><a href="{{ url('firefox.android.index') }}">{{_('Learn more about Firefox for Mobile')}}</a></li>
            </ul>
          </div>
          <div class="fxos-latest-links-wrapper latest-links-wrapper">
            <ul>
              <li><a href="{{ url('firefox.os.index') }}">{{_('Learn about Firefox OS')}}</a></li>
              <li><a href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}">{{_('Discover all the ways to take Firefox on the go')}}</a></li>
            </ul>
          </div>
          <div class="ios-links-wrapper latest-links-wrapper">
            <ul>
              {% if l10n_has_tag('mobile_links') or settings.DEV %}
              <li>
                <a href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}">{{_('Get Firefox on your Android device')}}</a>
              </li>
              <li>
                <a href="{{ url('firefox.os.index') }}">{{_('Learn about Firefox OS')}}</a>
              </li>
              {% endif %}
              <li><a href="https://support.mozilla.org/kb/is-firefox-available-iphone-or-ipad">{{_('Why don’t we offer an iOS version?')}}</a></li>
            </ul>
          </div>
        </div>

        <div class="desktop" id="firefox-screenshot">
          {{ platform_img('img/firefox/new/browser.png?2014-04-29', {'alt': _('Firefox screenshot'), 'data-additional-platforms': 'android ios', 'data-high-res': 'true'}) }}
        </div>

        <div id="newsletter-latest">
          {{ email_newsletter_form() }}
        </div>
      </div> <!-- /#scene1 -->

      <div class="scene" id="scene2">
        <div class="share-wrapper">
          {% include 'firefox/includes/social-share.html' %}
        </div>
        <div class="thankyou" tabindex="0">
          {{_("Thanks for downloading Firefox!")}}
          {{_("As a non-profit, we’re free to innovate on your behalf without any pressure to compromise. You’re going to love the difference.")}}
        </div>

        <ol class="installation">
          <li class="install1">
            <span class="screen"></span>
            <strong>{{_('1')}}.</strong>
            <span class="install-win">
              {{_('Start the process by clicking Run.')}}
            </span>
            {{_('Your download should begin automatically. If not, <a id="%s" href="">click here</a>. It could take a few minutes, but it’s worth the wait.')|format('direct-download-link')}}
          </li>
          <li class="install2">
            <span class="screen"></span>
            <strong>{{_('2')}}.</strong>
            <span class="install-osx">
              {{_('When prompted, drag the Firefox icon into the image of your Applications folder.')}}
            </span>
            <span class="install-win">
              {{_("Click Run to launch the Mozilla Firefox setup wizard. Then, just follow the steps (we've made the process as painless as possible).")}}
            </span>
          </li>
          <li class="install3">
            <span class="screen"></span>
            <strong>{{_('3')}}.</strong>
            <span class="install-osx">
              {{_('Drag the Firefox icon from the Applications folder into the dock. Then, just click on Firefox whenever you want to use the web!')}}
            </span>
            <span class="install-win">
              {{_('Now you’re ready to leap boldly into a new era of Web surfing. Double-click on the Firefox icon whenever you want to go online.')}}
            </span>
          </li>
        </ol>
      </div> <!-- /#scene2 -->

    </div> <!-- /#stage -->
  </div>
</main>

<div itemscope itemtype="http://schema.org/SoftwareApplication">
  <meta itemprop="name" content="{{_('Firefox')}}">
  <meta itemprop="description" content="{% block product_desc %}{{_('Mozilla Firefox, free web browser, is created by a global non-profit dedicated to putting individuals in control &amp; shaping the future of the web for the public good.')}}{% endblock %}">
  <meta itemprop="url" content="{{ settings.CANONICAL_URL }}/firefox/">
  <meta itemprop="image" content="{% block product_logo %}{{ media('img/firefox/firefox-256.jpg') }}{% endblock %}">
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{_('Mozilla')}}">
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
  <meta itemprop="softwareVersion" content="{{ latest_firefox_version }}">
  <meta itemprop="releaseNotes" content="{{ settings.CANONICAL_URL }}/firefox/{{ latest_firefox_version }}/releasenotes/">
  <meta itemprop="applicationCategory" content="BrowserApplication">
  <meta itemprop="operatingSystem" content="Windows">
  <meta itemprop="operatingSystem" content="Mac">
  <meta itemprop="operatingSystem" content="Linux">
  <meta itemprop="operatingSystem" content="Android">
</div>

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{_('Firefox')}}">
  <meta itemprop="description" content="{{ self.product_desc() }}">
  <meta itemprop="url" content="{{ settings.CANONICAL_URL }}/firefox/">
  <meta itemprop="image" content="{{ self.product_logo() }}">
  <meta itemprop="logo" content="{{ self.product_logo() }}">
  <div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{_('Mozilla')}}">
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
</div>

{% endblock %}

{% block email_form %}{% endblock %}

{% block site_footer %}
  {% include 'firefox/includes/simple_footer.html' %}
{% endblock %}

{% block site_js %}{% endblock %}
