{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{# firstrun for nightlies #}

{% extends "/firefox/base-resp.html" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{% block site_css %}
  {{ css('nightly_firstrun') }}
{% endblock %}

{% add_lang_files "firstrun" "mobile" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Firefox Nightly First Run Page') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block body_id %}firefox-firstrun{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}{% endblock %}

{% block content %}

<main role="main">
  <div id="firstrun-header">
    <h1>{{ _('Firefox Nightlies') }}</h1>
    <h2>
      {{ _('Thank you.') }}
      {{ _('By using a nightly build, you’re helping make Firefox better.') }}
    </h2>
  </div>
  <div class="billboard primary">
    <div class="column">
      <h4>{{ _('Learn more about Firefox and Mozilla') }}</h4>
      <ul class="unstyled">
          <li><a href="{{ url('mozorg.about.manifesto') }}">{{ _('Read the Mozilla manifesto, our vision for a free and open Web') }}</a></li>
          <li><a href="{{ url('firefox.tour') }}">{{ _('Take a tour of the new Australis User Interface') }}</a></li>
          <li><a href="https://mozillians.org/">{{ _('Join Mozillians.org for Mozilla news and community updates') }}</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>{{ _('Hack on Firefox with us') }}</h4>
      <ul class="unstyled">
          <li><a href="http://www.whatcanidoformozilla.org">{{ _('Find out how you can help at WhatCanIDoForMozilla.org')}}</a></li>
          <li><a href="https://bugzilla.mozilla.org/createaccount.cgi">{{ _('Sign up for a Bugzilla account') }}</a></li>
          <li><a href="https://developer.mozilla.org/docs/Simple_Firefox_build">{{ _('Set up your development environment to build Firefox') }}</a></li>
          <li><a href="http://codefirefox.com/">{{ _('Learn about the next steps at CodeFirefox') }}</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>{{ _('Join the Mozilla community') }}</h4>
      <ul class="unstyled">
        <li><a href="http://reps.mozilla.org/">{{ _('Learn about upcoming Mozilla events in your area') }}</a></li>  
        <li><a href="http://planet.mozilla.org/">{{ _('Take a drink from the firehose! Get all the latest Mozilla news at Planet Mozilla.') }}</a></li>  
        <li><a href="https://quality.mozilla.org/docs/qmo-community/get-involved/">{{ _('Help make Firefox better with the Mozilla QA team') }}</a></li>
      </ul>
    </div>
  </div>

 {% if l10n_has_tag('promo_community') or settings.DEV and request.locale != 'en-US' %}
 {% l10n promo_community %}
  <div class="billboard">
      <h3>Learn more about your local Mozilla community</h3>
      <ul class="unstyled">
          <li><a href="http://www.example.com">Meet our community</a></li>
      </ul>
  </div>
  {% endl10n %}
  {% endif %}

</main>

<h3 class="feature-note">{{ _('Help us build the Web the world needs.') }}</h3>


{% endblock %}

{% block site_footer %}
<footer id="colophon">
  <nav>
    <ul class="primary">
      <li> <a href="{{ product_url('firefox', 'notes') }}">{{ _('Release Notes') }}</a></li>
      <li><a href="{{ url('firefox.desktop.index') }}">{{ _('Firefox Features') }}</a></li>
      <li><a href="https://support.mozilla.org/">{{ _('Firefox Help') }}</a></li>
    </ul>
    <ul class="secondary">
      <li><a href="{{ url('privacy') }}">{{ _('Privacy Policy') }}</a></li>
      <li><a href="{{ php_url('/about/legal.html') }}">{{ _('Legal Notices') }}</a></li>
    </ul>
  </nav>
</footer>
{% endblock %}
