{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}Blazing Fast Performance{% endblock %}
{% block body_id %}firefox-security{% endblock %}

{% block extrahead %}
  {{ css('video') }}
  {{ super() }}
{% endblock %}

{% block js %}
  {{ js('video') }}
{% endblock %}

{% block content %}

<div id="main-feature" class="stacked">
  <h1>Blazing <span class="large">Performance</span></h1>
  {{ download_button('download', 'small') }}
</div>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="#web">Making the Web Faster</a></li>
    <li><a href="#hardware">Hardware Acceleration</a></li>
  </ul>
</nav>

<section id="web" class="container divider">
<div class="row">
  <div class="span3">
    <h2>Making the Web <span>Faster</span></h2>
    <p>Fasten your seat belts! With lightning fast start-up times, rapid graphics rendering and improved page load speed, the latest version of Firefox is full of performance enhancements that you’ll notice instantly.</p>
    <p>Web applications like mail, video and games keep getting more awesome, but they also require additional power to run smoothly. To meet these increasingly sophisticated demands, our latest release features a massively improved JavaScript engine called JägerMonkey.</p>
  </div>
  <figure id="video-wrapper" class="span7">
    <div id="video-player" class="mozilla-video-control mozilla-video-shadow">
      <video
        id="video"
        width="640"
        height="360"
        poster="{{ media('img/firefox/video/poster-runfield.jpg') }}"
        controls="controls">

        <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/screencast.webm" type="video/webm" />
        <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/screencast.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;" />
        <source src="http://videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/screencast.mp4" type="video/mp4" />

        <object type="application/x-shockwave-flash"
          style="width: 640px; height: 388px;"
          data="/includes/flash/playerWithControls.swf?flv=serv/mozhacks/demos/screencasts/runfield/screencast.mp4&amp;autoplay=false&amp;msg=Play%20Video">

          <param name="movie" value="/includes/flash/playerWithControls.swf?flv=serv/mozhacks/demos/screencasts/runfield/screencast.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
          <param name="wmode" value="transparent" />

          <div class="video-player-no-flash">
            This video requires a browser with support for open video
            or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.
          </div>

        </object>

      </video>
    </div>
    <figcaption>Runfield is a Web-based game built with JavaScript and Canvas. <a href="https://developer.mozilla.org/demos/detail/runfield/launch">Try it for yourself »</a></figcaption>
  </figure>
</div>
</section>

<section id="hardware" class="container divider-last">
<div class="row">
  <div class="span3">
    <h2>Hardware Acceleration</h2>
    <p>Whether you’re using Firefox on Windows 7, Vista, XP or Mac OS X, you’ll also enjoy hardware acceleration for many other operations, like watching videos or playing games.</p>
  </div>
  <div class="span7">
    <img height="300" width="620" alt="Hardware Acceleration screenshot" src="{{ media('img/firefox/performance/hardware-accel.png') }}">
  </div>
</div>
</section>

{% endblock %}
