{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "/firefox/base-resp.html" %}

{% block page_title %}{{ _('Keep your Firefox in sync') }}{% endblock %}
{% block body_id %}firefox-sync{% endblock %}

{% block extrahead %}
  {{ css('firefox_sync') }}
  <!--[if gt IE 9]><!-->
    {{ css('firefox_sync_anim') }}
  <!--<![endif]-->
{% endblock %}

{% block content %}

<div class="intro container">
  <h1>{{ self.page_title() }}</h1>
  <p>{{ _('Instantly make Firefox your own wherever you use it. Seamlessly sync your bookmarks, history, passwords and more and access them from any device.') }}</p>
</div>

{% include 'firefox/includes/sync-animation.html' %}

<div class="main-content billboard">
  <div class="contents">
    <h4>{{ _('Get started with Sync. It’s fast, safe and easy:') }}</h4>
    <ol>
      <li>{% trans url='https://support.mozilla.org/kb/learn-more-about-the-design-of-new-firefox' %}
        Open the <a href="{{ url }}#w_a-handy-new-menu">menu</a> in the top right of Firefox and select “Sign in to Sync.”
      {% endtrans %}</li>
      <li>{{ _('Click “Get started” in the tab that opens.') }}</li>
      <li>{{ _('Enter an email address and password to “Create a Firefox Account.”') }}</li>
      <li>{{ _('Click “Next” to get a verification sent to your email.') }}</li>
    </ol>
    <p>{{ _('Check your email and click the verification link.') }}</p>
    <p>{{ _('You’re all set! Firefox will automatically sync in the background from now on.') }}</p>
    <ul class="unstyled">
      <li><a href="https://support.mozilla.org/kb/how-do-i-set-up-firefox-sync">{{ _('Get more detailed instructions.') }}</a></li>
      <li><a href="https://support.mozilla.org/kb/how-to-update-to-the-new-firefox-sync">{{ _('Using an older version of Sync?') }}</a></li>
    </ul>
    <h4>{{ _('Have an Android phone or tablet?') }}</h4>
    <p>{{ _('Download Firefox for Android to sync between your desktop and mobile devices.') }}</p>
    <p><a class="button android-link" href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}">{{ _('Get it free from Google Play') }}</a></p>
  </div>
</div>

{% endblock %}

{% block js %}
  {{ js('firefox_sync') }}
{% endblock %}
