{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import fxfamilynav, google_play_button with context %}

{% extends "/firefox/base-resp.html" %}

{% block page_title %}{{ _('Keep your Firefox in sync') }}{% endblock %}
{% block body_id %}firefox-sync{% endblock %}
{% block body_class %}
  {{ super() }}
  state-default
{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_sync' %}
  {% stylesheet 'firefox_sync_anim' %}
{% endblock %}

{% block site_header %}{% endblock %}

{% block site_header_unwrapped %}
  {{ fxfamilynav('features', 'dark') }}
{% endblock %}

{% block optimizely %}
  {% if switch('firefox-sync') %}
    {% include 'includes/optimizely.html' %}
  {% endif %}
{% endblock %}

{% block content %}
{% include 'firefox/includes/sync-animation.html' %}
<header role="banner" class="intro container">
  <div class="show-fx-31-signed-in">
    <h1>{{ _('Ready, Set, Sync') }}</h1>
    <p>
      {{ _('You’re signed up and ready to access <em>your</em> Firefox anywhere, anytime.') }}
    </p>
  </div>
  <div class="show-fx-31-signed-out show-fx-29-30 show-fx-28-older show-fx-android show-not-fx show-default">
    <h1>{{ _('Take your Web with you') }}</h1>
    <p>
      {{ _('Sync Firefox wherever you use it to access your bookmarks, passwords, tabs and more from any smartphone, tablet or computer.') }}
    </p>
  </div>
</header>

<section class="primary">
  <div class="inner-wrapper">
    <div class="container">

    {# Warning Text #}
      <div class="show-fx-29-30 warning">
        <p>
          {{ _('It looks like you’re running an older version of Firefox.') }}
        </p>
      </div>

      <div class="show-fx-28-older warning">
        <p>
          {{ _('The new version of Sync only works with the latest version of Firefox') }}
        </p>
      </div>

      <div class="show-not-fx warning">
        <p>
          {% if l10n_has_tag('firefox_sync_non_fx') %}
            {{ _('Sync is just one of the great features you’ll only get with Firefox.') }}
          {% else %}
            {{ _('Sync is just one of the great features you’ll only get with Firefox. Discover them all!') }}
          {% endif %}
        </p>
      </div>

      {# Primary Buttons #}

      <div class="buttons">
        <div class="show-fx-31-signed-in">
        {% if l10n_has_tag('firefox_sync_mobile_buttons_update') %}
          <p>
            {{ _('Now sync Firefox with your iOS and Android devices.') }}
          </p>
        {% endif %}
          <ul class="primary-buttons">
            <li>
              {{ google_play_button(id='cta-android') }}
            </li>
            <li>
              <a href="{{ firefox_ios_url('mozorg-sync_page-appstore-button') }}" data-link-type="download" data-download-os="iOS" id="cta-ios">
                <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ _('Download on the App Store') }}" width="152" height="45">
              </a>
            </li>
          </ul>
          <p class="button-footer">
            <a href="https://support.mozilla.org/kb/how-do-i-set-up-firefox-sync" class="ga-link" data-interaction="outbound link click">
              {{ _('Need help?') }}
            </a>
          </p>
        </div>

        <div class="show-fx-31-signed-out">
        {% if not version %}
          <button class="button" data-button-name="Get started with Sync" data-cta-position="Primary" id="cta-sync">
            {{ _('Get started with Sync') }}
          </button>
        {% else %}
          <form id="fxa-email-form" action="{{ url('firefox.accounts') }}" method="get">
            <input type="hidden" id="variation" name="v" value="{{ version }}">
            <label for="fxa-email" class="fxa-email">
            {% if version == '2' %}
              {{ _('Enter your email to begin.') }}
            {% elif version == '3' %}
              {{ _('Create a Firefox account to begin.') }}
            {% endif %}
            </label>
            <input type="email" id="fxa-email" class="fxa-email" placeholder="{{ _('YOUR EMAIL HERE') }}">
            <button type="submit" class="button" data-button-name="Get started with Sync" data-cta-position="Primary" id="cta-sync-variation">
            {% if version == '2' %}
              {{ _('Get started with Sync') }}
            {% elif version == '3' %}
              {{ _('Set up Sync') }}
            {% endif %}
            </button>
          </form>
        {% endif %}
        </div>

        <div class="show-fx-29-30">
          <a href="https://support.mozilla.org/kb/update-firefox-latest-version" class="button" data-interaction="button click" data-element-action="Sync CTA" id="cta-update">
            {{ _('Update your Firefox') }}
          </a>
        </div>

        <div class="show-not-fx show-fx-28-older">
          {{ download_firefox() }}
        </div>
      </div>

      {# Instructions #}

      <div class="show-fx-29-30 show-default instructions">
        <h3>{{ _('Get started with Sync in four easy steps:') }}</h3>
        <section>
          <ol>
            <li>{% trans url='https://support.mozilla.org/kb/learn-more-about-the-design-of-new-firefox' %}
              Open the <a class="menu ga-link" data-interaction="outbound link click" href="{{ url }}#w_a-handy-new-menu">menu</a> in the top right of Firefox and select “<strong>Sign in to Sync.</strong>”
            {% endtrans %}</li>
            {# L10n: <strong> tags below used for font color formatting. #}
            <li>{{ _('Click “<strong>Get started</strong>” in the tab that opens.') }}</li>
            <li>{{ _('Enter an email address and password to “<strong>Create a Firefox Account.</strong>”') }}</li>
            <li>{{ _('Click “<strong>Next</strong>” to get a verification sent to your email.') }}</li>
          </ol>
          <p>{{ _('After you check your email and click the verification link, you’ll be all set! Firefox will automatically sync in the background from then on.') }}</p>
        </section>
        <aside role="complimentary">
          <ul class="unstyled">
            <li><a class="more ga-link" data-interaction="outbound link click" href="https://support.mozilla.org/kb/how-do-i-set-up-firefox-sync">{{ _('Get more detailed instructions.') }}</a></li>
            <li><a class="more ga-link" data-interaction="outbound link click" href="https://support.mozilla.org/kb/how-to-update-to-the-new-firefox-sync">{{ _('Using an older version of Sync?') }}</a></li>
          </ul>
        </aside>
      </div>

      <div class="show-fx-28-older instructions">
        <ul class="unstyled">
          <li><a class="more ga-link" data-interaction="outbound link click" href="https://support.mozilla.org/kb/how-do-i-set-up-firefox-sync">{{ _('Get more detailed instructions.') }}</a></li>
          <li><a class="more ga-link" data-interaction="outbound link click" href="https://support.mozilla.org/kb/how-to-update-to-the-new-firefox-sync">{{ _('Using an older version of Sync?') }}</a></li>
        </ul>
      </div>


      <div class="show-fx-android instructions">
        <h3>{{ _('How to set up Sync in five easy steps:') }}</h3>
        <section>
          <ol>
              {# L10n: <strong> tags below used for font color formatting. #}
              <li>{{ _('Tap the <strong>Menu</strong> button (either below the screen or at the top right corner of the browser).') }}</li>
              <li>{{ _('Select <strong>Settings</strong> (you may need to tap <strong>More</strong> first).') }}</li>
              <li>{{ _('Tap <strong>Sync</strong> and then <strong>Get Started</strong>.') }}</li>
              <li>{{ _('The <strong>Create a Firefox Account page</strong> will open in a new tab.') }}</li>
              <li>{{ _('Fill out the form and click <strong>Next</strong>.') }}</li>
          </ol>
          <p>{{ _('After you check your email and click the verification link, you’ll be ready to go! Don’t forget to connect all your other devices to get the most of Sync.') }}</p>
        </section>
        <aside role="complimentary">
          <ul class="unstyled">
            <li><a class="more ga-link" data-interaction="outbound link click" href="https://support.mozilla.org/kb/how-do-i-set-up-firefox-sync">{{ _('Get more detailed instructions.') }}</a></li>
            <li><a class="more ga-link" data-interaction="outbound link click" href="https://support.mozilla.org/kb/how-to-update-to-the-new-firefox-sync">{{ _('Using an older version of Sync?') }}</a></li>
          </ul>
        </aside>
      </div>

    </div>
  </div>
</section>

<section class="secondary">
  <div class="inner-wrapper">
    <div class="container">
      <header>
        <h2>{{ _('Sync a little. Sync a lot.') }}</h2>
        <p>
          {{ _('You choose what parts of your Firefox you want to sync and where you want to sync them. Take your open tabs on your daily commute. Access your bookmarks at work. Whatever, whenever, everywhere.') }}
        </p>
      </header>
      <div class="features">
        <div class="feature-home">
          <h3>{{ _('At home') }}</h3>
          <p>
            {% if LANG.startswith('en-') %}
              {{ _('Move from your desk to the couch without skipping a beat. Access your open tabs on your smartphone, or keep browsing your bookmarks right on your tablet.') }}
            {% else %}
              {{ _('Move from your desk to the couch without skipping a beat. Access your open tabs on your smartphone, or keeping browsing your bookmarks right on your tablet.') }}
            {% endif %}
          </p>
        </div>
        <div class="feature-work">
          <h3>{{ _('At work') }}</h3>
          <p>
            {{ _('Stay connected to all of your important information. Sync the passwords and bookmarks that you might need to access at any time. Just like Firefox, it’s safe as can be.') }}
          </p>
        </div>
        <div class="feature-go">
          <h3>{{ _('On the go') }}</h3>
          <p>
            {{ _('Keep up with your favorite sites, or finish that story you started at home — wherever you go. With Sync, it’s never been easier.') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="inner-wrapper">
    <div class="container">
      <header>
        <h3>{{ _('Get Firefox everywhere') }}</h3>
        {{ google_play_button(id='cta-android-footer') }}
        <a href="{{ firefox_ios_url('mozorg-sync_page-appstore-button-footer') }}" data-link-type="download" data-download-os="iOS" id="cta-ios-footer">
          <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ _('Download on the App Store') }}" width="152" height="45">
        </a>
      </header>
      <aside>
        <p>
          {{ _('To get the full Sync experience, take your Web with you everywhere you use Firefox. Connect your smartphone, tablet, computer and laptop.') }}
        </p>
      </aside>
    </div>
  </div>
</section>

{% endblock %}

{% block email_form %}
  <aside id="newsletter-subscribe" class="light ga-section" data-ga-label="Keep up with all things Firefox.">
    <div class="inner-wrapper container">
      {# L10n: Line break for visual formatting. #}
      {{ email_newsletter_form(title=_('Keep up with<br> all things Firefox.'), button_class='button-dark') }}
    </div>
  </aside>
{% endblock %}

{% block js %}
  <!--[if IE 9]>
    {% javascript 'matchmedia_addlistener' %}
  <![endif]-->
  {% javascript 'firefox_sync' %}
{% endblock %}
