{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/base/base-resp.html" %}

{% block page_title_prefix %}
  {{ _('Firefox for iOS Beta') }} —
{% endblock %}

{% block page_title %}{{ _('TestFlight') }}{% endblock %}

{% block page_desc %}
  {{ _('Sign up to test pre-release beta versions of Firefox for iOS via Apple’s TestFlight program and help make our mobile browser for iPhone, iPad and iPod touch even better.') }}
{% endblock %}

{% block body_id %}firefox-ios-testflight{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_ios_testflight') }}
{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}{% endblock %}

{% block content %}
<section id="intro">
  <div class="container">
    {# No more new logos! #}
    {{ high_res_img('protocol/img/logos/firefox/browser/logo-lg.png', {'alt': 'Firefox for iOS', 'width': '142', 'height': '142', 'id': 'header-logo' }) }}

    <header id="intro-header">
      {# L10n: line break below for visual formatting only #}
      <h1>{{ _('Help shape the future <br>of Firefox for iOS') }}</h1>

      <h2>{{ _('Sign up to test pre-release versions to make Firefox even better.') }}</h2>
    </header>

    <div id="footer-email-errors" class="hidden newsletter-form-extra">
      <ul class="errorlist"></ul>
    </div>

    <form id="newsletter-form" class="newsletter-form footer-newsletter-form" action="{{ url('newsletter.subscribe') }}" method="post" data-spinner-color="#fff">
      {{ newsletter_form.newsletters|safe }}
      {# test flight program is only available in english #}
      <input type="hidden" name="lang" value="en">
      <input type="hidden" name="source_url" value="{{ request.build_absolute_uri() }}">

      <div id="form-fields">
        <div id="email-submit-wrapper">
          <div id="email-wrapper" class="field">
            <label for="id_email">{{ _('Email') }}</label>
            {{ newsletter_form.email|safe }}
          </div>
          <button class="button button-dark" id="footer_email_submit" type="submit">Submit</button>
        </div>{#-- /#email-submit-wrapper --#}

        <div id="terms-format-wrapper">
          <div id="format-wrapper">
            {{ newsletter_form.fmt|safe }}
          </div>

          <label class="terms-check-label" for="id_terms">
            <input id="id_terms" name="terms" required="required" type="checkbox">
            <span class="title">
            {% trans url='#terms-conditions' %}
              I have read and agree to these
              <a href="{{ url }}">Terms and Conditions</a>
            {% endtrans %}
            </span>
          </label>
        </div>{#-- /#terms-format-wrapper --#}

        {{ newsletter_form.privacy|safe }}
      </div>{#-- /#form-fields --#}

      <div id="newsletter-spinner" class="hidden"></div>
    </form>

    <div id="newsletter-form-thankyou" class="thank newsletter-form newsletter-form-extra">
      <h2>{{ _('Congrats!') }}</h2>

      <h3>{{ _('You have been added to the Firefox for iOS testing program.') }}</h3>

      <p>
      {% trans %}
        When test spots are available, you will receive an invitation from
        TestFlight, Apple's App Store program that manages pre-release
        software, to participate in the program.
      {% endtrans %}

        <strong>{{ _('Please accept it.') }}</strong>
      </p>

      <p>{{ _('Be aware that this email may be in your spam folder.') }}</p>
    </div>
  </div>{#-- /.container --#}
</section>{#-- /#intro --#}

<section id="terms-conditions">
  <div class="container">
    <h4>{{ _('Terms and Conditions') }}</h4>

    <ol>
      <li>
        {{ _('This pre-release program (“Program”) is only available in English.') }}
        {{ _('You must be at least 18 years old or have your parent consent to your participation in the Program.') }}
      </li>
      <li>
        {{ _('Installation of TestFlight is required for Program participation.') }}

      {% trans url='https://www.apple.com/legal/internet-services/itunes/testflight/sren/terms.html' %}
        TestFlight is published by Apple and its
        <a href="{{ url }}" rel="external">terms and conditions</a> apply.
      {% endtrans %}

      {% trans url=url('privacy') %}
        When Mozilla receives data from you or TestFlight, we handle it in
        accordance with our <a href="{{ url }}">Privacy Policy</a>.
      {% endtrans %}
      </li>
      <li>
        {{ _('You may receive emails from TestFlight or Mozilla in connection with your participation in this Program.') }}
      </li>
    </ol>
  </div>{#-- /.container --#}
</section>{#-- /#terms-conditions --#}
{% endblock %}

{% block email_form %}{% endblock %}
