{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "grants/base.html" %}

{% block page_title %}Grants{% endblock %}
{% block body_id %}grants{% endblock %}

{% block article %}

<header>
    <h1>{{ grant.title }}</h1>
    <p>{{ grant.summary }}</p>
</header>

<ul class="grant_info">
    <li><h2>Grantee</h2> {{ grant.grantee }}</li>
    {% if grant.location %}
        <li><h2>Location</h2> {{ grant.location }}</li>
    {% endif %}
    {% if grant.break_down %}
        <li>
            <h2>Support break-down</h2>
            <ol class='detailed_info'>
            {% for year, phases in grant.break_down.items()|sort %}
                <li class="year">
                    {{ year }}
                    <ol>
                    {% for phase in phases %}
                        <li>{{ phase }}</li>
                    {% endfor %}
                    </ol>
                </li>
            {% endfor %}
            </ol>
            <h3>Total support</h3> {{ grant.total_support }}
        </li>
    {% else %}
        <li><h2>Total support</h2> {{ grant.total_support }}</li>
        <li><h2>Year</h2> {{ grant.year }}</li>
    {% endif %}
    <li><h2>Focus Area</h2> {{ grant_labels[grant.type] }}</li>
</ul>

{{ grant.description|safe }}

{% if grant.urls %}
    <h2 class="meta">Read more at:</h2>
    <ul>
        {% for url in grant.urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{{ url('grants') }}#grants-data">Back to all grants</a>

{% endblock %}