// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../../../protocol/css/includes/lib';

/* -------------------------------------------------------------------------- */
// Download thank you page for quantum lang file and trailhead design

.c-thanks h1 {
    border-bottom: 1px solid $color-gray-30;
    padding-bottom: $layout-lg;
}

.c-thanks ul {
    margin-bottom: $layout-lg;
}

.c-thanks li {
    display: inline-block;
}
