{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/home/home-en-US.html" %}

{% block body_class %}home-variant home-en-US-c{% endblock %}

{% block page_css %}
  {{ super() }}
  {% stylesheet 'home-en-US-variant' %}
{% endblock %}

{% block intro %}
  <div id="home-slideshow">
    <div class="slide" id="slide-one"></div>
    <div class="slide" id="slide-two"></div>
    <div class="slide" id="slide-three"></div>
    <div class="slide" id="slide-four"></div>
  </div>
  <div class="content">
    <h2 class="intro-tagline">
      {{ _('We’re Mozilla.') }}
      <br>
      {{ _('The non-profit champions of a healthy Internet for all.') }}
    </h2>
  </div>
{% endblock %}

{% block people_title %}
  {{ _('Keeping the Internet open for good') }}
{% endblock %}

{% block people_copy %}
  {{ _('When the Internet is healthy, people are more empowered, safe and independent online.') }}
  {{ _('We’re fighting the good fight to keep it that way.') }}
{% endblock %}

{% block innovation_title %}
  {{ _('Creating the Web of tomorrow') }}
{% endblock %}

{% block innovation_copy %}
  {{ _('Building web-based products and technologies that are open to everyone benefits both people and the healthy Internet.') }}
  {{ _('Learn how we work with partners to keep the Web wonderful.') }}
{% endblock %}

{% block js %}
  {% javascript 'home-en-US' %}
{% endblock %}
