{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros-protocol.html" import split, billboard, card, call_out_compact, content_card with context %}
{% from "mozorg/home/includes/macros.html" import download_banner, download_banner_secondary, fxa_banner %}

{% extends "mozorg/home/base.html" %}

{% block page_title %}Internet für Menschen, nicht für Profit{% endblock %}
{% block page_desc %}Mozilla ist die gemeinnützige Organisation hinter Firefox. Menschen sollten auch online die Kontrolle über ihr Leben haben. Dafür setzen wir uns ein.{% endblock %}

{% set show_firefox_app_store_banner = switch('firefox-app-store-banner') %}
{% set show_fundraising_banner = switch('fundraising-banner-giving2022') and ftl_has_messages('banner-fundraising-title', 'banner-fundraising-body') %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-card') }}
  {{ css_bundle('protocol-newsletter') }}
  {{ css_bundle('protocol-call-out') }}
  {{ css_bundle('home-eu') }}


  {% if switch('de-ctd-homepage-promo') %}
    {{ css_bundle('ctd-promo') }}
  {% elif switch('homepage-firefox-mr106-promo') %}
    {{ css_bundle('home-firefox-mr106-promo') }}
  {% elif switch('homepage-mr2-promo-eu') %}
    {{ css_bundle('home-mr2-promo') }}
  {% endif %}

  {% if show_fundraising_banner %}
    {{ css_bundle('fundraising-banner') }}
  {% elif show_firefox_app_store_banner %}
    {{ css_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}

{% block page_banner %}
  {% if show_fundraising_banner %}
    {% include 'includes/banners/fundraiser.html' %}
  {% elif show_firefox_app_store_banner %}
    {% include 'includes/banners/mobile/firefox-app-store.html' %}
  {% endif %}
{% endblock %}

{% block content %}
<main>
  <header class="main-page-heading">
    {# Main page h1 is hidden from view and exists mainly for SEO purposes #}
    <h1>{{ self.page_title() }}</h1>
  </header>

  {% if switch('de-ctd-homepage-promo') %}
    {% include 'mozorg/home/includes/ctd-promo-de.html'%}
  {% elif switch('homepage-firefox-mr106-promo')%}
    {% include 'mozorg/home/includes/firefox-mr106-promo.html'%}
  {% elif switch('homepage-mr2-promo-eu')%}
    {% include 'mozorg/home/includes/mr2-promo-eu.html' %}
  {% else %}
    {% call download_banner(
      title='Aus Liebe zum Web',
      desc='Firefox – der unabhängige Browser, unterstützt vom Non-Profit Mozilla',
      ) %}
      {{ download_firefox_thanks(alt_copy='Firefox downloaden', dom_id='download-primary', download_location='primary cta') }}
    {% endcall %}

    {{ fxa_banner(
      title='Aus Liebe zum Web',
      desc='Firefox – der unabhängige Browser, unterstützt vom Non-Profit Mozilla',
      link_cta='Weitere Infos',
    )}}
  {% endif %}

  <div class="mozilla-content">
    <div class="mzp-l-content mzp-t-mozilla">
      <div class="mzp-l-card-hero">
        {{ content_card('card_1') }}
        {{ content_card('card_2') }}
        {{ content_card('card_3') }}
        {{ content_card('card_4') }}
        {{ content_card('card_5') }}
      </div>

      {{ billboard(
        title='Für Dich & das Internet. <br>Schon seit 1998.'|safe,
        ga_title='Für Dich & das Internet. Schon seit 1998.',
        desc='Mozilla setzt sich für ein gesundes Internet ein – und damit für die Menschen, die es nutzen. Damals. Heute. Morgen.',
        link_cta='Erfahre mehr über Mozilla',
        link_url=url('mozorg.about.manifesto'),
        image=resp_img('img/home/2018/billboard-more-power.png',
          srcset={
            'img/home/2018/billboard-more-power-high-res.png': '2x'
          })
      )}}

      <div class="mzp-l-card-half">
        {{ content_card('card_6') }}
        {{ content_card('card_7') }}
      </div>

      {{ billboard(
        title='Technologien des offenen Webs.',
        ga_title='Technologien des offenen Webs.',
        desc='Virtual Reality, IoT und mehr.',
        link_cta='Entdecke das Web der Zukunft',
        link_url='https://labs.mozilla.org/',
        image=resp_img('img/home/2018/billboard-open-minds.png',
          srcset={
            'img/home/2018/billboard-open-minds-high-res.png': '2x'
        }),
        reverse=True
      )}}

      <div class="mzp-l-card-half">
        {{ content_card('card_8') }}
        {{ content_card('card_9') }}
      </div>

      <div class="mzp-l-card-third">
        {{ content_card('card_10') }}
        {{ content_card('card_11') }}
        {{ content_card('card_12') }}
      </div>

      <aside class="mzp-c-newsletter">
        <div class="mzp-c-newsletter-image">
          {{ high_res_img('img/home/2018/newsletter-graphic.png', {'alt': ''}) }}
        </div>

        <div class="newsletter-content">
          {% if ftl_has_messages('multi-newsletter-form-title', 'multi-newsletter-form-desc', 'multi-newsletter-form-checkboxes-legend') %}
            {{ email_newsletter_form(
              newsletters='mozilla-foundation, mozilla-and-you',
              button_class='button-dark'
            )}}
          {% else %}
            {{ email_newsletter_form(
              title='Du liebst das Internet?',
              desc='Hol dir den Firefox Newsletter und sorg mit uns zusammen dafür, dass das Web frei und offen für alle bleibt.',
              button_class='button-dark',
              submit_text='Anmelden'
            )}}
          {% endif %}
        </div>
      </aside>
    </div>
  </div>{#-- /.mozilla-content --#}

  {% call download_banner_secondary(
    title='Bestimme selbst, was du teilst und mit wem.',
    sub_title='Hol dir den Browser, der Tracker automatisch blockiert.'
  ) %}
    {{ download_firefox_thanks(dom_id='download-secondary', download_location='secondary cta') }}
  {% endcall %}

  {% call call_out_compact(
      title='Das Konto, das dich schützt, statt Profit mit dir zu machen.',
      desc=None,
      class='fxaccount-secondary-cta mzp-t-product-firefox mzp-t-firefox mzp-t-dark',
      heading_level=2
    ) %}
    <a href="{{ url('firefox.accounts') }}" class="mzp-c-button mzp-t-product mzp-t-dark" id="fxa-learn-secondary">{{ ftl('ui-learn-more') }}</a>
  {% endcall %}

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('protocol-modal') }}
  {{ js_bundle('home') }}
  {{ js_bundle('newsletter') }}

  {% if show_fundraising_banner %}
    {{ js_bundle('fundraising-banner') }}
  {% elif show_firefox_app_store_banner %}
    {{ js_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}
