{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  firefoxos-branding
{% endblock %}

{% set page_title = 'Firefox OS branding' %}
{% block page_title_prefix %}{{ page_title}} — {% endblock %}
{% block content_title %}{{ page_title}}{% endblock%}

{% block content_area %}
<section id="intro">
  <h2>Coming soon</h2>
  <p>This is the future home of our evolving Firefox OS brand (formerly Boot to Gecko) for mobile devices. Check back soon for complete usage examples and rules.</p>
</section>
{% endblock %}
