{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  firefox-colors
{% endblock %}

{% set page_title = 'Firefox Browser color' %}

{% block content_area %}
<section id="intro">
  <h2>Usage</h2>
  <p>Use these colors to guide your designs and layouts, both online and off, to ensure you’re staying consistent with the Firefox brand.</p>
</section>
<section>
  <div class="swatch-card">
    <h2>Swatches</h2>
  </div>
  <div class="swatch-card">
    <h2>Gradients</h2>
  </div>
  <div class="swatch-card" id="swatch-orange">
    <div class="swatch"></div>
    <h4>Firefox orange</h4>
    <p><b>#E66000 / Pantone 166 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>25</td>
        <th>C</th> <td>5</td>
        <th>R</th> <td>230</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>76</td>
        <th>G</th> <td>96</td>
      </tr>
      <tr>
        <th>B</th> <td>90</td>
        <th>Y</th> <td>100</td>
        <th>B</th> <td>0</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>1</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-firefox">
    <div class="swatch"></div>
    <h4>Firefox</h4>
    <p><b>#E66000 to #BB2200</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-light-orange">
    <div class="swatch"></div>
    <h4>Firefox light orange</h4>
    <p><b>#FF9500 / Pantone 144 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>35</td>
        <th>C</th> <td>0</td>
        <th>R</th> <td>255</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>50</td>
        <th>G</th> <td>149</td>
      </tr>
      <tr>
        <th>B</th> <td>100</td>
        <th>Y</th> <td>100</td>
        <th>B</th> <td>0</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-blue-grey">
    <div class="swatch"></div>
    <h4>Light blue/grey</h4>
    <p><b>#EAEFF2 to #D4DDE4</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-yellow">
    <div class="swatch"></div>
    <h4>Firefox yellow</h4>
    <p><b>#FFCB00 / Pantone 116 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>48</td>
        <th>C</th> <td>0</td>
        <th>R</th> <td>255</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>19</td>
        <th>G</th> <td>203</td>
      </tr>
      <tr>
        <th>B</th> <td>100</td>
        <th>Y</th> <td>100</td>
        <th>B</th> <td>0</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-dark-blue">
    <div class="swatch"></div>
    <h4>Dark blue/grey</h4>
    <p><b>#6A7B86 to #424F5A</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-blue">
    <div class="swatch"></div>
    <h4>Firefox blue</h4>
    <p><b>#00539F / Pantone 2945 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>209</td>
        <th>C</th> <td>99</td>
        <th>R</th> <td>0</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>75</td>
        <th>G</th> <td>83</td>
      </tr>
      <tr>
        <th>B</th> <td>62</td>
        <th>Y</th> <td>5</td>
        <th>B</th> <td>159</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-aurora">
    <div class="swatch"></div>
    <h4>Aurora</h4>
    <p><b>#331E54 to #000000</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-light-blue">
    <div class="swatch"></div>
    <h4>Firefox light blue</h4>
    <p><b>#0095DD / Pantone 2925 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>199</td>
        <th>C</th> <td>76</td>
        <th>R</th> <td>0</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>20</td>
        <th>G</th> <td>150</td>
      </tr>
      <tr>
        <th>B</th> <td>87</td>
        <th>Y</th> <td>0</td>
        <th>B</th> <td>221</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>0</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card" id="swatch-nightly">
    <div class="swatch"></div>
    <h4>Nightly</h4>
    <p><b>#002147 to #000000</b></p>
  </div>
  <div class="swatch-card clear" id="swatch-aurora-purple">
    <div class="swatch"></div>
    <h4>Aurora purple</h4>
    <p><b>#331E54 / Pantone 2695 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>263</td>
        <th>C</th> <td>92</td>
        <th>R</th> <td>51</td>
      </tr>
      <tr>
        <th>S</th> <td>65</td>
        <th>M</th> <td>100</td>
        <th>G</th> <td>30</td>
      </tr>
      <tr>
        <th>B</th> <td>33</td>
        <th>Y</th> <td>35</td>
        <th>B</th> <td>84</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>31</td>
        <th></th> <td></td>
    </table>
  </div>
  <div class="swatch-card clear" id="swatch-nightly-blue">
    <div class="swatch"></div>
    <h4>Nightly blue</h4>
    <p><b>#002147 / Pantone 282 C</b></p>
    <table>
      <tr>
        <th>H</th> <td>212</td>
        <th>C</th> <td>100</td>
        <th>R</th> <td>0</td>
      </tr>
      <tr>
        <th>S</th> <td>100</td>
        <th>M</th> <td>88</td>
        <th>G</th> <td>33</td>
      </tr>
      <tr>
        <th>B</th> <td>28</td>
        <th>Y</th> <td>41</td>
        <th>B</th> <td>71</td>
      </tr>
      <tr>
        <th></th> <td></td>
        <th>K</th> <td>47</td>
        <th></th> <td></td>
    </table>
  </div>
</section>

{% endblock %}
