{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  marketplace-branding
{% endblock %}

{% set page_title = 'Marketplace branding' %}

{% block content_area %}
<section id="intro">
  <h2>Introduction</h2>
  <p>We’ve taken our core values — openness, freedom, user choice — and brought them to the world of apps. Here’s everything you need related to our apps offering and its distribution channel, the Firefox Marketplace.</p>
</section>
<section id="guidelines">
  <div class="guidelines">
    <h2>Guidelines</h2>
    <p>For all permitted uses of our trademarks, you may not:</p>
  </div>
  <ul class="guidelines-list">
    <li>alter our logos in any way</li>
    <li>place a logo in such close proximity to other content that it is indistinguishable</li>
    <li>make our logo the most distinctive or prominent feature on your website, printed material or other content</li>
    <li>use our logos in a way that suggests any type of association or partnership with Mozilla or approval, sponsorship or endorsement by  Mozilla (unless allowed via a license from us)</li>
    <li>use our logos in a way that is harmful, deceptive, obscene or otherwise objectionable to the average person</li>
    <li>use our logos on websites or other places containing content associated with hate speech, pornography, gambling or illegal activities</li>
    <li>use our logos to, or in connection with, content that disparages us or sullies our reputation</li>
  </ul>
  <div class="guidelines-logo">
    <img src="{{ media('/img/styleguide/identity/marketplace/logo.png') }}" alt="Logo" />
    <h3>Download</h3>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-only/firefox-marketplace_logo-only_CMYK-CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-only/firefox-marketplace_logo-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-only/firefox-marketplace_logo-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="usage">
  <h2>Firefox Usage</h2>
  <div class="image usage-wordmark"><img src="{{ media('/img/styleguide/identity/marketplace/usage-wordmark.png') }}" alt="Usage Wordmark" /></div>
  <p>Our standard lockup for representing the Firefox Marketplace or Mozilla apps in general. In most cases, use this.</p>
  <div class="image"><img src="{{ media('/img/styleguide/identity/marketplace/usage-logo-bag.png') }}" alt="Usage Logo" /></div>
  <p>The logo on its own. You can safely use this if Mozilla and the Marketplace are clearly visible or well established elsewhere on the page or in the design.</p>
  <div class="image clear"><img src="{{ media('/img/styleguide/identity/marketplace/usage-logo-rocket.png') }}" alt="Usage Logo" /></div>
  <p>The rocket glyph can be used to represent the Marketplace or as the default symbol for a single app (i.e. one that doesn’t have its own logo).</p>
</section>
<section id="generic-usage">
  <div class="usage">
    <h2>Generic usage</h2>
    <p>Our standard lockups for representing the Marketplace when not deployed under the Firefox family of brands.</p>
  </div>
  <div class="image usage-wordmark">
    <img src="{{ media('/img/styleguide/identity/marketplace/generic-usage-wordmark.png') }}" alt="Usage Wordmark" />
  </div>
  <div class="image usage-logo">
    <img src="{{ media('/img/styleguide/identity/marketplace/generic-usage-logo.png') }}" alt="Usage Logo" />
  </div>
</section>
<section id="wordmark">
  <div class="build">
    <h2>Wordmark</h2>
    <p>The Marketplace wordmark follows our <a href="{{ url('styleguide.communications.typefaces') }}#wordmarks">tiered font system</a>.</p>
  </div>
  <div class="logo">
    <img src="{{ media('/img/styleguide/box-arrow-left.png') }}" alt="" class="box-arrow" />
    <img src="{{ media('/img/styleguide/identity/marketplace/wordmark-firefox-logo.png') }}" alt="Logo" />
    <img src="{{ media('/img/styleguide/identity/marketplace/wordmark-firefox.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + Logo (Firefox ver.)</p>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-wordmark/firefox-marketplace_logo-wordmark_CMYK-CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-wordmark/firefox-marketplace_logo-wordmark_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-wordmark/firefox-marketplace_logo-wordmark_RGB.png" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only (Firefox ver.)</p>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/wordmark-only/firefox-marketplace_wordmark-only_CMYK-CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/wordmark-only/firefox-marketplace_wordmark-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/wordmark-only/firefox-marketplace_wordmark-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
<section id="wordmark-2">
  <div class="logo">
    <img src="{{ media('/img/styleguide/identity/marketplace/wordmark-logo.png') }}" alt="Logo" />
    <img src="{{ media('/img/styleguide/identity/marketplace/wordmark.png') }}" alt="Logo" />
  </div>
  <div class="download">
    <h4>Download</h4>
    <p>Wordmark + Logo (generic)</p>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-wordmark/marketplace_logo-wordmark_CMYK-CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-wordmark/marketplace_logo-wordmark_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/logo-wordmark/marketplace_logo-wordmark_RGB.png" class="button-sand">PNG</a></li>
    </ul>
    <p>Wordmark only (generic)</p>
    <ul class="button-list">
      <li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/wordmark-only/marketplace_wordmark-only_CMYK-CS4.eps" class="button-sand">EPS</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/wordmark-only/marketplace_wordmark-only_RGB-300dpi.jpg" class="button-sand">JPG (300dpi)</a>
      </li><li><a href="https://assets.mozillalabs.com/Brands-Logos/Firefox%20Marketplace/wordmark-only/marketplace_wordmark-only_RGB.png" class="button-sand">PNG</a></li>
    </ul>
  </div>
</section>
{% endblock %}
