// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

.c-page-header {
    background-color: $browser-background;
    border-bottom: $border-black;

    @media (prefers-reduced-motion: no-preference){
        position: sticky;
        top: 0;
        z-index: 15;
    }
}

.c-page-header-logo-fx {
    display: flex;
    justify-content: center;

    span {
        @include visually-hidden;
    }
}

.c-page-header-inner {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: $spacing-md;

    .cta-group {
        justify-self: center;

        p {
            display: none;
        }
    }
}

@media (min-width: $mq-tad-smaller-sm) {
    .c-page-header-logo-fx {
        justify-content: flex-start;
        margin: 0;
    }

    .c-page-header-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .cta-group {
            justify-self: end;
            display: flex;
            align-items: center;
        }
    }
}

@media #{$mq-lg} {
    .c-page-header-inner {
        .cta-group {
            p {
                @include text-body-lg;
                display: block;
                margin-bottom: 0;
                margin-right: $spacing-md;
                width: 500px;
                font-family: 'Fira Mono', 'Andale Mono', monospace;
                font-weight: 500;
            }
        }

        .mzp-c-button {
            white-space: nowrap;
        }
    }
}
