// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

.moz-global-nav-drawer + #outer-wrapper {
    padding-top: @baseLine * 2;
}

#research {
    #main-feature {
        padding-bottom: @baseLine;
    }
}

#main-content {
    .intro {
        .span(6);
        padding-top: @baseLine;
        .font-size(18px);
        .open-sans-light;
    }

    ul.links {
        .span(5);
        .offset(1);
        li {
            list-style-type: none;
            padding-top: @baseLine;
            margin-left: 0;
            border-bottom: 1px dotted @borderColor;
        }
        h4 {
            margin-bottom: @baseLine / 6;
            a:after {
                content: " »";
                .open-sans-light;
            }
        }
        p {
            margin-bottom: @baseLine / 2;
        }
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
    .large h2 {
        .font-size(36px);
    }
    #main-content {
        .intro {
            .span_narrow(6);
        }

        ul.links {
            .span_narrow(6);
        }
    }
}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {
    .large {
        h1 {
            .font-size(40px);
            margin-bottom: 5px;
        }
        h2 {
            .font-size(24px);
        }
    }
    #main-content {
        .intro,
        ul.links {
            .span_narrow(5);
            width: auto;
            float: none;
        }
        .intro {
            .font-size(@baseFontSize);
            .open-sans;
        }
    }
}
