/* ==========================================================================
   Variables
   ========================================================================== */


/* Global Values
   ========================================================================== */


/* Colors
   ========================================================================== */

@black:                     #000;
@white:                     #FFF;
@neutral:                   #F6F4EC;
@light-grey:                #CCC;
@extra-dark-grey:           #222;

@stop:                      #db3f33;
@wait:                      #f6c925;
//@go:                        #00AE7B;
@go:                        #6bb94e;

/* z-index
   ========================================================================== */
@header-z-index:            1000;


/* Scaffolding
   ========================================================================== */

@body-bg:                   @neutral;
@text-color:                @white;

@link-color:                @extra-dark-grey;
