// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as *;


// hide the privacy notice to match the other buttons
.mzp-c-button-download-privacy-link {
    display: none;
}

// the space between the buttons was getting a link underline, this removes that
a[id^='playStoreLink'],
a[id^='appStoreLink'] {
    display: inline-block;
}


// --------------------------------------------------------------------------
// conditional content classes

.show-android,
.show-ios {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

.android .hide-android,
.ios .hide-ios {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

.show-else {
    .android &,
    .ios & {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }
}

.ios .show-ios {
    display: inline-block !important; /* stylelint-disable-line declaration-no-important */
}

.android .show-android {
    display: inline-block !important; /* stylelint-disable-line declaration-no-important */
}
