// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';


@font-face {
    font-family: 'Droid Sans Mono';
    font-weight: normal;
    font-style: normal;
    src: url('/media/fonts/DroidSansMono.woff2') format('woff2'),
         url('/media/fonts/DroidSansMono.woff') format('woff');
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html,
body {
    background: #ec8c32;
    background: linear-gradient(135deg, #ec8c32 0%,#e5472c 100%);
    border-top: 0;
    min-height: 100%;
}

main {
    background: #fff;
    margin: 20px;
    padding: 20px;
}

// * -------------------------------------------------------------------------- */
// Animated machine
.machine-animated {
    main {
        margin: 20px auto;

        @media #{$mq-desktop} {
            width: 800px;
        }

        @media #{$mq-desktop-wide} {
            width: 1200px;
        }
    }

    .machine {
        position: relative;

        video {
            display: none;

            @media #{$mq-desktop} {
                display: block;
                width: 100%;
            }
        }
    }

    .points {
        margin: 0;

        li {
            display: none;

            &#point-3 {
                display: block;
                text-align: center;
            }
        }

        @media #{$mq-desktop} {
            li {
                display: block;
                position: absolute;
                width: 290px;
            }

            .label {
                @include clearfix;
                @include font-size(12px);
                background-color: #fff;
                box-shadow: 4px 6px 0 rgba(0, 0, 0, .2);
                font-family: 'Droid Sans Mono', 'Andale Mono', monospace;
                padding: 15px;
                position: relative;
                width: 260px;

                &:before {
                    background-color: #fff;
                    border-radius: 100%;
                    border: 4px solid #ec8c32;
                    bottom: -14px;
                    box-shadow: 2px 3px 0 rgba(0, 0, 0, .2);
                    content: '';
                    display: block;
                    height: 20px;
                    left: -14px;
                    position: absolute;
                    width: 20px;
                    z-index: 2;
                }
            }

            #point-3 .label {
                background-color: #ea7530;
                color: #fff;
                text-align: left;

                &:before {
                    content: none;
                    display: none;
                }
            }

            h2 {
                @include font-size(16px);
                font-weight: normal;
                text-transform: uppercase;
            }

            p {
                margin: 0;
            }
        }
    }

    @media #{$mq-desktop} {
        #point-1 {
            left: 60px;
            bottom: 325px;
        }

        #point-2 {
            left: 520px;
            bottom: 330px;
        }

        #point-3 {
            right: 40px;
            bottom: 40px;
        }
    }

    @media #{$mq-desktop-wide} {
        #point-1 {
            left: 135px;
            bottom: 450px;
        }

        #point-2 {
            left: 760px;
            bottom: 520px;
        }

        #point-3 {
            right: 60px;
        }
    }

    .download-cta {
        @include clearfix;
        margin: 40px auto 20px;

        h1 {
            @include at2x('/media/img/logos/firefox/logo-wordmark-small.png', 200px, 75px);
            @include border-box;
            @include font-size-level3;
            background-position: center top;
            background-repeat: no-repeat;
            padding-top: 100px;
            text-align: center;

            @media #{$mq-desktop} {
                @include span(6);
                background-position: 20px 3px;
                padding-left: 20px;
                text-align: left;
            }

            @media #{$mq-desktop-wide} {
                @include font-size-level2;
                @include span(8);
                min-height: 75px;
                padding-left: 260px;
                padding-top: .5em;
                text-align: center;
            }
        }

        .download-button {
            display: block;
            margin: 40px auto 0;
            text-align: center;

            @media #{$mq-desktop} {
                @include span(6);
                float: right;
                margin-top: 12px;
            }

            @media #{$mq-desktop-wide} {
                @include span(4);
            }
        }
    }
}

.scene-2 main header {
    margin-bottom: 160px;
}

a.button:link.button-arrow,
a.button:visited.button-arrow {
    background: #ea7530;
    border-color: #ea7530;
    border-radius: 0;
    color: #fff;
    -webkit-transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

    strong {
        font-weight: bold;

        &:before {
            @include background-size(12px 28px);
            background-image: url('/media/img/hubs/down-arrow-light-sprite.png');
            background-position: left top;
            content: '';
            display: block;
            float: left;
            height: 14px;
            margin: 10px 10px 0 0;
            width: 12px;
        }
    }

    &:hover,
    &:focus {
        background: #fff;
        border-color: #ea7530;
        color: #000;

        strong:before {
            background-position: left -14px;
        }
    }

    @media #{$mq-desktop} {
        @include font-size(22px);
    }
}

.fx-privacy-link {

    a:link,
    a:visited {
        color: #000;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        text-decoration: underline;
    }

    @media #{$mq-desktop} {
        @include font-size(14px);
    }
}

// always hide special scene 2 button (as it forces direct download)
#download-button-wrapper-desktop {
    height: 0;
    visibility: hidden;
    width: 0;
}

@supports(animation: fade-in .5s ease-in-out 0s 1 normal both) {
    .js .scene-1 main {
        opacity: 0;
    }

    .js.ready {
        main {
            animation: fade-in .3s ease-in-out 0s 1 normal both;

            header p {
                animation: fade-in .5s ease-in-out .3s 1 normal both;
            }

            .copy li {
                &:nth-child(1) {
                    animation: fade-in .5s ease-in-out .4s 1 normal both;
                }

                &:nth-child(2) {
                    animation: fade-in .5s ease-in-out .55s 1 normal both;
                }

                &:nth-child(3) {
                    animation: fade-in .5s ease-in-out .7s 1 normal both;
                }
            }

            .download-cta {
                animation: fade-in .5s ease-in-out .55s 1 normal both;
            }
        }
    }
}
