// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// the font loads without this import, but fonts.net requires it for site verification/limits
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=4cf8cc7f-453b-4e9e-8a61-101fa60c96fd");

@import '../../pebbles/includes/lib';
@import '../../hubs/sections';

@font-face {
    font-family: 'ITC Franklin Gothic LT';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/media/fonts/7089f9c8-406a-4162-b5c7-3cffa5d6d3d8.woff2') format('woff2'),
         url('/media/fonts/42d7564d-dbd2-4098-b346-18b43c615bb2.woff') format('woff');
}

/* -------------------------------------------------------------------------- */
// Common elements

$color-photon-blue: #0099db;
$mq-desktop-super-wide: 'screen and (min-width: 1700px)';
$mq-desktop-wide-ish: 'screen and (min-width: 1200px)';

// account for tracking pixel added on demos/stage/prod
body {
    background: #000;
}

#outer-wrapper {
    @include open-sans();
    background: #fff;
}

.content-section {
    color: #000;
    padding: 40px 0;
    text-align: center;

    @media #{$mq-desktop} {
        padding: 50px 0;
        text-align: left;
    }
}

@media #{$mq-desktop-super-wide} {
    .content {
        max-width: 1700px;
    }
}

/* -------------------------------------------------------------------------- */
// Top hero section - common for all 3 variations: portland, portland-fast,
// portland-safe

.intro {
    h1 {
        @include font-size-level1;
        color: #fff;
        font-family: 'ITC Franklin Gothic LT', Impact, Haettenschweiler, "Franklin Gothic Bold", "Helvetica Inserat", arial, sans-serif;
        font-weight: normal;
        letter-spacing: 0.1rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .copy {
        padding: 0;
        width: auto;

        .download-button {
            margin-top: 30px;
        }

        .help {
            color: #fff;
            margin-top: 20px;

            a:link,
            a:visited {
                color: #fff;
                text-decoration: underline;
            }

            a:hover,
            a:active,
            a:focus {
                color: #fff;
                text-decoration: underline;
            }
        }

        .fx-privacy-link {
            a:active,
            a:focus,
            a:hover,
            a:link,
            a:visited {
                color: #fff;
            }
        }
    }

    .logo {
        margin-bottom: 20px;
    }

    @media #{$mq-desktop} {
        padding: 0;

        h1 {
            @include font-size(70px);
            line-height: 0.9;

            br {
                display: block;
            }
        }

        .logo {
            margin: 20px 0 40px;
        }

        .copy {
            padding-bottom: 40px;

            .download-button {
                margin-top: 40px;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Top hero section customizations based on variation

.portland .intro {
    background: #0060df;
    @include gradient-directional($deg: -39deg, $start-color: #0060df, $end-color: #45a1ff);

    @media #{$mq-tablet} {
        h1 {
            margin: 0 auto;
            max-width: 500px;
        }
    }

    @media #{$mq-desktop} {
        .content-wrapper {
            background: url('/media/img/firefox/new/portland/bg-portland-wave.svg') bottom -1px center no-repeat,
                url('/media/img/firefox/new/portland/bg-portland.png') top right no-repeat;
            background-size: 100vw, 600px 480px;
            padding-bottom: 25px;
        }

        h1 {
            @include font-size(60px);
            margin: auto;
            max-width: none;
        }

        .copy {
            max-width: 540px;
            width: 50%;
        }
    }

    @media #{$mq-desktop-wide-ish} {
        h1 {
            @include font-size(70px);
        }
    }
}

.portland.portland-scene2 .intro .copy {
    @media #{$mq-desktop} {
        width: 325px;
    }
}

.portland-fast .intro {
    background: #0060df;
    @include gradient-vertical($start-color: #0060df, $end-color: #45a1ff);

    @media #{$mq-desktop} {
        .content-wrapper {
            background: url('/media/img/firefox/new/portland/bg-portland-fast.png') bottom right no-repeat;
            background-size: 1310px 420px;
            min-height: 400px;
        }

        .copy {
            padding-bottom: 0;
            width: 288px;

            .fx-privacy-link {
                a:active,
                a:focus,
                a:hover,
                a:link,
                a:visited {
                    color: $color-photon-blue;
                }
            }
        }
    }

    @media #{$mq-desktop-wide-ish} {
        .content-wrapper {
            background-image: url('/media/img/firefox/new/portland/bg-portland-fast.png'),
                              url('/media/img/firefox/new/portland/bg-portland-fast-tile.png');
            background-position: bottom right, bottom left;
            background-repeat: no-repeat, repeat-x;
            background-size: 1562px 500px, 42px 500px;
            min-height: 533px;
        }
    }
}

.portland-fast.portland-scene2 .intro .help {
    @media #{$mq-desktop} {
        background: #003eaa;
        padding: 10px;
    }
}

.portland-safe .intro {
    background: #6200a4;
    @include gradient-directional($deg: -56deg, $start-color: #6200a4, $end-color: #9400ff);

    @media #{$mq-desktop} {
        .content-wrapper {
            background: url('/media/img/firefox/new/portland/bg-portland-safe.png') bottom -1px right no-repeat;
            background-size: 600px 326px;
        }

        .copy {
            width: 480px;
        }

        // the bg image sits under the text slightly - this shadow is just to provide a bit of separation
        h1 {
            text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.5);
        }
    }

    @media #{$mq-desktop-wide-ish} {
        .content-wrapper {
            background-size: 800px 435px;
        }

        h1 {
            text-shadow: none;
        }
    }
}

// custom download button font sizes
.download-button {
    @media #{$mq-desktop} {
        .button,
        a.button,
        a.button:link,
        a.button:visited {
            @include font-size(18px);
        }
    }

    @media #{$mq-desktop-wide} {
        .button,
        a.button,
        a.button:link,
        a.button:visited {
            @include font-size(20px);
        }
    }
}

// always hide special scene 2 button (as it forces direct download)
#download-button-wrapper-desktop {
    height: 0;
    visibility: hidden;
    width: 0;
}

/* -------------------------------------------------------------------------- */
// Detail content pillars

.details ul {
    li {
        list-style-type: none;
        margin-bottom: 60px;
        width: 100%;
    }

    h3 {
        @include font-size-level2;
        font-family: 'ITC Franklin Gothic LT', Impact, Haettenschweiler, "Franklin Gothic Bold", "Helvetica Inserat", arial, sans-serif;
        letter-spacing: 0.1rem;
        line-height: 0.9;
        margin-bottom: 20px;
        text-transform: uppercase;

        &:before {
            background: url('/media/img/firefox/new/portland/checkbox.png') left center no-repeat;
            background-size: 18px 19px;
            content: '';
            display: inline-block;
            height: 19px;
            margin: 0 8px -1px 0;
            width: 18px;
        }
    }

    p {
        line-height: 30px;
    }

    a:link,
    a:visited {
        color: $color-photon-blue;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        color: $color-photon-blue;
        text-decoration: underline;
    }

    @media #{$mq-tablet} {
        h3 {
            @include font-size-level3;
        }
    }

    @media #{$mq-desktop} {
        li {
            float: left;
            width: 33%;
            margin-bottom: 0;
        }

        h3,
        p {
            padding-right: 40px;
        }

        h3:before {
            background-size: 26px 27px;
            height: 27px;
            margin-right: 10px;
            width: 26px;
        }
    }

    @media #{$mq-desktop-wide} {
        h3,
        p {
            padding-right: 60px;
        }
    }
}

@supports(display: grid) {
    .details ul {
        @media #{$mq-desktop} {
            display: grid;
            grid-gap: 60px;
            grid-template-columns: repeat(3, 1fr);

            li {
                float: none;
                width: auto;
            }

            h3,
            p {
                padding-right: 0;
            }
        }

        @media #{$mq-desktop-wide} {
            h3,
            p {
                padding-right: 0;
            }
        }
    }
}
