// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";
@import "../horizon/lib.less";

// general version message styling
.version-message-container {
    display: none;
    float: right;
    padding-top: @baseLine * 3;
    text-align: right;
    width: 600px;

    @media only screen and (max-width: @breakDesktop) {
        width: 400px;
    }

    @media only screen and (max-width: @breakTablet) {
        .font-size(18px);
        padding-top: @baseLine * 2;
        text-align: center;
        width: 100%;
    }
}

.version-message {
    .font-size(18px);
    color: #fff;
    display: none;
    margin: 0;

    &:before {
        .inline-block;
        background: url('/media/img/firefox/template/icon-alert.svg') center center no-repeat;
        content: '';
        height: 25px;
        margin: 0 4px 0 0;
        vertical-align: text-bottom;
        width: 25px;
    }

    a:link,
    a:visited {
        color: @textColorSpaceYellow;
    }
}

.latest-links-wrapper {
    display: none;
    text-align: center;

    ul {
        margin: 0;

        li {
            .font-size(@largeFontSize);
            line-height: 1.2;
            list-style: none;
            margin: 0;
            padding: 3px 0 2px;
        }
    }
}

#download-buttons {

    .download-dumb {
        text-align: center;

        .download-heading {
            color: #fff;
        }
    }

    .download-button .unsupported-download a {
        color: @textColorSpaceYellow;
    }
}

// up to date firefox
html.firefox-latest {
    .version-message-container {
        display: block;
    }

    #version-message-desktop-latest {
        display: inline;

        &:before {
            background-image: url('/media/img/firefox/template/icon-check.svg');
        }
    }

    /* show helpful links and newsletter */
    .desktop-latest-links-wrapper,
    #newsletter-subscribe {
        display: block;
    }

    #download-buttons {
        margin: @baseLine 0 0;
    }

    .latest-links-wrapper {
        padding-top: @baseLine * 2;
    }
}

/* Pre-release Firefox users */
html.firefox-pre-release {

    .version-message-container,
    #version-message-desktop-pre-release,
    #newsletter-subscribe {
        display: block;
    }
}

// out of date firefox
html.firefox-old {
    .version-message-container {
        display: block;
    }

    #version-message-desktop-old {
        display: inline;
    }
}

// android for firefox
html.android {
    &.firefox-latest {
        .version-message-container {
            display: block;
        }

        #version-message-android-latest {
            display: inline;

            &:before {
                background-image: url('/media/img/firefox/template/icon-check.svg');
            }
        }

        #version-message-desktop-latest,
        #download-button-wrapper-desktop,
        .desktop-latest-links-wrapper {
            display: none;
        }

        /* show helpful links */
        .android-latest-links-wrapper {
            display: block;
            padding-top: 38px;
        }
    }

    &.firefox-old {
        .version-message-container {
            display: block;
        }

        #version-message-android-old {
            display: inline;
        }

        #version-message-desktop-old {
            display: none;
        }
    }
}

// linux users with ARM processors
html.linux.arm {

    #version-message-linux-arm {
        display: inline;
    }

    #download-buttons {
        display: none;
    }

    &.firefox-latest {
        #version-message-linux-arm {
            display: block;
            margin-bottom: @baseLine;
        }

        &.show-refresh {
            #refresh-firefox-wrapper {
                float: none;
                margin-bottom: @baseLine;
                text-align: center;
                width: 100%;
            }
        }

        .latest-links-wrapper {
            padding-top: 0;
        }
    }

    &.firefox-old {
        #version-message-desktop-old {
            display: none;
        }
    }
}

// firefox os
html.fxos {
    // hide conditional messaging and download buttons
    #download-buttons,
    .version-message-container {
        display: none;
    }

    .fxos-latest-links-wrapper {
        display: block;
        padding-top: 26px;
    }
}

html.android,
html.ios {
    #download-button-wrapper-desktop,
    .desktop-latest-links-wrapper {
        display: none;
    }

    #download-button-wrapper-mobile {
        display: block;
    }
}

// desktop user with version exactly matching latest release version
#refresh-firefox-wrapper {
    display: none;
}

html.show-refresh {

    .main-content {
        .clearfix;
    }

    #download-buttons {
        .border-box;
        display: block;
        float: left;
        margin-top: 0;
        padding-right: 10px;
        text-align: right;
        width: 50%;
    }

    #refresh-firefox-wrapper {
        .border-box;
        display: block;
        float: right;
        margin: 0;
        padding-left: 10px;
        text-align: left;
        width: 50%;

        .refresh-inner-wrapper {
            display: inline-block;
            text-align: center;
        }

        a {
            .font-size(@largeFontSize);
            color: #fff;
            font-style: normal;
            line-height: 1.3;
        }
    }

    #refresh-firefox {
        display: block;
        margin-bottom: 10px;
        line-height: 1.4;
    }

    .latest-links-wrapper {
        clear: both;
    }

    @media only screen and (max-width: @breakTablet) {
        #download-buttons,
        #refresh-firefox-wrapper {
            float: none;
            margin-bottom: @baseLine * 2;
            padding: 0;
            text-align: center;
            width: 100%;
        }
    }
}

#download-button-wrapper-mobile {
    display: none;
}

.download-button .unrecognized-download .download-dumb {
    .download-heading {
        color: @textColorPrimary;
    }

    .button-green, .button-green:link, .button-green:visited {
        min-width: 0;
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
    #download-buttons .download-other-desktop {
        bottom: 194px;
    }
}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #masthead h2 > img {
        display: none;
    }

    main h1 {
        background: url('/media/img/firefox/new/firefox-logo.png') top center no-repeat;
        padding-top: 125px;
    }

    #download-buttons {
        margin-bottom: @baseLine;
        padding-top: 10px;

        .download-button {
            display: block;
        }
    }

    .latest-links-wrapper {
        margin: 0 10px;
        padding: 0;
    }

    html.windows.arm,
    html.oldmac,
    html.oldwin {
        .download-button .unsupported-download {
            max-width: none;
        }
    }

    html.android {
        .mobile,
        .desktop {
            display: none;
        }
    }

    html.fxos {
        .fxos-latest-links-wrapper {
            padding: 0;
        }
    }

    .download-button-wrapper {
        text-align: center;

        .download-button {
            text-align: center;
        }
    }
}

#benefits {
    .clearfix;
    margin: 60px 0 70px;

    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        position: relative;
        text-align: center;

        li {
            float: left;
            margin: 0;
            padding: 0;
            width: 33.3%;

            @media only screen and (max-width: @breakTablet) {
                float: none;
                margin-bottom: @baseLine * 2;
                width: auto;
            }
        }
    }

    h2 {
        .font-size(22px);
        .open-sans();
        padding-top: 73px;
        position: relative;

        &:before {
            background-image: url('/media/img/firefox/new/icon-sprite.svg');
            background-repeat: no-repeat;
            content: '';
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &.fast:before {
            background-position: center top;
            height: 42px;
        }

        &.far:before {
            background-position: center -44px;
            height: 42px;
        }

        &.forward:before {
            background-position: center -88px;
            height: 41px;
        }
    }

    p {
        .font-size(18px);
        padding: 0 @baseLine;
        color: #bbcbff;
    }

    a {
        .font-size(18px);
        color: @textColorSpaceYellow;
    }
}

#newsletter-subscribe {
    background: @horizonColorForeground;
    display: none;
    margin-top: -100px;

    .container {
        .clearfix;
        padding-top: 0;
        position: relative;
    }

    .form-title {
        .at2x('/media/img/firefox/new/mailbox.png', 130px, 90px);
        .background-size(130px, 90px);
        background-position: left 30px;

        @media only screen and (max-width: @breakDesktop) {
            .background-size(130px, 90px);
            padding-left: 150px;
        }

        @media only screen and (max-width: @breakTablet) {
            .background-size(130px, 90px);
            background-position: center top;
            padding-left: 0;
        }
    }

    #newsletter-form-thankyou {
        .span-all;
        margin: 0;
        text-align: center;

        h3,
        p {
            color: #fff;
            margin: @baseLine auto;
            max-width: 35em;
        }

        p {
            .font-size(@largeFontSize);
        }
    }
}
