// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";

#download-buttons {
    margin-bottom: 100px;
}

.download-button-wrapper {
    margin: 10px auto 20px auto;
    width: 240px;
}

.other,
.no-js {
    .download-button-wrapper {
        width: 600px;
        text-align: center;

        @media only screen and (max-width: @breakTablet) {
            width: auto;
        }
    }
}

// styles the links pulled from underneath the desktop download button
// (systems & languages, what's new, privacy) and appended to the end of
// #download-buttons element
#download-buttons .download-other-desktop {
    position: absolute;
    bottom: 240px;
    left: 50%;
    margin-left: -170px;
    width: 340px;
    text-align: center;
    .font-size(@baseFontSize);
    color: @textColorLight;
    z-index: 2;
}

// general version message styling
.version-message-container {
    text-align: center;
    .font-size(20px);
    padding: 0 30px 20px;
    display: none;
}

.version-message {
    display: none;

    &:before {
        .inline-block;
        margin: 0 4px 0 0;
        width: 25px;
        height: 25px;
        vertical-align: text-bottom;
        background: url(/media/img/firefox/new/icon-alert.svg) center center no-repeat;
        content: '';
    }
}

.version-message-secondary {
    display: block;
    padding: 0;
    background: transparent;
    .font-size(@largeFontSize);
}

.latest-links-wrapper {
    display: none;
    padding-top: 13px;
    text-align: center;
    ul {
        margin: 0;
        li {
            margin: 0;
            padding: 3px 0 2px;
            list-style: none;
            line-height: 1.2;
        }
    }
}

// up to date firefox
html.firefox-latest {
    .version-message-container {
        display: block;
    }

    #version-message-desktop-latest {
        display: inline;

        &:before {
            background-image: url(/media/img/firefox/new/icon-check.svg);
        }
    }

    /* show helpful links */
    .desktop-latest-links-wrapper {
        display: block;
    }

    /* hide download button */
    #download-button-wrapper-desktop {
        display: none;
    }

    #firefox-screenshot {
        display: none;
    }

    #newsletter-latest {
        display: block;
    }

    small.download-other {
        display: none;
    }
}

// out of date firefox
html.firefox-old {
    .version-message-container {
        display: block;
    }

    #version-message-desktop-old {
        display: inline;
    }
}

// android for firefox
html.android {
    &.firefox-latest {
        .version-message-container {
            display: block;
        }

        #version-message-android-latest {
            display: inline;

            &:before {
                background-image: url(/media/img/firefox/new/icon-check.svg);
            }
        }

        #version-message-desktop-latest {
            display: none;
        }

        #download-button-wrapper-desktop,
        #download-button-wrapper-mobile {
            display: none;
        }

        /* show helpful links */
        .android-latest-links-wrapper {
            display: block;
            padding-top: 38px;
        }

        .desktop-latest-links-wrapper {
            display: none;
        }
    }

    &.firefox-old {
        .version-message-container {
            display: block;
        }

        #version-message-android-old {
            display: inline;
        }

        #version-message-desktop-old {
            display: none;
        }
    }
}

// linux users with ARM processors
html.linux.arm {
    .version-message-container {
        display: block;
    }

    #version-message-linux-arm {
        display: inline;
    }

    #version-message-desktop-latest,
    #version-message-desktop-old {
        display: none;
    }
}

// firefox os
html.fxos {
    // hide conditional messaging for firefox users,
    // they get updates from the OS directly.
    .version-message-container {
        display: none;
    }

    .fxos-latest-links-wrapper {
        display: block;
        padding-top: 26px;
    }

    .desktop-latest-links-wrapper {
        display: none;
    }
}

/* Unsupported platforms */
html.windows.arm,
html.oldmac,
html.oldwin {
    .download-button .unsupported-download {
        margin: 32px 0 0;
        text-align: center;
    }
}

html.android,
html.ios {
    #download-button-wrapper-desktop {
        display: none;
    }

    #download-button-wrapper-mobile {
        display: block;
        margin-top: 22px;
    }

    .desktop-latest-links-wrapper {
        display: none;
    }
}

// desktop user with version exactly matching latest release version
#refresh-firefox-wrapper {
    display: none;
}

html.show-refresh {
    #refresh-firefox-wrapper {
        display: block;
        margin: (@baseLine * 2) 0 @baseLine;

        p {
            font-style: normal;
            margin-bottom: @baseLine / 2;
        }

        a {
            color: @textColorTertiary;
            font-style: normal;
            .font-size(12px);
            .trailing-arrow();
        }
    }

    #refresh-firefox {
        display: block;
        width: 260px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 15px;
        font-weight: normal;
        .font-size(22px);
    }

    #main-feature,
    .hide-for-refresh {
        display: none;
    }
}

/* FxOS */
html.fxos {
    #firefox-screenshot {
        display: none;
    }

    .download-button-wrapper {
        display: none;
    }
}

.linux.arm #download-buttons {
    display: none;
}

#download-button-wrapper-mobile {
    display: none;
}

#firefox-screenshot {
    text-align: center;

    .platform-img {
        vertical-align: bottom;
    }
}

/* Newsletter signup shown to up-to-date users */
#newsletter-latest {
    display: none;
    margin: @baseLine * 2 auto @baseLine * 4 auto;
}

.download-button .unrecognized-download .download-dumb {
    .download-heading {
        color: @textColorPrimary;
    }

    .button-green, .button-green:link, .button-green:visited {
        min-width: 0;
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {
    #firefox-screenshot {
        padding: 0;
    }

    #download-buttons .download-other-desktop {
        bottom: 194px;
    }
}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakTablet) {
    .version-message-container {
        padding: 0 20px 20px;
        .font-size(18px);
    }

    #firefox-screenshot { display: none; }

    #download-buttons {
        padding-top: 10px;
        margin-bottom: @baseLine;

        .download-button {
            display: block;
        }
    }

    .latest-links-wrapper {
        margin: 0 10px;
        padding: 0;
    }

    html.windows.arm,
    html.oldmac,
    html.oldwin {
        .download-button .unsupported-download {
            max-width: none;
        }
    }

    html.android {
        .mobile {
            display: none;
        }

        .desktop {
            display: none;
        }

        &.firefox-latest .android-latest-links-wrapper {
            padding: 0;
        }
    }

    html.fxos {
        .fxos-latest-links-wrapper {
            padding: 0;
        }
    }

    .download-button-wrapper {
        text-align: center;

        .download-button {
            text-align: center;

            small.download-other {
                text-align: center;
                margin-top: 16px;
            }
        }
    }

    #download-buttons .download-other-desktop {
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
        margin: (@baseLine * 2) 0;
    }

    .footer-newsletter-form {
        padding-top: 20px;

        input[type=email],
        input[type=submit] {
            .border-box();
            width: 100%;
        }
    }
}
