// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

[data-theme] {
    .mzp-c-breadcrumb {
        background-color: var(--theme-color-bg);
        color: var(--theme-color-text);
    }

    .c-stories-article-header {
        background-color: var(--theme-color-bg);

        * {
            color: var(--theme-color-text);
        }
    }

    .c-embed-blockquote.full-width {
        background-color: var(--theme-color-bg);

        blockquote,
        figcaption {
            color: var(--theme-color-text);
        }
    }

    @supports (isolation: isolate) {
        // prevent white gap under navigation animation
        body::before {
            content: '';
            display: block;
            position: absolute;
            background-color: var(--theme-color-bg);
            width: 100%;
            height: 100vh;
        }

        // remove unneeded header background color
        .c-stories-article-header {
            background-color: initial;
        }

        // stay on top of the body background color
        .c-navigation,
        .mzp-c-breadcrumb,
        .c-stories-article {
            isolation: isolate;
        }
    }
}
