{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol-mozilla.html" %}

{% from "macros.html" import sub_nav with context %}
{% from "macros-protocol.html" import split, picto with context %}

{% block page_title %}Mozilla Careers — Feel good about your work again{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_image %}{{ static('img/careers/moz-m.png') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('careers') }}
  {{ css_bundle('protocol-split')}}
  {{ css_bundle('protocol-picto')}}
  {{ css_bundle('protocol-card') }}
  {{ css_bundle('protocol-article') }}
{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/rss+xml" href="{{ url('careers.feed') }}" title="Current Mozilla job openings" />
{% endblock %}

{% block sub_navigation %}
{{ sub_nav(
  title={
    'text': "Mozilla Careers"
  },
  links=[
  {
    'text': "Overview",
    'href': url('careers.home'),
    'cta_name': "Careers overview"
  },
  {
    'text': "Benefits",
    'href': url('careers.benefits'),
    'cta_name': "Mozilla benefits"
  },
  {
    'text': "Teams",
    'href': url('careers.teams'),
    'cta_name': "Mozilla teams"
  },
  {
    'text': "Diversity & Inclusion",
    'href': url('careers.diversity'),
    'cta_name': "Mozilla Diversity and inclusion"
  },
  {
    'text': "Locations",
    'href': url('careers.locations'),
    'cta_name': "Mozilla office locations"
  },
  {
    'text': "Job Listings",
    'href': url('careers.listings'),
    'cta_name': "Mozilla job listings"
  },]
) }}
{% endblock %}

{% block content %}
<div id="wrapper" class="mzp-t-mozilla">
  <main role="main" class="c-careers">
    {% block careers_content %}{% endblock %}
  </main>
</div>

  {% block careers_bottom %}
    {% include "careers/includes/footer.html" %}
  {% endblock %}

{% endblock %}
