{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "careers/base.html" %}

{% block page_title %}Mozilla Careers — {{ position.title }} — Open Positions{% endblock %}
{% block page_desc %}{{ meta_description|truncate(175, end='…') }}{% endblock %}

{% block body_class %}position-page{% endblock %}

{% block careers_content %}
<div class="mzp-l-content mzp-t-content-lg">
<section class="job-post" id="job-post">
  <div class="job-header">
    <div class="job-info">
      <h1 class="job-title">{{ position.title }}</h1>

      <div class="title-location">
        at
        {% if position.is_mofo %}
          Mozilla Foundation
        {% else %}
          Mozilla Corporation
        {% endif %}
      </div>

      <dl class="mzp-u-list-styled">
        {% if not position.is_mofo %}
          <dt class="job-post-team-head">Team:</dt>
          <dd class="job-post-team">{{ position.department }}</dd>
        {% endif %}
        <dt class="job-post-location-head">Locations:</dt>
        <dd class="job-post-location">{{ postings | map(attribute='job_locations') | join(', ') }}</dd>
      </dl>
    </div>

    <div class="job-apply">
      <div class="mzp-c-menu-list">
        <h3 class="mzp-c-menu-list-title">Apply Now</h3>
        <ul class="mzp-c-menu-list-list">
        {% for job in postings %}
          <li class="mzp-c-menu-list-item"><a href="{{ job.apply_url }}">{{ job.job_locations }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div>
    {{ position.description|safe }}
  </div>

  <div class="job-apply">
    <div class="mzp-c-menu-list">
      <h3 class="mzp-c-menu-list-title">Apply Now</h3>
      <ul class="mzp-c-menu-list-list">
      {% for job in postings %}
        <li class="mzp-c-menu-list-item"><a href="{{ job.apply_url }}">{{ job.job_locations }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <p><a rel="external" href="https://docs.google.com/document/d/e/2PACX-1vTEeCImDA-kqr0wm3JwfOv_2MS5FZ8oyL2pEWfVsZbeO87E41r2wePoOhppQ4qX6w/pub">Applicant Privacy Notice</a></p>
</section>
</div>

<section id="why" class="mzp-c-callout">
  <div class="mzp-l-content mzp-t-content-md">
    <h2 class="mzp-c-callout-title">Why Mozilla?</h2>
    <p class="mzp-c-callout-desc">
      At Mozilla, we’re serving humanity—by maintaining a safe, open internet—while also
      helping the individual humans employed here to reach their personal and
      professional goals. With a relatively small team serving hundreds of millions of
      people, a culture of exploration, and a commitment to mentorship, opportunities
      abound to learn and grow at Mozilla.
    </p>
  </div>
</section>

<div class="mzp-l-content mzp-t-content-xl">

<section class="mzp-l-card-third">
  <div class="mzp-c-card">
    <div class="mzp-c-card-content">
      <h3 class="mzp-c-card-title">Our values drive our actions</h3>
      <div class="mzp-c-card-desc">
        <ul class="mzp-u-list-styled">
          <li>
            Purpose is built into our work, with our mission driving every decision
          </li>
          <li>We challenge assumptions, the status quo, ourselves, and each other</li>
          <li>
            We are transparent: in our code, our business partnerships, and our everyday
            interactions
          </li>
          <li>
            We seek out people from diverse backgrounds and with perspectives different
            from our own
          </li>
          <li>We pair purpose with performance and put people ahead of profit</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mzp-c-card">
    <div class="mzp-c-card-content">
      <h3 class="mzp-c-card-title">Our impact is global</h3>
      <div class="mzp-c-card-desc">
        <ul class="mzp-u-list-styled">
          <li>1000+ paid staff from over 30 countries</li>
          <li>Thousands of volunteer contributors across six continents</li>
          <li>2 global offices: Berlin and Toronto</li>
          <li>9 coworking space locations: San Francisco, San Mateo, London, Paris, Portland, Tulsa, Vancouver, Chicago, and Bellevue</li>
          <li>Hundreds of home offices globally</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mzp-c-card">
    <div class="mzp-c-card-content">
      <h3 class="mzp-c-card-title">Our benefits are world-class</h3>
      <div class="mzp-c-card-desc">
        <ul class="mzp-u-list-styled">
          <li>Flexible work environment (majority of Mozillians work remotely)</li>
          <li>
            Industry-leading paid parental leave (up to 26 weeks of fully paid leave for
            childbearing parents and up to 12 weeks for non-childbearing parents)
          </li>
          <li>Reimbursement for professional development (up to $3,000/year)</li>
          <li>A work setup including the latest hardware and software of your choice</li>
        </ul>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}

{% block careers_bottom %}{% endblock %}

{% block js %}
  {{ js_bundle('careers-position') }}
{% endblock %}
