{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}


{% from "macros-protocol.html" import hero, call_out_compact, card, split, picto with context %}

{% for entry in entries -%}

    {% if entry.component == 'hero' %}

    {% if entries.index(entry) == 0: %}
      {% set heading_level = 1 %}
      {% set loading = 'eager' %}
    {% else %}
      {% set heading_level = 2 %}
      {% set loading = 'lazy' %}
    {% endif %}

      {% call hero(
        title=entry.title,
        tagline=entry.tagline,
        desc=entry.body|external_html,
        product_class=entry.product_class,
        class=entry.theme_class + ' ' + entry.image_class,
        include_cta=entry.include_cta,
        heading_level=heading_level,
        image_url=entry.image,
        include_highres_image=False,
        loading=loading
      ) %}

        {{ entry.cta|external_html }}

      {% endcall %}

    {% elif entry.component == 'callout' %}

      {% call call_out_compact(
        title=entry.title,
        desc=entry.body|external_html,
        class=entry.theme_class + ' ' + entry.product_class,
      ) %}

        {{ entry.cta }}

      {% endcall %}

    {% elif entry.component == 'text' %}

      <div class="mzp-l-content {{ entry.width_class }}">
        <article>
          {{ entry.body|external_html }}
        </article>
      </div>

    {% elif entry.component == 'textColumns' %}

      <div class="mzp-l-content mzp-l-columns {{ entry.layout_class }}">
        {% for body in entry.content -%}
          <div>
            {{ body|external_html }}
          </div>
        {% endfor %}
      </div>

    {% elif entry.component == 'cardLayout' %}
      <div class="mzp-l-content">
        <div class="{{ entry.layout_class }}">

          {% for card_data in entry.cards -%}
            {% if card_data.component == 'large_card' %}
              {% set size_class = 'mzp-c-card-large' %}
            {% elif entry.layout_class == 'mzp-l-card-quarter' %}
              {% set size_class = 'mzp-c-card-extra-small' %}
            {% else %}
              {% set size_class = 'mzp-c-card-medium' %}
            {% endif %}

            {{ card(
              class=size_class,
              tag_label=card_data.tag,
              title=card_data.heading,
              desc=card_data.body|external_html,
              ga_title='ga_title',
              highres_image_url=card_data.highres_image_url,
              image_url=card_data.image_url,
              aspect_ratio=card_data.aspect_ratio,
              link_url=card_data.link,
              youtube_id=card_data.youtube_id,
            ) }}

          {% endfor %}

        </div>
      </div>
    {% elif entry.component == 'sectionHeading' %}
      <h2 class="mzp-c-section-heading">{{ entry.heading }}</h2>
    {% elif entry.component == 'pictoLayout' %}

      <ul class="mzp-l-content {{ entry.layout_class }}">
      {% for picto_data in entry.pictos -%}
        {% call picto(
          image_url=picto_data.image_url,
          image_width=entry.image_width,
          title=picto_data.heading,
          heading_level=entry.heading_level,
          body=picto_data.body,
          base_el='li'
        ) %}

          {{ picto_data.body|external_html }}

        {% endcall %}

      {% endfor %}
      </ul>

    {% elif entry.component == 'split' %}

      {% if entries.index(entry) == 0: %}
        {% set loading = 'eager' %}
      {% else %}
        {% set loading = 'lazy' %}
      {% endif %}

      {% call split(
        block_class=entry.block_class,
        body_class=entry.body_class,
        theme_class=entry.theme_class,
        media_class=entry.media_class,
        mobile_class=entry.mobile_class,
        media_after=entry.media_after,
        image_url=entry.image,
        include_highres_image=False,
        loading=loading,
      ) %}
        {{ entry.body|external_html }}

      {% endcall %}

    {% endif %}


{% endfor %}
