// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';


//* -------------------------------------------------------------------------- */
// Common elements & variables

html {
    height: 100%;
    min-height: 100vh;
}

section .mzp-l-content, div.mzp-c-hero-image, .browser-logo img {
    display: inline-block;
    max-width: 330px;
    text-align: left;
}

.agreement {
    padding-bottom: 1em;
}

.browser-logo img {
    display: block;
    max-width: 250px;
    padding-bottom: 2em;
    padding-top: 1em;
}

.field {
    margin: 0;
    padding: 0;
}

.mzp-c-button {
    width: 100%;
}

.mzp-c-hero-desc {
    padding-bottom: 1em;
}

.mzp-c-hero-image {
    margin-top: 1em;
}

.mzp-c-hero-title {
    font-size: 1.5em;
}

.fxa-email-field {
    width: 100%;
}

.fxa-email-form-intro {
    font-weight: bold;
}

.fxa-signin {
    font-size: 65%;
    margin-top: 1em;
}

.fxa-signin, .agreement {
    color: $color-gray-70;
}

.page-content {
    margin-bottom: 3em;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
// Emphasis Box style, this should go away when Protocal PR #441 is landed. Issue #385

.mzp-c-box-emphasis {
    background: $color-white;
    border-radius: 0.2em;
    box-shadow: 0 0 10px 0 $color-gray-30;
    text-align: center;

    .mzp-c-box-emphasis-content {
        padding: 1em;
    }
}

@media #{$mq-sm} {

    div.mzp-c-hero-image {
       height: 100%;
       vertical-align: top;
    }

    section .mzp-l-content, div.mzp-c-hero-image {
        max-width: 600px;
        position: relative;
    }

    .mzp-c-hero-title {
        font-size: 2.8em;
    }

    .mzp-c-box-emphasis-content {
        padding: 2em;
    }

    .fxa-email-form-intro {
        font-size: 2em;
    }

}

@media #{$mq-lg} {

    div.mzp-c-hero-image {
       margin-top: 8em;
    }
    section .mzp-l-content, div.mzp-c-hero-image {
        max-width: 700px;
    }

    .fxa-email-form-intro {
        font-size: 1.9em;
    }

}
