@import "../../sandstone/lib.less";

@font-face {
    font-family: 'Fira Sans Light';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/media/fonts/FiraSans-Light.woff2') format('woff2'),
         url('/media/fonts/FiraSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans Light';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('/media/fonts/FiraSans-SemiBold.woff2') format('woff2'),
         url('/media/fonts/FiraSans-SemiBold.woff') format('woff');
}

:root {
    --animation-curve: linear;
}

body {
    margin: 0;
    overflow: hidden;
}

* {
  font-family: 'Fira Sans Light', sans-serif;
}

#scene {
    height: 100vh;
    width: 100vw;
}

.background {
    transform: scale(1.5);
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
}

.white-overlay,
.white-background {
    fill: #FFFFFF;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.white-overlay {
    opacity: 0;
    will-change: opacity;
}

.wave1 {
    fill: url('#light-gradient');
    height: 100vh;
    width: 100vw;
}

.wave2 {
    fill: url('#dark-gradient');
    height: 70vh;
    width: 85vw;
    bottom: 0;
}

.wave3 {
    opacity: 0.5;
    fill: url('#dark-gradient');
    height: 48vh;
    width: 75vw;
    bottom: 0;
}

.wave4 {
    opacity: 0.6;
    fill: #005FE7;
    height: 26vh;
    width: 100vw;
    bottom: 0;
}

.wave5 {
    opacity: 0.6;
    fill: #002079;
    height: 51vh;
    width: 100vw;
}

.wave6 {
    opacity: 0.8;
    fill: url('#light-gradient');
    height: 73vh;
    width: 100vw;
}

.wave7 {
    opacity: 0.3;
    fill: url('#light-gradient');
    margin-left: 0;
    height: 59vh;
    width: 60vw;
}

.wave8 {
    opacity: 0.6;
    fill: #002079;
    height: 51vh;
    width: 100vw;
}

.color-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    fill: url('#orange-gradient');
    mix-blend-mode:color;
    opacity: 0;
    will-change: opacity;
}

#firefox-logo {
    .at2x('/media/img/logos/firefox/logo-quantum.png', 90px, 90px);
    background-repeat: no-repeat;
    background-size: 90px 90px;
    height: 90px;
    width: 90px;
}

#fxa {
    border: none;
    position: relative;
    width: 318px;

    // Bug 1405822: Ensures the iframe + skip button
    // is never smaller than the text on the left hand side.
    min-height: 321px;
    &.treatment {
        min-height: 220px;
    }
}

#fxa-iframe-config {
    background: #fff;
    display: inline-block;
    margin-left: 20px;
    padding: 30px 20px;
}

.fxaccounts-container {
    bottom: 0;
    color: #fff;
    height: 424px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 819px;
    z-index: 10;
}

#left-divider {
    position: relative;
    float: left;
    clear: both;
    width: 441px;

    .content {
        .font-size(19px);
        line-height: 1.5;
        margin-bottom: 48px;
        max-width: 352px;
    }

    a {
        .font-size(19px);
        color: #fff;
        display: block;
        font-weight: 400;
    }

    #title {
        .font-size(38px);
        font-weight: normal;
        margin: 40px 0 10px;
    }
}

#skip-button {
    -moz-appearance: none;
    .font-size(.9rem);
    background-color: #0996f8;
    border-radius: 3px;
    border: 1px solid #0670cc;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 10px auto 0 auto;
    min-height: 24px;
    padding: 5px 10px;

    &:not([disabled]):hover {
        background-color: #0670cc;
        border-color: #005bab;
    }
}

#skip-button[disabled] {
    background-color: #ebebeb;
    border-color: #b1b1b1;
    color: #6a6a6a;
    cursor: default;
    opacity: .5;
}

#skip-button.skipbutton-hidden {
    display: none;
}

@media (max-width: 855px) {
  .fxaccounts-container {
      width: 749px;
  }

  #left-divider {
      max-width: 371px;
  }
}

@media (max-height: 710px) {
    body {
        overflow-y: auto;
    }
}

// Simplified interactions for some platforms
#scene[data-sign-in=true] {
    .fxaccounts-container {
        transition: opacity .5s;
        opacity: 0;
        animation: HideVisibility 0s .1s 1 forwards;
    }

    .color-overlay {
        transition: opacity 1s .5s;
        opacity: 1;
    }

    .white-overlay {
        transition: opacity .6s .8s;
        opacity: 1;
    }
}

// More complex interactions for other platforms
html.osx,
html.win8up {
    #firefox-logo {
        opacity: 0;
    }

    #left-divider #title,
    #left-divider .content,
    #left-divider a {
        opacity: 0;
        transform: translateY(-5px);
    }

    #fxa-iframe-config {
        opacity: 0;
        transform: scale(.8);
    }

    #scene[data-animate=true] {
        .wave1 {
            animation: Wave1 17.26s infinite forwards;
        }

        .wave2 {
            animation: Wave2 11.08s infinite forwards;
        }

        .wave3 {
            animation: Wave3 7.51s infinite forwards;
        }

        .wave4 {
            animation: Wave4 15.14s infinite forwards;
        }

        .wave5 {
            animation: Wave5 13.46s infinite forwards;
        }

        .wave6 {
            animation: Wave6 20.55s infinite forwards;
        }

        .wave7 {
            animation: Wave7 26.55s infinite forwards;
        }

        .wave8 {
            animation: Wave8 27.43s infinite forwards;
        }
    }

    #scene[data-content=true] {
        #firefox-logo {
            transition: opacity 1s 1.8s;
            opacity: 1;
        }

        #fxa-iframe-config {
            transition: opacity 1s 2s, transform 1s 2s;
            opacity: .85;
            transform: scale(1);
        }

        #left-divider {
            #title,
            .content,
            a {
                transition: transform .5s, opacity .8s;
                transform: translateY(0);
                opacity: 1;
            }

            #title {
                transition-delay: 1.8s;
            }

            .content {
                transition-delay: 2s;
            }

            a {
                transition-delay: 2.2s;
            }
        }
    }

    #scene[data-sign-in=true] {
        .color-overlay {
            transition: opacity 1s .8s;
            opacity: 1;
        }

        .white-overlay {
            transition: opacity .6s 1.1s;
            opacity: 1;
        }

        .wave1 {
            animation: Wave1 17.26s 1 forwards, Expand1 1.5s var(--animation-curve) .2s forwards;
        }

        .wave2 {
            animation: Wave2 11.08s 1 forwards, Expand2 1.5s var(--animation-curve) .2s 1 forwards;
        }

        .wave3 {
            animation: Wave3 7.51s 1 forwards, Expand3 1.5s var(--animation-curve) .2s 1 forwards;
        }

        .wave4 {
            animation: Wave4 15.14s 1 forwards, Expand4 1.5s var(--animation-curve) .2s 1 forwards;
        }

        .wave5 {
            animation: Wave5 13.46s 1 forwards, Expand5 1.5s var(--animation-curve) .2s 1 forwards;
        }

        .wave6 {
            animation: Wave6 20.55s 1 forwards, Expand6 1.5s var(--animation-curve) .2s 1 forwards;
        }

        .wave7 {
            animation: Wave7 26.55s 1 forwards, Expand7 1.5s var(--animation-curve) .2s 1 forwards;
        }

        .wave8 {
            animation: Wave8 27.43s 1 forwards, Expand8 1.5s var(--animation-curve) .2s 1 forwards;
        }
    }
}

@keyframes Expand1 {
    25% {
        transform: scale(1.2) skew(-8deg);
    }
    35% {
        transform: scale(1.9) rotate(0deg) skew(-8deg);
        transform-origin: center;
    }
    100% {
        transform: scale(1.9) rotate(140deg) translate(305px, 900px) skew(-8deg);
        transform-origin: center;
    }
}

@keyframes Expand2 {
    25% {
        transform: scale(1.43) rotate(0deg) skew(16deg);
        transform-origin: center;
    }
    70% {
        transform: scale(1.8) rotate(140deg) translate(0, 200px) skew(16deg);
        transform-origin: center;
    }
    100% {
        transform: scale(1.8) rotate(179deg) translate(300px, 700px) skew(16deg);
        transform-origin: center;
    }
}

@keyframes Expand3 {
    25% {
        transform: scale(1.9, 1.8) translate(20px, 0) skew(16deg);
        transform-origin: center;
    }
    50% {
        transform: scale(1.9, 1.8) translate(100px, 100px) skew(16deg);
        transform-origin: center;
    }
    100% {
        transform: scale(1.9) translate(200px, 360px) skew(16deg);
        transform-origin: center;
    }
}

@keyframes Expand4 {
    25% {
        transform: scale(1.6, 1.13) skew(-11.7deg);
    }
    100% {
        transform: scale(1.6, 1.13) translate(0, 290px) skew(-11.7deg);
    }
}

@keyframes Expand5 {
    25% {
        transform: scale(1.35) skew(10deg);
    }
    45% {
        transform: scale(1.9) skew(10deg);
        transform-origin: center;
    }
    100% {
        transform: scale(1.9) rotate(130deg) translate(309px, 356px) skew(10deg);
        transform-origin: center;
    }
}

@keyframes Expand6 {
    25% {
        transform: scale(1.35) skew(13deg);
    }
    50% {
        transform: scale(1.8) skew(13deg);
        transform-origin: center;
    }
    100% {
        transform: scale(1.9) rotate(140deg) translate(-310px, -712px) skew(13deg);
        transform-origin: center;
    }
}

@keyframes Expand7 {
    25% {
        transform: scale(1.35) skew(7deg);
    }
    50% {
        transform: scale(1.9) skew(7deg);
        transform-origin: center;
    }
    100% {
        transform: scale(1.9) rotate(130deg) translate(-700px, -916px) skew(7deg);
        transform-origin: center;
    }
}

@keyframes Expand8 {
      20% {
          transform: scale(1.65, 1.2) skew(-11.7deg);
      }
      100% {
          transform: scale(1.88) translate(178px, -669px) skew(-11.7deg) rotate(30deg);
          transform-origin: center;
      }
  }

@keyframes Wave1 {
    35% {
        transform: scale(1.37) skew(-15deg);
    }
    65% {
        transform: scale(1.52, 1.55) skew(-8deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave2 {
    35% {
        transform: scale(1.59, 1.5) skew(10deg);
    }
    65% {
        transform: scale(1.6) skew(8deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave3 {
    35% {
        transform: scale(1.59, 1.26) skew(24deg);
    }
    65% {
        transform: scale(1.52, 1.58) skew(8deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave4 {
    50% {
        transform: scale(1.85, 1.17) skew(-35deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave5 {
    50% {
        transform: scale(1.24, 1.5) translate(0, 50px) skew(28deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave6 {
    40% {
        transform: scale(2.3, 1.81) skew(41deg);
    }
    75% {
        transform: scale(1.73, 1.58) skew(-15deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave7 {
    40% {
        transform: scale(1.71) skew(28deg);
    }
    75% {
        transform: scale(1.71, 1.36) skew(-26deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes Wave8 {
    50% {
        transform: scale(1.24, 1.5) skew(28deg);
    }
    100% {
        transform: scale(1.5) skew(0);
    }
}

@keyframes HideVisibility {
    100% {
        visibility: collapse;
    }
}

