// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@import '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-nightly';

main {
    background-color: $color-ink-80;
    color: $color-white;
}

.mzp-c-callout.mzp-t-hero.main-header {
    background: linear-gradient($color-black, $color-ink-80);

    @media #{$mq-md} {
        .mzp-c-callout-title {
            background-size: 160px 160px;
            margin-bottom: $spacing-xl;
            padding-top: 200px;
        }
    }
}

.contribute {
    background: #321c64;
    padding-top: 0;
}

.contribute-title {
    @include text-title-xs;
    color: $title-text-color-inverse;
    font-weight: normal;
    margin: $spacing-lg auto;
    max-width: 580px;
    text-align: center;

    @supports (--css: variables) {
        color: var(--title-text-color-inverse);
    }
}

.contribute-list {
    margin-top: $layout-md;
    padding: $spacing-lg;
    @media #{$mq-md} {
        padding: $spacing-2xl;
    }
}

.locale-specific {
    @include light-links;
    margin: $layout-md auto 0;
    text-align: center;

    h3,
    h4,
    h5,
    h6 {
        @include text-title-sm;
    }
}
