{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/products/product-base.html" %}

{# L10n: strings for this page are not considered final and aren't ready for localization. #}

{% block page_title %}{{ _('Fast, private, modern browser for desktop computers') }} | {{ _('Firefox') }} {% endblock %}
{% block page_desc %}{{ _('Firefox is a faster, safer and more private browser than ever before — for Windows, Mac, and Linux desktop computers. Download now!') }}{% endblock %}
{% block page_image %}{{ static('img/firefox/products/desktop/product-desktop-meta.jpg') }}{% endblock %}

{% block body_id %}firefox-product-desktop{% endblock %}

{% block optimizely %}
  {% if switch('firefox-products-desktop-optimizely', ['en-US']) %}
    {% include 'includes/optimizely.html' %}
  {% endif %}
{% endblock %}

{% block product_header_content %}
  <h1 class="page-title"><span>{{ _('Firefox for Desktop') }}</span></h1>
  <p class="tagline">{{ _('Get more done — faster with Firefox.') }}</p>
{% endblock %}

{% block product_header_download %}
  {{ download_firefox(dom_id='product-header-download', button_color='button-arrow') }}
{% endblock %}

{% block product_header_image %}
  {{ high_res_img('firefox/products/desktop/product-desktop-hero.jpg', {'class': 'hero-image', 'alt': '', 'width': '700', 'height': '390'}) }}
{% endblock %}


{% block features_list %}
<section id="features" class="section features">
  <div class="content">

    <h2 class="section-title"><span>{{ _('Features') }}</span></h2>

    <ul class="features-list">
      <li class="features-list-item">
        <a href="{{ url('firefox.features.fast') }}" data-link-type="link" data-link-position="Feature 1" data-link-name="Get more done">
          <img class="feature-image" src="{{ static('img/firefox/products/desktop/feature-desktop-speed.jpg') }}" alt="">
          <h3 class="feature-title">{{ _('Get more done') }}</h3>
        </a>
        <div class="feature-desc">
          <p>
          {% trans %}
            Now Firefox is even faster – with quicker start ups and less hang time!
            That means windows and tabs load quicker for lightweight browsing that
            doesn’t hog your computer’s memory.
          {% endtrans %}
          </p>
        </div>
        <p class="cta"><a href="{{ url('firefox.features.fast') }}" class="cta-link" data-link-type="link" data-link-position="Feature 1" data-link-name="Get more done">{{ _('Get more done at Firefox speeds') }}</a></p>
      </li>

      <li class="features-list-item">
        <a href="{{ url('firefox.features.private-browsing') }}" data-link-type="link" data-link-position="Feature 2" data-link-name="Get more privacy">
          <img class="feature-image" src="{{ static('img/firefox/products/desktop/feature-desktop-privacy.jpg') }}" alt="">
          <h3 class="feature-title">{{ _('Get more privacy') }}</h3>
        </a>
        <div class="feature-desc">
          <p>
          {% trans %}
            To share or not share, that’s your call with Firefox’s more powerful Private
            Browsing feature. It automatically blocks trackers and ads that collect your
            information without permission.
          {% endtrans %}
          </p>
        </div>
        <p class="cta"><a href="{{ url('firefox.features.private-browsing') }}" class="cta-link" data-link-type="link" data-link-position="Feature 2" data-link-name="Get more privacy">{{ _('See how Firefox Privacy has your back') }}</a></p>
      </li>

      <li class="features-list-item">
        <a href="{{ url('firefox.features.independent') }}" data-link-type="link" data-link-position="Feature 3" data-link-name="Get more freedom">
          <img class="feature-image" src="{{ static('img/firefox/products/desktop/feature-desktop-addons.jpg') }}" alt="">
          <h3 class="feature-title">{{ _('Get more freedom') }}</h3>
        </a>
        <div class="feature-desc">
          <p>
          {% trans %}
            Firefox is more than just a browser. Backed by Mozilla, a nonprofit, we’re the
            only independent browser that also fights to protect your online privacy and
            keeps corporate powers in check.
          {% endtrans %}
          </p>
        </div>
        <p class="cta"><a href="{{ url('firefox.features.independent') }}" class="cta-link" data-link-type="link" data-link-position="Feature 3" data-link-name="Get more freedom">{{ _('Browse independently with Firefox') }}</a></p>
      </li>
    </ul>

  </div>
</section> {#--/#features--#}
{% endblock %}


{% block values %}
<section id="values" class="section values">
  <div class="content">

    <div class="cards-container is-three-cards">
      <section id="modern" class="card card-modern image-card is-featured">
        <a href="{{ url('firefox.features.fast') }}" class="card-image" data-link-type="link" data-link-position="Value - Modern" data-link-name="More Performance">
          <img src="{{ static('img/firefox/hub/value-modern.jpg') }}" alt="">
        </a>
        <div class="card-content">
          <a href="{{ url('firefox.features.fast') }}">
            <h2 class="card-title">{{ _('More Performance') }}</h2>
          </a>
          <p>
          {% trans %}
            Bring it, Internet! We’ve spent the last year supercharging Firefox’s
            performance. Now start up to 30% faster, tab hop 86% quicker, and
            scroll like a speed demon.
          {% endtrans %}
          </p>
          <p class="card-cta"><a href="{{ url('firefox.features.fast') }}" class="cta-link" data-link-type="link" data-link-position="Value - Modern" data-link-name="More Performance">{{ _('Get more done with Firefox speeds') }}</a></p>
        </div>
      </section>

      <section id="private" class="card card-private">
        <div class="card-content">
          <a href="{{ url('firefox.features.private-browsing') }}" data-link-type="link" data-link-position="Value - Private" data-link-name="More Privacy">
            <h2 class="card-title">{{ _('More Privacy') }}</h2>
          </a>
          <p>
          {% trans %}
            Firefox doesn’t sell access to your personal information like other
            browsers. From privacy tools to tracking protection, you’re in charge
            of who sees what.
          {% endtrans %}
          </p>
          <p class="card-cta"><a href="{{ url('firefox.features.private-browsing') }}" class="cta-link" data-link-type="link" data-link-position="Value - Private" data-link-name="More Privacy">{{ ('Here’s how Firefox protects your privacy') }}</a></p>
        </div>
      </section>

      <section id="independent" class="card card-independent">
        <div class="card-content">
          <a href="{{ url('firefox.features.independent') }}" data-link-type="link" data-link-position="Value - Independent" data-link-name="More Freedom">
            <h2 class="card-title">{{ _('More Freedom') }}</h2>
          </a>
          <p>
          {% trans %}
            Following the pack isn’t our style. As part of the non-profit Mozilla,
            Firefox leads the fight to protect your online rights, and champion an
            Internet that benefits everyone — not just a few.
          {% endtrans %}
          </p>
          <p class="card-cta"><a href="{{ url('firefox.features.independent') }}" class="cta-link" data-link-type="link" data-link-position="Value - Independent" data-link-name="More Freedom">{{ _('Browse independently with Firefox') }}</a></p>
        </div>
      </section>
    </div> {#--/.cards-container--#}

  </div> {#--/.content--#}
</section> {#--/#values--#}
{% endblock %}
