{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/shared" %}

{% extends "firefox/base-pebbles.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{_('Firefox Developer Edition')}}{% endblock %}
{% block page_favicon %}{{ static('img/firefox/developer/favicon.png') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/firefox/developer/favicon-196.png') }}{% endblock %}
{% block page_image %}{{ static('img/firefox/developer/page-image.png') }}{% endblock %}

{% block page_desc %}
  {{_('Built for those who build the Web. The only browser made for developers like you.')}}
{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox_developer_2017' %}
{% endblock %}

{% block body_id %}firefox-developer{% endblock %}
{% block body_class %}firefox-developer{% endblock %}

{% block site_header %}
  {% set logo_src = static('img/pebbles/moz-wordmark-light-reverse.svg') %}
  {% include 'mozorg/home/includes/nav.html' %}
{% endblock %}

{% block content %}
<main role="main">
  <section class="section section-intro">
    <div class="content">

      <h1 class="fx-logo">{{ high_res_img('firefox/developer/title.png', {'alt': _('Firefox Developer Edition'), 'width': '220', 'height': '84'}) }}</h1>
      <h2 class="section-title">{{ _('Modern tools for the Open Web') }}</h2>
      <p class="tagline">{{ _('Create and debug web experiences with powerful, open source tools.') }}</p>

      {{ download_firefox('alpha', platform='desktop', dom_id='intro-download', button_color='button-arrow', download_location='primary cta') }}

      <p class="feedback-note">
        {{ _('Firefox Developer Edition automatically sends feedback to Mozilla.') }}
        <a href="{{ url('privacy.notices.firefox') }}#telemetry" class="more">{{ _('Learn more') }}</a>
      </p>

      <ul class="gallery-list has-three-cols">
        <li class="gallery-item">
          <h3>{{ _('Modernize') }}</h3>
          <p>{{ _('Create fast, flexible interactive UI with built-in React and Redux tools.') }}</p>
        </li>
        <li class="gallery-item">
          <h3>{{ _('Customize') }}</h3>
          <p>{{ _('Make our devtools yours thanks to open-source code and customization.') }}</p>
        </li>
        <li class="gallery-item">
          <h3>{{ _('Optimize') }}</h3>
          <p>{{ _('Ship responsive and compatible sites that work for everyone, everywhere.') }}</p>
        </li>
      </ul>

    </div>
  </section>

  <section class="section section-grid">
    <div class="content">
      {# L10n: Line breaks for visual formatting. #}
      <h2 class="section-title">{{ _('Master CSS Grid with the only grid inspector<br> and layout tools on the Web.') }}</h2>

      <img class="hero-image" src="{{ static('img/firefox/products/developer/hero-cssgrid-ani.gif') }}" alt="">

      <p class="section-cta"><a href="{{ url('mozorg.developer.css-grid-demo') }}" class="button button-hollow">{{ _('Try CSS Grid now') }}</a></p>
    </div>
  </section>

  <section class="section section-debugger">
    <div class="content">
      {# L10n: Line breaks for visual formatting. #}
      <h2 class="section-title">{{ _('Debug Firefox and framework apps<br> built on React and Ember<br> with the “go anywhere” debugger') }}</h2>

      <img class="hero-image" src="{{ static('img/firefox/products/developer/hero-debugger-ani.gif') }}" alt="">

      <p class="section-cta"><a href="https://developer.mozilla.org/docs/Tools/Debugger" class="button button-hollow">{{ _('Learn more about Debugger') }}</a></p>
    </div>
  </section>

  <section class="section section-engage">
    <div class="content">

      <section class="speak-up">
        <h3>{{ _('Speak up') }}</h3>
        <p>{{ _('Feedback makes us better. Tell us how we can improve the browser and Developer tools.') }}</p>
        <p class="cta"><a href="https://discourse.mozilla-community.org/c/devtools" class="button button-hollow">{{ _('Join the conversation') }}</a></p>
      </section>

      <section class="get-involved">
        <h3>{{ _('Get involved') }}</h3>
        <p>{{ _('Help build the last independent browser. Write code, fix bugs, make add-ons, and more.') }}</p>
        <p class="cta"><a href="https://devtools-html.github.io/" class="button button-hollow">{{ _('Start now') }}</a></p>
      </section>

    </div>
  </section>

  <section class="section section-features">
    <div class="content">

      <h2 class="section-title">{{ _('Design, code, test, refine. Perfect your sites with Firefox DevTools.') }}</h2>

      <ul class="features-list gallery-list has-three-cols">
        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Page_Inspector">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-inspector.svg') }}" alt="">
            <h3 class="name">{{ _('Inspector') }}</h3>
          </a>
          <p class="desc">{{ _('Inspect and refine code to build pixel-perfect layouts.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Page_Inspector">{{ _('Learn more about the Page Inspector') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Web_Console">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-console.svg') }}" alt="">
            <h3 class="name">{{ _('Console') }}</h3>
          </a>
          <p class="desc">{{ _('Track CSS, JavaScript, security and network issues.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Web_Console">{{ _('Learn more about the Web Console') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Debugger">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-debugger.svg') }}" alt="">
            <h3 class="name">{{ _('Debugger') }}</h3>
          </a>
          <p class="desc">{{ _('Powerful JavaScript debugger with support for your framework.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Debugger">{{ _('Learn more about the Debugger') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org//docs/Tools/Network_Monitor">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-network.svg') }}" alt="">
            <h3 class="name">{{ _('Network') }}</h3>
          </a>
          <p class="desc">{{ _('Monitor network requests that can slow or block your site.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Network_Monitor">{{ _('Learn more about the Network Monitor') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Storage_Inspector">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-storage.svg') }}" alt="">
            <h3 class="name">{{ _('Storage panel') }}</h3>
          </a>
          <p class="desc">{{ _('Add, modify and remove cache, cookies, databases and session data.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Storage_Inspector">{{ _('Learn more about the Storage panel') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Responsive_Design_Mode">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-responsive-mode.svg') }}" alt="">
            <h3 class="name">{{ _('Responsive Design Mode') }}</h3>
          </a>
          <p class="desc">{{ _('Test sites on emulated devices in your browser.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Responsive_Design_Mode">{{ _('Learn more about Responsive Design Mode') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://hacks.mozilla.org/2015/11/developer-edition-44-creative-tools-and-more/">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-visual-editing.svg') }}" alt="">
            <h3 class="name">{{ _('Visual Editing') }}</h3>
          </a>
          <p class="desc">{{ _('Fine-tune animations, alignment and padding.') }}</p>
          <p class="cta">
            <a href="https://hacks.mozilla.org/2015/11/developer-edition-44-creative-tools-and-more/">{{ _('Learn more about Visual Editing') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Performance">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-performance.svg') }}" alt="">
            <h3 class="name">{{ _('Performance') }}</h3>
          </a>
          <p class="desc">{{ _('Unblock bottlenecks, streamline processes, optimize assets.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Performance">{{ _('Learn more about the Performance panel') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Memory">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-memory.svg') }}" alt="">
            <h3 class="name">{{ _('Memory') }}</h3>
          </a>
          <p class="desc">{{ _('Find memory leaks and make your application zippy.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Memory">{{ _('Learn more about the Memory panel') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Web_Audio_Editor">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-web-audio.svg') }}" alt="">
            <h3 class="name">{{ _('Web Audio') }}</h3>
          </a>
          <p class="desc">{{ _('The only developer tool for inspecting the Web Audio API.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Web_Audio_Editor">{{ _('Learn more about the Web Audio Editor') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Scratchpad">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-scratchpad.svg') }}" alt="">
            <h3 class="name">{{ _('Scratchpad') }}</h3>
          </a>
          <p class="desc">{{ _('Edit, write, run and execute JavaScript in real time.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Scratchpad">{{ _('Learn more about the Scratchpad') }}</a>
          </p>
        </li>

        <li class="gallery-item feature">
          <a href="https://developer.mozilla.org/docs/Tools/Style_Editor">
            <img class="icon" src="{{ static('img/firefox/products/developer/feature-style-editor.svg') }}" alt="">
            <h3 class="name">{{ _('Style Editor') }}</h3>
          </a>
          <p class="desc">{{ _('Edit and manage all your CSS stylesheets in your browser.') }}</p>
          <p class="cta">
            <a href="https://developer.mozilla.org/docs/Tools/Style_Editor">{{ _('Learn more about the Style Editor') }}</a>
          </p>
        </li>
      </ul>

    </div>
  </section>

  <section class="section dev-footer">
    <div class="content">

      <div class="dev-footer-download">
        <h3 class="fx-logo">{{ high_res_img('firefox/developer/title.png', {'alt': _('Firefox Developer Edition'), 'width': '220', 'height': '84'}) }}</h3>
        {{ download_firefox('alpha', platform='desktop', dom_id='footer-download', button_color='button-arrow', download_location='footer cta') }}
      </div>

      <div class="dev-footer-newsletter">
      {% if LANG.startswith('en-') %}
        {{ email_newsletter_form('app-dev', 'Get the Mozilla Developer Newsletter', button_class='button-light', include_language=False) }}
      {% else %}
        {{ super() }}
      {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block email_form %}{% endblock %}

{# Bug 1381776 #}
{% block update_notification %}{% endblock %}
