{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import google_play_button with context %}
{% from "macros-protocol.html" import hero, picto_card with context %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_image %}{{ static('protocol/img/logos/firefox/lockwise/og.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/favicons/firefox/lockwise/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/favicons/firefox/lockwise/favicon-196x196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/favicons/firefox/lockwise/apple-touch-icon.png') }}{% endblock %}

{% block page_title %}{{ ftl('lockwise-firefox-lockwise-password') }}{% endblock %}

{% block page_desc %}{{ ftl('lockwise-firefox-lockwise-lets-you') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('lockwise') }}
{% endblock %}

{% block body_id %}firefox-lockwise{% endblock %}
{% block body_class %}firefox-lockwise{% endblock %}

{% block sub_navigation %}
<nav class="c-sub-navigation">
  <div class="mzp-l-content">
    <div class="c-sub-navigation-content">
      <h2 class="c-sub-navigation-title">
        <a href="{{ url('firefox.accounts') }}" data-link-type="nav" data-link-position="subnav" data-link-name="Firefox Accounts">
          <img class="c-sub-navigation-icon" src="{{ static('protocol/img/logos/firefox/logo-sm.png') }}" width="24" height="24" alt="">
          {{ ftl('sub-navigation-firefox-accounts') }}
        </a>
      </h2>
      <ul class="c-sub-navigation-list">
        <li class="c-sub-navigation-item"><a href="{{ url('firefox.sync') }}" data-link-type="nav" data-link-position="subnav" data-link-name="Sync">{{ ftl('sub-navigation-sync') }}</a></li>
        <li class="c-sub-navigation-item"><a href="https://support.mozilla.org/products/firefox-lockwise/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=nav&utm_content=lockwise-page" data-link-type="nav" data-link-position="subnav" data-link-name="Support">{{ ftl('sub-navigation-support', fallback='navigation-support') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  <main role="main">
    {% if LANG.startswith('en-') %}
      {% set _img = 'img/firefox/lockwise/en.png'%}
    {% elif LANG == 'de' %}
      {% set _img = 'img/firefox/lockwise/de.png'%}
    {% elif LANG == 'fr' %}
      {% set _img = 'img/firefox/lockwise/fr.png'%}
    {% elif LANG == 'it' %}
      {% set _img = 'img/firefox/lockwise/it.png'%}
    {% elif LANG.startswith('es-') %}
      {% set _img = 'img/firefox/lockwise/es.png'%}
    {% else %}
      {% set _img = 'img/firefox/lockwise/en.png'%}
    {% endif %}
    {% call hero(
      title=ftl('lockwise-firefox-lockwise'),
      subheading=ftl('lockwise-take-your-passwords-everywhere'),
      desc=ftl('lockwise-securely-access-the-passwords'),
      class='mzp-c-hero mzp-has-image lockwise-hero',
      image_url= _img,
      include_cta=True,
      heading_level=1,
      subheading_level=2,
    ) %}

      <div class="mobile-download-buttons">
        <a href="{{ lockwise_adjust_url('ios', 'lockwise-page') }}" class="ios-button" data-cta-text="apple-app-store" data-cta-type="lockwise-app-store" data-cta-position="primary">
          <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ ftl('download-button-download-app-store') }}" width="152" height="45">
        </a>
        {{ google_play_button(href=lockwise_adjust_url('android', 'lockwise-page'), product='Lockwise', extra_data_attributes={'cta-type': 'lockwise-app-store', 'cta-text': 'google-play-store', 'cta-position': 'primary' } ) }}
      </div>
      <div class="mzp-c-hero-cta add-on-download for-firefox-69-and-below hidden" >
        <div class="mzp-c-button-download-container">
          <p>{{ ftl('lockwise-try-lockwise-now') }}</p>
          <a href="https://github.com/mozilla-lockwise/lockwise-addon/releases/download/2.2.5-alpha/lockwise-signed.xpi" class="mzp-c-button mzp-t-product" data-cta-type="lockwise-install" data-cta-position="primary">
            {{ ftl('lockwise-install-for-firefox') }}
          </a>
        </div>
      </div>
      <div class="mzp-c-hero-cta add-on-download for-firefox-70-and-above hidden" >
        <div class="mzp-c-button-download-container">
          <p>{{ ftl('lockwise-try-lockwise-now') }}</p>
          <button class="mzp-c-button mzp-t-product" id="lockwise-button" data-cta-type="lockwise-open-in-fx" data-cta-position="primary">{{ ftl('lockwise-open-in-firefox') }} </button>
        </div>
      </div>
      <div class="mzp-c-hero-cta add-on-download for-non-firefox-users hidden" >
        <div class="mzp-c-button-download-container">
          <p>{{ ftl('lockwise-only-in-the-firefox-browser') }}</p>
          {{ download_firefox(alt_copy=ftl('download-button-download-now'), download_location='primary cta') }}
        </div>
      </div>

    {% endcall %}

    <div class="mzp-t-dark">
      <section class="mzp-l-card-third mzp-l-content">
        {{ picto_card(title=ftl('lockwise-256-bit-encryption-protects'), class='encryption') }}
        {{ picto_card(title=ftl('lockwise-get-to-your-passwords-securely'), class='touch') }}
        {{ picto_card(title=ftl('lockwise-your-privacy-comes-first') ~ ' ' ~ ftl('lockwise-we-keep-your-data-safe'), class='privacy') }}
      </section>
      <section class="mzp-l-content">
        <section class="links">
          <a href="https://support.mozilla.org/products/firefox-lockwise?utm_source=www.mozilla.org-lockwise&amp;utm_campaign=Lockwise&amp;utm_medium=referral">
            {{ ftl('lockwise-support') }}
          </a>
          <a href="https://support.mozilla.org/kb/firefox-lockwise-and-privacy">
            {{ ftl('lockwise-your-privacy') }}
          </a>
          <a href="https://github.com/mozilla-lockwise">
            {{ ftl('lockwise-github') }}
          </a>
        </section>
      </section>
    </div>
  </main>
{% endblock %}

{% block js %}
  {{ js_bundle('lockwise') }}
{% endblock %}

{% block structured_data %}
  {% include 'includes/structured-data/software/firefox-lockwise-software.json' %}
{% endblock %}
