// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/newsletter';


body {
    border-top: 0;
}

// Header
.masthead {
    background: $color-mozred-bright;
    color: #fff;

    .content {
        padding: 51px 20px 0;
    }

    .masthead-logo {
        background: $color-mozred-bright;
        height: 30px;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        width: 100%;

        img {
            height: 30px;
        }
    }

    #header-image {
        @include background-size(90%);
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
    }

    #page-heading {
        padding: 10px 0;
        text-align: center;

        h1 {
            @include font-size(20px);
            font-weight: 100;
            margin: 0 auto;
        }
    }
}

dl.faq {
    dt {
        @include font-size-level4;
        margin: .5em 0;
    }
}

@media #{$mq-phone-wide} {
    .masthead #page-heading h1 {
        @include font-size(28px);
    }
}

@media #{$mq-tablet} {
    .masthead {
        background: $color-mozred-bright;
        padding: 0;

        .content {
            padding-top: 0;
        }

        .masthead-logo {
            float: left;
            width: 115px;
        }

        #header-image {
            height: 260px;
        }

        #page-heading {
            padding: 15px 0;

            h1 {
                @include font-size(38px);
            }
        }
    }

    #nav-main-menu,
    .js #nav-main-menu {
        padding: 15px 0;

        li {
            border-right: 1px solid #fff;

            &:last-child {
                border-right: 0;
                padding-right: 0;
            }
        }

        a,
        a:hover,
        a:focus {
            color: #fff;
        }
    }

    #nav-download-firefox {
        display: inline-block;
        float: right;

        ul.download-list {
            margin-bottom: 0;
        }

        .button {
            @include font-size(14px);
            border-radius: 0;
            padding: 13px 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .fx-privacy-link {
            display: none;
        }
    }
}

@media #{$mq-desktop} {
    .masthead {
        #header-image {
            height: 360px;
        }

        #page-heading {
            padding: 20px 0;

            h1 {
                @include font-size(48px);
            }
        }
    }

    #nav-main-menu,
    .js #nav-main-menu {
        li {
            padding: 0 20px;
        }
    }
}

// flexbox layout for savvy browsers to push nav items to the right
@supports (display: flex) {
    @media #{$mq-tablet} {
        #nav-main-menu,
        .js #nav-main-menu {
            @include flexbox;
            @include justify-content(flex-end);
        }
    }
}

main {
    overflow: hidden;
    padding: 0 10px;

    @media #{$mq-phone-wide} {
        padding: 0 30px;
    }

    @media #{$mq-tablet} {
        padding: 0;
    }
}

.moss-section {
    border-bottom: 2px solid #b4b4b4;
    padding: 40px 0;

    &:last-of-type {
        border: 0;
    }

    .moss-section-heading {
        @include font-size(20px);
        color: $color-mozred;
        font-weight: 100;
        letter-spacing: -0.02em;
        margin-bottom: 30px;
        text-align: center;
    }

    .moss-subhead {
        @include font-size(16px);
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    .moss-copy {
        margin-bottom: 1.25em;
    }

    .moss-ctas {
        text-align: center;

        .moss-copy {
            text-align: center;
        }

        a:not(.button) {
            color: $color-text-primary;
        }
    }

    .moss-list {
        padding-top: 20px;

        img {
            display: block;
            margin: 0 auto 20px;
        }

        li {
            margin-bottom: 40px;
        }
    }

    .moss-bullet-list {
        list-style-type: disc;
        margin-left: 1em;

        li {
            padding-left: 20px;

            & > ul {
                list-style-type: circle;
                margin: 1.25em 0 0 1em;
            }
        }
    }

    .moss-dl {
        dt {
            font-weight: bold;
        }

        dt,
        dd {
            margin-bottom: 20px;
        }
    }

    @media #{$mq-phone-wide} {
        .moss-section-heading {
            @include font-size(28px);
        }
    }

    @media #{$mq-tablet} {
        border-width: 4px;
        margin: 0 auto;
        padding: 40px 20px;
        width: 540px;

        .moss-section-heading {
            @include font-size(38px);
        }

        .moss-subhead {
            @include font-size(20px);
            margin-bottom: 20px;
        }

        .moss-copy {
            text-align: left;
        }

        .moss-list {
            text-align: center;
        }
    }

    @media #{$mq-desktop} {
        padding: 70px 20px;
        width: 900px;

        .moss-section-heading {
            @include font-size(48px);
            margin-bottom: 60px;
        }

        .moss-subhead {
            @include font-size(24px);
        }

        .moss-copy {
            @include font-size(20px);
        }
    }

    @media #{$mq-desktop-wide} {
        width: 1020px;

        .moss-copy {
            @include font-size(22px);
        }
    }
}

// flexbox layout for list items
@supports (display: flex) {
    @media #{$mq-desktop} {
        .moss-list {
            display: flex;
            flex-wrap: wrap;

            li {
                @include border-box;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;

                .moss-copy {
                    flex: 1;
                }
            }

            &.moss-list-thirds {
                li {
                    padding: 0;
                    width: 30%;
                }

                li:nth-child(3n+2) {
                    padding: 0 5%;
                    width: 40%;
                }
            }

            &.moss-list-halves {
                li {
                    padding-right: 20px;
                    width: 50%;

                    &:nth-child(2n+2) {
                        padding-left: 20px;
                        padding-right: 0;
                    }
                }
            }
        }
    }

    @media #{$mq-desktop-wide} {
        .moss-list li {
            padding: 0 30px;
        }
    }
}

// index page
#moss-home #header-image {
    display: none;
}

#header-image-wrapper {
    margin: 0 auto;
    max-width: 320px;
    padding-top: 20px;

    img {
        @include border-box;
        border: 10px solid white;
        display: block;
        margin: 0 auto;

    }

    @media #{$mq-phone-wide} {
        max-width: 460px;
        padding-top: 16px;
    }

    @media #{$mq-tablet} {
        max-width: 600px;
        padding-top: 20px;
    }

    @media #{$mq-desktop} {
        max-width: 100%;
        padding-top: 22px;
    }
}

#moss-focus-list li {
    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 240px;
        margin-bottom: 40px;
        width: 100%;
    }

    &#foundational-technology:before {
        @include background-size(240px 240px);
        background-image: url('/media/img/mozorg/moss/foundational-technology.svg');
    }

    &#mission-partners:before {
        @include background-size(240px 231px);
        background-image: url('/media/img/mozorg/moss/mission-partners.svg');
    }

    &#secure-open-source:before {
        @include background-size(240px 206px);
        background-image: url('/media/img/mozorg/moss/secure-open-source.svg');
    }
}

// only adjust background image size when flex'ed side by side at desktop width
@supports (display: flex) {
    @media only screen and (min-width: 1000px) and (max-width: 1400px) {
        #moss-focus-list li {
            &:before {
                height: 200px;
            }

            &#foundational-technology:before {
                @include background-size(200px 200px);
            }

            &#mission-partners:before {
                @include background-size(200px 193px);
            }

            &#secure-open-source:before {
                @include background-size(200px 172px);
            }
        }
    }
}

// foundational technology
#moss-foundational-technology #header-image {
    background-image: url('/media/img/mozorg/moss/header-foundational-technology.svg');
}

// mission partners
#moss-mission-partners #header-image {
    background-image: url('/media/img/mozorg/moss/header-mission-partners.svg');
}

// secure open source
#moss-secure-open-source #header-image {
    background-image: url('/media/img/mozorg/moss/header-secure-open-source.svg');
}
