// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: "/media/fonts";
$image-path: "/media/protocol/img";

@import "../../../protocol/css/includes/lib";
@import "../../../protocol/css/components/hero";

/* -------------------------------------------------------------------------- */
// Hero

.compare-details-hero {
    .mzp-c-hero-body {
        max-width: none;
    }
    .mzp-c-hero-title {
        @include font-size(32px);
        margin-bottom: 0;
        @media #{$mq-sm} {
            @include font-size(40px);
        }
        @media #{$mq-md} {
            @include font-size(48px);
        }
    }
}

@keyframes compare-details-hero-image-float {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-12px);
    }
    100% {
        transform: translatey(0px);
    }
}

.compare-details-hero-image {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: 0 auto $layout-md;
    img {
        height: 76px;
        width: 76px;
        order: 1;
        animation: compare-details-hero-image-float 5s ease-in-out infinite;
        &:last-child {
            order: 3;
        }
    }
    &::before {
        content: " ";
        display: table;
        height: 100px;
        width: 10px;
        order: 2;
        background: $color-gray-20;
        border-radius: 10px;

        top: 0;
        left: 50%;
    }
    @media #{$mq-md} {
        max-width: 350px;
        &::before {
            height: 120px;
        }
        img {
            height: 92px;
            width: 92px;
        }
    }
}

.compare-details-section-intro {
    @include font-firefox;
    @include font-size(24px);
    line-height: 1.3;
}

.l-compare-details-content {
    @include text-body-lg;
    max-width: 808px;
    @media #{$mq-md} {
        padding: $layout-xs $layout-lg;
    }
}

.mzp-u-data-table.compare-table--details {
    max-width: 480px;
}

.compare-section-overall {
    margin-bottom: $layout-xl;

    .compare-section-header {
        margin-bottom: 64px;
    }
}

.compare-details-image {
    display: block;
    margin: $layout-lg auto;
}

.compare-section-privacy {
    .compare-details-image {
        width: 280px;
        @media #{$mq-md} {
            width: 320px;
        }
    }
}
