{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2>歡迎來到 <span>Firefox 未來發行版</span></h2>
    <p>下載並測試最適合您使用的版本，並訂閱發行頻道電子報以取得開發過程當中的最新資訊。</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span>最終 <span>正式版</span></span></h3>

        <ul class="channel-list">
            <li>請享用經過測試，提供全球數十億人口使用的最終穩定發行版本</li>
            <li>透過超快速度、簡單自訂，以及最新的網頁技術來控制您的上網體驗</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>Beta</span></h3>

        <ul class="channel-list">
            <li>使用測試版更穩定地體驗尖端技術</li>
            <li>請提供意見回饋以幫助我們變得更好，並琢磨出最終發行版本</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>Aurora</span></h3>

        <ul class="channel-list">
            <li>在不穩定的環境下體驗最新的創新，潛龍勿用</li>
            <li>請提供關於功能與效能上的意見回饋以幫助我們決定該在最終發行版本裡面放入什麼東西</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
