{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "sand.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Mozilla Persona Developer FAQ{% endblock %}
{% block body_id %}persona-developer-faq{% endblock %}

{% block site_header_logo %}
  <h2><a href="/persona/"><img src="/media/img/persona/title.png" height="66" width="180" alt="mozilla Persona"></a></h2>
{% endblock %}

{% block site_header_nav %}
  <nav id="nav-main" role="navigation">
  <ul>
      <li><a href="/persona/">Home</a></li>
      <li><a href="/persona/about/">About</a></li>
      <li><b>Developer FAQ</b></li>
  </ul>
  </nav>
{% endblock %}

{% block site_css %}
  {{ css('persona') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a href="/">Home</a> >
    <a href="/persona/">Mozilla Persona</a> >
    <span>Developer FAQ</span>
  </nav>
{% endblock %}


{% block content %}

<div id="main-content">
<div class="row">

<article class="main-column">

  <h1>Developer FAQ</h1>

  <dl>

    <dt>Can I be certain my email and password are secure?</dt>
    <dd>
      <p>We take security and privacy very seriously (you can read our complete corporate <a href="http://www.mozilla.org/about/policies/privacy-policy.html">privacy policy here</a>). With Persona, verified email addresses and encrypted passwords are saved on the Mozilla server.</p>
      <p>It uses a client-side cryptographic certificate (that is, it stores tamper-resistant proof in your browser) to prove to the site that the current user owns an particular email address. The site that you're logging in to never actually sees your password.</p>
    </dd>
    <dt>What is the difference between Persona and BrowserID?</dt>
    <dd>
      <p>BrowserID is the project name we used during development, which we will continue to use in reference to the underlying technology and protocol. The Persona name represents our larger identity initiative and the Mozilla Persona feature is one our top priorities within this space this year.</p>
    </dd>
    <dt>How is Mozilla Persona different than Firefox Personas hosted at www.getpersonas.com?</dt>
    <dd>
      <p>Firefox Personas themes lets you choose a wallpaper background — designed by you or by one of thousands of our community contributors — for your Firefox browser. The project has been hugely successful, but we have asked the community to consider a name that is more closely suited to the project.</p>
      <p>We believe wallpapers or skins or ...?  is more descriptive of what that project is and that Persona is more suited to describe a user and his or her online identity across the Web.</p>
      <p>For more information on our naming, please <a href="http://blog.mozilla.com/addons/2012/02/02/renaming-personas/">see this blog post</a>.</p>
    </dd>
    <dt>How is this different from Facebook Connect, Twitter, Google or Yahoo logins?</dt>
    <dd>
      <p>Mozilla Persona lets you sign in to a site with just your email address and that's all the site gets. Social network logins usually share your social profile, including a list of your friends, and may even track your activity across sites.</p>
      <p>If a site offers both, you can choose which to use.  For developers, Mozilla Persona is a very easy way to add sign-in capabilities to their sites.</p>
    </dd>
    <dt>How is this different from OpenID?</dt>
    <dd>
      <p>While Mozilla Persona and OpenID have similar goals, the design and user experience is different. Ben Adida, one of our engineers, describes this <a href="http://identity.mozilla.com/post/7669886219/how-browserid-differs-from-openid">here</a>.</p>
    </dd>
  </dl>

</article>

<div class="sidebar">

  <nav>
    <ul>
      <li><a href="/persona/">Persona</a></li>
      <li><a href="/persona/about/">About</a></li>
      <li><b>Developer FAQ</b></li>
      <li><a href="/persona/privacy-policy/">Privacy</a></li>
      <li><a href="/persona/terms-of-service/">Terms of Service</a></li>
    </ul>
  </nav>

  {% include "/persona/sidebar-contents.html" %}

</div>

</div>
</div>



{% endblock %}
