// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Font families
@mixin open-sans {
    font-family: $font-open-sans;
}

@mixin zilla-slab {
    font-family: $font-zilla-slab;
}

// Use this highlight variant with caution and plan for a fallback
// in a standard, non-highlight font. Your color choices should be
// equally readable with a non-highlight variant.
@mixin zilla-slab-highlight {
    font-family: $font-zilla-slab-highlight;
}


// A mixin to output font-size in rems with a px fallback for old browsers.
// Declare sizes in pixels for ease and clarity, the mixin does the math.
// Requires: remify(), pixify() - defined in includes/functions.scss.
// Usage:
//  .foo { @include font-size(24px); }

@mixin font-size($size) {
    // When unit is pixels, pass it through and convert to rem
    @if (unit($size) == 'px') {
        font-size: $size;
        font-size: remify($size);
    }

    // When unit is not pixels, show an error
    @else {
        @error 'This mixin only accepts sizes in pixels. You declared `font-size(#{$size})`.';
    }
}


// Consistent font sizes. Avoid sizing text arbitrarily and use this
// set of predefined sizes. Sizes adapt at common breakpoints, and
// there's some redundancy at smaller sizes because we don't want things
// getting too tiny.
// Usage:
//  .foo { @include font-size-level1; }

@mixin font-size-huge { // For especially huge titles
    @include font-size(48px);

    @media #{$mq-tablet} {
        @include font-size(60px);
    }

    @media #{$mq-desktop} {
        @include font-size(72px);
    }
}

@mixin font-size-level1 {
    @include font-size(36px);

    @media #{$mq-tablet} {
        @include font-size(48px);
    }

    @media #{$mq-desktop} {
        @include font-size(60px);
    }
}

@mixin font-size-level2 {
    @include font-size(24px);

    @media #{$mq-tablet} {
        @include font-size(36px);
    }

    @media #{$mq-desktop} {
        @include font-size(48px);
    }
}

@mixin font-size-level3 {
    @include font-size(18px);

    @media #{$mq-tablet} {
        @include font-size(24px);
    }

    @media #{$mq-desktop} {
        @include font-size(36px);
    }
}

@mixin font-size-level4 {
    @include font-size(18px);

    @media #{$mq-desktop} {
        @include font-size(24px);
    }
}

@mixin font-size-level5 {
    @include font-size(16px);

    @media #{$mq-desktop} {
        @include font-size(18px);
    }
}

@mixin font-size-level6 {
    @include font-size(16px);
}

@mixin font-size-small {
    @include font-size(12px);

    @media #{$mq-tablet} {
        @include font-size(14px);
    }
}

@mixin font-size-extra-small {
    @include font-size(12px);
}
