/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import '../sandstone/lib.less';


/* -------------------------------------------------------------------------- */
// @Color scheme setup

// Define colors for each theme
@theme-surveillance: #1e4387;
@theme-surveillance-dark: #031d68;
@theme-surveillance-light: #63b7e3;
@theme-surveillance-extra-light: #d2effa;
@theme-surveillance-ultra-light: #fbfcfe;

@theme-security: #1895d8;
@theme-security-dark: #124797;
@theme-security-light: #82cdec;
@theme-security-extra-light: #ddf0f6;
@theme-security-ultra-light: #f8fcff;

@theme-tracking: #aa41a4;
@theme-tracking-dark: darken(@theme-tracking, 20%);
@theme-tracking-light: lighten(@theme-tracking, 20%);
@theme-tracking-extra-light: lighten(@theme-tracking, 40%);
@theme-tracking-ultra-light: lighten(@theme-tracking, 52%);

// Apply theme colors to elements
.theme-color(@color) {
    .@{color} {
        .smarton-header { background-color: ~'@{@{color}-dark}'; }
        .page-header { background-color: ~'@{@{color}}'; }
        .big-list .list-number {
            .number, .circle { fill: ~'@{@{color}-light}'; }
        }
        .callout-bg path { fill: ~'@{@{color}-extra-light}'; }
        .pullquote { color: ~'@{@{color}-dark}'; }
        .note em { color: ~'@{@{color}}'; }
        .sidebar-chart {
            border-color: ~'@{@{color}-extra-light}';
            .circles-valueStroke { stroke: ~'@{@{color}-light}'; }
            .circles-text { color: ~'@{@{color}}'; }
        }
        .main .section ul > li:before { color: ~'@{@{color}-light}'; }
        .footer-cta { background-color: ~'@{@{color}-dark}'; }
        .footer-cta .button {
            color: ~'@{@{color}-light}';
            border-color: ~'@{@{color}-light}';
        }
        .video .video-wrap, #modal .modal-video-wrap { border-color: ~'@{@{color}-light}'; }
        .video .video-open:before { background-color: ~'@{@{color}-light}'; }
        .video .video-open:hover:before, .video .video-open:focus:before { background-color: ~'@{@{color}}'; }
        .section-know, .section-chat { background-color: ~'@{@{color}-ultra-light}'; }
    }
}

// Pass body classes to the mixin
.theme-color(~"theme-surveillance");
.theme-color(~"theme-security");
.theme-color(~"theme-tracking");



/* -------------------------------------------------------------------------- */
// Override sandstone defaults
#outer-wrapper {
    background: #fff;
}

#wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

#tabzilla {
    position: absolute;
    right: 20px;
    top: 0;
}

#colophon {
    background: #ccc;
    margin: 0;

    .logo a {
        .at2x('/media/img/sandstone/footer-mozilla-dark.png', 93px, 24px);
    }
}



/* -------------------------------------------------------------------------- */
// General content blocks

// Each full-width tier is a .section
.section {
    .clearfix;
    margin: 0 auto;
    position: relative;
    padding: 0 0 10px;
}

.section:focus,
.section:target {
    outline: 0;
}

// .content container inside sections to set width
.content {
    .border-box;
    .clearfix;
    margin: 0 auto;
    padding: @baseLine (@gridGutterWidth + 10px);
    position: relative;
    width: @widthDesktop;

    @media only screen and (max-width: @breakDesktop) {
        width: @widthTablet;
    }

    @media only screen and (max-width: @breakTablet) {
        width: @widthMobile;
    }

    @media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {
        width: @widthMobileLandscape;
    }
}



/* -------------------------------------------------------------------------- */
// Common content styles, overriding sandstone
.main .section {
    .font-size(@largeFontSize);
    color: #444;

    h1, h2, h3, h4, h5, h6 {
        color: #333;
        font-style: italic;
    }

    h3 {
        .open-sans;
        .font-size(26px);
        margin-top: @baseLine * 2;

        @media only screen and (max-width: @breakTablet) {
            .font-size(22px);
        }
    }

    h4 {
        .open-sans;
        .font-size(20px);
    }

    h5 {
        .open-sans;
        .font-size(16px);
    }

    ul > li {
        list-style: none;
        padding-left: 20px;
        margin-left: 0;

        &:before {
            content: '\2b25';
            color: #ccc;
            float: left;
            margin-top: -.075em;
            margin-left: -20px;
        }
    }

    img {
        height: auto;
    }

    &:before {
        background: inherit;
        clip-path: url("/media/img/teach/smarton/wobble.svg#wobble");
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        position: absolute;
        top: -10px;
    }

    &#ask:before {
        display: none;
    }
}

a.go {
    .trailing-arrow;
}

.tweet-this {
    display: block;
    margin: .5em 0;
}

.button-tweet {
    .font-size(@baseFontSize);
    background: transparent;
    border-radius: 6px;
    border: 2px solid @linkBlue;
    display: inline-block;
    line-height: 1;
    margin-right: 10px;
    padding: .35em 15px;
    text-decoration: none;
    @transition: border-color .1s ease, color .2s ease;
    .transition(@transition);

    &:hover,
    &:focus,
    &:active {
        border-color: darken(@linkBlue, 10%);
        text-decoration: none;
    }

    &:before {
        font-family: 'Font Awesome'; // comes with the share widget
        content: '\f099'; // twitter icon
        margin: 0 8px 0 -6px;
    }
}

// Section titles
.section-title {
    .font-size(40px);
    padding-top: @baseLine * 2;
    margin: 0 0 30px;

    @media only screen and (max-width: @breakTablet) {
        .font-size(26px);
    }
}

// Section intros
.section-intro {
    .font-size(18px);
    font-style: italic;
    margin-bottom: @baseLine * 3;

    @media only screen and (max-width: @breakTablet) {
        margin-bottom: @baseLine * 2;
    }
}

// Make space for the big hero image in the first section
.section-ask .content {
    padding-right: (@gridColumnWidth * 6) + (@gridGutterWidth * 5);

    @media only screen and (max-width: @breakDesktop) {
        padding-right: (@gridColumnWidthNarrow * 6) + (@gridGutterWidth * 5);
    }

    @media only screen and (max-width: @breakTablet) {
        padding-right: @gridGutterWidth;
    }
}

// Hide hero image on smaller viewports
@media only screen and (max-width: @breakTablet) {
    #ask .smarton-hero {
        display: none;
    }
}



/* -------------------------------------------------------------------------- */
// Global SmartOn header
.smarton-header {
    text-align: left;
    background: @mozIDGrey;
    color: #fff;

    .content {
        padding: 45px (@gridGutterWidth + 10px) 40px;
    }

    .series-title {
        font-style: italic;
        .font-size(54px);
        color: #fff;
        text-shadow: none;

        @media only screen and (max-width: @breakTablet) {
            .font-size(30px);
        }

        b {
            .open-sans;
        }

        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
        }
    }

    .series-intro {
        .span(9);
        .font-size(18px);
        margin: 0 0 1em;
        color: rgba(255, 255, 255, .8);

        @media only screen and (max-width: @breakTablet) {
            width: auto;
            float: none;
            .font-size(@largeFontSize);
        }
    }

    .series-link {
        .span(3);
        float: right;
        text-align: center;

        @media only screen and (max-width: @breakDesktop) {
            float: none;
            width: auto;
            text-align: left;
            margin: @baseLine 0;
        }

        a {
            .trailing-arrow;
            display: inline-block;
            padding: .25em 20px;
            border: 2px solid #fff;
            border-color: rgba(255, 255, 255, .5);
            border-radius: 5px;
            margin-top: .15em;
            .transition(border-color .2s ease);

            &:hover,
            &:focus,
            &:active {
                border-color: #fff;
                text-decoration: none;
            }
        }
    }

    a {
        color: #fff;
    }
}



/* -------------------------------------------------------------------------- */
// Header for the specific SmartOn page
.page-header {
    position: relative;
    background: #ccc;
    .clearfix();

    .content {
        padding: 40px @gridGutterWidth 0;
    }

    .series-title {
        display: none; // hidden until the header sticks
        width: 45%;
        float: left;
        margin: -20px 0 -2em 15px;
        .font-size(@largeFontSize);
        font-style: italic;
        color: #fff;
        color: rgba(255, 255, 255, .8);

        @media only screen and (max-width: @breakTablet) {
            width: auto;
            float: none;
            margin: -20px 0 0;
            .font-size(14px);
        }

        a {
            color: #fff;
            color: rgba(255, 255, 255, .8);
            position: relative;
            left: -15px;
            padding-left: 17px;

            &:hover,
            &:focus,
            &:active {
                color: #fff;

                &:before {
                    opacity: 1;
                    left: -3px;
                }
            }

            &:before {
                content: '« ';
                text-align: center;
                width: 15px;
                position: absolute;
                left: 4px;
                opacity: 0;
                @transition: left .2s ease, opacity .2s ease;
                .transition(@transition);
            }
        }
    }

    .page-title {
        .font-size(40px);
        float: left;
        width: 39%;
        color: #fff;
        font-style: italic;
        line-height: 1;
        margin: 0 0 22px 10px;
        text-shadow: none;
        word-wrap: break-word;

        @media only screen and (max-width: @breakTablet) {
            .font-size(26px);
            width: auto;
            float: none;
            margin: 0 0 .25em;
        }
    }

    &.stuck {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 99;
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);
        overflow: hidden;

        .content {
            padding-top: 25px;
        }

        .series-title {
            display: block;
        }

        #head-share {
            display: none;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        height: 10px;
        width: 100%;
        clip-path: url("/media/img/teach/smarton/wobble.svg#wobble");
        background: inherit;
    }
}

// Navbar
.nav-steps {
    .font-size(16px);
    font-weight: bold;
    line-height: 1;
    float: right;
    width: 60%;

    @media only screen and (min-width: @breakTablet) {
        position: absolute;
        right: 30px;
        bottom: 0;
    }

    ol {
        margin: 0;
        .clearfix;
        .flexbox;
    }

    li {
        min-width: 25%;
        list-style: none;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        white-space: nowrap;

        &.current a {
            color: #fff;
            border-bottom: 5px solid rgba(255, 255, 255, .8);
            padding-bottom: 20px;
        }
    }

    a {
        .border-box;
        width: 100%;
        display: block;
        padding: 10px 10px 24px;
        @transition: border-width .1s ease, padding-bottom .1s ease;
        .transition(@transition);

        &:link,
        &:visited {
            color: #fff;
            color: rgba(255, 255, 255, .8);
            border-bottom: 1px solid transparent;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: #fff;
            border-bottom: 5px solid #fff;
            padding-bottom: 20px;
        }
    }
}

// General sharing widget
#head-share {
    background: transparent;
    position: absolute;
    top: 0;
    right: @gridGutterWidth;

    h3,
    ul li a {
        text-transform: none;
        font-style: normal;
        color: #fff;
    }

    h3 {
        .font-size(@largeFontSize);
        margin: 0;
    }

    ul > li {
        margin: 0;
        padding: 0;
    }
}

// Compact navbar for small viewports
@media only screen and (max-width: @breakTablet) {

    .page-header {
        .nav-steps {
            width: 100%;
            float: none;

            ol {
                display: block;
                margin: 5px -10px;

                li {
                    text-align: left;
                    float: none;
                    width: 100%;
                }
            }

            a {
                border: 0;
                margin: 0;
                padding: .5em 10px;
                .transition(background-color .1s ease);

                &:hover,
                &:focus,
                &:active {
                    border: 0;
                    padding: .5em 10px;
                    background: rgba(255, 255, 255, .1);
                }
            }

            li.current a {
                padding: .5em 10px;
                border: 0;

                &:hover,
                &:focus,
                &:active {
                    background: transparent;
                }
            }
        }

        &.stuck {
            padding-bottom: 3em;

            .nav-steps {
                position: absolute;
                height: 0;
                bottom: -5em;

                li.current {
                    position: absolute;
                    top: -5em;
                    left: -10px;
                }
            }
        }
    }

}



/* -------------------------------------------------------------------------- */
// Sidebars

// Content blocks adjancent to a sidebar
.with-sidebar {
    .span(8);
    margin-left: 0;

    @media only screen and (max-width: @breakDesktop) {
        .span_narrow(7);
        margin-left: 0;
    }

    @media only screen and (max-width: @breakTablet) {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
}

// Sidebars
.sidebar {
    .border-box;
    .span(3);
    float: right;
    clear: right;
    .font-size(@largeFontSize);
    font-style: italic;
    margin-top: 45px;
    padding: 0 20px;
    position: relative;
    text-align: center;

    @media only screen and (max-width: @breakDesktop) {
        .span_narrow(4);
        float: right;
        margin-top: 45px;
    }

    @media only screen and (max-width: @breakTablet) {
        margin: (@baseLine * 2) auto;
        width: (@gridColumnWidthNarrow * 4) + (@gridGutterWidth * 3);
        float: none;
        clear: both;
    }

    section,
    blockquote {
        margin-bottom: @baseLine * 2;
        position: relative;

        h3,
        h4,
        p {
            position: relative;
            z-index: 2;
        }

        h3,
        h4 {
            margin: 0 0 1em;
        }

        p {
            margin: 0;
        }
    }
}

// Pull quotes
.pull-quote {
    .quote {
        .font-size(18px);
        .open-sans-light;
        font-style: italic;
        margin-bottom: .5em;
        position: relative;
    }

    .attribute {
        color: #bbb;
        color: rgba(0, 0, 0, .5);
        .font-size(@baseFontSize);
    }
}

// Charts
.sidebar-chart {
    .font-size(@smallFontSize);
    font-style: normal;
    border: 1px solid #ccc;
    padding: @baseLine @gridGutterWidth;
    margin: 0 -20px;
    border-radius: 6px;

    .chart-stage {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 145px;
    }

    .circles-wrap {
        height: 145px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .circles-text {
        .font-size(46px);
        .open-sans-light;
        display: block;
        letter-spacing: -0.02em;
        text-align: center;
        line-height: 140px;
        height: 145px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .circles-valueStroke {
        stroke: #aaa;
    }

    .circles-maxValueStroke {
        stroke: #eee;
    }

    .number {
        font-weight: bold;
    }

    cite {
        display: block;
        color: @textColorLight;
        font-style: italic;
    }
}

.js .sidebar-chart {
    padding-top: 185px;

    .number {
        .visually-hidden;
    }
}

// SVG backgrounds for sidebar blocks
.callout-bg {
    position: absolute;
    top: -20px;
    left: -5%;
    right: -5%;
    z-index: 1;
    width: 110%;
    height: auto;
    max-width: 200px;
    max-height: 120%;
    display: block;
    margin: 0 auto;

    path {
        fill: #ccc;
        opacity: .3;
    }
}

// Mid-stream notes
.note {
    .font-size(@baseFontSize);
    margin: (@baseLine * 2) 0;

    em {
        display: block;
        .font-size(@largeFontSize);
    }
}


// Videos
.video {
    width: (@gridColumnWidth * 8) + (@gridGutterWidth * 7);
    margin: 60px auto;
    position: relative;

    .video-wrap {
        position: relative;
        padding-bottom: 56.25%; // 16:9 ratio
        height: 0;
        overflow: hidden;
        border: 6px solid #eee;
        border-radius: 3px;
        margin: 0 -6px;

        &.ratio-4x3 {
            padding-bottom: 73.4%;
        }

        .video-frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .video-open {
        text-decoration: none;
        .image-replaced;

        &:before {
            .transition(background-color .2s ease);
            background-color: @linkBlue;
            background-color: fade(@linkBlue, 80%);
            border-radius: 100%;
            border: 3px solid #fff;
            color: #fff;
            content: '\f04b'; /* play */
            display: block;
            font-family: 'Font Awesome';
            .font-size(42px);
            text-align: center;
            text-indent: 8px;
            line-height: 95px;
            height: 90px;
            width: 90px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -47px;
            margin-top: -47px;
        }

        &:focus {
            outline: 0;
        }

        &:hover:before,
        &:focus:before {
            background-color: @linkBlue;
            text-decoration: none;
        }
    }

    .modal-video-wrap {
        display: none;
    }

    figcaption {
        .font-size(13px);
        margin: .5em 0 1.5em;
        padding: 0 6px;
    }

    @media only screen and (max-width: @breakDesktop) {
        width: (@gridColumnWidthNarrow * 8) + (@gridGutterWidth * 7);
    }

    @media only screen and (max-width: @breakTablet) {
        width: 100%;
        margin: 0;
    }

    @media only screen and (max-width: @breakMobileLandscape) {
        .video-wrap {
            display: none;
        }

        figcaption {
            .font-size(@largeFontSize);
            padding: 0;
            margin: 0;
        }
    }
}

// Videos in a modal
#modal {
    .modal-video-wrap {
        display: block;
        border-radius: 3px;
        border: 6px solid #eee;
        height: 0;
        margin: 0 -6px;
        overflow: hidden;
        padding-bottom: 56.25%; // 16:9 ratio
        position: relative;
        top: 30px;

        &.ratio-4x3 {
            padding-bottom: 73.4%;
        }

        .modal-video-frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}


// Main hereo image
.smarton-hero {
    max-width: (@gridColumnWidth * 6) + (@gridGutterWidth * 5);
    float: right;
    clear: right;
    margin: @baseLine -((@gridColumnWidth * 6) + (@gridGutterWidth * 5)) @baseLine @gridGutterWidth;

    @media only screen and (max-width: @breakDesktop) {
        margin-right: -((@gridColumnWidthNarrow * 6) + (@gridGutterWidth * 5));
    }

    @media only screen and (max-width: @breakTablet) {
        display: none;
    }
}


// Topic blocks
.topic {
    .clearfix;
    margin: @baseLine 0 (@baseLine * 2);

    &.with-image {
        .topic-tips {
            .span(8);
            float: right;
            margin-right: 0;

            @media only screen and (max-width: @breakDesktop) {
                .span_narrow(7);
                float: right;
                margin-right: 0;
            }

            @media only screen and (max-width: @breakTablet) {
                width: auto;
                float: none;
                margin: 0;
            }
        }

        .tip {
            .span(7);
            margin-bottom: @baseLine;

            @media only screen and (max-width: @breakDesktop) {
                .span-all();
            }

            @media only screen and (max-width: @breakTablet) {
                margin: 0 0 @baseLine;
            }
        }

        .topic-intro {
            margin: 0 0 (@baseLine * 2);
        }

        .topic-image {
            .span(4);
            clear: left;
            margin-left: 0;
            margin-bottom: @baseLine;

            img {
                height: auto;
            }

            @media only screen and (max-width: @breakDesktop) {
                .span_narrow(4);
            }

            @media only screen and (max-width: @breakTablet) {
                float: none;
                clear: both;
                display: block;
                max-width: 100%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}


// Tips
.tip {
    .font-size(13px);
    margin-top: @baseLine * 2;
    margin-bottom: @baseLine * 2;

    &:first-child {
        margin-top: 0;
    }

    &.with-image {
        padding-left: (@gridColumnWidth * 2) + (@gridGutterWidth * 2);
        min-height: 96px;

        @media only screen and (max-width: @breakTablet) {
            padding-left: 0;
        }

        .tip-image {
            float: left;
            margin-left: -120px;
            width: 96px;
            height: 96px;

            @media only screen and (max-width: @breakTablet) {
                display: none;
            }
        }
    }

    p {
        margin: 0 0 1em;
    }
}


// Big numbered lists
.big-list {
    margin: 0 0 (@baseLine * 2);
    padding: 0;

    > li {
        .font-size(@largeFontSize);
        list-style-type: none;
        margin: 0 0 15px;
        min-height: 55px;
        padding: 10px 0 0 70px;
        position: relative;

        @media screen and (max-width: @breakTablet) {
            padding-top: 0;
            margin-bottom: @baseLine;
        }
    }

    .list-number {
        width: 55px;
        height: 55px;
        position: absolute;
        left: -5px;
        top: 0;
    }
}

.big-list.with-sidebar + .sidebar {
    margin-top: 0;
}


// Footer bar, shows either newsletter signup or Firefox download
.footer-cta {
    background: @mozIDGrey;
    margin: 0;
    color: #fff;

    h3, h4 {
        .open-sans-light;
        color: #fff;
        color: rgba(255, 255, 255, .8);
        font-style: normal;
        line-height: 1.1;
        margin: 0 0 .15em;
        text-shadow: none;
    }

    h3 {
        .font-size(24px);
        letter-spacing: normal;
    }

    h4 {
        .font-size(18px);
    }

    ul > li:before {
        content: '';
        display: none;
    }

    .billboard {
        padding: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    .form-contents,
    .form-submit {
        padding-top: .75em;
    }

    input[type='email'] {
        .font-size(18px);
        padding: .35em 20px;
        border: 2px solid #eee;
        border-radius: 5px;
    }

    .button {
        background: transparent;
        box-shadow: none;
        color: #fff;
        border: 2px solid #eee;
        font-weight: normal;
        text-shadow: none;
        .font-size(18px);
        padding: .35em 20px;

        &:hover,
        &:focus {
            color: #fff;
            border-color: #fff;
            background-color: rgba(255, 255, 255, .05);
        }
    }

    a {
        color: #fff;
    }

    &.stuck {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 99;
    }

    .close {
        .image-replaced();
        background: transparent;
        border: 0;
        cursor: pointer;
        height: 30px;
        width: 30px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 0;

        &:before {
            .font-size(20px);
            line-height: 30px;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            text-indent: 0;
            content: '\d7';
            color: #fff;
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

body.not-firefox .footer-cta {
    .foot-newsletter {
        display: none;
    }
    .foot-download {
        display: block;
    }
}

.foot-download {
    display: none;

    .title {
        width: 33%;
        margin: 0;
    }

    .title,
    .download-button,
    .tagline {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;

        @media screen and (max-width: @breakTablet) {
            display: block;
            width: auto;
            padding: 0;
            margin: 0 0 10px;
            text-align: center;
        }
    }

    .tagline {
        .open-sans-light;
        .font-size(18px);
    }
}

// Multi-column blocks
.columns {
    .flexbox;
    margin: 0 auto;
    padding: 0 @gridGutterWidth;

    .col {
        margin: 0 10px @baseLine;
        .border-box;

        ul {
            list-style: disc;
            margin: 0 0 1em;
        }
    }
}

.columns-2 .col { width: 50%; }
.columns-3 .col { width: 33.3%; }
.columns-4 .col { width: 25%; }
.columns-5 .col { width: 20%; }

@media screen and (max-width: @breakTablet) {
    .columns {
        display: block;
        padding: 0;

        .col {
            width: 100%;
        }
    }
}


/* -------------------------------------------------------------------------- */
// Styles for short screens, tightening up some vertical spacing
@media screen and (max-height: 650px) {

    .nav-steps {
        a {
            padding-bottom: 19px;

            &:hover,
            &:focus,
            &:active {
                padding-bottom: 15px;
            }
        }

        li.current a {
            padding-bottom: 15px;
        }
    }

    .page-header .page-title {
        margin-bottom: 17px;
    }

    .section-title {
        padding-top: @baseLine;
    }

    .section-intro {
        margin-bottom: @baseLine * 2;
    }

    .topic {
        margin: @baseLine 0;
    }

    .video {
        margin: @baseLine auto;
    }

}


/* -------------------------------------------------------------------------- */
// Specific styles for the Tracking page
#smarton-tracking {
    .section-ask {
        background: url("/media/img/teach/smarton/tracking/tracking-hero-bg.svg") center -100px no-repeat;
        .background-size(100% auto);

        @media only screen and (max-width: @breakTablet) {
            .background-size(150% auto);
        }
    }

    .page-header.stuck + .section-ask {
        background-position: center top;
    }
}

/* -------------------------------------------------------------------------- */
// Specific styles for the Cybersecurity page
@media only screen and (max-width: @breakTablet) {
    #smarton-security {
        .columns {
            display: block;
        }
        .columns-2 .col {
            width: 100%;
        }
    }
}


/* -------------------------------------------------------------------------- */
// Firefox callout box
.fx-callout {
    .span(3);
    clear: left;

    @media only screen and (max-width: @breakDesktop) {
        .span_narrow(4);
    }

    @media only screen and (max-width: @breakTablet) {
        margin: (@baseLine * 2) auto;
        width: (@gridColumnWidthNarrow * 4) + (@gridGutterWidth * 3);
        float: none;
        clear: both;
    }

    @media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {
        width: (@gridColumnWidthNarrow * 5) + (@gridGutterWidth * 4);
    }

    .intro {
        .font-size(13px);
        margin: 0 0 @baseLine;
        padding: 20px;
        position: relative;
        text-align: center;

        h4, p {
            position: relative;
            z-index: 2;
        }
    }

    .feature {
        position: relative;
        .font-size(13px);
        padding-left: 80px;
        margin: 0 0 30px;

        &:before {
            content: '';
            display: block;
            width: 60px;
            height: 60px;
            position: absolute;
            top: -5px;
            left: 0;
            background-repeat: no-repeat;
            .at2x('/media/img/teach/smarton/tracking/features-sprite.png', 60px, 240px);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .feature-private:before {
        background-position: 0 0;
    }

    .feature-forget:before {
        background-position: 0 -80px;
    }

    .feature-addons:before {
        background-position: 0 -160px;
    }
}



/* -------------------------------------------------------------------------- */
// Landing page
.landing {
    .smarton-header {
        background-color: #3a454e;
        text-align: center;

        .series-intro {
            float: none;
            margin: 0 auto @baseLine;
        }

        .series-link {
            display: none;
        }
    }

    main {
        background: #ddd;

        &:before {
            background: inherit;
            clip-path: url("/media/img/teach/smarton/wobble.svg#wobble");
            content: '';
            display: block;
            height: 10px;
            width: 100%;
            position: absolute;
            top: -10px;
        }
    }

    .footer-cta {
        background-color: #3a454e;
    }
}

.smarton-topics {
    .border-box;
    width: 600px;
    list-style: none;
    margin: (@baseLine * 2) auto (@baseLine * 3);
    text-align: center;
    .clearfix;

    @media only screen and (min-width: @breakDesktop) {
        width: 900px;
    }

    @media only screen and (max-width: @breakTablet) {
        width: auto;
    }

    .topic {
        .border-box;
        float: left;
        width: 260px;
        height: 410px;
        margin: 0 @gridGutterWidth (@baseLine * 2);
        padding: 20px;
        position: relative;
        .transition(background-position .275s ease-in-out);

        &:nth-child(1n+3) {
            clear: both;
            float: none;
            margin: 0 auto;

            @media only screen and (min-width: @breakDesktop) {
                float: left;
                clear: none;
                margin: 0 @gridGutterWidth (@baseLine * 2);
            }
        }

        &:before {
            content: '';
        }

        &:after {
            .font-size(40px);
            text-align: center;
            color: #ddd;
            content: '\25be';
            display: none;
            height: 1em;
            width: 100%;
            position: absolute;
            bottom: 85px;
            left: 0;
            z-index: 3;
            visibility: visible;
            opacity: 1;
            .animation(pulse 1.5s infinite);
        }

        &.show:after {
            display: none;
        }

        @media only screen and (max-width: @breakTablet) {
            float: none;
            margin: 0 auto 20px;
        }
    }

    .topic-title {
        .font-size(28px);
        .transition(margin .25s ease);
        font-style: italic;
        text-shadow: none;
        margin: 0 0 25px;
        position: relative;
        z-index: 3;
    }

    .topic-intro {
        .font-size(14px);
        color: #888;
        position: relative;
        z-index: 3;
        opacity: 1;
        display: none;
        .transition(opacity .25s ease);
    }

    .inner {
        .border-box;
        color: #fff;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        padding: 140px 20px 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 1;
        @transition: opacity .25s ease, padding-top .25s ease;
        .transition(@transition);
    }

    .cta {
        .trailing-arrow;
        display: inline-block;
        padding: .25em 20px;
        border: 2px solid #fff;
        border-color: rgba(255, 255, 255, .5);
        border-radius: 5px;
        .transition(border-color .2s ease);

        &:hover,
        &:focus,
        &:active {
            border-color: #fff;
            text-decoration: none;
        }
    }

    .shape {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 2;

        path {
            fill: #fff;
        }
    }

    &.has-touch .topic {
        .topic-title {
            margin: 0;
        }

        .topic-intro {
            opacity: 0;
        }

        .inner {
            opacity: 1;
            padding-top: 140px;
        }
    }

    .topic-tracking {
        background: url('/media/img/teach/smarton/tracking/tracking-landing.png') center 160px no-repeat,
                    @theme-tracking url('/media/img/teach/smarton/tracking/tracking-landing-bg.png') center center no-repeat;

        .topic-title {
            color: @theme-tracking-dark;
        }
    }

    .topic-security {
        background: url('/media/img/teach/smarton/security/security-landing.png') center 196px no-repeat,
                    @theme-security url('/media/img/teach/smarton/security/security-landing-bg.png') center top no-repeat;

        .topic-title {
            color: @theme-security-dark;
        }
    }

    .topic-surveillance {
        background: url('/media/img/teach/smarton/surveillance/surveillance-landing.png') center 240px no-repeat,
                    @theme-surveillance url('/media/img/teach/smarton/surveillance/surveillance-landing-bg.png') center top repeat;

        .topic-title {
            color: @theme-surveillance-dark;
        }
    }
}

.js .smarton-topics:not(.has-touch) {
    .topic:after {
        display: block;
    }

    .topic-title {
        margin-top: 40px;
    }

    .topic-intro {
        display: block;
    }

    .inner {
        opacity: 0;
        padding-top: 220px;
    }

    .topic.show {
        .topic-title {
            margin-top: 0;
        }

        .topic-intro {
            opacity: 0;
        }

        .inner {
            opacity: 1;
            padding-top: 140px;
        }

        &:after {
            opacity: 0;
        }
    }

    .topic-tracking {
        background-position: center 220px, center center;

        &.show {
            background-position: center 160px, center center;
        }
    }

    .topic-security {
        background-position: center 280px, center top;

        &.show {
            background-position: center 196px, center top;
        }
    }

    .topic-surveillance {
        background-position: center 315px, center top;

        &.show {
            background-position: center 240px, center top;
        }
    }
}

@-webkit-keyframes pulse {
    0%   { color: #ddd; }
    50%  { color: #eee; }
    100% { color: #ddd; }
}

@keyframes pulse {
    0%   { color: #ddd; }
    50%  { color: #eee; }
    100% { color: #ddd; }
}

.series-description {
    .font-size(@largeFontSize);
    background: #fff;
    text-align: center;

    &:before {
        background: inherit;
        clip-path: url("/media/img/teach/smarton/wobble.svg#wobble");
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        position: absolute;
        top: -10px;
    }

    .content {
        max-width: @widthTablet;
    }

    p {
        margin: 30px @gridColumnWidth;
    }

    h2 {
        .font-size(36px);
        font-style: italic;
        margin: @baseLine 0;
    }

    .smarton-steps {
        list-style: none;
        margin: @baseLine auto;
        font-weight: bold;
        color: #3a454e;
        .font-size(@largeFontSize);
        .flexbox;

        li {
            display: inline-block;
            margin: 0 10px;
            width: 24%;
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 25px;
                height: 30px;
                background: url('/media/img/teach/smarton/step-arrow.svg') 0 0 no-repeat;
                position: absolute;
                right: -25px;
                top: -3px;
            }

            &:last-child:after {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: @breakTablet) {
    .smarton-topics .topic {
        float: none;
        margin: 0 auto @baseLine;
    }

    .series-description {
        p {
            margin: 30px 0;
        }

        .smarton-steps {
            display: block;
            width: 50%;

            li {
                width: auto;
                display: block;
                text-align: left;

                &:after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-resolution: 1.5dppx),
       screen and (min-resolution: 144dpi) {

    .smarton-topics {
        .topic-tracking {
            background-image: url('/media/img/teach/smarton/tracking/tracking-landing-high-res.png'),
                              url('/media/img/teach/smarton/tracking/tracking-landing-bg-high-res.png');
            -webkit-background-size: 260px 260px, 500px 368px;
                    background-size: 260px 260px, 500px 368px;
        }

        .topic-security {
            background-image: url('/media/img/teach/smarton/security/security-landing-high-res.png'),
                              url('/media/img/teach/smarton/security/security-landing-bg-high-res.png');
            -webkit-background-size: 165px 200px, 260px 410px;
                    background-size: 165px 200px, 260px 410px;
        }

        .topic-surveillance {
            background-image: url('/media/img/teach/smarton/surveillance/surveillance-landing-high-res.png'),
                              url('/media/img/teach/smarton/surveillance/surveillance-landing-bg-high-res.png');
            -webkit-background-size: 220px 125px, 152px 177px;
                    background-size: 220px 125px, 152px 177px;
        }
    }
}
