// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/newsletter';
@import '../../hubs/mixins';
@import '../../hubs/header';
@import '../../hubs/sections';
@import '../../hubs/sub-nav';
@import '../../hubs/buttons';
@import '../../hubs/cards-block';
@import '../../hubs/card-image-large';
@import '../../hubs/common';
@import '../../hubs/news-feed';
@import 'hub/newsletter';

main .content {
    @include horizontal-rule-before($start-color: #b1f5f5, $end-color: #00a6d6);
}

// Issues block does not been a divider right after the header.
.issues .content:before {
    content: none;
}

/* -------------------------------------------------------------------------- */
// Large image cards

.data-detox-kit {
    .card-content-wrapper {
        background-color: #d7d9f2;
        background-image: url('/media/img/mozorg/internet-health/hub/data-detox-kit.png');
        background-position: top -30px center;
        @include background-size(100%, auto);
    }

    @media #{$mq-phone-wide} {
        .card-content-wrapper {
            background-position: top -100px center;
        }
    }

    @media #{$mq-tablet} {
        .card-content-wrapper {
            @include at2x('/media/img/mozorg/internet-health/hub/data-detox-kit.png', 673px, 456px);
            background-position: top right -150px;
        }
    }

    @media #{$mq-desktop-wide} {
        .card-content-wrapper {
            background-position: top right;
        }
    }
}

.net-neutrality {
    .card-content-wrapper {
        background-image: url('/media/img/mozorg/internet-health/hub/net-neutrality-large.png');
        @include background-size(100%, auto);
    }
}

.common-voice {
    .card-content-wrapper {
        @include at2x('/media/img/mozorg/internet-health/hub/common-voice.png', 100%, auto);
    }
}

.podcast {
    .card-content-wrapper {
        background-image: url('/media/img/mozorg/internet-health/hub/podcast.jpg');
        @include background-size(100%, auto);
    }

    @media #{$mq-tablet} {
        .card-content-wrapper {
            @include at2x('/media/img/mozorg/internet-health/hub/podcast.jpg', 100%, auto);
        }
    }

    @media #{$mq-desktop-wide} {
        .card-content-wrapper {
            padding-top: 160px;
        }
    }
}

.report {
    .card-content-wrapper {
        background-image: url('/media/img/mozorg/internet-health/hub/health-report.png');
        @include background-size(100%, auto);
    }

    @media #{$mq-tablet} {
        .card-content-wrapper {
            @include at2x('/media/img/mozorg/internet-health/hub/health-report.png', 100%, auto);
        }
    }

    @media #{$mq-desktop-wide} {
        .card-content-wrapper {
            padding-top: 200px;
        }
    }
}
