{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol.html" %}

{% from "macros-protocol.html" import split, picto with context %}

{% set show_firefox_app_store_banner = switch('firefox-app-store-banner') %}

{% block page_title %}{{ ftl('firefox-home-firefox-protect-your') }}{% endblock %}

{% block page_title_suffix %}{{ ftl('firefox-home-mozilla') }}{% endblock %}

{% block page_desc %}{{ ftl('firefox-home-firefox-is-more-than') }}{% endblock %}
{% block page_image %}{{ static('img/firefox/template/page-image-master.jpg') }}{% endblock %}
{% block page_favicon %}{{ static('img/favicons/firefox/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/favicons/firefox/favicon-196x196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/favicons/firefox/apple-touch-icon.png') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-master') }}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-picto') }}
  {{ css_bundle('challenge-the-default') }}

  {% if show_firefox_app_store_banner %}
    {{ css_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}


{% block sub_navigation %}
{% endblock %}

{% block content %}
<main class="firefox-home">
  <div class="ctd-mobile-banner">
    {{ resp_img(
      url='img/firefox/challenge-the-default/logo-firefox.svg',
        optional_attributes={
          'loading': 'eager',
          'height': '24',
          'class': 'ctd-sub-nav-image',
          'alt': 'Firefox'
      })
    }}
    {{ resp_img(
      url='img/firefox/challenge-the-default/logo-ctd.svg',
        optional_attributes={
          'loading': 'eager',
          'height': '24',
          'class': 'ctd-sub-nav-image mobile',
          'alt': 'Challenge the default'
      })
    }}
  </div>
  <section class="ctd-hero-wrapper">
    <div class="c-ctd-hero mzp-l-content mzp-t-content-xl">
      <svg class="svg" width="0" height="0">
        <clipPath id="hero-image-clip-path" clipPathUnits="objectBoundingBox">
          <path d="M1,0.201 L0.919,0 L0,0.027 V0.951 L0.124,1 L1,0.951 L0.951,0.582 L1,0.201"></path>
        </clipPath>
        <clipPath id="hero-clip-path-mobile" clipPathUnits="objectBoundingBox">
          <path d="M0.028,0 H0.992 L1,1 L0,0.973 V0.329 L0.028,0"></path>
        </clipPath>
        <clipPath id="hero-clip-path" clipPathUnits="objectBoundingBox">
          <path d="M0.011,0.985 L0,0 L1,0.02 V0.663 L0.968,1 L0.011,0.985"></path>
        </clipPath>
        <clipPath id="features-clip-path" clipPathUnits="objectBoundingBox">
          <path d="M0.763,0 H0 V0.453 L0.037,0.958 L0.444,1 L1,0.965 V0.819 L0.971,0.352 L0.984,0.033 L0.763,0"></path>
        </clipPath>
        <clipPath id="kitten-clip-path" clipPathUnits="objectBoundingBox">
          <path d="M0.326,0.056 H0.032 L0,0.306 L0.032,0.944 L1,1 V0.794 L0.937,0.056 L0.326,0 V0.056"></path>
        </clipPath>
      </svg>
      <div class="hero-wrapper">
        <div class="c-hero-top">
          <div class="c-hero-top-images">
              {{ resp_img(
                url='img/firefox/challenge-the-default/logo-firefox.svg',
                optional_attributes={
                  'loading': 'eager'
                })
              }}
              {{ resp_img(
                url='img/firefox/challenge-the-default/logo-ctd.svg',
                optional_attributes={
                  'loading': 'eager'
                })
              }}
          </div>
          <div class="c-hero-top-controls">
              <button class="hero-control-btn minimize"></button>
              <button class="hero-control-btn expand"></button>
              <button class="hero-control-btn close"></button>
          </div>
        </div>
        <div class="hero-content-wrapper">
          <div class="c-hero-text">
            <h1>Der Browser, den du selber wählst</h1>
            <p>Wenn du Firefox wählst, triffst du eine bewusste Entscheidung, anstatt einfach das Erstbeste zu nehmen. Besserer
            Datenschutz, mehr Transparenz, und ein gesünderes Web – deine Entscheidung.</p>
            <a class="mzp-c-button mzp-t-lg">Jetzt Firefox wählen</a>
          </div>
          {{ resp_img(
              url='img/firefox/challenge-the-default/hero-image.png',
              optional_attributes={
                'loading': 'eager',
                'class': 'c-hero-image'
              }
          )}}
        </div>
      </div>
    </div>
  </section>

    <section class="mzp-l-content mzp-t-content-xl c-ctd-features">
      <h2>Unsere <br>Lieblingsfeatures</h2>
      <ul class="mzp-l-columns mzp-t-columns-four">
        {% call picto(
          base_el='li',
          title='Nahtloses Browsen',
          image=resp_img(
          url='img/firefox/challenge-the-default/cursor.svg',
          optional_attributes={
            'class': 'mzp-c-picto-image',
            'loading': 'lazy'
            }
          ),
          body=True,
        ) %}
          <p>Hab offene Tabs und Passwörter griffbereit auf all deinen Geräten – wenn du das willst.</p>
        {% endcall %}
        {% call picto(
          base_el='li',
          title='Einfaches Multitasking',
          image=resp_img(
            url='img/firefox/challenge-the-default/screen.svg',
            optional_attributes={
              'class': 'mzp-c-picto-image',
              'loading': 'lazy'
            }
          ),
          body=True,
        ) %}
          <p>Schaue Videos in einem Pop-up-Fenster einfach weiter, während du browst.</p>
        {% endcall %}
        {% call picto(
          base_el='li',
          title='Non-Profit-Power*',
          image=resp_img(
            url='img/firefox/challenge-the-default/toggle.svg',
            optional_attributes={
              'class': 'mzp-c-picto-image',
              'loading': 'lazy'
            }
          ),
          body=True,
        )%}
          <p>Firefox wird von der Mozilla Foundation unterstützt und stellt Menschen über Profite.</p>
          <small>*Wir wissen, dass das kein Feature ist, aber hier machen wir die Regeln. :)</small>
          </p>
        {% endcall %}
        {% call picto(
          base_el='li',
          title='Schnelles Bearbeiten von PDFs',
          image=resp_img(
            url='img/firefox/challenge-the-default/input.svg',
            optional_attributes={
              'class': 'mzp-c-picto-image',
              'loading': 'lazy'
            }
          ),
          body=True,
        )%}
          <p>Bearbeite PDFs ohne Umwege direkt im Browser.</p>
        {% endcall %}
      </ul>
    </section>

    <section class="c-ctd-toggles">
      <div class="mzp-l-content mzp-l-content mzp-t-content-xl">
        <div class="toggle-grid small">
            {% for element in range(4) %}
              <label class="toggle" for="toggle-top-{{ loop.index }}">
                <input type="checkbox" name="toggle" id="toggle-top-{{ loop.index }}" class="toggle-input" />
                <span class="toggle-display"></span>
              </label>
            {% endfor%}
            <label class="toggle middle" for="toggle-middle">
              <input type="checkbox" name="toggle" id="toggle-middle" class="toggle-input" />
              <span class="toggle-display"></span>
            </label>
            {% for element in range(4) %}
              <label class="toggle" for="toggle-bottom-{{ loop.index }}">
                <input type="checkbox" name="toggle" id="toggle-bottom-{{ loop.index }}" class="toggle-input" />
                <span class="toggle-display"></span>
              </label>
            {% endfor%}
        </div>
        <div class="toggle-grid large">
          {% for element in range(10) %}
          <label class="toggle" for="toggle-top-{{ loop.index }}">
            <input type="checkbox" name="toggle" id="toggle-top-{{ loop.index }}" class="toggle-input" />
            <span class="toggle-display"></span>
          </label>
          {% endfor%}
          <label class="toggle middle" for="toggle-middle">
            <input type="checkbox" name="toggle-middle" id="toggle-middle" class="toggle-input" />
            <span class="toggle-display"></span>
          </label>
          {% for element in range(10) %}
          <label class="toggle" for="toggle-bottom-{{ loop.index }}">
            <input type="checkbox" name="toggle" id="toggle-bottom-{{ loop.index }}" class="toggle-input" />
            <span class="toggle-display"></span>
          </label>
          {% endfor%}
      </div>
    </section>

    <section class="c-ctd-comparison">
      <div class="mzp-l-content mzp-t-content-lg">
        <div class="c-ctd-comparison-text">
          <h2>Firefox macht den Unterschied</h2>
          <p>Kein Fan von viel Text? Kein Problem! Hier siehst du auf einen Blick, warum Firefox die richtige Wahl für dich ist.</p>
        </div>

        <table class="mzp-u-data-table comparison-table" data-selected-browser="chrome">
          <thead>
            <tr>
              <td class="empty"></td>
              <th scope="col" class="firefox">Firefox</th>
              <th scope="col" class="safari">Safari</th>
              <th scope="col" class="chrome">Chrome</th>
              <th scope="col" class="edge">Edge</th>
              <th scope="col" class="mobile-select-wrapper">
                <select class="mobile-select">
                  <option value="chrome">Chrome</option>
                  <option value="safari">Safari</option>
                  <option value="edge">Edge</option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Automatisches Ausfüllen von Passwörtern</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari">&#x2713;</td>
              <td class="chrome">&#x2713;</td>
              <td class="edge">&#x2713;</td>
            </tr>
            <tr>
              <th scope="row" class="break-word">Suchmaschinenoptionen</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari">&#x2713;</td>
              <td class="chrome">&#x2713;</td>
              <td class="edge">&#x2713;</td>
            </tr>
            <tr>
              <th scope="row">Synchronisieren zwischen Geräten</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari">&#x2713;</td>
              <td class="chrome">&#x2713;</td>
              <td class="edge">&#x2713;</td>
            </tr>
            <tr>
              <th scope="row">Standardmäßiges Blockieren von Third-Party-Cookies</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari">&#x2713;</td>
              <td class="chrome"></td>
              <td class="edge">&#x2713;</td>
            </tr>
            <tr>
              <th scope="row">Von einer Non-Profit unterstützt</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari"></td>
              <td class="chrome"></td>
              <td class="edge"></td>
            </tr>
            <tr>
              <th scope="row">Sorgt sich um deine Privatsphäre</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari"></td>
              <td class="chrome"></td>
              <td class="edge"></td>
            </tr>
            <tr>
              <th scope="row">Hat keine Shareholder mit eigenen Interessen</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari"></td>
              <td class="chrome"></td>
              <td class="edge"></td>
            </tr>
            <tr>
              <th scope="row">Liebt das Internet und hat ein süßes Logo</th>
              <td class="firefox">&#x2713;</td>
              <td class="safari"></td>
              <td class="chrome"></td>
              <td class="edge"></td>
            </tr>
          </tbody>
        </table>
        <button class="kitten-button">=^._.^=</button>
        <div class="comparison-cta">
          <h3>Du entscheidest, was Standard ist</h3>
          <a class="mzp-c-button mzp-t-lg">Jetzt Firefox wählen</a>
        </div>
      </div>
    </section>
      <div class="mzp-u-modal-content kitten-modal">
        <div class="kitten-modal-grid">
          <h2>Nicht alle Wege führen nach Chrome</h2>
          {{ resp_img(
              url="img/firefox/challenge-the-default/kitten-modal-image.png",
              optional_attributes={
                'loading': 'lazy',
                'alt': 'kitten surprise'
              }
          )}}
        </div>
      </div>

  <section class="c-ctd-credentials">
    <div class="mzp-l-content mzp-t-content-md">
      <h2>Das ist Firefox</h2>
      <details class="mzp-c-details">
        <summary>
          <h3>Kompromisslos privat</h3>
        </summary>
        <p>Deine Daten gehören dir. Und mit Firefox bleibt das auch so. Wir verkaufen deine persönlichen Daten nicht und vieles
        speichern wir nicht mal.</p>
      </details>
      <details class="mzp-c-details">
        <summary>
          <h3>Non-Profit Rückenwind</h3>
        </summary>
        <p>Firefox wird von der Mozilla Foundation unterstützt und folgt der Mission, das Internet besser zu machen, statt hohen
        Profiten hinterher zu jagen.</p>
      </details>
      <details class="mzp-c-details">
        <summary>
          <h3>Verändern statt beschweren</h3>
        </summary>
        <p>Wir setzen uns für eine bessere Gesetzgebung ein und arbeiten mit Regierungsorganisationen zusammen daran, dass Menschen
        geschützt werden und die Branche fair bleibt.</p>
      </details>
      <details class="mzp-c-details">
        <summary>
          <h3>Zusammen ist man weniger allein</h3>
        </summary>
        <p>Firefox arbeitet mit einer globalen Community zusammen, die uns dabei unterstützt, unsere Produkte besser und das
        Internet sicherer und schöner für alle zu machen.</p>
      </details>
    </div>
  </section>

  <section class="c-animated-button">
    <div class="mzp-l-content">
        <button class="animated-button">
            {{ resp_img(
              url='img/firefox/challenge-the-default/logo-ctd.svg',
              optional_attributes={
              'loading': 'eager'
              })
            }}
        </button>
    </div>
  </section>

  <section class="mzp-l-content mzp-t-content-md c-ctd-footer">
    <h3>Mach mit!</h3>
    <p>Wenn du das Internet gemeinsam mit uns besser machen willst, <a href="http://mozilla.org">werde Teil unserer Community</a>.</p>
    <a class="mzp-c-button mzp-t-product">Jetzt Firefox wählen</a>
    <p class="text-bottom">Powered by Mozilla. Aus Liebe zum Web seit 1998.</p>
  </section>
{% endblock %}

{% block js %}
{{ js_bundle('challenge-the-default') }}
{% endblock %}
