{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/onboarding/onboarding-base.html" %}

{% block page_css %}
  {% stylesheet 'firefox_onboarding_fxa_complex' %}
{% endblock %}

{% block title %}
  {{ _('Your Firefox, everywhere') }}
{% endblock %}

{% block subtitle %}
  <h2>
    {# L10n: Line break below is for visual formatting only #}
    {{ _('Access your bookmarks, history, passwords, <br>open tabs and more from any device.') }}
  </h2>
{% endblock %}

{% block onboarding_content %}
  <section id="formula">
    <ol id="steps">
      <li class="step">
        <h3 class="step-header">{{ _('Get Firefox for Android and iOS') }}</h3>

        <ul id="mobile-dl-buttons">
          <li>
            <a rel="external" href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}" data-link-type="download" data-download-os="Android">
              {{ high_res_img('firefox/android/btn-google-play.png', {'alt': _('Get it on Google Play'), 'width': '152', 'height': '45', 'l10n': True}) }}
            </a>
          </li>
          <li>
            <a rel="external" href="{{ firefox_ios_url('mozorg-fx-onboarding-fxa-complex') }}" data-link-type="download" data-download-os="iOS">
              <img src="{{ l10n_img('firefox/ios/btn-app-store.svg') }}" alt="{{ _('Download on the App Store') }}" width="152" height="45">
            </a>
          </li>
        </ul>
      </li>

      <li class="step" id="step-fxa">
        <h3 class="step-header" id="fxa-iframe-config" data-host="{{ settings.FXA_IFRAME_SRC }}" data-mozillaonline-host="{{ settings.FXA_IFRAME_SRC_MOZILLAONLINE }}">{{ _('Create an account') }}</h3>

        <div id="fxa-wrapper">
          <iframe id="fxa" scrolling="no" data-src="{{ settings.FXA_IFRAME_SRC }}?utm_campaign=fxa-embedded-form&amp;utm_medium=referral&amp;utm_source=firstrun&amp;utm_content=fx-{{ version }}&amp;entrypoint=firstrun&amp;service=sync&amp;context=iframe&amp;style=chromeless&amp;haltAfterSignIn=true"></iframe>
        </div>
      </li>

      <li class="step step-solution">
        <h3 class="step-header">{{ _('Stay in sync &mdash; automatically!') }}</h3>

        {{ high_res_img('firefox/onboarding/sync.png', {'width': '246', 'height': '240'}) }}
      </li>
    </ol>

    <div class="operator" id="plus">+</div>
    <div class="operator" id="equals">=</div>
  </section>
{% endblock %}

{% block js %}
  {% javascript 'firefox_firstrun' %}
{% endblock %}
