{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base-resp.html" %}

{% block page_title %}Firefox on your mobile device{% endblock %}
{% block body_id %}mobile-platforms{% endblock %}

{% block site_css %}
  {{ css('firefox_platforms') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a href="{{ url('mozorg.home') }}">{{_('Home')}}</a> >
    <a href="{{ url('firefox.fx') }}#mobile">{{_('Mobile')}}</a> >
    <span>{{_('Requirements')}}</span>
  </nav>
{% endblock %}

{% block content %}

<div id="main-feature">
  {{ mobile_download_button('download-mobile', 'mobile_small') }}
  <hgroup>
    <h1 class="large">{{_('Firefox on your mobile device')}}</h1>
    <h2>{{_('To find out if Firefox works on your phone, choose your manufacturer from the list below.')}}</h2>
  </hgroup>


</div>

<div id="main-content">
<ul id="platforms-list">
  {% for platform in devices %}
  <li class="platforms-platform">
    <ul class="platforms-manufacturer">
    {% for manufacturer in devices[platform]['manufacturers'] %}
      <li class="expander expander-{{ loop.cycle('even', 'odd') }}">
        <h4 class="expander-header">{{ manufacturer }}</h4>
        <ul class="platforms-device expander-content">
        {% for device in devices[platform][manufacturer] %}
          <li>{{ device }}</li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<div class="sidebar">

<div class="reference">
  <h4>{{_('Android')}}</h4>
  <p>{{_('Firefox is compatible with Android 2.2 and above devices.')}}</p>
  <p>{{_('Installation requires about 16 MB internal storage and 512 MB of RAM')}}</p>
</div>

<h4>{{_('Give Feedback or Get Help')}}</h4>

{% trans %}
<p>Although your device may support Firefox, we have not tested Firefox on
every Android device. Tell us about your experience using Firefox on your
device. Ask questions or give feedback on the <a
href="http://support.mozilla.org/kb/Mobile+Help+and+Tutorials">Firefox Mobile
Support Forum</a>.</p>
{% endtrans %}
</div>

<div id="other">

<p>{{_('See a full list of supported and unsupported devices by visiting our <a
href="https://wiki.mozilla.org/Mobile/Platforms/Android#System_Requirements">System
Requirements wiki</a>.')}}</p>

</div>

</div>

{% endblock %}

{% block js %}
  {{ js('firefox_platforms') }}
{% endblock %}
