// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: "/media/fonts";
$image-path: "/media/protocol/img";

@import "../../../protocol/css/includes/lib";
@import "../../../protocol/css/components/call-out";
@import "../../../protocol/css/components/feature-card";
@import "../../../protocol/css/components/hero";
@import "../../../protocol/css/components/modal";
@import "../../../protocol/css/components/newsletter-form";
@import "../../../protocol/css/components/picto-card";
@import "../../../protocol/css/templates/card-layout";
@import "../../protocol/components/sub-navigation";

.contribute-intro {
    padding-bottom: 90%;
    position: relative;
    overflow: hidden;
    padding-top: 0;

    @media #{$mq-md} {
        padding-bottom: 80%;
    }

    @media #{$mq-lg} {
        padding-bottom: $layout-xl;
    }

    @media #{$mq-xl} {
        padding-bottom: $layout-xl + $layout-md;
    }

    .contribute-intro-content {
        @media #{$mq-lg} {
            margin-top: $layout-xl;
            max-width: 40%;
        }
    }

    .contribute-intro-heading {
        @include text-display-lg;
        padding-bottom: $spacing-md;
    }

    .contribute-intro-media-wrapper {
        position: absolute;
        width: 100%;
        @include bidi(((left, -10px, auto),(right, auto, -10px),));


        @media #{$mq-lg} {
            left: auto;
            width: 50%;
            top: 0;
            @include bidi(((right, -25px, auto),(left, auto, -25px),));
        }
    }
}

.contribute-hero {
    margin-bottom: $layout-md;
    padding-top: $layout-sm;
    padding-bottom: $layout-sm;
    background-color: $color-marketing-gray-20;

    @media #{$mq-lg} {
        margin-bottom: $layout-lg;
    }
}

.contribute-card-container {
    @media #{$mq-sm} {
        display: flex;
        flex-wrap: wrap;
    }

    .contribute-card {
        flex: 1 0 45%;
        display: flex;

        @media #{$mq-md} {
            flex: auto;
        }
    }

    .contribute-card-wrapper {
        background: $color-white;
        display: flex;
        flex-direction: column;

        &:hover,
        &:focus {
            @include transform(translateZ(0) scale(1.02));
            backface-visibility: hidden;
            transition: transform 0.1s ease-in-out,
                -webkit-transform 0.1s ease-in-out;
        }
    }

    .contribute-card-content {
        flex: 1;
        padding: $spacing-md;
    }

    .contribute-card-content-tags {
        margin-bottom: $spacing-sm;
        min-height: $layout-md;
    }

    .contribute-card-tag-bold {
        font-weight: bold;
    }
}

.contribute-banner-wrapper {
    max-width: $content-max;
    min-width: $content-xs;
    margin: 0 auto;
    box-sizing: border-box;

    @media #{$mq-md} {
        padding: 0;
    }

    @media #{$mq-lg} {
        padding: $layout-xs $layout-xl;
        padding-bottom: 0;
        margin-bottom: $layout-xl;
    }
}

.contribute-banner {
    padding: $layout-xl $layout-md $layout-md;

    @media #{$mq-lg} {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 260px;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }

    .contribute-banner-content {
        @media #{$mq-lg} {
            @include bidi(((margin-left, 200px, auto),(margin-right, auto, 200px),));
            width: 60%;
            max-width: 495px;
        }
    }

    .contribute-banner-cta {
        flex: 1 0 auto;

        @media #{$mq-lg} {
            @include bidi(((margin-left, $layout-xl, auto),(margin-right, auto, $layout-xl),));
        }
    }
}

.contribute-banner-gethelp {
    background-image: url("/media/img/contribute/contribute-gethelp-banner-bg.jpg");
    background-size: cover;
    color: $color-white;

    @media #{$mq-lg} {
        margin-bottom: $layout-lg;
    }

    .contribute-banner-gethelp-title {
        font-family: Inter, X-LocaleSpecific, sans-serif;
        @include font-size(24px);
        position: relative;

        @media #{$mq-lg} {
            @include font-size(40px);
        }

        &:before {
            content: "";
            display: block;
            background-image: url("/media/img/contribute/contribute-banner-gethelp-icon.svg");
            position: absolute;
            height: 40px;
            width: 40px;
            @include bidi(((left, 0, auto),(right, auto, 0),));
            top: -65px;

            @media #{$mq-lg} {
                top: auto;
                @include bidi(((left, -80px, auto),(right, auto, -80px),));
            }
        }
    }
}

.contribute-banner-problems {
    background-image: url("/media/img/contribute/contribute-problems-bulb.svg");
    background-size: 60px 150px;
    background-position: 10% -10px;
    background-repeat: no-repeat;

    @media #{$mq-sm} {
        background-size: 50px 150px;
        background-position: 8% -10px;
    }

    @media #{$mq-lg} {
        border: 4px solid $color-moz-light-gray;
        background-image: url("/media/img/contribute/contribute-problems-bulb.svg"),
            url("/media/img/contribute/contribute-problems-fly.svg");
        background-size: 86px 241px, 33%;
        background-position: 10% -45px, 96% 88%;
        background-repeat: no-repeat;
    }

    .contribute-banner-problems-title {
        @include font-size(24px);
        margin-left: $layout-xl;

        span {
            display: inline;
            background-color: #ffc900;
            box-shadow: 10px 0 0 #ffc900, -10px 0 0 #ffc900;
            @include box-decoration-break(clone);
        }

        @media #{$mq-lg} {
            margin-left: 0;
            @include font-size(40px);
        }

        .contribute-banner-problems-wrapper {
            margin-bottom: $spacing-md;
        }
    }
}

.newsletter-subheading {
    font-weight: bold;
    font-family: "Zilla Slab", Inter, X-LocaleSpecific, sans-serif;
    @include font-size(24px);
    line-height: 1.1;
    margin-bottom: $spacing-md;
}

.contribute-feature-container {
    position: relative;
}

.contribute-feature {
    padding-top: 85%;

    @media #{$mq-lg} {
        padding-top: 0;
    }

    @media #{$mq-lg} {
        margin-bottom: $layout-2xl;
        max-width: none;
    }

    .contribute-feature-media-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        @include bidi(((left, 0, auto),(right, auto, 0),));

        @media #{$mq-lg} {
            @include bidi(((left, 50%, auto),(right, auto, 50%),));
            width: 50%;
        }

        @media #{$mq-xl} {
            @include bidi(((left, 45%, auto),(right, auto, 45%),));
            width: 55%;
        }
    }

    .contribute-feature-content {
        position: relative;
        z-index: 100;
        @media #{$mq-lg} {
            width: 40%;
        }

        h2 {
            @include font-size(24px);
            @media #{$mq-lg} {
                @include font-size(48px);
            }
        }
    }
}

.contribute-mission {
    margin-bottom: $layout-xl;

    .contribute-mission-intro {
        text-align: center;
        margin-bottom: $layout-md;

        @media #{$mq-lg} {
            padding-left: $layout-2xl;
            padding-right: $layout-2xl;
        }
    }

    .contribute-mission-title {
        color: $color-white;
        background-color: $color-black;
        display: inline-block;
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;

        @media #{$mq-lg} {
            @include font-size(48px);
        }
    }

    .contribute-mission-cards {
        display: grid;
        grid-row-gap: $spacing-xl;

        @media #{$mq-md} {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: $spacing-lg;
        }

        @media #{$mq-lg} {
            padding-left: $layout-xl;
            padding-right: $layout-xl;
            grid-column-gap: $spacing-xl;
        }
    }

    .contribute-mission-card {
        padding: $spacing-md $spacing-md $spacing-md $spacing-2xl;
        border: 4px solid transparent;
        color: $color-black;
        text-decoration: none;

        &:hover,
        &:focus {
            border: 4px solid $color-marketing-gray-20;

            & > h3 {
                text-decoration: underline;
            }
        }

        h3 {
            @include font-size(24px);
            line-height: 1;
            margin-bottom: $spacing-xs;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                @include bidi(((left, -34px, auto),(right, auto, -34px),));
            }

            &.contribute-mission-learn-icon:before {
                background-image: url("/media/img/contribute/icon/M.svg");
            }

            &.contribute-mission-event-icon:before {
                background-image: url("/media/img/contribute/icon/cal.svg");
            }

            &.contribute-mission-donate-icon:before {
                background-image: url("/media/img/contribute/icon/heart.svg");
            }

            &.contribute-mission-follow-icon:before {
                background-image: url("/media/img/contribute/icon/twitter.svg");
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}
