// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../../sandstone/lib.less";

.sand #outer-wrapper {
    background: none;
}

.page-head {
    background-color: #fff;
    margin-top: 0;
    padding-top: 5.714em;

    @media only screen and (max-width: @breakTablet) {
        padding-top: 2em;
    }

    h2 {
        text-align: center;
        line-height: 1.2;
    }
}

.page-title {
    color: @mozillaRed;
    margin-top: @baseLine * 2;
    .font-size(72px);
    text-align: center;

    @media only screen and (max-width: @breakDesktop) {
        .font-size(56px);
    }

    @media only screen and (max-width: @breakTablet) {
        .font-size(40px);
    }
}

main {
    h2 {
        margin: (@baseLine * 3) 0;
        text-align: center;

        @media only screen and (max-width: @breakTablet) {
            margin: (@baseLine * 2) 0;
        }
    }
}

.simple,
.challenging {
    text-align: center;
    list-style: none;
    .clearfix;
}

.tasks-challenging {
    padding-bottom: 80px;

    @media only screen and (max-width: @breakTablet) {
        padding-bottom: 0;
    }
}

.task {
    position: relative;
    display: inline-block;
    margin-left: 0;
    width: 300px;
    vertical-align: top;

    @media only screen and (max-width: @breakDesktop) {
        width: 240px;
    }

    @media only screen and (max-width: @breakTablet) {
        display: block;
        margin: 0 auto @baseLine;
        width: 400px;
    }

    @media only screen and (max-width: 360px) {
        width: 280px;
    }

    h3 {
        display: inline-block;
        .font-size(16px);

        &:before {
            display: block;
            content: '';
            .at2x('/media/img/contribute/signup/tasks-sprite.png', 594px, 400px);
            background-position: -10px -10px;
            background-repeat: no-repeat;
            margin: 0 auto @baseLine;
            border: 5px solid #d1d2d3;
            border-radius: 50%;
            width: 185px;
            height: 185px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -15px -10px;
                .background-size(446px 300px);
                width: 110px;
                height: 110px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -10px -10px;
                .background-size(594px 400px);
                width: 185px;
                height: 185px;
            }
        }

        &.fx-mobile:before {
            background-position: -205px -10px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -163px -10px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -204px -10px;
            }
        }

        &.encryption:before {
            background-position: -399px -10px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -314px -19px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -399px -10px;
            }
        }

        &.coding:before {
            background-position: -10px -205px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -20px -157px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -10px -205px;
            }
        }

        &.devtools:before {
            background-position: -205px -205px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -165px -165px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -205px -205px;
            }
        }

        &.stumbler:before {
            background-position: -399px -205px;

            @media only screen and (max-width: @breakDesktop) {
                background-position: -313px -160px;
            }

            @media only screen and (max-width: @breakTablet) {
                background-position: -399px -205px;
            }
        }
    }

    h3:hover:before,
    h3:focus:before,
    h3:hover span {
        border-color: #0c99d5;
    }

    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }

    .outline-button {
        display: inline-block;
        color: #0c99d5;
        margin: 0 auto;
        padding: @baseLine;
        border: 2px solid #d1d2d3;
        border-radius: 8px;
        width: 150px;
        line-height: 1.3;
    }
}

.tooltip-trigger {
    display: inline-block;
    position: relative;
    top: -30px;
    right: 5px;
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;

    span {
        .visually-hidden;
    }

    .info-icon {
        width: 25px;
        height: 25px;
    }

    .info-icon-background {
        fill: #d1d2d3;
    }

    .info-icon-txt {
        fill: #fff;
    }

    &:hover {
        .info-icon-background {
            fill: #909090;
        }
    }
}

.tooltip {
    position: absolute;
    top: 90px;
    left: -43px;
    background-image: none;
    background-color: #fff;
    color: #32333a;
    padding: 15px 15px 0;
    border: 2px solid #eee;
    .open-sans-light;
    .font-size(14px);
    line-height: 1.3;
    text-shadow: none;
    min-height: 90px;
    box-shadow: 2px 2px 6px #E0E0E0;
    z-index: 2;

    @media only screen and (max-width: @breakDesktop) {
        top: 15px;
        left: -72px;
    }

    @media only screen and (max-width: @breakTablet) {
        top: 90px;
        left: 10px;
    }

    @media only screen and (max-width: 360px) {
        left: 0;
        max-width: 280px;
    }

    &:after {
        right: 10px;
        left: auto;
        border-color: #fff transparent;

        @media only screen and (max-width: 360px) {
            right: 32px;
        }
    }
}

.hidden {
    display: none;
}
