{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<aside class="mzp-c-notification-bar affiliate-notification hide-from-legacy-ie">
  {% if not affiliate_message %}
    {% set attrs = 'href="' ~ url('privacy.notices.websites') ~ '" target="_blank"' %}
    {{ ftl('affiliate-notification-message', attrs=attrs) }}
  {% else %}
    {{ affiliate_message }}
  {% endif %}
  <div class="affiliate-notification-options">
    <button class="affiliate-notification-ok mzp-c-button mzp-t-neutral mzp-t-sm" type="button">
      {{ ftl('affiliate-notification-ok') }}
    </button>
    <button class="affiliate-notification-reject mzp-c-button mzp-t-neutral mzp-t-sm" type="button">
      {{ ftl('affiliate-notification-reject') }}
    </button>
  </div>
  <button class="mzp-c-notification-bar-button" type="button">
    {{ ftl('ui-close') }}
  </button>
</aside>
