{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% if translations|length > 1 %}
<form id="lang_form" method="get" action="#">
  <label for="page-language-select">{{ _('Language') }}</label>
  <select id="page-language-select" name="lang" dir="ltr">
    {% for code, label in translations|dictsort -%}
      {# Don't escape the label as it may include entity references
       # like "Português (do&nbsp;Brasil)" (Bug 861149) #}
      <option lang="{{ code }}" value="{{ code }}"{{ code|ifeq(LANG, " selected") }}>{{ label|safe|replace('English (US)', 'English') }}</option>
    {% endfor %}
  </select>
  <noscript>
    <button type="submit">{{ _('Go') }}</button>
  </noscript>
</form>
{% endif %}
