@import "../sandstone/sandstone.less";

#masthead h1 {
    padding: @baseLine 0;
}

#main-feature .download-button-small {
    position: absolute;
    top: 0;
    right: 48px;
}

.stacked h1 {
    font-size: 32px;
    letter-spacing: -1px;
}

.stacked h1 span {
    display: block;
}
