// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import "../../../protocol/css/includes/lib";
@import "../../../protocol/css/components/hero";
@import "../../../protocol/css/components/billboard";
@import "../../../protocol/css/templates/card-layout";
@import "../../../protocol/css/components/call-out";

/* -------------------------------------------------------------------------- */
// Custom layout

ul li span {
    font-weight: bold;
}

.mzp-c-call-out-compact.mzp-t-product-firefox.mzp-t-firefox {
    background-color: $color-marketing-gray-20;

    .fx-privacy-link {
        margin-bottom: 0;
    }
}

.mzp-l-content.mzp-t-content-md {
    p {
        text-align: left;
    }
}

.l-content-image {
    max-width: $content-lg;
}


.l-content-columns {
    text-align: left;
    display: inline-block;

    @media #{$mq-lg} {
        column-gap: $spacing-xl;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h3 {
        @include text-title-sm;
    }
}

section.mzp-c-hero {
    padding: 0;
    .mzp-c-hero-subtitle {
        @include text-title-sm;
    }
}

.section-title {
    @include text-title-sm;
    text-align: center;
}

/* -------------------------------------------------------------------------- */

.mzp-c-call-out.tracking {
    background-color: #fff;
    margin-bottom: 50px;
}
