// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/templates/card-layout';
@import '../../../protocol/css/components/feature-card';

.mzp-c-hero h1 {
    @include text-title-xl;
    padding-top: $spacing-lg;
}

.hero-content {
    margin: 0 auto;
    max-width: $content-lg;
    text-align: center;
    @media #{$mq-xs} {
        max-width: $content-xs;
    }
    @media #{$mq-sm} {
        max-width: $content-sm;
    }
    @media #{$mq-md} {
        max-width: $content-md;
    }
}

.features {
    margin-bottom: $spacing-2xl;
}

.features.feature-3 {
    margin-bottom: none;
}

/* -------------------------------------------------------------------------- */
// Key features sections

.key-features-section .key-feature {
    // background-size: 420px 270px;
    // padding-top: 290px;

    // &.bookmarks-feature-1 {
    //     background-image: url('/media/img/firefox/features/thumbnails/bookmarks.png');
    // }

    // &.bookmarks-feature-2 {
    //     background-image: url('/media/img/firefox/features/thumbnails/bookmarks/bookmarks-sync.png');
    // }

    // &.bookmarks-feature-3 {
    //     background-image: url('/media/img/firefox/features/thumbnails/bookmarks/bookmarks-addons.png');
    // }

    // &.fast-feature-1 {
    //     background-image: url('/media/img/firefox/features/thumbnails/fast/low-memory.jpg');
    // }

    // &.fast-feature-2 {
    //     background-image: url('/media/img/firefox/features/thumbnails/fast/multi-tabs.jpg');
    // }

    // &.fast-feature-3 {
    //     background-image: url('/media/img/firefox/features/thumbnails/fast/gaming.jpg');
    // }

    // &.independent-feature-1 {
    //     background-image: url('/media/img/firefox/features/thumbnails/independent/no-strings.jpg');
    // }

    // &.independent-feature-2 {
    //     background-image: url('/media/img/firefox/features/thumbnails/independent/what-you-see.jpg');
    // }

    // &.independent-feature-3 {
    //     background-image: url('/media/img/firefox/features/thumbnails/independent/mission.jpg');
    // }

    // &.memory-feature-1 {
    //     background-image: url('/media/img/firefox/features/thumbnails/memory/fast.png');
    // }

    // &.memory-feature-2 {
    //     background-image: url('/media/img/firefox/features/thumbnails/memory.png');
    // }

    // &.memory-feature-3 {
    //     background-image: url('/media/img/firefox/features/thumbnails/private-browsing.jpg');
    // }

    // &.password-manager-feature-1 {
    //     background-image: url('/media/img/firefox/features/thumbnails/password-manager.png');
    // }

    // &.password-manager-feature-2 {
    //     background-image: url('/media/img/firefox/features/thumbnails/password-manager/firefox-account.png');
    // }

    // &.password-manager-feature-3 {
    //     background-image: url('/media/img/firefox/features/thumbnails/password-manager/addons.png');
    // }

    &.private-browsing-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/private/no-trace.jpg');
    }

    &.private-browsing-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/private/zero-chill.jpg');
    }

    &.private-browsing-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/private/baggage.jpg');
    }

    &.send-tabs-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/send-tabs/free-up-your-inbox.jpg');
    }

    &.send-tabs-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/send-tabs/device-hop-like-a-pro.jpg');
    }

    &.send-tabs-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/send-tabs/share-without-a-care.jpg');
    }

    &.sync-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/sync/personal.jpg');
    }

    &.sync-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/sync/secure.jpg');
    }

    &.sync-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/sync/accessible.jpg');
    }
}
