// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../hubs/news-feed';
@import '../../hubs/cards-block';
@import '../../quantum/key-features';


.main-header h1:before {
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 80px;
    margin: 0 auto 20px;
    width: 70px;
}

#firefox-features-bookmarks .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/bookmarks-white.svg');
}

#firefox-features-fast .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/fast-white.svg');
}

#firefox-features-independent .main-header h1:before {
    background-image: url('/media/protocol/img/logos/firefox/browser/logo-md.png');
    background-size: 70px 70px;
}

#firefox-features-memory .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/memory-white.svg');
}

#firefox-features-password-manager .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/password-manager-white.svg');
    width: 124px;
}

#firefox-features-private .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/private-white.svg');
}

#firefox-features-send-tabs .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/send-tabs-white.svg');
}

#firefox-features-sync .main-header h1:before {
    background-image: url('/media/img/firefox/features/quantum/icons/sync-white.svg');
}

/* -------------------------------------------------------------------------- */
// Key features sections

.key-features-section .key-feature {
    background-size: 420px 270px;
    padding-top: 290px;

    &.bookmarks-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/bookmarks.png');
    }

    &.bookmarks-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/bookmarks/bookmarks-sync.png');
    }

    &.bookmarks-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/bookmarks/bookmarks-addons.png');
    }

    &.fast-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/fast/low-memory.jpg');
    }

    &.fast-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/fast/multi-tabs.jpg');
    }

    &.fast-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/fast/gaming.jpg');
    }

    &.independent-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/independent/no-strings.jpg');
    }

    &.independent-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/independent/what-you-see.jpg');
    }

    &.independent-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/independent/mission.jpg');
    }

    &.memory-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/memory/fast.png');
    }

    &.memory-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/memory.png');
    }

    &.memory-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/private-browsing.jpg');
    }

    &.password-manager-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/password-manager.png');
    }

    &.password-manager-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/password-manager/firefox-account.png');
    }

    &.password-manager-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/password-manager/addons.png');
    }

    &.private-browsing-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/private/no-trace.jpg');
    }

    &.private-browsing-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/private/zero-chill.jpg');
    }

    &.private-browsing-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/private/baggage.jpg');
    }

    &.send-tabs-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/send-tabs/free-up-your-inbox.jpg');
    }

    &.send-tabs-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/send-tabs/device-hop-like-a-pro.jpg');
    }

    &.send-tabs-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/send-tabs/share-without-a-care.jpg');
    }

    &.sync-feature-1 {
        background-image: url('/media/img/firefox/features/thumbnails/sync/personal.jpg');
    }

    &.sync-feature-2 {
        background-image: url('/media/img/firefox/features/thumbnails/sync/secure.jpg');
    }

    &.sync-feature-3 {
        background-image: url('/media/img/firefox/features/thumbnails/sync/accessible.jpg');
    }

    @media #{$mq-tablet} {
        background-position: top 40px right;
        background-size: 300px auto;
        min-height: 240px;
        padding-top: 0;

        &:nth-child(2n) {
            background-position: top 40px left;
        }
    }

    @media #{$mq-desktop} {
        background-position: top right;
        background-size: 400px auto;
        min-height: 300px;

        &:nth-child(2n) {
            background-position: top left;
        }
    }

    @media #{$mq-desktop-wide} {
        background-size: 500px auto;
        min-height: 400px;

        .key-feature-content {
            padding-top: 40px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// News section

.news {
    // show the full-width title and hide the other one
    .section-title-full-width {
        @include font-size-level3;
        background: #0060df;
        background: url('/media/img/firefox/quantum/fox-tail-fresh-from-our-blog.png') bottom -300px center no-repeat,
                    linear-gradient(148deg, #0080ff 7%, #00edff 100%);
        color: #fff;
        display: block;
        margin: 40px 0;
        max-width: none;
        text-align: center;
    }

    .content .section-title {
        display: none;
    }
}

.news-feed {
    .entry {
        a.entry-block {
            &:link,
            &:visited {
                h2,
                h3 {
                    color: #000;
                }
            }

            &:hover,
            &:active,
            &:focus {
                h2,
                h3 {
                    color: #0a84ff;
                }
            }
        }

        .cta-link {
            color: #0a84ff;
            display: inline-block;
            font-weight: bold;
            padding-right: 30px;
            position: relative;
            text-decoration: none;
            width: auto;

            &:before {
                background: url('/media/img/firefox/quantum/right-arrow-blue.svg');
                background-repeat: no-repeat;
                content: '';
                height: 19px;
                position: absolute;
                right: 0;
                transition: transform 0.2s ease;
                top: 4px;
                width: 13px;
            }

            &:after {
                background: #0a84ff;
                border-radius: 10px;
                content: '';
                display: block;
                height: 5px;
                margin-top: 8px;
                transition: transform 0.2s ease;
                width: calc(100% + 30px);
            }

            &:active,
            &:focus,
            &:hover {
                &:before {
                    transform: translateX(11px);
                }

                &:after {
                    transform: translateY(-5px);
                }
            }
        }

        @media #{$mq-tablet} {
            padding-left: 320px;

            img {
                margin-left: -320px;
            }
        }

        @media #{$mq-desktop} {
            padding-left: 520px;

            img {
                margin-left: -520px;
            }
        }
    }

    .entry-title {
        @include font-size-level4;
        font-weight: bold;
        line-height: 1.3;
    }
}

html[dir='rtl'] {
    .news-feed .entry .cta-link {
        padding-left: 30px;
        padding-right: 0;

        &:before {
            background: url('/media/img/firefox/quantum/left-arrow-blue.svg');
            left: 0;
            right: auto;
        }

        &:hover:before {
            transform: translateX(-11px);
        }
    }
}
