// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/templates/card-layout';
@import '../../../protocol/css/components/feature-card';

.c-hero {
    .c-hero-icon {
        margin-bottom: $spacing-xl;
    }

    .c-hero-title {
        @include text-title-xl;
    }

    .c-hero-desc {
        @include text-body-lg;
        margin-bottom: $spacing-xl;
    }
}

.c-hero-content {
    margin: 0 auto;
    text-align: center;

    @media #{$mq-md} {
        max-width: $content-md;
    }

    @media #{$mq-lg} {
        max-width: $content-lg;
    }
}

.c-features-links .mzp-c-card-picto-desc {
    font-weight: bold;
}

.section-title {
    text-align: center;

    @media #{$mq-md} {
        margin: $spacing-xl 0;
    }
}
