// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';

.send-tabs-video {
    margin: 60px auto 0;
    max-width: 700px;

    #video-wrap {
        display: block;
        height: 0;
        margin: 0 auto;
        padding-bottom: 56.25%;
        position: relative;
    }

    .video {
        height: 100%;
        left: 0;
        max-width: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    figcaption {
        @include visually-hidden();
    }
}
