// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';
@import '~@mozilla-protocol/core/protocol/css/components/section-heading';

.c-hero-desc {
    @include text-body-xl;
    margin-bottom: $layout-md;
}

// Add bottom margins when pictos stack on mobile.
// We should probably fix this upstream in Protocol.
.mzp-l-columns .mzp-c-picto {
    margin-bottom: $layout-md;

    @media #{$mq-md} {
        margin-bottom: 0;
    }
}

@media #{$mq-lg} {
    .main-content {
        margin-bottom: $layout-lg;

        .mzp-l-columns {
            row-gap: $layout-lg;
        }
    }
}

// Secondary content
.secondary-content {
    .mzp-c-section-heading {
        @include text-title-sm;
    }

    .mzp-t-picto-side .mzp-c-picto {
        @include bidi((
            (padding-left, $layout-md, 0),
            (padding-right, 0, $layout-md),
        ));
    }

    .mzp-c-picto-image {
        width: 24px;
    }

    .mzp-c-picto-heading {
        @include text-title-2xs;
    }
}
