// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/templates/card-layout';


.section-title {
    text-align: center;

    @media #{$mq-md} {
        margin: $spacing-xl 0;
    }
}

section.features.mzp-l-card-third {
    margin-bottom: $layout-lg;
}

section.main-content {
    margin-bottom: $layout-lg;
}

section.secondary-content {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    background-color: #f9f9fa;
    background-clip: padding-box;
}

.mzp-c-card-picto.mzp-c-card-picto-compact .mzp-c-card-picto-content {
    padding-left: 50px;
    .mzp-c-card-picto-title {
        @include text-title-xs;
    }
}

