// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';

@import '../../protocol/hubs/sub-nav';
@import '../../../protocol/css/includes/lib';
@import '../../../protocol/css/components/feature-card';
@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/components/call-out';
@import '../../../protocol/css/components/modal';


//* -------------------------------------------------------------------------- */
// Page specific variables and over-rides

main .mzp-l-content {
    max-width: 400px;

    @media #{$mq-md} {
        max-width: $content-max;
    }
}

//* -------------------------------------------------------------------------- */
// Hero

.mzp-c-hero {
    text-align: center;
}

.mzp-c-hero-desc {
    @include text-display-xxl;
    @include font-firefox;
    font-weight: bold;
    margin-bottom: $layout-md;

    p {
        margin-bottom: $spacing-lg;
    }
}

.mzp-c-button-download-container {
    margin-bottom: 0;
}

@media #{$mq-md} {
    .mzp-c-hero.mzp-has-image {
        align-items: center;
        background-image: url('/media/img/firefox/home/quantum/product.svg'), url('/media/img/firefox/home/quantum/product-bg.svg');
        background-position: left calc(50% + 348px) top 72px, top -110px left 48vw;
        background-repeat: no-repeat;
        background-size: 593px auto, 1055px auto;
        display: flex;
        min-height: 610px;
        text-align: left;
        box-sizing: border-box;
    }

    .mzp-l-content {
        width: 100%;
    }
}

//* -------------------------------------------------------------------------- */
// Feature cards

.mzp-c-card-feature {
    .mzp-c-card-feature-media-wrapper,
    .mzp-c-card-feature-content {
        min-width: 0; // because of https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
    }

    @media #{$mq-lg} {
        .mzp-c-card-feature-title {
            @include text-display-lg;
        }
    }
}


//* -------------------------------------------------------------------------- */
// Trio

.c-trio {

    h2 {
        @include text-display-lg;
        margin-top: $layout-lg;
        text-align: center;
    }

    h3 {
        @include text-display-sm;
    }

    ul {
        @include clearfix();
        margin-top: $layout-md;
        margin-bottom: $layout-lg;

        @media #{$mq-md} {
            margin-top: $layout-xl;
            margin-bottom: $layout-xl;
        }
    }

    li {
        background: top left no-repeat;
        margin-bottom: $layout-sm;
        padding-top: $layout-md;

        &.t-private {
            background-image: url('/media/img/firefox/home/quantum/icon-private.svg');
        }
        &.t-tracking {
            background-image: url('/media/img/firefox/home/quantum/icon-tracking.svg');
        }
        &.t-faster {
            background-image: url('/media/img/firefox/home/quantum/icon-faster.svg');
        }
        &.t-extensions {
            background-image: url('/media/img/firefox/home/quantum/icon-extensions.svg');
        }
        &.t-themes {
            background-image: url('/media/img/firefox/home/quantum/icon-theme.svg');
        }
        &.t-toolbar {
            background-image: url('/media/img/firefox/home/quantum/icon-toolbar.svg');
        }
    }

    p {
        margin-bottom: 0;
    }
}

.t-privacy {
    background-color: $color-purple-90;
    color: #fff;
    margin-bottom: $layout-xl;

    h2 {
        color: $color-pink-50;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        color: #fff;
    }
}

.t-custom {
    h2 {
        margin-top: $layout-sm;
    }
}

@media #{$mq-md} {
    .c-trio li {
        @include bidi(((float, left, right),));
        @include bidi(((margin-left, $layout-lg, margin-right, 0),));
        padding-top: $layout-lg;
        margin-bottom: 0;
        width: calc(#{100% / 3} - (#{$layout-lg} - (#{$layout-lg} / 3)));

        &:first-child {
            @include bidi(((margin-left, 0, margin-right, 0),));
        }
    }
}

//* -------------------------------------------------------------------------- */
// Comparison feature cards

.t-compare {
    background-color: $color-gray-20;
    padding-top: $layout-md;

    video {
        max-width: 480px;
    }
}

.t-sync img {
    max-width: 462px;
}
.t-smooth img {
    max-width: 468px;
}
.t-switch img {
    max-width: 553px;
}

@media #{$mq-md} {
    .t-compare {
        padding-top: $layout-lg;
    }
}

@media #{$mq-lg} {
    .t-compare {
        padding-top: $layout-xl;
    }
}


//* -------------------------------------------------------------------------- */
//

.mzp-c-call-out-compact.t-you {
    background-color: $color-purple-90;

    .mzp-c-call-out-title {
        color: $color-orange-50;
        margin-bottom: 0;
    }

    @media #{$mq-lg} {
        background: $color-off-black;
        padding-top: $layout-sm;

        .mzp-l-content {
            max-width: $content-max;
        }

        .mzp-c-call-out-container {
            &:before {
                margin-bottom: $layout-sm;
            }
        }

        .mzp-c-call-out-cta {
            justify-content: flex-start;
        }
    }
}
