{% extends "base.html" %}

{% block body_class %}sky{% endblock %}

{% block page_title_prefix %}Mozilla Firefox Web Browser — {% endblock %}

{% block site_css %}
  {{ css('firefox') }}
{% endblock %}

{% block extrahead %}
<meta name="og:image" content="{{ media('img/firefox/firefox-100.jpg') }}">
{% endblock %}

{% block site_header_nav %}
<nav role="navigation" id="nav-main">
  <ol role="menubar">
    <li class="first" id="nav-main-features"><a href="/en-US/firefox/features/" tabindex="0" aria-owns="nav-main-features-submenu" aria-haspopup="true">Desktop</a>
      <ol aria-expanded="false" id="nav-main-features-submenu">
        <li class="first"><a href="{{ url('mozorg.firefox_features') }}" tabindex="-1">Features</a></li>
        <li><a href="{{ url('mozorg.firefox_customize') }}" tabindex="-1">Customize</a></li>
        <li><a href="{{ url('mozorg.firefox_performance') }}" tabindex="-1">Performance</a></li>
        <li><a href="{{ url('mozorg.firefox_technology') }}" tabindex="-1">Technology</a></li>
        <li class="last"><a href="{{ url('mozorg.firefox_security') }}" tabindex="-1">Privacy &amp; Security</a></li>
      </ol>
    </li>
    <li id="nav-main-mobile"><a href="/en-US/mobile/" tabindex="0" aria-owns="nav-main-mobile-submenu" aria-haspopup="true">Mobile</a>
      <ol aria-expanded="false" id="nav-main-mobile-submenu">
        <li class="first"><a href="/en-US/mobile/" tabindex="-1">Download</a></li>
        <li><a href="/en-US/mobile/features/" tabindex="-1">Features</a></li>
        <li><a href="https://addons.mozilla.org/en-US/mobile/?browse=featured" tabindex="-1">Customize</a></li>
        <li class="last"><a href="/en-US/mobile/faq/" tabindex="-1">FAQ</a></li>
      </ol>
    </li>
    <li id="nav-main-releases" class=""><a href="/en-US/firefox/channel/" tabindex="0" aria-owns="nav-main-releases-submenu" aria-haspopup="true">Releases</a>
      <ol aria-expanded="false" id="nav-main-releases-submenu">
        <li class="first"><a href="/en-US/firefox/channel/" tabindex="-1">Overview</a></li>
        <li><a href="/en-US/firefox/aurora/" tabindex="-1">Firefox Aurora</a></li>
        <li><a href="/beta/" tabindex="-1">Firefox Beta</a></li>
        <li><a href="/en-US/firefox/" tabindex="-1">Firefox</a></li>
        <li class="last"><a href="/en-US/firefox/organizations/" tabindex="-1">Firefox for Organizations</a></li>
      </ol>
    </li>
    <li id="nav-main-addons"><a href="https://addons.mozilla.org/" tabindex="0" aria-owns="nav-main-addons-submenu" aria-haspopup="true">Add-ons</a>
      <ol aria-expanded="false" id="nav-main-addons-submenu">
        <li class="first"><a href="https://addons.mozilla.org/firefox/" tabindex="-1">Desktop Add-ons</a></li>
        <li><a href="https://addons.mozilla.org/mobile/" tabindex="-1">Mobile Add-ons</a></li>
        <li class="last"><a href="http://www.getpersonas.com/" tabindex="-1">Personas</a></li>
      </ol>
      </li>
      <li id="nav-main-support"><a href="http://support.mozilla.org/" tabindex="0" aria-owns="nav-main-support-submenu" aria-haspopup="true">Support</a>
      <ol aria-expanded="false" id="nav-main-support-submenu">
        <li class="first"><a href="http://support.mozilla.org/en-US/kb/" tabindex="-1">Desktop Support</a></li>
        <li class="last"><a href="http://support.mozilla.org/mobile" tabindex="-1">Mobile Support</a></li>
      </ol>
    </li>
    <li class="last" id="nav-main-about"><a href="/en-US/firefox/about/" tabindex="0" aria-owns="nav-main-about-submenu" aria-haspopup="true">About</a>
      <ol aria-expanded="false" id="nav-main-about-submenu">
        <li class="first"><a href="http://blog.mozilla.com/" tabindex="-1">Blog</a></li>
        <li><a href="/en-US/firefox/about/" tabindex="-1">About Firefox</a></li>
        <li><a href="http://www.mozilla.org/join" tabindex="-1">Join Mozilla</a></li>
        <li><a href="/en-US/about/participate/" tabindex="-1">Participate</a></li>
        <li><a href="/en-US/press/" tabindex="-1">Press Center</a></li>
        <li><a href="/en-US/firefox/brand/" tabindex="-1">Brand Toolkit</a></li>
        <li><a href="/en-US/about/careers.html" tabindex="-1">Careers</a></li>
        <li><a href="/en-US/about/partnerships.html" tabindex="-1">Partnerships</a></li>
        <li class="last"><a href="/en-US/about/contact.html" tabindex="-1">Contact Us</a></li>
      </ol>
    </li>
  </ol>
</nav>
{% endblock %}

{% block site_header_logo %}
<h2><img src="{{ media('img/firefox/template/header-logo.png') }}" alt="Mozilla Firefox" height="95" width="250"></h2>
{% endblock %}

{% block site_js %}
  {{ js('firefox') }}
{% endblock %}
