// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import 'includes/lib';
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

main {
    h1, h2, h3, h4, h5, h6 {
        @include font-base;
        line-height: $vpn-title-line-height;
    }

    .u-title-lg {
        @include font-size($vpn-title-md-size);
        line-height: 1.2;

        @media #{$mq-md} {
            @include font-size($vpn-title-lg-size);
        }
    }

    .u-title-md {
        @include font-size($vpn-title-sm-size);
        line-height: 1.2;

        @media #{$mq-md} {
            @include font-size($vpn-title-md-size);
        }
    }

    .u-body-lg {
        @include text-body-lg;
    }
}

.c-page-title {
    @include font-size($vpn-title-xl-size);
    line-height: 1.2;

    @media #{$mq-md} {
        @include font-size($vpn-title-2xl-size);
    }
}

.c-section-title {
    @include font-size($vpn-title-md-size);
    text-align: center;
    margin-bottom: $spacing-2xl;

    @media #{$mq-md} {
        @include font-size($vpn-title-lg-size);
    }

    &.t-small {
        @include font-size($vpn-title-xs-size);

        @media #{$mq-md} {
            @include font-size($vpn-title-sm-size);
        }
    }

    #mozilla-vpn-features & {
        color: $color-violet-60;
    }
}

.c-section-more {
    @include font-size($vpn-title-xs-size);
    font-weight: bold;
    text-align: center;

    @media #{$mq-md} {
        @include font-size($vpn-title-sm-size);
    }
}

.c-aside {
    text-align: center;
}

.c-guarantee {
    font-weight: bold;
}

.t-content-body {
    a:link,
    a:visited {
        color: $color-black;
        text-decoration: underline;

        &:hover,
        &:active,
        &:focus {
            color: $color-black;
            text-decoration: none;
        }
    }
}

// * -------------------------------------------------------------------------- */
// Press section

.c-press {
    background: $color-green-30;
    text-align: center;
    padding-top: $layout-md;
    padding-bottom: $layout-md;

    blockquote {
        @include font-base;
        border: none;
        padding: 0;
        margin-bottom: $layout-lg;

        p {
            @include text-body-xl;
            font-weight: normal;
        }

        @media #{$mq-lg} {
            margin-bottom: 0;
        }
    }
}

.c-footer-legal {
    @include text-body-sm;
    text-align: center;
}
