// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$font-path: '/media/protocol/fonts';
$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.vpn-downloads {
    background-color: $color-marketing-gray-10;
}

.vpn-download-header {
    text-align: center;
}

.vpn-download-primary-platform,
.vpn-download-secondary-list {
    margin-top: $layout-lg;

    .platform-body {
        h2 {
            @include font-base;
            @include text-body-xl;
        }

        p {
            color: $color-marketing-gray-60;
        }
    }
}

.vpn-download-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media #{$mq-xl} {
        flex-direction: row;
    }
}

// Primary platform styles
.vpn-download-primary-platform {
    .primary-platform {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 6px;
        box-shadow: $box-shadow-sm;
        padding: $spacing-xl;
        height: 315px;
        width: 330px;
        display: none;

        .platform-image {
            margin-bottom: $spacing-xl;
        }

        .current-platform-lede {
            color: $color-violet-70;
        }
    }
}

// Secondary platform styles
.vpn-download-secondary-list {
    .secondary-platform {
        display: flex;
        align-items: center;
        padding: 0 $spacing-lg;
        border-radius: 6px;
        box-shadow: $box-shadow-sm;
        height: 165px;
        max-width: 350px;

        img {
            display: block;
        }

        .platform-body {
            margin-left: $spacing-xl;
            margin-right: $spacing-2xl;

            p {
                margin-bottom: 0;
            }
        }

        .platform-download-link {
            margin-left: auto;

            .platform-download-icon {
                &:hover,
                &:focus,
                &:active {
                    fill: $color-marketing-gray-20;
                }
            }
        }
    }
}

// Style rules for dynamically rendering content based on platforms

/* stylelint-disable-next-line  */
.vpn-downloads {
    .js.osx & {
        .primary-platform.macos {
            display: block;
        }

        .secondary-platform.macos {
            display: none;
        }
    }
}
