// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.


.m24-c-careers {
    @include container;
    color: $m24-color-black;
    background-color: $m24-color-white;
    padding: $spacer-xl $container-padding;

    * {
        margin-bottom: 0;
    }
}

.m24-c-careers-title {
    font-size: $alias-text-title-h2;
    padding-bottom: $spacer-xl;
    text-wrap-style: balance;
}

.m24-c-careers-media {
    @include grid;
    padding-bottom: $spacer-xl;

    picture {
        display: grid; // removes line height so there's no extra space underneath
        grid-column: auto / span 6;
    }

    picture:nth-child(1),
    picture:nth-child(3) {
        justify-self: end;
    }
}

.m24-consider-cta-info {
    font-size: $alias-text-title-h4;
}

.m24-c-careers-cta {
    padding-top: $spacer-lg;
    text-align: right;
}

@media #{$mq-md} {
    .m24-c-careers-media {
        display: flex;
        gap: $grid-gutter;
    }
}

@media #{$mq-lg} {
    .m24-c-careers {
        @include grid;
    }

    .m24-c-careers-title {
        grid-column: 1/-1;
        padding-bottom: $spacer-xl;
    }

    .m24-c-careers-media {
        grid-column: 1/-1;
        grid-row: 2/4;
        padding: 0;

        picture {
            grid-column: auto / span 3;
        }
    }

    .m24-consider-cta-info {
        grid-column: 1/7;
    }

    .m24-c-careers-cta {
        grid-column: 7/-1;
        padding: 0;
        place-self: end;
    }
}
