// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

.m24-section-donate {
    background: $m24-color-light-pink;
}

.m24-c-donate {
    @include container;
    color: $m24-color-black;
    padding: $spacer-xl $container-padding;
}

.m24-c-donate-title {
    font-size: $alias-text-title-h2;
    margin-bottom: $spacer-lg;
    text-wrap-style: balance;
    font-weight: 600;
}

.m24-c-donate-media {
    img {
        display: block;
    }
}

.m24-c-donate-info {
    padding-top: $spacer-xl;
    font-size: $alias-text-title-h5;
}

.m24-c-donate-info-title {
    font-size: $alias-text-title-h4;
    margin-bottom: $spacer-xs;
}

.m24-c-donate-cta {
    margin: $spacer-lg 0 0;
    text-align: end;
}


@media #{$mq-lg} {
    .m24-c-donate {
        @include grid;
    }

    .m24-c-donate-title {
        grid-column: 1/7;
    }

    .m24-c-donate-media {
        grid-column: 1/7;
        grid-row: 2;
    }

    .m24-c-donate-info {
        @include bidi((
            (margin-left, $spacer-lg, 0),
            (margin-right, 0, $spacer-lg),
        ));
        grid-column: 7/13;
        grid-row: 2;
        padding-top: 0;
        text-wrap-style: balance;
    }

    .m24-c-donate-cta {
        grid-column: 7/13;
        grid-row: 1;
        margin: 0;
    }
}
