// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'vars/lib' as *;

.m24-c-gallery-container {
    @media #{$mq-md} {
        gap: $spacer-xl $grid-gutter;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: $spacer-xl;
    }

    @media #{$mq-lg} {
        grid-template-columns: repeat(12, 1fr);
    }

    & + .m24-c-section-cta {
        margin-top: $spacer-xl;
    }
}

.m24-c-gallery-tile {
    margin-bottom: $spacer-xl;

    .m24-c-gallery-tile-content > :last-child {
        margin-bottom: 0;
    }

    .m24-c-gallery-tile-image {
        margin-bottom: $spacer-sm;
    }

    .m24-c-gallery-tile-title {
        font-size: $text-title-md;
        text-decoration: underline 0.075em transparent;
        transition: text-decoration-color 150ms ease-in-out, color 150ms ease-in-out;
    }

    .m24-c-gallery-tile-cta > span {
        font-size: $text-body-lg;
        font-weight: bold;
        text-decoration: underline 0.075em transparent;
        transition: text-decoration-color 150ms ease-in-out, color 150ms ease-in-out;
    }

    @media #{$mq-lg} {
        grid-column: auto / span 3;
        margin-bottom: 0;

        &.m24-l-grid-third {
            grid-column: auto / span 4;
        }

        &.m24-l-grid-half {
            grid-column: auto / span 6;
        }

        &.m24-l-grid-two-thirds {
            grid-column: auto / span 8;
        }

        // Add the `.m24-l-grid-pair` class to the grid container for
        // a minimal grid of two spaced out tiles.
        .m24-l-grid-pair & {
            &:nth-child(odd) {
                grid-column: 2/6;
            }

            &:nth-child(even) {
                grid-column: 8/-2;
            }
        }
    }
}

.m24-c-gallery-tile-link {
    text-decoration: none;
    color: inherit;

    .m24-c-gallery-tile-image > * {
        outline: $border-width solid transparent;
        transition: outline-color 150ms ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
        .m24-c-gallery-tile-image > * {
            outline-color: $m24-color-dark-green;
        }

        .m24-c-gallery-tile-title,
        .m24-c-gallery-tile-cta > span {
            text-decoration-color: $m24-color-dark-green;
            color: $m24-color-dark-green;
        }
    }
}
