// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'vars/lib' as *;

.m24-c-intro {
    font-weight: 500;
    font-size: $text-body-lg;
    margin-bottom: $spacer-xl;
    text-wrap: balance;
    text-wrap-style: balance;

    &.m24-t-intro-snug {
        margin-bottom: 0;
    }

    > :last-child{
        margin-bottom: 0;
    }
}

.m24-c-intro-title {
    font-size: $text-title-xl;
    line-height: 1;
    margin-bottom: $spacer-sm;

    &.m24-t-sm {
        font-size: $text-title-sm;
    }

    &.m24-t-md {
        font-size: $text-title-md;
    }

    &.m24-t-lg {
        font-size: $text-title-lg;
    }

    &.m24-t-2xl {
        font-size: $text-title-2xl;
    }
}

.m24-c-intro-cta {
    text-align: end;
    margin-top: $spacer-md;
}

@media #{$mq-xl} {
    .m24-c-intro p {
        max-width: grid(9);
    }

    p.m24-c-intro-cta {
        max-width: 100%;
    }
}
