// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.


.m24-c-intro {
    font-weight: 500;
    font-size: $text-body-xl;
    margin-bottom: $spacer-xl;
    text-wrap: balance;
    text-wrap-style: balance;

    &.m24-t-intro-snug {
        margin-bottom: 0;
    }

    > :last-child{
        margin-bottom: 0;
    }
}

.m24-c-intro-title {
    font-size: $alias-text-title-h2;
    line-height: 1;
    margin-bottom: $spacer-sm;
    text-wrap: balance;
    text-wrap-style: balance;

    &.m24-t-lg {
        font-size: $alias-text-title-h3;
    }

    &.m24-t-2xl {
        font-size: $alias-text-title-h1;
    }
}

.m24-c-intro-cta {
    text-align: end;
    margin-top: $spacer-md;
}

@media #{$mq-xl} {
    .m24-c-intro p {
        max-width: grid(9);
    }

    p.m24-c-intro-cta {
        max-width: 100%;
    }
}
