// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'vars/lib' as *;


.m24-c-prose {
    @include grid;
    row-gap: var(--group-spacing);
}

.m24-c-prose-heading {
    grid-column: 1/-1;

    // Outranks .m24-c-intro's margin (rely on row-gap for spacing)
    .m24-c-prose > & {
        margin-bottom: 0;
    }
}

.m24-c-prose-body {
    font-size: $text-body-md;
    grid-column: 1/-1;
    line-height: $text-body-line-height;

    & > :last-child {
        margin-bottom: 0;
    }
}

@media #{$mq-lg} {
    .m24-c-prose {
        .m24-c-prose-body {
            grid-column: 1 / span $text-body-max-cols;
        }

        &.m24-l-two-columns {
            .m24-c-prose-heading {
                grid-column: 1 / span 6;

                p {
                    max-width: none;
                }
            }

            .m24-c-prose-body {
                grid-column: 7 / span 6;
            }

            &.m24-l-reversed {
                .m24-c-prose-heading {
                    grid-column: 7 / span 6;
                }

                .m24-c-prose-body {
                    grid-row: 1;
                    grid-column: 1 / span 6;
                }
            }
        }
    }
}
