// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// Adds a pseudo-element at the top of a section with an SVG mask to produce
// a decorative transition between sections.
@mixin m24-transition {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 40px;
        top: -40px;
        left: 0;
        right: 0;
        background: inherit;

        @media #{$mq-md} {
            height: 90px;
            top: -90px;
        }
    }
}

@supports (clip-path: url('/media/img/m24/pixel-transition.svg#pixel01')) {
    .m24-t-transition-01 {
        @include m24-transition;

        &::before {
            clip-path: url('/media/img/m24/pixel-transition.svg#pixel01');
        }
    }

    .m24-t-transition-02 {
        @include m24-transition;

        &::before {
            clip-path: url('/media/img/m24/pixel-transition.svg#pixel02');
        }
    }

    .m24-t-transition-03 {
        @include m24-transition;

        &::before {
            clip-path: url('/media/img/m24/pixel-transition.svg#pixel03');
        }
    }

    // Adds sufficient bottom padding for the transition on the following section to overlap
    .m24-t-transition-next::after {
        content: '';
        display: block;
        padding-bottom: 50px;

        @media #{$mq-md} {
            padding-bottom: 100px;
        }
    }
}
