// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.
@use '../../m24/vars/lib' as *;
@use './vars' as advars;
@use './mixins' as admixins;


.mzp-c-button.mza-c-contact-button {
    @include admixins.text-button-md;
    border-radius: 0;
    color: #fff;
    margin-top: 2rem;
    padding-block: 0.75rem;
}

.mza-c-home-contact-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-top: 1px solid advars.$color-ads-off-black;

    .mza-hgroup {
        margin-top: 2rem;
    }

    .cell.justify-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mzp-c-button.mza-c-contact-button {
        margin-top: 2rem;

        &:hover {
            background-color: white;
        }
    }
}

@media #{$mq-md} {
    .mza-c-home-contact-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: $spacing-2xl;

        .mza-figure {
            margin-top: -1px;
        }
    }
}
