@use './vars' as advars;
@use '../../m24/vars/lib' as *;

.mozads-c-brands {
    background-color: advars.$color-ads-off-black;
    color: white;
    text-align: center;
    padding: $spacer-xl 0;

    .mozads-c-brands-container {
        margin: 0 auto;
        padding: 0 var(--container-padding);
        max-width: 1440px;
        z-index: 1;
        position: relative;
    }

    .mozads-c-brands-logos {
        margin-top: $spacer-md;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            max-height: 40px;
        }
    }
}
