@use '../../m24/vars/lib' as *;
@use './vars' as advars;

.mozads-c-main-dark-section {
    background-color: advars.$color-ads-off-black;

    * {
        color: white;
    }

    hr {
        margin: $spacer-lg 0;
    }
}

@media #{$mq-md} {
    .mozads-c-main-dark-section {
        hr {
            margin: $spacer-xl 0;
        }
    }
}
