<div id="get-device-wrapper">
  <div id="get-device" class="modal-content">
    <div class="content">
      <h2>{{_('We work with a number of providers to offer Firefox OS on a variety of devices.')}}</h2>
      <p id="provider-text-multi">{{_('Choose one from the list below to get a Firefox OS smartphone in your country.')}}</p>
      <p id="provider-text-single">{{_('Click on the provider below to get a Firefox OS smartphone in your country.')}}</p>
      <section id="provider-links">
        <div class="provider" data-country="ar">
          <h3>{{ _('Argentina') }}</h3>
          <ul>
            <li><a class="movistar" href="http://www.tiendamovistar.com.ar/product/ZTE-Open-II-Negro,3207,245.aspx">Movistar</a></li>
          </ul>
        </div>
        <div class="provider" data-country="ci">
          <h3>{{_('Ivory Coast')}}</h3>
          <ul>
            <li><a class="orange" href="http://www.orange.ci/telephones/offre-orange-klif.html">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="cl">
          <h3>{{_('Chile')}}</h3>
          <ul>
            <li><a class="movistar" href="http://www.movistar.cl/equipos/catalogo/producto/847/contrato/">Alcatel One Touch Fire</a></li>
            <li><a class="movistar" href="http://www.movistar.cl/equipos/alcatel-fire-c">Alcatel One Touch Fire C</a></li>
          </ul>
        </div>
        <div class="provider" data-country="cm">
          <h3>{{ _('Cameroon') }}</h3>
          <ul>
            <li><a class="orange" href="http://www.orange.cm/fr/smartphones/">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="co">
          <h3>{{_('Colombia')}}</h3>
          <ul>
            <li><a class="movistar" href="http://www.movistar.co/tienda/Open-Catalog/Equipos/Celulares/c/celulares?q=%3Aranking%3ASistema+Operativo%3AFirefox+OS">Movistar</a></li>
          </ul>
        </div>
        <div class="provider" data-country="cz">
          <h3>{{ _('Czech Republic') }}</h3>
          <ul>
            <li><a class="t-mobile" href="https://www.t-mobile.cz/telefony/detail-zarizeni/-/zarizeni/Alcatel/ALCATEL.ONETOUCH.FIRE.E/PO18220/?preferInstallmentPayment=true">Alcatel One Touch Fire E</a></li>
          </ul>
        </div>
        <div class="provider" data-country="de">
          <h3>{{_('Germany')}}</h3>
          <ul>
            <li><a class="o2" href="http://www.o2online.de/eshop/handy/alcatel-onetouch-fire-e-anthrazit">Alcatel One Touch Fire E</a></li>
            <li><a class="ebay" href="http://www.ebay.de/itm/eBay-Exklusiv-ZTE-OPEN-C-Neuesten-Firefox-OS-DualCore-1-2-GHz-4-0-3G-Smartphone-/131151681046?ssPageName=STRK:MESE:IT">ZTE Open C</a></li>
          </ul>
        </div>
        <div class="provider" data-country="eg">
          <h3>{{ _('Egypt') }}</h3>
          <ul>
            <li><a class="orange" href="https://www.mobinil.com/en/shop/offers-promotions/klif-bundle-with-control-free-176-offers">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="fr">
          <h3>{{_('France')}}</h3>
          <ul>
            <li><a class="zte-france" href="http://www.ztefrance.com/firefox-open-c.php">ZTE France</a></li>
            <li><a class="e-leclerc" href="http://www.leclercmobile.fr/telephones-mobiles/notre-gamme/mobiles/Zte_Open-C.aspx">E.Leclerc</a></li>
            <li><a class="darty" href="http://www.darty.com/nav/achat/gps_communication/telephone_mobile/telephone_portable/zte_open_c_bl_ls.html">Darty</a></li>
            <li><a class="ldlc" href="http://www.ldlc.com/fiche/PB00171571.html">LDLC</a></li>
            <li><a class="materiel-net" href="http://www.materiel.net/smartphone/zte-open-c-bleu-107188.html">Materiel.net</a></li>
            <li><a class="cdiscount" href="http://www.cdiscount.com/telephonie/telephone-mobile/zte-open-c-bleu/f-144040207-zteopencbl.html">Cdiscount</a></li>
            <li><a class="rue-du-commerce" href="http://www.rueducommerce.fr/Telephonie/Smartphone/Smartphone-classique/ZTE/4926226-Open-C-bleu.htm">Rue du commerce</a></li>
            <li><a class="webdistrib" href="http://www.webdistrib.com/cat/Smartphone-ZTE-Open-C-Night-Blue-Firefox-OS-__p_925735.html">Webdistrib</a></li>
            <li><a class="mistergooddeal" href="http://www.mistergooddeal.com/telephone-mobile/telephone/zte-open-c-bleu.htm">Mistergooddeal</a></li>
            <li><a class="topachat" href="http://www.topachat.com/pages/detail2_cat_est_telephonie_puis_rubrique_est_wt_smartp_puis_ref_est_tl10012764.html">Top Achat</a></li>
          </ul>
        </div>
        <div class="provider" data-country="gr">
          <h3>{{_('Greece')}}</h3>
          <ul>
            <li><a class="cosmote" href="https://www.cosmote.gr/mobile/cosmoportal/cosmote.portal?_nfpb=true&amp;_pageLabel=HDV&amp;sku=20290034&amp;s=0">Alcatel One Touch Fire C</a></li>
          </ul>
        </div>
        <div class="provider" data-country="gt">
          <h3>{{ _('Guatemala') }}</h3>
          <ul>
            <li><a class="movistar" href="http://www.movistar.com.gt/tienda_gt/Open-Catalog/Productos/Celulares/Smartphone/ZTE-Open-II/p/ZTE-Open-2">ZTE Open II</a></li>
          </ul>
        </div>
        <div class="provider" data-country="hu">
          <h3>{{_('Hungary')}}</h3>
          <ul>
            <li><a class="t-mobile" href="https://www.telekom.hu/shop/termek/ALCATEL+onetouch+Fire+E+6015--ALCOTFIREE6015SLSLT?contractType=newPostpaid&amp;commitmentPeriod=12&amp;preselectedTariffplanId=prod3220038">Alcatel One Touch Fire E</a></li>
          </ul>
        </div>
        <div class="provider" data-country="in">
          <h3>{{ _('India') }}</h3>
          <ul>
            <li><a class="spice" href="http://www.saholic.com/mobile-phones/spice-fire-one-mi-fx2-1012486">Spice Fire One MI FX2</a></li>
          </ul>
        </div>
        <div class="provider" data-country="jp">
          <h3>{{ _('Japan') }}</h3>
          <ul>
            <li>
              <a class="au" href="http://au-fx.kddi.com/products/">au Fx0</a>
            </li>
          </ul>
        </div>
        <div class="provider" data-country="ke">
          <h3>{{ _('Kenya') }}</h3>
          <ul>
            <li><a class="orange" href="http://www.orange.co.ke/en/product/orange-klif/">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="lu">
          <h3>{{_('Luxembourg')}}</h3>
          <ul>
            <li><a class="ldlc" href="http://www.ldlc.lu/fiche/PB00182658.html">LDLC</a></li>
          </ul>
        </div>
        <div class="provider" data-country="mg">
          <h3>{{ _('Madagascar') }}</h3>
          <ul>
            <li><a class="orange" href="http://www.orange.mg/klif/">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="mu">
          <h3>{{ _('Mauritius') }}</h3>
          <ul>
            <li><a class="orange" href="http://www.orange.mu/mobile-phones/details/handset/99/orange-orange-klif.html">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="mx">
          <h3>{{_('Mexico')}}</h3>
          <ul>
            <li><a class="movistar" href="http://www.movistar.com.mx/tienda/Open-Catalog/Productos/Celulares/c/celulares?q=%3Aname-asc%3Asistemaoperativo%3AFirefox">Movistar</a></li>
            <li><a class="telcel" href="http://www.telcel.com/portal/equipos/begin.do?idEquipo=3883">Telcel</a></li>
          </ul>
        </div>
        <div class="provider" data-country="ni">
          <h3>{{ _('Nicaragua') }}</h3>
          <ul>
            <li><a class="movistar" href="http://www.movistar.com.ni/tienda_ni/Open-Catalog/Productos/Celulares/Smartphone/Alcatel-Fire-C/p/alcatel_fire_c">Alcatel One Touch Fire C</a></li>
            <li><a class="movistar" href="http://www.movistar.com.ni/tienda_ni/Open-Catalog/Productos/Celulares/Smartphone/Zte-Open-II-/p/zte_open_II_black">ZTE Open II</a></li>
          </ul>
        </div>
        <div class="provider" data-country="pa">
          <h3>{{ _('Panama') }}</h3>
          <ul>
            <li><a class="movistar" href="http://soporteequipos.movistar.com.pa/web/zte-open-2-firefox-1-3-0-0/">ZTE Open II</a></li>
          </ul>
        </div>
        <div class="provider" data-country="pe">
          <h3>{{_('Peru')}}</h3>
          <ul>
            <li><a class="movistar" href="http://catalogo.movistar.com.pe/alcatel-ot-4019-fire-c">Alcatel One Touch Fire C</a></li>
            <li><a class="movistar" href="http://catalogo.movistar.com.pe/zte-open-2">ZTE Open II</a></li>
            <li><a class="movistar" href="http://www.movistar.com.pe/movil/zte-open-c2-promo">ZTE Open C2</a></li>
          </ul>
        </div>
        <div class="provider" data-country="ro">
          <h3>{{ _('Romania') }}</h3>
          <ul>
            <li><a class="orange" href="https://www.orange.ro/magazin-online/telefoane/orange-klif">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="rs">
          <h3>{{_('Serbia')}}</h3>
          <ul>
            <li><a class="telenor" href="https://www.telenor.rs/sr/Privatni-korisnici/webshop/Mobilni-telefoni/Alcatel/One_Touch_Fire">Telenor</a></li>
          </ul>
        </div>
        <div class="provider" data-country="ru">
          <h3>{{_('Russia')}}</h3>
          <ul>
            <li><a class="megafon" href="http://shop.megafon.ru/pathfinder.php?id=87125">MegaFon</a></li>
          </ul>
        </div>
        <div class="provider" data-country="sn">
          <h3>{{ _('Senegal') }}</h3>
          <ul>
            <li><a class="orange" href="https://www.orange.sn/produit/orangeklif/">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="sv">
          <h3>{{_('El Salvador')}}</h3>
          <ul>
            <li><a class="movistar" href="http://www.movistar.com.sv/tienda_sv/Open-Catalog/Productos/Celulares/Smartphone/ZTE-Open-2/p/zte_open2">{{_('Movistar')}}</a></li>
          </ul>
        </div>
        <div class="provider" data-country="tn">
          <h3>{{ _('Tunisia') }}</h3>
          <ul>
            <li><a class="orange" href="http://klif.orange.tn">Orange</a></li>
          </ul>
        </div>
        <div class="provider" data-country="uy">
          <h3>{{_('Uruguay')}}</h3>
          <ul>
            <li><a class="movistar" href="http://www.firefoxos.movistar.com.uy/">Movistar</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
