{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/fxos-base.html" %}

{% block page_title %}{{_('Release Notes')}}{% endblock %}
{% block body_id %}firefox-os-releases-index{% endblock %}

{% block site_css %}
  {{ css('firefox_releases_index') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a href="{{ url('mozorg.home') }}">{{ _('Home') }}</a> &gt;
    <a href="{{ url('firefox.new') }}">{{ _('Firefox') }}</a> &gt;
    <a href="{{ url('firefox.os.index') }}">{{ _('Firefox OS') }}</a> &gt;
    <span>{{ _('Release Notes') }}</span>
  </nav>
{% endblock %}

{% block content %}
  <div id="main-feature">
    <h1>{{ _('Firefox OS Releases') }}</h1>
    <p>{{ _('Firefox OS release notes are specific to each version of the application. Select your version from the list below to see the release notes for it.') }}</p>
  </div>

  <div id="main-content">
    <ol reversed>
      <li>
        <a href="{{ url('firefox.os.notes-1.2') }}"><strong>{{ _('1.2') }}</strong> <time datetime="2013-12-09">{{ _('December 9, 2013') }}</time></a>
      </li>
      <li>
        <a href="{{ url('firefox.os.notes-1.1') }}"><strong>{{ _('1.1') }}</strong> <time datetime="2013-10-21">{{ _('October 21, 2013') }}</time></a>
      </li>
      <li>
        <a href="{{ url('firefox.os.notes-1.0.1') }}"><strong>{{ _('1.0.1') }}</strong> <time datetime="2013-07-02">{{ _('July 2, 2013') }}</time></a>
      </li>
    </ol>
  </div>
{% endblock %}
