{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-protocol.html" %}

{% block page_title %}Welcome to the Firefox U.S. Election Bundle{% endblock %}
{% block page_desc %}Decode political ad targeting and keep Facebook off your trail with these extensions.{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_election') }}
{% endblock %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block body_id %}election-firstrun{% endblock %}

{% block content %}

<main class="mzp-t-firefox">
  <div class="t-paper">
    <p class="c-pro-disclaimer">
      Facebook Political Ad Collector and Facebook Container have been added to Firefox.<br>
      Manage your add-ons by clicking <img src="{{ static('img/firefox/election/icon-addons.svg') }}" alt="Add-ons" height="14" width="14"> in the <img src="{{ static('img/firefox/election/icon-menu.svg') }}" alt="Open menu" height="12" width="14"> menu.
    </p>
    <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-container">
      <div class="mzp-l-content">
        <h2 class="mzp-c-call-out-title">How To Use The Firefox Facebook Container </h2>
        <div class="mzp-c-call-out-desc">
          <p>Open a new tab in Firefox, go to your Facebook page and enjoy as usual. The difference is that your session is contained. When you click to another site, it’s now harder for Facebook to follow you and collect your data. And without that data, Facebook has less information about you to offer ad makers, political and otherwise.</p>
        </div>
        <p class="c-button-download">
          <a class="mzp-c-button" rel="external" href="https://blog.mozilla.org/firefox/facebook-container-extension/" data-button-name="Facebook Container Learn More">Learn more</a>
        </p>
      </div>
    </section>
  </div>
  <section class="mzp-c-call-out mzp-t-product-firefox mzp-t-firefox t-pro">
    <div class="mzp-l-content">
      <h2 class="mzp-c-call-out-title">How To Use The ProPublica Facebook Political Ad Collector</h2>
      <div class="mzp-c-call-out-desc">
        <p>Log into Facebook and the ProPublica extension automatically collects the ads targeting your newsfeed. Click on the ProPublica icon in the Firefox toolbar to view those ads and compare them with ads other Facebook users are seeing. Want to learn more? <a href="https://projects.propublica.org/facebook-ads/" rel="external" data-link-type="link" data-link-name="This database sorts political ads based on who they were targeting">This database sorts political ads based on who they were targeting</a>.</p>
      </div>
      <p class="c-button-download">
        <a class="mzp-c-button" rel="external" href="https://projects.propublica.org/political-ad-collector/" data-button-name="ProPublica Collector Learn More">Learn more</a>
      </p>
    </div>
  </section>
  <section class="mzp-c-call-out mzp-t-firefox">
    <div class="mzp-l-content">
      <h2 class="mzp-c-call-out-title">Wise Up, Eyes Up.</h2>
      <div class="mzp-c-call-out-desc">
        <p>Digital citizens need good info. Mozilla Corporation and Firefox can help you check your registration status, read political news curated by Pocket and get other helpful resources.</p>
        <!-- hard code en-US because election content will not be localized -->
        <p><a class="mzp-c-button" href="/en-US/" data-button-name="Election Check It Out">Check it out</a></p>
      </div>
    </div>
  </section>
  <p class="c-pro-disclaimer">The Firefox U.S. Election Bundle is a project between ProPublica and the Mozilla Corporation.</p>

{% endblock %}

{% block js %}
  {{ js_bundle('firefox_election') }}
{% endblock %}
