{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% add_lang_files "firefox/whatsnew_38" %}

{% extends "firefox/base.html" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{#- This will appear as <meta property="og:title"> which can be used for social share -#}
{% block page_og_title %}
  {{_('Choose the independent browser')}}
{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}
  {{_('Firefox is non-profit, non-corporate, non-compromised. Choosing Firefox isn’t just choosing a browser. It’s a vote for personal freedom.')}}
{% endblock %}

{#- Override <meta property="og:url"> for social share -#}
{% block page_og_url %}{{ url('firefox') }}{% endblock %}

{% block body_class %}mozID{% endblock %}

{% block site_css %}
  {% stylesheet 'firefox_firstrun' %}
{% endblock %}

{% block optimizely %}
  {% if waffle.switch('firefox-firstrun-optimizely') %}
    {% include 'includes/optimizely.html' %}
  {% endif %}
{% endblock %}

{% block site_header %}
  <header id="masthead">
    {% block tabzilla_tab %}
    <div id="tabzilla">
      <a href="{{ url('mozorg.home') }}" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
    </div>
    {% endblock %}
    {% block site_header_nav %}{% endblock %}
    {% block site_header_logo %}{% endblock %}
    {% block breadcrumbs %}{% endblock %}
  </header>
{% endblock %}

{% block content %}
<section id="intro">
  {# Below block added for space theme test - bug 1259552 #}
  {% block variant_content %}{% endblock %}
  <div class="container">
    <header>
      <h1>{{ _('Almost done!') }}</h1>
      <h2>{{ _('Sign in to Firefox and you’re good to go.') }}</h2>
    </header>

    <main role="main">
      <div class="fxaccounts" id="fxa-iframe-config" data-host="{{ settings.FXA_IFRAME_SRC }}">
        <iframe id="fxa" scrolling="no" data-src="{{ settings.FXA_IFRAME_SRC }}?utm_campaign=fxa-embedded-form&amp;utm_medium=referral&amp;utm_source=firstrun&amp;utm_content=fx-{{ version }}&amp;entrypoint=firstrun&amp;service=sync&amp;context=iframe&amp;style=chromeless&amp;haltAfterSignIn=true"></iframe>
      </div>

      <p>{{ _('With your Firefox Account you can sync your bookmarks, passwords, open tabs and more, and access them everywhere you use Firefox.') }}</p>
    </main>
  </div>
</section>
{% endblock %}

{% block email_form %}{% endblock %}

{% block site_footer %}
<footer id="footer">
  <div class="container">
    <a class="mozlogo" href="{{ url('mozorg.home') }}" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
    <ul>
      <li><a href="{{ url('privacy') }}" data-link-type="footer" data-link-name="Privacy">{{ _('Privacy Policy') }}</a></li>
      <li><a href="{{ url('privacy.notices.websites') }}#cookies" data-link-type="footer" data-link-name="Cookies">{{ _('Cookies') }}</a></li>
      <li><a href="{{ url('legal.index') }}" data-link-type="footer" data-link-name="Legal">{{ _('Legal Notices') }}</a></li>
    </ul>
  </div>
</footer>
{% endblock %}

{% block js %}
  {% javascript 'firefox_firstrun' %}
{% endblock %}
