{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/new/quantum" %}

{% extends "firefox/firstrun/base-pebbles.html" %}

{% block experiments %}
  {% if switch('firstrun-copy-experiment', ['en-US']) %}
    {{ js_bundle('experiment_firstrun_copy') }}
  {% endif %}
{% endblock %}

{% block body_id %}firstrun-quantum-onboarding{% endblock %}

{% block page_title %}
  {{ _('Welcome to Firefox') }}
{% endblock %}

{% block site_css %}
  {{ css_bundle('firefox_firstrun_quantum') }}
{% endblock %}

{% block global_nav %}{% endblock %}
{% block site_header %}{% endblock %}

{% block content %}
  <div id="scene">
    <main class="fxaccounts-container">
      <header id="main-header">
      {% block main_copy %}
        <h1>
        {% if l10n_has_tag('firstrun_email_only_form') %}
          {{ _('Take Firefox with You') }}
        {% else %}
          {{_('Already using Firefox?')}}
        {% endif %}
        </h1>
        <p class="content">
        {% if l10n_has_tag('firstrun_email_only_form') %}
          {{ _('Get your bookmarks, history, passwords and other settings on all your devices.') }}
        {% else %}
          {{_('Sign in to your account and we’ll sync the bookmarks, passwords and other great things you’ve saved to Firefox on other devices.')}}
        {% endif %}
        </p>
      {% endblock %}
        {# firefox.accounts-features is en-US only for now, so other locales need an alternate URL #}
        {% set learn_more_url = url('firefox.accounts') %}
        <a href="{{ learn_more_url }}" target="_blank" rel="noopener noreferrer">{{_('Learn more about Firefox Accounts')}}</a>
      </header>
      <div id="fxaccounts-wrapper">
        <div class="fxaccounts" id="fxa-iframe-config" data-host="{{ settings.FXA_IFRAME_SRC }}" data-mozillaonline-host="{{ settings.FXA_IFRAME_SRC_MOZILLAONLINE }}">
        {# Bug 1354710: firstrun pages need to pass funnelcake parameters to FxA #}
        {% set utm_source = 'firstrun' if not funnelcake_id else 'firstrun_f' + funnelcake_id %}
        {% block fxa_iframe scoped %}
          <iframe id="fxa" scrolling="no" data-src="{{ settings.FXA_IFRAME_SRC }}?action=email&amp;utm_campaign=fxa-embedded-form&amp;utm_medium=referral&amp;utm_source={{ utm_source }}&amp;utm_content=fx-{{ version }}&amp;entrypoint=firstrun&amp;service=sync&amp;context=iframe&amp;style=chromeless&amp;haltAfterSignIn=true"></iframe>
        {% endblock %}
          <button id="skip-button">{{_('Skip this step')}}</button>
        </div>
      </div>
    </main>

  </div>{# /#scene #}
{% endblock %}

{% block site_footer %}{% endblock %}

{# update-notification does not play well with current firstrun animated background and layout #}
{% block extrahead %}{% endblock %}
{% block update_notification %}{% endblock %}

{% block js %}
  {{ js_bundle('firefox_firstrun_quantum') }}
{% endblock %}
