{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import fxa_email_form with context %}

{% extends "firefox/base/base-protocol.html" %}

{% set _entrypoint = 'mozilla.org-firstrun' %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block body_id %}firstrun-quantum-onboarding{% endblock %}

{% block page_title %}
  {{ ftl('firstrun-welcome-to-firefox') }}
{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-emphasis-box') }}
  {{ css_bundle('firefox_firstrun_quantum') }}
{% endblock %}

{% block gtm_page_id %}data-gtm-page-id="/firefox/firstrun/"{% endblock %}

{% block site_header %}{% endblock %}

{% block page_image %}{{ static('img/firefox/template/page-image-master.jpg') }}{% endblock %}

{% block content %}
  <section class="hero mzp-t-firefox">
    <div class="page-content">

      <div class="mzp-l-content">
        <div class="hero-body">
          <div class="mzp-c-wordmark mzp-t-wordmark-md mzp-t-product-firefox">{{ ftl('firstrun-firefox-browser') }}</div>
          <h1 class="hero-title">
            {{ ftl('firstrun-take-firefox-with-you', fallback='firstrun-already-using-firefox') }}
          </h1>
          <div class="hero-desc">
            <p>
              {{ ftl('firstrun-get-your-bookmarks-history', fallback='firstrun-sign-in-to-your-account') }}
            </p>
          </div>
          <aside class="mzp-c-emphasis-box hero-form" id="fxaccounts-wrapper">
            {{ fxa_email_form(
              entrypoint=_entrypoint,
              button_class='mzp-c-button mzp-t-product')
            }}
            <p class="fxa-signin">
              {{ ftl('firstrun-already-have-an-account') }}

              {{ fxa_button(
                entrypoint=_entrypoint,
                button_text=ftl('firstrun-sign-in'),
                action='signin',
                is_button_class=False,
                optional_parameters={'utm_campaign': 'fxa-embedded-form'},
                optional_attributes={'data-cta-text': 'Sign In', 'data-cta-type': 'fxa-sync', 'data-cta-position': 'primary'}
              ) }}
            </p>
          </aside>
          <div class="hero-image">
            <img class="hero-photo" src="{{ static('img/firefox/firstrun/deviceSwoosh.gif') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  {{ js_bundle('fxa_form') }}
{% endblock %}
