{# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/firstrun/onboarding.html" %}

{% block main_copy %}
<h1 id="title">Save time! <br>Get Firefox to go.</h1>
<p>Pick up exactly where you left off on your devices with one login.</p>
<p>Instantly view your:</p>
<ul>
  <li>Open tabs</li>
  <li>Saved passwords</li>
  <li>Bookmarks</li>
</ul>
{% endblock %}

{# Don't display notification for test variation #}
{% block update_notification %}{% endblock %}
