{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2>Dobrodošli u <span>budućnost Firefoxa</span></h2>
    <p>Preuzmite i testirajte izdanje koje vam odgovara, te se prijavite na newsletter da biste ostali informirani.</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span>Finalno <span>izdanje</span></span></h3>

        <ul class="channel-list">
            <li>Uživajte u isprobanom, testiranom konačnom izdanju kojeg koriste stotine milijuna korisnika diljem svijeta</li>
            <li>Kontrolirajte svoje online iskustvo uz fantastičnu brzinu, jednostavnu prilagodbu i najnovije web tehnologije</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>Beta</span></h3>

        <ul class="channel-list">
            <li>Iskusite najnovije mogućnosti uz solidnu stabilnost</li>
            <li>Podijelite svoje mišljenje i pomognite nam ispolirati mogućnosti koje će biti dostupne u finalnom izdanju</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>Aurora</span></h3>

        <ul class="channel-list">
            <li>Iskusite najnovije inovacije u nestabilnom okružju za hrabre korisnike</li>
            <li>Javite nam svoje mišljenje o mogućnostima i performansama kako biste nam pomogli odrediti što će biti uključeno u finalnom izdanju</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
