// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../../utils' as f3;

.c-passwords {
    background-color: f3.$orange-primary;

    .c-module-tag-title {
        background-color: f3.$orange-light;
    }

    .c-browser {
        @include f3.card-shadow(f3.$orange-dark);

        &-bar {
            background-color: f3.$blue-primary;
        }
    }
}
