{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-resp.html" %}

{% block page_title %}{{_('Gigabit')}}{% endblock %}
{% block page_desc %}{{_('Gigabit - Description.')}}{% endblock %}
{% block body_id %}apply{% endblock %}
{% block body_class %}sand gigabit{% endblock %}
{% block page_image %}{{ media('img/gigabit/gigabit-wordmark.png') }}?2013-11{% endblock %}
{% block page_favicon %}{{ media('img/gigabit/favicon.png') }}?2013-11{% endblock %}
{% block site_header_logo %}
{% endblock %}

{% block extrahead %}
  {{ css('gigabit') }}
{% endblock %}

{% block site_header_nav %}
  <nav id="nav-main" role="navigation">
    <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
    <ul id="nav-main-menu">
      <li>{{_('<a href="%s">Home</a>')|format(url('gigabit.gigabit')) }}</li>
      <li><b>{{_('Apply')}}</b></li>
      <li><a href="https://blog.mozilla.org/gigabit/">{{_('Blog')}}</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <h1 id="wordmark"><a href="{{ url('gigabit.gigabit') }}"><img src="{{ media('img/gigabit/gigabit-wordmark.png') }}" alt="{{_('Mozilla Gigabit Community Fund (go to Home page)')}}"></a></h1>

  <main role="main">
    <article>
      <h1 class="large center">{{ _('Apply') }}</h1>

      <section id="cta-apply" class="container">
        <h3><strong>{{ _('Apply to the Gigabit Community Fund') }}</strong></h3>
        <p>{{ _('Do you have an idea for using next-generation gigabit technologies for education or workforce development in Kansas City or Chattanooga?') }}</p>
        <p>{{ _('Follow these instructions to apply for the <b>Spring Pilot Period</b>:') }}</p>
        <ol>
          <li>
            {{ _('Complete the online application form - <a href="%s">click here</a> to access the form')|format('https://docs.google.com/forms/d/1HFas7B6sD3oLxE5FAAYDX1pLoxgBf5mHnj4a1oEay00/viewform') }}
          </li>
          <li>
            {{ _('Compile your fund proposal using this <a href="%s">template</a>')|format('https://docs.google.com/a/mozillafoundation.org/document/d/1JWCABAhvvRw3gqbGwBqRvdjh2wu3pwYhPKAISJB0Zak/edit') }}
          </li>
          <li>
            {{ _('Save your fund proposal as a PDF (no larger than 10MB)') }}
          </li>
          <li>
            {{ _('Mail your fund proposal PDF with the subject line <b>Gigabit Community Fund Proposal [KC or CHA]</b> to <a href="%s">gigabit@mozilla.org</a>')|format('mailto:gigabit@mozilla.org') }}
          </li>
        </ol>

        <p>{{ _('Proposals must be received by <b>Friday, March 28, 2014 at 11:59:59 PM PT.</b>  ') }}</p>
      </section>

      <section id="questions" class="container">
        <div class="main">
          <h2>{{ _('Questions?') }}</h2>

          <p>
          {% trans url_wiki='//wiki.mozilla.org/Gigabit', url_terms=url('gigabit.terms') %}
            Our <a href="{{ url_wiki }}">wiki</a> is full of helpful information and we encourage you to read the Gigabit Community Fund’s <a href="{{ url_terms }}">Rules, Terms, and Conditions</a>.
          {% endtrans %}
          </p>

          <p>
          {% trans url_email='mailto:gigabit@mozilla.org' %}
           Feel free to <a href="{{ url_email }}">email us</a> any time. Don't be shy — we're friendly!
          {% endtrans %}
          </p>

          <p>
          {% trans url_announcement='https://sendto.mozilla.org/page/s/gigabit-updates', url_twitter='https://twitter.com/MozillaGigabit' %}
           Join our <a href="{{ url_announcement }}">announcement list</a> or follow <a href="{{ url_twitter }}">@MozillaGigabit</a> for updates on the Gigabit Community Fund.
          {% endtrans %}
          </p>

          <p>
          {% trans url_moz_open='//wiki.mozilla.org/Working_open' %}
            <a href="{{ url_moz_open }}">Mozilla works open</a>. We will make the content of all submissions publicly viewable. Projects that are awarded funding are encouraged to work open. Funded participants will be expected to create a free GitHub repository that, at minimum, documents their submitted proposal. You retain all ownership rights in your submission in the Fund.
          {% endtrans %}
          </p>

          <p>
          {% trans url_local='https://wiki.mozilla.org/Gigabit' %}
           We encourage you to get involved in your <a href="{{ url_local }}">local Gigabit community</a> — here you’ll find resources to create a strong submission.
          {% endtrans %}
          </p>
        </div>

        <div class="aside">
          <h2>{{ _('Dates &amp; Deadlines') }}</h2>
          <ul>
            <li>
              {{ _(('The <b>Spring Pilot Period</b> Now accepting applications. Deadline: March 28, 2014')) }}
            </li>
            <li>
              {{ _(('The <b>Summer Pilot Period</b> Opens May 19, 2014. Deadline: June 20, 2014')) }}
            </li>
          </ul>
        </div>
      </section>

      <aside id="partners" class="container">
        <ul class="partner-logos center">
          <li><a href="http://www.nsf.gov/"><img src="{{ media('img/gigabit/logo-nsf.png') }}" alt="NSF"></a></li>
          <li><a href="http://us-ignite.org/"><img src="{{ media('img/gigabit/logo-ignite.png') }}" alt="US Ignite"></a></li>
          <li><a href="http://www.geni.net/"><img src="{{ media('img/gigabit/logo-geni.png') }}" alt="GENI"></a></li>
          <li><a href="http://www.kcdigitaldrive.com/"><img src="{{ media('img/gigabit/logo-kc-digital-drive.png') }}" alt="KC Digital Drive"></a></li>
          <li><a href="http://www.chattanooga.gov/"><img src="{{ media('img/gigabit/logo-chatt-city-seal.png') }}" alt="Chatt City Seal"></a></li>
          <li><a href="http://www.hamiltontn.gov/"><img src="{{ media('img/gigabit/logo-hamilton-county-seal.png') }}" alt="Hamilton County Seal"></a></li>
          <li><a href="http:///www.kcmo.org/CKCMO/index.htm"><img src="{{ media('img/gigabit/logo-kcmo.png') }}" alt="KC MO"></a></li>
          <li><a href="http://www.wycokck.org/"><img src="{{ media('img/gigabit/logo-kc-unified-gov.png') }}" alt="KC Unified Gov"></a></li>
        </ul>
      </aside>

    </article>
  </main>

{% endblock %}

{% block email_form %}
{% endblock %}
