// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

//@import "../sandstone/lib.less";
@import "template-resp.less";

#main-feature {
  h1, h2, p {
    .span(7);
  }
  h1 {
    margin-bottom: .15em;
  }
  h2 {
    font-size: 20px;
    margin-bottom: .75em;
  }
  p {
    margin-bottom: 1em;
  }
}

a.go:after {
  content: " »";
  white-space: nowrap;
}

.notes-section {
    padding: @baseLine @gridGutterWidth;
    margin: 0 -@gridGutterWidth @baseLine;
    @shadow: 0 0 0 1px #fff inset;
    .box-shadow(@shadow);
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.section-items {
    list-style: none;
    margin: 0;
    > li {
        margin: 0;
        padding: .714rem 0 .5rem;
        border-top: 1px solid @borderColor;
        position: relative;
    }
    h4 {
        font-size: 18px;
        margin: 0 0 .25em;
    }
    .note {
        margin: 0 0 .25em;
    }
}

.section-items.tagged {
    > li {
        padding-left: 160px;
    }
    .tag {
        display: inline-block;
        padding: 4px 2px 4px 33px;
        width: 102px;
        position: absolute;
        left: 0;
        top: .714rem;
        border-right: 3px solid #ccc;
        text-transform: uppercase;
        font-size: 11px;
        font-style: normal;
        line-height: 14px;
        background: #f3f3f3 url(/media/img/firefox/releasenotes/tags.png) 0 0 no-repeat;
        text-shadow: 1px 1px 0 #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 -1px 0 rgba(0,0,0,0.05) inset;
    }
    .tag-new {
        background-color: #ffedcf;
        background-position: 0 -50px;
        border-color: #f90;
    }
    .tag-changed {
        background-color: #e9cfff;
        background-position: 0 -100px;
        border-color: #8106e0;
    }
    .tag-fixed {
        background-color: #f0ffe1;
        background-position: 0 -150px;
        border-color: #5ba622;
    }
    .tag-html5 {
        background-color: #f8dfd8;
        background-position: 0 -200px;
        border-color: #d85027;
    }
    .tag-resolved {
        background-color: #dcf6ff;
        background-position: 0 -250px;
        border-color: #038fc0;
    }
    .tag-unresolved {
        background-color: #ffc8c8;
        background-position: 0 -300px;
        border-color: #c00;
    }
    .tag-developer {
        background-color: #e7e7e7;
        background-position: 0 -350px;
        border-color: #999;
    }
}

#sidebar section {
    border-bottom: 1px dotted @borderColor;
    margin-bottom: @baseLine;
    h3 {
        font-size: 22px;
    }
}


/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

  #main-feature {
    h1, h2, p {
      .span_narrow(7);
    }
  }

}


/* Mobile Layout: 320px */
@media only screen and (max-width: @breakTablet) {

    #main-feature {
      h1, h2, p {
        .span-all();
      }
    }
    
    .section-items {
        > li {
             padding-left: 0; 
        }
        .tag {
             position: static;
             display: block;
             width: auto;
             margin: 0 0 .75em;
        }
    }

}


/* Wide Mobile Layout: 480px */
@media only screen and (min-width: @breakMobileLandscape) and (max-width: @breakTablet) {

}

/* }}} */
