// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "template.less";


#main-feature .download-button-small {
    float: right;
    position: static;
}


#firefox-speed #learn-more {
    clear: right;
    margin-top: 7px;
    font-style: italic;
    margin-left: 30px;
    font-size: 13px;
    text-align: center;
}

#firefox-speed #main-content {
    clear: both;
}

#firefox-speed #main-feature {
    padding-bottom: 0;
}

#firefox-speed #main-feature h4 {
    .span(6);
    width: 552px;
    font-size: 22px;
}

#firefox-speed #main-feature #download_area {
    .span(4);
    margin-left: 0;
    p {
        margin-top: @baseLine;
        text-align: right;
        clear: right;
    }
}


#firefox-speed #non-fx {
    display: none;
}

#firefox-speed #followup {
    margin: 30px 100px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
}

#firefox-speed #followup em {
    display: block;
    font-style: normal;
}

/* }}} */
/* {{{ Gauge */

#gauge {
    background: url(/media/img/firefox/speed/gauge-bg.jpg) 50% 0 no-repeat;
    height: 255px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

#gauge-fast,
#gauge-slow {
    position: absolute;
    width: 180px;
    top: 230px;
    color: #ef3b24;
    font-size: 18px;
    .open-sans-light;
}

#gauge-slow {
    left: 100px;
    text-align: right;
    color: #005787;
}

#gauge-fast {
    left: 520px;
}

#gauge-slow-note p,
#gauge-fast-note p {
    margin: 0;
    line-height: 1.3;
}

#gauge-slow-note h4,
#gauge-fast-note h4 {
}

#gauge-fast-note,
#gauge-slow-note {
    display: none;
    position: absolute;
    width: 800px;
    height: 255px;
    top: 0;
    left: 0;
    p {
        text-style: italic;
    }
}

#gauge-slow-note {
    background: url(/media/img/firefox/speed/line-l.png) 63px 70px no-repeat;
}

#gauge-slow-note .content {
    width: 190px;
    position: absolute;
    bottom: 190px;
    left: 10px;
}

#gauge-fast-note {
    background: url(/media/img/firefox/speed/line.png) 610px 115px no-repeat;
}

#gauge-fast-note .content {
    position: absolute;
    width: 190px;
    left: auto;
    right: 0px;
    bottom: 145px;
}


#needle {
    -webkit-transform-origin: 173px 30px;
    -moz-transform-origin: 173px 30px;
    -o-transform-origin: 173px 30px;
    transform-origin: 173px 30px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    x-moz-transition: all 500ms linear;
    position: absolute;
    top: 181px;
    left: 227px;
}

/* }}} */
/* {{{ Non Firefox fallback*/

#non-fx {
    margin: 0 160px;
    font-size: 22px;
}

/* }}} */
