// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/sandstone.less";
@import "menu.less";

#masthead h1 {
    padding: @baseLine 0;
}

#main-feature .download-button-small,
#main-feature .download-button-mobile-small {
    position: absolute;
    top: 0;
    right: 48px;
}

.stacked h1 {
    font-size: 32px;
    letter-spacing: -1px;
}

.stacked h1 span {
    display: block;
}
