/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html { max-width: 370px; }

body {
    margin: 0;
    padding: 0;
    max-width: 370px;
    color: #303030;
    font-size: 13px;
    font-family: Georgia, serif;
    background: #fff url('/media/img/firefox/unsupported/background.jpg') 0 0 no-repeat;
}

h1 {
    margin: 0;
    padding: 2px 0 0 0;
    font-size: 24px;
    font-family: verdana, sans-serif;
    font-weight: bold;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #447bc4;
}

a:hover,
a:active {
    text-decoration: underline;
}

#wrapper {
    width: 250px;
    padding: 5px 8px;
    margin: 0 auto 0 0;
}

#details-header p {
    margin: 0;
}

#details-content .upgrade  {
    font-weight: bold;
}

#details-content ul {
    margin: 0;
    padding: 0 20px;
}

#details-content ul li:first-letter {
    text-transform: uppercase;
}

#details-content p {
    margin: 8px 0;
}

small {
    font-size: 11px;
}

/* rtl fixes */

html[dir='rtl']  #wrapper {
    width: 235px;
}

/* specific fixes for locales */



html[lang='si'], html[lang='bn-IN'], html[lang='ka'], html[lang='kn']  {
    font-size:85%
}

html[lang="th"] #details-header p {
    font-size:80% !important;
}

html[lang='th'] li{
    line-height:1.2em
}


html[lang='kn'] h1,  html[lang='kn'] li, html[lang='kn'] p {
    line-height:1.5em
}

html[lang='te'] li {
    line-height:1.5em
}

/* Tweaks for Japanese */
html[lang='ja'] body {
    font-size: 12px;
    line-height: 1.5;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Verdana", "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック", "IPA Pゴシック", sans-serif;
}

html[lang='ja'] h1 {
    font-family: inherit;
}
