
{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% add_lang_files "firefox/whatsnew_73" %}

{% extends "firefox/base/base-protocol.html" %}
{% from "macros-protocol.html" import hero, picto_card with context %}

{% block page_title %}{{_('Make Firefox your default browser')}}{% endblock %}
{% block page_desc %}{{ _('Choose the browser that protects your privacy. Set Firefox as your default browser.') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-default-landing') }}
{% endblock %}

{% block content %}
  <main role="main">

    {% call hero(
      title=_('Make sure you’re protected, every time you get online'),
      desc=_('Thanks for using the latest Firefox browser. When you choose Firefox, you support a better web for you and everyone else. Now take the next step to protect yourself.'),
      class='mzp-c-hero',
      include_cta=True,
      heading_level=1,
    ) %}
    <div class="cta-container">
      <div class="mzp-c-button-download-container">
        <a id="set-as-default-button" href="{{ url('firefox.set-as-default.thanks') }}" class="mzp-c-button mzp-t-product">{{ _('Make Firefox your default browser') }}</a>
      </div>
    </div>
    {% endcall %}
    <section class="card-set">
      <ul class="mzp-l-card-third mzp-l-content">
      {{ picto_card(title=_('Choose automatic privacy'), desc=_('The internet keeps finding new ways to poach your personal data. Firefox is the only browser with a mission of finding new ways to protect you.'), class='privacy') }}
      {{ picto_card(title=_('Choose freedom on every device'), desc=_('Firefox is fast and safe on Windows, iOS, Android, Linux...and across them all. We have no interest in locking you in or resetting your preferences.'), class='freedom') }}
      {{ picto_card(title=_('Choose corporate independence'), desc=_('Firefox is the only major independent browser. Chrome, Edge and Brave are all built with code from Google, the world’s largest ad network.'), class='independence') }}
      </ul>
    </section>
  </main>
{% endblock %}
