{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2>Degemer mat e<span>Dazont Firefox</span></h2>
    <p>Pellgargit ha prouadit an handelv a zo mat evidoc'h ha koumanantit d'ul lizher kelaouiñ a-benn chom kelaouet.</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span><span>Handelv</span> diwezhel</span></h3>

        <ul class="channel-list">
            <li>Tennit ho mad eus un handelv diwezhel prouadet ha peurlipet arveret gant mil miliadoù a dud dre ar bed a-bezh</li>
            <li>Bezit mestr war ho puhez enlinenn gant un tizh dreist, aes da bersonelaat gant ar c'halvezouriezhoù nevesañ evit Internet</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>Beta</span></h3>

        <ul class="channel-list">
            <li>Prouadit ar c'heweriusterioù e touez ar pep nevesañ gant ur stabilder dereat.</li>
            <li>Pourchasit menoioù a-benn skoazellañ da gempenn ha peurlipat pezh a vo an handelv diwezhel.</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>Aurora</span></h3>

        <ul class="channel-list">
            <li>Prouadiñ ar c'heweriusterioù nevesañ gant un endro distabil a vez trevell an dud kalonek.</li>
            <li>Pourchasit menoioù a-zivout ar c'heweriusterioù hag an digonustedoù a-benn skoazellañ da c'houzout pe re a vo en handelv diwezhel.</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
