{# Version: 20111205 #}

{% extends "mozorg/channel.html" %}

{% block site_css %}
  {{ css('common') }}
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/media/css/l10n/channel.css" media="screen" />

<div id="main-feature">
    <h2>Willkommen in der <span>Zukunft von Firefox</span></h2>
<?php
/*
    Bug 654066 - URGENT - remove German email opt-in page from site temporarily
    <p>Laden Sie die Version herunter, die für Sie passt, und testen Sie sie. Sie können außerdem den Newsletter eines Kanals abonnieren, um auf dem neuesten Stand zu bleiben.</p>
*/
?>
    <p>Laden Sie die Version herunter, die für Sie passt, und testen Sie sie.</p>
</div>

<div id="main-content">

    <div id="download_firefox" class="channel">

        <h3><span>Fertige <span>Version</span></span></h3>

        <ul class="channel-list">
            <li>Genießen Sie die geprüfte und getestete fertige Version, die von hunderten Millionen auf der ganzen Welt genutzt wird</li>
            <li>Behalten Sie die Kontrolle über Ihr Online-Erlebnis mit toller Geschwindigkeit, einfacher Anpassbarkeit und den neuesten Web-Technologien</li>
        </ul>

        {{ download_button('download') }}
    </div>

    <div id="download_beta" class="channel">

        <h3><span>Beta</span></h3>

        <ul class="channel-list">
            <li>Erleben Sie die allerneuesten Funktionen, aber mit mehr Stabilität</li>
            <li>Sagen Sie uns Ihre Meinung, um Firefox für die fertige Version zu verbessern und aufzupolieren</li>
        </ul>

        {{ download_button('download-button', build='beta') }}
    </div>

    <div id="download_aurora" class="channel">

        <h3><span>Aurora</span></h3>

        <ul class="channel-list">
            <li>Erleben Sie die neuesten Innovationen in einer instabilen Umgebung, die nichts für schwache Nerven ist</li>
            <li>Sagen Sie uns Ihre Meinung zu Funktionen und Leistung, damit wir festlegen können, was in die fertige Version kommt</li>
        </ul>

        {{ download_button('download_aurora_button', build='aurora') }}
    </div>

    <div id="mobile-beta" class="channel">
      <p class="download-soon">
        <a href="https://market.android.com/details?id=org.mozilla.firefox_beta">
          <span>Firefox Beta for mobile</span>
          <img src="/media/img/mobile/beta/beta-install-inset.png">
          <span>Download</span>
        </a>
      </p>
    </div>
</div>

<script src="/media/js/download.js"></script>
<script type="text/javascript">
  offerBestDownloadLink('download_aurora_button');
  offerBestDownloadLink('download-button');
  offerBestDownloadLink('download');
</script>

{% endblock %}
