// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$campaign-red: #ff6a75;
$campaign-pink: #ffbdc5;
$campaign-mint: #d1ffee;
$campaign-green: #2ac3a2;

.js {
    @media (prefers-reduced-motion: no-preference) {

        @keyframes pop-in {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            35% {
                opacity: 1;
                transform: scale(0.2);
            }

            50% {
                transform: scale(0.5);
            }

            65% {
                transform: scale(0.7);
            }

            80% {
                transform: scale(0.9);
            }

            90% {
                transform: scale(1.1);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        @keyframes close {
            0% {
                opacity: 1;
                transform: scale(1);
            }

            25% {
                opacity: 0.75;
                transform: scale(0.9);
            }

            50% {
                opacity: 0.5;
                transform: scale(0.7);
            }

            65% {
                transform: scale(0.5)
            }

            80% {
                opacity: 0.3;
                transform: scale(0.3);
            }

            100% {
                opacity: 0;
                transform: scale(0);
            }
        }

        @keyframes wednesday-circles-mint {
            0% {
                fill: $campaign-green;
            }

            25%, 100% {
                fill: $campaign-mint;
            }
        }

        @keyframes wednesday-circles-red {
            0% {
                fill: $campaign-green;
            }

            25%, 100% {
                fill: $campaign-red;
            }
        }
        @keyframes wednesday-circles-pink {
            0% {
                fill: $campaign-green;
            }

            25%, 100% {
                fill: $campaign-pink;
            }
        }

        .animate-close {
            animation: .3s ease-out 0s 1 normal forwards running close;
        }

        .animate-pop-in {
            animation: .5s ease-out 0s 1 normal forwards running pop-in;
        }

        .animate-wednesday {
            .wednesday-circle {
                &.circle3 {
                    animation: wednesday-circles-mint 5s alternate infinite;
                }

                &.circle2 {
                    animation: wednesday-circles-red 5s ease-in alternate infinite;
                    animation-delay: 500ms;
                }

                &.circle1 {
                    animation: wednesday-circles-pink 5s ease-in alternate infinite;
                    animation-delay: 1000ms;
                }
            }
        }
    }
}
