/* Bug 795396 */

@font-face {
    font-family: X-LocaleSpecific;
    font-weight: normal;
    font-display: swap;
    src:
        local(FZLTXHB--B51-0),
        local('Microsoft JhengHei Light'),
        local(DroidSansFallbackFull);
}

@font-face {
    font-family: X-LocaleSpecific;
    font-weight: bold;
    font-display: swap;
    src:
        local(FZLTZHB--B51-0),
        local('Microsoft JhengHei Bold'),
        local(DroidSansFallbackFull);
}

@font-face {
    font-family: X-LocaleSpecific-Extrabold;
    font-weight: 800;
    font-display: swap;
    src:
        local(FZLTTHB--B51-0),
        local('Microsoft JhengHei Bold'),
        local(DroidSansFallbackFull);
}

/* Bug 973171 */

* {
    /* !important required for locale specific override */
    font-style: normal !important; /* stylelint-disable-line declaration-no-important */
}
