{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}{{ _('Mozilla Thunderbird - Holiday Calendars') }}{% endblock %}
{% block page_desc %}{{ _('Holiday calendar data for Lightning') }}{% endblock %}
{% block body_id %}holiday-calendars{% endblock %}

{% block extrahead %}
  {{ css('projects-calendar') }}
{% endblock %}

{% block content %}

<section id="lightning" class="products">
  <div class="topbox">
    <div class="infobox holiday">
      <aside id="download" class="hide-for-touch">
        <a id="download-link" class="loading" href="https://addons.mozilla.org/thunderbird/addon/lightning/">
          <span id="version-box" class="title">{{ _('Lightning') }}</span>
          <span class="desc">{{ _('Free download') }}</span>
        </a>
        <small class="download-other">
          <a href="https://addons.mozilla.org/thunderbird/addon/lightning/versions/">{{ _('Other Systems &amp; Versions') }}</a>
        </small>
      </aside>
      <h1>{{ _('Holiday Calendars') }}</h1>
      <h2>{{ _('Add your nation&rsquo;s holidays to Lightning!') }}</h2>
    </div>
  </div>
  <div class="midbox">
      <p>{{ _('We&rsquo;ve got some holiday calendar files available for download. You can either download and then import them into Sunbird or Lightning or you can just subscribe to these calendars by copying their URL and then adding them as new remote calendar files. More information on installing a holiday calendar can be found in the <a href="%s">Adding a holiday calendar article</a>.')|format('https://support.mozillamessaging.com/en-US/kb/Adding+a+holiday+calendar') }}</p>
      <p>{{ _('You can also find calendars to subscribe to at <a href="%s">iCalShare.com</a>.')|format('http://icalshare.com') }}</p>
  </div>
  <div class="calendar-table billboard">
    <ul class="holiday-nav">
      {% for letter in letters -%}
        <li><a href="#{{ letter }}">{{ letter }}</a></li>
      {% endfor -%}
    </ul>
    <table class="data">
      {% set first_letter = '' %}
      {% for calendar in calendars -%}
        {% if first_letter != calendar.country[:1] %}
          {% set first_letter = calendar.country[:1] %}
          <tr><th colspan="2" id="{{ first_letter }}">{{ first_letter }}</th></tr>
        {% endif %}
        <tr>
          {% trans calurl=CALDATA_URL + calendar.filename, datespan=calendar.datespan,
                   country=calendar.country, authors=calendar.authors %}

            {% if calendar.title %}
                <td><a href="{{ calurl }}">{{ country }}</a> {{ calendar.title }} thanks to {{ authors }}</td>
            {% else %}
                <td><a href="{{ calurl }}">{{ country }}</a> holidays thanks to {{ authors }}</td>
            {% endif %}

            <td>{{ datespan }}</td>
          {% endtrans %}
        </tr>
      {% endfor %}
    </table>
    <h2>{{ ('Contributing a Holiday Calendar') }}</h2>
    <p>{{ ('If you would like to send us your calendar files, please follow these steps:') }}</p>
    <ol>
      <li>{{ _('Create a new local calendar, e.g. "$Country$ Holidays".') }}</li>
      <li>{{ _('Create the different holidays of your country in this local calendar.') }}</li>
      <li>{{ _('Right-click on this calendar and choose "Export Calendar". Please use the iCalendar (ics) format.') }}</li>
      <li>{{ _('Open a bug in <a href="%s">Bugzilla</a>.')|format('http://bugzilla.mozilla.org/enter_bug.cgi?product=Calendar&component=Website') }}</li>
      <li>{{ _('Add your holiday file as an attachment in the new bug.') }}</li>
    </ol>
  </div>
</section>

{% endblock %}

{% block js %}
  {{ js('projects-calendar') }}
{% endblock %}


