// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// The custom X-LocaleSpecific font family is defined with a @font-face rule in
// locale-specific stylesheets which can be found at /media/css/l10n/. See
// /docs/l10n.rst for details.
$font-fira-sans: 'Fira Sans', X-LocaleSpecific, sans-serif;

$base-font-stack: $font-fira-sans;
$base-font-size: 100%;
$base-line-height: 1.5;


// Text colors
$color-text-primary:   #444;
$color-text-secondary: #484848;
$color-text-tertiary:  #666;

// Brand colors
$color-mozred:  #c13832;
$color-mozred-bright: saturate(lighten($color-mozred, 5%), 10%);
$color-mozblue: #0c99d5;
$color-mozgray: #56565a;

// Link colors
$color-link-blue: #00a7e0;
$color-link: $color-link-blue; // standard links (blue)
$color-link-yellow: #ffbb38;

// Button colors
$color-button-light: #fff;
$color-button-dark: #00539f;
$color-button-green: #4caf50;
$color-button-orange: #f26c23;


// Content widths
$width-phone:           300px;
$width-phone-wide:      460px;
$width-tablet:          740px;
$width-desktop:         980px;
$width-desktop-wide:    1380px;


// Media queries
$mq-phone:          'screen and (max-width: 480px)';
$mq-phone-wide:     'screen and (min-width: 480px)';
$mq-tablet:         'screen and (min-width: 760px)';
$mq-desktop:        'screen and (min-width: 1000px)';
$mq-desktop-wide:   'screen and (min-width: 1400px)';

$mq-high-res:       'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)';

$mq-short:          '(max-height: 600px)';
$mq-tall:           '(min-height: 600px)';


// Grid columns
$column-width:  8.333%; // 100% / 12 columns
$gutter-width:  20px;
