// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'sass:math';

// use math.div to get percentages of grid to use for padding and margins
$column-width: math.percentage(math.div(math.div(100, 12), 100));
$half-column: math.percentage(math.div(math.div(100, 24), 100));
$font-stories-title: 'Antonio', sans-serif;
$font-stories-title-alt: 'League Gothic', sans-serif;
$font-stories-body: 'Source Serif Pro', sans-serif;

@font-face {
    font-family: Antonio;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
        url('/media/fonts/fx-lifestyle/antonio-regular-webfont.woff2') format('woff2'),
        url('/media/fonts/fx-lifestyle/antonio-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: Antonio;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        url('/media/fonts/fx-lifestyle/antonio-bold-webfont.woff2') format('woff2'),
        url('/media/fonts/fx-lifestyle/antonio-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'League Gothic';
    font-weight: normal;
    font-style: normal;
    src:
        url('/media/fonts/stories/LeagueGothic.woff2') format('woff2'),
        url('/media/fonts/stories/LeagueGothic.woff') format('woff');
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-Bold.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-BlackIt.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-Black.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-It.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-BoldIt.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-ExtraLightIt.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-ExtraLight.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-Light.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-LightIt.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-SemiBold.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-Regular.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src:
        url('/media/fonts/stories/SourceSerifPro-SemiBoldIt.woff2') format('woff2'),
        url('/media/fonts/stories/SourceSerifPro-SemiBoldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@mixin stories-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: $spacing-md;
}

@mixin half-col-margin {
    margin-left: $half-column;
    margin-right: $half-column;
}

@mixin full-width {
    grid-column: 1 / 13;
}

@mixin article-width-2-3 {
    grid-column: 5 / 9;
}

@mixin article-width-full {
    grid-column: 3 / 11;
}
