$color-white:#fff;
$color-divider: #d9d9d9;
$color-action-primary: #008078;
$color-action-primary-hover: #004d48;
$color-text-primary: #1a1a1a;
$color-text-secondary: #666;

$box-shadow-sm: 0 2px 12px rgba(0, 0, 0, 0.08);


$mq-md: 'min-width: 720px';
$mq-lg: 'min-width: 1024px';

$spacing025: .25em;
$spacing075: .75em;
$spacing050: .5em;
$spacing100: 1em;
$spacing150: 1.5em;

$size025: .25rem;
$size100: 1rem;
$size125: 1.25rem;
$size150: 1.5rem;
$size250: 2.5rem;
$size300: 3rem;
$size400: 4rem;

$fontSize100: 1rem;

$fontSerif: "Blanco OSF", Garamond, Times, Serif;
$fontSans: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$fontSansAlt: "Doyle", Garamond, Times, Serif;
