{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol-mozilla.html" %}

{% block page_title %}Mozilla Advertising{% endblock %}

{% block page_css %}
  {{ css_bundle('mozilla-ads') }}
{% endblock %}

{% block sub_navigation %}
  {% include 'mozorg/advertising/includes/sub-nav.html' %}
{% endblock %}

{% block content %}
<main id="mozads-main">
  <section class="mozads-c-callout">
    <div class="mozads-c-callout-bg">
      <div class="mozads-c-callout-bg-inner">
        <div class="bg-image">
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-1/layer-1.png') }}" class="layer-1"/>
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-1/layer-2.svg') }}" class="layer-2"/>
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-1/layer-3.png') }}" class="layer-3"/>
        </div>

        <div class="bg-image">
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-2/layer-1.png') }}" class="layer-1"/>
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-2/layer-2.svg') }}" class="layer-2"/>
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-2/layer-3.png') }}" class="layer-3"/>
        </div>

        <div class="bg-image">
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-3/layer-1.png') }}" class="layer-1"/>
        </div>

        <div class="bg-image">
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/image-4/layer-1.png') }}" class="layer-1"/>
        </div>

        <div class="bg-image">
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/ad.svg') }}" class="layer-2"/>
        </div>

        <div class="bg-image">
          <img role="presentation" src="{{ static('img/mozorg/advertising/callout/ad.svg') }}" class="layer-2"/>
        </div>
      </div>
    </div>

    <div class="mozads-c-callout-section">
      <h1>
        Add trust to<br/>your ad buy
      </h1>
      <a
        href="https://mozilla.formstack.com/forms/advertising"
        class="mzp-c-button mzp-t-dark mzp-t-xl mozads-c-callout-button"
      >
        Contact Sales
      </a>
    </div>

    <div class="mozads-c-callout-section">
      <div id="callout-image-trigger" class="mozads-c-callout-card">
        <p>
          When you advertise on Mozilla’s Firefox and MDN Web Docs, you’ll connect with over 210 million selective, discerning, brand-loyal users. Because they trust us, they’ll trust you.
        </p>
        <a href="#mozorg-ads-solutions">Our Solutions</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('mozorg-advertising-callout') }}
  {{ js_bundle('mozorg-advertising-navbar') }}
{% endblock %}
