{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  sandstone-intro
{% endblock %}

{% set page_title = 'Sandstone introduction' %}

{% block content_area %}
<section id="intro">
<h2>What is Sandstone?</h2>
<p>Sandstone is our defined style and form for Web properties. Combining set visual styles, UX elements, and a responsive grid system, it creates a cohesive brand experience across all our websites. This section details the key features of the system and how to make it your own!</p>
<img src="{{ media('/img/styleguide/websites/sandstone/sandstone.png') }}" alt="Sandstone overview" id="overview" />
</section>
{% endblock %}
