{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "styleguide/base.html" %}

{% block body_class %}
  {{ super() }}
  sandstone-examples
{% endblock %}

{% set page_title = 'Sandstone examples' %}

{% block content_area %}
<section id="intro">
  <h2>Websites</h2>
  <p>See Sandstone in action, including variations and customizations of the style. Click on a preview to visit the website.</p>
</section>
<section id="examples">
  <h3>Product/Service/Innovation</h3>
  <div>
  <a href="http://www.mozilla.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/mozillaorg.png') }}" alt="Mozilla.org screenshot" /></a>
  <a href="http://www.mozilla.org/firefox/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/firefox.png') }}" alt="Firefox website screenshot" /></a>
  <a href="http://www.mozilla.org/en-US/persona/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/persona.png') }}" alt="Persona website screenshot" /></a>
  <a href="https://air.mozilla.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/airmozilla.png') }}" alt="Air Mozilla screenshot" /></a>
  <a href="https://mozillalabs.com/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/labs.png') }}" alt="Mozilla Labs screenshot" /></a>
  <a href="https://webfwd.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/webfwd.png') }}" alt="WebFWD screenshot" /></a>
  </div>

  <h3>Blogs</h3>
  <div>
  <a href="https://blog.mozilla.org/theden/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/theden.png') }}" alt="The Den blog" /></a>
  <a href="https://blog.mozilla.org/ux/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/uxblog.png') }}" alt="Mozilla UX blog" /></a>
  </div>

  <h3>Community</h3>
  <div>
  <a href="http://www.mozillaparaguay.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/paraguay.png') }}" alt="Mozilla Paraguay screenshot" /></a>
  <a href="http://www.mozillabolivia.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/bolivia.png') }}" alt="Mozilla Bolivia screenshot" /></a>
  <a href="http://to.mozillacanada.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/toblog.png') }}" alt="Mozilla Toronto screenshot" /></a>
  <a href="http://mozilla-antarctica.org/"><img src="{{ media('/img/styleguide/websites/sandstone/examples/antarctica.png') }}" alt="Mozilla Antarctica screenshot" /></a>
  </div>
</section>

{% endblock %}
