{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}

 {% extends 'includes/banners/base.html' %}

 {% block banner_id %}pocket-banner{% endblock %}

 {% if LANG.startswith('en') %}
  {% set pocket_campaign = 'best-of-us' %}
  {% set pocket_title = 'The top articles of the year are here' %}
  {% set pocket_button = 'Read Pocket\'s Best of 2021' %}
 {% elif LANG == 'de'%}
  {% set pocket_campaign = 'best-of-de' %}
  {% set pocket_title = 'Die meistgelesenen Artikel des Jahres warten auf dich' %}
  {% set pocket_button = 'Jetzt die Pocket Best of 2021 lesen' %}
 {% endif %}

 {% block banner_title %}{{ pocket_title }}{% endblock %}

 {% block banner_content %}
  <a
    href="https://getpocket.com/collections?utm_source=mozilla.org&utm_campaign={{ pocket_campaign }}"
    rel="external noopener"
    class="mzp-c-button mzp-t-md"
    data-cta-type="button"
    data-cta-text="Read Pocket's Best of 2021"
  >
    {{ pocket_button }}
  </a>
 {% endblock %}
