{% extends "base-resp.html" %}:

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Firefox Marketplace{% endblock %}
{% block body_id %}marketplace{% endblock %}
{% block body_class %}sand{% endblock %}

{% block extrahead %}
  {{ css('marketplace') }}
{% endblock %}

{% block content %}

<section id="main-feature">

<hgroup>
  <h1>Firefox Marketplace <span class="aurora">Aurora</span></h1>
  <h2>Discover the best of the Web</h2>
</hgroup>

<div id="marketplace-launcher">
  <a href="#" class="button" id="marketplace-button">Visit the Marketplace »</a>
  <div id="marketplace-panel">
    <div id="panel-download">
      <p>To test out the Firefox Marketplace Aurora release for your Android device, you first need to download Firefox Aurora for Android.</p>
      {{ mobile_download_button('primary-download-mobile', format = 'large_mobile', build = 'aurora') }}
    </div>
    <div id="panel-info">
      <p>Once you have downloaded and installed Firefox Aurora for Android, you can access the Firefox Marketplace from the “Apps” menu option within Firefox Aurora.</p>
    </div>
  </div>
</div>

<p>Mozilla is bringing its core values — openness, freedom, user choice — to the world of apps. We’re creating an open environment that benefits developers, content owners and consumers. And with HTML5-based apps that work virtually anywhere, we’re helping to close the gap between Web and native apps for the first time.</p>

<p>Visit the Firefox Marketplace and discover the best the Web has to offer. Download apps that you can use on your Android device using Firefox Aurora for mobile.</p>

<aside id="apps-bag">
  <div id="apps-bag-background"></div>
  <div id="apps-container">
    <div id="apps-physics">
      <div class="apps-icon" id="app-jauntly"></div>
      <div class="apps-icon" id="app-minimalist"></div>
      <div class="apps-icon" id="app-pomodoro"></div>
      <div class="apps-icon" id="app-solitaire"></div>
      <div class="apps-icon" id="app-soundcloud"></div>
      <div class="apps-icon" id="app-towerjelly"></div>
      <div class="apps-icon" id="app-twitter"></div>
      <div class="apps-icon" id="app-wired"></div>
      <div class="apps-icon" id="app-wordwars"></div>
    </div>
  </div>
  <div id="apps-bag-handle"></div>
  <div id="apps-bag-foreground"></div>
</aside>

</section>

<ul id="apps-list" class="container">
  <li id="list-discover"><span>Find &amp; discover amazing apps easily</span></li>
  <li id="list-feedback"><span>Give us your feedback</span></li>
  <li id="list-native"><span>Enjoy the same rich experience as native apps</span></li>
</ul>

<section id="open" class="container">
  <h3>Featured apps</h3>
  <p>Below are a few of our favorite apps to get you started, but there are many more to enjoy and explore. Use the categories to discover others and click on the images to bring up a QR code to download each app to your Android device. You can also search the complete Marketplace using Firefox Aurora for mobile.</p>
</section>

<div id="apps-preview" class="pager pager-with-tabs">

  <ul class="pager-tabs">
    <li><a href="#games">{{_('Games')}}</a></li>
    <li><a href="#media">{{_('News &amp; Media')}}</a></li>
    <li><a href="#productivity">{{_('Productivity')}}</a></li>
  </ul>

  <div class="billboard">
  <div class="pager-content">

    <div class="pager-page games-content default-page" id="games">
      <script>// <![CDATA[
      document.getElementById('games').id = 'page-games';
      // ]]></script>
      <section>
        <ul>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-solitaire.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-solitaire.png') }}" alt="qr code" class="qr-code" />
              <h4>Solitaire</h4>
          </li>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-blank.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-solitaire.png') }}" alt="qr code" class="qr-code" />
              <h4>Tower Jelly</h4>
          </li>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-wordwars.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-wordwars.png') }}" alt="qr code" class="qr-code" />
              <h4>Word Wars</h4>
          </li>
        </ul>
      </section>
    </div>

    <div class="pager-page news-content" id="news">
      <script>// <![CDATA[
      document.getElementById('news').id = 'page-news';
      // ]]></script>
      <section>
        <ul>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-soundcloud.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-soundcloud.png') }}" alt="qr code" class="qr-code" />
              <h4>SoundCloud</h4>
          </li>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-twitter.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-twitter.png') }}" alt="qr code" class="qr-code" />
              <h4>Twitter</h4>
          </li>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-blank.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-wired.png') }}" alt="qr code" class="qr-code" />
              <h4>Wired</h4>
          </li>
        </ul>
      </section>
    </div>

    <div class="pager-page productivity-content" id="productivity">
      <script>// <![CDATA[
      document.getElementById('productivity').id = 'page-productivity';
      // ]]></script>
      <section>
        <ul>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-jauntly.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-jauntly.png') }}" alt="qr code" class="qr-code" />
              <h4>Jauntly</h4>
          </li>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-minimalist.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-minimalist.png') }}" alt="qr code" class="qr-code" />
              <h4>Minimalist</h4>
          </li>
          <li tabindex="0">
              <img src="{{ media('/img/marketplace/app-thumb-pomodoro.png') }}" alt="App thumbnail" />
              <img src="{{ media('/img/marketplace/qr-pomodoro.png') }}" alt="qr code" class="qr-code" />
              <h4>Pomodoro</h4>
          </li>
        </ul>
      </section>
    </div>

  </div>
  </div>
</div>

<section id="build" class="container">
  <h3>Want to build an app?</h3>
  <p>Cras nec lacus nec turpis viverra vestibulum. Quisque a mi neque. Etiam accumsan nunc libero, vel pharetra dui. Praesent porttitor egestas lectus ac mollis:</p>
  <ul class="unstyled">
    <li><a href="">Partner with Mozilla »</a></li>
    <li><a href="">Develop HTML5 Web apps for an open marketplace »</a></li>
  </ul>
</section>


{% endblock %}

{% block email_form_title %}{{_('Sign up for more news about the Mozilla Marketplace.')}}{% endblock %}
{% block email_form_newsletter %}app-dev{% endblock %}

{% block js %}
  {{ js('marketplace') }}
{% endblock %}
