{% extends "sand.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Mozilla Marketplace Partners{% endblock %}
{% block body_id %}marketplace-partners{% endblock %}

{% block site_header_logo %}
  <h2><a href="{{ url('b2g') }}"><img src="/media/img/marketplace/title.png" height="70" width="256" alt="Mozilla Marketplace"></a></h2>
{% endblock %}

{% block site_header_nav %}
{% endblock %}

{% block extrahead %}
  {{ css('marketplace') }}
  {{ css('video') }}
{% endblock %}

{% block js %}
  {{ js('marketplace') }}
{% endblock %}

{% block content %}

<hgroup id="main-feature">
  <h1>Launch your app on the Web</h1>
  <h2>Mozilla is bringing its core values — openness, freedom, user choice — to the world of apps.</h2>
</hgroup>

<nav class="billboard menu-bar">
  <ul>
    <li><a href="#platform">The Mozilla apps platform</a></li>
    <li><a href="#marketplace">Mozilla Marketplace</a></li>
    <li><a href="http://marketplace.mozilla.org/" class="button-blue">Submit your app »<span class="icon"></span></a></li>
  </ul>
</nav>

<section id="platform" class="container divider">
<div class="row">

  <div class="span4">
    <h2>The Mozilla apps platform</h2>
    <p>Building apps for the Web provides developers with full control over content, functionality and how apps are distributed, including access to hundreds of millions of Firefox users through the Mozilla Marketplace.</p>
    <p>Using open Web standards and Mozilla-designed APIs, great app experiences can be delivered across multiple platforms, devices and operating systems — closing the gap between Web and native apps for the first time.</p>
    <p id="mdn-link"><a href="https://developer.mozilla.org/en-US/apps">Learn all about creating HTML5 apps at the Mozilla Developer Network »</a></p>
  </div>

  <div class="pager pager-with-tabs">

    <div class="pager-content">

      <div class="audiovroom-content default-page" id="audiovroom">

        <div id="intro-video" class="mozilla-video-control">
          <video
            width="640"
            height="360"
            poster="{{ media('/img/marketplace/poster-audiovroom.jpg') }}"
            controls="controls">
            <source src="//videos-cdn.mozilla.net/serv/drafts/Moz_Market_Audiovroom.webm" type="video/webm" />
            <source src="//videos-cdn.mozilla.net/serv/drafts/Moz_Market_Audiovroom.theora.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;" />
            <source src="//videos-cdn.mozilla.net/serv/drafts/Moz_Market_Audiovroom-360p-mp4.mp4" type="video/mp4" />
            <object type="application/x-shockwave-flash"
              style="width: 640px; height: 388px;"
              data="/media/flash/playerWithControls.swf?flv=serv/drafts/Moz_Market_Audiovroom-360p-mp4.mp4&amp;autoplay=false&amp;msg=Play%20Video">
              <param name="movie" value="/media/flash/playerWithControls.swf?flv=serv/drafts/Moz_Market_Audiovroom-360p-mp4.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
              <param name="wmode" value="transparent" />

              <div class="video-player-no-flash">
              This video requires a browser with support for open video
              or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.
              </div>
            </object>
          </video>
        </div>

      </div>
      <div class="mobbase-content default-page" id="mobbase">
      a
      </div>
      <div class="teambox-content default-page" id="teambox">
      b
      </div>
      <div class="kicksend-content default-page" id="kicksend">
      c
      </div>

    </div>

    <nav>
      <ul class="pager-tabs">
        <li>
          <a href="#audiovroom">
            <img src="{{ media('/img/marketplace/poster-audiovroom.jpg') }}" alt="Audiovroom" />
          </a>
        </li>
        <li>
          <a href="#mobbase">
            <img src="{{ media('/img/marketplace/poster-mobbase.jpg') }}" alt="MobBase" />
          </a>
        </li>
        <li>
          <a href="#teambox">
            <img src="{{ media('/img/marketplace/poster-teambox.jpg') }}" alt="Teambox" />
          </a>
        </li>
        <li>
          <a href="#kicksend">
            <img src="{{ media('/img/marketplace/poster-kicksend.jpg') }}" alt="Kicksend" />
          </a>
        </li>
      </ul>
    </nav>


  </div>
</section>

<section id="marketplace" class="container">
<div class="row">

  <img src="{{ media('/img/marketplace/opening-soon.png') }}" alt="Opening Soon" class="span4" />

  <div class="span6">

      <h2>Mozilla Marketplace — <em>Opening Soon</em></h2>
      <p>Before the public launch later this year, Mozilla will be opening the Marketplace for user testing. Take advantage of this by being one of the first app developers to build a user base. Submit your app to:</p>
      <ul>
        <li id="test">Test your app with a committed group of early adopters.</li>
        <li id="build">Build an early fan base and gain popularity.</li>
        <li id="target">Target tech savvy consumers with your app.</li>
      </ul>

  </div>

</div>
</section>



{% if not success %}
<form class="container" id="apps-email-form" action="#apps-email-form" method="post">
{{ csrf() }}

{% if form.errors %}
  {{ form.non_field_errors() }}

  {% for field in form %}
    {{ field.errors }}
  {% endfor %}
{% endif %}

  <h3>Email signup</h3>
  <div class="row">

  <p class="span3">Sign up for more news about the Mozilla Marketplace.</p>

  <div class="span5">
    <div class="{% if form.email.errors %}field-error{% endif %}">
      {{ field_with_attrs(form.email, placeholder='YOUR EMAIL HERE')|safe }}
    </div>

    <!-- <select name="interest" id="apps-interest"> -->
    <!--   <option disabled="disabled">AREA OF INTEREST</option> -->
    <!--   <option>developing apps</option> -->
    <!--   <option>hosting or selling apps</option> -->
    <!--   <option>discovering and buying apps</option> -->
    <!--   <option>partnership opportunities</option> -->
    <!-- </select> -->

    <div>
      {{ form.fmt|safe }}
    </div>

    <div class="{% if form.privacy.errors%}field-error{% endif %}">
      {{ form.privacy|safe }}
    </div>
  </div>


  <div class="span2">
    <input type="submit" value="Sign up »" class="button-blue">
  </div>

  </div>
</form>
{% else %}
<div class="container thank">
  <h3>Thank you for signing up!</h3>
</div>
{% endif %}

{% endblock %}
