// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '../../utils' as f3;
@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.c-passwords {
    background-color: f3.$orange-primary;

    .c-module-tag-title {
        background-color: f3.$orange-light;
    }

    .c-browser {
        @include f3.card-shadow(f3.$orange-dark);
        max-width: $screen-sm;
        text-align: center;

        &-bar {
            background-color: f3.$blue-primary;
        }

        &-content {
            @include text-body-md;
        }
    }

    .c-blurb {
        background-color: f3.$green-light;
    }
}

.c-passwords-example {
    @include f3.mono-font;

    .visually-hidden {
        @include visually-hidden;
    }

    .c-title-uppercase,
    .t-password {
        margin-bottom: $spacing-lg;
    }

    &-input {
        @include f3.border;
        margin-right: auto;
        margin-left: auto;
        overflow-wrap: break-word;
        padding: $spacing-sm;
        text-align: left;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            margin-right: $spacing-sm;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.t-username::before {
            background-image: url('/media/img/firefox/family/icon-person.svg');
        }

        &.t-password::before {
            background-image: url('/media/img/firefox/family/icon-lock.svg');
        }

        &[data-password-length='long'] {
            display: none;
        }
    }

    &-submit {
        text-transform: uppercase;
        cursor: not-allowed;
    }
}

// handle extra small screens
@media (max-width: #{$content-sm}) {
    .c-passwords {
        .c-subtitle {
            max-width: 9ch;
        }

        .c-browser {
            padding-right: $spacing-sm;
            padding-left: $spacing-sm;
        }

        &-example-input {
            &::before,
            &::after {
                width: 16px;
                height: 16px;
            }
        }
    }
}

@media #{$mq-md} {
    .c-passwords {
        .c-blurb {
            width: 50%;
            min-width: 40ch;
            margin-left: auto;
            margin-top: -#{$layout-sm};
        }

        .c-browser-content {
            padding-top: $layout-lg;
            padding-bottom: $layout-lg;
        }

        &-example-input {
            &[data-password-length='short'] {
                display: none;
            }

            &[data-password-length='long'] {
                display: block;
            }
        }
    }
}

@supports (display: grid) {
    @media #{$mq-lg} {
        .c-passwords {
            .c-blurb {
                max-width: 100%;
            }

            .l-grid {
                display: grid;
                grid-template-columns: [column-one] minmax(30ch, 45%) [column-two] 1fr [end];
                column-gap: $layout-lg;

                .c-content {
                    align-self: center;
                    grid-column-start: column-one;
                    grid-row: 1 / span 2;
                }

                .c-browser,
                .c-blurb {
                    grid-column-start: column-two;
                }
            }
        }
    }
}
