{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<footer class="mzp-c-footer" id="colophon">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-primary">
      <div class="mzp-c-foot-sections">
        <div class="mzp-c-footer-section mzp-c-footer-primary-logo">
          <a href="{{ url('mozorg.home') }}">Mozilla</a>
        </div>
        <div class="mzp-c-footer-section">
          <a target="_blank" href='https://www.glassdoor.com/Overview/Working-at-Mozilla-EI_IE19129.11,18.htm'>
            <img class="glassdoor-logo" src='/media/img/careers/glassdoor_250x90.png' alt="Glassdoor logo">
          </a>
        </div>
      </div>
      <div class="mzp-c-footer-sections">
        <section class="mzp-c-footer-section">
          <h5 class="mzp-c-footer-heading">
            Company
          </h5>
          <ul class="mzp-c-footer-list">
            <li><a href="{{ url('mozorg.about.index') }}">About</a></li>
            <li><a href="https://blog.mozilla.org/press/">Press Center</a>
          </ul>
        </section>
        <section class="mzp-c-footer-section">
          <h5 class="mzp-c-footer-heading">
            Resources
          </h5>
          <ul class="mzp-c-footer-list">
            <li><a href="{{ url('privacy') }}">Privacy</a></li>
            <li><a href="{{ url('mozorg.contact.contact-landing') }}">Contact</a></li>
          </ul>
        </section>
      </div>
    </nav>
    <nav class="mzp-c-footer-secondary">
      <ul class="mzp-c-footer-links-social">
        <li><a class="twitter" href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
        <li><a class="instagram" href="https://www.instagram.com/mozilla/">Instagram<span> (@mozilla)</span></a></li>
      </ul>
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
            Visit Mozilla Corporation’s not-for-profit parent, the <a href="https://foundation.mozilla.org">Mozilla Foundation</a>.
            Portions of this content are ©1998–{{ thisyear() }} by individual mozilla.org
            contributors. Content available under a <a rel="license" href="{{ url('foundation.licensing.website-content') }}">Creative Commons license</a>.
        </p>
      </div>
    </nav>
  </div>
</footer>
