{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}
{% block careers_bottom %}
<aside class="c-careers-bottom">
  {% call split(
    block_class='mzp-l-split-center-on-sm-md mzp-l-split-reversed mzp-t-split-nospace',
    media_class='mzp-l-split-h-center mzp-l-split-media-overflow',
    media_include='careers/includes/big-picture-video.html',
    image=resp_img(
      url='img/careers/footer-remote-cropped.svg',
      optional_attributes={
        'class': 'mzp-c-split-media-asset',
        'width': '540',
        'height': '414'
      }
    ),
    media_after=True
  ) %}
    <h2>Feel good about your work again</h2>
    <p>We’re hiring curious and kind people across the organization. Come help write Mozilla’s next chapter.</p>
    <a href="{{ url('careers.listings') }}" class="mzp-c-button">Find your next role at Mozilla</a>

    <ul class="c-careers-socials">
      <li>
        <a href="https://www.instagram.com/mozilla/" class="c-careers-instagram" data-link-text="Instagram">
          <span class="visually-hidden">Instagram</span>
        </a>
        </li>
      <li>
        <a href="https://bsky.app/profile/mozilla.org" class="c-careers-bluesky" data-link-text="Bluesky">
          <span class="visually-hidden">Bluesky</span>
        </a>
        </li>
      <li>
        <a href="https://www.glassdoor.com/Overview/Working-at-Mozilla-EI_IE19129.11,18.htm" class="c-careers-glassdoor" data-link-text="Glassdoor">
          <span class="visually-hidden">Glassdoor</span>
        </a>
        </li>
    </ul>
  {% endcall %}
</aside>
{% endblock %}
