{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/moss/base.html" %}

{% block page_title %}{{ _('Secure Open Source') }} — {{ super() }}{% endblock %}

{% block body_id %}moss-secure-open-source{% endblock %}

{% block page_heading %}
  {{ _('Secure Open Source') }}
{% endblock %}

{% block page_content %}
<section class="moss-section">
  <h2 class="moss-section-heading">{{ _('About') }}</h2>

  <p class="moss-copy">
  {% trans %}
    The Secure Open Source ("SOS") track of MOSS supports security audits for
    open source software projects, and remedial work to rectify the problems
    found.
  {% endtrans %}

  {% trans url1='https://wiki.mozilla.org/MOSS/Secure_Open_Source/Completed' %}
    You can read about the
    <a href="{{ url1 }}">audits we’ve completed so far</a>.
  {% endtrans %}
  </p>

  <div class="moss-ctas">
    <p class="moss-copy">{{ _('Ready to suggest a recipient?') }}</p>

    <a href="https://docs.google.com/forms/d/1f0xSg9XM8v7YGdZ_FzeE67ggckbAsg6sH1mpQ4buTQE/viewform" class="button" rel="external">{{ _('Nominate Now') }}</a>
  </div>
</section>

<section class="moss-section">
  <h2 class="moss-section-heading">
    {{ _('What your project should include') }}
  </h2>

  <p class="moss-copy">
    {{ _('The SOS Fund has a very limited set of solid rules:') }}
  </p>

  <ul class="moss-bullet-list">
    <li class="moss-copy">
    {% trans %}
      The software must be open source/free software, with a license that is
      OSI-certified and/or FSF-approved
    {% endtrans %}
    </li>
    <li class="moss-copy">
      {{ _('The software must be actively maintained') }}
    </li>
  </ul>
</section>

<section class="moss-section">
  <h2 class="moss-section-heading">{{ _('How we’ll make our decision') }}</h2>

  <p class="moss-copy">
  {% trans %}
    We have a series of factors we consider when evaluating an application.
  {% endtrans %}

  {% trans %}
    For example:
  {% endtrans %}
  </p>

  <ul class="moss-bullet-list">
    <li class="moss-copy">
      {{ _('How commonly used is the software?') }}
    </li>
    <li class="moss-copy">
    {% trans %}
      Is the software network-facing or does it regularly process untrusted
      data?
    {% endtrans %}
    </li>
    <li class="moss-copy">
    {% trans %}
      How vital is the software to the continued functioning of the Internet
      or the Web?
    {% endtrans %}
    </li>
    <li class="moss-copy">
    {% trans %}
      Is the project known for something besides the code we are relying on?
    {% endtrans %}
    </li>
    <li class="moss-copy">
    {% trans %}
      Does the software depend on closed-source code, e.g. in a web service?
    {% endtrans %}
    </li>
    <li class="moss-copy">
    {% trans %}
      Are the software’s maintainers aware of and supportive of the
      application for support from the SOS fund?
    {% endtrans %}
    </li>
    <li class="moss-copy">
      {{ _('Has the software been audited before?') }}

      {{ _('If so, when and how extensively?') }}

      {{ _('Was the audit made public?') }}

      {{ _('If so, where?') }}
    </li>
    <li class="moss-copy">
    {% trans %}
      Does the software have existing corporate backing or involvement?
    {% endtrans %}
    </li>
  </ul>

  <p class="moss-copy">
  {% trans %}
    The answers to such questions are often not “yes” or “no”, but matters of
    degree, and so Mozilla will take the entire picture into account when
    assessing projects.
  {% endtrans %}
  </p>
</section>

<section class="moss-section">
  <h2 class="moss-section-heading">{{ _('How to apply') }}</h2>

  <p class="moss-copy">
  {% trans %}
    At this time, candidates for an award are chosen by Mozilla.
  {% endtrans %}

  {% trans %}
    If you have a suggestion for a project which you think meets the criteria
    above, and where an audit might particularly benefit the project and the
    Internet community, please fill out the form through the link below.
  {% endtrans %}
  </p>

  <div class="moss-ctas">
    <p class="moss-copy">
      {{ _('Suggest a recipient.') }}
    </p>

    <a href="https://docs.google.com/forms/d/1f0xSg9XM8v7YGdZ_FzeE67ggckbAsg6sH1mpQ4buTQE/viewform" rel="external" class="button">{{ _('Nominate Now') }}</a>
  </div>
</section>

<section class="moss-section">
  <h2 class="moss-section-heading">{{ _('FAQ') }}</h2>

  <dl class="moss-dl">
    <dt class="moss-copy">
    {% trans %}
      We’ve been asked how this project compares to the Core Infrastructure
      Initiative of the Linux Foundation.
    {% endtrans %}

    {% trans %}
      Here’s a short answer:
    {% endtrans %}
    </dt>

    <dd class="moss-copy">
    {% trans %}
      We believe our model of support is different from and complementary to
      CII’s.
    {% endtrans %}

    {% trans %}
      We view CII as focused on necessary, deeper-dive investments into the core
      OS security infrastructure, like in OpenSSL.
    {% endtrans %}

    {% trans %}
      This is important work.
    {% endtrans %}

    {% trans %}
      Focusing on more point-in-time solutions, the SOS Fund’s audit and
      remediation methodology targets a different class of OSS projects with
      lower-hanging fruit security needs, using an open public-facing
      application form.
    {% endtrans %}

    {% trans %}
      To have substantial and lasting benefit in tackling such a significant
      issue as open source security, we need a broad range of solutions,
      including investment, audits, education, best practices, and a host of
      others.
    {% endtrans %}

    {% trans %}
      We believe the SOS Fund, alongside CII and other efforts, can help
      catalyze industry momentum to strengthen open source security.
    {% endtrans %}
    </dd>
  </dl>

  <p class="moss-copy">
  {% trans %}
    If you have further questions, please feel free to contact us at
    <a href="mailto:sosfund@mozilla.com">sosfund@mozilla.com</a>.
  {% endtrans %}
  </p>
</section>

{% include('mozorg/moss/_alittlebitmore.html') %}

{% endblock %}
